/* CSS Document */
/*---header---*/
.lheader_certwrap{width:100%;min-width:1000px;height:70px;background:#fff;}
.lh_certificate{width:1000px;height:70px;background:#fff;margin:0 auto;overflow:hidden;}
.lh_clinks{width:500px;height:70px;float:left;display:block;}
.lh_clogo{width:164px;height:70px;float:left;overflow:hidden;background:#fff url(../../image/loan/uptype.png) no-repeat 0 0;}
.lh_ctitle{width:300px;height:70px;float:left;line-height:66px;font-size:18px;font-family:"微软雅黑";color:#3e3939;text-align:left;}
/*container*/
.container{width:1000px;height:auto;margin:60px auto 0 auto;padding-bottom:50px;}
/*-----detail-----*/
.lh_mainbox{width:1000px;height:auto;border:0 none;table-layout:fixed;border-collapse:collapse;margin:0 auto;empty-cells:show;position:relative;left:0;top:0;vertical-align:middle;}
.lh_ccg1,.lh_ccg3{width:80px !important;}
.lh_ccg2{width:840px !important;}
.lh_ctheme{width:1000px;height:30px;line-height:30px;text-align:center;font-size:14px;color:#666;font-family:"宋体";}
.lh_cnumber{width:1000px;height:20px;line-height:20px;text-align:center;font-family:"Arial";font-size:12px;color:#999;}
.lh_leftbtn,.lh_rightbtn{width:50px;height:144px;overflow:hidden;margin:0 auto;display:block;cursor:pointer;}
.lh_leftbtn{background:#fff url(../../image/loan/upbtn.png) no-repeat 0 0;}
.lh_rightbtn{background:#fff url(../../image/loan/upbtn.png) no-repeat -50px 0;}
.lh_leftbtn:hover{background:#fff url(../../image/loan/upbtn.png) no-repeat 0 -144px;}
.lh_rightbtn:hover{background:#fff url(../../image/loan/upbtn.png) no-repeat -50px -144px;}

.lh_slidewrap{width:640px;height:0;margin:0 auto;border:1px solid #000;}
.lh_slidebox{width:640px;height:auto;overflow:hidden;margin:0 auto;position:relative;left:0;top:0;}
.lh_slideshow{width:7680px;height:100%;position:absolute;left:0;top:0;}
.lh_slideshow li{width:640px;height:auto;float:left;}
.lh_slideshow img{width:640px;height:auto;overflow:hidden;display:block;}





