/* CSS Document */
/*container*/
.container{width:1000px;height:auto;margin:10px auto 80px auto;}
/*-----detail-----*/
/*table*/
.loan_infocontent{width:1000px;margin:0 auto;table-layout:fixed;border-collapse:collapse;empty-cells:show;border:0 none;background:#fff url(../../image/loan/loan_contentbg.png) repeat-y 0 0;}
.loan_infocontent td{font-size:12px;word-break:break-all;word-wrap:break-word;}
.loan_infocg1{width:20% !important;}
.loan_infocg2{width:80% !important;}
/*label*/
.loan_disabled label,.loan_text label,.loan_default label,.loan_hidden label,.loan_select label,.loan_address label,.loan_phone label,.loan_family label{font-size:12px;cursor:pointer;float:right;width:100px;height:36px;display:block;line-height:36px;text-align:right;margin-right:6px;color:#666;}
/*input=text,textarea,select*/
.loan_disabled input{float:left;height:20px;line-height:20px;font-size:12px;color:#666;width:120px;background:none;}
.loan_text input,.loan_default input,.loan_select select,.loan_address input,.loan_phone input,.loan_family input,.loan_address select{border:1px solid #ccc;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:12px;color:#333;-moz-box-shadow:1px 1px 3px #ddd,1px 1px 3px #ddd inset;-ms-box-shadow:1px 1px 3px #ddd,1px 1px 3px #ddd inset;-o-box-shadow:1px 1px 3px #ddd,1px 1px 3px #ddd inset;-webkit-box-shadow:1px 1px 3px #ddd,1px 1px 3px #ddd inset;box-shadow:1px 1px 3px #ddd,1px 1px 3px #ddd inset;background:#fff;float:left;line-height:20px;}
.loan_text input{width:120px;height:20px;}
#place_pro{width:120px;height:20px;}
#place_city{width:160px;margin-left:5px;height:20px;}
.loan_address input{width:200px;height:20px;}
.loan_select select{width:100px;height:22px;}
.phonearea{width:40px;height:20px;}
.phone{width:80px;height:20px;}
.familylong{width:120px;height:20px;}
.familyshort{width:60px;height:20px;}
.loan_phone span{float:left;line-height:20px;height:20px;color:#666;width:20px;text-align:center;display:block;overflow:hidden;}
.loan_family span{float:left;line-height:20px;height:20px;color:#666;width:30px;text-align:center;display:block;overflow:hidden;margin:0 3px;}
.loan_text input:focus,.loan_default input:focus,.loan_select select:focus,.loan_address input:focus,.loan_phone input:focus,.loan_family input:focus{border:1px solid #00a0e9;-moz-box-shadow:1px 1px 3px #a2d2e8,1px 1px 3px #fff inset;-ms-box-shadow:1px 1px 3px #a2d2e8,1px 1px 3px #fff inset;-o-box-shadow:1px 1px 3px #a2d2e8,1px 1px 3px #fff inset;-webkit-box-shadow:1px 1px 3px #a2d2e8,1px 1px 3px #fff inset;box-shadow:1px 1px 3px #a2d2e8,1px 1px 3px #fff inset;-moz-transition:all 0.4s ease 0.08s;-ms-transition:all 0.4s ease 0.08s;-o-transition:all 0.4s ease 0.08s;-webkit-transition:all 0.4s ease 0.08s;transition:all 0.4s ease 0.08s;}
/*select*/
.loan_select option{color:#333;}
/*-----city select panel-----*/
.cityshow{width:500px;height:26px;position:relative;left:0;top:0;background:none;z-index:200;}
.cityselect_wrap{width:500px;height:auto;position:relative;left:0;top:0;z-index:200;}
.citymenu{width:500px;height:auto;position:absolute;left:0;top:0;background:#fff;z-index:500;display:none;}
.citymenu p{width:100%;height:24px;line-height:24px;text-align:left;text-indent:20px;float:left;font-size:14px;border-left:1px solid #ccc;border-right:1px solid #ccc;background:#f6f6f6;color:#666;}
.protheme{border-top:1px solid #ccc;}
.cityprovince,.citycity{width:100%;height:auto;float:left;border-left:1px solid #ccc;border-right:1px solid #ccc;background:#fff;}
.citycity{border-bottom:1px solid #ccc;}
.cityprovince li,.citycity li{height:18px;line-height:18px;float:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;text-align:center;font-size:12px;padding:0 8px;}
.cityprovince li{width:40px;margin:2px 5px;*+margin:2px 3px;color:#000;}
.citycity li{width:auto;font-family:"宋体";margin:3px 6px;*+margin:3px;color:#333;}
.cityprovince li:hover,.citycity li:hover{color:#f90;text-decoration:underline;}
.cityprovince li.citysel,.citycity li.citysel{background:#f90;color:#fff;text-decoration:underline;}
/*-----address mode------*/
.addresswrap{width:220px;float:left;height:20px;margin-right:5px;}
.addresswrap div{width:0;height:0;line-height:none;position:relative;left:0;top:0;}
.addresswrap div.address1{*+z-index:2;}
.addresswrap div.address2{*+z-index:1;}
.addresswrap input.homepro,.addresswrap input.livepro{float:none;width:80px;height:20px;position:absolute;left:0;top:0;line-height:20px;z-index:2;}
.addresswrap input.homecity,.addresswrap input.livecity{float:none;width:120px;height:20px;position:absolute;left:90px;top:0;line-height:20px;z-index:2;}
.homepro_wrap,.homecity_wrap,.livepro_wrap,.livecity_wrap{height:160px;position:absolute;top:22px;background:#fff;overflow-y:scroll;overflow-x:hidden;display:none;z-index:80;border:1px solid #ccc;}
.homepro_wrap,.livepro_wrap{width:80px;left:0;}
.homecity_wrap,.livecity_wrap{width:120px;left:90px;}
.homepro_wrap li,.homecity_wrap li,.livepro_wrap li,.livecity_wrap li{float:left;height:20px;line-height:20px;text-align:left;font-size:12px;cursor:pointer;color:#333;text-indent:5px;}
.homepro_wrap li,.livepro_wrap li{width:80px;}
.homecity_wrap li,.livecity_wrap li{width:120px;}
.homepro_wrap li:hover,.homecity_wrap li:hover,.livepro_wrap li:hover,.livecity_wrap li:hover{background:#ccc;color:#fff;}
.homepro_wrap li.addresssel,.homecity_wrap li.addresssel,.livepro_wrap li.addresssel,.livecity_wrap li.addresssel{background:#f90;color:#fff;}
/*-----radio mode-----*/
.m_radiowrap,.c_radiowrap{width:100%;height:19px;float:left;}
.m_radiowrap li,.c_radiowrap li{height:19px;float:left;overflow:hidden;line-height:19px;font-size:12px;text-align:right;margin-left:8px;background:transparent url(../../image/loan/loan_radio.png) no-repeat 0 0;cursor:pointer;_margin-left:4px;}
.m_radiowrap li{width:42px;*+width:48px;}
.c_radiowrap li{width:32px;*+width:36px;}
.m_radiowrap li.radiosel,.c_radiowrap li.radiosel{background:transparent url(../../image/loan/loan_radio.png) no-repeat 0 -19px;}
/*error infos*/
p.tipserror{width:auto;height:14px;display:block;overflow:hidden;float:left;margin:3px 0 0 3px;background:#fff;font-size:12px;text-align:left;line-height:14px;color:#f00;}
p.tipssucc{width:14px;height:14px;overflow:hidden;float:left;margin:3px 0 0 3px;background:#fff url(../../image/register/register_tips.png) no-repeat 0 0;font-size:12px;text-align:center;line-height:14px;color:#999;text-indent:-9999px;color:#f00;}
/*checkbox,bottom*/
.pre_submit,.next_submit{-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-family:"微软雅黑","Microsoft Yahei";float:left;width:116px;height:36px;margin:20px 0;font-size:14px;color:#fff;background:#fff url(../../image/common/register_submit.png) no-repeat 0 0;text-shadow:0 0 3px #fff;font-weight:bold;cursor:pointer;margin-left:20px;}
.pre_submit:hover,.next_submit:hover{background:#fff url(../../image/common/register_submit.png) no-repeat 0 -36px;}