@font-face{
	font-family:"test_ux";
	src:url(../font/test2/fonts/uxiconfont.eot);
	src:url(../font/test2/fonts/uxiconfont.eot?#iefix) format('embedded-opentype'),
	url(../font/test2/fonts/uxiconfont.woff) format('woff'),
	url(../font/test2/fonts/uxiconfont.ttf) format('truetype'),
	url(../font/test2/fonts/uxiconfont.svg#svgFontName) format('svg');
}
/*--重置样式--*/
html{font-family:'微软雅黑','雅黑','Microsoft YaHei','YaHei','\5FAE\8F6F\96C5\9ED1','宋体','\5B8B\4F53',sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,audio,canvas,progress,video{margin:0;padding:0;border:0;vertical-align:baseline;font-size:100%/1.6;*+border:0 none;}
ul,ol{list-style:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
svg:not(:root){overflow:hidden;}
[hidden],template{display:none;}
a{background:transparent;text-decoration:none;}
a:active,a:hover{outline:0;}
:focus{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
h1{margin:.67em 0;font-size:2em;}
mark{background:#ff0;color:#000;}
small{font-size:80%;}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{overflow:auto;}
code,kbd,pre,samp{font-size:1em;font-family:monospace;}
button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit;}
button{overflow:visible;border:none;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input,textarea{outline:0;border:none;}
input:invalid,textarea:invalid{outline:0;}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid #c0c0c0;}
textarea{overflow:auto;resize:none;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{clear:both;visibility:hidden;width:0;height:0;line-height:none;zoom:1;}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:"";}
.clearfix::after{content:"";}