/*--适配不同分辨率--*/
@media screen{
    min-width:1003px;
}
@media screen and (min-width:641px){
    /*我的荣格*/
    .rg-b-menuwrap ul{width:70%;}
}
@media screen and (min-width:481px) and (max-width:640px){
    /*主导航菜单*/
		.rg-menuwrap a div{background-size:78px 78px;height:80px;}
    /*首页*/
    .rg-imgwrap1{height:15em;}
		/*新首页*/
		.gk-icon img{width:70px;height:70px;overflow:hidden;}
		.gk-theme{font-size:16px;}
		.gk-footer{padding: 1px 12px 0 12px;}
    /*产品排序*/
    .rg-load-more,.rg-load-top{width:14em;}
    /*产品评论*/
    .rg-pc-pie div{float:none;margin:0 auto;}
    /*注册*/
    .rg-reg-vctxt{width:60%;}
    /*我的荣格*/
		.rg-b-menuwrap ul{width:80%;}
		.rg-b-menuwrap li{height:90px;}
		.rg-b-menu{width:60px;height:60px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
		/*股份明细*/
		.shd-sdtxt,.shd-edtxt{width:150px;}
		.shd-sbtn{width:80px;}
		/*申请开店*/
		.as-e-circle{width:200px;height:200px;-moz-border-radius:100px;-ms-border-radius:100px;-o-border-radius:100px;-webkit-border-radius:100px;border-radius:100px;}
		.as-e-circle div{top:30px;}
		.as-e-circle h2{font-size:28px;}
		.as-e-circle p{bottom:15px;}
}
@media screen and (min-width:321px) and (max-width:480px){
    /*搜索*/
    .rg-searchtxt{height:34px;-moz-border-radius:17px;-ms-border-radius:17px;-o-border-radius:17px;-webkit-border-radius:17px;border-radius:17px;padding:7px 38px 7px 17px;}
		.rg-searchbtn{height:32px;width:38px;background-position:right 12px center;}
    /*主导航菜单*/
		.rg-menuwrap a div{background-size:60px 60px;height:62px;}
		.rg-menuwrap a span{font-size:14px;}
    /*首页*/
    .rg-imgwrap1{height:12em;}
		/*新首页*/
		.gk-logo{padding:0 9px 0 9px;}
		.gk-logo div{padding:17px 0 7px 0;}
		.gk-wrap{padding:3px 6px;}
		.gk-item{border:3px solid rgba(255,255,255,1.00);}
		.gk-icon img{width:50px;height:50px;overflow:hidden;}
		.gk-theme{font-size:14px;}
		.gk-footer{padding: 2px 8px 0 8px;}
    /*产品排序*/
    .rg-load-more,.rg-load-top{width:12em;}
    /*评论*/
    .rg-pc-pie div{float:none;margin:0 auto;}
    /*注册*/
    .rg-reg-vctxt{width:50%;}
    /*我的荣格*/
		.rg-b-menuwrap ul{width:90%;}
		.rg-b-menuwrap li{height:80px;margin:5px 0 0 0;}
		.rg-b-menu{width:45px;height:45px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-size:70%;}
		.b-mlinks{font-size:14px;line-height:20px;}
		/*购买数量*/
		.rg-cart-gnchange{width:25px;}
		.rg-cart-gntxt{width:30px;}
		.rg-cart-gntips div{left:5px;}
		/*我的股份*/
		.sh-msh-shicon{font-size:16px;margin:30px 0 0 0;line-height:22px;}
		.sh-msh-shicon span{font-size:22px;}
		.sh-msh-incomeicon{font-size:50px;margin:10px 0 0 0;}
		.sh-msh-shareholder{margin:10px 0 0 0;font-size:42px;}
		.sh-msh-income{font-size:40px;}
		.sh-msh-links a{padding:5px 0;}
		.sh-msh-theme{margin:10px 0 0 0;font-size:16px;}
		/*股份明细*/
		.shd-datetab li{padding:8px 15px;}
		.shd-sdtxt,.shd-edtxt{width:90px;}
		.shd-sbtn{width:50px;}
		/*申请开店*/
		.as-e-circle{width:160px;height:160px;-moz-border-radius:80px;-ms-border-radius:80px;-o-border-radius:80px;-webkit-border-radius:80px;border-radius:80px;}
		.as-e-circle div{top:20px;}
		.as-e-circle h2{font-size:24px;}
		.as-e-circle p{bottom:15px;}
}
@media screen and (max-width:320px){
    /*搜索*/
		.rg-searchtxt{height:30px;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;padding:5px 32px 5px 15px;}
		.rg-searchbtn{height:28px;width:32px;background-position:right 8px center;}
    /*菜单*/
		.rg-menuwrap a div{background-size:44px 44px;height:46px;}
		.rg-menuwrap a span{font-size:12px;}
    /*首页*/
    .rg-imgwrap1{height:10em;}
		/*新首页*/
		.gk-logo{padding:0 6px 0 6px;}
		.gk-logo div{padding:10px 0 5px 0;}
		.gk-wrap{padding:2px 4px;}
		.gk-item{border:2px solid rgba(255,255,255,1.00);}
		.gk-icon img{width:40px;height:40px;overflow:hidden;}
		.gk-theme{font-size:12px;}
		.gk-footer{padding: 1px 6px 0 6px;}
    /*产品选项卡*/
    .rg-load-more,.rg-load-top{width:10em;}
    /*产品评价*/
    .rg-pc-pie div{float:left;}
    /*注册*/
    .rg-reg-vctxt{width:40%;}
    /*我的荣格*/
		.rg-b-menuwrap ul{width:100%;}
		.rg-b-menuwrap li{height:70px;margin:5px 0 0 0;}
		.rg-b-menu{width:36px;height:36px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-size:80%;}
		.b-mlinks{font-size:12px;line-height:20px;}
		/*购买数量*/
		.rg-cart-gnlabel{width:26px;text-indent:-24px;}
		.rg-cart-gnchange{width:25px;}
		.rg-cart-gntxt{width:30px;}
		.rg-cart-gntips div{left:5px;}
		/*我的股份*/
		.sh-msh-shicon{font-size:14px;margin:20px 0 0 0;line-height:20px;}
		.sh-msh-shicon span{font-size:20px;}
		.sh-msh-incomeicon{font-size:40px;margin:10px 0 0 0;}
		.sh-msh-shareholder{margin:10px 0 0 0;font-size:32px;}
		.sh-msh-income{font-size:30px;letter-spacing:3px;}
		.sh-msh-links a{padding:3px 0;}
		.sh-msh-theme{margin:5px 0 0 0;font-size:14px;}
		/*股份明细*/
		.shd-datetab li{padding:5px 5px;}
		.shd-sdtxt,.shd-edtxt{width:75px;}
		.shd-sbtn{width:40px;}
		.shd-txticon span{width:0;}
		/*申请开店*/
		.as-e-circle{width:120px;height:120px;-moz-border-radius:60px;-ms-border-radius:60px;-o-border-radius:60px;-webkit-border-radius:60px;border-radius:60px;}
		.as-e-circle div{top:10px;}
		.as-e-circle h2{font-size:20px;}
		.as-e-circle p{bottom:10px;}
		
		
		
		
		
}