/*--友情链接--*/
.rg-link-flwrap{float:left;width:100%;height:auto;box-sizing:border-box;padding:0 10px;margin:10px 0;}
.rg-link-flwrap li{float:left;margin:2px 0 0 0;width:100%;height:auto;}
.rg-link-flwrap a{display:block;width:250px;height:auto;margin:0 auto;}
.rg-link-flwrap a img{width:250px;height:60px;overflow:hidden;display:block;margin:0 auto;box-sizing:border-box;border:1px solid #ccc;}
.rg-link-flwrap a span{width:100%;padding:5px 20px 0 20px;box-sizing:border-box;height:40px;display:inline-block;font-size:14px;line-height:18px;text-align:center;overflow:hidden;margin:0 auto;word-break:break-all;word-wrap:break-word;}