///组件-装修工地评论组件（备份）


//html
/*<div class="site-box">
	<div class="site-icon">
		<i><img src="../../../images/zfx.png" width="63" height="63" alt=""/></i><br>
		<span>包子_9977</span>
	</div>
	<div class="site-comment">
		<div class="comment-title">
			<p class="info-p1">
					小白装修点点滴滴<b>[31篇]</b><i>人气</i>
				<span>
					<b><i class="p1-a"></i>10560</b>
					<b><i class="p1-b"></i>10</b>
					<b><i class="p1-c"></i>120</b>
				</span>
			</p>  
			
			 <p class="info-p2">
				<b>132m<sup>2</sup></b>
				<b>简约</b>
				<b>准备装修</b>
			 </p>
		</div>

		<p class="comment-content">
			昨天木工把门套基础，电视背景墙基础都做的差不多了，虽然进度有点慢，但慢工出细活哦！师傅说今天再有一天就好了，装修公司用的板材质量非常不错，我还特地凑近问问有没有味道，闻了半天.....
		</p>
		<ul class="comment-img">
			<li><img src="../../../images/company2.jpg" width="136" height="136" alt=""/></li>
			<li><img src="../../../images/company2.jpg" width="136" height="136" alt=""/></li>
			<li><img src="../../../images/company2.jpg" width="136" height="136" alt=""/></li>
		</ul>
		<span>15分钟前被回复</span>
	</div>
</div>
*/

//css
.site-box{
				width:840px;
				overflow:hidden;
				border-bottom:1px solid @color-gray5;
				padding:10px 100px 30px 0;
				.site-icon{
					width:100px;
					heihgt:100px;
					float:left;
					text-align:center;
					i{
						width:63px;
						height:63px;
						display:inline-block;		
						overflow:hidden;
						.border-radius-base(50%);
						img{
							width:100%;
							height:100%;
							display:block;
						}
					}
					span{
						font-size:12px;
						font-family: "Microsoft Yahei";
						color:@color-gray3;
						height:26px;
						line-height:26px;		
					}
				}
				.site-comment{
					width:670px;
					padding:0 0 0 50px;
					float:left;
					.comment-title{
						>.info-p1{
							width:100%;
							heihgt:20px;
							padding:5px 0;
							font-size:20px;
							font-family: "Microsoft Yahei";
							color:@color-gray1;	
							>i{
								width:32px;
								height:14px;
								padding:4px 0 4px 10px;
								text-align:center;
								font-size:12px;
								font-family: "Microsoft Yahei";
								color:#fff;
								vertical-align:middle;
								display:inline-block;
								background:url(./../images/icons.png)	-231px -39px;
							}
							b{
							height:20px;
							line-height:20px;
							font-size:12px;
							font-family: "Microsoft Yahei";
							color:@color-gray3;
							font-weight:normal;
							padding:0 10px;		
						}
							span{
								float:right;
								b{
									padding:0 14px;
									font-size:12px;
									font-family: "Microsoft Yahei";
									color:@color-gray3;
									display:inline-block;
									border:1px solid @color-gray6;	
								}
								.p1-a{
									width:18px;
									height:19px;
									margin:0 5px 0 0;
									vertical-align:middle;
									display:inline-block;
									background:url(./../images/icons.png) -273px -42px;	
								}
								.p1-b{
									width:17px;
									height:19px;
									margin:0 5px 0 0;
									vertical-align:middle;
									display:inline-block;
									background:url(./../images/icons.png)	-291px -43px;	
								}
								.p1-c{
									width:18px;
									height:19px;
									margin:0 5px 0 0;
									vertical-align:middle;
									display:inline-block;
									background:url(./../images/icons.png)	-308px -43px;	
								}
							}
						}		
						>.info-p2{
							width:100%;
							height:38px;
							font-size:12px;
							font-family: "Microsoft Yahei";
							color:@color-gray3;	
							>b{
								height:34px;
								padding:0 20px 0 0;
								line-height:38px;
								font-weight:normal;		
							}
						}	
					}
					>.comment-content{
						width:100%;
						line-height:24px;
						font-size:14px;
						font-family: "Microsoft Yahei";
						color:@color-gray1;
					}
					>.comment-img{
						width:100%;
						padding:30px 0 0 0;
						overflow:hidden;
						>li{
							float:left;
							margin:0 10px 0 0;		
						}		
					}
					>span{
						width:100%;
						height:24px;
						line-height:24px;
						font-size:12px;
						font-family: "Microsoft Yahei";
						color:@color-gray3;			
					}
				}
			}