body{ padding:0;margin:0;font:normal 12px/180% "宋体"; color:#000; background: #fff url(images/bg.jpg) repeat-x;}
h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
div{ margin:0 auto; text-align:left;}
form{ margin:0; padding:0;}
ol,ul,li{ list-style:none;}
a, a:link{ text-decoration:none;}
a:hover{ text-decoration:underline;}


.login{ width:1000px; height:30px; line-height:30px; margin-top:1px;}
.form_box{ float:left; _padding-top:5px;}
.box_right{ float:right; padding-right:20px; color:#333333;}
.box_right a, .box_right:visited{ color:#333; text-decoration:none;}
.box_right a:hover{ color:#1566ab;}
.c1{ border:#ccc 1px solid; width:105px; height:14px;}
.bm1{ width:73px; height:19px; background: url(images/h_03.png) no-repeat; border:0;}
.bm2{ width:41px; height:19px; background:url(images/h_06.png) no-repeat; border:0;}
.ba{ width:1000px; height:247px;}

.menu{ width:1000px; height:75px; margin-top:2px;}
.menu1{ width:7px; height:75px; float:left; background:url(images/menu.jpg) no-repeat left top;}
.menu2{ width:986px; height:75px; float:left; background:url(images/menu.jpg) repeat-x left -75px;}
.menu2_1{ width:645px; float:left; border:#FF0000 0px solid;}


.menu2_2{ width:330px; float:left; border:#000000 0px solid; line-height:40px; _padding-top:6px;}
.eg{ width:67px; height:23px; background:url(images/ok_03.png) no-repeat; border:0;}
.menu3{ width:7px; height:75px; float:right; background:url(images/menu.jpg) no-repeat left -150px;}


.contant{ width:1000px; background-color:#FFFFFF; height:838px!important;}
.left{ width:763px; float:left; margin-top:7px;}
.pian{ width:350px; height:244px; float:left;}
.news{ width:405px; float:right;}
h3{ font-size:18px; font-family:"黑体"; font-weight:bold; text-align:center; color:#ec5e00; line-height:42px; padding-top:6px;}
h5{ font-size:12px; font-weight:normal; color:#797878; text-indent:26px;}
.g5{ color:#cc0003; text-decoration:none;}
.ne{ margin-left:15px;}
.ne a, .ne a:visited{ color:#4e4d4e; line-height:25px; background:url(images/arg.jpg) no-repeat left 5px; padding-left:12px;}
.ne a:hover{ color:#1162a1;}

.right{ width:229px; float:right; margin-top:7px;}
.gonggao{ width:227px; border:#ccc 1px solid;}
.ggo{ margin-left:15px;}
.ggo a, .ggo a:visited{ color:#4e4d4e; line-height:25px; background:url(images/arg.jpg) no-repeat left 5px; padding-left:12px;}
.ggo a:hover{ color:#1162a1;}
.uj{width:763px; height:auto; clear:both;}
.rf{ width:294px; border:#ccc 1px solid; float:left;}
.zheng{ width:294px; background:url(images/ed_03.jpg) no-repeat 12px bottom; display:block; height:32px; border-bottom:#0057a1 3px solid;}
.zb{ font-size:14px; font-weight:bold; color:#FFFFFF; width:100px; text-indent:30px; line-height:30px; float:left; padding-top:6px!important;}
.fe{ width:40px; float:right; margin:8px 10px 0 0;}
.bc{ margin:6px 0; color:#4e4d4e;}
.bc a, .bc a:visited{ color:#ff6600; line-height:25px; padding-left:12px;}
.bc a:hover{ color:#1162a1;}

.rv{ width:457px; border:#ccc 1px solid; float:right;}
.rd{width:457px; background:url(images/vbr_03.jpg) no-repeat 18px bottom; display:block; height:32px; border-bottom:#0057a1 3px solid;}
.cx a{ font-size:14px; font-weight:bold; color:#0057a1; width:100px; text-indent:30px; line-height:30px; float:left; padding-top:6px!important;}
.cc{ margin:6px 0 6px 24px; color:#8b8484;}
.cc a, .cc a:visited{ color:#4e4d4e; line-height:25px; padding-left:12px;}
.cc a:hover{ color:#1162a1;}
.bu{ width:763px; background:url(images/fk_08.jpg) repeat-x; height:33px;}
.zhuanjia{ width:118px; background:url(images/fk_06.jpg) no-repeat left center; color:#039f8b; font-size:14px; text-align:right; font-weight:bold; line-height:33px; float:left;}
.cha{ width:260px; float:right; line-height:33px; _padding-top:5px;}
.bio{ width:85px; height:23px; background:url(images/fk_11.jpg) no-repeat; border:0;}
.br{width:763px;}
.br li{ width:127px; float:left; text-align:center; margin:12px 0; line-height:30px;}
.im{ padding:3px; border:#c9c9c9 1px solid; width:84px;}
h1 a{ color:#045795; font-size:12px; font-weight:normal;}
h1 a:hover{ color:#FF0000;}
.km{width:763px; height:auto; border:#ccc 1px solid; clear:both; height:235px;}
.leng{ width:90px;}
.ber{  width:23px; height:23px; background:url(images/bt_03.jpg) no-repeat; border:0;}
.hudong{ width:229px; height:273px; background:url(images/nh_10.jpg) no-repeat center bottom;}
.yiliao{ width:229px; height:32px; background:url(images/nh_03.jpg) no-repeat; font-size:14px; color:#FFFFFF; font-weight:bold; text-indent:36px; line-height:32px;}
.vie{ width:220px; margin-top:4px; margin-left:4px; height:100px;}
.vie dt{ float:left; width:80px;}
.mdi{ color:#484646; padding:6px 0 0 6px;}
h2{ color:#ff6600; font-size:12px; font-weight:normal; line-height:24px; margin-left:20px;}
h4{ color:#000; font-size:12px; font-weight:normal; margin-left:20px;}
.mgj{margin:0 auto; width:128px; line-height:40px; height:100px;}
.mgj p{ height:40px;}
.quyi{ width:229px; background:url(images/kh_07.jpg) no-repeat center bottom; height:210px;}
.weis{ width:229px; height:32px; background:url(images/kh_03.jpg) no-repeat; font-size:14px; font-weight:bold; color:#0057a1; text-indent:40px; line-height:32px;}
.jigou{ width:200px; margin:0 auto;}
.jigou li{ float:left; width:98px;}
.jigou a:visited{ color:#444;}
.jigou a:hover{ color:#000;}
.vbew{ margin:15px 0 0 12px; width:200px;}
.youqing{ width:100%; background:url(images/ntr_03.jpg) repeat-x; height:29px; margin-top:7px;}
.bo{ width:1000px; font-size:14px; font-weight:bold; color:#fff; line-height:30px; text-indent:24px;}
.coti{ background:#eaeaea; width:100%; height:auto; padding:10px;}
.okm{ width:1000px;}
.okm a{ color:#333333; font-size:12px;}
.banquan{ background:#1366aa; width:100%; height:auto; font-size:12px; color:#fff; text-align:center; padding:15px 0;}




#nav {height:40px;  list-style-type: none; line-height:24px;overflow:hidden;}

#nav a { display: block; width: 100px; text-align:center; line-height:40px; font-size:14px; font-weight:bold;}

#nav a:link  { color:#fff; text-decoration:none;}
#nav a:visited  { color:#fff;text-decoration:none;}
#nav a:hover  { color:#FFF;text-decoration:none;font-weight:bold; background:url(images/yj.jpg) no-repeat;}

#nav li { float: left; width: 100px; margin-left:5px;}

#nav li ul { line-height: 24px;  list-style-type: none; text-align:left; left: -999px; width: 520px; //注意,这里一定要设置宽度; position: absolute;}

#nav li ul li{  float: left;width: 80px; //float就是子菜单横向的关键,可以继承父菜单而省略float}


#nav li ul a{ display: block; width: 65px;text-align:left;padding-left:15px; font-size:12px; font-weight:normal; line-height:30px;}

#nav li ul a:link  { color:#4b647d; text-decoration:none;}
#nav li ul a:visited  { color:#4b647d;text-decoration:none;}
#nav li ul a:hover  { color:#fff;text-decoration:none;font-weight:normal;background:#166fb7;}

#nav li:hover ul { left:25%;}

#nav li.sfhover ul { left:25%;}

#content { clear: left;}