.struct-layout-footer{
  .layout-base;
  min-width:@layout-container-width;
  background:none;
  .footer-content-wrap{
    .layout-base(@layout-container-width);
    min-height:50px;
    margin:0 auto;
  }
}