body{ background:url(images/bg.jpg) no-repeat center top; padding:0px; margin:0 auto;}
div{ margin:0 auto;}
.logo{width:630px; margin-top:200px;}
.denglu{ width:646px; height:234px; margin-top:5px;}
.login{ width:200px; float:left; font-size:12px; color:#004385; margin-top:30px;}
.login p{ height:25px; *+height:20px;}
.earth{ width:433px; height:234px; float:right;}
.fr{ border:#4ea0f2 1px solid;}
.btn1{ width:73px; height:24px; background:url(images/btn_03.png) no-repeat; border:0;}
.btn2{ width:73px; height:24px; background:url(images/btn_05.png) no-repeat; border:0;}
