@charset "utf-8";
/* CSS Document */
.bottomwrap{
	margin-top:0px;}
.csmanage h1{
	color: #434343;
    font-family: 宋体;
    font-size: 14px;
    font-style: normal;
	margin-bottom:20px;
}
.cards{
	overflow:hidden;
	padding:15px 30px;
}
.card{
	position:relative;
	width:210px;
	height:130px;
	margin-right:60px;
	margin-bottom:60px;
	display:inline-block;
	float:left;
	text-align:center;
	border:1px solid #e3e3e3;
	border-radius:5px;
	-webkit-border-radius:5px;}
.card .banklogo{
	text-align:left;
	margin-top:12px;
	margin-left:12px;}
.card .cnumber{
	position: absolute;
	top: 50px;
	color: #434343;
	font-size: 12px;
	height: 30px;
	width: 100%;
	display: block;
	line-height: 30px;
	background: #E7E7E7;}
.card .add_del{
	position:absolute;
	bottom: 8px;
	right: 4px;
	margin:0px auto;
	overflow:hidden;}
.card .add_del li{
	float:left;
	text-align:center;
	margin-right:4px;}
.card .add_del li a{
	display:block;
	width:40px;
	height:20px;
	color:#434343;
	line-height: 20px;
	border-radius:4px;
	border:1px solid #30BBFA;
	font-size: 12px;
	color: #434343;}
.card .add_del li .edit{
	background:#D2E5EE;}
.card .add_del li .edit:hover{
	box-shadow:0px 0px 3px #D2E5EE; }
.card .add_del li .del{
	border-color:#E64E36;
	background:#FCE9D1;}
.card .add_del li .del:hover{
	box-shadow:0px 0px 3px #E64E36;
	}
.card a{
	color:#00F;
	font-size:15px;}
.cards #new{
	cursor:pointer;
	border:0px none;}
.cards #new a{}
.closebtn{
	width:13px;
	height:13px;
	position:absolute;
	top:11px;
	right:16px;
	border:0px none;
	background:url(../../image/manage/icons_lyz.fw.png) no-repeat;
	background-position:-117px -578px;
	text-indent:-9999px;
	cursor:pointer;}
#editform{
	display:none;}
#editform h3{
	height:36px;
	line-height:36px;
	padding:0px 16px;
	color:#fff;
	font-size:14px;
	background:#938E83;
	border-radius:6px 6px 0px 0px;}
#editform h3 .subtxt{
	color:#BDB7AA;
	font-size:12px;
	font-weight:normal;
	margin-left: 10px;}

/*表单样式*/
.formbox{
	position:relative;
	overflow:hidden;
	font-size:13px;
	padding-top: 25px;}
#cardform{
	margin-left:30px;
	padding-bottom: 40px;}
.formline{
	overflow:hidden;
	}
.formline.mt4{
	margin-top:4px;}
.formline.mt30{
	margin-top:30px;}
.formline.mb10{
	margin-bottom:10px;}
.formline .Validform_wrong{
	margin-left:8em;}
.formline .name{ margin-left:10px; color:#636363; font-size:14px;}
.formline input:not(.checkbox),.formline select, .formline textarea{
	font-size:14px;
	padding:1px 5px; 
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #ccc;}
.formline input:not(.checkbox){
	height: 20px;
	line-height: 20px;
	}
.formline .fontred{
	font-weight:bold;
	font-family:"微软雅黑";
	font-size: 12px;}
.checkbox{
	position: relative;
	top: 2px;}
.formline label{
	display: inline-block;
	color: #636363;
	font-size: 14px;
	width: 6em;
	text-align: right;
	}
.formbox .formtip{
	color:#cdcdcd;
	font-size:12px;}
.formbox .formtip.error{
	color:#F00;}
.formline button{
	width:85px;
	height:27px;
	margin-right:15px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	border:0px none;
	border-radius:4px;
	background:url(../../image/manage/icons_lyz.fw.png) no-repeat;
	cursor:pointer;}
#submitcard{
	background-position:-100px -534px;}
#submitcard:hover{
	box-shadow:0px 0px 3px #EF4428;
	}
.formline button.cancle{
	background-position:-6px -534px;
	color:#555;}
.formline button.cancle:hover{
	box-shadow:0px 0px 3px #D3D2D2;
	}

.card.nomargin_r{
	margin-right:0px;}
.fontred, .formline .fontred{
	color:#E54127;}
	
#nocardtip{
	display:none;
	width:393px;}


