/* CSS Document */
/*manage position*/
.manage_poswrap{width:1000px;height:40px;line-height:40px;font-size:12px;margin:0 auto;}
.manage_poswrap span{float:left;font-size:12px;padding-right:10px;margin-left:5px;height:40px;line-height:40px;background:#fff url(../../image/loan/loan_posbg.png) no-repeat right center;}
.manage_poswrap span.manage_curpos{background:#fff;color:#f2462a;}
/*layout*/
.container{width:1000px;margin:0 auto;height:auto;position:relative;left:0;top:0;z-index:1;background:#fff;}
.topwrap{margin:0 auto;height:10px;background:#fff url(../../image/manage/manage_bg.png) no-repeat 0 0;}
.mainwrap{width:873px;height:auto;background:#fff url(../../image/manage/manage_rightcbg.png) repeat-y 0 0;float:right;margin-bottom:50px;}
.bottomwrap{float:right;width:873px;height:10px;background:#fff url(../../image/manage/manage_bg.png) no-repeat -127px -10px;margin-top:50px;}
.mainbox{float:right;width:840px;height:auto;}
.sidewrap{width:120px;height:auto;float:left;margin-bottom:30px;}
.sidebox{float:left;width:127px;height:auto;background:#fff url(../../image/manage/manage_leftcbg.png) repeat-y 0 0;}
/*------sidemenu------*/
.mainmenu{width:127px;float:left;height:auto;}
.mainmenu_format{width:127px;float:left;height:10px;overflow:hidden;background:transparent url(../../image/manage/manage_bg.png) no-repeat 0 -10px;clear:both;}
.mainmenu_format:after,.mainmenu_format::after{content:"";}
.menutheme0,.menutheme1,.menutheme2{width:127px;height:40px;line-height:40px;text-align:center;font-family:"微软雅黑","Microsoft Yahei";font-size:14px;cursor:pointer;float:left;display:block;overflow:hidden;color:#999;}
.menutheme0{background:transparent url(../../image/manage/menu_nav.png) no-repeat 0 0;}
.menutheme1{background:transparent url(../../image/manage/menu_nav.png) no-repeat 0 -40px;}
.menutheme2{background:transparent url(../../image/manage/menu_nav.png) no-repeat 0 -80px;}
.menuthemesel{color:#555;}
.submenu{width:127px;height:auto;float:left;display:none;}
.submenu li{float:left;width:127px;height:40px;line-height:40px;}
.submenu a{font-family:"微软雅黑","Microsoft Yahei";font-size:12px;line-height:40px;height:40px;width:127px;display:block;text-align:center;background:transparent;color:#999;}
li.curmenu{width:128px;background:transparent url(../../image/manage/menu_nav.png) no-repeat 0 -200px;_width:127px;}
li.curmenu a{color:#666;}
.submenu a:hover{width:127px;background:transparent url(../../image/manage/menu_nav.png) no-repeat 0 -120px;color:#e54228;}
li.curmenu a:hover{text-indent:-1px;width:128px;background:transparent url(../../image/manage/menu_nav.png) no-repeat 0 -160px;color:#e54228;}