@import 'base_variable.less';
/*--图标字体--*/
@font-face{
    font-family:'ux';
    src:url('@{ux-font-url}@{ux-font-name}.eot');
    src:url('@{ux-font-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-url}@{ux-font-name}.svg#svgFontName') format('svg');
}
/*--重置样式--*/
html{font-family:@fontfamliy-base;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,audio,canvas,progress,video{.reset-base1;.reset-base2;vertical-align:baseline;font-size:100%;}
ul,ol{list-style:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
svg:not(:root){overflow:hidden;}
[hidden],template{display:none;}
a{background:transparent;text-decoration:none;color:@color-base;}
a:active,a:hover{outline:0;}
:focus{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
h1{margin:.67em 0;font-size:2em;}
mark{background:#ff0;color:@color-base;}
small{font-size:80%;}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{.box-sizing-base(content-box);height:0;}
pre{overflow:auto;}
code,kbd,pre,samp{font-size:1em;font-family:monospace;}
button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit;}
button{overflow:visible;border:none;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;outline:0;}
input{line-height:normal;}
input,textarea{outline:0;border:none;}
input:required,input:valid,input:invalid,textarea:required,textarea:valid,textarea:invalid{outline:0 none;outline:0;box-shadow:none;} 
input[type="checkbox"],input[type="radio"]{.box-sizing-base(border-box);padding:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid @color-gray8;}
textarea{overflow:auto;resize:none;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{
	clear:both;
	visibility:hidden;
	width:0;
	height:0;
	line-height:none;
	zoom:1;
	&:after {
		clear:both;display:block;visibility:hidden;height:0;content:"";
	}
	&::after{
		content:"";
	}
}
/*--全局--*/
///*颜色*/
.g-fill{.color-bg-base(@color-white);position:relative;left:0;top:0;z-index:1;}
.g-c-white{.color-t-base(@color-white);}
.g-c-red{.color-t-base(@color-red);}
.g-c-orange{.color-t-base(@color-orange);}
.g-c-lightblue{.color-t-base(@color-lightblue);}
.g-c-blue{.color-t-base(@color-blue);}
.g-c-green{.color-t-base(@color-green);}
.g-c-yellow{.color-t-base(@color-yellow);}
.g-c-gray(@n,@i:1) when (@i =< @n) {
	.g-c-gray@{i}{
		.color-t-base('@{color-gray@{i}}');
	}
  .g-c-gray(@n,(@i+1));
}
.g-c-gray(10);
.g-b-white{.color-bg-base(@color-white);}
.g-b-red{.color-bg-base(@color-red);}
.g-b-orange{.color-bg-base(@color-orange);}
.g-b-lightblue{.color-bg-base(@color-lightblue);}
.g-b-blue{.color-bg-base(@color-blue);}
.g-b-green{.color-bg-base(@color-green);}
.g-b-yellow{.color-bg-base(@color-yellow);}
.g-b-gray(@n,@i:1) when (@i =< @n) {
	.g-b-gray@{i}{
		.color-bg-base('@{color-gray@{i}}');
	}
	.g-b-gray(@n,(@i+1));
}
.g-b-gray(10);
///*文本*/
.g-t-offix{.text-of;text-overflow:ellipsis;}
.g-t-ofhide{.text-of;}
.g-t-ofww{word-break:break-all;word-wrap:break-word;}
.g-nstxt{-moz-user-select:none;-o-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
.g-t-ndwrap{width:100%;height:100%;display:table;margin:0 auto;min-height:100px;}
.g-t-nd{width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:center;font-size:@font-size-small;color:@color-gray7;}
///*圆角*/
.g-br1{.border-radius-base(1px);}
.g-br2{.border-radius-base(2px);}
.g-br3{.border-radius-base(3px);}
.g-br4{.border-radius-base(4px);}
.g-br5{.border-radius-base(5px);}
.g-br6{.border-radius-base(6px);}
/*--头部--*/
/*--顶部菜单--*/
.header-menuwrap{
	.layout-float-base;
	.layout-relative-base(0,0,1);
}
.h-menubar{
	.layout-base;
	.layout-relative-base(0,0,5);
	height:34px;
	margin:0 auto;
}
.h-mlitem,.h-mritem{
	width:34px;
	height:34px;
	cursor:pointer;
	position:absolute;
	z-index:100;
	a{
		width:100%;
		height:100%;
		display:block;
		line-height:34px;
		font-size:@font-size-base + 10;
		text-align:center;
		color:@color-white;
		overflow:hidden;
	}
}
.h-mlitem{
	left:2px;
	top:0;
}
.h-mritem{
	right:2px;
	top:0;
}
.h-mcitem{
	width:100%;
	height:100%;
	float:left;
}
.h-muxicon{font-family:'ux';}
.h-mtxt{
	line-height:34px;
	font-size:@font-size-large;
	text-align:center;
	.text-of;
}
/*--底部--*/
.footer{
	.layout-float-base;
	padding:5px 10px 0 10px;
}
.f-mainwrap{
	.layout-base;
	padding:10px 0;
	background:@color-gray10;
	p{
		width:100%;
		height:20px;
		line-height:20px;
		text-align:center;
		font-size:@font-size-base;
		color:@color-gray3;
		background:@color-gray10;
	}
}


