@import 'variable/base_variable.less';
/*以上部分需删除，为公共部分*/
/*--适配不同分辨率--*/
///*--屏幕--*/
@media screen{
	
	
}
///*--640-720--*/
@media screen and (min-width:641px) and (max-width:720px){
	
	
	
}
///*--540-640--*/
@media screen and (min-width:541px) and (max-width:640px){
	
	
	

}
///*--480-540--*/
@media screen and (min-width:481px) and (max-width:540px){
	/*--顶部菜单--*/
	.header-menuwrap{
		height:40px;
		ul>li{
			&:first-child a{
				font-size:@font-size-base + 12;
				line-height:40px;
			}
			&.h-menu-action a{
				padding:0 10px;
				margin:5px 3px 0 0;
			}
			&.h-menu-txt{
				line-height:40px;
			}
		}
	}
	
	
	
	
}
///*--320-480--*/
@media screen and (min-width:321px) and (max-width:480px){
	/*--顶部菜单--*/
	.header-menuwrap{
		height:38px;
		ul>li{
			&:first-child a{
				font-size:@font-size-base + 10;
				line-height:38px;
			}
			&.h-menu-action a{
				padding:0 8px;
				height:28px;
				line-height:28px;
				margin:5px 3px 0 0;
			}
			&.h-menu-txt{
				line-height:38px;
				font-size:@font-size-default;
			}
		}
	}
	/*--栏目管理列表图标适配，
	配置管理图标适配--*/
	.nc-list-wrap li,
	.config-list-wrap li{
			img{
					width:50px;
					height:50px;
			}
			&:last-child >div:after{
				font-size:@font-size-base + 30;
			}
	}
	

}
///*--280-320--*/
@media screen and (min-width:281px) and (max-width:320px){
	/*--顶部菜单--*/
	.header-menuwrap{
		height:34px;
		ul>li{
			&:first-child a{
				font-size:@font-size-base + 8;
				line-height:34px;
			}
			&.h-menu-action a{
				font-size:@font-size-small;
				padding:0 6px;
				height:26px;
				line-height:26px;
				margin:4px 3px 0 0;
			}
			&.h-menu-txt{
				line-height:34px;
				font-size:@font-size-base;
			}
		}
	}
	/*--栏目管理列表图标适配，
	配置管理图标适配--*/
	.nc-list-wrap li{
			img{
					width:40px;
					height:40px;
			}
			&:last-child{
				p{
					bottom:5px;
				}
				>div:after{
					font-size:@font-size-base + 20;
				}
			}
	}
	.config-list-wrap li{
			img{
					width:40px;
					height:40px;
			}
			&:last-child{
				>div:after{
					font-size:@font-size-base + 20;
				}
			}
	}
	
}
///*--微屏--*/
@media screen and (max-width:280px){
	/*--顶部菜单--*/
	.header-menuwrap{
		height:32px;
		ul>li{
			&:first-child a{
				font-size:@font-size-base + 6;
				line-height:32px;
			}
			&.h-menu-action a{
				font-size:@font-size-small;
				padding:0 4px;
				height:24px;
				line-height:24px;
				margin:4px 0 0 0;
			}
			&.h-menu-txt{
				line-height:32px;
				font-size:@font-size-base;
			}
		}
	}
	/*--栏目管理列表图标适配，
	配置管理图标适配--*/
	.nc-list-wrap li{
		img{
				width:30px;
				height:30px;
		}
		&:last-child{
			p{
				bottom:5px;
			}
			>div:after{
				font-size:@font-size-base + 10;
			}
		}
	}
	.config-list-wrap li{
		img{
				width:30px;
				height:30px;
		}
		p{
			bottom:10px !important;
		}
	}
			
}