@import 'variable/base_variable.less';
//导入表单公用组件
@import 'mixin/form.less';
///搜索框
@import 'mixin/search.less';
///文章列表
.article-list-wrap,
.article-recovery-wrap{
	.layout-base;
	padding:10px;	
	ul{
		width:100%;
		float:left;
		margin:0 0 20px 0;
		li{
			.layout-float-base;
			.layout-relative-base(0,0,1);
			margin:8px 0 0 0;
			border:1px solid @color-gray7;
			background:@color-gray10;
			.border-radius-base(5px);
			cursor:pointer;
			.text-unselect;
			&.article-delete-state:before{
				.layout-absoluter-base(-10px,-10px,50);
				width:30px;
				height:30px;
				display:block;
				text-align:center;
				line-height:28px;
				overflow:hidden;
				cursor:pointer;
				content:'\e626';
				font-family:'ux_seven';
				font-size:@font-size-base + 10;
				color:@color-red2;
			}
			>div:nth-of-type(1){
				.layout-relative-base(0,0,5);
			  .layout-float-base;
				padding:10px;
				border-bottom:1px solid @color-gray7;
				&:after{
					.layout-absoluter-base(0,20px,20);
					content:'\e642';
					font-family:'ux_eight';
					font-size:@font-size-base + 10;
					color:@color-gray3;
				}
				img{
					.layout-absolutel-base(10px,10px,10);
					width:60px;
					height:60px;
					display:block;
					overflow:hidden;
				}
				h3,p,div{
					.layout-base;
					padding:0 10px 0 70px;
					.text-ww;
				}
				h3{
					font-size:@font-size-base;
					color:@color-gray2;
					line-height:20px;
				}
				p{
					font-size:@font-size-small;
					color:@color-gray3;
					line-height:16px;
				}
				div{
					font-size:@font-size-small;
					color:@color-gray3;
					line-height:20px;
					span{
						&:first-child{
							float:left;
							&:before{
								content:'浏览次数：';
							};
						}
						&:last-child{
							float:right;
							&:before{
								content:'时间：';
							};
						}
					}
				}
			}
			>div:nth-of-type(2){
				.layout-float-base;
				height:40px;
				padding:5px;
				margin:5px 0 0 0;
				div{
					.border-radius-base(5px);
					border:1px solid @color-gray4;
					.layout-base;
					height:100%;
					padding:5px 0;
					background:@color-white;
					span{
						.layout-relative-base(0,0,5);
						height:100%;
						cursor:pointer;
						display:block;
						text-align:center;
						color:@color-gray3;
						line-height:16px;
					}
				}
			}
		}		
	}
}
///文章列表
.article-list-wrap li>div:nth-of-type(2) div span{
		.layout-float-base(33.33333%);
		&:nth-child(1):before{
			content:'\e612';
			font-family:'ux_eight';
			font-size:@font-size-base + 6;
		}
		&:nth-child(2):before{
			content:'\e62a';
			font-family:'ux_eight';
			font-size:@font-size-base;
		}
		&:nth-child(3):before{
			content:'\e64a';
			font-family:'ux_eight';
			font-size:@font-size-base;
		}
		&:nth-child(n+2):after{
			.layout-absolutel-base(0,0,10);
			content:'\00A0';
			border-left:1px solid @color-gray4;
			line-height:18px;
		}
}
///回收站列表
.article-recovery-wrap li>div:nth-of-type(2) div span{
		.layout-float-base(50%);
		font-family:'ux_one';
		&:nth-child(1){
			color:@color-green1;
			&:after{
				content:'恢复';
				font-size:@font-size-small;
				padding:0 0 0 3px;
			}
		}
		&:nth-child(2){
			color:@color-gray3;
			&:after{
				content:'删除';
				font-size:@font-size-small;
				padding:0 0 0 3px;
			}
			&:before{
				.layout-absolutel-base(0,0,10);
				content:'\00A0';
				border-left:1px solid @color-gray4;
				line-height:18px;
			}
		}
}

///加载更多
@import 'mixin/btn_item.less';
.btn1-item-wrap{
	margin:0 0 60px 0;
}


/*文章表单容器*/
.article-form{
	.layout-base;
	padding:10px;
	ul{
		.layout-float-base;
		margin:0 0 20px 0;
		&:after{
			content:'';
			clear:both;
		}
	}
}
///*文章表单*/
@import 'mixin/articleform.less';

///*文章单选框插件*/
@import 'mixin/radio_plugin.less';

///*文章图片上传插件*/
@import 'mixin/fileupload_plugin.less';
.article-upload{
	.layout-relative-base(0,0,1);
}
.upload-plugin-wrap{
	 input{
		 height:39px;
		 top:-39px;
	 }
	 div{
		 height:30px;
		 line-height:30px;
		 top:-33px;
		 width:80px;
	 }
}

///*文章编辑器插件*/
.article-textarea{
	.layout-relative-base(0,0,20);/*-1*/
	margin:0 0 65px 0;
}
@import 'mixin/editor.less';