@import 'variable/base_variable.less';
////*微网站列表*/
.create-list-wrap{
	.layout-base;
	padding:10px;	
	ul{
		width:100%;
		float:left;
		margin:0 0 20px 0;
		li{
			.layout-float-base;
			margin:8px 0 0 0;
			border:1px solid @color-gray8;
			background:@color-gray11;
			.border-radius-base(5px);
			.text-unselect;
			>a{
				.layout-relative-base(0,0,5);
			  .layout-float-base;
				padding:10px;
				border-bottom:1px solid @color-gray8;
				img{
					.layout-absolutel-base(10px,10px,10);
					width:40px;
					height:40px;
					display:block;
					overflow:hidden;
					opacity:0.5;
				}
				h3,p{
					.layout-base;
					padding:0 0 0 50px;
					.text-ww;
				}
				h3{
					font-size:@font-size-base;
					color:@color-gray4;
					line-height:22px;
				}
				p{
					font-size:@font-size-small;
					color:@color-gray6;
					line-height:20px;
					&:after{
							content:'禁止';
							color:@color-red2;
					}
				}
			}
			>div{
				.layout-float-base;
				height:40px;
				padding:5px;
				margin:5px 0 0 0;
				div{
					opacity:0.8;
					.border-radius-base(5px);
					border:1px solid @color-gray6;
					.layout-base;
					height:100%;
					padding:5px 0;
					background:@color-white;
					span,a{
						.layout-float-base(50%);
						height:100%;
						cursor:pointer;
						display:block;
						text-align:center;
					}
					span{
						font-size:@font-size-base + 8;
						line-height:13px;
						color:@color-green1;
						&:before{
							content:'\e657';
							font-family:'ux_six';
						}
						&:after{
							content:'激活';
							font-size:@font-size-base;
							display:inline-block;
							padding:3px 0 0 2px;
							vertical-align:top;
						}
					}
					a{
						line-height:20px;
						font-size:@font-size-base;
						color:@color-gray3;
						.layout-relative-base(0,0,5);
						&:after{
								.layout-absolutel-base(0,0,10);
								content:'\00A0';
								border-left:1px solid @color-gray4;
						}
						em{
							font-family:'ux_four';
							font-size:@font-size-default + 2;
							padding:0 2px 0 0;
						}
					}
				}
			}
		}
		li.create-list-state{
			border:1px solid @color-gray7;
			background:@color-gray10;
			>a{
				border-bottom:1px solid @color-gray7;
				img{
					opacity:1;
				}	
				h3{
					color:@color-gray2;
				}
				p{
					color:@color-gray3;
					&:after{
							content:'激活';
							color:@color-green1;
					}
				}
			}
			>div{
				div{
					opacity:1;
					border:1px solid @color-gray4;
					background:@color-white;
					span{
						color:@color-red2;
						&:before{
							content:'\e659';
							font-family:'ux_six';
						}
						&:after{
							content:'禁止';
						}
					}
					a{
						color:@color-gray3;
					}
				}
			}
		}		
	}
}