@import 'variable/base_variable.less';
////*个人中心列表*/
.member-list-wrap{
	.layout-float-base;
	margin:10px 0 5px 0;
	&:after{
		content:'';
		clear:both;
	}
}
.member-list-item{
		.layout-float-base;
		padding:0 20px;
		border-bottom:3px solid @color-gray6;
		&:after{
			content:'';
			clear:both;
		}
		li{
			.layout-relative-base(0,0,5);
			.layout-float-base;
			border-bottom:1px solid @color-gray8;
			height:36px;
			padding:5px 10px;
			line-height:26px;
			.text-unselect;
			&:last-child{
				border:none;
			}
			span{
				float:left;
				width:100%;
				display:inline-block;
				font-size:@font-size-base;
				color:@color-gray4;
				white-space:nowrap;
				text-align:left;
			}
			h3,p{
				text-align:right;
				width:100%;
				height:100%;
				.layout-absolutel-base(0,0,10);
				line-height:36px;
				.text-of;
			}
			h3{
				font-size:@font-size-default;
				color:@color-gray2;
			}
			p{
				font-size:@font-size-base;
				color:@color-gray3;
			}
			>a{
				width:100%;
				height:100%;
				display:block;
				&:after{
					content:'\e642';
					font-family:'ux_eight';
					font-size:@font-size-base + 4;
					color:@color-gray3;
					display:inline;
					float:right;
					margin:-25px -10px 0 0;
				}
				img{
					.layout-absoluter-base(20px,5px,10);
					width:26px;
					height:26px;
					display:block;
					overflow:hidden;
				}
			}
		}
}

.member-code-wrap{
	.layout-base;
	padding:10px 20px;
	div{
		.layout-float-base;
		text-align:center;
		/*&:after{
			content:'';
			clear:both;
		}*/
	}
	>div:nth-of-type(1){
			padding:10px 0;
			border-bottom:1px solid @color-gray7;
			img{
				width:60px;
				height:60px;
				display:block;
				overflow:hidden;
				margin:10px auto 5px auto;
				.border-radius-base(50%);
			}
			h1,p{
				width:100%;
				.text-ww;
				margin:5px auto;
				text-align:center;
			}
			h1{
				font-size:@font-size-base + 10;
				color:@color-gray2;
			}
			p{
				font-size:@font-size-base;
				color:@color-gray5;
			}
	}
	>div:nth-of-type(2){
		padding:20px 30px;
		img{
			width:100%;
			height:100%;
			max-width:220px;
			max-height:220px;
			min-height:60px;
			min-width:60px;
			display:block;
			overflow:hidden;
			margin:5px auto;
		}
	}
}

///底部按钮条
@import 'mixin/btn_item.less';
.btn2-item-wrap{
	margin-bottom:60px;
}
.btn1-item-wrap{
	margin:30px 0 60px 0;
}