@import 'variable/base_variable.less';
///提示信息
.tip-animate-wrap{
	.layout-fixedl-base(0,0,200);
	.layout-base;
	height:100%;
	background:rgba(255,255,255,.5);
	padding:50px 10px 10px 10px;
}
//提示动画1
.tipone-animate{
	.layout-relative-base;
	.layout-float-base;
	height:100%;
	>li{
		.box-sizing-base;
		position:absolute;
		z-index:250;
		&:nth-child(1),
		&:nth-child(2){
			top:5%;
			left:0;
			text-align:center;
			width:100%;
			height:0;
			span{
				.border-radius-base(50%);
				display:inline-block;
				width:60px;
				height:60px;
			}
		}
		&:nth-child(1) span{
			background:rgba(242,109,0,.6);
			.animation-base(tipsone1 3.0s ease-in-out infinite alternate);
		}
		&:nth-child(2) span{
			background:rgba(242,109,0,.6);
			.animation-base(tipsone2 3.0s ease-in-out infinite alternate);
		}
		&:nth-child(3){
			width:100%;
			height:40px;
			bottom:35%;
			left:0;
			text-align:center;
			line-height:20px;
			font-size:@font-size-base;
			color:@color-gray3;
			.text-ww;
			background:rgba(255,255,255,.8);
			&:before{
				content:'\e631';
				font-family:'ux_eight';
				font-size:@font-size-base + 10;
				padding:5px 10px 0 0;
				color:@color-red2;
			}
		}
		&:last-child{
				bottom:20px;
				left:0;
				width:100%;
				height:40px;
				a{
					width:100%;
					height:100%;
					display:block;
					.text-of;
					.text-unselect;
					text-align:center;
					font-size:@font-size-small;
					line-height:40px;
					.border-radius-base(5px);
					background:@color-red2;
					color:@color-white;
				}
		}
	}
}
//提示动画1定义
.animation-keyframes-two(tipsone1,{
	.transform-base(scale(0.0));
},{
	.transform-base(scale(1.0));
});
.animation-keyframes-two(tipsone2,{
	.transform-base(scale(1.0));
},{
	.transform-base(scale(0.0));
});
