@import 'variable/base_variable.less';

/*--首页欢迎信息--*/
.index-theme{
 	.layout-float-base;
	padding:5px 0;
	font-size:@font-size-base;
	margin:5px 0 5px 0;
	span{
		padding:0 3px;
		color:@color-red;	
	}
}

/*--首页子模块--*/
///首页子模块组件
@import 'mixins/module_list.less';

/*--img--*/
.index-img{
	.layout-float-base;
	img{
		margin:5px auto;
		display:block;
		max-width:840px;
		max-height:600px;
		overflow:hidden;
	}
}









