<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>html模板</title>
</head>
<body>


		<!--模板1-->
    <li data-id="1">
      <a data-id="1" href="#"><img src="../../../images/hot_case.jpg" width="284" height="201" alt=""/></a>
      <b>空间更快的价格大概</b>
      <p>
        <span>
            <i><img src="../../../images/designer.jpg" width="22" height="22" alt=""/></i>
            <a href="#">张三</a>
        </span>
        <span>风格：简约</span>
        <span>预算：<b>88万</b></span>
      </p>
    </li>
    
    
    
    <!--模板2-->
    <li data-id="1" class="company-layoutitem1">
        <a data-id="1" class="company-griditem1" href="#">
          <img src="../../images/compay_1.png" alt="">
        </a>
        <div class="company-griditem2">
          <h3>3472457</h3>
          <div>
            <span>4546</span>
            <span>简约</span>
            <span>180m<sup>2</sup></span>
            <span>预算：<em>34万元</em></span>
          </div>
        </div>
        <div class="company-griditem3">
            <div>
              <img src="../../images/designer.jpg" alt="">
            </div>
            <p>某某装修公司--张三</p>
            <span class="good"><em></em>45</span>
            <a data-id="1" href="#" class="comment"><em></em>724</a>
        </div>
    </li>
    
    
    
    
    <!--模板3-->
    <div class="new_div_diary">
        <div style="width:117px; height:333px; float:left;">
            <a target="_blank" href="#" class="img_head"><img src="images/zfx.png" style="border-radius:200px; width:82px; height:82px;" />
            <span class="span_img">汪小涵</span>
            </a>
        </div>
        <div class="diary_items_boxs">
            <div class="diary_title">
                <a href="#" style="font-size:20px;" class="font_css1">每天一点惊喜
                    <em style="font-size:12px; color:#666; margin-left:15px;">31篇</em>
                    <span class="rq">&nbsp;&nbsp;人气</span>
                </a>
                <span class="title_img1" title="浏览数">
                    <span class="ico_eye1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>111
                </span>
                <span class="title_img1" title="收藏">
                    <span class="ico_eye2">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a href="#"   class="font_css">22</a>
                </span>
                <span class="title_img1" title="评论数">
                  <span class="ico_eye3">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <a href="#" class="font_css">33</a>
                </span>
            </div>
            <div style="margin-top:10px;">
                <span class="span_css">123m</span>
                <span class="span_css">简约</span>
                <span class="span_css">准备装修</span>
            </div>
            <div style="overflow: hidden; height:45px; margin-top:9px;">
                <a target="_blank" rel="nofollow" href="#" class="diary_items_text">彭星星新租的房子，刚刚搞完卫生彭星星新租的房子，刚刚搞完卫生彭星星新租的房子，刚刚搞完卫生彭星星新租的房子，刚刚搞完卫生</a>
            </div>
            <div class="ul_img">
                <ul>
                    <li><a href="#"><img src="../../images/xx.png" style="width:136px; height:135px;"></a></li>
                    <li><a href="#"><img src="../../images/xx.png" style="width:136px; height:135px;"></a></li>
                    <li><a href="#"><img src="../../images/xx.png" style="width:136px; height:135px;"></a></li>
                    <li><a href="#"><img src="../../images/xx.png" style="width:136px; height:135px;"></a></li>
                    <li><a href="#"><img src="../../images/xx.png" style="width:136px; height:135px;"></a></li>
                </ul>
            </div>
            <span style=" font-size:12px; color:#666;">13分钟前被回复</span>
            <hr style="border:0;background-color:#EAEAEA;height:1px; width:866px;" />
        </div>
    </div>
    
    
    <!--模板4--商户中心--上传案例列表-->
    <li class="li-list">
			  <input data-state="1" name="id" value="$id" type="checkbox">
			  <div class="casetitle"><p>$title</p><span></span></div>
			  <div>
			    <div class="case-info">
			      <p>房屋信息：$houseType  $style  $area㎡</p>
			      <p>预算:$budget万元</p>
			      <p>所在地：$desAddress</p>
			      <p>归属：$decName</p>
			      <p>完工时间：$dateTime</p>
			      <span data-action="update" data-value="$id">修改案例</span>
			    </div>
			    <div class="case-show">
      					<dl>
                    <dt>厨房</dt>
                    <dd>
                        <img src="../../images/icon.png" alt="">
                        <img src="../../images/icon.png" alt="">
                    </dd>
                </dl>
                <dl>
                    <dt>卧室</dt>
                    <dd>
                        <img src="../../images/icon.png" alt="">
                        <img src="../../images/icon.png" alt="">
                        <img src="../../images/icon.png" alt="">
                        <img src="../../images/icon.png" alt="">
                    </dd>
                </dl>
      			</div>
			  </div>
			</li>
      
      
      <!--模板5--商户中心--设计师管理列表-->
      <tr>
        <td>
          <div class="stylist-designicon">
            <img src="../../images/shejishi 42.png"/>
          </div>
        </td>
        <td>刘辉</td>
        <td>首席设计师</td>
        <td>10年</td>
        <td>
            <div>现代简约</div>
            <div>新中式</div>
            <div>地中海</div>
            <div>现代简欧</div>
            <div>美式</div>
        </td>
        <td>
          <div class="stylist-case">
              <img src="../../images/tuceng.png" alt=""/>
          </div>
          <div class="stylist-case">
              <img src="../../images/tuceng.png" alt=""/>
          </div>
          <div class="stylist-case">
              <img src="../../images/tuceng.png" alt=""/>
          </div>
        </td>
        <td>
          <div class="stylist-updateicon" data-value="2" data-action="update">
              <span></span>修改
          </div>
          <div class="stylist-deleteicon" data-value="2" data-action="delete">
              <span></span>删除
          </div>
        </td>
      </tr>
      
      <!--模板6--装修攻略--学装修--装修流程列表-->
      <div class="process-right">
            <div class="right-img">
                <img src="../../images/marquee/marquee3.jpg">
            </div>
            <div class="right-text">
                <h3>商品房验房注意事项，质量过关才能安心入住</h3>
                <div class="right-text-tag">
                    <span></span>
                    <b>商品房</b>
                    <b>验房</b>
                    <b>装修</b>
                </div>
                <p>买房不易，商品房验房亦不易，为什么这么说呢?因为现在的商品房都是开发商统一开发建设，装修也是交给装修公司负责处理，所以对于没有建筑方面经验的业主来说，根本不知从哪里开始检查，需要检查什么。为了让首次购... </p>
                <div class="right-text-bottom">
                    <div>
                        <span class="right-text-yanjing"></span>
                        <b>156340</b>
                    </div>
                    <div>
                        <span class="right-text-shoucang"></span>
                        <b>10610</b>
                    </div>
                    <b>2015-9-18</b>
                </div>
            </div>
      </div>
      
      
      
      <!--模板7--装修公司--装修工地列表-->
      <div class="site-box">
        <div class="site-icon">
          <i><img width="63" height="63" alt="" src="../../../images/zfx.png"></i>
          <br>
          <span>包子_9977</span>
        </div>
        <div class="site-comment">
          <div class="comment-title">
            <p class="info-p1"> 小白装修点点滴滴
              <b>[31篇]</b>
              <i>人气</i>
              <span>
                <b><i class="p1-a"></i>10560</b>
                <b><i class="p1-b"></i>10</b>
                <b><i class="p1-c"></i>120</b>
              </span>
            </p>
            <p class="info-p2">
              <b>132m<sup>2</sup></b>
              <b>简约</b>
              <b>准备装修</b>
            </p>
          </div>
          <p class="comment-content"> 昨天木工把门套基础，电视背景墙基础都做的差不多了，虽然进度有点慢，但慢工出细活哦！师傅说今天再有一天就好了，装修公司用的板材质量非常不错，我还特地凑近问问有没有味道，闻了半天..... </p>
          <ul class="comment-img">
            <li><img width="136" height="136" alt="" src="../../../images/hot_case.jpg"></li>
            <li><img width="136" height="136" alt="" src="../../../images/hot_case.jpg"></li>
            <li><img width="136" height="136" alt="" src="../../../images/hot_case.jpg"></li>
          </ul>
          <span>15分钟前被回复</span> </div>
      </div>
      
      
      
      <!--模板8--装修图库--家居美图-->
      <li>
        <div class="gallery-mask">
          <div>
            <a href="gallery_listdetail.html" data-id="1"><img alt="" data-original="../../images/gallery_list/gallery_list1.jpg" src="../../images/gallery_list/gallery_list1.jpg"></a>
            <span class="gallery-left" data-info="" data-type="design">免费户型设计</span>
            <span class="gallery-right" data-info="" data-type="wechat">收藏</span>
          </div>
          <p>装修效果图装修效果图</p>
        </div>
      </li>
      
      
      
      
      <!--模板9--装修图库--家居图册-->
      <li>
        	<div class="gallery-mask">
            <div>
              <a href="gallery_setdetail.html" data-id="1">
                <img alt="" data-original="../../images/gallery_list/gallery_list1.jpg" src="../../images/gallery_list/gallery_list1.jpg">
              </a>
              <span class="gallery-left" data-info="" data-type="design">免费户型设计</span> 
              <span class="gallery-right" data-info="" data-type="wechat">收藏</span>
            </div>
            <p>装修效果图装修效果图</p>
            <em>10张</em>
          </div>
      </li>
      
      
      <!--模板10--装修案例--列表-->
      <li class="case-layoutitem1" data-id="1">
            <a class="case-griditem1" href="caseshow.html" data-id="1">
            		<img alt="" src="../../images/gallery_list/gallery_list1.jpg">
            </a>
            <div class="case-griditem2">
              <h3>张三家卧室装修效果图</h3>
              <div>
                <span>四居室</span>
                <span>地中海</span>
                <span> 62m <sup>2</sup></span>
                <span> 预算： <em>25万元</em></span>
              </div>
            </div>
            <div class="case-griditem3">
              <div> <img alt="" src="../../images/designer.jpg"> </div>
              <p>极致装饰--小猪</p>
              <span class="good"> <em></em> 24 </span>
              <a class="comment" href="caseshow.html" data-id="1"> <em></em> 57 </a>
            </div>
      </li>
      
      
      
      
      
      <!--模板11--装修案例--案例详情列表-->
      <li id="space_7">
          <h3>
          		<span class="image-list-sficon"></span> 书房
          </h3>
          <div class="image-listimg"> <img src="../../images/marquee/marquee10.jpg">
            <div>
            	<span></span>
              <p>遗忘从此不再看到颤抖的伤痕</p>
            </div>
          </div>
          <div class="image-listimg">
          	<img src="../../images/marquee/marquee11.jpg">
            <div>
            	<span></span>
              <p>由曲线 和非对称线条构成</p>
            </div>
          </div>
          <div class="image-listimg"> <img src="../../images/marquee/marquee12.jpg">
            <div>
            	<span></span>
              <p>线 条 有 的柔美雅致，有的遒劲而富于节奏感</p>
            </div>
          </div>
      </li>
      
      
      
      
      <!--模板12-装修公司--数据列表--->
      <li>
       	<a class="company-griditem1" data-id="1" href="company_decorate/company_home.html"> 
        	<img src="../../images/company2.jpg">
        </a>
        <dl class="company-griditem2">
          <dt>行走在流行时尚前沿装修公司</dt>
          <dd>
            <div> <span></span> 营业执照 </div>
            <p> <span></span> 深圳龙华新区龙华汽车站8888号 </p>
            <a href="$signNumbehref" data-id="1"> 案例数： <span>395个</span> </a>
            <a href="#" data-id="1"> 设计师： <span>76个</span> </a>
            <a href="#" data-id="1"> 评论： <span>856条</span> </a>
            <em>本周促销活动：超级让利，"迎国庆6折装修，10万以上5折"</em>
          </dd>
        </dl>
        <div class="company-griditem3">
        	<a href="#" data-id="1"> 口碑值 <span>625</span> </a>
        </div>
        <div class="company-griditem4">
          <div>免费帮我做设计</div>
          <p>免费帮我出报价</p>
          <span> 已有 <i>6255</i> 人浏览 </span>
        </div>
      </li>
      
      
      
      <!--模板13--评论模板1-->
      <dd data-id="85">
        <div class="comment-imgwrap">
        		<img alt="" src="../../images/designer.jpg">
        </div>
        <div class="comment-listitem">
          <h3> 呵呵！这是测试发表评论
           <span>1个小时</span> <em class="reply-btn">回复</em>
         	</h3>
          <p>ghjwrutyutyutyutyfgjtyjrtuetyuiwuwruetyurturtutyutuwrturtjzcnfr</p>
          <ul class="reply-listwrap">
          		<li>这里是回复内容<i>2015-05-20</i></li>
          		<li>这里是回复内容<i>2015-05-20</i></li>
              <li>这里是回复内容<i>2015-05-20</i></li>
          </ul>
          <div class="reply-form g-d-hide">
            <textarea maxlength="140" name="reply"></textarea>
            <span class="reply-sure" data-id="85">确定</span>
            <span class="reply-cance">取消</span>
          </div>
        </div>
      </dd>
      
      
      
      
      <!--模板14--评论模板2-->
      <dd data-id="1">
          <div class="comment-imgwrap">
              <img alt="" src="../../images/designer.jpg">
          </div>
          <div class="comment-listitem">
              <h3>当初何必太认真
                  <i class="article-number">[346篇]</i>
                  <i class="article-icon">人气</i>
                  <em class="comment-icon" data-id="1"><i></i>47</em>
                  <em class="store-icon" data-id="1"><i></i>836</em>
                  <em class="brower-icon" data-id="1"><i></i>592</em>
              </h3>
              <p>
                  <span>672<sup>2</sup></span>
                  <span>现代</span>
                  <span>56</span>
              </p>
              <ul class="reply-listwrap">
              		<li>回复评论区域
                      <div>
                          <span>3张</span>
                          <img alt="" src="../../images/hot_case.jpg">
                          <img alt="" src="../../images/hot_case.jpg">
                          <img alt="" src="../../images/hot_case.jpg">
                      </div>
                      <p>2015-05-20</p>
                  </li>
                  <li>回复评论区域
                      <div>
                          <span>2张</span>
                          <img alt="" src="../../images/hot_case.jpg">
                          <img alt="" src="../../images/hot_case.jpg">
                      </div>
                      <p>2015-05-20</p>
                  </li>
              </ul> 
              <div class="reply-form">
                  <textarea maxlength="500" name="reply"></textarea>
                  <span class="reply-sure" data-id="1">确定</span>
                  <span class="reply-cance">取消</span>
              </div>
          </div>
      </dd>
      
      
      
      
      <!--模板15--装修攻略--装修日记--内容评论与回复-->
      <dd data-id="1">
          <div class="comment-listitem">
              <h3>
                  <p class="dt-theme">2015-05-20</p>
                  随随便便装修下，小子不才，晒晒图，望大家七嘴八舌下
                  <div class="img-theme">
                      <img alt="" src="../../images/marquee/marquee6.jpg">
                      <img alt="" src="../../images/marquee/marquee3.jpg">
                      <img alt="" src="../../images/marquee/marquee5.jpg">
                  </div>
              </h3>
              <h3>
                <div class="icon-theme">
                    <img alt="" src="../../images/designer.jpg">
                </div>
                <em class="reply-btn g-d-hidei">回复</em>
                <p class="dt-theme">2015-05-20</p>
                  随随便便装修下，小子不才，晒晒图，望大家七嘴八舌下   
              </h3>
              <ul class="reply-listwrap g-d-hidei">
                  <li>这里是回复内容<i>2015-05-20</i></li>
                  <li>这里是回复内容<i>2015-05-20</i></li>
                  <li>这里是回复内容<i>2015-05-20</i></li>
              </ul>
              <div class="reply-form g-d-hidei">
                <textarea maxlength="140" name="reply"></textarea>
                <span class="reply-sure" data-id="85">确定</span>
                <span class="reply-cance">取消</span>
              </div>
          </div>
      </dd>
      
      
      <!--模板16-->
      <!--模板17-->
    
</body>
</html>
