@charset "utf-8";
/* CSS Document */
*{
margin:0;
padding:0;
}
#container{
width:960px;
margin:10px 0;
}
#container:after{
display:block;
visibility:hidden;
font-size:0;
line-height:0;
clear:both;
content:"";



}
#header{
width:960px;
height:120px;
background-color:#009999;
font-size:40px;
text-align:center;
color:#99FF00;
}
#footer{
width:960px;
height:100px;
background-color:#00CCFF;
text-align:center;
font-size:40px;
clear:both;
}
.maincontainer{
float:left;
width:680px;
background-color:#996600;
font-size:40px;
}
.sidecontainer{
float:right;
width:270px;
background-color:#996666;
font-size:40px;

}













