///*--公共样式全局模块--*/
.g-fill{
	background:@color-white url(../images/web_bg.png) repeat 0 0;
	.layout-relative-base(0,0,1);
}
.container{
	margin:0 auto;
	width:1003px;
	background:@color-white;
	min-height:400px;
	display:table;
}
.main-wrap{
	width:860px;
	float:right;
}
.main-box{
	width:840px;
	margin:0 auto;
	padding:20px 0 80px 0;
}











