///*--头部模块--*/
.mainmenu-wrap{
	.layout-float-base;
	background:@color-gray10;
	border-bottom:1px solid @color-gray7;
	min-height:70px;
	min-width:1003px;
}
.mm-box{
	margin:0 auto;
	height:90px;
	width:1003px;
	.layout-relative-base(0,0,10);
}
.mm-logo{
	float:left;
	background:e('url(../images/web_logo.png) no-repeat center center;*+background:url(../images/web_logo_ie.png) no-repeat center center;');
	min-width:137px;
	min-height:e('67px;_width:137px;_height:67px');
	margin:10px 0 10px 0;
}
.mm-active{
	 float:right;
	 height:30px;
	 margin:10px 0 0 0;
	 font-size:@font-size-base;
	 .text-unselect;
	 &:after{
		  clear:both;
	 }
	 >li{
		 .layout-relative-base(0,0,20);
		 float:left;
		 cursor:pointer;
		 color:@color-gray2;
		 margin:0 10px;
	 } 
}
li.mm-a1 span{
	font-weight:bold;
}
li.mm-a2{
	color:@color-blue1;
	.layout-relative-base(0,0,50);
	span{
		width:16px;
		height:20px;
		display:inline-block;
		text-align:center;
		color:@color-gray2;
		&:after{
			content:'\01cb';
			font-family:'ux';
			font-size:@font-size-small;
		}
		&.subitem:after{
			content:'\01c8';
			font-family:'ux';
			font-size:@font-size-small;
		}
	}
	ul{
		display:none;
		.layout-absoluter-base(0,20px,50);
		.box-sizing-base;
		padding:10px 15px 15px 15px;
		min-width:100px;
		height:auto;
		background:@color-white;
		.border-radius-base(3px);
		border:1px solid @color-gray6;
		.box-shadow-base(0 0 3px @color-gray7);
		li{
			.layout-float-base;
			cursor:pointer;
			a{
				.text-of;
				font-size:@font-size-small;
				text-align:left;
				color:@color-gray2;
				width:100%;
				display:block;
				text-indent:10px;
				padding:4px 0 5px 0;
				border-bottom:1px dotted @color-gray7;
				&:hover{
					.transition-base(all .2s ease .05s);
					border-bottom:1px solid @color-red2;
				}
			}
		}	
	}
}
li.mm-a3{
	color:@color-red;
}
.mm-a1:before{
	font-family:'ux';
	content:'\0152';
	padding:0 3px 0 0;
}
.mm-a2:before{
	font-family:'ux';
	content:'\0150';
	padding:0 3px 0 0;
	color:@color-gray2 !important;
}
.mm-a3:before{
	border:2px solid @color-gray3;
	width:6px;
	height:10px;
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
	content:'';
	margin:0 8px 0 0;
}
.mm-a3:after{
	.layout-absolutel-base(4px,7px,10);
	content:'\2192';
	line-height:8px;
	width:14px;
	height:8px;
	overflow:hidden;
	text-indent:-6px;
	font-size:@font-size-base + 6;
	font-weight:bold;
	color:@color-gray2 !important;
}
.mm-menuitem{
	height:50px;
	.layout-absoluterb-base(0,-1px,2);
	.text-unselect;
	li{
			height:50px;
			font-size:@font-size-base;
			line-height:42px;
			float:left;
			margin:0 5px;
			padding:0 10px;
			a{
				height:48px;
				display:e('inline-block;_display:inline');
				text-align:center;
				color:@color-gray2;
				&:hover{
					color:@color-red;
				}
			}
			div{
				height:e('2px;_display:inline;');
				background:transparent;
			}
			&:hover{
				a{
					color:@color-red;
				}
				div{
					background:@color-red;
				}
			}
	}
}

///*ie6-ie7 Support(兼容)*/
li.mm-a1,li.mm-a2,li.mm-a3{
	 float:e('left;_color:#333;_float:left;_margin:0 5px;relative;_left:0;_top:0;_z-index:20');
}
li.mm-a1{
	cursor:e('pointer;*+text-indent:16px;*+background: url(../images/web_usernameicon_ie.png) no-repeat left center !important');
}
li.mm-a2{
	cursor:e('pointer;_color:#1687d8;*+text-indent:16px;*+background: url(../images/web_homeicon_ie.png) no-repeat left center !important');
	span{
		text-align:e('center;*+background: url(../images/web_hideicon_ie.png) no-repeat center center !important');
	}
	span.subitem{
		text-align:e('center;*+background: url(../images/web_showicon_ie.png) no-repeat center center !important');
	}
}
li.mm-a3{
	cursor:e('pointer;_color:#d91616;*+text-indent:16px;*+background: url(../images/web_exiticon_ie.png) no-repeat left center !important');
}

/*.mm-menuitem{
	height:50px;
	.layout-absoluterb-base(0,-1px,20);
	.text-unselect;
	li{
			height:50px;
			font-size:@font-size-base;
			line-height:42px;
			float:left;
			margin:0 5px;
			padding:0 10px;
			a{
				text-align:center;
				color:@color-gray2;
			}
			div{
				width:100%;
				height:e('2px;_height:0px');
				background:transparent;
			}
			&:hover{
				a{
					color:@color-red;
				}
				div{
					background:@color-red;
				}
			}
	}
}*/