///*--(包含图片)列表模块--*/
.list-default-wrap{
		.layout-float-base;
		padding:0 10px;
		li{
			background:rgba(250,250,250,1.00);
			.layout-float-base;
			.border-radius-base(5px);
			.box-shadow-items(0 0 2px @color-white inset e(',') 0 1px 2px @color-gray6);
			padding:10px 10px;
			border:1px solid @color-gray4;
			height:80px;
			min-height:80px;
			margin:5px 0 2px 0;
		}
		a{
			.layout-relative-base(0,0,5);
			width:100%;
			height:100%;
			display:block;
		}
		img{
			 .layout-absolutel-base(0,0,10);
			 width:60px;
			 height:60px;
			 display:block;
		}
		h3{
			.layout-float-base;
			font-weight:normal;
			padding:0 0 0 70px;
			font-size:@font-size-default;
			color:@color-gray2;
		}
		
}