///*--加载更多模块--*/
.load-more-wrap{
	.layout-float-base;
	margin:10px 0 50px 0;
	p,a{
			width:80%;
			margin:5px auto;
			text-align:center;
			padding:8px 0;
			background:@color-gray10;
			.border-radius-base(3px);
			color:@color-gray9;
			font-size:@font-size-small;
			text-shadow:1px 1px 0 @color-gray5;
			.text-of;
	}
	p{
		cursor:pointer;
	}
	a{
		display:block;
	}
}