///*--搜索模块--*/
.search-def-wrap{
	.layout-float-base;
	.layout-relative-base(0,0,5);
	margin:5px 0;
	height:auto;
	input{
		.box-sizing-base(border-box) !important;
		width:100%;
		float:left;
		height:44px;
		.border-radius-base(44px);
		padding:12px 50px 12px 20px;
		color:@color-gray3;
		font-size:@font-size-base;
		border:1px solid @color-gray4;
		&:focus{
			border:1px solid @color-red;
			.transition-base(all,ease-in,0.2s,0.1s);
		}
	}
	button{
		.layout-absoluter-base(0,2px,10);
		.reset-base1;
		font-family:'ux';
		background:transparent;
		height:40px;
		width:50px;
		display:block;
		line-height:40px;
		color:@color-gray4;
		text-align:center;
		font-size:@font-size-base + 14;
	}
}