@charset "utf-8";
/* CSS Document */
.out{ 
   border-top:40px #D6D3D6 solid;/*上边框宽度等于表格第一行行高*/ 
   width:0px;/*让容器宽度为0*/ 
   height:0px;/*让容器高度为0*/ 
   border-left:80px #BDBABD solid;/*左边框宽度等于表格第一行第一格宽度*/        
  position:relative;/*让里面的两个子容器绝对定位*/ 
}
b{font-style:normal;
display:block;
position:absolute;
top:-40px;
left:-40px;
width:35px;
} 
em{font-style:normal;
display:block;position:
absolute;
top:-25px;
left:-70px;
width:55x;
} 

