///*--variables:font-icon variables --*/
@ux-font-url:'fonts/ux/';
@ux-font-name:uxiconfont;
///*--variables:font--*/
@fontfamliy-base:'微软雅黑','雅黑','Microsoft YaHei','YaHei','\5FAE\8F6F\96C5\9ED1','宋体','\5B8B\4F53',sans-serif;
@font-size-base:14px;
@font-size-small:@font-size-base - 2;
@font-size-default:@font-size-base + 2;
@font-size-large:@font-size-base + 4;
@font-size-bigger:@font-size-base + 10;
///*-- variables:color --*/
@color-type:color;
@color-base:rgba(0,0,0,1.00);
@color-white:rgba(255,255,255,1.00);
@color-red:rgba(217,22,22,1.00);
@color-orange:rgba(242,109,0,1.00);
@color-green:rgba(18,179,18,1.00);
@color-gray1:rgba(46,46,46,1.00);
@color-gray2:rgba(51,51,51,1.00);
@color-gray3:rgba(102,102,102,1.00);
@color-gray4:rgba(242,242,242,1.00);
@color-gray5:rgba(153,153,153,1.00);
@color-gray6:rgba(170,170,170,1.00);
@color-gray7:rgba(187,187,187,1.00);
@color-gray8:rgba(204,204,204,1.00);
@color-gray9:rgba(221,221,221,1.00);
@color-gray10:rgba(238,238,238,1.00);


///*-- mimins --*/
.box-sizing-base(@boxsizing){
	-moz-box-sizing:@boxsizing;	
	-webkit-box-sizing:@boxsizing;
	box-sizing:@boxsizing;
}
.border-radius-base(@radius){
	-moz-border-radius:@radius;
	-ms-border-radius:@radius;
	-o-border-radius:@radius;
	-webkit-border-radius:@radius;
	border-radius:@radius;
}
.box-shadow-base(@shadow){
	-moz-box-shadow:@shadow;
	-ms-box-shadow:@shadow;
	-o-box-shadow:@shadow;
	-webkit-box-shadow:@shadow;
	box-shadow:@shadow;
}
.color-base-text(@color){
	@{color-type}:@color;
}
.color-base-bg(@color){
	background-@{color-type}:@color;
}


/*--图标字体--*/
@font-face{
    font-family:"ux";
    src:url('@{ux-font-url}@{ux-font-name}.eot');
    src:url('@{ux-font-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-url}@{ux-font-name}.svg#svgFontName') format('svg');
}
/*--重置样式--*/
html{font-family:@fontfamliy-base;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,audio,canvas,progress,video{margin:0;padding:0;border:0;border:0 none;vertical-align:baseline;font-size:100%/1.6;}
ul,ol{list-style:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
svg:not(:root){overflow:hidden;}
[hidden],template{display:none;}
a{background:transparent;text-decoration:none;color:@color-base;}
a:active,a:hover{outline:0;}
:focus{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
h1{margin:.67em 0;font-size:2em;}
mark{background:#ff0;color:@color-base;}
small{font-size:80%;}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{.box-sizing-base(content-box);height:0;}
pre{overflow:auto;}
code,kbd,pre,samp{font-size:1em;font-family:monospace;}
button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit;}
button{overflow:visible;border:none;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;outline:0;}
input{line-height:normal;}
input,textarea{outline:0;border:none;}
input:required,input:valid,input:invalid,textarea:required,textarea:valid,textarea:invalid{outline:0 none;outline:0;.box-shadow-base(none);} 
input[type="checkbox"],input[type="radio"]{.box-sizing-base(border-box);padding:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{.box-sizing-base(content-box);-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid @color-gray8;}
textarea{overflow:auto;resize:none;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{
	clear:both;
	visibility:hidden;
	width:0;
	height:0;
	line-height:none;
	zoom:1;
	&:after {
		clear:both;display:block;visibility:hidden;height:0;content:"";
	}
	&::after{
		content:"";
	}
}



/*--头部--*/
/*.rg-mheaderwrap,.rg-sheaderwrap{width:100%;position:relative;left:0;top:0;}
.rg-mheaderwrap{height:auto;background-color:rgba(217,22,22,1.00);}
.rg-sheaderwrap{height:auto;}*/
/*--底部 modified by dege 20141107--*/
/*.rg-footerwrap{width:100%;position:relative;left:0;top:0;}
.rg-footer-side{ width:100%;height:40px;border-bottom:1px solid #aaa;line-height:40px;clear:both; padding:0 10px; box-sizing:border-box;}
.rg-fs1{float:left;width:60%;height:40px;text-align:left;font-size:14px;color:#333;}
.rg-fs1 a{color:#444;vertical-align:middle;}
.rg-fs1 span{color:#444; padding:0 5px; vertical-align:middle;}
.rg-fs2{float:right;width:40%;height:40px;text-align:right;font-size:14px;color:#333;cursor:pointer;}
.rg-footer-main{width:100%; clear:both; padding: 10px 0;}
.rg-footer-main p{ width:100%;height:20px; line-height:20px;text-align:center; font-size:14px;}*/
/*--* 底部 modified by dege 20141107--*/
/*--全局--*/
/*.rg-c-white{color:rgba(255,255,255,1.00);}
.rg-c-red{color:rgba(217,22,22,1.00);}
.rg-c-orange{color:rgba(242,109,0,1.00);}
.rg-c-green{color:rgba(18,179,18,1.00);}
.rg-c-gray1{color:rgba(46,46,46,1.00);}
.rg-c-gray2{color:rgba(51,51,51,1.00);}
.rg-c-gray3{color:rgba(102,102,102,1.00);}
.rg-c-gray4{color:rgba(242,242,242,1.00);}
.rg-c-gray5{color:rgba(153,153,153,1.00);}
.rg-c-gray6{color:rgba(170,170,170,1.00);}
.rg-c-gray7{color:rgba(187,187,187,1.00);}
.rg-c-gray8{color:rgba(204,204,204,1.00);}
.rg-c-gray9{color:rgba(221,221,221,1.00);}
.rg-c-gray10{color:rgba(238,238,238,1.00);}
.rg-fill{background-color:rgba(255,255,255,1.00);}
.rg-b-white{background-color:rgba(255,255,255,1.00) !important;}
.rg-b-red{background-color:rgba(217,22,22,1.00);}
.rg-b-orange{background-color:rgba(242,109,0,1.00);}
.rg-b-green{background-color:rgba(18,179,18,1.00);}
.rg-b-gray1{background-color:rgba(46,46,46,1.00);}
.rg-b-gray2{background-color:rgba(51,51,51,1.00);}
.rg-b-gray3{background-color:rgba(102,102,102,1.00);}
.rg-b-gray4{background-color:rgba(242,242,242,1.00);}
.rg-b-gray5{color:rgba(153,153,153,1.00);}
.rg-b-gray6{color:rgba(170,170,170,1.00);}
.rg-b-gray7{color:rgba(187,187,187,1.00);}
.rg-b-gray8{color:rgba(204,204,204,1.00);}
.rg-b-gray9{color:rgba(221,221,221,1.00);}
.rg-b-gray10{color:rgba(238,238,238,1.00);}
.rg-offix{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.rg-ofwb{word-break:break-all;word-wrap:break-word;}
.rg-nstxt{-moz-user-select: none;-o-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select:none;user-select: none;}
.rg-br1{-moz-border-radius:1px;-ms-border-radius:1px;-o-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;}
.rg-br2{-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.rg-br3{-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.rg-br4{-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.rg-br5{-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.rg-br6{-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
.rg-br15{-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.rg-fl{float:left;}
.rg-fr{position:relative;left:0;top:0;z-index:20;float:right;}
.rg-p8{padding:8px;}
.rg-mar-none{ margin:0 !important;}
.rg-border-none{border:none !important;border:0 !important;*+border:0 none !important;}
.rg-nonedatawrap{width:100%;height:100%;display:table;margin:0 auto;min-height:100px;}
.rg-nonedata{width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:center;font-size:12px;color:#333;}*/
/*搜索框*/
/*.rg-logo{float:left;width:100%;margin:10px auto 0 auto;height:65px;background:transparent url(../images/rg_ec_logo.png) no-repeat center top; background-size:240px;}
.rg-sublogo{float:left;width:100%;margin:0 auto 20px auto;height:28px;background:transparent url(../images/rg_ec_sublogo.png) no-repeat center top;}
.rg-searchwrap{float:left;width:100%;height:60px;}
.rg-subsw{margin:20px auto 0 auto;}
.rg-searchwrap div{width:38em;height:60px;position:relative;left:0;top:0;margin:0 auto;text-align:center;}
.rg-searchtxt{box-sizing:border-box;width:100%;height:41px;-moz-border-radius:20px;-ms-border-radius:20px;-o-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;padding:2px 0 2px 20px;color:#666;font-size:14px;}
.rg-subsearchtxt{background:rgba(242,243,242,1.00);border:1px solid rgba(255,255,255,1.00);}
.rg-subsearchtxt:focus{border:1px solid rgba(150,150,150,1.00);background:rgba(255,255,255,1.00);-moz-transition:all ease-in 0.2s 0.1s;-ms-transition:all ease-in 0.2s 0.1s;-o-transition:all ease-in 0.2s 0.1s;-webkit-transition:all ease-in 0.2s 0.1s;transition:all ease-in 0.2s 0.1s;}
.rg-searchbtn{position:absolute;right:0;top:2px;height:41px;width:50px;display:block;background:rgba(0,0,0,0.00) url(../images/rg_searchbtn.png) no-repeat right center ;}*/
/*子页*/
/*.rg-sh-menubar{width:100%;height:44px;margin:0 auto;background-color:rgba(217,22,22,1.00);position:relative;left:0;top:0;z-index:1;}
.rg-sh-mbicon{width:40px;height:40px;overflow:hidden;cursor:pointer;position:absolute;z-index:500;}
.rg-sh-mbtxt{width:100%;height:44px;position:absolute;top:0;left:0;z-index:2;line-height:44px;text-align:center;font-size:14px;color:rgba(255,255,255,1.00);white-space:nowrap;}
.rg-sh-mbicon a{width:40px;height:40px;display:block;}
.rg-sh-mbl{left:3px;top:2px;}
.rg-sh-mbr{right:3px;top:2px;}*/
/*顶部按钮集合*/
/*.rg-sh-mbpre{background:rgba(0,0,0,0.00) url(../images/rg_iconitem.png) no-repeat 0 0;}
.rg-sh-mbtog{background:rgba(0,0,0,0.00) url(../images/rg_iconitem.png) no-repeat -40px 0;}*/
/*--导航--*/
/*.rg-menubox{width:100%;float:left;display:none;border-bottom:1px solid #ddd;}
.rg-menuwrap{width:100%;margin:0 auto;padding:10px 0;box-sizing:border-box;}
.rg-menuwrap nav{width:100%;}
.rg-menuwrap ul{width:38.5em;height:140px;margin:0 auto;}
.rg-menuwrap li{width:6.5em;height:6.5em;float:left;margin:0 1.5em;*+margin:0 0.7em;background-color:rgba(242,109,0,1.00);-moz-border-radius:3.2em;-ms-border-radius:3.2em;-o-border-radius:3.2em;-webkit-border-radius:3.2em;border-radius:3.2em;position:relative;left:0;top:0;}
.rg-menuwrap a{width:100%;height:100%;display:block;overflow:hidden;}
.rg-menuwrap a span{width:100%;height:40px;display:inline-block;position:absolute;top:100%;left:0;line-height:40px;text-align:center;color:#333;font-size:1em;}*/
/*按钮图标集合*/
/*.rg-menuhome{background:url(../images/rg_homeicon.png) no-repeat center center;}
.rg-menuproduct{background:url(../images/rg_producticon.png) no-repeat center center;}
.rg-menushopping{background:url(../images/rg_shoppingicon.png) no-repeat center center;}
.rg-menumanage{background:url(../images/rg_manageicon.png) no-repeat center center;}
.rg-edit,.rg-del{width:30px;height:30px;display:inline-block; background-color:rgba(0,0,0,0.00); background-image:url(../images/rg_tabitem.png); background-repeat:no-repeat; overflow:hidden; vertical-align:middle;}
.rg-edit{ background-position:-60px -30px;}
.rg-del{ background-position:-90px -30px;}*/