///消息列表
///作者：易品

.widget-message-wrap{
	.layout-fixedl-base(0,-200%,1000);
	.layout-base;
	height:100%;
	height:100vh;
	background:@color-white;
	@header:56px;
	.message-header{
		.layout-relative-base;
		height:@header;
		width:100%;
		background:@color-red1;
		.prev-btn{
			position:absolute;
			top:0;
			z-index:100;
			text-align:center;
			line-height:56px;
			display:inline-block;
			cursor:pointer;
			width:40px;
			height:100%;
			color:@color-white;
			font-family:'ux_eight';
			font-size:2.4rem;
			left:0;
			&:before{
				content:'\e625';
			}
		}
		.theme{
			width:100%;
			height:100%;
			line-height:56px;
			text-align:center;
			font-size:1.6rem;
			color:@color-white;
			padding:0 50px;
			.box-sizing-base;
			.user-select-base;
		}
	}
	.message-list{
		.calc-base(height,'100% - @{header}');
		.calc-base(height,'100vh - @{header}');
		overflow-y:auto;
		padding:0 0 0 20px;
		&:empty{
			padding:0;
			line-height:500px;
			text-align:center;
			background:url(../images/noinfo.png) center 120px no-repeat;
			background-size:100px auto;
			&:after{
				font-size:2.4rem;
				content:'暂无消息';
				color:@color-gray12;
			}
		}
		li{
			.layout-relative-base;
			.layout-float-base;
			border-bottom:1px solid @color-gray16;
			padding:15px 10px 15px 50px;
			height:80px;
			&:before{
				.layout-absolutel-base(0,5px);
				width:50px;
				height:100%;
				display:block;
				content:'\e64e';
				font-family:'ux_six';
				font-size:@font-size-base + 30;
				color:@color-gray9;
			}
			span,em{
				.layout-base;
				height:28px;
				color:@color-gray9;
				display:inline-block;
				overflow:hidden;
				white-space:nowrap;
				text-overflow:ellipsis;
			}
			span{
				font-size:2.2rem;
				line-height:28px;
			}
			em{
				font-size:1.6rem;
				line-height:30px;
			}
		}
		.message-new{
			span,em{
				color:@color-gray6;
			}
			&:before{
				color:@color-yellow1;
			}
			&:after{
				.layout-absolutel-base(32px,20%);
				width:12px;
				height:12px;
				display:block;
				content:'';
				background:@color-red1;
				.border-radius-base(50%);
			}
		}
	}
}
