/*--兼容版本版本--*/

///*--字体图标--*/
@font-base-url:'../fonts/';

//ux_iconfont
@ux-font-one-url:'@{font-base-url}uxone/';
@ux-font-two-url:'@{font-base-url}uxtwo/';
@ux-font-three-url:'@{font-base-url}uxthree/';
@ux-font-four-url:'@{font-base-url}uxfour/';
@ux-font-five-url:'@{font-base-url}uxfive/';
@ux-font-six-url:'@{font-base-url}uxsix/';
@ux-font-seven-url:'@{font-base-url}uxseven/';
@ux-font-eight-url:'@{font-base-url}uxeight/';
@ux-font-name:iconfont;


//typ_iconfont
@typ-font-url:'@{font-base-url}typ/';
@typ-font-name:typicons;


//elusive
@elusive-font-url:'@{font-base-url}elusive/';
@elusive-font-name:elusive;



//awesome
@awesome-font-url:'@{font-base-url}awesome/';
@awesome-font-name:awesome;


//glyphicons
@glyphicons-font-url:'@{font-base-url}glyphicons/';
@glyphicons-font-name:glyphicons;


//linecons
@linecons-font-url:'@{font-base-url}linecons/';
@linecons-font-name:linecons;


//meteocons
@meteocons-font-url:'@{font-base-url}meteocons/';
@meteocons-font-name:meteocons;

