@import 'variable/base_variable.less';
////*文章列表分组*/
.article-ll1{width:6% !important;}
.article-ll2{width:6% !important;}
.article-ll3{width:20% !important;}
.article-ll4{width:8% !important;}
.article-ll5{width:6% !important;}
.article-ll6{width:6% !important;}
.article-ll7{width:6% !important;}
.article-ll8{width:10% !important;}
.article-ll9{width:12% !important;}
.article-ll10{width:20% !important;}

///*文章操作*/
.ao-wrap{
	.layout-float-base;
	border:1px solid @color-gray7;
	background:@color-gray10 e(';*+width:836px');
	padding:30px 0 50px 0;
}

.ao-form{
	width:800px;
	margin:0 auto;
	>li{
			margin:12px 0 0 0;
	}
}














///*列表组件*/
@import 'mixins/list.less';

///*文章操作表单*/
@import 'mixins/articleform.less';

///*表单组件*/
@import 'mixins/form.less';

///*自定义file组件*/
@import 'mixins/file_plugin.less';








