@import 'variable/base_variable.less';
////*微社区列表分组*/
.community-ll1{width:4% !important;}
.communitye-ll2{width:6% !important;}
.community-ll3{width:30% !important;}
.community-ll4{width:6% !important;}
.community-ll5{width:10% !important;}
.community-ll6{width:14% !important;}
.community-ll7{width:10% !important;}
.community-ll8{width:20% !important;}

///*文章操作*/




///*列表组件*/
@import 'mixins/list.less';









