@import 'variable/base_variable.less';
.help-wrap{
	.layout-relative-base(0,0,5);
	width:860px;
	float:left;
	height:100%;
	overflow:hidden;
	ul{
		.layout-absolutel-base(0,0,1);
		min-width:860px;
		li{
			width:860px;
			float:left;
		}
	}
}

.side-wrap{
	li.help-menusel{
			a{
				color:@color-red;
				text-decoration:underline;
			}
	}
}