@import 'variable/base_variable.less';
/*--part1--*/
.welcome-column{
	.layout-float-base;
	padding:5px 0;
	margin:5px 0;
	font-size:@font-size-base;
	font-family:'微软雅黑','雅黑','Microsoft YaHei','YaHei','\5FAE\8F6F\96C5\9ED1';
	color:@color-gray3;
	span{
		padding:0 5px;
		color:@color-red2;
	}
}
.theme-column{
 	.layout-float-base;
	padding:10px 0;
	height:70px;
	margin:0 0 10px 0;
	background:@color-gray10;
	border-bottom:1px solid @color-gray8;
	li{
		.box-sizing-base;
		width:25%;
		height:100%;
		border-right:1px dashed @color-gray5;
		float:left;
		h3,div{
			width:100%;
			height:50%;
			text-align:center;
			.text-of;
		}
		h3{
			font-size:@font-size-default + 2;
			font-family:'微软雅黑','雅黑','Microsoft YaHei','YaHei','\5FAE\8F6F\96C5\9ED1';
			line-height:30px;
		}
		div{
			font-size:@font-size-small;
			line-height:20px;
		}
		&:nth-child(1){
			h3{
				color:@color-red2;
			}
			div{
				color:@color-gray3;
			}
		}
		&:nth-child(2){
			h3{
				color:@color-blue1;
			}
			div{
				color:@color-gray3;
			}
		}
		&:nth-child(3){
			h3{
				color:@color-gray3;
			}
			div{
				color:@color-gray3;
			}
		}
		&:nth-child(4){
			border-right:none;
			h3{
				color:@color-gray5;
			}
			div{
				color:@color-gray5;
			}
		}
		&.theme-column-ie{
			border-right:e('none;*+width:24%');
		}
	}
}

/*--part2--*/
.module-column{
	.layout-float-base;
	margin:10px 0;
	background:@color-white;
}
.mc-itemimg,
.mc-itemdata,
.mc-itemlist{
	.layout-float-base(25%,border-box,left);
	height:280px;
	div{
		background:@color-gray10;
		.box-sizing-base;
		height:100%;
		width:100%;
	}
	h3,
	p{
		width:100%;
		text-align:center;
		.text-of;
	}
	h3{
		height:50px;
		line-height:60px;
		color:@color-gray3;
		font-size:@font-size-default;
		font-weight:bold;
	}
	p{
		height:30px;
		line-height:20px;
		color:@color-gray2;
		font-size:@font-size-small;
	}
}
.mc-itemimg{
	padding:e('0 8px 0 0;*+width:200px');
	div{
		border:4px solid @color-gray10;
		background:@color-white;
	}
	h3{
		color:@color-red;
	}
	a{
		display:block;
		width:100%;
		height:190px;
		margin:0 auto;
		img{
			display:block;
			vertical-align:middle;
			max-width:148px;
			max-height:148px;
			overflow:hidden;
			margin:15px auto 0 auto;
		}
	}
}
.mc-itemdata{
	padding:e('0 8px;*+width:192px');
	div{
		border:3px solid @color-gray10;
	}
	ul{
		width:100%;
	}
	li{
		.layout-float-base(50%,border-box,left);
		height:e('98px;*+height:95px;*+width:92px;');
		border:2px solid @color-gray10;
		background:@color-white;
		h4,span{
			width:100%;
			height:50%;
			text-align:center;
			.text-of;
		}
		h4{
			line-height:70px;
			font-size:@font-size-default;
			color:@color-gray3;
			font-family:'微软雅黑','雅黑','Microsoft YaHei','YaHei','\5FAE\8F6F\96C5\9ED1';
		}
		span{
			display:block;
			line-height:20px;
			font-size:@font-size-small;
			color:@color-gray2;
		}
	}
}
.mc-itemlist{
	padding:e('0 0 0 8px;*+width:200px;_width:180px');
	div{
		border:3px solid rgba(240,245,244,1.00);
		background:rgba(240,245,244,1.00);
	}
	ul{
		width:90%;
		height:200px;
		margin:0 auto;
		li{
			width:100%;
			float:left;
			height:30px;
			border-bottom:1px solid @color-white;
			a{
				width:100%;
				height:100%;
				display:block;
				line-height:30px;
				font-size:@font-size-small;
				.text-of;
				text-indent:10px;
				&:hover{
					text-decoration:underline;	
				}
			}
		}
	}
}

.mc-itemlist-more{
	display:block;
	height:20px;
	width:100%;
	line-height:20px;
	text-align:center;
	font-size:@font-size-small;
	.text-of;
	text-indent:e('120px;_text-indent:100px');
	&:hover{
		color:@color-red2;
		text-decoration:underline;
	}
}

/*--part3--*/
.template-type{
	.layout-float-base;
	.template-theme{
		height:30px;
		width:100%;
		background:@color-gray10;
		h3,h3+span{
			.text-of;
			height:100%;
			float:left;
			line-height:30px;
			width:40%;
		}
		h3{
			text-align:left;
			text-indent:10px;
			float:left;
			color:@color-gray3;
			+span{
				display:inline-block;
				vertical-align:middle;
				padding:0 0 0 3px;
				color:@color-red2;
				text-indent:0;
				font-size:@font-size-small;
				a{
					color:@color-red2;
				}
			}
			&,span{
				font-size:@font-size-base;
			}
			span{
				color:@color-blue1;
			}
		}
		h3+span{
			float:right;
			margin:0 10px 0 0;
			text-align:right;
			cursor:pointer;
			.text-unselect;
			&:hover{
				text-decoration:underline;
			}
		}
	}
	.template-img{
		.layout-float-base;
		margin:10px 0 0 0;
		height:260px;
		border-left:1px solid @color-gray7;
		border-top:1px solid @color-gray7;
		border-right:1px solid @color-gray7;
		border-bottom:5px solid @color-gray3;
		padding:e('10px 20px;*+padding:10px 0');
		img{
			.box-sizing-base;
			max-width:100%;
			max-height:100%;
			display:block;
			margin:0 auto;
			overflow:hidden;
		}
	}
}
