@import 'variable/base_variable.less';
///*模板列表*/
.template-type{
	.layout-float-base;
	margin:10px 0;
	.template-theme{
		height:30px;
		width:100%;
		background:@color-gray10;
		h3,h3+span{
			.text-of;
			height:100%;
			float:left;
			line-height:30px;
			width:40%;
		}
		h3{
			text-align:left;
			text-indent:10px;
			float:left;
			color:@color-gray3;
			+span{
				display:inline-block;
				vertical-align:middle;
				padding:0 0 0 3px;
				color:@color-red2;
				text-indent:0;
				font-size:@font-size-small;
			}
			&,span{
				font-size:@font-size-base;
			}
			span{
				color:@color-blue1;
			}
		}
		h3+span{
			float:right;
			margin:0 10px 0 0;
			text-align:right;
			cursor:pointer;
			.text-unselect;
			&:hover{
				text-decoration:underline;
			}
		}
	}
	.template-img{
		.layout-float-base;
		padding:e('10px 20px;*+padding:10px 0');
		margin:10px 0 0 0;
		border-left:1px solid @color-gray7;
		border-top:1px solid @color-gray7;
		border-right:1px solid @color-gray7;
		border-bottom:5px solid @color-gray3;
		background:@color-white;
		height:260px;
		img{
			.box-sizing-base;
			max-width:100%;
			max-height:100%;
			display:block;
			margin:0 auto;
			overflow:hidden;
		}
	}
	&:nth-child(n+2) div h3+span{
		.border-radius-base(3px);
		color:@color-white;
		background:@color-red2;
		width:auto !important;
		padding:0 15px;
		height:26px;
		margin-top:2px;
		line-height:26px;
		&:after{
			content:'启用';
		}
	}
}

///*模板分页*/
.tempage-page{
	.layout-float-base;
	height:30px;
}









