/*body*/
.struct-layout-wrap{
  .layout-base;
  height:100%;
  background:@color-gray16;
}

/*主体容器*/
.admin-layout-container{
  .layout-base;
  margin:0;
  padding:0;
}

/*主题*/
.admin-layout-theme1,.admin-layout-theme2,.admin-layout-theme3,.admin-layout-theme4{
  .layout-base;
  display: inline-block;
  min-height:30px;
  line-height:30px;
  .user-select-base;
}
.admin-layout-theme1,.admin-layout-theme2{
  padding:5px 30px;
  font-size:@font-size-base;
}
.admin-layout-theme1{
  color:@color-gray8;
  background:@color-gray16;
  margin:20px 0 10px 0;
  border-left:2px solid @color-info;
}
.admin-layout-theme2{
  color:@color-gray8;
  background:@color-white;
  .box-shadow-base(0 1px 4px 0 @color-gray13);
  .border-radius-base(0 3px 3px 0);
  margin:5px 0 10px 0;
  border-left:2px solid @color-info;
  &:empty{
    display:none;
  }
}
.admin-layout-theme3{
  color:@color-gray3;
  padding:20px 0;
  font-size:@font-size-base + 4;
}
.admin-layout-theme4{
  color:@color-gray3;
  padding:5px 0;
  font-size:@font-size-base;
}
.admin-theme-close{
  .layout-relative-base;
  .admin-mini-icon1{
    .layout-absoluter-base(8px,50%);
    margin-top:-8px;
    cursor: pointer;
  }
}


/*编辑操作按钮*/
.btn-action{
  width:16px;
  height:16px;
  vertical-align: middle;
  padding:0;
  overflow: hidden;
  display:inline-block;
}
.admin-btn-action1 {
  background-image: url(../images/btn_action.png);
  background-position: 0px 0px;
}
.admin-btn-action2 {
  background-image: url(../images/btn_action.png);
  background-position: -16px 0px;
}
.admin-btn-action3 {
  background-image: url(../images/btn_action.png);
  background-position: 0px -16px;
}
.admin-btn-action4 {
  background-image: url(../images/btn_action.png);
  background-position: -16px -16px;
}
.admin-btn-action5 {
  background-image: url(../images/btn_action.png);
  background-position: -32px 0px;
}
.admin-btn-action6 {
  background-image: url(../images/btn_action.png);
  background-position: -32px -16px;
}
.admin-btn-action7 {
  background-image: url(../images/btn_action.png);
  background-position: 0px -32px;
}
.admin-btn-action8 {
  background-image: url(../images/btn_action.png);
  background-position: -16px -32px;
}


/*主题图标*/
.theme-icon{
  vertical-align: middle;
  padding:0;
  overflow: hidden;
  display:inline-block;
  width: 20px;
  height: 20px;
}
.admin-theme-icon1 {
  background-image: url(../images/theme_icon.png);
  background-position: 0px 0px;
}
.admin-theme-icon2 {
  background-image: url(../images/theme_icon.png);
  background-position: -20px 0px;
}
.admin-theme-icon3 {
  background-image: url(../images/theme_icon.png);
  background-position: 0px -20px;
}
.admin-theme-icon4 {
  background-image: url(../images/theme_icon.png);
  background-position: -20px -20px;
}


/*迷你图标*/
.mini-icon{
  vertical-align: middle;
  padding:0;
  overflow: hidden;
  display:inline-block;
  width: 16px;
  height: 16px;
}
.admin-mini-icon1 {
  background-image: url(../images/mini_icon.png);
  background-position: 0px 0px;
  cursor: pointer;
}
.admin-mini-icon2 {
  background-image: url(../images/mini_icon.png);
  background-position: -16px 0px;
}
.admin-mini-icon3 {
  background-image: url(../images/mini_icon.png);
  background-position: 0px -16px;
}
.admin-mini-icon4 {
  background-image: url(../images/mini_icon.png);
  background-position: -16px -16px;
}


/*商品缩略图1*/
.admin-thumbnail-widget1{
  background:@color-white;
  .box-sizing-base;
  min-width:40px;
  min-height:40px;
  max-width:80px;
  max-height:80px;
  overflow:hidden;
  text-align: center;
  border:1px solid @color-gray14;
  padding:3px;
  &:empty{
    &:before,
    &::before{
      content:'暂无图片';
      display: block;
      width:100%;
      height:100%;
      line-height:70px;
      color:@color-gray10;
      font-size:@font-size-base;
    }
  }
  img{
    display:inline-block;
    width:100%;
    height:100%;
  }
}
/*商品缩略图2*/
.admin-thumbnail-widget2{
  .layout-base;
  width:252px;
  height:122px;
  padding:5px;
  border:1px solid @color-gray14;
  .border-radius-base(3px);
  background:@color-white;
  margin:0 auto;
  .goods-img,
  .goods-remark,
  .goods-theme{
    .box-sizing-base;
    display:block;
    float:left;
    .no-outline-base;
  }
  .goods-img{
    width:80px;
    height:80px;
    overflow:hidden;
    img{
      display:block;
      .layout-base;
      padding:2px;
      background:@color-white;
      height:100%;
      border:1px solid @color-gray14;
    }
  }
  .goods-remark{
    width:160px;
    height:80px;
    text-align:left;
    font-size:@font-size-small;
    font-style:normal;
    line-height:20px;
    padding:0 0 0 10px;
    overflow:hidden;
    color:@color-gray10;
  }
  .goods-theme{
    width:100%;
    text-align:left;
    height:25px;
    border-top:1px dashed @color-gray12;
    line-height:25px;
    margin:5px 0 0 0;
    font-size:@font-size-small;
    color:@color-gray6;
    overflow:hidden;
  }
}

/*商品子订单信息*/
.admin-order-widget1,
.admin-order-widget2{
  .layout-base;
  background:@color-white;
  border:1px solid @color-gray14;
  .text-ww;
  li{
    .layout-base;
    display:inline-block;
    min-height:24px;
    color:@color-gray9;
    line-height: 24px;
  }
}
.admin-order-widget1{
  padding:5px 30px 15px 10px;
  &:not(:empty){
    .layout-relative-base;
    &:after,
    &::after{
      @noempty:20px;
      .layout-absoluterb-base;
      width:@noempty;
      height:@noempty;
      display:block;
      line-height:@noempty;
      text-align:center;
      overflow: hidden;
      background:@color-gray16;
      color:@color-gray10;
      font-size:@font-size-base - 2;
      content:attr(data-id);
    }
  }
  &:hover{
    .transition-base(border .3s ease-in .02s);
    border:1px dashed @color-red1;
  }
  li{
    div{
      display:inline-block;
      padding:0 0 0 5px;
    }
  }
}
.admin-order-widget2{
  padding:5px 10px;
  li{
    .admin-img{
      .layout-base(120px);
      height:80px;
      padding:2px;
      display: inline-block;
      overflow: hidden;
      img{
        max-width:100%;
        max-height:100%;
      }
    }
  }
}


/*ul列表组件*/
.admin-grid-widget{
  .box-sizing-base;
  overflow: auto;
  li{
    float:left;
    .box-sizing-base;
    text-align: center;
    font-size:@font-size-base;
    .text-of;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}
.admin-grid-widget1{
  background:@color-white;
  border:1px solid @color-gray12;
  .user-select-base;
  &:empty{
    min-height:120px;
    &:before,
    &::before{
      content:'暂无数据';
      display: inline-block;
      text-align: center;
      line-height: 120px;
      color:@color-gray9;
      font-size:@font-size-base;
      width:100%;
      height:100%;
    }
  }
  li{
    text-align: center;
    height:40px;
    padding:10px;
    line-height:20px;
    color:@color-gray6;
    border-right:1px solid @color-gray16;
    border-bottom:1px solid @color-gray16;
    &:hover{
      background:@color-gray14;
    }
  }
  .action-list-active{
    background:lighten(@color-blue3,36%);
    &:hover{
      background:lighten(@color-blue3,36%);
    }
  }
}


/*商品标签*/
.admin-attrlabel-widget1{
  font-size:0;
  display:inline-block;
  .box-sizing-base;
  border:1px solid @color-gray14;
  padding:0;
  margin:8px 5px 3px 5px;
  background:@color-white;
  .border-radius-base(0 3px 3px 0);
  span{
    .layout-relative-base;
    font-size:@font-size-base - 2;
    display:inline-block;
    .box-sizing-base;
    padding:5px 20px;
    margin:0;
    background:@color-white;
    color:@color-gray9;
    cursor: pointer;
    border-left:1px solid @color-gray14;
    &:first-child{
      border-left:none !important;
    }
    &:hover{
      background:lighten(@btn-success-bg,45%);
    }
  }
  .attrlabel-active{
    &:before{
      .layout-absolutel-base;
      .layout-base;
      height:100%;
      border:1px solid @color-red2;
      font-size:@font-size-base - 2;
      line-height:8px;
      text-align: left;
      content:'\e601';
      font-family:'ux_six';
      color:@color-red2;
    }
  }
  &:before{
    font-size:@font-size-base - 2;
    display:inline-block;
    height:100%;
    .box-sizing-base;
    padding:5px 3px;
    background:@color-red2;
    content:attr(data-name)':';
    color:@color-white;
  }
}


/*菜单操作条*/
.admin-action-item{
  /*公共函数*/
  /*图标*/
  .dt-icon(){
    background:@color-white;
    display:inline-block;
    border:1px solid @color-gray12;
    text-align: center;
    font-size:@font-size-base + 8;
    overflow: hidden;
    max-width:36px;
    min-width:28px;
    height:100%;
    content:'\e723';
    text-indent: 0;
    padding:0;
    margin:0;
    font-family:'ux_two';
  }


  .layout-base;
  padding:5px 10px;
  margin:5px 0;
  min-height:40px;
  background:@color-gray17;
  span{
    display:inline-block;
    padding:0 10px;
    vertical-align: middle;
    height:30px;
    line-height:30px;
    cursor: pointer;
    color:@color-gray3;
    font-size:@font-size-base;
    white-space: nowrap;
    &:hover{
      color:@color-blue3;
    }
  }
  .action-item-btn{
    display: inline-block;
    height:30px;
  }
  .action-item-export{
    .btn-export{
      border:1px solid @color-gray12;
    }
  }

  /*偏移量*/
  .action-indent-b1{
    padding:0 0 0 1em;
    text-indent:-1em;
  }
  .action-indent-b2{
    padding:0 0 0 2em;
    text-indent:-2em;
  }
  .action-indent-b3{
    padding:0 0 0 3em;
    text-indent:-3em;
  }
  .action-indent-b4{
    padding:0 0 0 4em;
    text-indent:-4em;
  }
  .action-indent-b5{
    padding:0 0 0 5em;
    text-indent:-5em;
  }
  .action-indent-b6{
    padding:0 0 0 6em;
    text-indent:-6em;
  }

  /*输入框*/
  .action-item-input{
    display: inline-block;
    height:30px;
    label{
      .layout-base;
      line-height: 30px;
      vertical-align: middle;
      height:100%;
      white-space: nowrap;
      display:inline-block;
      color:@color-gray6;
      font-size:@font-size-base;
      font-weight:normal;
      input[type='search'],
      input[type='text'],
      select{
        display:inline-block;
        height:100%;
        background:@color-white;
        color:@color-gray6;
        &:focus{
          .box-shadow-base(none);
        }
      }
    }
  }

  .action-item-input{
    label{
      input{
        width:95%;
        margin-left:3px;
        max-width:150px;
        min-width:60px;
      }
    }
  }

  /*ul列表*/
  .action-item-ul{
    display: inline-block;
    min-height:30px;
    .action-theme{
      .layout-base;
      line-height: 30px;
      vertical-align: middle;
      height:100%;
      white-space: nowrap;
      display:inline-block;
      color:@color-gray6;
      font-size:@font-size-base;
      .user-select-base;
    }
    .action-theme-btn{
      cursor: pointer;
      background:@color-white;
      border:1px solid @color-gray12;
      &:hover{
        border:1px solid lighten(@color-blue3,10%);
      }
    }
    .action-ul{
      .box-sizing-base;
      width:0;
      height:0;
    }
    .action-list-wrap{
      .box-sizing-base;
      .layout-absoluterb-base(0,32px,100);
      width:320px;
      height:auto;
      overflow: auto;
      background:@color-white;
      border:1px solid @color-gray12;
      .user-select-base;
      li{
        float:left;
        .box-sizing-base;
        min-width:80px;
        max-width:160px;
        text-align: center;
        height:60px;
        padding:10px;
        line-height:40px;
        color:@color-gray6;
        border-right:1px solid @color-gray16;
        border-bottom:1px solid @color-gray16;
        font-size:@font-size-base;
        .text-of;
        text-overflow: ellipsis;
        cursor: pointer;
        &:hover{
          background:@color-gray14;
        }
      }
      .action-list-active{
        background:lighten(@color-blue3,36%);
        &:hover{
          background:lighten(@color-blue3,36%);
        }
      }
    }
  }

  /*图标*/
  .dt-icon-before,
  .dt-icon-after{
    .layout-relative-base;
  }
  .dt-icon-after{
    padding-right:2em;
    &:after,
    &::after{
      .layout-absoluter-base;
      .border-radius-base(0 3px 3px 0);
      .dt-icon;
    }
  }
  .dt-icon-before{
    padding-left:2em;
    &:before,
    &::before{
      .layout-absolutel-base;
      .border-radius-base(3px 0 0 3px);
      .dt-icon;
    }
  }

  .btn-action{
    margin-right:5px;
  }
}


/*表格*/
.admin-layout-table{
  /*表格全局设置*/
  width:100% !important;
  tr{
    width:100%;
  }
  th,td{
    font-size:@font-size-base - 2;
    color:@color-gray6;
  }
  thead th,
  tr th,
  tfoot th{
    .user-select-base(none);
  }
  thead th{
    background-color:@color-gray17 !important;
  }
  /*高亮设置*/
  .item-lighten{
    td,th{
      background:lighten(@btn-success-bg,45%) !important;
    }
  }
  .item-lightenbatch{
    td,th{
      background:lighten(@color-blue3,38%) !important;
    }
  }

  /*操作按钮*/
  .btn-operate{
    display:inline-block;
    padding:0 5px;
    margin:0 5px;
    cursor:pointer;
    color:@color-blue3;
    &:hover{
      color:darken(@color-blue3,20%);
      text-decoration:underline;
    }
  }

  /*表格标题*/
  caption{
    height:30px;
    line-height:25px;
    font-size:@font-size-base;
    color:@color-gray6;
    text-indent: 20px;
    .text-of;
    .user-select-base;
  }

  /*定制表单*/
  .admin-table-input{
    background-color:@color-white;
    border:1px solid #e4e4e4;
    height:30px;
    padding:5px;
    line-height:20px;
    .transition-base(border-color .15s ease-in-out 0);
    width:100%;
    &:focus{
      border-color:rgba(104,184,80,.5);
    }
  }


  /*表格全选*/
  .admin-batchitem-wrap{
    .layout-relative-base;
    .layout-base;
    height:20px;
    display: inline-block;
    vertical-align: middle;
    background:none;
  }
  .admin-batchitem-check{
    .layout-absolutel-base;
    .layout-base;
    height:100%;
    background:none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color:@color-gray6;
    font-size:@font-size-base - 2;
    .user-select-base;
    cursor: pointer;
    .transition-base(all .05s ease-in .01s);
    &:hover{
      color:@color-blue3;
    }
    &:before{
      font-size:@font-size-base;
      font-family:'ux_six';
      content:'\e662';
    }
    &:after{
      content:'全选';
    }
  }
  .admin-batchitem-checkactive{
    color:@color-blue3 !important;
    &:before{
      content:'\e663';
    }
  }
}


/*分页*/
.admin-page-wrap{
  .layout-base;
  height:50px;
  text-align: right;
}


/*表单*/
.admin-layout-form{
  .control-label{
    font-size:@font-size-base;
    color:@color-gray6;
    padding:5px 10px;
    line-height:@font-size-base + 10;
    font-weight: normal;
  }
  .form-require-item{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height:@font-size-base + 6;
    width:16px;
    height:16px;
  }

  input[readonly],
  textarea[readonly]{
    cursor: default;
    background:@color-white;
  }
  textarea{
    min-height:120px;
  }
  .form-admin-editor{
    border:none !important;
    height:0 !important;
    margin:0 !important;
    padding:0 !important;
    display:inline-block !important;
    min-height: 0 !important;
  }

  /*编辑器*/
  .ke-container{
    border:1px solid @color-gray14;
    width:100% !important;
    min-height:300px;
  }
  .validate-has-error{
    .ke-container{
      border:1px solid #cc3f44;
    }
  }
  .ke-toolbar{
    .box-sizing-base;
    padding-right:50px;
  }

  /*编辑器图片*/
  .editor-image-wrap{
    .layout-absoluter-base(5px,30px);
    width:20px;
    height:20px;
  }
  .editor-image-toggle{
    width:100%;
    height:100%;
    .user-select-base;
    &:after{
      width:100%;
      height:100%;
      display: inline-block;
      line-height:20px;
      text-align: center;
      content:'\e724';
      font-size:@font-size-base;
      color:@color-gray6;
      cursor: pointer;
      .user-select-base;
      font-family:'ux_one';
    }
  }
  .editor-image-list{
    background:@color-white;
    border:1px solid @color-gray12;
    @item-width:800px;
    .layout-relative-base;
    margin:10px 0 0 -@item-width + 20px;
    .layout-base(@item-width);
    height:200px;
    padding:40px 10px 10px 10px;
    text-align:right;
    overflow: hidden;
  }
  .editor-image-btn{
    .layout-base(90px);
    display:inline-block;
    font-size:@font-size-base - 2;
    height:24px;
    margin:-60px 10px 0 0;
    padding:2px 10px;
    line-height:20px;
  }
  .editor-image-show{
    .layout-float-base;
    height:100%;
    overflow: auto;
    margin:-20px 0 0 0;
    padding:0;
    li{
      .layout-relative-base;
      .layout-float-base(100%);
      height:40px;
      text-align: left;
      padding:5px 0 5px 50px;
      margin:0;
      text-indent:10px;
      color:@color-gray6;
      font-size:@font-size-base - 2;
      white-space:nowrap;
      line-height:30px;
      &:hover{
        background:@color-gray16;
      }
      >div{
        .layout-absolutel-base(10px,6px);
        .layout-base(34px);
        height:28px;
        overflow: hidden;
        border:1px solid @color-gray12;
        .border-radius-base(3px);
        .user-select-base;
        img{
          float:left;
          width:100%;
          height:100%;
          display: inline-block;
        }
      }
    }
  }

  /*间隙*/
  .form-gap{
    .layout-base;
    display:inline-block;
  }
  .form-gap1{
    height:5px;
  }
  .form-gap2{
    height:10px;
  }
  .form-gap3{
    height:15px;
  }
  .form-gap4{
    height:20px;
  }
  .form-clearfix{
    &:after,
    &::after{
      content:'';
      clear: both;
      display:table;
      width:100%;
      height:0;
      line-height: 0;
    }
  }


  /*自定义表单1*/
  .form-group-self1{
    @tip-height:20px;
    @input-height:48px;
    .layout-base;
    min-height:@input-height;
    padding:10px 10px;
    font-size:0;
    .self-label,
    .self-input{
      .box-sizing-base;
      display: inline-block;
      height:100%;
    }
    .self-label{
      line-height:28px;
      padding:0 10px;
      font-weight: normal;
      font-size:@font-size-base;
      color:@color-gray6;
      .self-require{
        display:inline-block;
        padding:0 3px;
        height:100%;
        vertical-align: middle;
        line-height:30px;
      }
    }
    .self-input{
      width:100%;
      input[type="text"],
      input[type="password"],
      textarea,
      select{
        .layout-base;
        border:1px solid @color-gray12;
        font-size:@font-size-base;
        color:@color-gray6;
        &:focus{
          border:1px solid @color-gray10;
        }
      }
      input[type="text"],
      input[type="password"]{
        height:100%;
        line-height:@font-size-base + 4;
        padding:5px 30px 5px 5px;
      }
      select{
        height:28px;
      }
      textarea{
        min-height:100px;
        padding:4px 5px;
        line-height:@font-size-base + 10;
      }
    }

    .self-tips{
      .box-sizing-base;
      position: absolute;
      z-index: 10;
      .user-select-base;
      display: inline-block;
      height:@tip-height;
      line-height:@tip-height;
      overflow: hidden;
    }
    .self-tips-no{
      left:0;
      bottom:-@tip-height;
    }
    .self-tips-yes{
      width:@tip-height;
      right:5px;
      top:5px;
      &:after,
      &::after{
        content:'\e624';
        font-family:'ux_seven';
        font-size:@font-size-base + 6;
        width:100%;
        height:100%;
        display: inline-block;
        color:@color-gray12;
      }
    }
  }
  /*自定义表单2*/
  .form-group-self2{
    @label-height:40px;
    @tip-height:20px;
    .layout-base;
    min-height:@label-height + 30px;
    padding:15px 0;
    font-size:0;
    .self-label,
    .self-input,
    .self-valid{
      .box-sizing-base;
      display: inline-block;
      height:100%;
    }
    /*标签*/
    .self-label{
      padding-left:@label-height;
    }
    /*验证码*/
    .self-valid{
      overflow: hidden;
      img{
        display: inline-block;
        .box-sizing-base;
        border:1px solid @color-gray12;
        height:@label-height;
        width:@label-height * 2;
        cursor: pointer;
      }
    }
    /*登陆图标*/
    .label-icon{
      &:before,
      &::before{
        cursor: pointer;
        padding:0;
        margin:0;
        content:'';
        display:inline-block;
        .layout-absolutel-base;
        width:@label-height + 2;
        height:@label-height + 2;
      }
    }
    .label-unicon{
      &:before,
      &::before{
        background:@color-gray12 url('../images/login-username-icon.png') no-repeat center center;
      }
    }
    .label-pwdicon{
      &:before,
      &::before{
        background:@color-gray12 url('../images/login-pwd-icon.png') no-repeat center center;
      }
    }
    .label-vcicon{
      &:before,
      &::before{
        background:@color-gray12 url('../images/login-validcode-icon.png') no-repeat center center;
      }
    }
    /*表单*/
    .self-input{
      .layout-base;
      border-top:1px solid @color-gray12;
      border-right:1px solid @color-gray12;
      border-bottom:1px solid @color-gray12;
      font-size:@font-size-base;
      color:@color-gray6;
      height:100%;
      line-height:@font-size-base + 2;
      padding:12px 10px + @tip-height 12px 10px;
      &:focus{
        border-color:@color-gray10;
      }
    }
    /*错误提示*/
    .self-tips{
      .box-sizing-base;
      height:@tip-height;
      position: absolute;
      z-index: 10;
      .user-select-base;
      font-weight: normal;
      line-height: @tip-height;
      overflow: hidden;
    }
    .self-tips-yes{
      width:@tip-height;
      bottom:10px;
      right:5px;
      text-align:center;
      overflow: hidden;
      &:after,
      &::after{
        content:'\e624';
        font-family:'ux_seven';
        font-size:@font-size-base + 6;
        width:100%;
        height:100%;
        display: inline-block;
        color:@color-gray12;
      }
    }
    .self-tips-no{
      width:100%;
      bottom:-@tip-height;
      right:0;
      font-size:@font-size-base;
      padding-left:@label-height;
      text-align:left;
    }
  }


  /*查看属性，颜色，尺寸*/
  .admin-list-widget{
    overflow: auto;
    background:@color-white;
    border:1px solid @color-gray12;
    .user-select-base;
    li{
      float:left;
      .box-sizing-base;
      min-width:120px;
      max-width:240px;
      text-align: center;
      height:60px;
      padding:10px;
      line-height:40px;
      color:@color-gray6;
      border-right:1px solid @color-gray16;
      border-bottom:1px solid @color-gray16;
      font-size:@font-size-base;
      .text-of;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover{
        background:@color-gray14;
      }
    }
    .admin-list-widget-active{
      background:lighten(@btn-success-bg,40%);
      &:hover{
        background:lighten(@btn-success-bg,40%);
      }
    }
  }

  .color-list-widget,
  .rule-list-widget{
    .layout-absoluter-base(-70px,36px,100);
    width:503px;
    height:239px;
  }
  .addcode-list-widget{
    .layout-absoluter-base(2px,36px,100);
    min-width:743px;
    max-width:1223px;
    height:242px;
  }


  /*表单轮播图*/
  .admin-slide-wrap{
    @itemwidth:50px;
    background:@color-white;
    .layout-base;
    min-height:480px;
    min-width:300px;
    padding:10px;
    text-align: center;
    .admin-slide-show{
      .layout-relative-base;
      .layout-base(300px);
      overflow: hidden;
      height:300px;
      margin:0 auto;
      border:1px solid @color-gray14;
    }
    .admin-slide-image{
      .layout-absolutel-base(0,0,10);
      width:100%;
      height:100%;
      display:table;
      >div{
        width:100%;
        height:100%;
        display:table-cell;
        vertical-align: middle;
        overflow: hidden;
      }
      img{
        display: inline-block;
        max-width:100%;
        max-height:100%;
      }
    }
    .admin-slide-btn{
      cursor: pointer;
      position:absolute;
      top:0;
      z-index:50;
      width:49%;
      height:100%;
      &:before,
      &&:before{
        background:rgba(255,255,255,.5);
        .border-radius-base(50%);
        position: absolute;
        font-family:'ux_eight';
        width:@itemwidth;
        height:@itemwidth;
        line-height:@itemwidth;
        margin-top:-@itemwidth/2;
        font-size:@font-size-base + 8;
        color:@color-gray3;
        top:50%;
        z-index:10;
      }
      &:hover{
        &:before,
        &&:before{
          background:rgba(255,255,255,.7);
        }
      }
    }
    .admin-slide-btnl{
      left:0;
      &:before,
      &&:before{
        text-align:right;
        left:-@itemwidth/2;
        padding-right:@itemwidth/8;
        content:'\e625';
      }
    }
    .admin-slide-btnr{
      right:0;
      &:before,
      &&:before{
        right:-@itemwidth/2;
        padding-left:@itemwidth/8;
        text-align:left;
        content:'\e63f';
      }
    }
    .admin-slide-tool{
      overflow: hidden;
      .layout-base(300px);
      height:60px;
      margin:10px auto 0 auto;
      /*&:empty{
          &:before,
          &::before{
              content:'请上传图片';
              display:block;
              width:100%;
              height:100%;
              line-height:300px;
              text-align: center;
              color:@color-red1;
          }
      }*/
      li{
        .layout-relative-base;
        .layout-float-base(50px);
        height:50px;
        margin:5px 5px 0 5px;
        overflow: hidden;
        cursor: pointer;
        border:3px solid @color-white;
        &:hover{
          border:3px solid @color-gray12;
        }
        img{
          width:100%;
          height:100%;
          display: inline-block;
        }
        span{
          .layout-absoluter-base(-20px,-20px);
          line-height: 20px;
          text-align:center;
          cursor: pointer;
          .user-select-base;
          width:20px;
          height:20px;
          background:rgba(0,0,0,.5);
          color:@color-gray14;
          &:hover{
            background:rgba(0,0,0,.8);
          }
          &:before,
          &::before{
            width:100%;
            height:100%;
            content:'\e602';
            font-family:'ux_six';
            font-size: @font-size-base + 2;
          }
        }
        .slide-delete-active{
          top:0 !important;
          right:0 !important;
        }
      }
      .admin-slide-active{
        border:3px solid @color-gray12;
      }
    }
    .admin-slide-upload{
      .layout-base(300px);
      margin:10px auto 0 auto;
      text-align:center;
      .admin-rpos-wrap{
        input[type="file"]{
          .layout-absolutel-base;
          .layout-base;
          height:100%;
          .opacity-base(0);
        }
      }
    }
  }


  /*缩略图上传地址*/
  .admin-rpos-wrap{
    .layout-relative-base;
  };
  .img-url-wrap{
    .layout-absoluterb-base(5px,2px);
    width:220px;
    height:30px;
    .img-url-item{
      .box-sizing-base;
      position: absolute;
      top:0;
      height:100%;
      margin:0;
      padding:0;
    }
    .img-url-select,
    .img-url-upload{
      z-index: 10;
      line-height:30px;
      font-size:@font-size-base - 2;
      width:48%;
    }
    .img-url-select{
      left:0;
    }
    .img-url-upload{
      right:0;
    }
    .img-url-file{
      .opacity-base(0);
      width:100%;
      left:0;
      z-index: 100;
    }
    /*切换编辑状态*/
    .toggle-edit-btn{
      position: absolute;
      left:-40px;
      .layout-base(30px);
      height:30px;
      text-align:right;
      padding:0 3px 0 0;
      line-height: 30px;
      color:@color-gray3;
      font-size:@font-size-base + 6;
      .transition-base(all .2s ease-in .03s);
      .user-select-base;
      cursor: pointer;
      &:hover{
        color:@btn-info-bg;
      }
      &:after{
        display:inline-block;
        width:100%;
        height:100%;
        font-family:'ux_four';
        content:'\e6db';
      }
    }
    .toggle-edit-btnactive{
      &:after{
        content:'\e6e6';
      }
    }

  }

  /*图片上传预览*/
  .admin-image-view{
    min-height:200px;
    .box-sizing-base;
    padding:20px;
    &:empty:after,
    &:empty::after{
      content:'请上传图片';
      text-align:center;
      display:block;
      width:100%;
      height:100%;
      font-size:@font-size-base + 10;
      line-height: 160px;
      color:@color-gray12;
    }
    img{
      width:160px;
      height:160px;
    }
  }


  /*上传按钮*/
  .admin-input-file{
    .layout-absolutel-base;
    .layout-base;
    height:100%;
    .opacity-base(0);
  }


  /*切换密码显示隐藏*/
  .toggle-display-btn{
    position: absolute;
    right:3px;
    top:28px;
    .layout-base(30px);
    height:30px;
    text-align:center;
    padding:0 3px;
    line-height: 30px;
    color:@color-gray3;
    font-size:@font-size-base;
    .transition-base(all .2s ease-in .03s);
    .user-select-base;
    cursor: pointer;
    &:hover{
      color:@btn-info-bg;
    }
    &:after{
      display:inline-block;
      width:100%;
      height:100%;
      font-family:'ux_one';
      content:'\e6d6';
    }
  }
  .toggle-display-btnactive{
    &:after{
      content:'\e6d7';
    }
  }

  /*发货，返修附件*/
  .admin-sub-items1,
  .admin-sub-items2{
    .layout-base;
    padding:20px 10px 30px 20px;
    border:1px solid #e4e4e4;
    >ul{
      .layout-base;
      li{
        .layout-base;
      }
    }
    .pos-rb-btn{
      .layout-base(60px);
      .layout-absoluterb-base(20px,15px);
      height:24px;
      line-height:22px;
      font-size:@font-size-base - 2;
      padding:0;
      margin:0;
    }
  }
  .admin-sub-items1{
    >ul{
      li{
        margin-top:8px;
        input,button,select{
          margin-top:3px;
        }
        select{
          display: inline-block;
        }
      }
    }
  }
  .admin-sub-items2{
    >ul{
      li{
        .user-select-base;
        border-bottom:1px solid @color-gray16;
        padding:8px 20px;
        cursor: pointer;
        label{
          margin:0 5px;
        }
        .btn{
          padding:0 10px;
          margin:0 5px;
        }
        &:hover{
          background:lighten(@color-gray16,2%);
        }
      }
      .address-active{
        background:lighten(@btn-success-bg,45%);
        &:hover{
          background:lighten(@btn-success-bg,45%);
        }
        &:before,
        &::before{
          content:'\e608';
          font-family:'ux_eight';
          font-size:@font-size-base + 4;
          color:@color-red1;
        }
      }
    }
  }


  /*css3动画*/
  .admin-item-animate1{
    .transition-base(all 2s ease-in .02s);
  }


  /*地址设置*/
  .selectwrap{
    .select-item{
      ul{
        max-height:300px;
      }
    }
  }

  /*设置分润*/
  .clear-validate-tip{
    .validate-has-error{
      display:inline-block;
      width:100%;
      float:right;
    }
  }
  .clear-validate-error{
    input,.form-control{
      border:1px solid #e4e4e4 !important;
      color:@color-gray5  !important;
      &:focus{
        border:1px solid rgba(104,184,40,.5) !important;
      }
    }
  }


  /*自定义错误位置样式*/
  .validate-has-error .self-error-pos-wrap{
    border-color: #cc3f44 !important;
    color: #cc3f44 !important;
  }
  .self-error-pos-tips .validate-has-error,	.self-error-pos-wrap+.validate-has-error,
  .self-error-pos-wrap+.validate-has-error+.validate-has-error,
  .self-error-pos-wrap+.validate-has-error+.validate-has-error+.validate-has-error,
  .self-error-pos-wrap+.validate-has-error+.validate-has-error+.validate-has-error+.validate-has-error{
    color: #cc3f44;
    display: block;
    font-size: 12px;
    padding-top: 5px;
  }


  /*表单特殊状态*/
  .admin-form-readonly{
    background:lighten(@color-gray16,2%) !important;
    color:@color-gray10  !important;
    &:focus{
      border:1px solid #e4e4e4 !important;
    }
  }

  .admin-form-disabled{
    background:lighten(@color-gray16,2%) !important;
    color:@color-gray10  !important;
    &:focus{
      border:1px solid #e4e4e4 !important;
    }
  }



}
.admin-form-default{
  .box-sizing-base;
  height:100%;
  min-height:30px;
  padding:auto 10px;
  line-height:28px;
  border:1px solid @color-gray12;
  display: inline-block;
}


/*弹出层*/



