/*头部*/
.struct-layout-header{
  .layout-absolutel-base(0,0,10);
  width:100%;
  .layout-base(100%);
  height:@layout-header-height + @layout-header-shadow;
  min-width:@layout-container-width;
  background:none;
  /*平铺背景色*/
  .header-bg{
    .layout-absolutel-base(0,0,-1);
    width:100%;
    .layout-base(100%);
    min-width:@layout-container-width;
    height:@layout-header-height;
    background:@color-red1;
    .box-shadow-base(0 0 4px 2px @color-gray8);
  }
  /*导航区域*/
  .header-content{
    .layout-relative-base;
    margin:0 auto;
    height:@layout-header-height;
    .layout-base(@layout-container-width);
  }
  /*导航logo*/
  .header-logo{
    .layout-float-base(@layout-side-width);
    height:100%;
    background:url("../images/menu_logo.png") center center no-repeat;
    background-size:auto 38px;
  }
  /*菜单条*/
  .header-menu{
    height:100%;
    .layout-float-base(@layout-container-width - @layout-side-width);
    font-size:0;
    padding:0 50px 0 20px;
    >li{
      .box-sizing-base;
      height:100%;
      display:inline-block;
      a{
        font-size:@font-size-base + 4;
        color:@color-white;
        display:inline-block;
        height:100%;
        padding:0 30px;
        line-height:@layout-header-height;
        border-bottom:4px solid @color-red1;
        overflow: hidden;
        .transition(all ease-in .2s .01s);
        &:hover{
          background:darken(@color-red1,5%);
          border-bottom:4px solid darken(@color-red1,5%);
        }
      }
    }
    .menuactive{
      border-bottom:4px solid @color-white;
      font-size:@font-size-base + 6;
      line-height:@layout-header-height + 1;
      &:hover{
        border-bottom:4px solid @color-white;
      }
    }
  }
  /*退出按钮*/
  .header-outwrap{
    .layout-absoluter-base(5px,5px,100);
    .layout-base(40px);
    height:@layout-header-height - 10;
    font-size:@font-size-base - 2;
    line-height:@layout-header-height - 10;
    text-align: center;
    cursor: pointer;
    .user-select-base;
    color:@color-white;
    &:hover{
      background:darken(@color-red1,5%);
    }
  }
}