/*侧边栏*/
.struct-layout-side{
  .layout-float-base(@layout-side-width,border-box,left);
  background:@color-gray3;
  height:100%;
  min-height:@layout-content-minheight;
}
.struct-search-menu{
  .layout-base;
  height:100%;
  min-height:300px;
}

.struct-layout-side,
.struct-search-menu{

  /*公用组件*/
  .sub-item-group1{
    >li{
      .layout-base(100%);
    }
  }
  .sub-item-group2{
    >li{
      .layout-base(50%);
    }
  }
  .sub-item-group3{
    >li{
      .layout-base(33.33333%);
    }
  }
  .sub-item-group4{
    >li{
      .layout-base(25%);
    }
  }
  .sub-item-group5{
    >li{
      .layout-base(20%);
    }
  }

  .sub-itembr-group1{
    >li{
      .border-radius-base(3px);
    }
  }
  .sub-itembr-group2,
  .sub-itembr-group3,
  .sub-itembr-group4,
  .sub-itembr-group5{
    >li{
      &:first-child{
        .border-radius-base(3px 0 0 3px);
      }
      &:last-child{
        .border-radius-base(0 3px 3px 0);
      }
    }
  }


  /*logo组件*/
  .sub-logo-wrap{
    @index-gap:10px;
    @index-imggap:(@layout-sidegap-left + @index-gap) * 2;
    .layout-base;
    display:inline-block;
    padding:@layout-sidegap-left @layout-sidegap-left + @index-gap;
    border-bottom:1px solid @color-white;
    .logo-img-wrap{
      .layout-base(@layout-side-width - @index-imggap);
      max-height:@layout-side-width - @index-imggap;
      overflow: hidden;
      text-align: center;
      >img{
        display: inline-block;
        max-width:@layout-side-width - @index-imggap;
        max-height:@layout-side-width - @index-imggap;
      }
    }
    >h1{
      .text-ww;
      padding:10px 0 5px 0;
      text-align: center;
      .user-select-base;
      font-size:@font-size-base + 2;
      color:@color-white;
    }
  }

  /*信息组件*/
  .sub-info-wrap{
    .layout-base;
    padding:@layout-sidegap-left;
    >li{
      color:@color-white;
      font-size:@font-size-base;
      .layout-base;
      display: inline-block;
      padding:10px 0 0 0;
      text-align: left;
      line-height: @font-size-base + 6;
      span{
        float:right;
      }
    }
  }

  /*列表组件*/
  .sub-list-wrap{
    .layout-base;
    padding:10px 0;
    >li{
      .layout-base;
      padding:5px @layout-sidegap-left;
      height:40px;
      display:inline-block;
      a{
        width:100%;
        color:@color-white;
        display:inline-block;
        .text-of;
        text-overflow: ellipsis;
        height:100%;
        line-height:30px;
        cursor: pointer;
        font-size:@font-size-base;
      }
      &:hover{
        background:darken(@color-red1,5%);
      }
    }
    .menuactive{
      background:@color-red1;
    }
  }

  /*搜索组件*/
  .sub-search-wrap{
    @search-height:36px;
    .layout-base;
    padding:5px @layout-sidegap-left/2;
    .search-content{
      .layout-relative-base;
      .layout-base;
      height:@search-height;
      overflow:hidden;
      .transition(all ease-in .2s .02s);
      &:before,
      &::before{
        .layout-absolutel-base;
        width:@search-height - 6;
        height:100%;
        content:'\e645';
        color:@color-gray9;
        font-family:'ux_eight';
        font-size:@font-size-base + 4;
        line-height:@search-height;
        text-align: center;
        display: inline-block;
      }
      input{
        .layout-base;
        height:100%;
        font-size:@font-size-base;
        padding:11px 10px 11px @search-height - 6;
        vertical-align:bottom;
        line-height:@font-size-base;
      }
    }
    .search-clear{
      .layout-absoluter-base;
      .layout-base(0);
      display:none !important;
      cursor:pointer;
      height:0;
      overflow: hidden;
      &:before,
      &::before{
        display: block;
        width:100%;
        height:100%;
        font-size:@font-size-base + 8;
        line-height:@search-height;
        text-align: center;
        .user-select-base;
        color:@color-gray13;
        font-family:'ux_two';
        content:'\e615';
      }
      &:hover{
        &:before,
        &::before{
          color:lighten(@color-red1,45%);
        }
      }
    }
    .search-content-active{
      &:before,
      &::before{
        width:0;
        height:0;
        content:'';
        font-size:0;
        line-height:0;
        display:none;
      }
      input{
        padding:5px 10px 5px 10px;
      }
      .search-clear{
        width:@search-height !important;
        height:100% !important;
        display:block !important;
      }
    }
  }

  /*选项卡组件*/
  .sub-tab-wrap{
    .layout-base;
    overflow: hidden;
    padding:10px @layout-sidegap-left/2;
    font-size:0;
    >li{
      background:@color-white;
      height:36px;
      line-height: 36px;
      text-align: center;
      .user-select-base;
      display:inline-block;
      font-size:@font-size-base;
      cursor: pointer;
      .transition(all ease-in .1s .01s);
      &:hover{
        background:darken(@color-red1,5%);
        color:@color-white;
      }
    }
    .tabactive{
      background:@color-red1;
      color:@color-white;
    }
  }

  /*子菜单*/
  .sub-menu-wrap{
    @sub-gap:@layout-sidegap-left - 8;
    @sub-title-gap:@sub-gap/2;
    .layout-base;
    padding:10px @sub-gap;
    ul{
      .layout-base;
      display:none;
      .transition(all ease-in .2s .01s);
    }
    li{
      .layout-base;
      padding:5px 0 5px @sub-gap;
      height:40px;
      display:inline-block;
      a{
        width:100%;
        color:@color-white;
        display:inline-block;
        .text-of;
        text-overflow: ellipsis;
        height:100%;
        line-height:30px;
        cursor: pointer;
        font-size:@font-size-base;
      }
    }
    .sub-menu-title{
      overflow: visible;
      .layout-relative-base;
      &:before,
      &::before{
        .layout-absolutel-base(-(@sub-title-gap + 10));
        width:@sub-title-gap;
        height:100%;
        display:inline-block;
        content:'\e669';
        font-family:'ux_two';
      }
    }
    .sub-menu-titleactive{
      &:before,
      &::before{
        content:'\e666' !important;
      }
    }
    .sub-menuactive{
      background:@color-red1;
    }
  }

  /*按钮组*/
  .sub-btn-wrap{
    .layout-base;
    overflow: hidden;
    padding:10px @layout-sidegap-left/2;
    font-size:0;
    >li{
      text-align: center;
      .user-select-base;
      display:inline-block;
      span{
        .box-sizing-base;
        border:1px solid @color-white;
        background:@color-gray3;
        color:@color-white;
        .border-radius-base(3px);
        height:30px;
        line-height:30px;
        display:inline-block;
        padding:0 10px;
        font-size:@font-size-base;
        cursor: pointer;
        .transition(all ease-in .1s .01s);
        i{
          padding:0 3px;
          margin:0 2px;
          color:@color-blue3;
        }
        &:hover{
          background:lighten(@color-gray3,5%);
        }
      }
    }
  }

}

.struct-search-menu{
  /*子菜单*/
  .sub-menu-wrap{
    li{
      a{
        color:@color-gray3;
      }
    }
  }
}

