///文本编辑器
.editor-plugin-wrap{
	.layout-relative-base(0,0,30);
	.layout-float-base;
	height:0;
}
///状态按钮
.editor-state{
	.layout-absolutel-base(0,-25px,60);
	width:100%;
	height:30px;
	white-space:nowrap;
	p{
		.box-sizing-base;
		height:100%;
		float:right;
		font-size:@font-size-small;
		text-align:center;
		
		line-height:30px;
		.text-unselect;
		&:first-child{
			cursor:pointer;
			color:@color-white;
			background:@color-gray3;
			width:50px;
			margin:0 0 0 20px;
		}
		&:last-child{
			color:@color-red2;
			width:100px;
		}
	}
}
///操作容器
.editor-container{
	.layout-absolutel-base(0,-62px,5);/*100*/
	.box-sizing-base;
	border:1px solid @color-gray5;
	width:100%;
	height:0;/*150*/
	padding:20px 5px;
	display:none;
	background:@color-white;
	overflow-y:scroll;
	>div{
		.layout-relative-base(0,0,80);
		.layout-float-base;
		.text-unselect;
		padding:10px 0;
		margin:20px 0;
		>span{
			cursor:pointer;
			width:100%;
			height:20px;
			text-align:center;
			line-height:20px;
			font-size:@font-size-base;
			display:block;
			&:hover{
				background:@color-gray10;
			}
			&:first-of-type{
					.layout-absolutel-base(0,-10px,80);
					&:before{
						content:'\e653';
						font-family:'ux_eight';
					}
					&:after{
						.layout-absolutelb-base(0,0,80);
						content:'';
						width:100%;
						border-bottom:1px dashed @color-gray5;
					}
			}
			&:last-of-type{
					.layout-absolutelb-base(0,-10px,80);
					&:before{
						content:'\e613';
						font-family:'ux_eight';
					}
					&:after{
						.layout-absolutel-base(0,0,80);
						content:'';
						width:100%;
						border-top:1px dashed @color-gray5;
					}
			}
		}
		img,
		p{
			float:left;
			margin:5px 0;
		}
		img{
			display:block;
			overflow:hidden;
		}
		p{
			color:@color-gray3;
			font-size:@font-size-base;
			text-indent:2em;
			line-height:20px;
			.text-ww;
		}
		&:first-child>span{
			&:first-of-type:hover{
				background:@color-white;
			}
			&:first-of-type:before{
				content:'';
			}
			&:first-of-type:after{
				border-bottom:none;
			}
		}
		&:last-child>span{
			&:last-of-type:hover{
				background:@color-white;
			}
			&:last-of-type:before{
				content:'';
			}
			&:last-of-type:after{
				border-top:none;
			}
		}
	}
}
///切换状态按钮
.editor-edit{
	.layout-absoluter-base(-5px,auto,60);
	width:20px;
	cursor:pointer;
	display:table;
	background:transparent;
	&:before{
		content:'\e628';
		font-family:'ux_eight';
		display:table-cell;
		vertical-align:middle;
		font-size:@font-size-base + 10;
		text-indent:-8px;
		color:@color-gray3;
	}
	&.editor-state-edit{
		&:before{
			content:'\e642';
		}
	}
}
///添加表情和图片
.editor-btn{
	.layout-absolutel-base(0,-58px,40);
	.box-sizing-base;
	background:@color-white;
	height:30px;
	width:100px;
	padding:0 10px;
	.text-unselect;
	border-top:2px solid @color-gray3;
	border-right:1px solid @color-gray5;
	border-bottom:1px solid @color-gray5;
	border-left:1px solid @color-gray5;
	margin:0 !important;
	li{
		.layout-relative-base(0,0,50);
		.layout-float-base(50%,border-box,left);
		height:100%;
		cursor:pointer;
		line-height:28px;
		text-align:center;
		color:@color-gray3;
		font-size:@font-size-base;
		white-space:nowrap;
		&:first-child{
			font-family:'ux_one';
			&:before{
				.layout-absolutel-base(100%,4px,40);
				margin:0 0 0 -1px;
				content:'\00A0';
				height:80%;
				border-left:1px solid @color-gray5;
			}
			&:after{
				content:'添加图片';
				padding:0 0 0 5px;
				font-size:@font-size-small;
			}
			input{
				.layout-absolutel-base(0,0,60);
				width:100%;
				height:100%;
				display:block;
				cursor:pointer;
				opacity:0;
			}
		}
		&:last-child{
			font-family:'ux_one';
			font-size:@font-size-base + 4;
			&:after{
				content:'添加表情';
				padding:0 0 0 5px;
				font-size:@font-size-small;
			}
			div{
				.layout-absolutelb-base(-100%,33px,80);
				.text-ww;
				width:200%;
				.box-sizing-base;
				background:@color-white;
				padding:5px;
				border:1px solid @color-gray5;
				.border-radius-base(3px);
				background:@color-white;
				.box-shadow-base(0 0 2px @color-gray7);
				img{
					width:30px;
					height:30px;
					.box-sizing-base;
					overflow:hidden;
					display:block;
					padding:2px;
					float:left;
					border:1px solid @color-white;
					&:hover{
						border:1px solid @color-red2;
					}
				}
			}
		}
	}
}

















































