body{ background:#c4fedd url(images/bg_02.jpg) repeat-x left top;}
.bg{ background:url(images/1_07.png) no-repeat center ; height:329px; width:1010px; margin:0 auto; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/1_07.png" );_background:none; margin-top:50px;}
.deng{ width:258px; font-size:12px; margin:10px 0 0 200px;}
.an1{ width:73px; height:25px; background:url(images/p_03.jpg) no-repeat; border:0;}
.an2{ width:73px; height:25px; background:url(images/p_05.jpg) no-repeat; border:0;}