/* CSS Document */
body{ padding:0; margin:0 auto; background:url(images/gwer_02.jpg) repeat-x left top; font-size:12px;}

input{ border:#D9D9D9 1px solid;}


.contant{ width:1038px;}
.kie{ background:url(images/rg_05.png) no-repeat; margin-top:8px;}
.menu{ width:100px;}
.menu ul{ padding:0; margin:0; list-style-type:none; width:900px; margin-left:50px;}
.menu ul li{ float:left;}
.menu ul li a,.menu ul li a:visited{ width:100px; color:#fff; font-weight:bold; text-decoration:none; font-size:14px; float:left; text-align:center; display:block; height:50px; line-height:50px;}
.menu ul li a:hover{ background:url(images/erg_03.png) no-repeat center; color:#fff;}

.gerv{ background:url(images/vw.png) no-repeat; margin-top:8px;}
.rtv{ color:#5e9401; margin-left:75px;}
.bt1{ width:77px; height:25px; background:url(images/hrf_03.png) no-repeat; border:0; margin-left:14px;}
.bt2{ width:77px; height:25px; background:url(images/hrf_05.png) no-repeat; border:0; margin-left:14px;}
.bt3{ width:77px; height:25px; background:url(images/hrf_07.png) no-repeat; border:0; margin-left:14px;}
.ved a{ color:#333; text-decoration:none;}
.ved a:hover{ color:#000; text-decoration:underline;}
.srb{ background:url(images/rce_03.png) no-repeat;}

.hrs{ width:590px; margin-left:50px; margin-top:10px; margin-bottom:15px;}
.hrs ul{ padding:0; margin:0; list-style-type:none;}
.hrs ul li{ float:left;}
.hrs ul li a,.hrs ul li a:visited{ width:140px; display:block; line-height:26px; color:#333; text-decoration:none;}
.hrs ul li a:hover{ color:#59a601; text-decoration:underline;}
.ghr{ background:url(images/cv_03.png) no-repeat; font-size:14px; font-weight:bold; color:#3e8b08; text-indent:50px;}
.berf{ line-height:30px;}
.berf span{ color:#FF0000;}
.mji{ padding:0; margin:0; list-style-type:none; width:635px; display:table;}
.mji li{ float:left; width:260px; display:block; margin-left:40px; margin-top:12px; margin-bottom:12px;}
.btf{width:89px; height:103px; float:left;}
.jyh{float:left; margin:8px 0 0 10px; line-height:20px;}
.dfe{float:right; margin:30px 15px 0 0;}
.hj{ background:url(images/vc_03.png) no-repeat; font-size:14px; font-weight:bold; color:#3e8b08; text-indent:50px;}
.jyt a{ color:#333; text-decoration:none; line-height:28px;}
.jyt a:hover{ color:#000; text-decoration:underline;}
.bd{background:url(images/zf_02.png) no-repeat; position: relative; top:-40px; width:1600px; height:185px; margin:0 auto;}
.bd2{background:url(images/zf_02.png) no-repeat; width:1600px; height:185px; margin:0 auto;}

/**/
.mefn{ width:213px; border:#333333 0px solid; margin-top:80px;}
.mefn ul{ margin:0; padding:0; list-style-type:none;}
.mefn a,.mefn a:visited{ color:#000; text-decoration:none; width:213px; display:block; text-align:center; background:url(images/1_03.png) no-repeat center; height:32px; line-height:32px; margin:16px 0;}
.mefn a:hover{ color:#549d00; background:url(images/2_03.png) no-repeat center;}
.scd{ font-size:18px; font-weight:bold; color:#549d00; line-height:55px; text-indent:5px;}
.hrh{ margin-top:30px; color:#666;}
.dtg{ line-height:18px; border-bottom:#dfdfdf 1px solid; margin-top:30px;}
.myi{ color:#8c8b8b; margin-bottom:9px;}
.jsd{ color:#4f4e4e; margin-bottom:9px;}
.vwe{ color:#629c25; margin-bottom:12px;}