/* CSS base */
body { margin: 0; padding: 0; font: 12px/1.5 '\5fae\8f6f\96c5\9ed1', tahoma, sans-serif; background-color: #FFF; color: #444;}
div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p { padding: 0; margin: 0 }
table, td, tr, th { font-size: 12px }
ul { list-style: none }
ul li { list-style-type: none }
img { border: 0 }
h1, h2, h3, h4, h5, h6 ,textarea{ font-size: inherit; font-weight: normal }
address, cite, code, em, th, i { font-weight: normal; font-style: normal }
a{color:#444; text-decoration: none }
a:active{star:expression(this.onFocus=this.blur())}
a:focus,textarea:focus,input:focus { outline: none }
.none { display: none }
.op0 {opacity: 0; filter:alpha(opacity:0)}
.dk { display: block }
.dik { display: inline-block}
.thid { text-indent: -9999px; overflow: hidden}
.clr { *zoom:1}
.clr:after { display: block; overflow: hidden; clear: both; height: 0; visibility: hidden; content: "." }
.CLR { clear: both }
.fl { float: left !important }
.fr { float: right !important }
.pre { position: relative }
.pab { position: absolute }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.bgnone { background: none !important }

.m10{margin:10px}
.m05{margin:5px}
.mb5{ margin-bottom:5px;}
.mr10{margin-right:10px}
.mb10{margin-bottom:10px}
.mr20{margin-right:20px}
.mb20{margin-bottom:20px}
.mt10{margin-top:10px}
.ml10{margin-left:10px !important}
.mt0{ margin-top:0 !important}
.mr0{ margin-right:0 !important}
.pt0{padding-top:0 !important}
.pt10{padding-top:10px}
.pb10{padding-bottom:10px}
.pl10{ margin-left:10px;}
.pr10{ margin-right:10px;}
.plr10{ padding:0 10px;}
.pt20{padding-top:20px}
.pb20{padding-bottom:20px}
.pl20{ margin-left:20px;}
.pr20{ margin-right:20px;}
.plr20{ padding:0 20px;}
.disIline{display:inline-block;}

.txtC{text-align:center}
.txtL{text-align:left !important}

.t_red{ color:#F00; padding:0 2px;}
.cF00{ color:#F00;}
.c36C{ color:#36C !important}

/*表单宽度*/
.w225{width:225px;}
.eduSleW{ width:105px;}
/*公用背景*/
body{ height:100%;}


/*表单输入*/
input[type=text],input[type=password]{ padding:0 5px;}
input[type=text],input[type=password],textarea, select{background-color:#FFF;border:1px solid #CCC; height:22px; line-height:22px; }
textarea {padding:0 5px;line-height:22px; }
textarea,
input[type="text"],
input[type="password"]{
 border:1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.1s, box-shadow linear 0.1s;
     -moz-transition: border linear 0.1s, box-shadow linear 0.1s;
       -o-transition: border linear 0.1s, box-shadow linear 0.1s;
          transition: border linear 0.1s, box-shadow linear 0.1s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: 0 \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


/*登录页*/
.headers{ height:42px;}
.middle{ height:400px;overflow:hidden}
.loginWrap{margin:0 auto;width:948px;height:100%;}

.loginUserName input,.loginCode input,.loginReg input{position:absolute;left:40px;padding:0 5px;height:30px;line-height:30px; background:none; border:none !important; border-radius:8px;}
.loginUserName input,.loginCode input{width:158px;}
.loginUserName input{top:40px;}
.loginCode input{top:86px;}
.loginCode .inpTip{top:86px;left:45px; line-height:30px; color:#777}
.loginReg input{ top:133px;width:76px;}
.loginRegImg{top:135px;left:124px;}
.loginRegImg img,
.telform .testCode img{cursor:pointer}


.qrCode{height:190px;}
.qrCodeBox{ margin:0 auto; width:886px;}
.qrCodeInner{ top:35px;left:240px}
.appList li{ float:left}
.appList a{ display:block;margin-right:7px;width:202px;height:32px; text-indent:74px;line-height:32px; font-size:14px;}
.appList a.iPhone{background-position:-450px -53px;}
.appList a.Android{background-position:-450px -91px;}

.telform{ clear:both; margin-top:7px; padding:8px 7px;width:397px;}
.telform .teltxt{padding:0 5px;height:30px; background:#FFF; line-height:30px;}
.tColor{color:#777}
.telform .tel{width:242px;}
.telform .testCode{ margin-top:5px;width:65px;}
.telform .focus{color:#333}
.telform .telbtn{ margin-left:8px;width:112px; height:28px; line-height:28px;color:#C33; cursor:pointer}
.telform .testCode{top:43px;left:92px}

.aiCode{top:35px;left:670px;}
.aiCode li{ _display:inline;float:left;width:100px;}
.aiCode li.acode{ margin-right:12px;}
.aiCode li img{ display:block}
.aiCode li span{ display:block; margin-top:5px; height:18px; line-height:18px;text-align:center;color:#FFF}

.footers{ height:74px;background-color:#e2e2e2}
.footers .information{ margin:0 auto; padding-top:20px; width:500px; text-align:center; color:#777}
.footers .information a{color:#777}
.m-bgx,.f-bgx{ width:100%; height:10px;background:url(../images/login_bgx.png) repeat-x; overflow:hidden}
.m-bgx{left:0;bottom:-1px;background-position:center 0;}
.f-bgx{left:0;top:-7px;background-position:center -196px;}

.wCodeImg{ display:inline-block; margin-left:5px;}
.wCodeImg img{ vertical-align:middle}
.wCodeTxt{ width:80px;}
.forgetTitle{height:36px;background:url(../images/forget.png) no-repeat; overflow:hidden}
.forgetBg02{ background-position:0 -36px;}.forgetBg03{ background-position:0 -72px;}

/*主体页面*/
.header{ z-index:2; width: 100%; height:40px;}
.topShadow{ z-index:5;top:40px;left:0;width:100%;height:1px; background:#a4a4a4; border-bottom:1px solid #e0e0e0; overflow:hidden}
.container {height:100%;}

.sidebar{position:absolute;top:0;left:0;width:234px;}
.leftSiderShadow{top:0;left:234px;width:6px;height:100%;background:url(../images/sidershadowl.png) repeat-y 0 0;}
.floatRight{height:98px;position:fixed;top:150px;right:0;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));_margin:89px 0 0 0; z-index:2}
.floatRight li{ clear:both; height:60px}
.floatRight li img { float: right; }
.floatRight li a { height:49px; float: right; display: block; min-width: 47px; max-width: 131px; }
.floatRight li a .on01 { display: block; }
.floatRight li a .on02 { display:none;margin-right: -143px;cursor: pointer;}
.logo{ padding:5px 3px 0;  text-align:center; overflow:hidden}

.sideBarBox{ padding:5px 5px 22px;}
.barBox{ line-height:32px;z-index:2}
.barBox span{ float:left;width:50%; height:32px; text-align:center; overflow:hidden}

.sideNav li{position:relative;z-index:1}
.sideNav li b{display:block; margin:0 auto 8px;width:54px;height:55px;background:url(../images/sidenav.png) no-repeat;cursor:pointer}
.sideNav li.ico1 b{background-position:0 0;}
.sideNav li.ico2 b{background-position:-54px 0;}
.sideNav li.ico3 b{background-position:0 -55px;}
.sideNav li.ico4 b{background-position:-54px -55px;}
.sideNav li.ico5 b{background-position:0 -110px;}
.sideNav li.ico6 b{background-position:-54px -110px;}
.sideNav li.ico7 b{background-position:0 -165px;}
.sideNav li a:hover b{-moz-animation:icoscale 1s;-webkit-animation:icoscale 1s;animation:icoscale 1s}
.sideNav li span.hoverAlpha{ display:none;position:absolute;top:0;left:0;width:116px;height:120px;background-color:#FFF; cursor:pointer}
.sideNav li strong{ display:block; line-height:22px; font-weight:lighter;cursor:pointer;-moz-transition:all linear 0.5s;-webkit-transition:all linear 0.5s;transition:all linear 0.5s}

.main{margin:0 12px 0 252px;overflow-y:auto}
.mainBox{_width:auto;_height:auto;padding-top:12px;}
.homeContent{padding:22px}
.banner{ width:100%;height:322px; overflow:hidden}
.banner li{ width:1040px; height:322px;}

.footer{padding-bottom:8px;line-height:22px; text-align: center;color:#999 }
.footer a{color:#999}

.eduText i,.eduText em{font-style:italic}
/*最小宽度*/
.loginMinW,.wrapMinW{width:1003px;}.mainMinW{width:739px;}

#skin { _display:inline;margin:8px 5px 0 0;float:right;}
#skin li { float: left; margin: 2px; width: 15px; height: 15px; background:#CCC;text-indent:-999px; border:1px solid transparent;_border-color:tomato;_filter:chroma(color=tomato); overflow: hidden; cursor: pointer; }
#skin #cyan{ background:#73d6dc}
#skin #blue{ background:#7398dc}
#skin #green{ background:#c9dc73}
#skin .on{ border-color:#FFF; cursor:default}


/*banner切换*/
.adBanner{position:relative;height:300px;overflow:hidden}
.adBanner ul{ position:absolute;height:300px}
.adBanner ul li{float:left;width:1615px;overflow:hidden}
.adBanner .btn-carousel{position:absolute;bottom:6px;right:0}
.adBanner .btn-carousel .preBtn,.adBanner .btn-carousel .nextBtn{ display:none;float:left;background:url(../images/btn_ad.png) no-repeat;width:17px;height:17px;overflow:hidden}
.adBanner .btn-carousel .preBtn:hover{background-position:0 -17px}

.adBanner .btn-carousel .nextBtn{background-position:-17px 0}.adBanner .btn-carousel .nextBtn:hover{background-position:-17px -17px}
.adBanner .btn-carousel .dot{float:left;margin:0 4px 0 8px}
.adBanner .btn-carousel .dot span{float: left;width: 10px;background: #414140;height: 10px;font-size: 0px;overflow: hidden;cursor: pointer;margin-right: 6px;border: #414140 2px solid;-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px}
.adBanner .btn-carousel .dot span:hover{background: #FFF}
.adBanner .btn-carousel .dot span.cur{background: #FFF;cursor:default}
.adBanner .btn-carousel .dot span.cur:hover{background: #FFF;cursor:default}


/*表格*/
.iframeWrap{ padding:12px}
.headings {padding: 0 20px; border:1px solid #cecece; text-shadow:1px 1px 1px #EEE; background: #F1F1F1 url(../images/headings.png) repeat-x top;-moz-border-radius-topright: 10px;-moz-border-radius-topleft: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;height:40px; line-height:40px;}
.headings h3.tit {font-size:16px;}
.contentBox {overflow: auto;border:1px solid #cecece; border-top:none; padding: 15px ; background:#f4f4f4;-moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.btnLog{ right:12px;top:4px; font-size:14px; text-decoration:underline; color:#36C}	

.table1{ width:100%;border:0;border-collapse:collapse;}
.table1 td,.table1 th{ padding:5px; border:1px solid #F4F4F4}
.table1 th{ font-size:14px;}
.rowEven{background:#fefdf7;}
.rowOdd{background:#FFF;}
.selected{ background:#eefcfc;color:#333;}
.cssth{ background:#DDD; }
.hovers{background:#FDFDFD !important;}
.table1,.table1 td,.table1 th{ border:1px solid #DDD}
.table1 td{ text-align:center}
.table1 td a{ display:inline-block;padding:0 5px; color:#36C; cursor:pointer}
.Disabled{color:#888 !important}
.operaTion span{ display:inline-block;padding:0 5px; color:#888 }
.operaTion a:hover{ text-decoration:underline}
.fnBox{ height:auto !important;height:42px; min-height:42px;}

.orderBy{ margin:14px 3px 0 0}
.excelDoload{ left:10px;top:10px; text-decoration:underline; color:#36C}
.countAll{left:60px;top:10px; }

/*顶部导航*/
.topMenu{line-height:35px;border-bottom:2px solid #BBB; font-size:14px;}
.topMenu li{float:left;margin-right:2px;}
.topMenu li a{ display:block;padding:0 20px; background:url(../images/headings.png) repeat-x center 0;border:1px solid #e0e9ee; border-bottom:none;-moz-border-radius-topright: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;}
.topMenu li a:hover{ background:#F9F9F9}
.topMenu li.on a{background:#BBB; border-color:#BBB; color:#FFF}
.topSubMenu{ background:#F9F9F9; border:1px solid #CECECE; border-top:none;height:32px;}
.topSubMenu li{ float:left;}
.topSubMenu li a{ display:block;margin:6px 5px 0;padding:1px 6px; line-height:18px;-moz-border-radius:8px;-webkit-border-radius:8px; border-radius:8px;}
.topSubMenu li a:hover,.topSubMenu li.on a{background:#DDD}


/*提示*/
.ICtips,
.tipsBox{border:1px solid #dedede; padding:2px 8px; background:#ffc; line-height:20px !important;word-break: break-all; }
.ICtips{display:none;position:absolute; color: #000;max-width: 500px; }
/*共用按扭*/
.btnSubmit{border:none;background-image: url(../images/button.png); background-position: left -128px; color: #fff; text-align: center; display: inline-block; cursor:pointer; margin:10px 10px 0 0; padding:0 !important;height: 32px; line-height: 32px !important; font-weight: bold;}
.btnSubmit:hover { cursor: pointer; }
.btnSubmit span { display: inline-block;background-image: url(../images/button.png); background-position: right -128px; background-repeat: no-repeat; padding-right: 16px; margin: 0 0 0 16px !important;line-height: 32px !important;}
.btnSubmit:hover { background-position: left -160px; outline: none; text-decoration: none; }
.btnSubmit:hover span { background-position: right -160px; text-decoration: none; }
.btnSubmit:active { background-position: left -192px; outline: none; }
.btnSubmit:active span { background-position: right -192px; }
.submitDisabled{ background-position: left -224px; outline: none; pointer-events: none; cursor: default; }
.submitDisabled span{ background-position: right -224px; color: #87c679; }
/*CSS delete button*/
.btnDelete{ background-image: url(../images/button.png); background-position: left -565px; color: #fff; text-align: center; display: inline-block; cursor: pointer; margin: 10px 10px 0 0px; line-height: 32px; font-weight: bold;}
.btnDelete span { background-image: url(../images/button.png); background-position: right -565px; background-repeat: no-repeat; padding-right: 16px; margin: 0 0 0 16px; display: inline-block; }
.btnDelete:hover{ background-position:left -597px;}
.btnDelete:hover span { background-position: right -597px; text-decoration: none;outline: none; text-decoration: none;  cursor: pointer; }
.btnDelete:active { background-position: left -629px; outline: none; }
.btnDelete:active span { background-position: right -629px; }
.deleteDisabled{ background-position: left -661px; outline: none; pointer-events: none; cursor: default; }
.deleteDisabled span, .deleteDisabled:hover span, .deleteDisabled:visited span { background-position: right -661px; color: #C67979; }
/*CSS common button */
input.btnBut{position:absolute;width:55px;height:32px;opacity: 0; filter:alpha(opacity:0); cursor:pointer}/*对input 按扭处理*/
.btnCommon { background-image: url(../images/button.png); background-position: left top; color: #666; text-align: center; display: inline-block; cursor: pointer; margin: 10px 10px 0 0px;height: 32px;line-height: 32px !important; font-weight: bold;}
.btnCommon:hover { cursor: pointer; text-decoration: none; }
.btnCommon span { background-image: url(../images/button.png); background-position: right top; padding-right: 16px; margin: 0 0 0 16px; display: inline-block;line-height: 32px !important }
.btnCommon:hover { background-position: left -32px; color: #000; outline: none; text-decoration: none; }
.btnCommon:hover span { background-position: right -32px; }
.btnCommon:active { background-position: left -64px; outline: none; }
.btnCommon:active span { background-position: right -64px; }
.commonDisabled, .commonDisabled:link, .commonDisabled:hover, .commonDisabled:visited { background-position: left -96px; outline: none; pointer-events: none; cursor: default; }
.commonDisabled span, .commonDisabled:hover span, .commonDisabled:visited span { background-position: right -96px; color: #c5c5c5; }
.tagBtn, .tagBtnCommon { text-align: center; display: inline-block; cursor: pointer; padding: 8px 14px; font-weight: bold; border-radius: 3px; overflow: visible; }
.tagBtn { color: #fff; background-color: #64BE50; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#64BE50), to(#5aaa50), color-stop(0.5, #5db150)); background-image: -moz-linear-gradient(0% 0% 180deg, #64BE50, #5AAA50, #5db150 50%); border: 1px solid #5AAA3C; }
.tagBtnCommon { color: #666; background-color: #fafafa; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#fafafa), color-stop(0.5, #f0f0f0)); background-image: -moz-linear-gradient(0% 0% 180deg, #f5f5f5, #fafafa, #f0f0f0 50%); border: 1px solid #d2d2d2; }
input.tagInputSubmit, input.tagInputBtn, input.tagInputSubmitCommon, input.tagInputBtnCommon { text-align: center; display: inline-block; cursor: pointer; padding: 8px 12px; font-weight: bold;border-radius: 3px; border-radius: 0px\9; filter: chroma(color=#000000); overflow: visible; }
input.tagInputSubmit, input.tagInputBtn { color: #fff; border: 1px solid #5AAA3C; background-color: #64BE50; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#64BE50), to(#5aaa50), color-stop(0.5, #5db150)); background-image: -moz-linear-gradient(0% 0% 180deg, #64BE50, #5AAA50, #5db150 50%); }
input.tagInputSubmitCommon, input.tagInputBtnCommon { color: #666; background-color: #fafafa; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#fafafa), color-stop(0.5, #f0f0f0)); background-image: -moz-linear-gradient(0% 0% 180deg, #f5f5f5, #fafafa, #f0f0f0 50%); border: 1px solid #d2d2d2; }

@-webkit-keyframes icoscale {
	30% {-webkit-transform:scale(0.7)};
	50% {-webkit-transform:scale(1.5)};
	100%{-webkit-transform:scale(1.0)}
	}
@-moz-keyframes icoscale {
	30% {-moz-transform:scale(0.7)};
	50% {-moz-transform:scale(1.5)};
	100%{-moz-transform:scale(1.0)}
	}
@keyframes icoscale {
	30% {transform:scale(0.7)};
	50% {transform:scale(1.5)};
	100%{transform:scale(1.0)}
	}

/*翻页*/
.pageBox{ height:auto !important;height:38px;min-height:38px;background:#FCFCFC; margin-bottom:5px;overflow:hidden; _overflow:auto}
.pages {padding:4px 8px 4px 30px;text-align: center; height:auto !important;min-height:38px;height:32px;overflow:hidden; _overflow:auto}
.pages a,
.pages .Next,.pages .Last,.pages .First,.pages .Prev,
.pages .disabled{border:1px solid #DDD;padding:2px 5px; margin:2px; color: #036cb4; padding-top: 2px; text-decoration: none}
.pages a{border-color:#c3cff8}
.pages .Next,.pages .Last,.pages .First,.pages .Prev{color:#999}
.pages a:hover,.pages a:active{ border: 1px solid #999;}
.pages a:active { color: #666;}
.pages .current {font-weight: bold;margin:2px; padding:2px 5px;border:1px solid  #036cb4;background-color: #036cb4 }
.pages .disabled,.pages .number span{ background:#FFF;color:#000000}
.pages .itext{width:25px; height:22px; line-height:22px; overflow:hidden}
.pages .ibutton{ padding:4px 8px; line-height:30px;background:url(../images/headings.png) repeat-x center top; border:1px solid #EEE; cursor:pointer}
.pages .count{ padding-right:8px;}
.pages span.sle{ padding:0 8px;}

/*表单*/
.add_role li{ margin-bottom:8px; line-height:22px; vertical-align:middle}

.classGroup{ padding:8px;}
.classGroup a{ color:#36C; text-decoration:underline}
.classupGrade{ padding:0;line-height:22px;}
.classupGrade p{ margin-bottom:10px}
.classupGrade a span{color:#36C;}

/*弹窗表格*/
.ymTable tr{line-height:28px; padding:0 5px;}
.ymTable tr span{line-height:30px;}
.ymTable td > span{ vertical-align:middle}
.ymTable{border:0;border-collapse:collapse; width:100%}
.ymTable td,.ymTable th{ border:none; font-size:14px}
.ymTable th{ text-align:right;color:#222}
.ColorTip{color:#BBB !important}
.ymTabHover{ background:#fafafa}
.gapDashed,.gapDashed td,.gapDashed th{line-height:8px!important;border-bottom:1px dashed #cceeff !important;overflow:hidden}
div.gapDashed{ margin-bottom:5px;height:8px;}

.schSearch label strong{ color:#222; font-weight:lighter}

.WdateShort{ width:125px;}

/*弹窗*/
.school_add td{padding:3px 2px;}
.btn_ok{ padding-top:12px;}

.promptPadding{ _width:auto; _height:auto;padding:18px;overflow—x:hidden;overflow-y:auto;}

.lesLoss{ letter-spacing:-1px !important;} 
.accountsmg ul li{ line-height:24px;padding:2px 0;}
.lineNO{ position:relative;top:0;display:block;margin:0 auto;width:60%; height:1px; background:#BBB;font-size:0; overflow:hidden}

.btnCopy{ color:#36C !important;right:5px;top:-6px;}
.bdshare_popup_box{ right:0 !important;left:auto !important;}
/*表单对齐*/
.serW{display:inline-block;width:320px}
.serW strong{ display:inline-block;width:115px; text-align:right;}
.serWs{width:680px}
.serW span.t_red{ text-align:right}
.wCRs{ display:inline-block;width:85px; text-align:right}
.w75{ width:75px;}
.searchBox label,.searchBox span{ display:inline-block;line-height:32px;}
.wno5{display:inline-block;width:70px; text-align:right}

.queryLine{padding:0 0 10px 120px;display:inline-block;}
.queryLine{*display:inline;}
/*历史发布筛选*/
.recordList{ margin-top:5px}
.recordList li{padding:0 8px;height:30px;line-height:30px; background:#F9F9F9; border-bottom:1px dotted #DDD; font-size:14px;overflow:hidden;}
.recordList li span{ display:inline-block; margin-right:12px;color:#666}
.recordList li span.rl1{ width:110px}
.recordList li.odd{ background:#FFF}
.recordList li a{ color:#36c}

.leaveText{width:368px; height:65px; line-height:25px; font-size:14px}

/*collect中的样式*/
.btitle{ padding:5px;}
.btitle h2{ font-weight:bold; padding-bottom:5px;}
/*mobaninfo样式*/
.mobaninfo input{ margin-right:5px;}

/*readdetail的样式*/
.t_read{ text-align:center; line-height:24px;}
.t_read h2{ line-height:35px; font-weight:bold}
.t_img{right:5px;top:5px}
.t_img img{ margin:0 2px;}
.t_read h4{color:#888; font-size:12px; border-bottom:1px dashed #CCC; line-height:32px; margin-bottom:8px}
.t_cont{ clear:both; padding:2px;line-height:24px; font-size:14px;color:#555;word-break:break-all}
.t_cont p{ margin-bottom:15px;/* text-indent:2em;*/}
/*postnotice posttheme和infomation/defind中的样式*/
.tstylen{width:98%;}
.tstyle{width:98%; height:120px;}
.finfo{ float:left; line-height:30px; width:20%; display:block;}
.BTN{ float:right;}
.infost ul li{ line-height:24px;padding:2px 0; }
.ftext{ width:94px; text-align:right; display:inline-block;}
.ftexts{ width:60px; }
.fstext{ width:110px;}
.fcont{ padding:2px;}
/*peopleinfo中的样式*/
.sinfo,.spassword{ color:#06F;}
/*forgetpassword*/
.add_role h3{ font-weight:bold; font-size:16px; }
.add_role h3 label{ color:#F00}
.tabs h2{font-weight:bold; font-size:14px; }
/*postnotice中的样式*/
.table2,.table1{ width:100%;border:0;border-collapse:collapse;}
.table2 td,.table1 th{ padding:5px; border:1px solid #F4F4F4;word-break:break-all}
.table2 th{ font-size:14px;}
.table2,.table1 td,.table1 th{ border:1px solid #DDD; word-break:break-all}
.table2 td{ text-align:left;}
.table2 td a{ display:inline-block;padding:0 5px; color:#36C}
.table1 th,.table2 th{white-space:nowrap}

/* attendancelist中的样式*/
.contentBox b{ line-height:24px;}

/*attendanceset考勤设置页面*/
.menu{ background:#ebebeb; border:none; height:32px;}
.menulist{ padding:5px ;}
.menulist li{ line-height:24px;}

/*图片放大*/
.syZoom{ display:inline-block; margin-left:20px;}
.syZoom img{height:32px;vertical-align:middle;cursor:pointer;}
.previewShowWindow {position:absolute;display:none;text-align:center;z-index:9999!important;overflow:hidden}
.previewShowWindow img{display:block;padding:2px;max-width:400px;_width:400px;background:#95959d;border:1px solid #dadade;font-size:0;}

.groupClassTab .on{ color:#36C !important}
.barStudy{ right:5px;top:-6px;}
/*消息*/

.tableMsg{ width:100%;border:0;border-collapse:collapse;}
.tableMsg,.tableMsg td,.tableMsg th{border:1px solid #DDD}
.tableMsg th{ text-align:center}
.msgBox{ padding:0 !important; background:#FFF}
.msgT{ clear:both;height:25px;line-height:25px;padding:0 15px;border-bottom:1px solid #cecece;text-shadow:1px 1px 1px #EEE; background: #F1F1F1 url(../images/headings.png) repeat-x top;font-size:14px; color:#36C}
.msgTbt,.ztreeBox{ border-top:1px solid #cecece;}
.ztreeBox{ margin-top:10px;height:520px; background:#fefdf7;overflow-x:hidden}
.ztree p{background:#fefdf7; border:35px;left:8px}
.cityMinW{width:250px; }
.msgCityMinW{word-break:break-all}
.msgCityMinW select{ _display:inline;float:left; margin:0 5px 5px 0;}
.msgPreText,.msgNexText{ width:320px; height:300px; overflow:auto}
.msgPreText option,.msgNexText option{padding-top:2px;height:22px;border-bottom:1px dashed #EEE;}
.msgNexText option{ color:#36C; border-color:#DDD;}

.setMoveForm{padding-top:5px}
.setMoveForm span{ position:relative;display:inline-block;margin:0 5px; padding:0 !important; width:12px;height:17px;overflow:hidden;background:url(../images/topbg.png) no-repeat;cursor:pointer}
.setMoveForm .setTop{background-position:-14px -20px;}
.setMoveForm .setUp{background-position:-14px 0;}
.setMoveForm .setDown{background-position:0 0;}
.setMoveForm .setBottom{background-position:0 -20px;}
.setTop:hover,.setUp:hover{top:-1px;}
.setDown:hover,.setBottom:hover{top:1px;}

/*滚动条样式*/
::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-track{box-shadow:inset 0 0 4px rgba(0,0,0,0.2);border-radius:8px;}
::-webkit-scrollbar-thumb {border-radius:10px;background:rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.2);cursor:pointer}
::-webkit-scrollbar-thumb:window-inactive {background:rgba(255,0,0,0.4);}

/*acpectpeople */
.treeBox{ width:98%;  margin:2px; }
.treeleft{border:1px solid #ccc; width:49%; float:left; margin:5px 0;  }
.treeright{border:1px solid #ccc; width:49%; float:right;margin:5px 0; }
