/* CSS Document */
.flash
{
	position:relative;
	top:0px;
	left:0px;
	border:2px solid #CCC;
    width: 396px;
    height: 191px;
}
.flash_c
{
    width:400px;
	_width:396px;
    height:195px;
	_height:191px;
}