@charset "utf-8";
html {
	color:#000;
	background-color:#f1f1f1;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	height:100%
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin:0;
	padding:0
}
body {
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
audio, canvas, video {
	display:inline-block
}
body, button, input, select, textarea {
font:14px/1.8 Arial,'\9ED1\4F53'
}
input, select, textarea {
	font-size:100%
}
button {
	cursor:pointer
}
table {
	border-collapse:collapse;
	border-spacing:0
}
th {
	text-align:inherit
}
.orange{ color:#f26d00 !important;}
fieldset, img {
	border:0
}
iframe {
	display:block
}
abbr, acronym {
	border:0;
	font-variant:normal
}
del {
	text-decoration:line-through
}
address, caption, cite, code, dfn, em, th, var {
	font-style:normal;
	font-weight:500
}
ol, ul {
	list-style:none
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:500
}
q:before, q:after {
	content:''
}
sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
a {
	color:#000
}
a:hover {
	color:#000
}
.c9 {
	color:#999
}
.cf60 {
	color:#f60
}
ins, a {
	text-decoration:none
}
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
body .fn-hide {
	display:none
}
.fn-left, .fn-right {
	display:inline
}
.fn-left {
	float:left
}
.fn-right {
	float:right
}
.tr-box *, .tr-box {
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	transition:all 0.1s linear
}
.tr-bg *, .tr-bg {
	-webkit-transition:background 0.1s linear, box-shadow 0.3s linear, border 0.2s linear;
	-moz-transition:background 0.1s linear, box-shadow 0.3s linear, border 0.2s linear;
	-o-transition:background 0.1s linear, box-shadow 0.3s linear, border 0.2s linear;
	transition:background 0.1s linear, box-shadow 0.3s linear, border 0.2s linear
}
.tr-bg02 *, .tr-bg02 {
	-webkit-transition:padding-left 0.1s ease-in-out;
	-moz-transition:padding-left 0.1s ease-in-out;
	-o-transition:padding-left 0.1s ease-in-out;
	transition:padding-left 0.1s ease-in-out
}
.tr-bg03 *, .tr-bg03 {
	-webkit-transition:background 0.3s linear, box-shadow 0.5s linear, border 0.2s linear;
	-moz-transition:background 0.3s linear, box-shadow 0.5s linear, border 0.2s linear;
	-o-transition:background 0.3s linear, box-shadow 0.5s linear, border 0.2s linear;
	transition:background 0.3s linear, box-shadow 0.5s linear, border 0.2s linear
}
.tr-mgn *, .tr-mgn {
	-webkit-transition:margin 0.1s linear!important;
	-moz-transition:margin 0.1s linear!important;
	-o-transition:margin 0.1s linear!important;
	transition:margin 0.1s linear!important
}
.tr-top *, .tr-top {
	-webkit-transition:opacity 0.3s linear, top 0.3s linear;
	-moz-transition:opacity 0.3s linear, top 0.3s linear;
	-o-transition:opacity 0.3s linear, top 0.3s linear;
	transition:opacity 0.3s linear, top 0.3s linear
}
.input-txt {
	border:1px solid #ccc;
	box-shadow:inset 1px 1px 1px #ccc, 0 0 6px transparent;
	border-radius:1px
}
.input-txt:focus {
	border:1px solid #55b6f6;
	box-shadow:0 0 8px #55b6f6
}
.textarea-txt {
	padding:5px;
	box-shadow:2px 2px 2px #f0f0f0 inset, 0 0 1px #ccc;
	background:#fff;
	border:1px solid #ccc;
	overflow-x:hidden;
	overflow-y:auto;
	border-radius:3px;
	width:100%
}
.textarea-txt:focus {
	box-shadow:0 0 3px #42a9ec;
	border:1px solid #09c
}
.i-icon {
	background:url('../images/verify_orange_mini01.png') no-repeat;
	display:inline-block;
	width:18px;
	height:12px;
	background-size:auto 12px;
	position:relative;
	top:3px
}
.i-icon2 {
	background:url('../images/icon-eye.png') no-repeat center top;
	display:inline-block;
	width:30px;
	height:26px;
	position:relative
}
.icon-eye {
	background-image:url('../images/icon-eye.png')
}
.icon-books {
	background-image:url('../images/icon-books.png')
}
.icon-say {
	background-image:url('../images/icon-say.png')
}
.icon-unimg {
	background-image:url('../images/icon-img.png')
}
.icon-weibo {
	background-image:url('../images/icon-weibo.png')
}
.icon-qq {
	background-image:url('../images/icon-qq.png')
}
.icon-weibo, .icon-qq {
	background-size:24px auto
}
.i-info-img {
	background-image:url('../images/icon-info-img.png');
	background-size:24px auto
}
.icon-favorite {
	background-image:url('../images/icon-favorite.png')
}
.icon-readlater {
	background-image:url('../images/icon-readlater.png')
}
.icon-setting {
	background-image:url('../images/icon-setting.png')
}
.icon-uses {
	background-image:url('../images/icon-uses.png')
}
.hx-team-icon {
	background-image:url('../images/verify_green_big.png')
}
#htmlBox {
	padding:60px 0 0;
	box-sizing:border-box;
}
.top-wrap {
	width:100%;
	top:0;
	position:absolute;
	z-index:2
}
.top {
	height:60px;
	background-color:#d91616;
	color:#fff;
	box-shadow:0 1px 8px rgba(167, 167, 167, 0.9);
	position:relative;
	z-index:2
}
.top .fn-left, .top .fn-right {
	position:relative;
	z-index:9
}
.top .fn-left {
	margin-left:10px
}
.top .fn-right {
	margin-right:10px
}
.logo {
	line-height:32px
}
.logo-box {
	position:relative;
	z-index:6;
	font-size:20px;
	cursor:pointer;
	background:url(../images/logo.png) no-repeat center center;
	background-size:180px;
	text-indent:-9999px;
	display:inline-block;
	width:180px; height:40px;
}

.logo-box-white {
	position:relative;
	z-index:6;
	font-size:20px;
	cursor:pointer;
	background:url(../images/logo_white.png) no-repeat center center;
	background-size:180px;
	text-indent:-9999px;
	display:inline-block;
	width:180px; height:60px;
}

.img-type-info {
	color:#aaa;
	cursor:pointer
}
.img-btn-wrap {
	cursor:pointer;
	display:block;
	color:#aaa;
	width:60px;
	margin:10px 10px 0 0;
	text-align:center;
	height:20px;
	line-height:20px;
	overflow:hidden
}
.img-btn-box {
	width:60px;
	line-height:20px;
	overflow:hidden;
	margin-top:-20px
}
.img-btn-box:before, .img-btn-box:after {
	display:block;
	font-size:12px;
	width:60px;
	text-align:center
}
.img-btn-box:before {
	content:"已开启";
	background-color:#08c;
	color:#fff
}
.img-btn-box:after {
	content:"已关闭";
	background-color:#fff
}
.img-type-wrap .active .img-btn-box {
	margin-top:0
}
.idx-top-ad {
	position:relative;
	overflow:hidden;
	line-height:0
}
.idx-top-ad img {
	width:100%;
	height:auto!important
}
.idx-top-ad .ad-close {
	background-color:rgba(255, 255, 255, .4);
	width:24px;
	height:24px;
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:5px;
	right:5px;
	text-align:center;
	font:normal 24px/20px ff-tisa-web-pro-1, ff-tisa-web-pro-2, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif!important;
	color:#fff;
	border-radius:5px;
	cursor:pointer
}
#optionsb {
	display:block;
	cursor:pointer;
	width:30px;
	height:30px;
	padding-top:18px;
	z-index:6;
	position:relative;
	overflow:hidden;
	text-align:right
}
#optionsb.active {
	background-color:#ddd;
	border-radius:0 0 5px 5px
}
.option-sb .menu-list {
	right:0;
	line-height:35px
}
#optionsb .opinionsb-set {
	display:block;
	width:24px;
	height:24px;
	background:url(../images/menu.png) no-repeat 0 0;
	background-size:24px;
	margin:0 auto;
	text-indent:9999px;
	overflow:hidden
}
#optionsb .user-img {
	width:22px;
	height:22px;
	box-shadow:0 0 3px #ccc;
	border:1px solid #eee;
	display:block
}
#searchBox {
	cursor:pointer;
	display:inline-block;
	text-align:center;
	overflow:hidden;
	width:24px;
	height:24px;
	margin-top:18px;
	text-indent:-9999px;
	background:url(../images/search.png) no-repeat 0 0;
	background-size:24px
}
.search-wrap {
	margin:0;
	height:52px;
	background-color:#eee;
	width:100%;
	overflow:hidden;
	display:none
}
.search-wrap form {
	padding:10px; padding-bottom:0;
}
.search-wrap .search-ipt {
	margin-right:100px
}
.search-wrap form input {
	width:100%;
	height:20px;
	line-height:20px; padding:10px;
	border:1px solid #ddd;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	-webkit-appearance:none;
	text-indent:10px
}
.search-wrap form button.search-btn {
	padding:10px 20px;
	background-color:#ddd;
	height:42px;
	border:none;
	margin-right:0;
	color:#444;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
.search-wrap-list {
	position:static;
	display:block;
	background-color:transparent;
	margin-top:10px
}
.search-wrap-list form {
	padding:5px 0
}
.search-wrap-menu {
}
.search-wrap-menu ul {
	overflow:hidden
}
.search-wrap-menu li {
	float:left;
	margin-right:10px
}
.search-wrap-menu li a {
	padding:0 15px;
	display:block;
	color:#fff;
	background-color:#bbb
}
.search-wrap-menu li a.active {
	background-color:#e6e6e6;
	color:#444
}
nav {
	width:100%;
	height:100%;
	overflow:hidden;
	line-height:40px;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	display:none
}
.nav-box {
	width:75%;
	height:100%;
	float:left;
	overflow:hidden;
	background-color:#d91616;
}
.nav-box h1 {
	padding:10px; background:white;
}
.nav-box a {
	display:block;
	color:#fff
}
.nav-box a:hover {
	color:#fff
}
.nav-box li.active {
	color:#fff;
	background-color:#444
}
.nav-box ul {
	width:100%; margin-top:12px;
}
.nav-box li {
	font-size:18px;
	border-bottom:1px solid #e44f51
}
.nav-box li a {
}
.nav-box .i-icon2 {
	vertical-align:middle;
	margin-right:10px;
	background-size:18px auto;
	width:18px;
	height:18px
}
.nav-login, .nav-sign-out {
	float:right;
	border:2px dotted #eee;
	width:56px;
	height:20px;
	line-height:20px;
	position:relative;
	top:7px;
	text-align:center
}
.nav-sign-out {
}
.nav-box .user-box {
	padding:0 10px 0
}
.nav-box .user-box .avatar-img {
	margin:5px 10px 0 0;
	line-height:0
}
.nav-box .user-box .username, .nav-box .user-box .username a {
	color:#fff
}
.nav-box .user-box .username .i-icon, .author-detail b .i-icon {
	margin-left:5px;
	top:1px
}
.profile-info {
	color:#fff;
	line-height:20px;
	font-size:12px;
	display:block
}
.nav-box li, .nav-box .user-box {
	padding:2px 0 2px 50px;
}
menu {
	width:25%;
	height:100%;
	overflow:hidden;
	line-height:40px;
	background-color:rgba(255, 255, 255, 0.8);
	float:left;
	position:relative
}
.menu-close {
	width:50px;
	margin-left:-25px;
	text-align:center;
	cursor:pointer;
	display:block;
	line-height:50px;
	border-radius:50px;
	background-color:#999;
	position:absolute;
	bottom:20px;
	color:#fff;
	left:50%
}
.html-box-animate {
	padding-left:75%;
	width:25%;
	overflow:hidden
}
.html-box-animate nav {
	display:block; z-index:10;
}
.html-box-animate .top-wrap, .html-box-animate .wrap, .html-box-animate .footer {
	width:100%
}
.ul-list li {
	overflow:hidden;
	box-shadow:0 2px 4px #ccc;
	padding:6px 0 10px 0;
	line-height:1.7;
	margin:10px 0;
	background-color:#fff;
	text-align:justify;
	text-justify:inter-ideograph;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
.ul-list li:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
.ul-list li>a {
	display:block;
	overflow:hidden;
	color:#666;
	padding:0 15px 10px 15px;
}
.ul-list .p-btm {
	text-align:right;
	margin:0;
	border-top:1px solid #f1f1f1;
	padding:5px 10px
}
.ul-list li b {
	width:100%;
	display:block;
	font-size:21px;
	line-height:1.2;
	margin:5px 0;
	font-weight:normal;
	color:#000
}
.ul-list li .thumb-img {
	margin:5px 10px 0 0;
	position:relative;
	overflow:hidden;
	z-index:0
}
.ul-list li .thumb-img img {
	box-shadow:0 0 1px #ccc
}
.ul-list li u, .ul-list li time, .ul-list li i, .ul-list li s {
	text-decoration:none;
	font-style:normal;
	margin:0 5px;
	font-size:12px
}
.ul-list li u, .ul-list li time {
	float:left
}
.ul-list li i, .ul-list li s {
	float:right
}
.ul-list li p a, .ul-list li time, .ul-list li s {
	color:#999
}
.ul-list li q {
	color:#f00;
	margin:0 2px
}
.ul-list li q:before, .ul-list li q:after {
	display:none
}

.focus-list li {
	overflow:visible
}
.focus-list li .p1 {
	margin:0;
	position:relative;
	z-index:0
}
.focus-list li .p1 b {
	padding:10px 0;
	box-sizing:border-box;
	margin-bottom:0;
	line-height:1.4
}
.focus-list li .p2 {
	margin:5px 0 0;
}
.focus-list li .b-title {
	display:none;
	padding:5px 0
}
.focus-list li .thumb-img {
	display:block;
	z-index:1;
	line-height:0
}
.focus-list li .thumb-img img {
	width:100%;
	height:auto!important
}
.focus-list li .thumb-img {
}
.focus-list li .thumb-img img {
}
li.author-li p.p1 {
	margin:0
}
.author-li a b {
	line-height:26px;
	margin-bottom:10px
}
.author-li>a {
	margin:10px 0
}
.opinions-list li {
}
.opinions-list a b {
	line-height:26px;
	margin-bottom:10px;
	color:#000
}
.opinions-list a {
	color:#666
}
.opinions-list li>a {
	margin-bottom:15px
}
.author-care {
	overflow:hidden;
	border-bottom:1px solid #eee;
	margin:0 0 15px;
	padding:15px 15px 5px;
	background:#f7f7f7
}
.author-avatar {
	border-radius:30px;
	float:left;
	margin-right:10px
}
.author-avatar img {
	box-shadow:0 0 1px #eee;
	border-radius:40px;
	width:40px;
	height:40px
}
.author-care p {
	overflow:hidden
}
.author-care p.p1 {
	margin:0 0 5px
}
.author-care p.p2 {
	padding-left:5px;
	font-size:12px;
	color:#999;
	margin:0!important
}
.books-li {
	padding-top:10px!important;
	line-height:1.5!important
}
.books-li .thumb-img {
	height:152px!important;
	float:left;
	margin:5px 10px 0 0!important
}
.books-li .thumb-img img {
	width:100px!important;
	height:auto;
	box-shadow:0 0 3px #666!important
}
.books-li>a {
	padding-bottom:10px!important
}
.books-list li {
	padding-top:10px!important;
	line-height:1.5!important
}
.books-list li b {
	line-height:1.2
}
.books-list li .thumb-img {
	height:152px;
	float:left;
	margin:5px 10px 0 0!important
}
.books-list li .thumb-img img {
	width:100px!important;
	height:auto;
	box-shadow:0 0 3px #666!important
}
.books-list li>a {
	padding-bottom:10px!important
}
.sponsored-li {
	position:relative;
	padding:5px 0!important;
	z-index:0
}
.sponsored-li:before {
	content:'赞助';
	width:40px;
	font-size:12px;
	background-color:#666;
	color:#fff;
	position:absolute;
	right:0;
	bottom:0;
	text-align:center
}
.sponsored-li a {
	overflow:hidden;
	margin:5px 0 10px!important
}
.sponsored-li .a-img {
	border:1px solid #f1f1f1
}
.sponsored-li b {
	margin-left:86px!important;
	font-size:16px!important;
	width:auto!important
}
.favorite-list {
	overflow:hidden
}
.favorite-list .a-img {
	width:50px;
	height:50px;
	box-shadow:1px 1px 1px #ccc;
	border-radius:2px;
	float:left;
	margin:15px 0
}
.favorite-list li b {
	line-height:1.6;
	margin:15px 0 0 60px;
	width:auto;
	font-size:16px
}
.favorite-list p {
	color:#999;
	text-align:left;
	clear:right;
	margin-left:60px
}
.favorite-list p .more {
	color:#08c
}
.later-read-list {
	overflow:hidden
}
.later-read-list .a-img {
	width:50px;
	height:50px;
	box-shadow:1px 1px 1px #ccc;
	border-radius:2px;
	float:left;
	margin:15px 0
}
.later-read-list li b {
	line-height:1.6;
	margin:15px 0 0 60px;
	width:auto;
	font-size:16px
}
.later-read-list p {
	color:#999;
	text-align:left;
	clear:right;
	margin-left:60px
}
.later-read-list p .more {
	color:#08c
}
.wrap {
	margin:0 10px;
}
.idx-pages, .pages {
	overflow:hidden;
	padding:10px 0
}
.idx-pages a, .pages span {
	height:40px;
	line-height:40px;
	text-align:center;
	color:#666;
	font-size:18px;
	letter-spacing:0.5pt
}
.idx-pages a {
	background-color:#ddd;
	display:block;
	text-shadow:1px 1px 1px #eee
}
.pages {
	text-align:center
}
.pages span {
	width:50%;
	display:inline-block;
	background-color:#08c;
	box-sizing:border-box;
	float:left
}
.pages .no-pg {
	background-color:#bbb;
	color:#eee;
	height:39px;
	overflow:hidden;
	margin-top:1px
}
.pages a {
	display:block;
	border:1px solid #eee;
	color:#fff
}
.idx-pages-more {
	border:1px solid #eee;
	border-left:none;
}
.more{ width:80%; display:block; background:#ccc; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; margin:10px auto; padding:4px 6px; text-align:center;}
.idx-pages-more a {
	display:inline-block;
	background-color:#ddd;
	color:#999;
	font-size:16px;
	letter-spacing:0.5pt;
	text-shadow:1px 1px 1px #eee;
	box-sizing:border-box;
	padding:15px 0;
	width:33.33%;
	text-align:center;
	float:left;
	border-left:1px solid #eee;
	line-height:1.4
}
.idx-pages-more a.radius_left{ -moz-border-radius:8px 0 0 8px; -webkit-border-radius:8px 0 0 8px; border-radius:8px 0 0 8px;}
.idx-pages-more a.radius_right{ -moz-border-radius:0 8px 8px 0; -webkit-border-radius:0 8px 8px 0; border-radius:0 8px 8px 0;}
.third-party-login-wrap {
	float:left
}
.weibo-login, .qq-login {
	line-height:1;
	text-align:center;
	display:inline-block;
	font-size:12px;
	margin:0 10px 0 0;
	padding:10px 0;
	color:#fff;
	background-color:#bbb;
	width:60px;
	border-radius:2px
}
.third-party-login-wrap a:hover {
	color:#fff
}

.box-cc {
	padding:10px;
	background-color:#fafafa;
	box-shadow:0 1px 1px #ccc
}
.alert-wrap {
	color:#999;
	font-size:12px
}
.alert-wrap a {
	color:#08c
}
.alert-btn01 {
	border:1px dotted #08c;
	padding:0 5px;
	border-radius:2px;
	display:inline-block;
	margin-top:5px;
	margin-right:10px
}
#repeat_email .email-ipt-btn {
	color:#08c;
	border:1px dotted #08c;
	padding:0 5px;
	border-radius:2px;
	display:inline-block;
	margin-top:5px;
	margin-right:10px;
	background-color:transparent
}
.email-info {
	font-size:12px;
	color:#999
}
.email-checking-wrap {
}
.email-checking, .email-edit {
	margin:20px 0;
	color:#666
}
.email-checking .c9, .email-edit .c9 {
	border-top:1px solid #eee;
	margin:20px -10px 0;
	padding:10px 10px 0;
	font-size:12px
}
.email-checking a {
	color:#08c
}
.email-checking-msg {
	text-align:center;
	margin:10px 0;
	font-size:14px
}
.email-edit p {
	margin:0 0 10px
}
.email-edit .box-ipt {
	border:1px solid #ccc;
	height:30px;
	line-height:30px;
	border-radius:5px;
	padding:0 5px
}
.email-edit .ipt-btn {
	margin-right:12px
}
.email-edit .alert-btn01 {
	padding:4px 5px
}
.other-reg-wrap {
	display:-moz-box;
	display:-webkit-box;
	display:box
}
.other-reg-wrap span {
	display:block;
	text-align:center;
	-moz-box-flex:1.0;
	-webkit-box-flex:1.0;
	box-flex:1.0
}
.other-reg-avatar img, .hx-reg-avatar img {
	width:80px;
	height:80px;
	border-radius:2px;
	border:2px solid #aaa
}
.other-reg-link {
	width:30px;
	background:url(../images/icon_arrow.png) no-repeat center 16px;
	background-size:auto 50%
}
#box_point {
	text-align:center
}
#box_point h2 {
	color:#f60;
	font-size:24px;
	padding:20px 10px 10px
}
#box_point p {
	padding:20px
}
#box_point a {
	box-shadow:0 0 1px #f9f9f9;
	padding:10px;
	border-radius:2px;
	background-color:#08c;
	color:#fff
}
.footer {
	text-align:center;
	font-size:12px;
	color:#999;
	padding:20px 0;
	position:relative
}
.footer i {
	font-style:normal
}
.footer i, .footer a {
	margin:0 10px
}
#go_top {
	position:absolute;
	right:10px;
	bottom:22px;
	width:38px;
	height:39px;
	display:block;
	background:url(../images/gotop.png) no-repeat center 5px;
	cursor:pointer;
	background-size:25px auto
}
.footer a.foot-about {
	color:#999;
	margin-left:0
}
.search-list li {
	padding-top:5px
}
.search-list li>a {
	padding-bottom:10px
}
.search-user-li {
	border:2px solid #f60;
	position:relative;
	z-index:0
}
.search-user-li:after {
	content:'相关用户';
	position:absolute;
	right:0;
	top:0;
	padding:0 5px;
	background-color:#f60;
	color:#fff;
	font-size:12px
}
.search-user-li>a {
	padding-bottom:0!important
}
.search-user-li .a-img, .search-user-list .a-img {
	float:left;
	margin:5px 6px 5px 0
}
.search-user-li .a-img img, .search-user-list .a-img img {
	width:60px;
	height:60px;
	border:1px solid #eee
}
.search-user-li .profile-info, .search-user-list .profile-info {
	color:#666
}
.search-user-li p, .search-user-list p {
	overflow:hidden
}
.search-user-li p.p1, .search-user-list p.p1 {
	margin-top:5px
}
.search-user-li p.p2, .search-user-list p.p2 {
	padding-left:5px
}
.search-user-list li {
	padding-top:5px!important
}
.search-list em, .search-user-list em {
	color:red
}
.neirong h1 {
	font-size:24px;
	margin:5px 0;
	line-height:1.4
}
.neirong h2 {
	font-size:18px;
	margin:15px 0 0;
	line-height:1.4
}
.neirong .other {
	color:#aaa;
	margin-bottom:5px;
	font-size:12px
}
.fixed_bottom{ background:#e1e1e1; position:fixed; bottom:0; z-index:2; width:100%; line-height:35px;}
.bottom_return{ width:10%; border-right:solid 1px #ccc; float:left; height:100%; text-align:center;}
.bottom_return img{ width:35%; vertical-align:middle;}
.bottom_num{ width:15%; height:35px; float:left; border-left:solid 1px #fff; text-align:center; background:url(../images/icon/chatk.png) no-repeat center 5px; background-size:40px; font-weight:800;}
.bottom_chat{ float:left; border-left:solid 1px #fff; border-right:solid 1px #ccc; width:74%;}
.bottom_chat_title{ background:url(../images/icon/write.png) no-repeat 6px center; padding-left:35px; background-size:24px;}
.chattitle{ margin-left:12px;}
.chattitle textarea,.chattitle input{ -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.chattitle textarea{ border:solid 1px #2e2e2e; width:90%; height:60px;}
.chattitle input{ background:#d91616; padding:3px 6px; border:none; color:white; cursor:pointer; float:right; margin-right:5%;}

.neirong .other u, .neirong .other time, .neirong .other i {
	margin:0 10px;
	font-style:normal;
	text-decoration:none
}
.neirong .other u, .neirong .other time, .neirong .other i, .neirong .other img{ vertical-align:middle;}
.neirong .other img{}
.neirong .other a {
	color:#aaa
}
.neirong-box, .nr-box {
	font-size:16px;
	line-height:1.6;
	width:auto;
	overflow:hidden;
	color:#555;
	text-align:justify
}
.neirong-box a {
	color:#006CD8;
	margin:0 2px
}
.neirong-box .p-img {
	text-align:center
}
.neirong-box img {
	max-width:95%
}
.neirong-box {
	width:100%;
	table-layout:fixed;
	word-wrap:break-word;
	word-break:normal
}

.nr-share {
	text-align:center;
	padding:20px 0
}
.nr-share span {
	width:48px;
	height:48px;
	background:#e6e6e6;
	display:inline-block; text-align:center;
	margin:0 10px 20px;
	cursor:pointer;
	position:relative;
	z-index:0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; 
}
.nr-share span i, #chat a {
	font-style:normal;
	font-size:12px;
	color:#666;
	position:absolute;
	top:28px;
	width:48px;
	text-align:center;
	display:block;
}
/* --------------点赞/分享/评论--------------- */
#like { background-image:url(../images/icon/praise.png); background-repeat:no-repeat; background-position:center 4px; background-size:50%; }
#share { background-image:url(../images/icon/share.png); background-repeat:no-repeat; background-position:center 4px; background-size:50%;}
#chat { background-image:url(../images/icon/comments.png); background-repeat:no-repeat; background-position:center 4px; background-size:50%;}
#chat i {
	top:-35px;
	right:0;
	color:#fff;
	padding:0 4px;
	background-color:#f90;
	font-size:10px;
	border-radius:3px;
	box-shadow:1px 1px 3px #ccc;
	width:auto
}

.reply{ overflow:hidden; margin-top:6px;}
.reply textarea,.reply input{ -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.reply textarea{ border:solid 1px #2e2e2e; width:80%; height:30px; float:left;}
.reply input{ background:#d91616; padding:3px 6px; border:none; color:white; cursor:pointer; float:right; width:18%;}

.textarea-box {
	margin:10px 22px 10px 0
}
.textarea-box textarea {
	width:100%;
	height:80px;
	padding:10px;
	border:1px solid #999;
	border-right-color:#ccc;
	border-bottom-color:#ccc;
	border-radius:2px;
	box-shadow:0 0 3px #ccc
}
.pl-wrap form p {
}
.pl-wrap form input {
	width:auto;
	padding:6px 14px;
	cursor:pointer;
	height:35px;
	background-color:#08c;
	color:#fff;
	border-radius:2px;
	font-size:14px;
	line-height:20px;
	display:inline-block;
	font-weight:normal;
	border:1px solid #bbb;
	border-right-color:#ddd;
	border-bottom-color:#ddd;
	box-shadow:0 0 1px #f9f9f9
}
.pl-h2 {
	font-size:16px;
	line-height:40px;
	color:#f90
}
.pl-list {
	margin:20px 0;
	border-bottom:1px solid #f7f7f7
}
.pl-box {
	padding:15px 0;
	border-top:1px solid #f7f7f7;
	border-bottom:1px solid #ccc;
	text-align:justify;
}
.pl-box, .pl-box a {
	color:#666
}
.pl-box-top {
	overflow:hidden
}
.pl-box-top .name i {
	top:0;
	margin-left:5px
}
.pl-box .a-img {
	float:left;
	margin-right:5px
}
.pl-box .a-img img { width:40px; height:40px; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%;}
.pl-box .name{ margin-top:8px;}
.pl-box .time {
	font-size:12px;
	color:#999;
}
.other-author-wrap .pl-box-ctt a{ color:#f26d00; margin-left:8px;}
.pl-box-btn {
	text-align:right;
	margin-top:10px
}
.pl-box-btn i, .pl-box-btn a {
	margin-left:10px;
	font-size:12px;
	background:url(../images/ico_bg.png) no-repeat;
	background-size:40px;
	padding-left:20px;
	font-style:normal;
	cursor:pointer;
}
.pl-box-btn i:nth-child(1) {
background-position:0 -208px
}
.pl-box-btn i:nth-child(2) {
background-position:0 -224px
}
.pl-box-btn a {
	background-position:0 -240px
}
.other-author-wrap {
	margin-bottom:10px;
}
.other-author-wrap a {
	color:#555
}
.other-author-wrap h2 {
	width:100%;
	font-size:16px;
	color:#444;
	text-align:left;
	text-indent:10px; padding:5px 0;
	-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; background:#e6e6e6;
}
.other-author-wrap .author-detail {
	overflow:hidden;
	padding:10px
}
.other-author-wrap .author-detail b {
	font-weight:normal
}
.other-author-wrap .author-detail b a {
	color:#08c
}
.other-author-wrap .a-img {
	float:left;
	margin-right:10px
}
.other-author-wrap .ortitle {
	border-top:1px solid #ccc;
	padding:10px
}
.other-author-wrap .ortitle h3 {
	font-weight:bold;
	margin-bottom:5px
}
.other-author-wrap .ortitle h3 em {
	color:#0072c6;
	margin-right:5px
}
.other-author-wrap .ortitle ul {
	padding-left:20px;
	list-style:disc;
	color:#555
}
.otherauthor h2 {
	text-align:center
}
.otherauthor .a-img img {
	width:60px;
	height:60px;
	border-radius:2px;
	border:1px solid #ccc;
	padding:1px;
	box-shadow:0 0 1px #ccc
}
.otherauthor-idx {
	margin-top:20px
}
.related-reading h2 {
}
.hot-review {
	padding-bottom:0
}
.hot-review .pl-list {
	margin:0
}
.hot-review .pl-box {
	padding:10px
}
.hot-review-more a {
	display:block;
	background-color:#ddd;
	text-align:center;
	height:30px;
	line-height:30px;
	margin-bottom:-1px
}
#set_box {
	padding-top:20px
}
#set_box p b {
	margin:0 5px 0 0
}
#box_contact h2 {
	font-size:24px;
	text-align:center
}
#box_contact p {
	margin:10px 0
}
#msg_point {
	position:fixed;
	top:50%;
	overflow:hidden;
	padding:10px;
	border:1px solid #ccc;
	box-shadow:0 0 3px #ccc;
	left:50%;
	margin-top:-30px;
	margin-left:-60px;
	background-color:#fff;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:18px;
	display:none
}
.tags-list {
}
.tags-list li {
}
.tags-list .a-img, .tags-nr .a-img {
	width:120px;
	height:120px;
	box-shadow:1px 1px 1px #ccc;
	border-radius:2px;
	float:left;
	margin:5px 10px 0 0
}
.tags-list a b {
	margin:10px 0 15px
}
.tags-list a p {
	color:#aaa;
	text-shadow:1px 1px 1px #fff;
	text-align:left;
	clear:right;
	margin:5px 0
}
.tags-list a .p-t {
	color:#666
}
.dingyue .i-red {
	color:#f60
}
.tags-nr-top {
	overflow:hidden;
	padding:20px 0;
	border-bottom:1px solid #ccc
}
.tags-nr-top .a-img {
	margin-top:10px
}
.tags-nr-top h2 {
	font-size:24px;
	margin-left:130px
}
.tags-nr-top h2 .s {
	margin-right:20px
}
.tags-nr-top h2 .more-tags {
	font-size:14px;
	background-color:#08c;
	padding:4px 8px;
	color:#fff;
	border-radius:2px;
	box-shadow:1px 1px 1px #ccc;
	display:inline-block;
	margin-bottom:10px
}
.tags-nr-top .tags-summary {
	color:#999;
	text-shadow:1px 1px 1px #fff;
	margin-left:130px
}
.tags-nr-top .tags-summary .more {
	color:#08c
}
.tags-nr-list {
	overflow:hidden
}
.tags-nr-list li {
}
.tags-nr-list .a-img {
	width:50px;
	height:50px;
	margin-top:15px
}
.tags-nr-list li b {
	line-height:1.6;
	margin:15px 0 5px 60px;
	width:auto;
	font-size:16px
}
.tags-nr-list p {
	color:#999;
	text-align:left;
	clear:right;
	margin:0 0 5px 60px
}
.tags-nr-list p .more {
	color:#08c
}
.related-tag h2 {
}
.related-tag .ortitle ul {
	padding:5px 0 0;
	margin-left:-5px
}
.related-tag li {
	list-style:none;
	display:inline-block;
	margin:0 0 5px 10px;
	overflow:hidden;
	line-height:40px
}
.related-tag li a {
	padding:6px 8px;
	background:#08c;
	color:#fff
}
.related-tag .ortitle {
}
.tag-mingpian {
	padding:20px 10px
}
.tag-mingpian .p-img {
	text-align:center
}
.tag-mingpian .a-img {
	float:none;
	margin:0 auto
}
.tag-mingpian h2 {
	font-size:24px;
	text-align:center
}
.tag-mingpian .tags-summary {
	line-height:26px;
	padding:10px 0
}
.login-body #box_login {
	margin-top:20px
}
.uses-list {
}
ul.uses-list li b, li.uses-li b {
	padding-top:10px;
	font-size:14px;
	line-height:1.4
}
ul.uses-list li .box-ctt, li.uses-li .box-ctt {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:box;
	padding-bottom:10px
}
ul.uses-list li .thumb-img, li.uses-li .thumb-img {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
	margin:0!important;
	overflow:hidden;
	text-align:center;
	box-sizing:border-box;
	padding:5px
}
ul.uses-list li .thumb-img img, li.uses-li .thumb-img img {
	width:100%;
	max-width:200px;
	height:auto!important
}
ul.uses-list li .thumb-img {
	display:block
}
.uses-ctt-meta {
	padding:6px 10px;
	font-size:12px;
	margin:5px 0 10px;
	border:1px solid #eee;
	box-shadow:inset 0 0 1px #fff;
	background:#fafafa;
	border-radius:2px;
	text-align:left;
	overflow:hidden
}
.uses-ctt-meta p {
	margin-bottom:5px;
	color:#999
}
.box-ctt-btn {
}
.uses-hot-review {
}
.scroll {
	width:100%;
	height:180px;
	margin:20px auto 0 auto;
	position:relative;
	overflow:hidden;
	z-index:1
}
.mod_01 {
	float:left;
	width:370px;
	text-align:center
}
.mod_01 img {
	display:block;
	width:100%
}
.slide_01 {
	margin:0 auto
}
.dotModule_new {
	padding:0 5px;
	height:11px;
	line-height:6px;
	border-radius:2px;
	background:rgba(45, 45, 45, 0.5);
	position:absolute;
	bottom:2px;
	right:2px;
	z-index:11
}
#slide_01_dot {
	text-align:center;
	margin:1px 0 0 0
}
#slide_01_dot span {
	display:inline-block;
	margin:0 3px;
	width:5px;
	height:5px;
	vertical-align:middle;
	background:#f7f7f7;
	-webkit-border-radius:5px
}
#slide_01_dot .selected {
	background:#f90
}
.read-later-wrap {
	text-align:right;
	margin-bottom:10px
}
.read-later-wrap span, .read-later-wrap a {
	cursor:pointer;
	display:inline-block;
	padding:2px 8px 2px 22px;
	border-radius:1px;
	color:#fff;
	position:relative;
	z-index:0;
	background:#08c url(../images/ico_bg.png) no-repeat
}
.read-later-wrap span i, .read-later-wrap a i {
	position:absolute;
	left:50%;
	margin-left:-8px;
	background:url(../images/loading.gif) no-repeat;
	top:6px;
	width:16px;
	height:16px;
	display:none
}
.read-later-wrap .btn-on {
	background-position:2px -681px
}
.read-later-wrap .btn-un {
	background-position:2px -743px
}
.about-wrap {
}
.about-wrap h1 {
	margin-top:20px
}
.about-wrap .about-menu {
	margin:20px 1px 0
}
.about-wrap .about-menu span {
	height:35px;
	line-height:35px;
	display:block;
	box-sizing:border-box;
	width:100%;
	text-align:center;
	background-color:#ddd;
	border-top:1px solid #eee
}
.about-wrap .about-menu span a {
	color:#666;
	display:block
}
.about-wrap .about-menu span.active {
	background:#aaa
}
.about-wrap .about-menu span.active a {
	color:#444
}
@media (max-width:800px) {
}
@media (max-width:480px) {
}
@media (max-width:320px) {
.neirong-box img {
max-width:100%;
max-width:285px;
}
}
@media (max-width:240px) {
.neirong-box img {
max-width:220px
}
}
@media only screen and (min-device-width:320px) and (max-device-width:480px) {
}
@media only screen and (min-device-width:600px) and (max-device-width:800px) {
}
