///组件-company数据展现组件
///作者：易品




///*--company标题--*/
.company-gird-title1{
	width:890px;
	margin:20px auto 0 auto;
	border-bottom:1px solid @color-gray5;
	.user-select-base;
	h1{
		width:100%;
		height:50px;
		display:inline-block;
		line-height:50px;
		font-size:@font-size-base + 10px;
		color:@color-gray1;
		text-align:center;
	}
	a{
		width:100px;
		height:30px;
		display:block;
		margin:0 auto;
		overflow:hidden;
		.no-outline-base;
		text-align:center;
		span{
			width:100%;
			height:30px;
			display:inline-block;
			overflow:hidden;
			margin:0 auto;
			vertical-align:middle;
			color:@color-gray2;
			font-size:@font-size-small;
			text-decoration:underline;
		}
		&:hover{
			span{
				color:@color-orange1;
			}
		}
	}
}

.company-gird-title2{
	width:1190px;
	background:@color-white;
	margin:30px auto 20px auto;
	height:50px;
	border-bottom:1px solid @color-gray5;
	.user-select-base;
	text-align:left;
	>h1{
		float:left;
		height:100%;
		display:inline-block;
		line-height:50px;
		font-size:@font-size-base + 14px;
		color:@color-gray1;
	}
	>span{
		height:100%;
		display:inline-block;
		padding:0 0 0 15px;
		line-height:65px;
		color:@color-gray3;
		font-size:@font-size-small;
		&:hover{
			color:@color-orange1;
		}
	}
}

.company-gird-title3{
	width:100%;
	background:@color-white;
	margin:30px auto 20px auto;
	height:50px;
	border-bottom:1px solid @color-gray5;
	.user-select-base;
	text-align:left;
	>h1{
		float:left;
		height:100%;
		display:inline-block;
		line-height:50px;
		font-size:@font-size-base + 14px;
		color:@color-gray1;
	}
	>span{
		height:100%;
		display:inline-block;
		padding:0 0 0 15px;
		line-height:65px;
		color:@color-gray3;
		font-size:@font-size-small;
		&:hover{
			color:@color-orange1;
		}
	}
}

///*--company数据展现--*/
.company-grid1{
	.layout-float-base;
	background:@color-white;
	@width:890px;
	@height:200px;
	>li{
		.layout-float-base;
		border:1px solid @color-gray5;
		height:200px;
		padding:20px;
		*height:@height - 42;
		*width:@width - 42;
		margin:0 0 8px 0;
		&:hover{
			border:1px dashed @color-orange1;
		}
	}
	.company-griditem1{
			float:left;
			width:160px;
			height:160px;
			border:1px solid @color-gray5;
			margin:0 20px 0 0;
			overflow:hidden;
			img{
				width:150px;
				height:150px;
				padding:5px;
				overflow:hidden;
			}
	}
	.company-griditem2{
			float:left;
			width:360px;
			height:100%;
			.user-select-base;
			dt{
				.layout-float-base;
				height:40px;
				line-height:40px;
				.text-of;
				text-overflow:ellipsis;
				font-size:@font-size-base + 4;
				color:@color-gray1;
			}
			dd{
				.layout-float-base;
				height:118px;
				div{
					height:20px;
					float:left;
					width:100%;
					line-height:20px;
					font-size:@font-size-base - 2;
					color:@color-gray2;
					.text-of;
					text-overflow:ellipsis;
					span{
						display:inline-block;
						vertical-align:middle;
						width:16px;
						height:16px;
						overflow:hidden;
						background:url(../images/icons.png) -191px -96px no-repeat;
						margin:0 5px 0 0;
					}
				}
				p{
					float:left;
					height:40px;
					width:100%;
					color:@color-gray3;
					font-size:@font-size-base - 2;
					line-height:20px;
					.text-ww;
					overflow:hidden;
					margin:10px 0 0 0;
					span{
						width:8px;
						height:11px;
						float:left;
						margin:6px 5px 0 0;
						overflow:hidden;
						background:url(../images/icons.png) 0 -57px no-repeat;
					}
				}
				a{
					width:30%;
					float:left;
					height:20px;
					line-height:20px;
					.text-of;
					font-size:@font-size-base - 2;
					color:@color-gray2;
					span{
						color:@color-orange1;
						padding:0 0 0 5px;
					}
				}
				em{
					.layout-float-base;
					height:20px;
					line-height:20px;
					margin:5px 0 0 0;
					font-size:@font-size-base - 2;
					.text-of;
					color:@color-gray2;
					text-overflow:ellipsis;
				}
			}
	}
	.company-griditem3{
		height:100%;
		float:left;
		width:120px;
		vertical-align:middle;
		display:table;
		a{
			width:100%;
			height:100%;
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			font-size:@font-size-base;
			color:@color-gray2;
			span{
				display:inline-block;
				height:20px;
				width:100%;
				line-height:20px;
				font-size:@font-size-base + 8;
				color:@color-orange1;
			}
		}
	}
	.company-griditem4{
		height:100%;
		float:right;
		width:170px;
		div,
		p,
		span{
			float:right;
			display:inline-block;
			text-align:center;
			.user-select-base;
		}
		div{
			height:38px;
			background:@color-orange1;
			color:@color-white;
			font-size:@font-size-base;
			line-height:38px;
			width:160px;
			margin:20px 0 0 5px;
			cursor:pointer;
			&:hover{
				background:darken(@color-orange1,5%);
			}
		}
		p{
			height:36px;
			border:1px solid @color-orange1;
			color:@color-orange1;
			line-height:36px;
			font-size:@font-size-base;
			width:158px;
			margin:10px 0 0 5px;
			cursor:pointer;
			&:hover{
				color:darken(@color-orange1,5%);
			}
		}
		span{
			height:20px;
			line-height:20px;
			font-size:@font-size-base - 2;
			color:@color-gray2;
			width:100%;
			.text-of;
			margin:10px 0 0 5px;
			i{
				padding:0 5px;
				color:@color-orange1;
			}
		}
	}
}


.company-grid2{
	.layout-float-base;
	padding:0 0 36px 0;
	>ul{
		width:1190px;
		height:auto;
		margin:0 auto 0 auto;
		&:empty{
			min-height:200px;
			text-align:center;
			line-height:200px;
			border:1px solid @color-gray5;
			background:@color-white;
			&:before{
				content:'\e708';
				font-family:'ux_one';
				color:@color-green1;
				font-size:@font-size-base + 20;
				display:inline-block;
			}
			&:after{
				content:'暂无数据';
				color:@color-gray3;
				font-size:@font-size-base;
				display:inline-block;
				margin:0 0 0 10px;
			}
		}
		li{
			.box-sizing-base;
			margin:0 0 24px 0;
			&:hover{
				.company-griditem2{
					.transition-base(all .2s ease-in .02s);
					border-left:1px solid @color-gray4;
					border-right:1px solid @color-gray4;
					background:@color-gray7;
				}
				.company-griditem3{
					.transition-base(all .2s ease-in .02s);
					border-left:1px solid @color-gray4;
					border-right:1px solid @color-gray4;
					border-bottom:1px solid @color-gray4;
					background:@color-gray7;
				}
			}
		}
	}
	
	@width:1190px;
	.company-layoutitem1{
		float:left;
		width:@width/4 + 8;
		*width:@width/4 - 16;
		padding:0 24px 0 0;
	}
	.company-layoutitem2{
		float:right;
		width:@width/4 - 24;
	}
	
	.company-griditem1,
	.company-griditem2,
	.company-griditem3{
		.layout-float-base;
		background:@color-white;
	}
	
	.company-griditem1{
		height:200px;
		display:block;
		overflow:hidden;
		img{
			height:100%;
			width:100%;
			display:block;
		}
	}
	
	.company-griditem2,
	.company-griditem3{
		padding:0 15px;
		*padding:0;
	}
	
	.company-griditem2{
		height:74px;
		border-left:1px solid @color-gray5;
		border-right:1px solid @color-gray5;
		h3{
			*text-indent:15px;
			width:100%;
			height:35px;
			line-height:45px;
			.text-of;
			text-overflow:ellipsis;
			color:@color-gray1;
			font-size:@font-size-base;
		}
		div{
			height:32px;
			width:100%;
			margin:5px 0 0 0;
			border-bottom:1px dashed @color-gray5;
			span{
				font-size:@font-size-small;
				color:@color-gray2;
				height:14px;
				line-height:14px;
				padding:0 5px 0 10px;
				margin:2px 0 0 0;
				vertical-align:middle;
				display:inline-block;
				vertical-align:middle;
				border-left:1px solid @color-gray2;
				em{
					color:@color-orange1;
				}
				&:first-child{
					border-left:0 !important;
					padding:0 5px 0 0;
					*padding:0 5px 0 15px;
				}
			}
		}
	}
	
	.company-griditem3{
		.layout-relative-base;
		height:44px;
		border-left:1px solid @color-gray5;
		border-right:1px solid @color-gray5;
		border-bottom:1px solid @color-gray5;
		div{
			width:24px;
			height:24px;
			float:left;
			margin:10px 0 0 0;
			*margin:10px 0 0 15px;
			.border-radius-base(50%);
			overflow:hidden;
			img{
				width:100%;
				height:100%;
				display:block;
			}
		}
		p{
			float:left;
			margin:0 0 0 8px;
			height:100%;
			width:50%;
			.text-of;
			text-overflow:ellipsis;
			line-height:44px;
			font-size:@font-size-base;
			color:@color-gray2;
		}
	}
	
	.good,
	.comment{
		height:20px;
		line-height:20px;
		font-size:@font-size-small;
		color:@color-gray3;
		em{
			display:inline-block;
			overflow:hidden;
			cursor:pointer;
			float:left;
			margin:3px 5px 0 0;
		}
	}
	.good{
		.layout-absoluter-base(60px,12px,0);
		em{
			width:15px;
			height:14px;
			background:url(../images/icons.png) -191px -66px no-repeat;
		}
	}
	.comment{
		.layout-absoluter-base(10px,12px,0);
		em{
			width:15px;
			height:15px;
			background:url(../images/icons.png) -207px -66px no-repeat;
		}
	}
}


.company-grid3{
	.layout-float-base(890px);
	padding:0 0 36px 0;
	>ul{
		width:890px;
		height:auto;
		margin:0 auto 0 auto;
		&:empty{
			min-height:200px;
			text-align:center;
			line-height:200px;
			border:1px solid @color-gray5;
			background:@color-white;
			&:before{
				content:'\e708';
				font-family:'ux_one';
				color:@color-green1;
				font-size:@font-size-base + 20;
				display:inline-block;
			}
			&:after{
				content:'暂无数据';
				color:@color-gray3;
				font-size:@font-size-base;
				display:inline-block;
				margin:0 0 0 10px;
			}
		}
		li{
			.box-sizing-base;
			margin:0 0 24px 0;
			&:hover{
				.company-griditem2{
					.transition-base(all .2s ease-in .02s);
					border-left:1px solid @color-gray4;
					border-right:1px solid @color-gray4;
					background:@color-gray7;
				}
				.company-griditem3{
					.transition-base(all .2s ease-in .02s);
					border-left:1px solid @color-gray4;
					border-right:1px solid @color-gray4;
					border-bottom:1px solid @color-gray4;
					background:@color-gray7;
				}
			}
		}
	}
	
	@width:1190px;
	.company-layoutitem1{
		float:left;
		width:@width/4 + 10;
		*width:@width/4 - 20;
		padding:0 24px 0 0;
	}
	.company-layoutitem2{
		float:right;
		width:@width/4 - 24;
	}
	
	.company-griditem1,
	.company-griditem2,
	.company-griditem3{
		.layout-float-base;
		background:@color-white;
	}
	
	.company-griditem1{
		height:200px;
		display:block;
		overflow:hidden;
		img{
			height:100%;
			width:100%;
			display:block;
		}
	}
	
	.company-griditem2,
	.company-griditem3{
		padding:0 15px;
		*padding:0;
	}
	
	.company-griditem2{
		height:74px;
		border-left:1px solid @color-gray5;
		border-right:1px solid @color-gray5;
		h3{
			*text-indent:15px;
			width:100%;
			height:35px;
			line-height:45px;
			.text-of;
			text-overflow:ellipsis;
			color:@color-gray1;
			font-size:@font-size-base;
		}
		div{
			height:32px;
			width:100%;
			margin:5px 0 0 0;
			border-bottom:1px dashed @color-gray5;
			span{
				font-size:@font-size-small;
				color:@color-gray2;
				height:14px;
				line-height:14px;
				padding:0 5px 0 10px;
				margin:2px 0 0 0;
				vertical-align:middle;
				display:inline-block;
				vertical-align:middle;
				border-left:1px solid @color-gray2;
				em{
					color:@color-orange1;
				}
				&:first-child{
					border-left:0 !important;
					padding:0 5px 0 0;
					*padding:0 5px 0 15px;
				}
			}
		}
	}
	
	.company-griditem3{
		.layout-relative-base;
		height:44px;
		border-left:1px solid @color-gray5;
		border-right:1px solid @color-gray5;
		border-bottom:1px solid @color-gray5;
		div{
			width:24px;
			height:24px;
			float:left;
			margin:10px 0 0 0;
			*margin:10px 0 0 15px;
			.border-radius-base(50%);
			overflow:hidden;
			img{
				width:100%;
				height:100%;
				display:block;
			}
		}
		p{
			float:left;
			margin:0 0 0 8px;
			height:100%;
			width:50%;
			.text-of;
			text-overflow:ellipsis;
			line-height:44px;
			font-size:@font-size-base;
			color:@color-gray2;
		}
	}
	
	.good,
	.comment{
		height:20px;
		line-height:20px;
		font-size:@font-size-small;
		color:@color-gray3;
		em{
			display:inline-block;
			overflow:hidden;
			cursor:pointer;
			float:left;
			margin:3px 5px 0 0;
		}
	}
	.good{
		.layout-absoluter-base(60px,12px,0);
		em{
			width:15px;
			height:14px;
			background:url(../images/icons.png) -191px -66px no-repeat;
		}
	}
	.comment{
		.layout-absoluter-base(10px,12px,0);
		em{
			width:15px;
			height:15px;
			background:url(../images/icons.png) -207px -66px no-repeat;
		}
	}
}


///*--攻略查询分页组件--*/
.company-page{
	.layout-float-base;
	margin:0 0 50px 0;
	text-align:center;
}



























