///组件--攻略侧边栏导航
///作者：易品


//侧边栏
.process-sidewrap{
	.layout-float-base(180px);
	overflow:hidden;
	>div{
		.layout-float-base(178px);
		border-left:1px solid @color-gray5;
		border-right:1px solid @color-gray5;
		border-bottom:1px solid @color-gray5;
		>h3{
		width:100%;
		text-indent:20px;
		height:40px;
		line-height:40px;
		font-size:@font-size-base;
		color:@color-gray1;
		background-color:#F0F0F0;
		cursor:pointer;
	}
		>ul{
			.layout-float-base;
			width:100%;	
			>li{
				.layout-float-base;
				height:40px;
				line-height:40px;
				text-indent:20px;
				.text-of;
				text-overflow:ellipsis;
				font-size:@font-size-base - 2;
				color:@color-gray2;
				height:100%;
				cursor:pointer;
				&:hover{
					color:@color-orange1;
				}
			}
			.process-sideactive{
				background:@color-gray7;
				color:@color-orange1;
			}
		}
	}
}














