///组件--跑马灯图集展现（图集浏览）
///作者：易品


.marquee-wrap{
	background:@color-white;
	width:100%;
	min-height:700px;
	text-align:center;
	padding:50px 0;
}

///图片展示
.marquee-show{
	.layout-relative-base;
	width:200px;
	height:200px;
	overflow:hidden;
	margin:0 auto;
	&:hover{
		.marquee-design,
		.marquee-price,
		.marquee-keep{
			.transition-base(all .3s ease-in .02s);
			top:0;
		}
	}
}
.marquee-design,
.marquee-price,
.marquee-keep{
	position:absolute;
	top:-30px;
	z-index:50;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:@font-size-small;
	color:@color-white;
	cursor:pointer;
	.text-of;
}
.marquee-design,
.marquee-price{
	width:100px;
	background:@color-orange1;
}
.marquee-keep{
	right:0;
	width:80px;
	background:@color-base;
	span{
		background:url(../images/icons.png) -297px 0 no-repeat;
		width:12px;
		height:12px;
		display:inline-block;
		overflow:hidden;
		vertical-align:middle;
		margin:0 5px 0 0;
	}
}
.marquee-design{
	left:0;
}
.marquee-price{
	left:102px;
}
.marquee-prevbtn,
.marquee-nextbtn{
	position:absolute;
	z-index:100;
	top:63px;
	cursor:pointer;
	width:74px;
	height:74px;
	cursor:pointer;
}
.marquee-prevbtn{
		left:0;
		background:url(../images/icons.png) -42px -46px no-repeat;
}
.marquee-nextbtn{
		right:0;
		background:url(../images/icons.png) -116px -46px no-repeat;
}
.marquee-image{
	min-width:200px;
	max-width:1400px;
	min-height:200px;
	margin:0 auto;
	img{
		max-width:1400px;
		min-width:200px;
		min-height:200px;
		display:block;
	}
	&:empty{
		background:@color-gray7;
		cursor:default;
		&:before{
			content:'无图集';
			line-height:200px;
			text-align:center;
			color:@color-gray3;
			font-size:@font-size-small;
		}
	}
}

///图片导航
.marquee-guide,
.marquee-guidelist{
	.layout-float-base;
	height:80px;
	padding:5px 0;
	margin:10px 0 50px 0;
	background:@color-gray5;
}
.marquee-guide{
	>div{
		width:750px;
		height:100%;
		margin:0 auto;
		text-align:center;
	}
}
.marquee-guidelist{
	>div{
		width:1100px;
		height:100%;
		margin:0 auto;
		text-align:center;
	}
}

///图片导航上下图集
.imageset-prev,
.imageset-next{
	.layout-relative-base;
	display:inline-block;
	overflow:hidden;
	width:70px;
	height:70px;
	cursor:pointer;
	img{
		width:66px;
		height:66px;
		border:2px solid @color-gray5;
		display:block;
	}
	i{
		.layout-absoluterb-base(2px,2px);
		height:14px;
		padding:0 5px;
		line-height:14px;
		font-size:@font-size-small;
		color:@color-white;
		background:@color-base;
		filter:alpha(opacity=75);
		background:rgba(0,0,0,.5);
	}
	&:hover{
		img{
			border:2px solid @color-white;
		}
	}
}
.imageset-prev{
	float:left;
	&:empty{
		border:1px solid @color-gray4;
		background:@color-white;
		cursor:default;
		&:before{
			content:'无上一图集';
			line-height:70px;
			text-align:center;
			color:@color-gray4;
			font-size:@font-size-small;
		}
	}
}
.imageset-next{
	float:right;
	*margin:-80px 0 0 0;
	&:empty{
		border:1px solid @color-gray4;
		background:@color-white;
		cursor:default;
		&:before{
			content:'无下一图集';
			line-height:70px;
			text-align:center;
			color:@color-gray4;
			font-size:@font-size-small;
		}
	}
}

///图片导航当前图集
.imageset-current,
.imageset-currentlist{
	height:100%;
	display:inline-block;
	>span{
		width:21px;
		height:40px;
		display:inline-block;
		vertical-align:top;
		overflow:hidden;
		margin:15px 0 0 0;
		cursor:pointer;
	}
}
.imageset-current{
	width:500px;
}
.imageset-currentlist{
	width:1100px;
}

.imageset-currentwrap,
.imageset-currentlistwrap{
		.layout-relative-base;
		overflow:hidden;
		height:100%;
		display:inline-block;
		*float:left;
		*margin:0 0 0 28px;
		text-align:center;
		>div{
			.layout-absolutel-base();
			height:70px;
			width:auto;
			white-space:nowrap;			
			em{
				.layout-relative-base;
				float:left;
				width:70px;
				height:70px;
				display:inline-block;
				margin:0 5px;
				&.marquee-itemactive{
					i{
						display:block;
					}
					img{
						border:2px solid @color-orange1;
						&:hover{
							border:2px solid @color-orange1;
						}
					}
				}
			}
			img{
				width:66px;
				height:66px;
				border:2px solid @color-gray5;
				&:hover{
					border:2px solid @color-white;
				}
			}
			i{
				.layout-absoluterb-base(2px,2px);
				height:14px;
				padding:0 5px;
				line-height:14px;
				display:none;
				font-size:@font-size-small;
				color:@color-white;
				background:@color-base;
				filter:alpha(opacity=75);
				background:rgba(0,0,0,.5);
			}
		}
}
.imageset-currentwrap{
	width:402px;
	>div{
		&:empty{
			border:1px solid @color-gray4;
			background:@color-white;
			cursor:default;
			&:before{
				content:'无图集';
				display:block;
				width:400px;
				line-height:70px;
				text-align:center;
				color:@color-gray4;
				font-size:@font-size-small;
			}
		}
	}
}
.imageset-currentlistwrap{
	width:882px;
	>div{
		&:empty{
			border:1px solid @color-gray4;
			background:@color-white;
			cursor:default;
			&:before{
				content:'无图集';
				display:block;
				width:880px;
				line-height:70px;
				text-align:center;
				color:@color-gray4;
				font-size:@font-size-small;
			}
		}
	}
}
.imageset-currentprev{
	*float:left;
	background:url(../images/icons.png) 0 -64px no-repeat;
}
.imageset-currentnext{
	*float:right;
	*margin:0 0 65px 0;
	background:url(../images/icons.png) -21px -64px no-repeat;
}


















