///组件--迷你头部（图集浏览）
///作者：易品


///*--顶部--*/
.mini-header-wrap{
	width:100%;
	background:@color-white;
	min-width:1490px;
	margin:0 auto;
	background:@color-gray8;
}

//logo
.mini-logo{
	width:80px;
	height:44px;
	float:left;
	overflow:hidden;
	.no-outline-base;
	display:block;
	span{
		float:right;
		margin:6px 0 0 0;
		width:68px;
		height:31px;
		display:inline-block;
		overflow:hidden;
		background:url(../images/icons.png) -925px 0 no-repeat;
	}
}

//模块入口
.mini-header-portal{
	.layout-float-base(280px,content-box,right);
	margin:0 0 0 20px;
	height:44px;
	>div{
		float:left;
		width:80px;
		height:100%;
		a{
			border-left:1px solid @color-gray4;
			padding:0 5px;
			display:inline-block;
			text-align:center;
			height:14px;
			margin:15px 0 0 0;
			line-height:14px;
			color:@color-white;
			font-size:@font-size-small;
			float:left;
			&:first-child{
				border-left:0;
				*border-left:0 none;
				padding-left:0;
			}
		}
	}
	>p{
		float:right;
		width:180px;
		height:100%;
		line-height:44px;
		.text-of;
		display:inline-block;
		margin:0 10px 0 0;
		color:@color-white;
		font-size:@font-size-small;
		text-align:right;
	}
}

///导航条
.mini-header-menu{
	height:44px;
	width:1100px;
	margin:0 auto;
}
.mini-menu-wrap{
	width:400px;
	height:100%;
	float:left;
	>li{
		height:44px;
		line-height:44px;
		float:left;
		a{
			display:inline-block;
			.no-outline-base;
			padding:0 10px;
			height:20px;
			line-height:20px;
			float:left;
			margin:12px 0;
			color:@color-white;
			border-left:1px solid darken(@color-gray8,5%);
			font-size:@font-size-small;
			span{
				width:7px;
				height:4px;
				display:inline-block;
				vertical-align:middle;
				background:url(../images/icons.png) -194px 0 no-repeat;
				margin:0 0 3px 5px;
			}
		}
		&:hover{
			background:@color-orange1;
			a{
				border-left:1px solid @color-orange1;
			}
			&>a span{
				background:url(../images/icons.png) -194px -4px no-repeat;
			}
		}
		&:first-child a{
			border-left:0;
			border-left:0 none;
		}
		&.menu-active{
			background:@color-orange1;
			a{
				border-left:1px solid @color-orange1;
			}
		}
		
	}
}

//搜索区域
.mini-search{
	float:left;
	margin:4px 0 0 30px;
	height:36px;
	.box-sizing-base(content-box);
	width:auto;
	background:@color-white;
	div{
		.layout-relative-base(0,0,2);
		height:36px;
		float:left;
		background:@color-white;
		width:80px;
		border-right:1px solid @color-gray4;
		padding:0 20px 0 0;
		p{
			line-height:36px;
			width:100%;
			height:100%;
			text-align:center;
			white-space:nowrap;
			overflow:hidden;
			color:@color-gray2;
			font-size:@font-size-small;
		}
		span{
			.layout-absoluter-base(5px,15px);
			display:inline-block;
			width:12px;
			height:6px;
			overflow:hidden;
			background:url(../images/icons.png) -182px 0 no-repeat;
		}
		ul{
			.layout-absolutel-base(0,36px);
			width:101px;
			display:none;
			border-bottom:1px solid @color-gray4;
			background:@color-white;
			li{
				width:99px;
				height:30px;
				line-height:30px;
				text-align:left;
				text-indent:5px;
				color:@color-gray2;
				font-size:@font-size-small;
				cursor:pointer;
				border-left:1px solid @color-gray5;
				border-right:1px solid @color-gray5;
				&:hover{
					background:@color-gray5;
				}
			}
		}
		&:hover{
			ul{
				display:block;
			}
			span{
				background:url(../images/icons.png) -182px -6px no-repeat;
			}
		}
	}
	input{
		width:150px;
		height:20px;
		padding:8px 0 8px 10px;
		background:@color-white;
		float:left;
	}
	button{
		display:inline-block;
		float:left;
		width:40px;
		text-align:center;
		color:@color-white;
		background:@color-white;
		vertical-align:middle;
		height:36px;
		span{
			width:18px;
			height:18px;
			display:block;
			overflow:hidden;
			background:url(../images/icons.png) -8px -46px no-repeat;
			margin:0 auto 0 auto;
		}
	}
}

//导航副入口
.menu-apply{
	width:190px;
	height:100%;
	float:right;
	background:@color-green1;
	display:block;
	.no-outline-base;
	text-align:center;
	line-height:44px;
	font-size:@font-size-base + 2;
	color:@color-white;
	span{
		width:24px;
		height:23px;
		vertical-align:middle;
		display:inline-block;
		background:url(../images/icons.png) 0 -21px no-repeat;
		overflow:hidden;
		margin:0 5px 0 0;
	}
	&:hover{
		background:@color-orange1;
	}
}