/*--适配不同分辨率--*/
@media screen{
    min-width:1003px;
}
@media screen and (min-width:641px){
    /*my rongge*/
    .rg-b-menuwrap ul{width:80%;}
    .rg-b-menuwrap a div{font-size:1.4em;}
}
@media screen and (min-width:481px) and (max-width:640px){
    /*index search*/
    .rg-searchwrap div{width:75%;}
    .rg-searchtxt{height:38px;-moz-border-radius:19px;-ms-border-radius:19px;-o-border-radius:19px;-webkit-border-radius:19px;border-radius:19px;padding:2px 0 2px 20px;}
    .rg-searchbtn{height:38px;}
    /*menu icon*/
    .rg-menuwrap ul{width:24.5em;height:90px;}
    .rg-menuwrap li{width:4em;height:4em;margin:0 1em;*+margin:0 0.4em;-moz-border-radius:2em;-ms-border-radius:2em;-o-border-radius:2em;-webkit-border-radius:2em;border-radius:2em;}
    .rg-menuwrap a{background-size:90%,90%;}
    .rg-menuwrap a span{font-size:0.9em;line-height:30px;}
    /*index imgwrap*/
    .rg-imgwrap1{height:15em;}
    /*product orderby icon*/
    .rg-load-more,.rg-load-top{width:14em;}
    /*product comment*/
    .rg-pc-pie div{float:none;margin:0 auto;}
    /*register*/
    .rg-reg-vctxt{width:60%;}
    /*my rongge*/
    .rg-b-menuwrap ul{width:90%;}
    .rg-b-menuwrap a div{font-size:1.2em;}
}
@media screen and (min-width:321px) and (max-width:480px){
    /*index logo*/
	/*.rg-mheaderwrap{height:130px;}*/
    .rg-sublogo{background-size:98%,98%;}
    /*index search*/
    .rg-subsw{margin:15px 0 0 0;}
    .rg-searchwrap{height:50px;}
    .rg-searchwrap div{width:75%;height:50px;}
    .rg-searchtxt{height:34px;-moz-border-radius:17px;-ms-border-radius:17px;-o-border-radius:17px;-webkit-border-radius:17px;border-radius:17px;padding:2px 0 2px 15px;}
    .rg-searchbtn{height:34px;}
    /*menu icon*/
    .rg-menuwrap ul{width:20.5em;height:70px;}
    .rg-menuwrap li{width:3em;height:3em;margin:0 1em;*+margin:0 0.4em;-moz-border-radius:1.5em;-ms-border-radius:1.5em;-o-border-radius:1.5em;-webkit-border-radius:1.5em;border-radius:1.5em;}
    .rg-menuwrap a{background-size:85%,85%;}
    .rg-menuwrap a span{font-size:0.7em;line-height:30px;}
    /*index imgwrap*/
    .rg-imgwrap1{height:12em;}
    /*product orderby icon*/
    .rg-load-more,.rg-load-top{width:12em;}
    /*product comment*/
    .rg-pc-pie div{float:none;margin:0 auto;}
    /*register*/
    .rg-reg-vctxt{width:50%;}
    /*my rongge*/
    .rg-b-menuwrap a div{font-size:0.9em;}
	/*购买数量*/
	.rg-cart-gnchange{width:25px;}
	.rg-cart-gntxt{width:30px;}
	.rg-cart-gntips div{left:5px;}
}
@media screen and (max-width:320px){
    /*index logo*/
	/*.rg-mheaderwrap{height:120px;}*/
    .rg-logo{background-size:70%,100%;background-position:center bottom 20px;}
    .rg-sublogo{background-size:98%,98%;}
    /*index search*/
    .rg-subsw{margin:10px 0 0 0;}
    .rg-searchwrap{height:40px;}
    .rg-searchwrap div{width:75%;height:40px;}
    .rg-searchtxt{height:28px;-moz-border-radius:14px;-ms-border-radius:14px;-o-border-radius:14px;-webkit-border-radius:14px;border-radius:14px;padding:2px 0 2px 12px;}
    .rg-searchbtn{height:28px;}
    /*menu icon*/
    .rg-menuwrap ul{width:15em;height:45px;}
    .rg-menuwrap li{width:2em;height:2em;margin:0 0.8em;*+margin:0 0.3em;-moz-border-radius:1em;-ms-border-radius:1em;-o-border-radius:1em;-webkit-border-radius:1em;border-radius:1em;}
    .rg-menuwrap a{background-size:80%,80%;}
    .rg-menuwrap a span{width:180%;height:50%;font-size:0.8em;left:-1em;line-height:20px;}
    /*index imgwrap1*/
    .rg-imgwrap1{height:10em;}
    /*product orderby icon*/
    .rg-load-more,.rg-load-top{width:10em;}
    /*product comment*/
    .rg-pc-pie div{float:left;}
    /*register*/
    .rg-reg-vctxt{width:40%;}
    /*my rongge*/
    .rg-b-menuwrap a div{font-size:0.8em;}
	/*购买数量*/
	.rg-cart-gnlabel{width:26px;text-indent:-24px;}
	.rg-cart-gnchange{width:25px;}
	.rg-cart-gntxt{width:30px;}
	.rg-cart-gntips div{left:5px;}
}