<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.zend.php.phpunit.PHPUnitLaunchConfigurationType">
<stringAttribute key="ATTR_FILE" value="F:\ZendStudio\installs\plugins\com.zend.php.phpunit_12.5.1.v20150514-2003\resources\phpunit.phar"/>
<stringAttribute key="ATTR_FILE_FULL_PATH" value="F:\ZendStudio\installs\plugins\com.zend.php.phpunit_12.5.1.v20150514-2003\resources\phpunit.phar"/>
<stringAttribute key="ATTR_LOCATION" value="F:\ZendStudio\installs\plugins\com.zend.php.debug.debugger.php55.win32_12.5.1.v20150514-2003\resources\php55\php.exe"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="helloworld"/>
<stringAttribute key="ZEND_PHPUNIT_TESTS_CONTAINER_TYPE" value="SCRIPT_SOURCE"/>
<booleanAttribute key="com.zend.php.phpunit.code_coverage" value="true"/>
<stringAttribute key="com.zend.php.phpunit.container" value="test1.php"/>
<stringAttribute key="com.zend.php.phpunit.elementPath" value="/helloworld/echo.php"/>
<booleanAttribute key="com.zend.php.phpunit.is_suite" value="true"/>
<booleanAttribute key="com.zend.php.phpunit.logXml" value="true"/>
<stringAttribute key="com.zend.php.phpunit.logXmlLocation" value="D:\APMServ5.2.6\www\htdocs\test1.php-20150704-1300.xml"/>
<stringAttribute key="com.zend.php.phpunit.project" value="helloworld"/>
<stringAttribute key="com.zend.php.phpunit.runType" value="PHAR_EXECUTION_TYPE"/>
<stringAttribute key="debugOutputEncoding" value="UTF-8"/>
<stringAttribute key="debugTransferEncoding" value="UTF-8"/>
<booleanAttribute key="firstLineBreakpoint" value="false"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="ZEND_PHPUNIT_PORT" value="7478"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="org.eclipse.php.debug.core.PHP_Project" value="/helloworld"/>
<booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="false"/>
<stringAttribute key="org.eclipse.php.debug.coreconfiguration_delegate_class" value="com.zend.php.debug.core.launch.PHPExecutableExtendedLaunchDelegate"/>
<stringAttribute key="php_debug_type" value="php_exe_script_debug"/>
</launchConfiguration>
