<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="微网站管理后台--模板管理">
<meta name="keywords" content="微网站管理后台--模板管理">
<title>微网站管理后台--模板管理</title>
<link rel="stylesheet" type="text/css" href="../../resource/css/base.css">
<link rel="stylesheet" type="text/css" href="../../resource/css/template.css">
<link rel="stylesheet" media="screen,screen and (min-width:641px) and (max-width:720px),screen and (min-width:541px) and (max-width:640px),screen and (min-width:481px) and (max-width:540px),screen and (min-width:321px) and (max-width:480px),screen and (min-width:281px) and (max-width:320px),screen and (max-width:280px)" type="text/css" href="../../resource/css/adapt.css">
<script src="../../resource/js/lib/zepto.min.js"></script>
<script src="../../resource/js/widget/common.js"></script>
<script src="../../resource/js/template/template_manage.js"></script>
</head>
<body class="g-fill" lang="zh">
		<!--顶部导航菜单-->
		<header class="header-menuwrap">
      <ul>
        <li><a href="#" title="">&#xf0115;</a></li>
        <li class="h-menu-txt">模板管理</li>
      </ul>
    </header>
    <!--模板管理列表-->
    <section class="template-list-wrap">
      <ul id="template_selcet">
      	<li data-id="0" class="template-item-select">
						<img src="../../resource/images/template_img/template_index1.jpg" >
            <p>默认模板</p>
        </li>
        <li data-id="1">
						<img src="../../resource/images/template_img/template_index2.jpg" >
            <p>模板1</p>
        </li>
        <li data-id="2">
						<img src="../../resource/images/template_img/template_index3.jpg" >
            <p>模板2</p>
        </li>
      </ul>
    </section>
    <!--模板管理底部按钮-->
    <ul class="btn1-item-wrap">
    	<li>
      	<span id="template_save" class="g-b-red2" data-href="../create/create_manage.html">完成</span>
      </li>
    </ul>
</body>
</html>
