@import 'variable/base_variable.less';
body{
	background:@color-cyan1;
}

////会员管理--会员信息
.member-info{
	.layout-float-base;
	margin:10px 0;
	&:after{
		content:'';
		clear:both;
	}
	>h1{
		.layout-float-base;
		height:30px;
		line-height:30px;
		margin:5px 0;
		overflow:hidden;
		color:@color-gray2;
		font-size:@font-size-base + 6;
		cursor:pointer;
		.text-unselect;
		&:before{
				display:inline-block;
				content:'\e614';
				font-family:'ux_two';
				color:@color-green1;
				font-size:@font-size-base + 10;
				padding:0 5px 0 0;
				vertical-align:top;
		}
		&.memberinfosel:before{
			content:'\e613';
		}
	}
	>section{
		.layout-float-base;
		padding:10px 15px 10px 5px;
		border:1px solid @color-gray9;
		background:@color-white;
		.border-radius-base(3px);
		display:none;
		h3{
			padding:5px 0;
			text-align:center;
			color:@color-gray3;
			font-size:@font-size-base + 2;
			.text-ww;
			span{
				display:inline-black;
				padding:0 3px;
				color:@color-red1;
				font-size:@font-size-base;
				vertical-align:middle;
			}
		}
		p{
			font-size:@font-size-base;
			text-indent:20px;
			color:@color-gray3;
			line-height:24px;
			padding:5px 0;
			.text-ww;
			span,i,em{
				font-size:@font-size-small;
				display:inline-block;
				padding:2px 0 2px 20px;
				line-height:18px;
			}
			i,
			em{
				font-style:normal;
			}
			span{
				color:@color-gray5;
			}
			i{
				color:@color-blue1;
			}
			em{
				color:@color-red2;
			}
		}
	}
}

///会员管理--查询搜索
@import 'mixin/search.less';


///会员管理--数据列表
@import 'mixin/datalist.less';


///会员管理--按钮区域
@import 'mixin/btn_item.less';


///会员详情--详情列表
@import 'mixin/list.less';




////会员申请--会员信息表单
.member-tab{
	.layout-float-base;
	margin:20px 0 5px 0;
	div{
		.layout-float-base;
		border-bottom:1px solid @color-blue1;
		a{
			display:block;
			padding:10px 20px;
			float:left;
			font-size:@font-size-base;
			color:@color-blue1;
		}
		.member-tabsel{
				background:@color-blue1;
				.border-radius-base(3px 3px 0 0);
				color:@color-white;
		}
	}
	
}

@import 'mixin/form.less';
.member-form{
	.layout-float-base;
	margin:10px 0 20px 0;
	&:after{
		content:'';
		clear:both;
	}
	ul{
		width:100%;
		>li{
			.layout-float-base;
		}
	}
}
@import 'mixin/memberform.less';



