/*-----登陆-----*/
.struct-layout-login{
  .login-base(){
    .layout-base;
    min-width:1000px;
    height:100%;
    min-height:700px;
  }

  .login-base;
  background:url('../images/login_banner.jpg') center @layout-header-height no-repeat;

  .login-layout{
    .layout-base(@layout-container-width);
    height: 100%;
    margin:0 auto;
    padding:@layout-header-height 0 0 0;
  }
  .login-main-wrap{
    @login-height:460px;
    .layout-float-base(380px,border-box,right);
    min-height:@login-height;
    margin-top:40px;
    padding:40px;
    background:@color-white;
  }
  .login-header{
    .layout-base;
    padding:10px 0;
    font-size:@font-size-base + 10;
    color:@color-gray3;
  }
  .login-qrcode{
    .layout-base;
    height:180px;
    div{
      max-width:160px;
      max-height: 160px;
      margin:0 auto;
      img{
        width:100%;
        height:100%;
      }
    }
  }
}