///模块--装修案例
///作者：易品




//装修案例详情
.caseshow-person{
	.layout-relative-base;
	.layout-float-base;
	height:212px;
	.box-shadow-base(0 2px 3px @color-gray5);
	background:@color-white;
	
	.person-image{
		float:left;
		margin:30px 0 0 20px;
		overflow:hidden;
		.border-radius-base(50%);
		width:116px;
		height:116px;
		img{
			width:100%;
			height:100%;
			display:block;
		}
	}
	
	.person-info{
		float:right;
		width:740px;
		height:140px;
		margin:30px 0 0 0;
		h1{
			width:100%;
			color:@color-gray1;
			font-size:@font-size-base + 10;
			height:50px;
			line-height:40px;
			.text-of;
			text-overflow:ellipsis;
		}
		p{
			height:22px;
			width:100%;
			line-height:22px;
			font-size:@font-size-small;
			color:@color-gray3;
			.text-of;
			span{
				padding:0 15px 0 15px;
				height:14px;
				display:inline-block;
				vertical-align:middle;
				border-left:1px solid @color-gray4;
				line-height:14px;
				&:first-child{
					border-left:0;
					padding:0 15px 0 0;
				}
				em{
					color:@color-orange1;
				}
				sup{
					font-size:@font-size-base - 6;
					padding:0 0 0 3px;
				}
			}
		}
	}
	
	.person-share{
		.layout-float-base;
		height:42px;
		*height:41px;
		border-top:1px solid @color-gray5;
		background:@color-gray7;
		>a{
			float:left;
			width:140px;
			height:100%;
			line-height:41px;
			background:@color-white;
			text-align:center;
			display:inline-block;
			color:@color-orange1;
			border-right:1px solid @color-gray5;
		}
		>div{
			float:left;
			width:720px;
			height:100%;
			line-height:41px;
			text-align:right;
			font-size:@font-size-small;
			color:@color-gray3;
			white-space:nowrap;
			span{
				vertical-align:middle;
				display:inline-block;
				margin:0 20px 0 5px;
				color:@color-orange1;
			}
			div{
				display:inline-block;
				vertical-align:middle;
				*float:right;
				*margin:-28px 0 0 0;
				*display:block;
				a{
					width:16px;
					height:16px;
					overflow:hidden;
					margin:0 0 0 5px;
					padding:0;
					vertical-align:middle;
					display:inline-block;
					color:@color-gray3;
					font-size:@font-size-small;
				}
			}
		}
	}
	
	
	.like,
	.warn{
		height:30px;
		text-align:center;
		font-size:@font-size-small;
		color:@color-gray2;
		.user-select-base;
		cursor:pointer;
		display:inline-block;
		line-height:28px;
		span{
			vertical-align:middle;
			display:inline-block;
			overflow:hidden;
			width:15px;
			height:14px;
		}
	}
	
	.like{
			.layout-absoluterb-base(100px,50px,50);
			min-width:90px;
			.box-sizing-base;
			.border-radius-base(15px);
			border:1px solid @color-gray5;
			padding:0 10px;
			span{
				margin:0 5px 0 5px;
				background:url(../images/icons.png) -191px -66px no-repeat;
			}
			&:hover{
				border:1px solid @color-orange1;
			}
	}
	.warn{
		.layout-absoluterb-base(20px,50px,50);
		span{
			background:url(../images/icons.png) -222px -66px no-repeat;
			margin:0 2px 0 0;
		}
		&:hover{
			color:@color-orange1;
			span{
				background:url(../images/icons.png) -222px -81px no-repeat;
			}
		}
	}
	
	&:hover{
		.transition-base(all .3s ease-in .02s);
		.box-shadow-base(0 2px 3px @color-gray3);
	}
}


//装修案例简介
.caseshow-image{
	.layout-float-base;
	margin:20px 0 0 0;
	.box-shadow-base(0 2px 3px @color-gray5);
	background:@color-white;
	min-height:700px;	
	padding:50px 0 0 0;
}

.image-navitem{
	.layout-relative-base;
	.layout-float-base(120px);
	height:400px;
}
.image-navbg{
	.layout-absoluter-base(10px,-40px,0);
	width:1px;
	height:500px;
	background:@color-gray5;
}

.image-navwrap{
	.layout-fixedl-base(auto,498px,100);
	width:120px;
	height:400px;
}

.image-navshow{
	.layout-relative-base(0,0,50);
	width:120px;
	height:400px;
	overflow:hidden;
	dl{
		.layout-absolutel-base(0,0,1);
		.layout-base;
		.user-select-base;
		dt,
		dd{
			float:left;
			height:25px;
			width:100px;
			a{
				width:100%;
				height:100%;
				display:block;
				.no-outline-base;
				line-height:25px;
				text-align:right;
			}
		}
		dt{
			a{
				.layout-relative-base;
				font-size:@font-size-base + 2;
				color:@color-gray2;
				span{
					.layout-absoluter-base(-14.5px,7.5px);
					width:10px;
					height:10px;
					display:inline-block;
					vertical-align:middle;
					background:url(../images/icons.png) -239px -62px no-repeat;
				}
			}
			&.image-navactive a{
					color:@color-orange1;
					span{
						background:url(../images/icons.png) -249px -62px no-repeat;
					}
			}
		}
		dd{
				.layout-relative-base;
				font-size:@font-size-base - 2;
				color:@color-gray3;
				span{
					.layout-absoluter-base(-12.5px,10px);
					width:5px;
					height:5px;
					display:inline-block;
					vertical-align:middle;
					background:url(../images/icons.png) -239px -73px no-repeat;
				}
			&.image-navactive{
				color:@color-orange1;
				span{
					background:url(../images/icons.png) -244px -73px no-repeat;
				}
			}
		}
	}
}

.image-navbtn{
	.layout-absoluterb-base(20px,-50px,0);
	width:41px;
	height:41px;
	background:url(../images/icons.png) -260px -62px no-repeat;
	cursor:pointer;
	&.image-navbtnactive{
		background:url(../images/icons.png) -301px -62px no-repeat;
	}
	&:hover{
		background:url(../images/icons.png) -260px -103px no-repeat;
		&.image-navbtnactive{
			background:url(../images/icons.png) -301px -103px no-repeat;
		}
	}
}

.image-listitem{
	.layout-float-base(740px,border-box,left);
	margin:0 0 0 12px;
	>li{
		.layout-float-base;
		margin:0 0 20px 0;
	}
	
	.image-listremark{
		width:738px;
		border:1px solid @color-gray5;
		padding:15px 0;
		p{
			padding:0 15px;
			font-size:@font-size-small;
			line-height:24px;
			color:@color-gray2;
			.text-ww;
		}
	}
	h3{
		.layout-float-base;
		margin:10px 0;
		height:30px;
		white-space:nowrap;
		text-align:left;
		color:@color-orange1;
		line-height:35px;
		font-size:@font-size-base + 4;
		.user-select-base;
		span{
			display:inline-block;
			margin:0 5px 0 0;
			overflow:hidden;
			float:left;
		}
	}
	
	.image-listimg{
		.layout-relative-base;
		.layout-float-base;
		margin:10px 0 20px 0;
		min-height:100px;
		img{
			float:left;
			width:740px;
			min-height:300px;
			max-height:1000px;
			display:block;
		}
		div{
			.layout-absolutelb-base(0,-2px,50);
			width:738px;
			height:56px;
			border-left:1px solid @color-gray5;
			border-right:1px solid @color-gray5;
			border-bottom:1px solid @color-gray5;
			span{
					width:100%;
					height:20px;
					display:block;
					overflow:hidden;
					float:left;
					background:url(../images/icons.png) 0 -257px no-repeat;
					.user-select-base;
			}
			p{
				float:left;
				width:100%;
				height:35px;
				line-height:35px;
				.text-of;
				text-overflow:ellipsis;
				font-size:@font-size-base;
				color:@color-gray2;
				text-indent:20px;
				background:@color-white;
			}
		}
	}
}

//装修案例评论区
.caseshow-comment{
	.layout-float-base;
	margin:20px 0 0 0;
	.box-shadow-base(0 2px 3px @color-gray5);
	background:@color-white;
	min-height:200px;	
	padding:20px 0 50px 0;
}


//图片标题按钮
//客厅
.image-list-kticon{
	width:44px;
	height:30px;
	background:url(../images/icons.png) -344px -48px no-repeat;
}
//餐厅
.image-list-cticon{
	width:40px;
	height:30px;
	background:url(../images/icons.png) -393px -48px no-repeat;
}
//卧室
.image-list-wsicon{
	width:53px;
	height:30px;
	background:url(../images/icons.png) -438px -48px no-repeat;
}
//厨房
.image-list-cficon{
	width:39px;
	height:30px;
	background:url(../images/icons.png) -493px -48px no-repeat;
}
//卫生间
.image-list-wsjicon{
	width:31px;
	height:30px;
	background:url(../images/icons.png) -536px -48px no-repeat;
}
//书房
.image-list-sficon{
	width:35px;
	height:30px;
	background:url(../images/icons.png) -572px -48px no-repeat;
}
//儿童房
.image-list-etficon{
	width:42px;
	height:30px;
	background:url(../images/icons.png) -616px -48px no-repeat;
}
//阳台
.image-list-yticon{
	width:50px;
	height:30px;
	background:url(../images/icons.png) -662px -48px no-repeat;
}
//玄关
.image-list-xgicon{
	width:31px;
	height:30px;
	background:url(../images/icons.png) -716px -48px no-repeat;
}
//衣帽间
.image-list-ymjicon{
	width:30px;
	height:30px;
	background:url(../images/icons.png) -750px -48px no-repeat;
}
//花园
.image-list-hyicon{
	width:32px;
	height:30px;
	background:url(../images/icons.png) -345px -85px no-repeat;
}




//侧边栏
.case-form{
	.layout-relative-base;
	.layout-float-base;
	padding:0 20px 20px 20px;
	*width:240px;
	border-top:2px solid @color-orange1;
	background:@color-white;
}
//侧边栏窗口定位
.case-formfixed{
	width:280px;
	*width:240px;
	position:fixed;
	top:0;
	left:auto;
}




























































