@import 'variable/base_variable.less';
///*以上部分需删除，为公共部分*/
/*常用部分(公共部分)*/
.commom1-wrap{
	.layout-float-base;
	height:100%;
	padding:8px 10px;
}
/*首页*/
///*微网站*/
.g-fill{
	.layout-relative-base(0,0,5);
	background-repeat:no-repeat !important;
	background-position:left 0 top 34px !important;
	background-size:cover !important;
}
@import 'mixins/bg_theme.less';
.info1-wrap,.info1-wrap li{
	.box-sizing-base(border-box);
	width:50%;
	float:left;
}
.info1-wrap{
	min-width:160px;
}
.info1-wrap li{
	min-width:80px;
}
.info1-itemwrap{
	.layout-base;
	height:100%;
	padding:4px;
}
.info1-item{
	.layout-base;
	height:100%;
	display:table;
	.border-radius-base(5px);
	background:rgba(51,51,51,.8);
	a{
		.layout-relative-base(0,0,5);
		width:100%;
		height:100%;
		display:table-cell;
		vertical-align:middle;
	}
}
.info1-icon{
	width:100%;
	max-height:60px;
	img{
		width:60px;
		height:60px;
		overflow:hidden;
		max-width:60px;
		max-height:60px;
		min-width:30px;
		min-height:30px;
		margin:0 auto;
		display:block;
	}
}
.info1-theme{
	display:inline-block;
	text-align:center;
	font-size:@font-size-default;
	padding:5px 0;
	margin:0 auto;
	width:100%;
	.text-of;
}
.info1-theme{
	color:@color-white;
}
///用户图像
@import 'mixins/iconmark.less';
