// Import Bootstrap Variables & Mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Variables
@import "variable/base_variable_support.less";


/*提示信息*/
.page-support-wrap{
  .layout-fixedl-base(0,0,999999);
  .layout-base;
  height:100%;
  background:rgba(0,0,0,1);
  padding:20px;
  display:table;
  .page-support-active{
    display:table-cell !important;
  }
}
.page-support-browser,
.page-support-login{
  .layout-base;
  height:100%;
  display:none;
  vertical-align:middle;
  text-align:center;
  overflow: hidden;
}

.page-support-browser{
  .browser-theme{
    .layout-base;
    min-height:100px;
    padding:30px 0;
    line-height:20px;
    text-align: center;
    font-size:@font-size-base;
    color:@color-gray6;
    .text-ww;
    overflow: hidden;
  }
  .browser-icon{
    .layout-base;
    background:@color-base;
    min-height:300px;
    padding:20px 0;
    text-align: center;
    font-size:0;
    .user-select-base;
    a{
      .box-sizing-base;
      display:inline-block;
      width:180px;
      height:250px;
      padding:20px;
      background:@color-gray2;
      margin:0 20px;
      .transition-base(all .3s ease-in .02s);
      &:hover{
        background:@color-gray4;
      }
    }
    p,span{
      display:inline-block;
      width:100%;
      overflow: hidden;
    }
    p{
      height:44px;
      line-height:22px;
      color:@color-gray9;
      font-size:@font-size-base + 4 !important;
    }
    span{
      height:36px;
      line-height:18px;
      color:@btn-success-bg;
      font-size:@font-size-base - 2 !important;
    }
    div{
      display:inline-block;
      width:60px;
      height:60px;
      margin:30px 0 0 0;
      overflow: hidden;
    }
    .browser-icon-firefox{
      background:transparent url('../images/browser_icon.png') 0 0 no-repeat;
    }
    .browser-icon-chrome{
      background:transparent url('../images/browser_icon.png') -120px 0 no-repeat;
    }
    .browser-icon-ie{
      background:transparent url('../images/browser_icon.png') -60px 0 no-repeat;
    }
    .browser-icon-baidu{
      background:transparent url('../images/browser_icon.png') -240px 0 no-repeat;
    }
    .browser-icon-qq{
      background:transparent url('../images/browser_icon.png') -180px 0 no-repeat;
    }
  }
}

.page-support-login{
  >div{
    display:inline-block;
    min-width:220px;
    min-height:220px;
    background:transparent url('../images/unlogin.png') center center no-repeat;
    -webkit-background-size:200px 200px;
    background-size:200px 200px;
  }
  p{
    .layout-base;
    font-size:@font-size-base;
    color:@color-gray6;
    white-space:nowrap;
    .user-select-base;
    span{
      color:@btn-success-bg;
      &:not(:empty){
        padding:0 5px !important;
      }
    }
  }
}



