///*--背景主题模块--*/
.h-menubar{
	background:@color-red1;
}
.self-bg{
	width:100%;
	height:auto;
	max-width:640px !important;
	min-width:320px !important;
	min-height:550px !important;
	.layout-absolutel-base(0,30px,-1);
}