///*--(好友)评论模块--*/
.comment-imp-wrap{
	.layout-float-base;
	min-width:280px;
	padding:5px 10%;
	margin:10px 0 50px 0;
}
.comment-imp{
		.layout-relative-base(0,0,10);
		margin:0 auto;
		padding:0 120px 0 0;
		input{
		.layout-float-base;
		background:@color-white;
		height:36px;
		line-height:20px;
		color:@color-gray2;
		font-size:@font-size-base;
		padding:8px 6px 8px 6px;
		.border-radius-base(3px);
		.box-shadow-base(0,0,1px,@color-base);
	}
	button{
		.layout-absoluter-base(0,0,10);
		.box-sizing-base(border-box);
		padding:8px 6px 8px 6px;
		width:116px;
		height:36px;
		.text-of;
		color:@color-white;
		background:@color-red;
		font-size:@font-size-base;
		.border-radius-base(3px);
		text-align:center;
		line-height:20px;
		border:1px solid @color-white;
		.box-shadow-base(0,0,1px,@color-white);
	}
}