///*--文章详情评论列表模块--*/
.communitylist-wrap{
	.layout-float-base;
	li{
		.layout-float-base;
		padding:10px;
		border-bottom:1px solid @color-gray7;
		>a:nth-of-type(1){
			width:100%;
			float:left;
			display:block;
			padding:5px 0;
			border-bottom:1px solid @color-gray10;
			img{
				width:36px;
				height:36px;
				float:left;
				display:block;
				overflow:hidden;
				.border-radius-base(50%);
			}
			h4,
			p{
				text-indent:10px;
			}
			h4{
				font-size:@font-size-default;
				line-height:22px;	
				.text-ww;
				font-weight:normal;
			}
			p{
				font-size:@font-size-small;
				color:@color-gray5;
			}
		}
		>a:nth-of-type(2){
			width:100%;
			float:left;
			padding:5px 0;
			display:block;
			font-size:@font-size-base;
			margin:5px 0 0 0;
			color:@color-gray2;
			.text-ww;
			div{
				width:100%;
				height:auto;
				margin:5px 0 0 0;
				img{
					width:36px;
					height:36px;
					display:block;
					overflow:hidden;
					float:left;
					margin:4px 4px 0 0;
				}
			}
		}
		>div:nth-of-type(1){
				width:100%;
				float:left;
				text-align:right;
				em{
					font-size:@font-size-small;
					color:@color-gray4;
					font-style:normal;
					cursor:pointer;
				}
				em:nth-of-type(1):before{
					font-family:'ux';
					content:'\0161';
					margin:0 2px 0 0;
					vertical-align:top;
					display:inline-block;
					padding:4px 0 0 0;
				}
				em:nth-of-type(3):before{
					font-family:'typ';
					content:'\e0b8';
					font-size:@font-size-base;
					margin:0 2px 0 0;
				}
				span{
					cursor:pointer;
					margin:0 3px;
					font-size:@font-size-small;
					color:@color-gray3;
				}
		}
	}
}
