/*列表主体1*/
.content-list-wrap1{
	 padding:20px 0;
	 .list-wrap1;
	 &:after{
		 content:'';
		 clear:both;
		 width:100%;
		 height:0;
		 display:table;
	 }
	 li{
		 width:450px;
		 .calc-base(width,'(100% - 100px) / 2');
		 border-bottom:1px solid @color-gray12;
		 >a{
			 padding:10px 0;
		 }
		 &:hover{
			 border-bottom:1px solid @color-red1;
		 }
		 &:nth-child(2n){
			 float:right;
		 }
	 }
 }


/*列表主体2*/
.content-list-wrap2{
	.list-wrap2;
	padding:20px 0;
	overflow: hidden;
	&:after{
		content:'';
		clear:both;
		width:100%;
		height:0;
		display:table;
	}
	>li{
		width:100%;
		border-bottom:1px solid @color-gray12;
		&:hover{
			border-bottom:1px solid @color-red1;
		}
	}
}


/*分页主体*/
.list-page-wrap{
	.layout-base;
	height:40px;
	margin:20px auto;
	text-align:center;
	&:empty{
		display:none;
	}
	>div{
		.box-sizing-base;
		display:inline-block;
		height:100%;
		width:auto;
		&:empty{
			display:none;
		}
	}
}


























