@header-bg:rgba(64,61,60,1.0);
@dark-bg:rgba(236,236,236,1.0);
@icon-disable-bg:rgba(206,206,206,1.0);
@footer-bg:rgba(40,40,40,1.0);
@global-screen-width:1000px;
@global-screen-height:850px;

/*body*/
body{
	.layout-base;
	padding:80px 0 0 0;
	height:100%;
	.calc-base(height,'100vh');
	min-width:@global-screen-width;
	min-height:@global-screen-height;
}


///max 1000px
@media screen and (max-width:999px){
	//变量适配
	@global-screen-width:640px;
	@global-screen-height:850px;
	/*body*/
	body{
		padding:40px 0 0 0;
		min-width:@global-screen-width;
		min-height:@global-screen-height;
	}
}