
///模块--图库案例  //装修攻略 
#top {
 margin:0 auto;
 width:1200px;
}
#bodys {
	width: 1450px;
	margin:0 auto 100px auto;
	overflow:hidden;
 table {
 border-collapse:collapse;
}
td {
	border: 1px solid #E4E4E4;
	vertical-align: middle;
}
ul {
	padding: 0px;
	marign: 0px;
}
>span{
	display:block;
	width:1190px;
	margin:10px auto 0 auto;
}
.zi {
	font-size: 24px;
	text-decoration: none;
	color: #1C1C1C;
	position: relative;
}
h2 a {
	text-decoration: none;
	color: #333;
	margin-left: 100px;
}
#log1 {
	width: 1190px;
	height: 350px;
	margin:10px auto 0 auto;
}
.logo1 {
	background: url(../images/icons_zxgl.png);
	background-position: 0 0px;
	width: 381px;
	height: 200px;
}
.logo2 {
	background: url(../images/icons_zxgl.png);
	background-position: 0 -200px;
	width: 381px;
	height: 200px;
}
.logo3 {
	background: url(../images/icons_zxgl.png);
	background-position: 0 -401px;
	width: 381px;
	height: 200px;
}
.font_size_css {
	font-size: 12px;
	font-family: "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei", ' 华文细黑', STHeiti, MingLiu;
}
.seca_itema, .seca_itemb, .seca_itemc {
	height: 350px;
	float: left;
	margin-right: 20px;
}
.seca_itemc{
	margin:0;
}
.seca_tab1 {
	width: 381px;
	height: 151px;
	text-align: center;
	border: solid #CCC 1px;
	background-color: #EFEFEF;
}
.tab_img1 {
	background: url(../images/icons_zxgl.png);
	background-position: 0 -602px;
	width: 18px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab_img2 {
	background: url(../images/icons_zxgl.png);
	background-position: -17px -602px;
	width: 18px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab_img3 {
	background: url(../images/icons_zxgl.png);
	background-position: -34px -602px;
	width: 18px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab_img4 {
	background: url(../images/icons_zxgl.png);
	background-position: -51px -602px;
	width: 18px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab2_img1 {
	background: url(../images/icons_zxgl.png);
	background-position: -68px -602px;
	width: 18px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab2_img2 {
	background: url(../images/icons_zxgl.png);
	background-position: -86px -602px;
	width: 18px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab2_img3 {
	background: url(../images/icons_zxgl.png);
	background-position: -104px -602px;
	width: 18px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab2_img4 {
	background: url(../images/icons_zxgl.png);
	background-position: -122px -602px;
	width: 16px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab2_img5 {
	background: url(../images/icons_zxgl.png);
	background-position: -139px -602px;
	width: 16px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab2_img6 {
	background: url(../images/icons_zxgl.png);
	background-position: -157px -602px;
	width: 16px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab2_img7 {
	background: url(../images/icons_zxgl.png);
	background-position: -178px -602px;
	width: 16px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab2_img8 {
	background: url(../images/icons_zxgl.png);
	background-position: -194px -602px;
	width: 24px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab3_img1 {
	background: url(../images/icons_zxgl.png);
	background-position: -220px -602px;
	width: 16px;
	height: 21px;
	margin: 0 auto 10px;
}
.tab3_img2 {
	background: url(../images/icons_zxgl.png);
	background-position: -238px -602px;
	width: 17px;
	height: 21px;
	margin: 0 auto 10px;
}
.seca_tab1 tr td a {
	text-decoration: none;
	color: #666;
}
#log2 {
	height: 121px;
	width: 1190px;
	margin:25px auto 0 auto;
}
.sheji {
	padding-left: 7px;
}
#xc_titles {
	margin: 42px auto 0 auto;
	width: 1190px;
}
.xc_title {
	text-decoration: none;
	font-size: 24px;
	color: #1C1C1C;
}
.xc_title1 {
	font-size: 12px;
	color: #999;
	margin-top: 22px;
	margin-left: 22px;
	position: relative;
	right: -875px;
	text-decoration: none;
}
.xc_title2 {
	font-size: 12px;
	color: #999;
	margin-top: 22px;
	margin-left: 22px;
	position: relative;
	right: -693px;
	text-decoration: none;
}
.xc_title3 {
	font-size: 12px;
	color: #999;
	margin-top: 22px;
	margin-left: 22px;
	position: relative;
	right: -894px;
	text-decoration: none;
}
.xc_title4 {
	font-size: 12px;
	color: #999;
	margin-top: 22px;
	margin-left: 22px;
	position: relative;
	right: -675px;
	text-decoration: none;
}
#xc_content {
	width:1190px;
	margin:0 auto;
}
#xc_content ul li {
	list-style: none;
}
#xc_content ul li a {
	text-decoration: none;
	font-size: 12px;
	color: #000;
}
.wz li {
	padding: 2px 0;
	width: 375px;
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	_display: inline;
	word-spacing: 8px;
	letter-spacing: 1px;
}
.dian {
	background: url(../images/icons_zxgl.png);
	background-position: -255px -602px;
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.right_div {
	width: 398px;
	height: 92px;
	float: left;
	line-height: 20px;
	margin-top: 17px;
}
.right_div2 {
	width: 398px;
	height: 92px;
	float: left;
	margin-top: 9px;
	line-height: 20px;
	padding-top: 20px;
}
.right_img {
	float: left;
}
.right_content {
	width: 224px;
	float: left;
	padding-left: 25px;
	padding-top: 18px;
}
.content_title {
	text-decoration: none;
	font-size: 16px;
	color: #000;
	float: left;
}
.content {
	font-size: 12px;
	color: #999;
	float: left;
	margin-top: 10px;
	word-spacing: 8px;
	letter-spacing: 1px;
}
#xc_titles2 {
	margin: 52px auto 0 auto;
	width: 1190px;
}
#div_manage {
	clear: both;
}
#div_manage2 {
	clear: both;
	padding-top: 20px;
}
.item_lnk1 {
	font-size: 13px;
	position: absolute;
	top:208px;
	text-indent:20px;
	background-color: #000;
	color: #FFF;
	width: 375px;
	height: 40px;
	line-height:40px;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.item_lnk2 {
	font-size: 13px;
	position: absolute;
	padding-top: 18px;
	top: 937px;
	left: 504px;
	background-color: #000;
	color: #FFF;
	width: 375px;
	height: 25px;
	text-align: center;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.item_lnk3 {
	font-size: 13px;
	position: absolute;
	padding-top: 18px;
	top: 1436px;
	left: 107px;
	background-color: #000;
	color: #FFF;
	width: 375px;
	height: 25px;
	text-align: center;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.item_lnk4 {
	font-size: 13px;
	position: absolute;
	padding-top: 18px;
	top: 1436px;
	left: 504px;
	background-color: #000;
	color: #FFF;
	width: 375px;
	height: 25px;
	text-align: center;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.item_lnk5 {
	font-size: 13px;
	position: absolute;
	padding-top: 18px;
	top: 1937px;
	left: 107px;
	background-color: #000;
	color: #FFF;
	width: 375px;
	height: 25px;
	text-align: center;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.item_lnk6 {
	font-size: 13px;
	position: absolute;
	padding-top: 18px;
	top: 1937px;
	left: 504px;
	background-color: #000;
	color: #FFF;
	width: 375px;
	height: 25px;
	text-align: center;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.item_lnk7 {
	font-size: 13px;
	position: absolute;
	padding-top: 18px;
	top: 2439px;
	left: 107px;
	background-color: #000;
	color: #FFF;
	width: 375px;
	height: 25px;
	text-align: center;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.item_lnk8 {
	font-size: 13px;
	position: absolute;
	padding-top: 18px;
	top: 2439px;
	left: 504px;
	background-color: #000;
	color: #FFF;
	width: 375px;
	height: 25px;
	text-align: center;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
}
#new_diarys {
	width: 892px;
	padding-top: 188px;
}
.new_daohang a {
	font-size: 20px;
}
.rq {
	margin-left: 15px;
	font-size: 12px;
	background: url(../images/icons.png);
	background-position: -231px -44px;
	color: #FFF;
	height: 40px;
	padding: 0 5px;
}
.title_img1 {
	font-size: 12px;
	position: relative;
	left: 160px;
	padding-left: 60px;
	color: #999;
}
.ico_eye1 {
	background: url(../images/icons.png);
	background-position: -273px -42px;
	margin-right: 10px;
}
.ico_eye2 {
	background: url(../images/icons.png);
	background-position: -291px -44px;
	margin-right: 10px;
}
.ico_eye3 {
	background: url(../images/icons.png);
	background-position: -308px -43px;
	margin-right: 10px;
}
.d_img {
	background: url(../images/icons.png);
	background-position: 0px -211px;
	position: relative;
	top: -12px;
}
.diarys1 {
	padding-left: 22px;
	color: #F30;
	float: left;
	border-bottom: 2px solid #F30;
	width: 100px;
	height: 42px;
}
.diarys2 {
	color: #F30;
}
.diary2 {
	float: left;
	padding-left: 25px;
	/* border-bottom:2px solid #F30;*/ 
	border-bottom: 1px solid #EAEAEA;
	width: 100px;
	height: 42px;
}
.diary3 {
	float: left;
	padding-left: 25px;
	border-bottom: 1px solid #EAEAEA;
	width: 618px;
	height: 42px;
}
.img_head {
	width: 80px;
	float: left;
}
.span_img {
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden;
}
.diary_items_boxs {
}
.ul_img ul li {
	float: left;
	padding-right: 13px;
	padding-top: 25px;
}
.diary_items_text {
	font-size: 14px;
	line-height: 22px;
	color: #666;
	margin-top: 9px;
	word-break: break-all;
}
.span_css {
	font-size: 12px;
	color: #666;
	margin-right: 20px;
}
.new_div_diary {
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	padding-top: 30px;
}
.hot_class {
	border-bottom: 1px dashed #CCC;
	width: 220px;
	height: 12px;
	margin-left: -28px;
}
.div_a {
	border: 1px solid #ccc;
	width: 80px;
	padding: 8px 8px 5px 8px;
	font-size: 12px;
	color: #666;
	background-color: #EFEFEF;
	margin-right: 10px;
	line-height: 40px;
}
.img_dian {
	background: url(../images/icons.png);
	background-position: -239px -61px;
	width: 10px;
	height: 12px;
	float: left;
	position: relative;
	left: -5px;
	top: 5px;
}
.div_a_2 {
	border: 1px solid #ccc;
	width: 80px;
	padding: 8px 20px 5px 20px;
	font-size: 12px;
	color: #666;
	background-color: #EFEFEF;
	margin-right: 10px;
	line-height: 40px;
}
.div_a_3 {
	border: 1px solid #ccc;
	width: 80px;
	padding: 8px 14px 5px 14px;
	font-size: 12px;
	color: #666;
	background-color: #EFEFEF;
	margin-right: 10px;
	line-height: 40px;
}
 //yipin add ///*--攻略查询分页组件--*/
.guide-page {
 .layout-float-base;
 margin:0 0 50px 0;
 text-align:center;
}
//侧边栏
.guide-sidewrap {
 .layout-float-base;
 padding:0 10px 20px 10px;
 *width:258px;
 border:1px solid @color-gray5;
 background:@color-white;
}
