///组件--分页组件
///作者：易品

.goto-pagination-wrap{
	.box-sizing-base;
	display: inline-block;
	padding:8px 5px 0 0;
	height:35px;
	line-height:20px;
	input{
		.box-sizing-base;
		border:1px solid @color-gray12 !important;
		min-width:30px;
		width:auto;
		max-height:24px;
		padding: 2px 5px;
		line-height:20px;
		font-size: @font-size-base - 2;
	}
}

table.easyui-pagewrap {
	width: auto;
}

.l-btn {
	text-decoration: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	.no-outline-base;
}

.l-btn-plain {
	border: 0;
	padding: 1px;
}

.l-btn-disabled {
	color:@color-gray7;
	.opacity-base(50);
	font-size:@font-size-small;
	cursor: default;
}

.l-btn-left {
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.l-btn-text {
	display: inline-block;
	vertical-align: top;
	width: auto;
	line-height: 32px;
	font-size: 12px;
	padding: 0;
	margin: 0 4px;
}

.l-btn-icon {
	display: inline-block;
	line-height: 32px;
	font-size: 1px;
}

.l-btn span span{
	.l-btn-empty {
		display: inline-block;
		margin: 0;
		width: 24px;
		height: 32px;
		font-size: 1px;
		vertical-align: top;
	}
} 

.l-btn span{
	.l-btn-icon-left {
		padding: 0 0 0 20px;
		background-position: left center;
	}
	.l-btn-icon-right {
		padding: 0 20px 0 0;
		background-position: right center;
	}
}


.l-btn-icon-left{
	.l-btn-text {
		margin: 0 4px 0 24px;
	}
	.l-btn-icon {
		left: 4px;
	}
}

.l-btn-icon-right{
	.l-btn-text {
		margin: 0 24px 0 4px;
	}
	.l-btn-icon {
		right: 4px;
	}
}

.l-btn-icon-top{
	.l-btn-text {
		margin: 20px 4px 0 4px;
	}
	.l-btn-icon {
		top: 4px;
		left: 50%;
		margin: 0 0 0 -8px;
	}
}

.l-btn-icon-bottom{
	.l-btn-text {
		margin: 0 4px 20px 4px;
	}
	.l-btn-icon {
		top: auto;
		bottom: 4px;
		left: 50%;
		margin: 0 0 0 -8px;
	}
}

.l-btn-left .l-btn-empty {
	margin: 0 4px;
	width: 16px;
}

.l-btn-focus {
	.no-outline-base;
}

.l-btn-large{
	.l-btn-text {
		line-height: 40px;
	}
	.l-btn-icon {
		width: 32px;
		height: 32px;
		line-height: 32px;
		margin-top: -16px;
	}
	.l-btn-icon-left .l-btn-text {
		margin-left: 40px;
	}
	.l-btn-icon-right .l-btn-text {
		margin-right: 40px;
	}
	.l-btn-icon-top{
		.l-btn-text {
			margin-top: 36px;
			line-height: 24px;
			min-width: 32px;
		}
		.l-btn-icon {
			margin: 0 0 0 -16px;
		}
	} 
	.l-btn-icon-bottom{
		.l-btn-text {
			margin-bottom: 36px;
			line-height: 24px;
			min-width: 32px;
		}
		.l-btn-icon {
			margin: 0 0 0 -16px;
		}
	} 
	.l-btn-left .l-btn-empty {
		margin: 0 4px;
		width: 32px;
	}
}
.l-btn {
	margin: 0;
	color:@color-gray3;
	background: @color-white;
}



.easyui-pagewrap tr td {
	font-family: '微软雅黑','雅黑','Microsoft YaHei','YaHei','\5FAE\8F6F\96C5\9ED1';
	.l-btn {
		border-right: 1px solid @color-gray12;
		border-top: 1px solid @color-gray12;
		border-bottom: 1px solid @color-gray12;
	}
	&:first-child .l-btn {
		border-left: 1px solid @color-gray12;
	}
	&:last-child .l-btn {
		border-right: 1px solid @color-gray12;
	}
}



.pagination-link:hover {
	background:@color-gray14;
	color:@color-gray3;
}

.l-btn-plain-disabled,
.l-btn-plain-disabled:hover {
	.opacity-base(50);
	font-size:@font-size-small;
}

.l-btn-selected {
	background:@color-gray2;/*#2c2e2f*/
	color:@color-white;
	&:hover{
		color:@color-white;
		background:darken(@color-gray2,5%);
		border-right: 1px solid #d8d6d6;
	}
}


.pagination {
	zoom: 1;
	margin: 0 !important;
}

.pagination table {
	float: right;
	height: 30px;
	td{
		border: 0;
	}
}

.pagination-btn-separator {
	float: left;
	height: 24px;
	border-left: 1px solid @color-gray5;
	border-right: 1px solid @color-white;
	margin: 3px 1px;
}

.pagination .pagination-num {
	border-width: 1px;
	border-style: solid;
	margin: 0 2px;
	padding: 2px;
	width: 2em;
	height: auto;
}

.pagination-page-list {
	margin: 0px 6px;
	padding: 1px 2px;
	width: auto;
	height: auto;
	border-width: 1px;
	border-style: solid;
}

.pagination-info {
	float: left;
	margin: 0 6px 0 0;
	padding: 0;
	height: 30px;
	line-height: 38px;
	font-size: 12px;
	color:@color-gray9;
}

.pagination span {
	font-size: 12px;
}

.pagination-link .l-btn-text {
	width: 32px;
	text-align: center;
	margin: 0;
}

.pagination-first {
	background: @color-white;
	padding: 0 10px 0 10px;
}

.pagination-last {
	background: @color-white;
	padding: 0 10px 0 10px;
}

.pagination-prev,
.pagination-next {
	padding: 0 10px;
}

.pagination-page-list,
.pagination .pagination-num {
	border-color:@color-gray4;
}

td.pagination-links {
	white-space: nowrap;
}


