.zhaoping{ width:680px; font-size:12px; margin:10px 0; text-align:left;}
.inp{ line-height:25px; color:#94c400; height:25px;}
.botm{ width:82px; height:25px; background:url(images/yuluan_03.png) no-repeat; border:0;}
.contant{ width:680px; background:url(images/bgh_03.png) no-repeat left top; color:#838383;}

*{font-size:12px;}
html,body{margin:0;text-align:center;over-flow:hidden;height:100%;width:100%;}
UL{list-style-type:none; margin:0px;}
/* 标准盒模型 */
.ttl{height:18px;}
.ctt_zzjs_net{height:auto;padding:6px; clear:both;border:1px solid #dfdfdf; text-align:left; width:644px; float:left;}
.936_zzjs_net{margin:2px 0;clear:both;width:680px;/*滑动门的宽度*/}
/* TAB 切换效果 */
.tab_zzjs_{ height:42px;}
.tab_zzjs_ ul{height:42px; padding:6px 0 0 10px;}
.tab_zzjs_ li{float:left; width: 92px;cursor:pointer; line-height:28px; margin-left:8px; margin-right:4px;}
/* 控制显示与隐藏css类 */
.nor_zzjs{_background:none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/1.png"); color:#444 ;}
.hovertab_zzjs{_background:none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/2.png"); color:#333; font-weight:bold }
.dis_zzjs_net{display:block;}
.undis_zzjs_net{display:none;}


.bbt{ width:71px; height:20px; float:right; background:url(images/bbt_03.png) no-repeat; border:0; margin:15px 0 10px 0;}
.font_col{ color:#000; font-size:14px;}
.cont_1{ border:#c4c4c4 1px solid; width:130px;}
.cont_2{width:135px;}
.coo{ color:#FF0000;}
.jbxx{ width:450px; float:left; margin:10px 0 0 15px; _margin:10px 0 0 8px;}
.jbxx p{ margin:0; padding:0; height:28px;}
.jbxx_pic{ width:124px; float:right; text-align:center; margin-right:10px;}
.bvt{ width:365px; height:34px; margin:18px 0 18px 145px;}
.b{ float:left;}
.b1{ width:81px; height:34px; background:url(images/mmd_03.png) no-repeat; border:0;}
.b2{ width:138px; height:34px; background:url(images/mmd_05.png) no-repeat; border:0; margin:0 24px;}
.b3{ width:82px; height:34px; background:url(images/mmd_07.png) no-repeat; border:0;}


/*login*/
.lg{ width:250px; margin:0 auto; border:#FF0000 0px solid;}
.lg p{ margin:0; padding:0; height:30px; text-align:left; line-height:28px;}
.lg_bn1{ width:70px; height:27px; background:url(images/dl.png) no-repeat; border:0;}
.lg_bn2{ width:100px; height:27px; background:url(images/zc.png) no-repeat; border:0;}

/*预览*/
.yuluan{ width:600px; font-size:12px; margin:10px 0; text-align:left;}
.xiangxi{ margin:15px 0; border:#e8e8e8 1px solid;}