///首页
///作者：易品


html{
	font-size:@font-size-base - 4;
}

//页面全局
.pc-wrap{
	.layout-relative-base;
	.box-sizing-base;
	padding:0 0 0 526px;
	height:100%;
	height:100vh;
	min-width:1200px;
	width:100%;
	width:100wh;
	font-size:1.6rem;
}








