body{ margin:0 auto; padding:0; background:#016a71 url(images/bg_02.jpg) repeat-x; font-size:12px;}
div{ margin:0 auto;}
.center{ background:url(images/kua.jpg) no-repeat center 116px; height:600px;}
.top{ width:448px; height:116px;}
.tk{ color:#FFFFFF; font-weight:bold; font-family:"ºÚÌå"; font-size:20px; height:50px;}
.bo1{ width:78px; height:28px; background:url(images/bm_03.png) no-repeat; border:0;}
.bo2{ width:78px; height:28px; background:url(images/bm_05.png) no-repeat; border:0;}
.ojm{width:440px; float:left; border:#0066FF 0px solid; background:url(images/xian_03.png) no-repeat left center; height:310px; *margin-top:20px;}
.bjn{ padding:0 0 0 40px; *height:80px; line-height:40px;}
.size{ font-size:14px; color:#c9feac;}
.tt{ text-indent:28px; color:#FFFFFF; display:block;}
.om{color:#FFFFFF; line-height:45px;}