@charset "utf-8";
body{ padding:0;margin:0;font:normal 12px/180% "宋体"; color:#666;background:#fff;}
h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
div{ margin:0 auto;text-align:left;font:normal 12px/180% "宋体";}
a:link,a:visited{color:#666; text-decoration:none}
a:hover{ color:#2a84c9; text-decoration:underline}
img{border:none}
ol,ul,li{list-style:none;}

.clear{ clear:both;}

.yy_top{ width:100%; height:34px; background:url(images/gv_02.jpg) repeat-x left top; line-height:34px;}
.buttom{ width:41px; height:19px; background:url(images/mj.png) no-repeat; border:0;}
.rwe{ width:125px; border:#d5eaf4 1px solid;}
.g4w{ width:55px; border:#d5eaf4 1px solid;}

.rtg{ color:#498407;}
.rtg a,.rtg a:visited{ color:#498407}
.rtg a:hover{ text-decoration:underline;}

.banner{ width:980px; height:144px;}

.mu{ width:980px; height:40px; background:#3d9ee9;}
.mu ul{ margin:0; padding:0;}
.mu ul li{ float:left;}
.mu a,.mu a:visited{ color:#FFFFFF; font-weight:bold; width:108px; float:left; line-height:40px; text-align:center; font-size:14px; display:block;}
.mu a:hover{ background:#0bb8d2;}



.lico{ border:#ccc 1px solid; padding-bottom:15px;}
.yyks{ width:980px; height:auto; margin-top:20px;}
.grdf{ width:752px; float:left;}
.krg{ color:#59972e; font-size:14px; font-weight:bold; padding-left:42px; background:url(images/ngr.png) no-repeat 20px center;}
.rge a{ color:#579531;}
.yyke_menu{ padding:0; margin:0; width:680px; margin-left:35px;}
.yyke_menu li{ width:160px; float:left; height:25px;}
.yyke_menu li a,.yyke_menu li a:visited{ color:#666; line-height:25px; text-indent:20px; display:block;}
.yyke_menu li a:hover{ color:#2a84c9;}
.bnr{ padding-left:25px; padding-right:25px; color:#666;}


.zzlx_menu{ padding:0; margin:0; width:680px; margin-left:35px;}
.zzlx_menu li{ width:75px; float:left; height:25px;}
.zzlx_menu li a,.zzlx_menu li a:visited{ color:#666; line-height:25px; text-indent:20px; display:block; text-align:center;}
.zzlx_menu li a:hover{ color:#2a84c9;}


.zxdc{ width:212px; float:right;}
.brcc{ color:#59972e; font-size:14px; font-weight:bold; padding-left:22px;}

.dfdf{ width:180px; margin:0; padding:0; padding-bottom:5px; margin-left:15px;}
.dfdf li a,.dfdf li a:visited{width:180px; float:left; background:url(images/rer.gif) no-repeat left center; white-space:nowrap; overflow:hidden; table-overflow:ellipsis; line-height:25px; display:block; padding-left:12px;}

.footer{ width:100%; height:179px; background:url(images/gv_13.jpg) repeat-x; margin-top:20px;}


.bergd{ width:764px; height:83px; margin-top:45px; margin-bottom:50px;}
.nrtv{ background:url(images/rhh_03.jpg) no-repeat center top;}
.hev{ color:#4d9122;}
.rtgf{ margin-top:20px;}
.brg{ margin:5px 0 0 48px;}
.mfg{ padding-left:20px;}
.vse{ width:174px; height:43px; background:url(images/fgrc.png) no-repeat; border:0;}
.erfd{ color:#75a000; font-size:48px; font-weight:bold; width:655px; line-height:60px;}
.buttom_yuyue{ width:179px; height:60px; background:url(images/uj_07.jpg) no-repeat; border:0;}


.myyuyue{ width:212px; float:left;}
.myyuyue ul{ margin:0; padding:0;}
.myyuyue li a,.myyuyue a:visited{ color:#3c7a11; font-size:14px; font-weight:bold; width:212px; height:36px; display:block; text-align:center; line-height:36px; margin-bottom:15px;}
.myyuyue a:hover{ background:#d0eabd;}


.fk{ border:#d6d6d6 1px solid; line-height:35px;}
.fk td{ border-bottom:#d6d6d6 1px solid; padding-left:50px;}
.ntt{ width:75px; height:25px; background:url(images/bwr.png) no-repeat; border:0;}
.hrf{ width:87px; height:30px; background:url(images/mtg_03.png) no-repeat; border:0;}


.cat1{ width:980px; line-height:24px; height:auto; clear:both; display:table; padding-top:10px; padding-bottom:10px; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; border-bottom:1px solid #fff; border-top:1px solid #fff;}
.cat1 h4{ font-size:15px; margin-left:8px;}

.cat2{ width:980px; line-height:24px; height:auto; clear:both; display:table; padding-top:10px; padding-bottom:10px; background:#f3fafc; border:#a9deed 1px solid;}
.cat2 h4{ font-size:15px; margin-left:8px;}

.cat1x{ width:980px; line-height:24px; height:auto; clear:both; display:table; padding-top:10px; padding-bottom:10px; border:1px solid #d8d8d8; border-bottom:1px solid #fff;}
.cat1x h4{ font-size:15px; margin-left:8px;}

.cat1y{ width:980px; line-height:24px; height:auto; clear:both; display:table; padding-top:10px; padding-bottom:10px; border:1px solid #d8d8d8; border-top:1px solid #fff;}
.cat1y h4{ font-size:15px; margin-left:8px;}

.ca{ margin:0; padding:0; margin-left:15px;}
.ca li h5 a{ font-size:14px; color:#076fa2; float:left; padding:0 5px;}
.ca li{ width:300px; float:left; margin-right:20px;}

.cat1{ width:980px; line-height:24px; height:auto; clear:both; display:table; padding-top:10px; padding-bottom:10px; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; border-bottom:1px solid #fff; border-top:1px solid #fff;}
.hma{ margin:0; padding:0; margin-left:15px; width:950px;}
.hma li h5 a{ font-size:16px; color:#fff; float:left; background: url(images/jk.jpg) no-repeat; display:block; width:22px; color:#FFFFFF; padding-right:25px; text-align:center; font-weight:normal; height:24px;}
.hma li{ width:950px; float:left; margin-top:18px; margin-bottom:5px;}
.hma li a{ line-height:23px; font-size:14px; letter-spacing:1px;}

.hec{ color:#333; font-size:14px;}
.jgi{ color:#333;}
.kbi{ color:#3d9ee9; font-size:14px;}