/*文章详情*/

/*外部包装容器*/
.art-wrap(){
	.layout-base;
	>h1,
	>h2{
		.layout-base;
		text-align: center;
		.text-ww;
		display:inline-block;
	}
	>h1{
		font-size:@font-size-base + 16;
		line-height:@font-size-base + 26;
		color:@color-gray3;
		font-weight:bold;
		padding:8px 0;
	}
	>h2{
		font-size:@font-size-base + 2;
		line-height:@font-size-base + 12;
		color:@color-gray3;
		padding:5px 0;
	}
}

/*详情区域*/
.art-show(){
	*{
		background:none !important;
		font-size:@font-size-base !important;
		line-height:@font-size-base + 10;
		text-align:left;
		color:@color-gray6;
		.text-ww;
		max-width:100% !important;
		text-indent:0;
	}
	>table,
	>div,
	>section,
	>p,
	>ul,
	>dl,
	>dd,
	>dt,
	>li,
	>form,
	>h1,
	>h2,
	>h3,
	>h4,
	>h5,
	>h6{
		width:100% !important;
		.box-sizing-base !important;
		margin-left:0 !important;
		margin-right:0 !important;
		*{
			height:auto !important;
		}
	}
	img{
		max-width:100% !important;
		margin:10px 0;
		text-indent:0 !important;
	}
	a{
		.box-sizing-base;
		display:inline-block;
		text-decoration:underline;
		text-align:left;
		color:@color-blue1;
		cursor:pointer;
	}
	>p,
	p{
			font-size:@font-size-base;
			line-height:@font-size-base + 10;
			.text-ww;
			text-align:left;
			padding:5px 0;
			color:@color-gray6;
			>a,
			a{
				font-size:@font-size-base;
				padding:0 10px;
				width:auto;
			}
			img{
				max-width:100% !important;
				display:block;
				margin:10px auto;
			}
		}
	>a{
			width:100%;
			font-size:@font-size-base;
			line-height:@font-size-base + 10;
			padding:5px 0;
			img{
				max-width:100%;
				margin:10px auto;
				display:block;
			}
	}
}


























