/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff url(../images/clocksbg.png) repeat center center;}
body *{margin:0;padding:0;font-size:100%;/*font-size:12px*/text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:none;}
body *:focus{outline:none;}
/*dom layout*/
.header{width:100%;height:50px;background:#000 url(../images/headbg1.jpg) repeat center center;-webkit-box-shadow:0 2px 3px #666;-moz-box-shadow:0 2px 3px #666;-ms-box-shadow:0 2px 3px #666;-o-box-shadow:0 2px 3px #666;box-shadow:0 2px 3px #666;}
.container{width:1000px;min-height:680px;margin:0 auto;-webkit-box-shadow:0 0 5px #888;-moz-box-shadow:0 0 5px #888;-o-box-shadow:0 0 5px #888;-ms-box-shadow:0 0 5px #888;box-shadow:0 0 5px #888;background:#fff;}
.footer{width:100%;min-height:200px;background:#000 url(../images/classy_fabric.png) repeat center center;float:left;}
/*header-detail*/
.header h1{margin:0 auto;height:40px;width:1000px;font-size:20px;color:#fff;padding:5px 0;line-height:35px;text-indent:50px;}
/*main-detail*/
.content{width:980px;float:left;margin:20px 0 30px 10px;height:auto;}
.content h1{width:100%;padding:5px 0;text-align:center;font-size:40px;color:#0CF;-webkit-text-shadow:0 1px 0 #fff,0 2px 0 #999,0 2px 3px #999;-moz-text-shadow:0 1px 0 #fff,0 2px 0 #999,0 2px 3px #999;-ms-text-shadow:0 1px 0 #fff,0 2px 0 #999,0 2px 3px #999;-o-text-shadow:0 1px 0 #fff,0 2px 0 #999,0 2px 3px #999;text-shadow:0 1px 0 #fff,0 2px 0 #999,0 2px 3px #999;}
/*canvas*/
.showcanvas{margin:20px auto;padding:5px;border:1px solid #999;display:block;width:900px;height:500px;background:#000;}
.notags{display:none;margin:20px auto;width:600px;height:300px;}
/*footer format*/
.remarks{width:1000px;height:auto;margin:20px auto;}
.remarks p{width:980px;margin:0 auto;font-size:14px;text-align:center;padding:3px 0;color:#fff;}
