///*--字体图标--*/
@ux-font-one-url:'../fonts/uxone/';
@ux-font-two-url:'../fonts/uxtwo/';
@ux-font-three-url:'../fonts/uxthree/';
@ux-font-four-url:'../fonts/uxfour/';
@ux-font-five-url:'../fonts/uxfive/';
@ux-font-six-url:'../fonts/uxsix/';
@ux-font-seven-url:'../fonts/uxseven/';
@ux-font-eight-url:'../fonts/uxeight/';
@ux-font-name:iconfont;
@typ-font-url:'../fonts/typ/';
@typ-font-name:typicons;



///*--字体--*/
@fontfamliy-base:'微软雅黑','雅黑','Microsoft YaHei','YaHei','\5FAE\8F6F\96C5\9ED1',arial,Helvetica,Tahoma'宋体','\5B8B\4F53',sans-serif;
///*字体大小*/
@font-size-base:14px;
@font-size-small:@font-size-base - 2;
@font-size-default:@font-size-base + 2;
@font-size-large:@font-size-base + 4;
@font-size-bigger:@font-size-base + 10;



///*--颜色--*/
@color-type:color;

///*基本色：黑*/
@color-base:rgba(0,0,0,1.00);

///*基本色：白*/
@color-white:rgba(255,255,255,1.00);

///*红色*/
///*btn:查询按钮背景*/
@color-red1:rgba(255,108,96,1.00);
///*tip:错误信息提示*/
@color-red2:rgba(217,22,22,1.00);
///*.input:focus:class位input的输入域获取焦点*/
@color-red3:rgba(248,105,77,1.00);
///*btn:登录按钮背景*/
@color-red4:rgba(238,58,32,1.00);
///*扩展*/
@color-red5:rgba(255,0,0,1.00);



///*绿色*/
///*btn:分页按钮高亮*/
@color-green1:rgba(77,192,119,1.00);
///*btn:录入项目按钮*/
@color-green2:rgba(69,182,175,1.00);
///*tip:提示信息*/
@color-green3:rgba(39,168,91,1.00);
///*btn:重置密码按钮*/
@color-green4:rgba(34,172,56,1.00);
///*扩展*/
@color-green5:rgba(40,151,158,1.00);

///*蓝色*/
///*btn：修改按钮*/
@color-blue1:rgba(27,168,239,1.00);
///*input:focus:输入域获取焦点*/
@color-blue2:rgba(1,134,184,1.00);
///*menu-hover:左侧导航菜单高亮*/
@color-blue3:rgba(67,111,131,1.00);
///*menu-hover:左侧导航展开后背景菜单高亮*/
@color-blue4:rgba(55,72,90,1.00);

///*黄色*/
@color-yellow1:rgba(252,246,226,1.00);
@color-yellow2:rgba(233,199,36,1.00);
@color-yellow3:rgba(250,191,19,1.00);

///*橘色*/
///*btn:生成项目按钮*/
@color-orange1:rgba(252,179,34,1.00);
///*btn:退出系统按钮*/
@color-orange2:rgba(255,131,51,1.00);
///*扩展*/
@color-orange3:rgba(253,159,48,1.00);


@color-orange4:rgba(241,145,73,1.00);
@color-orange5:rgba(248,181,81,1.00);
@color-orange6:rgba(255,162,0,1.00);

///*灰色*/
///*logo:logo背景*/
@color-gray1:rgba(28,31,37,1.00);
///*text:常规文本*/
@color-gray2:rgba(51,51,51,1.00);
///*input:表单输入域文本*/
@color-gray3:rgba(68,68,68,1.00);
///*side-menu：左侧导航背景*/
@color-gray4:rgba(43,62,80,1.00);
///*btn：导出Excel按钮*/
@color-gray5:rgba(88, 102, 115,1.00);
///*header：头部背景*/
@color-gray6:rgba(102,102,102,1.00);
///*panel-border：面板边框*/
@color-gray7:rgba(202,202,202,1.00);
///*panel：面板背景*/
@color-gray8:rgba(215,216,223,1.00);
///*label：标签背景*/
@color-gray9:rgba(221,225,231,1.00);
///*label-data：标签数据项背景*/
@color-gray10:rgba(246,245,245,1.00);
///*list-hover：数据列表高亮或者伪类*/
@color-gray11:rgba(250,250,250,1.00);

///*灰度扩展*/
///*list-border：数据列表字体颜色*/
@color-gray12:rgba(136,136,136,1.00);
///*list-border：数据列表边框颜色*/
@color-gray13:rgba(221,221,221,1.00);
///*side-menu：左侧导航边框*/
@color-gray14:rgba(65,82,99,1.00);
///*扩展其他灰度*/
@color-gray15:rgba(153,153,153,1.00);
@color-gray16:rgba(186,186,186,1.00);



///*--基础类--*/
///*盒模型*/
.box-sizing-base(@boxsizing:border-box){-ms-box-sizing:@boxsizing;-o-box-sizing:@boxsizing;-moz-box-sizing:@boxsizing;-webkit-box-sizing:@boxsizing;box-sizing:@boxsizing;}
///*圆角*/
.border-radius-base(@radius:none){-moz-border-radius:@radius;-ms-border-radius:@radius;-o-border-radius:@radius;-webkit-border-radius:@radius;border-radius:@radius;}
///*容器阴影*/
.box-shadow-base(@str){
-moz-box-shadow:@str;-ms-box-shadow:@str;-o-box-shadow:@str;-webkit-box-shadow:@str;box-shadow:@str;}
///*文字阴影*/
.text-shadow-base(@str){
-moz-text-shadow:@str;-ms-text-shadow:@str;-o-text-shadow:@str;-webkit-text-shadow:@str;text-shadow:@str;}
///*过渡*/
.transition-base(@str){-moz-transition:@str;-ms-transition:@str;-o-transition:@str;-webkit-transition:@str;transition:@str;}
///*变换中心*/
.transform-origin-base(@origin){-moz-transform-origin:@origin;-ms-transform-origin:@origin;-o-transform-origin:@origin;-webkit-transform-origin:@origin;transform-origin:@origin;}
///*变换*/
.transform-base(@str){-moz-transform:@str;-ms-transform:@str;-o-transform:@str;-webkit-transform:@str;transform:@str;}
///*动画定义*/
.animation-base(@str){-moz-animation:@str;-ms-animation:@str;-webkit-animation:@str;-o-animation:@str;animation:@str;}
///*横向渐变*/
.linear-gradienth-base(@startColor: #555, @endColor: #333){
	background-color: @endColor;
    background-image: -moz-linear-gradient(left, @startColor, @endColor);
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image: -o-linear-gradient(left, @startColor, @endColor);
    background-image: linear-gradient(to right, @startColor, @endColor); 
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@startColor),argb(@endColor)));
}
///*纵项渐变*/
.linear-gradientv-base(@startColor: #555, @endColor: #333){
	  background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(top, @startColor, @endColor);
    background-image: -o-linear-gradient(top, @startColor, @endColor);
    background-image: linear-gradient(to bottom, @startColor, @endColor);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor)));
}
///*文字颜色*/
.color-t-base(@color){@{color-type}:@color;}
///*背景颜色*/
.color-bg-base(@color){background-@{color-type}:@color;}
///*轮廓*/
.no-outline-base(@outline:none){-moz-outline:@outline;-ms-outline:@outline;-o-outline:@outline;-webkit-outline:@outline;outline:@outline;}
///*透明*/
.opacity-base(@str:100){opacity: @str / 100;filter:~"alpha(opacity=@{str})";}
///*图像灰度*/
.filter-base(@str:100){-webkit-filter:grayscale(~'@{str}%');-moz-filter:grayscale(~'@{str}%');-o-filter:grayscale(~'@{str}%');-ms-filter:grayscale(~'@{str}%');filter:grayscale(~'@{str}%');filter:gray;}
.text-size-adjust-base(@str:100%){-moz-text-size-adjust:@str;-o-text-size-adjust:@str;-webkit-text-size-adjust:@str;-ms-text-size-adjust:@str;text-size-adjust:@str;
}




///*--布局--*/
///*基本布局*/
.layout-base(@w:100%,@box:border-box){width:@w;.box-sizing-base(@box);}
///*左上屏幕定位*/
.layout-fixedl-base(@left:0,@top:0,@z-index:100){position:fixed;left:@left;top:@top;z-index:@z-index;}
///*右上屏幕定位*/
.layout-fixedr-base(@right:0,@top:0,@z-index:100){position:fixed;right:@right;top:@top;z-index:@z-index;}
///*左下屏幕定位*/
.layout-fixedlb-base(@left:0,@bottom:0,@z-index:100){position:fixed;left:@left;bottom:@bottom;z-index:@z-index;}
///*右下屏幕定位*/
.layout-fixedrb-base(@right:0,@bottom:0,@z-index:100){position:fixed;right:@right;bottom:@bottom;z-index:@z-index;}
///*相对定位*/
.layout-relative-base(@left:0,@top:0,@z-index:1){position:relative;left:@left;top:@top;z-index:@z-index;}
///*左上绝对定位*/
.layout-absolutel-base(@left:0,@top:0,@z-index:5){position:absolute;left:@left;top:@top;z-index:@z-index;}
///*右上绝对定位*/
.layout-absoluter-base(@right:0,@top:0,@z-index:5){position:absolute;right:@right;top:@top;z-index:@z-index;}
///*左下绝对定位*/
.layout-absolutelb-base(@left:0,@bottom:0,@z-index:5){position:absolute;left:@left;bottom:@bottom;z-index:@z-index;}
///*右下绝对定位*/
.layout-absoluterb-base(@right:0,@bottom:0,@z-index:5){position:absolute;right:@right;bottom:@bottom;z-index:@z-index;}
///*浮动*/
.layout-float-base(@w:100%,@box:border-box,@dir:left){.layout-base(@w,@box);float:@dir;}



///*--文本--*/
///*不换行*/
.text-of(@o:hidden,@w:nowrap){overflow:@o;white-space:@w;}
///*文字强制换行*/
.text-ww(@w1:break-all,@w2:break-word){word-break:@w1;word-wrap:@w2;}
///*禁止选中*/
.user-select-base(@str:none){-moz-user-select:@str;-o-user-select:@str;-webkit-user-select:@str;-ms-user-select:@str;-khtml-user-select:@str;user-select:@str;}