///grid 数据表格展现插件
@import 'variable/base_variable.less';

///grid 选项切换
@import 'mixin/grid_toggle.less';

///grid 主题或者标题
@import 'mixin/grid_theme.less';

///grid 查询输入域
@import 'mixin/grid_query.less';

///grid 数据展现
@import 'mixin/grid_datalist.less';

///grid 数据分页
.grid-datapage{
	.layout-float-base;
}
.exportdoc-wrap{
	.layout-float-base;
	margin:5px 0 0 0;
	padding:5px;
	text-align:right;
	a{
		.box-sizing-base;
		padding:0 15px;
		font-size:@font-size-small;
		display:inline-block;
		height:28px;
		line-height:27px;
		border:1px solid @color-gray9;
		.border-radius-base(3px);
		background:@color-gray11;
		color:@color-gray3;
		&:hover{
			text-decoration:none;
		}
		&:before{
			display:inline-block;
			vertical-align:middle;
			color:@color-cyan1;
			padding:0 5px 2px 0;
			content:'\e638';
			font-family:'ux_five';
			font-size:@font-size-base;
		}
	}
}

///grid 表单及其相关组件
@import 'mixin/grid_form.less';

///grid 表单补充服务类
@import 'mixin/grid_formsupply.less';

///grid 下拉框插件
@import 'mixin/grid_selectplugin.less';

///引入校验信息
@import 'mixin/valid.less';

