@import 'variable/base_variable.less';

///首页主模块
.main-info{
	table{
		display:table !important;
		border-collapse:collapse !important;
		th{
			text-align:center;
			background:@color-gray9;
			.linear-gradientv-base(@color-white,@color-gray9);
			color:@color-gray3;
			cursor:default !important;
			.text-unselect;
		}
		tr{
			cursor:pointer;
			&:hover{
				background:@color-gray10;
			}
			&:first-child:hover{
				background:@color-white;
			}
		}
	}
}

.main-list{
	.layout-base;
	border-bottom:2px solid @color-gray8;
	margin:0 0 5px 0;
	>div{
			height:30px;
			line-height:30px;
			font-size:@font-size-base;
			font-family:@fontfamliy-base;
			color:@color-gray2;
			background:@color-cyan2;
			text-indent:40px;
			.text-unselect;
			a{
				display:inline-block;
				float:right;
				margin:0 20px 0 0;
				font-size:@font-size-small;
				color:@color-gray2;
			}
	}
	>p{
		.layout-float-base;
		padding:10px 0;
		a{
				.layout-float-base;
				height:30px;
				overflow:hidden;
				line-height:20px;
				padding:5px 20px;
				color:@color-gray3;
				.no-outline-base;
				&:before{
					content:'\e627';
					font-family:'ux_eight';
					font-size:@font-size-small - 2;
					color:@color-gray2;
					vertical-align:middle;
					display:inline-block;
					padding:0 5px 1px 0;
				}
				&:hover{
					text-decoration:none;
					color:@color-cyan1;
					span{
						color:@color-gray3;
					}
				}
				span{
					display:inline-block;
					float:right;
					vertical-align:middle;
					color:@color-gray6;
					font-size:@font-size-small;
				}
		}
	}
}

.index-info1{
		td{
			.text-ww;
			vertical-align:middle;
			&:first-child{
				color:@color-gray3;
				font-size:@font-size-small;
				font-family:@fontfamliy-base;
				&+td{
					text-align:center;
					color:@color-gray5;
					img{
						display:block;
						margin:0 auto;
						max-width:50px;
						max-height:50px;
						overflow:hidden;
					}
				}
				&+td+td{
					text-align:center;
					color:@color-gray3;
					img{
						display:inline-block;
						padding:0 5px;
						max-width:50px;
						max-height:50px;
						overflow:hidden;
					}
				}
			}
		}
}

.index-info2{
	td{
		text-align:center;
	}
	tr:first-child+tr td,
	td:first-child,
	td+td:first-child,
	td+td+td:first-child{
		color:@color-gray3;
		font-size:@font-size-small;
		font-family:@fontfamliy-base;
	}
	tr:first-child+tr+tr td:first-child+td,
	tr:first-child+tr+tr+tr td:first-child+td,
	tr:first-child+tr+tr+tr+tr td:first-child+td{
		color:@color-red2;
	}
}