/*文本控件*/
.ao-text1,
.ao-text2,
.ao-select,
.ao-textarea,
.ao-checkbox{
	label{
		.layout-relative-base(0,0,5);
		padding:5px 0 6px 0;
		width:100px;
		float:left;
		text-align:left;
		text-indent:10px;
		span{
			.layout-absolutel-base(0,9px,50);
			text-indent:0;
			padding:0;
			font-size:@font-size-small;
			color:@color-red2;
		}
	}
	input[type='text'],
	input[type='password']{
		padding:6px 0 6px 5px;
		float:left;
	}
	input[type='file']{
		padding:2px 0 2px 5px;
		float:left;
		cursor:pointer;
	}
	select{
		padding:5px 0;
		float:left;
		width:300px;
	}
	textarea{
		padding:5px;
		width:550px;
		height:120px;
		line-height:20px;
		float:left;
	}
}
.ao-text1{
	input[type='text'],
	input[type='password'],
	input[type='file']{
		width:450px;
	}
}
.ao-text2{
	input[type='text'],
	input[type='password'],
	input[type='file']{
		width:200px;
	}
}

/*文件控件*/
.ao-file-plugin{
	float:left;
	width:70px;
	height:28px;
	margin:0 0 0 5px;
	.file-plugin-btn{
		line-height:28px;
		background:@color-gray3;
		color:@color-white;
		font-size:@font-size-small;
	}
}

/*按钮控件*/
.ao-btn{
	input[type='submit'],
	input[type='button'],
	input[type='reset'],
	button{
		width:150px;
		height:40px;
		line-height:40px;
		float:left;
		margin:20px 0 0 100px;
		background:@color-red;
	}
}

/*多选框控件*//*单选框控件*/
.ao-checkbox-item,
.ao-radio-item{
	label{
		width:auto !important;
		margin:0 5px 0 3px;
		cursor:pointer;
		text-indent:0;
	}
	input{
		float:left;
		margin:e('9px 0 0 10px;*+margin:4px 0 0 10px');
		&:first-child{
			margin:e('9px 0 0 0;*+margin:4px 0 0 0');
		}
	}
}


/*单选框控件*/









