///*列表头部*/
.list-header-wrap{
	.layout-float-base;
	height:40px;
	margin:10px 0;
}
.list-tipinfo{
	.layout-float-base;
	padding:5px 0;
	line-height:20px;
	font-size:@font-size-base;
	color:@color-gray3;
	strong,
	span{
		padding:0 5px;
	}
	span{
		color:@color-red2;
	}
}
.list-h-btn{
	 width:150px;
	 height:34px;
	 float:left;
	 margin:3px 10px 0 0;
	 .border-radius-base(3px);
	 background:@color-blue1;
	 display:inline-block;
	 text-align:center;
	 line-height:34px;
	 .text-of;
	 font-size:@font-size-base;
	 color:@color-white;
	 &:hover{
			text-decoration:underline;
	 }
}

.list-h-search{
	height:40px;
	float:right;
	width:220px;
	.layout-relative-base(0,0,1);
	button{
		.layout-absolutel-base(3px,8px,10);
		width:24px;
		height:24px;
		font-family:'ux';
		color:@color-gray3;
		font-size:@font-size-default;
		background:transparent;
	}
	input{
		.layout-float-base(100%,border-box,right);
		margin:5px 0 0 0;
		height:30px;
		border:1px solid @color-gray5;
		padding:e('5px 0 5px 30px;*+padding:0 0 0 30px;*+line-height:30px;');
		.border-radius-base(3px);
		background:@color-white;
		font-size:@font-size-small;
		color:@color-gray3;
		&:focus{
			border:1px solid @color-blue1;
			.transition-base(all .5s ease .02s);
		}
	}
}

///*列表主题*/
.list-theme-wrap{
	.layout-float-base;
	padding:10px 0;
	margin:e('10px 0 40px 0;*+width:836px');
	border:1px solid rgba(221,236,246,1.00);
	background:rgba(242,250,255,1.00);
	.border-radius-base(3px);
	h4,
	p{
		width:94%;
		.text-ww;
		line-height:20px;
	}
	h4{
		margin:5px auto 20px auto;
		font-size:@font-size-base;
		color:@color-gray2;
	}
	p{
		margin:5px auto;
		font-size:@font-size-default;
		text-indent:2em;
		color:rgba(34,129,188,1.00);
	}
}


///*列表标题*/
.list-main-wrap{
	.layout-float-base;
	margin:10px 0;
	empty-cells:show;
	table-layout:fixed;
	background:@color-white;
	border-bottom:2px solid @color-gray7;
	border-collapse:e('separate;*+border-collapse:collapse');
	tr{
		height:40px;
		width:100%;
		cursor:pointer;
		&:hover{
			background:@color-gray11;
			td{
				border-bottom:1px solid @color-blue2;
				.transition-base(2s all ease .05s);
			}
			.transition-base(.3s all ease .05s);
		}
		&:last-child:hover{
			td{
				border-bottom:1px solid @color-gray7;
				.transition-base(none);
			}
		}
	}
	td,th{
		height:40px;
		.text-of;
		.box-sizing-base;
		vertical-align:middle;
		border-bottom:1px solid @color-gray7;
		text-align:center;
		font-size:@font-size-small;
	}
	td{
		color:@color-gray3;
	}
	th{
		font-weight:normal;
		color:@color-gray3;
		background:@color-gray10;
		font-family:'微软雅黑','雅黑','Microsoft YaHei','YaHei','\5FAE\8F6F\96C5\9ED1';
	}
	td:first-child input,td input{
		vertical-align:middle;
	}
	tr:nth-child(3n-2){
			background:@color-gray10;
			td{
				background:@color-gray10;
			}
	}
	.list-m-title,.list-m-operate a{
			color:@color-blue2;
			&:hover{
				text-decoration:underline;
			}
	}
	.list-m-title,.list-m-name{
		.text-of;
		width:98%;
		display:block;
		margin:0 auto;
		text-overflow:ellipsis;
	}
	.list-m-title{
		text-align:left;
	}
	.list-m-thumbnai{
		font-family:'uxmobile';
		font-size:@font-size-base;
		color:@color-gray4;
		&:hover{
			font-size:@font-size-base + 6;
		}
	}
	.list-m-name{
		color:@color-red2;
	}
}

////*底部操作区*/
.list-footer-wrap{
	.layout-float-base;
	height:40px;
	margin:10px 0;
}

.list-f-delete{
	width:200px;
	float:left;
	margin:3px 0 0 0;
	.list-f-chenkbox,.list-f-btn{
		height:30px;
		line-height:30px;
		font-size:@font-size-small;
		color:@color-gray2;
	}
	.list-f-chenkbox{
		width:60px;
		float:left;
		.text-of;
		vertical-align:middle;
		input{
			float:left;
			margin:8px 0 0 0;
		}
		label{
			float:left;
			padding:0 0 0 5px;
			cursor:pointer;
		}
	}
	.list-f-btn{
		width:120px;
		float:left;
		cursor:pointer;
		.border-radius-base(3px);
		border:1px solid @color-gray7;
		background:@color-gray10;
		.text-unselect;
		text-align:center;
	}
}

.list-f-page{
	width:620px;
	float:right;
	.text-of;
}










































































































































