/*login text*/
.login-text1,
.login-text2{
	label{
		padding:10px 0 10px 0;
		width:80px;
		float:left;
		margin:0 5px 0 0;
		text-align:right;
	}
	input[type='text'],
	input[type='password']{
		padding:10px 0 10px 5px;
		float:left;
	}
}
.login-text1{
	input[type='text'],
	input[type='password']{
		width:290px;
	}
}
.login-text2{
	input[type='text'],
	input[type='password']{
		width:195px;
	}
}
/*login checkbox*/
.login-checkbox{
	input[type='checkbox']{
		float:left;
		margin:4px 0 0 85px;
	}
	label{
		float:left;
		padding:2px 0 10px 0;
		max-width:250px;
		margin:0 0 0 3px;
		.text-unselect;
	}
}

/*login btn*/
.login-btn{
	input[type='submit'],
	input[type='button'],
	input[type='reset'],
	button{
		width:290px;
		height:36px;
		line-height:36px;
		float:left;
		margin:0 0 0 85px;
		background:@color-blue1;
	}
}
/*login tip*/
.login-tip{
	text-indent:88px;
	height:30px;
	line-height:30px;
}