/*文本控件*/
.nc-text1,
.nc-text2,
.nc-select,
.nc-textarea{
	label{
		padding:5px 0 6px 0;
		width:90px;
		float:left;
		margin:0 0 0 10px;
		text-align:left;
	}
	input[type='text'],
	input[type='password']{
		padding:6px 0 6px 5px;
		float:left;
	}
	select{
		padding:5px 0;
		float:left;
		width:200px;
	}
	textarea{
		padding:5px;
		width:200px;
		height:100px;
		line-height:20px;
		float:left;
	}
}
.nc-text1{
	input[type='text'],
	input[type='password']{
		width:200px;
	}
}
.nc-text2{
	input[type='text'],
	input[type='password']{
		width:120px;
	}
}
/*多选框控件*/
.nc-checkbox{
	label{
		padding:6px 0 6px 0;
		float:left;
		margin:0 0 0 10px;
		text-align:left;
		max-width:150px;
		font-size:@font-size-base;
		color:@color-gray2;
	}
}
.nc-checkbox-plugin{
	float:left;
	width:150px;
}

/*图片选择组件*/
.nc-selectimg-plugin{
	float:left;
	width:70px;
	height:28px;
	margin:0 0 0 5px;
	.selectimg-plugin-btn{
		line-height:28px;
		background:@color-gray3;
		color:@color-white;
		font-size:@font-size-small;
	}
}

/*按钮控件*/
.nc-btn{
	input[type='submit'],
	input[type='button'],
	input[type='reset'],
	button{
		width:150px;
		height:40px;
		line-height:40px;
		margin:20px auto 0 auto;
		background:@color-red;
	}
}
/*提示控件*/
.nc-tip{
	text-indent:88px;
	height:30px;
	line-height:30px;
}

/*单选框控件*/
.nc-radio-plugin{
	width:200px;
	float:left;
}









