///商品详情
///作者：易品

html{
	.c-html;
}

body{
	.layout-base;
	.c-body;
}

//商品详情
.goods-detail-wrap{
	.c-wrap;
}

.goods-detail-show{
	.layout-base;
	.c-detail;
	text-align:center;
	margin:0;
	padding:0;
	img,p img,>p img,>a img{
		margin:0 !important;
	}
}

