///分享详情
///作者：易品

html{
	.c-html;
}

body{
	.c-body;
	padding:10px 0 0 0;
	background:@color-white;
}

//文章详情
.share-show-wrap{
	padding:0 16px;
	.c-wrap;
	.share-show{
		.c-show;
	}
}


//相关阅读
.share-links-wrap{
	.c-links;
}


//参与详情点赞列表
.share-good-wrap{
	.c-good;
}


//参与
.share-topic-wrap{
	.c-topic;
}



//评论
.share-comment-wrap{
	.c-comment;
}
