<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页模板引擎html</title>
</head>
<body>


<!--侧边栏模板-->
<nav class="side-menu side-menu-main" id="main_menu">
    <a class="menu-homeicon" href="home.html">首页</a>
    <a class="menu-circleicon" href="../circle/circle.html">关注</a>
    <a class="menu-articleicon" href="../editor/editor.html">写文章</a>
    <a class="menu-downloadicon" href="../download/share_download.html">移动端下载</a>
</nav>
<nav class="side-menu side-menu-sub" id="sub_menu">
    <a class="menu-abouticon" href="#">与我相关</a>
    <a class="menu-myhomeicon" href="#">我的主页</a>
    <a class="menu-houseicon" href="#">我的收藏</a>
    <a class="menu-commenticon" href="#">我的评论</a>
    <a class="menu-zzbicon" href="#">自传币</a>
    <a class="menu-settingicon" href="#">设置</a>
    <a class="menu-loginicon" href="#">登录</a>
    <a class="menu-logouticon g-d-hidei" href="#">退出</a>
</nav>




<!--列表栏-->
<!--1：标签显示-->
<ul class="tag-panel-show" id="tag_panel_show">
    <li class="tag-panel-showactive" data-tag="1">体育</li>
    <li data-tag="2">娱乐</li>
</ul>

<!--2：标签添加与删除-->
<ul class="tag-panel tag-panel-select" id="tag_panel_delete">
		<li data-tag="1">体育</li>
</ul>

<!--3：数据列表(长文)-->
<ul class="side-list-show" id="side_list_show">
    <li data-id="1">
        <p>张三<span>2016-01-01</span></p>
        <h3>霸王级寒潮</h3>
        <div><span>362</span><span>285</span><span>8369</span></div>
        <img alt="" src="../../images/1.jpg">
    </li>
</ul>

<!--4：数据列表(随记)-->
<ul class="side-list-show" id="side_list_show">
    <li data-id="1">
        <p>张三<span>2016-01-01</span></p>
        <h3>霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮霸王级寒潮</h3>
        <div class="mind-img">
            <img alt="" src="../../images/1.jpg">
            <img alt="" src="../../images/2.jpg">
            <img alt="" src="../../images/3.jpg">
        </div>
        <div class="mind-action"><span>362</span><span>285</span><span>8369</span></div>
    </li>
</ul>


<!--关注-->
<section id="main_about_btn" class="main-about-wrap">
    <div><img src="../../images/4.jpg" alt=""></div>
    <span>
      <em>霸王级寒流</em>
      <i>2016-01-01 15:52:52</i>
    </span>
    <p></p>
</section>



<!--文章显示--详情-->
<section class="article-show-wrap" id="article_show">
    <h1>小时候。哭着哭着，就笑了。长大了，笑着，笑着，就哭了</h1>
    <span>275</span>
    <span>47</span>
    <span>48</span>
    <div class="article-show">
        <p data-id="0">小时候。哭着哭着，就笑了。长大了，笑着，笑着，就哭了。</p>
        <a data-id="6" href="http://www.baidu.com">新的一年，你有神马规划？有什么目标？</a>
        <p data-id="1">没有过不去的事情，只有难以过去的心情</p>
        <p>是自己习惯了单身，还是心里面放不下那个人</p>
        <p>小自传1.0于今天（2015年11月26日）与大家见面。首先感谢我们的程序猿的艰苦奋斗50天完成新产品第一版的开发。小自传在视觉、交互、体验上都遵从了操作简易、布局简约的方式，让用户使用方便，易懂，操作流畅。当然，由于时间问题还有很多可以更优越的内容没来得及上线，这个版本布局也可能也会存在一定的问题，在1.1版本中我们将持续更正这些问题。同时也欢迎大家踊跃给我们提意见</p>
        <p>怎么忍心怪你犯了错</p>
        <p>每一刻难过的时候，就独自看一看大海</p>
        <img alt="" src="../../images/2.jpg">
    </div>
</section>



<!--相关链接-->
<section class="article-links-wrap" id="article_links">
		<a href="#">小时候。哭着哭着，就笑了。长大了，笑着，笑着，就哭了</a>
</section>



<!--评论列表-->
<dl class="article-comment-list" id="article_comment_list">
  <dt data-id="0">
    <div class="comment-list-info">
        <div><img alt="" src="../../images/5.jpg" ></div>
        <p>为你担心</p>
        <p>2015-12-21 15:52:00</p>
    </div>  
    <div class="comment-list-detail">我从来不敢给你任何诺言，是因为我知道我们太年轻，你追求的是一种浪漫感觉，还是那不必负责任的热情，心中的话到现在才对你表明，不知道你是否会因此而清醒，让身在远方的我，不必为你担心，一颗爱你的心，时时刻刻为你转不停，我的爱也曾经，深深温暖你的心灵，你和他之间，是否已经有了真感情，别隐瞒，对我说，别怕我伤心</div>
    <div class="comment-list-action">
        <div><span data-id="0" class="praises">52</span><em>回复</em></div>
        <p class="g-d-hidei">
            <textarea class="article-comment-text" placeholder="说说你看法"></textarea>
        </p>
    </div>
  </dt>
  <dd>
  		<div class="comment-list-reply">
          <p>没说再见<span>你妹，你妹，你妹......</span></p>
          <p>2015-12-25 12:25:52</p>
      </div>
    	<div class="comment-list-reply">
        <p>但日落日出永没变迁<span>这刻在望着父亲笑容时</span></p>
        <p>2015-11-05 05:12:22</p>
      </div>                	
  </dd>
  
  <dt data-id="1">
    <div class="comment-list-info">
        <div><img alt="" src="../../images/4.jpg" ></div>
        <p>为你担心</p>
        <p>2015-12-21 15:52:00</p>
    </div>  
    <div class="comment-list-detail">我从来不敢给你任何诺言，是因为我知道我们太年轻，你追求的是一种浪漫感觉，还是那不必负责任的热情，心中的话到现在才对你表明，不知道你是否会因此而清醒，让身在远方的我，不必为你担心，一颗爱你的心，时时刻刻为你转不停，我的爱也曾经，深深温暖你的心灵，你和他之间，是否已经有了真感情，别隐瞒，对我说，别怕我伤心</div>
    <div class="comment-list-action">
        <div><span data-id="1" class="praises">52</span><em>回复</em></div>
        <p class="g-d-hidei">
            <textarea class="article-comment-text" placeholder="说说你看法"></textarea>
        </p>
    </div>
  </dt>
  <dd>
    <div class="comment-list-reply">
        <p>没说再见<span>你妹，你妹，你妹......</span></p>
        <p>2015-12-25 12:25:52</p>
    </div>
    <div class="comment-list-reply">
       <p>回望昨日在异乡那门前<span>唏嘘的感慨一年年</span></p>
       <p>2015-12-25 12:25:52</p>
    </div>
    <div class="comment-list-reply">
       <p>但日落日出永没变迁<span>这刻在望着父亲笑容时</span></p>
       <p>2015-11-05 05:12:22</p>
    </div>
    <div class="comment-list-reply">
      <p>被引证了几多<span>千秋不变的日月,在相惜里共存,姑息分割的大地,划了界线,回望昨日在异乡那门前,唏嘘的感慨一年年,但日落日出永没变迁,这刻在望着父亲笑容时</span></p>
      <p>2015-11-05 05:12:22</p>
    </div>                 	
  </dd>
</dl>



</body>
</html>
