/*登录页*/
.headers{ background:#238494}
.middle{ background:#73d6dc}
.loBg{background:url(cyan/qrcode.png) no-repeat center 0}
.mainBgImg{background:url(cyan/mainbg.png) repeat-y 0 0}

.loginBnner{left:-150px;top:0;width:863px;height:100%;background:url(cyan/loginbg.jpg) no-repeat center;}
.loginBox{right:0;top:50%;margin-top:-171px;width:241px;height:326px;background-position:-268px -166px;}
.loginBtn{left:40px;top:188px;width:172px;height:37px; line-height:35px;background-position:0 -200px; border:none;font-size:14px;color:#4998a5; text-align:center;cursor:pointer; letter-spacing:5px;}
.loginBtn:hover{background-position:0 -237px;}
.loginBtnA{background-position:0 -274px !important;}
.forgetPas{left:40px;top:234px;width:171px;height:36px; line-height:35px;background-position:0 -312px; font-size:14px; color:#FFF;text-align:center}
.forgetPas:hover{background-position:0 -349px;}
.forgetPas:active{background-position:0 -387px;}


.loginEnd{padding:8px;width:241px;right:0;top:50%;margin-top:-50px;background:#c7eff1;color:#238494; font-size:14px;}
.loginEnd a{color:#238494;text-decoration:underline}

.qrCode .telbg{left:-50px;top:0; width:263px; height:198px; background-position:0 0}
.qrCode .telTipBg{right:-150px;top:8px;width:144px;height:91px;background-position:-298px -72px;}

.telform{ height:69px;background-color:#c7eff1; overflow:hidden}
.appList a,.telform{background-color:#c7eff1; color:#73d6dc;}
.appList a:hover{background-color:#76dbe1;color:#FFF}


.telform .teltxt{border:1px solid #97d0d6;}
.telform .focus{ background:#f0feff;}
.telform .telbtn{background-position:-286px 0;border:1px solid #60b3b8;}
.telform .telbtn:hover{background-position:-400px 0}

.aiCode img{border:4px solid #73d6dc;}
.aiCode li span{ background:#73d6dc}
/*主体页面*/
.header{background:#238494}
.sidebar{background:#73d6dc;}
.islogo{ margin:5px 0 0 8px;float:left;width:99px;height:30px;overflow:hidden; background:url(cyan/islogo.png) no-repeat 0 0;opacity:0.8;filter:alpha(opacity:80);}
.islogo:hover{opacity:1; filter:alpha(opacity:100)}

.logo img{ display:block; padding-bottom:1px; background:#85c0c4;border-bottom:1px solid #5badb5}

.barDate,.welCome{color:#2793a5}
.welCome{ line-height:35px;letter-spacing:2px;text-align:center}
.bdDashed{ margin:0 15px; height:1px;border-bottom:1px dashed #78dee5; overflow:hidden}
.bdDashed b{display:block;border-bottom:1px dashed #37b0b8}

.loginOut{ display:block; margin:18px auto 0;width:173px;height:36px; line-height:36px; background:#d6f2f1;color:#387c8a; text-align:center}
.bootLine{ height:12px; background:#238494; border:2px solid #1c6875; border-width:2px 0; overflow:hidden}

.sideNav{ width:234px;overflow:hidden}
.sideNav ul{ width:110%}
.sideNav li{_display:inline;float:left; margin:0 2px 2px 0;width:116px; text-align:center}
.sideNav li a{ display:block;padding-top:20px;height:100px; background-color:#d6f2f1; color:#359fb0}
.sideNav li a:hover{background:#c7f2f0}
.sideNav li.on a{background-color:#FEFEFE}
.sideNav li.on strong{color:#238494}

/*首页*/
.xBox{ margin-bottom:20px;}
.xBox .tH3{ position:relative;left:20px;float:left;padding:0 30px; line-height:30px; color:#FFF; font-size:18px}
.xb2, .xb3, .xb4, .xb5, .xb6, .xb7 {display:block; overflow:hidden; font-size:0;}
.xb2, .xb3, .xb4, .xb5, .xb6 {height:1px;}
.xb4, .xb5, .xb6, .xb7 {border-left:1px solid; border-right:1px solid;}
.xb2 {margin:0 6px;}
.xb3 {margin:0 4px;}
.xb4 {margin:0 3px; border-width:0 4px;}
.xb5 {margin:0 2px;border-width:0 3px;}
.xb6 {margin:0 1px;border-width:0 2px;} 
.xb7 {margin:0 1px;border-width:0 2px; height:1px;} 
.xboxContent{ padding:8px;border:2px solid; border-width:0 2px;}
.eduText .xboxContent,.eduPlace .xboxContent{height:256px;overflow-x:hidden;overflow-y:auto;}

.tH3 b{ top:-1px; width:14px; height:30px; background:url(../images/whitebg.png) no-repeat;}
.tH3 b.lW{left:-1px; background-position:0 0 }
.tH3 b.rW{right:-1px; background-position:right 0 }

.color1 .tH3,
.color1 .xb4,.color1  .xb5,.color1  .xb6,.color1  .xb7,
.color1 .xb2,.color1 .xb3{background:#89e0e5;}
.color1 .xb4,.color1  .xb5,.color1  .xb6,.color1  .xb7,
.color1 .xboxContent{ background:#FFF;border-color:#89e0e5; }

.color2 .tH3,
.color2 .xb4,.color2  .xb5,.color2  .xb6,.color2  .xb7,
.color2 .xb2,.color2 .xb3{background:#e99b9b;}
.color2 .xb4,.color2  .xb5,.color2  .xb6,.color2  .xb7,
.color2 .xboxContent{ background:#FFF;border-color:#e99b9b; }

.eduText{_display:inline;margin-right:2%;_margin-right:1.6%;width:49%; overflow:hidden }
.eduText .xboxContent{word-break:break-all}
.eduText .xboxContent p{padding-bottom:22px;line-height:22px; text-indent:2em}
.eduPlace{width:49%; overflow:hidden}



/*顶部导航*/
.topMenu{border-color:#238494;}
.topMenu li.on a{background:#238494 !important; border-color:#238494 !important;}
.topSubMenu li a:hover,.topSubMenu li.on a{background:#bcebee}
/*表格*/
.cssth{ background:#b9e1eb;}

/*弹窗 按扭*/
.ui_buttons input{ margin:0 0 0 5px}
.btnStyle,
.btnCancel,
.btnDisabled,
.fileBtn,
.ui_buttons input,.ui_buttons input.ui_state_highlight{vertical-align:middle; display:inline-block; width:66px;height:29px; line-height:29px; background:url(cyan/icobtn.png) no-repeat; text-align:center; color:#555;letter-spacing:3px;border:none;cursor:pointer; overflow:hidden}
.btnDisabled{background-position:-66px 0; cursor:default}
.btnStyleH,.ui_buttons input.ui_state_highlight:active{background-position:0 -29px !important;}
.btnStyleA,.ui_buttons input.ui_state_highlight:hover{background-position:0 -58px;}
.btnCancel,.ui_buttons input{background-position:-66px 0;}
.btnCancelH,.ui_buttons input:active{background-position:-66px -29px !important;}
.btnCancelA,.ui_buttons input:hover{background-position:-66px -58px;}

.fileBtn{background-position:-132px 0;}
.fileBtnH{background-position:-132px -29px !important;}
.fileBtnA{background-position:-132px -58px;}
/*表单上传*/
.fileText{vertical-align:middle; display:inline-block; margin-right:5px; padding:0 5px;width:100px;height:25px; line-height:25px !important; background:#F8F8F8;border:1px solid #CCC; color:#888; font-size:12px; cursor:default; overflow:hidden}
.fileBtn{position:relative;width:66px;height:29px;}
.fileInput{position:absolute;right:0;top:0;width:66px;height:29px; overflow:hidden;font-size:300px;opacity:0;filter:alpha(opacity=0);background:url(cyan/icobtn.png) no-repeat -66px 0; cursor:pointer}

 /*对角*/
.CateBox{padding:0 !important; width:140px;line-height:35px;}
.catercorner{ position:relative;width:0;height:0;border-top:30px solid #67bed4;border-left:140px solid #b9e1eb;}
.catercorner span{position:absolute;font-size:14px}
.catercorner span.tSup{top:-37px;left:-40px;}
.catercorner span.tSub{top:-29px;left:-130px;}

/*周期*/
.branchTab{ background:#EEE;border-bottom:1px solid #238494}
.branchTab li{ float:left; line-height:28px; font-size:14px;}
.branchTab li a{ display:block;padding:0 9px;}
.branchTab li.on{ position:relative;top:1px;background:#f4f4f4}
.branchTab li.on a{ padding:0 8px; border:1px solid #238494; border-bottom-color:#f4f4f4;color:#238494}

/*弹窗皮肤*/
.ui_title_bar{position:relative;height:100%;border-bottom:1px solid #28979e;}
.ui_title{
background:-webkit-gradient(linear,0% 0%, 0% 100%,from(#cdf1f3),to(#73D6DC)); 
background:-moz-linear-gradient(top,#cdf1f3,#73D6DC); 
background:-o-linear-gradient(top,#cdf1f3,#73D6DC);
background:-ms-linear-gradient(top,#cdf1f3,#73D6DC);
background:linear-gradient(top,#cdf1f3,#73D6DC);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdf1f3',endColorstr='#73D6DC');*background:#DDD;}
 
.ui_state_focus .ui_title,.ui_title{padding:7px 0 0 7px !important; height:26px;font-size:14px !important; color:#2793A5;text-shadow:0 1px 1px #FFF; letter-spacing:1px}
.ui_state_drag .ui_title {text-shadow: 0 -1px 0 #FFF;
background:-moz-linear-gradient(top,#73D6DC,#cdf1f3); 
background:-webkit-gradient(linear,0% 0%, 0% 100%,from(#73D6DC),to(#cdf1f3));
background:-ms-linear-gradient(top,#73D6DC,#cdf1f3); 
background:linear-gradient(top,#73D6DC,#cdf1f3); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#73D6DC',endColorstr='#cdf1f3'); }

/*滚动条样式*/
html{scrollbar-arrow-color:#238494;scrollbar-face-color:#b9e1eb;scrollbar-darkshadow-color:#d6f2f1;scrollbar-highlight-color:#d6f2f1;scrollbar-3dlight-color:#d6f2f1;scrollbar-shadow-color:#d6f2f1;scrollbar-track-color:#d6f2f1}

/*权限选择*/
.selectA{ position:absolute;right:14px; top:3px }
.selectA dt {padding:0 17px 0 5px; width: 90px;height:25px; border: 1px solid #37b0b8;line-height:25px;cursor: pointer;overflow: hidden; position: relative; z-index:22;}
.selectA dt b{position:absolute;right:5px;top:12px;width:0;height:0;font-size:0;line-height:0;border:4px dashed transparent;border-top:4px solid #333}
.selectA dt:hover,.selectA dt.cur{border:1px solid #409DFE;box-shadow:0 0 3px #409DFE;}
.selectA dd { display:none; position:absolute; left: 0; top: 26px; border: 1px solid #37b0b8; background: #fff;z-index:88; }
.selectA dd ul {padding:4px; width:104px;}
.selectA dd ul li{height:29px; overflow:hidden}
.selectA dd ul li a { display:block; border-bottom:1px dashed #78dee5;line-height: 28px; padding: 0 8px; }
.selectA dd ul li a:hover {background: #F6F6F6;}
