/*
DDPA 公共CSS
*/
/*重置浏览器*/
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-rendering:optimizelegibility;background-image:url(about:blank); background-attachment:fixed; }
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{margin:0;padding:0;border:0;font-weight: 400;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
body,button,input,select,textarea{font:14px/1.8 "宋体","微软雅黑","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;}
button,input{*width:auto;*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
labelle{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;}
img{-ms-interpolation-mode:bicubic;}
abbr{cursor:help;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400;}
ul,ol{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:text-top\9;}
:root sub,:root sup{vertical-align:baseline;}
sup{top:-0.5em;}sub{bottom:-0.25em;}
ins,a,a:hover{text-decoration:none;}
textarea{resize:none;}
/*网站基础布局*/
#header{width:100%;}
.container,#main,.banner{position: relative;margin: 0 auto;width: 1000px;height: auto;overflow: hidden;zoom: 1;}
.container{*+z-index:10;}
#main{*+z-index:1;}
.banner{height: 120px;}
.content-rim,.aside-section{position: relative;overflow: hidden;margin-bottom: 15px;background-color: #fafafa;border: 1px solid #cecece;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;behavior: url(../../res/js/PIE.htc);}
.content-left{width: 674px;margin-right: 14px;float: left;}
.content-right{width:674px;float: right;margin-left: 14px;}
.aside{width: 310px;float: left;position: relative;}
.aside-section{width: 308px;position: relative;}
.aside-title{padding: 0 10px;font-weight: 700;line-height: 40px;height: 40px;border-bottom: 1px solid #e7e7e7;}
.aside-more{color:  #999;position: absolute;top: 10px;right: 10px;float: right;font-size: 12px;font-weight: 400;}
.aside-content{padding: 0 10px;margin: 15px 0;}
.aside-content .small{display: inline-block;margin-right: 10px;}
.aside-loan-tool{display: block;float: left;width: 96px;}
.aside-loan-tool span{display: block;margin: 10px auto;font-size: 12px;text-align: center;}
#footer{width: 100%;border-top: 1px solid #ddd; background-color: #fafafa;font-size: 12px;text-align: center;padding-bottom: 40px;}
/*网站头部*/
#top-nav{width: 100%;background-color: #eee;font-size: 12px;line-height: 30px;height: 30px;}
#top-nav .container{overflow:visible;}
#top-nav a{color: #898989;}
#top-nav .right a:hover{color: #f14629;}
#top-nav h6,#top-nav .right .separator{float: left;}
.logolinks {float: left;height: 85px;width: 313px;display: block;background: url(../image/logo.png) no-repeat center center;text-indent: -9999px;}
#nav h3{float: left;line-height: 85px;margin-left: 30px;font-size: 14px;}
/*登录用户下拉菜单*/
#hs-login{position: relative;}
#hs-loginwrap{display: none;position: absolute;top: 30px;left: -10px;width:92px;height:160px;padding: 17px 0;background:transparent url(../image/common/hs_loginmore.png) no-repeat 0 0;z-index: 100;}
#hs-loginwrap li{width:62px;height:24px;float:left;line-height:none;margin-left: 15px;}
#hs-loginwrap .hs-lline{height:32px;_height:26px;border-bottom:1px solid #a6a6a6;}
#hs-loginwrap a{text-align:center;display:block;color:#fff;}
#top-nav #hs-loginwrap a:hover{color:#fea500;}
/*head-bottom-line*/
.header_blines{width:100%;min-width:1000px;height:2px;background:#e65025;overflow:hidden;line-height:0 none;}
.header_blines div{width:1000px;line-height:0 none;height:2px;background:transparent url(../image/common/header_bline.png) no-repeat 0 0;margin:0 auto;overflow:hidden;}
/*网站底部*/
#bottom-nav{width: 740px;margin: 0 auto;line-height: 40px;overflow: hidden;}
#bottom-nav .separator{float: left;padding: 0 30px;}
#bottom-nav h5{float: left;}
#footer h6{color: #999;line-height: 24px;}
#footer p{line-height:24px;}
.footer-logos{width:470px; margin:20px auto 0px; overflow: hidden;}
.footer-logos a{ height:47px; display:inline-block;  overflow:hidden; float:left; text-indent:-9999em; background:url(../image/common/footer-icons.png) no-repeat; margin:0px 10px;}
.footer-logos a.knet{ width:127px;background-position:-166px -61px;}
.footer-logos a.knet:hover{ background-position:-166px -12px;}
.footer-logos a.smt{ width:152px; background-position:0px -64px;}
.footer-logos a.smt:hover{background-position:0px -16px;}
.footer-logos a.szgov{ width:40px;background-position:-313px -64px;}
.footer-logos a.szgov:hover{ background-position:-313px -10px;}
.footer-logos a.qihu{ width:70px; height:58px;  background-position: -359px 0px;}
.footer-logos a.qihu:hover{ background-position: -359px -61px;}
.float-btn{position:fixed;right:10px; bottom:40px; z-index: 9999;_position: absolute;z-index: 999;_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-40-(parseInt(this.currentStyle.marginBottom,10)||0))); ;}
.float-btn a{display:block;width:45px;height:45px;margin-bottom:3px;text-indent:-9999em;background:url(../image/common/backtotop.fw.png) no-repeat center;}
.float-btn a.code{position:relative;background-position:0px -96px;}
.float-btn a.code img{display:none;position:absolute;left: -175px;top: -255px;}
.float-btn a.code:hover img{display:block;}
.float-btn a.backtotop{background-position:0px -143px;transition:background 0.2s;-moz-transition:background 0.2s; /* Firefox 4 */-webkit-transition:background 0.2s; /* Safari and Chrome */-o-transition:background 0.2s; /* Opera */}
.float-btn a.backtotop:hover{background-position:0px -191px;}
.float-btn a.serverqq{background-position:0px -2px;-moz-transition:background 0.2s;-webkit-transition:background 0.2s;-o-transition:background 0.2s;-ms-transiton:background 0.2s;transition:background 0.2s;}
.float-btn a.serverqq:hover{background-position:0px -49px;}
/*网站基础功能*/
body{color: #666}
a{color: #707070;}
a:hover,em{color: #f14629}
small,.small{color:#999;font-size: 12px;}
.left{float: left;}
.right{float:right;}
.rim{border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;behavior: url(../../res/js/PIE.htc);}/*圆角边框*/
.separator{padding: 0 8px;}/*分隔符*/
h5,h6{font-size: 12px;font-weight: 400;}
.red{ color: #F14629;}
.mb30{ margin-bottom: 40px;} /*底部外边距30px*/
.pb30{ padding-bottom:30px;}
.color9f{ color:#9f9f9f;} /*浅灰色*/
/*表单*/
input{position: relative;display: inline-block;overflow:visible;color: #9F9F9F;line-height: 24px;height: 24px;border: 1px solid #c6c6c6;box-shadow: 0px 0px 1px #c6c6c6;padding:0 10px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;behavior: url(../../res/js/PIE.htc);}
.input-lg{line-height: 30px;height: 30px;font-size: 14px;}
.input-xl{line-height: 35px;height: 35px;font-size: 14px;}
.icon-radio{display: inline-block;margin-right: 5px;width: 14px;height: 14px;line-height: 14px;border: 1px solid #d8d8d8;border-radius: 8px;}
.icon-radio span{display: inline-block;width: 10px;height: 10px;overflow: hidden;background-color: #d8d8d8;border: 2px solid #fff;border-radius: 7px;}
.active .icon-radio span, .mouseenter .icon-radio span{background-color: #f1462a;}
.select{display: inline-block;position: relative;z-index: 99}
.select span,.select ul{background-color: #fff;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;;}
.select span{padding: 0 20px 0 10px;position: relative;z-index: 99;display: inline-block;box-shadow: 0px 0px 3px #ccc;background: #fff url(../image/slidearrow.fw.png) no-repeat right center;border: 1px solid #c6c6c6;}
.select ul{display: none;position: absolute;left: 0;z-index: 9999;margin: 0 ;box-shadow: 0px 1px 3px #ccc;border-top-left-radius: 0;border-top-right-radius: 0;border-width: 0 1px 1px;border-color: #c6c6c6;border-style: solid;}
.select ul li{padding: 0 20px 0 10px;border: 0;margin: 0;cursor: pointer;}
/*网站按钮*/
.btn{display: inline-block;font: 400 14px/34px "微软雅黑";height: 34px;padding: 0 15px;border: 1px solid #ddd;cursor: pointer;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;behavior: url(../../res/js/PIE.htc);position: relative;}/*普通按钮*/
.btn-lg{font: 400 16px/40px "微软雅黑";height: 40px;}/*大号按钮*/
.btn-xl{font: 400 16px/60px "微软雅黑";padding: 0 30px;height: 60px;}/*加大按钮*/
.btn-sm{font: 400 12px/24px "微软雅黑";height: 24px;}/*小号按钮*/
.btn-white{color: #333;background:-webkit-linear-gradient(#fdfdfd,#e7e7e7);background:linear-gradient(#fdfdfd,#e7e7e7);-pie-background:linear-gradient(#fdfdfd,#e7e7e7);}
.btn-blue{border-color: #118bdc;color: #fff;background:-webkit-linear-gradient(#34bffe,#1ba8e8);background:linear-gradient(#34bffe,#1ba8e8);-pie-background:linear-gradient(#34bffe,#1ba8e8);}
.btn-red{border-color: #cf2c01;color: #fff;background:-webkit-linear-gradient(#f4472b,#e73b1f);background:linear-gradient(#f4472b,#e73b1f);-pie-background:linear-gradient(#f4472b,#e73b1f);}
.btn-grey{border-color: #dcdcdc;color:#fff;background: #dcdcdc;cursor: default;}/*灰度失效按钮*/
.btn-white:hover{color: #333;background:-webkit-linear-gradient(#f1f1f1,#d5d5d5);background:linear-gradient(#f1f1f1,#d5d5d5);-pie-background:linear-gradient(#f1f1f1,#d5d5d5);}
.btn-blue:hover{color:#fff;background:-webkit-linear-gradient(#34a8fc,#1b93e9);background:linear-gradient(#34a8fc,#1b93e9);-pie-background:linear-gradient(#34a8fc,#1b93e9);}
.btn-red:hover{color:#fff;background:-webkit-linear-gradient(#e8452c,#d23118);background:linear-gradient(#e8452c,#d23118);-pie-background:linear-gradient(#e8452c,#d23118);}
.btn-grey:hover{border-color: #dcdcdc;color:#fff;background: #dcdcdc;}
/*分页按钮*/
.paging{width: 100%;text-align: center;}
.paging a,.paging span{display: inline-block;height: 33px;font: 400 14px/33px "微软雅黑";background-color: #fff;border: 1px solid #ddd;padding: 0 10px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;behavior: url(../../res/js/PIE.htc);}
.paging a:hover,.paging span{background-color: #e5e5e5;color: #707070;}
/*面包屑导航*/
.breadcrumb{width: 100%;line-height: 40px;height: 40px;}
.breadcrumb a,.breadcrumb h1{display: block;float:left;font-size: 12px;}
.breadcrumb a{margin-right: 5px;padding-right:10px;background:url(../image/loan/loan_posbg.png) no-repeat right center;}
/*标签*/
.label-blue,.label-red,.label-green{position: relative;display: inline-block;font-size: 12px;padding: 0 5px;color: #fff;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;behavior: url(../../res/js/PIE.htc);}
.label-blue{background-color: #4fabbf;}
.label-red{background-color: #fe7959;}
.label-green{background-color: #71be56;}
.label-blue:hover,.label-red:hover,.label-green:hover{color: #fff}
/*选项卡 需配合JS实现*/
.tab-nav{display: block;overflow: hidden;zoom:1;}
.tab-option{display: block;float: left;cursor: pointer;padding: 5px;}
.tab-content{display: none;}
.tab-show{display: block;}
/*表格*/
table{text-align: center;margin: 10px 0; width: 100%; border-collapse: collapse;}
th{color: #666;text-align: center;}
td{color: #999;}
td a:hover{color: #999;}
table .mouseenter{background-color: #fff7f1}
/*icon图标样式 方便以后 使用 CSS精灵 技术进行优化*/
.icon-loan-calculator,.icon-houseloan-calculator,.icon-carloan-calculator{background: url(../image/icon/loan-tool.png) no-repeat;}
.icon-loan-calculator{width: 25px;height: 30px;background-position: -42px 0;}
.icon-houseloan-calculator{width: 41px;height: 30px;background-position: -67px 0;}
.icon-carloan-calculator{width:40px;height: 30px;}
a:hover .icon-loan-calculator{background-position: -42px -31px;}
a:hover .icon-houseloan-calculator{background-position: -67px -31px;}
a:hover .icon-carloan-calculator{background-position: 0 -31px;}

/* 引用原有左边菜单样式：start */
.topwrap{margin:0 auto;height:10px;background:#fff url(../image/manage/manage_bg.png) no-repeat 0 0;}
.sidewrap{width:120px;height:auto;float:left;margin-bottom:30px;}
.mainwrap{width:873px;height:auto;background:#fff url(../image/manage/manage_rightcbg.png) repeat-y 0 0;float:right;margin-bottom:50px;}
.bottomwrap{float:right;width:873px;height:10px;background:#fff url(../image/manage/manage_bg.png) no-repeat -127px -10px;margin-bottom:50px;}
.sidebox{float:left;width:127px;height:auto;background:#fff url(../image/manage/manage_leftcbg.png) repeat-y 0 0;}
.mainbox{float:right;width:840px;height:auto;}
.mainmenu{width:127px;float:left;height:auto;}
.mainmenu_format{width:127px;float:left;height:10px;overflow:hidden;background:transparent url(../image/manage/manage_bg.png) no-repeat 0 -10px;clear:both;}

.mainmenu_format:after,.mainmenu_format::after{content:"";}

.menutheme0,.menutheme1,.menutheme2{width:127px;height:40px;line-height:42px;text-align:left;font-family:"宋体";font-size:12px;cursor:pointer;float:left;display:block;overflow:hidden;color:#a0a0a0;text-indent:30px;}
.menutheme0{background:transparent url(../image/manage/menu_nav.png) no-repeat 0 0;}
.menutheme1{background:transparent url(../image/manage/menu_nav.png) no-repeat 0 -40px;}
.menutheme2{background:transparent url(../image/manage/menu_nav.png) no-repeat 0 -80px;}
.menuthemesel{color:#a0a0a0;}
.submenu{width:127px;height:auto;float:left;display:none;}
.submenu li{float:left;width:127px;height:40px;line-height:40px;}
.submenu a{font-family:"宋体";font-size:14px;line-height:40px;height:40px;width:127px;display:block;_display:inline;text-align:left;background:transparent;color:#4f4f4f;text-indent:30px;}
li.curmenu{width:128px;background:transparent url(../image/manage/menu_nav.png) no-repeat 0 -200px;_width:127px;}
li.curmenu a{color:#e54228;}
.submenu a:hover,.submenu a.cur{width:127px;background:transparent url(../image/manage/menu_nav.png) no-repeat 0 -120px;color:#e54228;}
li.curmenu a:hover{width:128px;background:transparent url(../image/manage/menu_nav.png) no-repeat 0 -160px;color:#e54228;}

.mainlayout{height:auto;float:left;width:1000px;background:#fff url(../image/manage/manage_rightcbg.png) repeat-y top right;}
.clear_fixs{clear:both;width:0;height:0;line-height:none;visibility:hidden;zoom:1;}
.clear_fixs:after,.clear_fixs::after{content:"";}
/* 引用原有左边菜单样式：end */
/*底部意见反馈*/
.modalwin{background:#fafafa;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;position:relative;}
.modalwin .winclose{display: block;width: 13px;height: 13px;position: absolute;top: 11px;right: 16px;border: 0px none;background: url(../image/icons_lyz.fw.png) no-repeat;background-position: -117px -578px;text-indent: -9999px;cursor: pointer;}
.modalwin h3{font-size:14px;color:#fff;line-height:36px;background:#938E83;margin-bottom:31px;padding-left: 15px;border-radius: 6px 6px 0px 0px;-webkit-border-radius: 6px 6px 0px 0px;-moz-border-radius: 6px 6px 0px 0px;}
.modalwin h3:hover{color:#fff;}
.modalwin .winbox{margin-left:30px;}
.modalwin p.label, .modalwin p.ftip{font-size:12px;color:#9f9f9f;margin:10px 0px;}
.modalwin p.ftip.error{color:#f00;border:none 0px;}
.modalwin textarea{border: 1px solid #cecece;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius: 6px;width:595px;height:140px;padding:5px;}
.modalwin textarea.error{border-color: #f00;}
.modalwin .btn2 button{border:none 0px;display:block;text-indent:-9999px;width:116px;height:36px;margin: 0px 253px;background:url(../image/common/submitsug.png) no-repeat -4px -4px;margin-bottom: 30px;cursor: pointer;}
/*按钮禁用状态*/
.modalwin .btn2 button.disabled{background-position:-124px -4px;}