///信用卡账单,攻略,提额详情
///作者：易品

//全局设置
html{
	font-size:@font-size-base - 4;
	.layout-base;
}
body{
	background:@color-gray16;
	font-size:1.6rem;
}

//账单汇总
.credit-billdata{
	.layout-base;
	padding:20px;
	height:60px;
	color:@color-gray6;
	font-size:1.4rem;
	span,em{
		height:20px;
		line-height:20px;
	}
	span{
		float:left;
		padding:0 5px 0 0;
	}
	em{
		float:right;
	}
}


//账单,提额
.credit-billdetail-wrap,.credit-amountdetail-wrap{
	.c-ddetail-list;
}

.credit-billdetail-wrap{
	.dlistwrap;
	li{
		>div{
			float:left;
			height:100%;
			p,em,span{
				white-space:nowrap;
				display:inline-block;
				
				overflow:hidden;
			}
			em,p{
				width:100%;
			}
			p,span{
				color:@color-gray6;
				height:20px;
				text-align:left;
			}
			p{
				font-size:1.8rem;
				line-height:18px;
			}
			span{
				line-height:22px;
				font-size:1.4rem;
				padding:0 5px 0 0;
			}
			em{
				color:@color-gray3;
				font-size:1.8rem;
				line-height:40px;
				height:40px;
				text-align:right;
			}
			&:first-child{
				width:70%;
			}
			&:last-child{
				width:30%;
			}
		}
	}
}

.credit-amountdetail-wrap{
	li{
		a{
			width:100%;
			height:100%;
			display:inline-block;
		}
		p,span{
			white-space:nowrap;
			display:inline-block;
			height:20px;
			text-align:left;
			overflow:hidden;
		}
		p{
			width:100%;
			color:@color-gray3;
			font-size:1.8rem;
			line-height:18px;
		}
		span{
			line-height:22px;
			font-size:1.4rem;
			padding:0 5px 0 0;
			color:@color-gray6;
		}
		&:first-child{
			span:last-child:after{
				border:1px solid @color-red1;
				content:'当前策略';
				padding:0 5px;
				color:@color-red1;
				font-size:1.2rem;
				.border-radius-base(3px);
				margin:0 0 0 5px;
			}
		}
	}
}



//提额策略详情
.credit-amountshow-wrap{
	.user-select-base;
	width:100%;
	background:@color-white;
	>h3{
		.layout-base;
		height:60px;
		padding:20px;
		color:@color-gray3;
		font-size:2rem;
		background:@color-gray16;
	}
	>div,>section{
		.layout-base;
		padding:20px;
	}
	>div{
		min-height:200px;
		&:empty{
			color:@color-red1;
			line-height:200px;
			text-align:center;
			font-size:2rem;
			&:before{
				display:inline-block;
				vertical-align:middle;
				content:'\e624';
				font-family:'ux_eight';
				padding:0 5px 0 0;
			}
			&:after{
				content:'暂无数据';
				display:inline-block;
				vertical-align:middle;
			}
		}
	}
	>section{
		.text-ww;
		.c-detail;
	}
}







//账单编辑
.credit-billedit-wrap{
	.layout-fixedlb-base(0,-200%);
	width:100%;
	height:200%;
	.layout-base(100vw);
	height:200vh;
	background:rgba(0,0,0,.3);
}
.billedit-panel{
	.layout-absolutelb-base;
	background:@color-gray16;
	.layout-base;
	padding:10px 20px;
	li{
		.layout-base;
		padding:0 0 20px 0;
		.user-select-base;
	}
	button{
		display:inline-block;
		padding:8px 30px;
		margin:0 30px 0 0;
		background:@color-red1;
		color:@color-white;
		font-size:2rem;
		.border-radius-base(5px);
	}
}
.billedit-checkbox{
	.layout-relative-base;
	display:inline-block;
	height:26px;
	padding:0 20px 0 0;
	span{
		float:left;
		width:26px;
		height:100%;
		background:@color-white;
		display:inline-block;
	}
	&:after{
		vertical-align:middle;
		color:@color-gray6;
		font-size:1.8rem;
		height:100%;
		margin:0 0 0 5px;
		line-height:26px;
		display:inline-block;
		content:attr(data-value);
	}
}
.bill-checkbox-active{
	&:before{
		.layout-absolutel-base;
		width:26px;
		text-align:center;
		line-height:26px;
		height:100%;
		font-size:2rem;
		content:'\e69f';
		font-family:'ux_one';
		color:@color-red1;
	}
}
.billedit-input{
	@gap:50px;
	.layout-relative-base;
	display:inline-block;
	.layout-base;
	min-width:200px;
	padding:0 0 0 @gap;
	&:before{
		.layout-absolutel-base;
		content:attr(data-name);
		height:30px;
		width:@gap;
		text-align:left;
		line-height:30px;
		font-size:1.8rem;
		color:@color-gray6;
	}
	input{
		.layout-base(80%);
		padding:5px;
		height:30px;
		line-height:20px;
		font-size:1.6rem;
		vertical-align:middle;
		color:@color-gray3;
		.border-radius-base(0);
	}
	textarea{
		.layout-base;
		padding:5px;
		font-size:1.6rem;
		color:@color-gray3;
		line-height:20px;
		min-height:80px;
		.border-radius-base(0);
	}
}


//编辑


//


//adapt

