///*---底部----*/
.ui-footer {
	margin-bottom: 30px;
	font-size: 12px;
	color: #999;
	a{
		display: inline;
		font-size: 12px;
		font-weight: normal;
		color: #999;
		i{
			font-style: normal;
			margin-right: 0;
			width: 10px;
		}
	}
}