.notifications {
	position: fixed;
	z-index: 10000;
	top: 35px;
	left: 50%;
	margin-left: -225px;
	>div{
		width: 400px;
		position: relative;
		text-align: center;
		z-index: 10001;
		margin: 5px 0px;
		-webkit-animation: fadeInDown 0.3s linear;
		-moz-animation: fadeInDown 0.3s linear;
		animation: fadeInDown 0.3s linear;
	}
}

///*---返回顶部----*/
.back-to-top {
	position: fixed;
	left: 50%;
	bottom: 100px;
	margin-left: 500px;
	width: 15px;
	line-height: 1.2;
	a {
		color: #333;
		display: block;
		padding: 0 10px;
	}
}
