@charset "gb2312";
*{margin:0px; padding:0px; list-style:none;}
img{border:none;}
a{ color:#000; text-decoration:none;}
body{ font-size:12px; background:url(../img/bg.png)}
.container{width:1003px; margin:0 auto; background:#FFF}

.top1{ width:1003px; height:80px;}
.top1l{ float:left; width:361px; height:80px; background:url(../img/logo.png)}
.top1r{ float:left; width:640px;}
.top1r ul{ float:left; margin-top:40px;}
.top1r ul li{ float:left; width:105px; height:17px; text-align:center}
.top1r ul li a{ font-size:16px; font-weight:bold}

.top2{ width:1003px; height:206px;}
.top2 img{ width:1003px; height:206px;}

.nrl{ float:left; width:318px; height:914px; background:url(../img/nrl.png)}
.cpjy{ float:left; width:318px; margin-top:50px;}
.cpjy .t{ height:45px; background:url(../img/pqjy.png)}
.cpjy .n{ height:190px;}
.cpjy .n ul{ float:left; margin-left:90px; _margin-left:45px;}
.cpjy .n ul li{ float:left; width:155px; height:16px; margin-top:15px; background:url(../img/xb.png)}
.cpjy .n ul li a{ font-size:12px;}
.cpjy .n ul li img{ float:left; margin-right:10px;}
.more{ width:318px; height:17px; margin-top:20px;}
.more img{ float:right; margin-right:30px;}

.lxwm{ float:left; width:318px; margin-top:20px;}
.lxwm .t{ height:45px; background:url(../img/lxwm.png)}
.lxwm .n{ height:190px;}
.lxwm .n ul{ float:left; margin-left:60px; _margin-left:35px;}
.lxwm .n ul li{ float:left; width:197px; margin-top:15px; line-height:1.5em}
.lxwm .n ul li img{ float:left; margin-right:10px;}

.gcal{ float:left; width:318px; margin-top:20px;}
.gcal .t{ height:45px; background:url(../img/gcal.png)}
.gcal .n{ height:190px;}
.gcal .n ul{ float:left; margin-left:60px; _margin-left:35px;}
.gcal .n ul li{ float:left; width:185px; height:16px; margin-top:15px; background:url(../img/xb.png)}
.gcal .n ul li a{ font-size:12px;}
.gcal .n ul li img{ float:left; margin-right:10px;}

.nrr{ float:left; width:685px; height:914px; background:#FFF}
.xwdt{ width:655px; height:360px; margin-left:15px; margin-top:20px;}
.xwdt .t{ height:22px; padding-top:8px; font-size:16px; font-weight:bold; background:#feb401}
.xwdt .t img{ margin-left:5px; margin-right:5px;}
.xwdt .n{ width:655px; }
.xwdt .n ul{ float:left; height:285px; margin-top:25px;}
.xwdt .n ul li{ text-align:right; margin-top:5px; width:640px; height:25px; line-height:2em; padding-right:15px;}
.xwdt .n ul li a{ float:left; font-size:12px;}
.xwdt .n ul li img{ float:left; margin:6px;}
.col{ background:#dadbdb}

.more1{ width:655px; height:17px;}
.more1 img{ float:right; margin-right:0px;}

.cpzs{ width:655px; height:320px; margin-left:15px; margin-top:20px;}
.cpzs .t{ height:22px; padding-top:8px; font-size:16px; font-weight:bold; background:#feb401;}
.cpzs .t img{ margin-left:5px; margin-right:5px;}
.cpzs .n{ width:655px; }

.cpzsl{ float:left; width:460px;}
.cpzsl1{ width:460px; height:125px; _height:135px; border-bottom:1px #c1c0c0 dashed;}
.cpzsl1 .t{ width:440px; height:18px; font-size:14px; padding-left:20px; margin-top:20px; background:#feda80}
.cpzsl1 table{ width:460px; margin-top:5px;}
.cpzsl1 table tr{ text-align:center}
.cpzsl1 table tr td{ border:1px #c1c0c0 solid;}

.cpzsl2{ width:460px; height:125px; _height:135px;}
.cpzsl2 .t{ width:440px; height:18px; font-size:14px; padding-left:20px; margin-top:13px; background:#feda80}
.cpzsl2 table{ width:460px; margin-top:5px;}
.cpzsl2 table tr{ text-align:center}
.cpzsl2 table tr td{ border:1px #c1c0c0 solid;}
.cpzsl2 table tr a td{ border:1px #c1c0c0 solid;}
.cpzsl2 table tr a:hover td{ border:1px #06C solid}

.cpzslr{ float:left; width:183px; height:162px; border:1 #c1c0c0 solid; margin-left:10px; height:50px; margin-top:50px;}
.cpzslr img{ width:183px; height:162px;}

.more2{ width:173px; height:17px; margin-left:10px; margin-top:40px; _margin-top:27px;}
.more2 img{ float:right; margin-right:0px; width:47px; height:17px;}

.gczs{ width:655px; margin-left:15px; margin-top:20px;}
.gczs .t{ height:22px; padding-top:8px; font-size:16px; font-weight:bold; background:#feb401;}
.gczs .t img{ margin-left:5px; margin-right:5px;}
.gczs .n{ width:655px; height:130px; margin-top:10px; }

/*图片跑动*/
#demc{ height:132px;overflow:hidden;width:655px; text-align:center; margin-top:10px; _margin-top:5px; *margin-top:5px;}
#indemc{float: left;width:800%;}
#demc1,#demc2{float: left;}
#demc img{ border:1px #CCC solid}

.foot{ float:left; padding-top:30px; width:1003px; height:70px; background:url(../img/foot.png)}


/*子页面*/
.nrl1{ float:left; width:318px; min-height:584px; background:url(../img/nrl.png)}

.xgzs{ float:left; width:318px; margin-top:50px;}
.xgzs .t{ height:45px; background:url(../img/xgzs.jpg)}
.xgzs .n{ height:190px;}
.xgzs .n ul{ float:left; margin-left:90px; _margin-left:45px;}
.xgzs .n ul li{ float:left; width:155px; height:16px; margin-top:15px; background:url(../img/xb.png)}
.xgzs .n ul li a{ font-size:12px;}
.xgzs .n ul li img{ float:left; margin-right:10px;}
.more{ width:318px; height:17px; margin-top:20px;}
.more img{ float:right; margin-right:30px;}

.nrr1{ float:left; width:685px; min-height:584px; background:#FFF}
.new{ float:left; width:655px; margin-top:20px; margin-left:15px; _margin-left:8px;}
.newt{ float:left; width:655px; height:24px; font-size:16px; padding-top:7px; background:#feb401}
.newt img{ float:left; margin-left:10px; margin-right:10px;}
.newn{ float:left; width:653px; height:499px; margin-top:5px; border:1px solid #feb401}

.newn { width:655px; }
.newn table{ width:625px; border:0px; margin-left:15px; margin-top:10px; margin-bottom:10px;}
.newn table tr{ height:30px; font-size:12px;}
.newn table tr td img{ float:left; margin-right:10px; margin-top:1px}
.newn table tr td a:hover{}

.cpzsz{ float:left; width:655px; min-height:454px; margin-top:20px; margin-left:15px; _margin-left:8px;}
.cpzszt{ float:left; width:655px; height:24px; font-size:16px; padding-top:7px; background:#feb401}
.cpzszt img{ float:left; margin-left:10px; margin-right:10px;}
.cpzszn{ float:left; width:653px; height:499px; margin-top:5px; border:1px solid #feb401}
.cpzszn table{ float:left; width:153px; margin-top:5px; border:0px; margin-left:8px; _margin-left:6px;}
.cpzszn table tr td{ font-size:14px; text-align:center;}
.cpzszn table tr td img{  margin-bottom:5px; margin-left:1px; width:130px; height:120;}

.shown{ float:left; width:633px; min-height:479px; margin-top:5px; padding:10px; border:1px solid #feb401}
.showt{ float:left; width:623px; text-align:center; font-size:16px; padding:5px; font-weight:bold; border-bottom: 1px dashed #000}
.shownr{ float:left; padding-top:10px;}

.showp{ float:left; width:633px; min-height:479px; margin-top:5px; padding:10px; border:1px solid #feb401}
.showpt{ float:left; width:623px; text-align:center; font-size:16px; padding:5px; font-weight:bold; border-bottom: 1px dashed #000}
.showpr{ float:left; padding-top:10px;}

.indexflash{width:1200px;height:800px;overflow:hidden;margin:auto auto;border:1px solid #999;position:relative;}















