@charset "utf-8";
/* CSS Document */
#nav{
position:absolute;
top:100px;
left:20%;
}



#nav *{
margin:0;
padding:0;
}
#nav ul{
list-style:none;
}
#nav li{
float:left;
width:101px;
height:31px;
display:inline;
text-align:center;
margin-left:-10px;
}
#nav li a{
position:relative;
float:left;
width:101px;
text-decoration:none;
color:black;
display:block;
height:100%;
font-size:20px;
line-height:30px;
background:url(../images/blue.png) center center no-repeat;
}
#nav li a:hover{
position:relative;
background:url(../images/yellow.png) no-repeat;
z-index:6;
color:#FF0000;
height:100%;
}
