/*--适配不同分辨率--*/


///min 641px
@media (min-width: 641px){
	//随记
	.mind-show-wrap{
		.mind-show{
				*{
					font-size:1.8rem !important;
					line-height:1.8rem;
				} 
				>p,
				p{
						font-size:1.8rem;
						line-height:2.8rem;
						>a,
						a{
							font-size:1.8rem;
							line-height:2.8rem;
						}
				}
				>a{
						font-size:1.8rem;
						line-height:2.8rem;
				}
				//九宫格实现
				.imgwrap{
					.calc-base(width,"100vw - 66px");
					.calc-base(height,"100vw - 66px");
				}
		}
	}


}

///max 640px
@media (max-width: 640px){
	//随记
	.mind-show-wrap{
		.mind-show{
				*{
					font-size:1.6rem !important;
					line-height:2.6rem;
				} 
				>p,
				p{
						font-size:1.6rem;
						line-height:2.6rem;
						>a,
						a{
							font-size:1.6rem;
						}
				}
				>a{
						font-size:1.6rem;
						line-height:2.6rem;
				}
				//九宫格实现
				.imgwrap{
					.calc-base(width,"100vw - 48px");
					.calc-base(height,"100vw - 48px");
				}
		}
	}

	
}


///max 320px
@media (max-width: 320px){
	//随记
	.mind-show-wrap{
		.mind-show{
				//九宫格实现
				.imgwrap{
					.calc-base(width,"100vw - 20px");
					.calc-base(height,"100vw - 20px");
					>img{
						padding:1px;
					}
				}
		}
	}

	
	
}


///max 280px
@media (max-width: 280px){
	//随记
	.mind-show-wrap{
		.mind-show{
				//九宫格实现
				.imgwrap{
					.calc-base(width,"100vw - 12px");
					.calc-base(height,"100vw - 12px");
				}
		}
	}


	
}