///随记
///作者：易品

html{
	font-size:@font-size-base - 4;
}

body{
	background:@color-gray15;
	font-size:1.6rem;
}

//随记
.mind-show-wrap{
	.layout-base;
	>span{
		display:inline-block;
		width:100%;
		font-size:1.2rem;
		color:@color-gray9;
		padding:5px 0;
	}
	.mind-show{
			.layout-base;
			margin:10px 0 0 0;
			text-align:center;
			*{
				background:none !important;
				font-size:1.4rem !important;
				line-height:2.4rem;
				text-align:left;
				.text-ww;
				max-width:100% !important;
				text-indent:0;
			} 
			img{
				max-width:100% !important;
				margin:10px 0;
				text-indent:0 !important;
			}
			>p,
			p{
					font-size:1.4rem;
					line-height:2.4rem;
					.text-ww;
					text-align:left;
					padding:5px 0;
					color:@color-gray3;
					>a,
					a{
						display:inline-block;
						font-size:1.4rem;
						text-align:left;
						text-decoration:underline;
						padding:0 10px;
						color:darken(@color-yellow1,5%);
					}
					img{
						max-width:100% !important;
						margin:10px 0;
					}
				}
			>a{
					display:inline-block;
					width:100%;
					font-size:1.4rem;
					line-height:2.4rem;
					padding:5px 0;
					text-align:center;
					text-decoration:underline;
					img{
						max-width:100%;
						margin:10px 0;
					}
			}
			//九宫格实现
			.imgwrap{
				.calc-base(width,"100vw - 32px");
				.calc-base(height,"100vw - 32px");
				>img{
					float:left;
					.box-sizing-base;
					width:33.33333%;
					height:33.33333%;
					margin:0;
					display:block;
					padding:2px;
				}
				overflow:hidden;
				&:after{
					content:'';
					clear:both;
					display:block;
					width:100%;
				}
			}
	}
}















