///随记分享
///作者：易品

html{
	font-size:@font-size-base - 4;
}

body{
	.layout-base;
	background:@color-gray15;
	font-size:1.6rem;
	padding:10px 0 60px 0;
}



//随记详情
.share-show-wrap{
	padding:0 16px;
	.layout-base;
	>span{
		display:inline-block;
		width:100%;
		font-size:1.2rem;
		color:@color-gray9;
		padding:5px 0;
	}
	.share-show{
			.layout-base;
			margin:10px 0 0 0;
			text-align:center;
			*{
				background:none !important;
				font-size:1.4rem !important;
				line-height:2.4rem;
				text-align:left;
				.text-ww;
				max-width:100% !important;
				text-indent:0;
			} 
			img{
				max-width:100% !important;
				margin:10px 0;
				text-indent:0 !important;
			}
			>p,
			p{
					font-size:1.4rem;
					line-height:2.4rem;
					.text-ww;
					text-align:left;
					padding:5px 0;
					color:@color-gray3;
					>a,
					a{
						display:inline-block;
						font-size:1.4rem;
						text-align:left;
						text-decoration:underline;
						padding:0 10px;
						color:darken(@color-yellow1,5%);
					}
					img{
						max-width:100% !important;
						margin:10px 0;
					}
				}
			>a{
					display:inline-block;
					width:100%;
					font-size:1.4rem;
					line-height:2.4rem;
					padding:5px 0;
					text-align:center;
					text-decoration:underline;
					img{
						max-width:100%;
						margin:10px 0;
					}
			}
			//九宫格实现
			.imgwrap{
				.calc-base(width,"100vw - 32px");
				.calc-base(height,"100vw - 32px");
				>img{
					float:left;
					.box-sizing-base;
					width:33.33333%;
					height:33.33333%;
					margin:0;
					display:block;
					padding:2px;
				}
				overflow:hidden;
				&:after{
					content:'';
					clear:both;
					display:block;
					width:100%;
				}
			}
	}
}


//相关阅读
.share-links-wrap{
	.layout-base;
	margin:40px 0 20px 0;
	padding:0 16px;
	font-size:0;
	div{
		.layout-base;
		border:1px solid @color-gray12;
		background:@color-white;
		padding:10px 16px 0 16px;
	}
	h3,a{
		.layout-base;
		.text-of;
		text-overflow:ellipsis;
	}
	h3{
		height:30px;
		font-size:1.4rem;
		color:@color-gray9;
		line-height:30px;
	}
	a{ 
		.layout-relative-base;
		height:40px;
		border-bottom:1px solid @color-gray14;
		font-size:1.4rem;
		color:@color-gray3;
		display:inline-block;
		line-height:40px;
		padding:0 0 0 16px;
		&:before{
			.layout-absolutel-base(7px,19px);
			content:'.';
			display:block;
			overflow:hidden;
			vertical-align:middle;
			width:3px;
			height:3px;
			.border-radius-base(1px);
			background:@color-gray3;
		}
		&:last-of-type{
			border-bottom:none;
		}
		&:hover{
			color:@color-yellow1;
		}
	}
}


//评论
.share-comment-wrap{
	.layout-base;
	margin:20px 0;
	>h3{
		background:@color-gray16;
		height:40px;
		line-height:40px;
		padding:0 16px;
		font-size:1.6rem;
	}
	dl{
		.layout-base;
		background:@color-gray15;
		padding:0 0 0 16px;
		dd{
			.layout-base;
			.layout-relative-base;
			margin:2px 0 0 0;
			padding:20px 0 10px 50px;
			border-bottom:1px solid @color-gray12;
			.box-shadow-base(0 1px 0 @color-white);
			h4,
			p{
				.layout-base;
				font-size:1.4rem;
				line-height:20px;
				text-align:left;
				height:20px;
			}
			div{
				.layout-absolutel-base(0,20px);
				width:40px;
				height:40px;
				overflow:hidden;
				.border-radius-base(50%);
				img{
					display:block;
					float:left;
					width:100%;
					height:100%;
				}
			}
			h4{
				color:@color-gray3;
				padding:0 40% 0 0;
				.text-of;
				text-overflow:ellipsis;
			}
			p{
				color:@color-gray9;		
			}
			i{
				.layout-absoluter-base(16px,20px);
				display:inline-block;
				height:16px;
				color:@color-gray9;
				font-size:1.2rem;
				line-height:16px;
				vertical-align:middle;
				&:before{
					content:'\e729';
					font-family:'ux_one';
					padding:0 3px 0 0;
				}
			}
			span{
				.layout-base;
				font-size:1.4rem;
				line-height:2.4rem;
				.text-ww;
				color:@color-gray6;
				em{
					color:@color-blue1;
					padding:0 5px 0 2px;
				}
			}
		}
		
	}
}



//二维码
.share-code-wrap{
	.layout-fixedlb-base;
	.layout-base;
	height:60px;
	padding:15px 16px;
	background:@color-white url(../images/share_logo.png) no-repeat 20px center;
	background-size:auto 30px;
	.user-select-base;
	text-align:right;
	>a{
			.layout-base(100px);
			height:30px;
			border:1px solid @color-green1;
			display:inline-block;
			vertical-align:middle;
			line-height:30px;
			.border-radius-base(15px);
			font-size:1.4rem;
			text-align:center;
			color:@color-green1;
			font-weight:bold;
			background:@color-white;
			overflow:hidden;
			&:hover{
				border:1px solid @color-yellow1;
				color:@color-yellow1;
			}
	}
}












