///grid 表单及其相关组件
.grid-form{
	.layout-float-base;
}
.form-inline-fleft{
	display:inline-block;
	float:left;
}
.form-inline-fright{
	display:inline-block;
	float:right;
}
.form-block-fleft{
	display:block;
	float:left;
}
.form-block-fright{
	display:block;
	float:right;
}
////表单必填项label
.form-require-icon{
	&:before{
		content:'\2217';
		display:inline-block;
		vertical-align:top;
		padding:0 3px 0 0;
		color:@color-red2;
		font-size:@font-size-base;
	}
}
////表单保存按钮
.form-btnsave-icon{
	white-space:nowrap;
	&:before{
		content:'\e633';
		font-family:'ux_five';
		display:inline-block;
		vertical-align:top;
		padding:0 5px 0 3px;
		font-size:@font-size-base;
		color:@color-cyan1;
	}
}
////表单下一步按钮
.form-btnnext-icon{
	white-space:nowrap;
	&:before{
		content:'\e701';
		font-family:'ux_one';
		display:inline-block;
		vertical-align:top;
		padding:0 5px 0 3px;
		font-size:@font-size-base;
		color:@color-cyan1;
	}
}
////表单取消按钮(返回)
.form-btncance-icon{
	white-space:nowrap;
	&:before{
		content:'\e676';
		font-family:'ux_six';
		display:inline-block;
		vertical-align:top;
		padding:0 5px 0 3px;
		font-size:@font-size-small;
		color:@color-red2;
		.transform-base(rotate(180deg));
	}
}
////表单激活按钮
.form-btnactive-icon{
	white-space:nowrap;
	&:before{
		content:'\e6c9';
		font-family:'ux_one';
		display:inline-block;
		vertical-align:top;
		padding:0 5px 0 3px;
		font-size:@font-size-small;
		color:@color-cyan1;
	}
}

////表单编辑按钮
.form-btnedit-icon{
	white-space:nowrap;
	&:before{
		content:'\e659';
		font-family:'ux_two';
		display:inline-block;
		vertical-align:top;
		padding:0 5px 0 3px;
		font-size:@font-size-small;
		color:@color-cyan1;
	}
}

///设定分组表单间距
.form-control-minigap{
	margin-bottom:5px !important;
}
.form-control-largegap{
	margin-bottom:30px !important;
}
////设置分组表单普通文本
.form-control-text,
.form-control-gaptext{
	float:left;
  padding-top:5px;
  text-align:left;
	display:block;
  margin-bottom:5px;
}
.form-control-gaptext{
	margin-left:8px;
	font-size:@font-size-small;
}
////横线
.form-dividerb{
		border-bottom:1px dashed @color-gray7 !important;
}
.form-dividert{
		border-top:1px dashed @color-gray7 !important;
}
