///*--顶部菜单--*/
.headerwrap{
	height:90px;
	width:100%;
	background:@color-white url(../images/dzswglxt.png) no-repeat 30px 46px;
	.box-shadow-base(0 28px 0 0 @color-gray10 inset);
	>div{
		max-width:1200px;
		.box-sizing-base;
		margin:0 auto;
		height:30px;
		padding:5px 0 0 0;
		text-align:right;
		ul{
			display:inline-block;
			margin:0;
			padding:0;
			li{
				float:left;
				line-height:12px;
				padding:0 10px 0 10px;
				font-size:@font-size-small;
				border-left:1px solid @color-gray8;
				color:@color-gray3;
				&:first-child{
					border-left:none;
				}
				p{
					display:inline-block;
					margin:0;
				}
				em,i{
					font-style:normal;
					padding:0 3px;
				}
				i{
					color:@color-gray5;
				}
				span{
					.text-unselect;
					color:@color-gray5;
					padding:0 0 0 3px;
					a{
						padding:0 2px;
					}
				}
			}
		}
	}
}