///组件--按钮组件
///作者：易品



///*--按钮--*/
.btn1,
.btn2,
.btn3,
.btn5,
.btn4{
	height:24px;
	line-height:24px;
	padding:0 10px;
	.border-radius-base(3px);
	text-align:center;
	color:@color-white;
	display:inline-block;
	margin-right:8px;
	white-space:nowrap;
}

.btn1{
	background:@color-red1;
}

.btn2{
	background:@color-green2;
}

.btn3{
	background:@color-orange1;
}

.btn4{
	background:@color-gray5;
}

.btn5{
	background:@color-gray8;
	white-space:nowrap;
}

.mar_ipt{
	margin:0 4px;
}