///组件--右侧数据展现查询容器组件
///作者：易品



///*--右侧数据容器--*/
.right_nav{
	font-size:@font-size-base + 1;
	padding-bottom:8px;
}

.inquire{
	background:@color-gray8;
	/*border:1px solid @color-gray7;*/
	padding:12px 20px 12px;
	.border-radius-base(3px 3px 0px 0px);
	overflow:hidden;
	li{
		float:left;
		margin:7px 10px;
		white-space:nowrap;
	}
	.line_h{
		padding:0 6px;
	}
}

.mar1{
	padding:20px 0 0 110px;
	a{
		margin-right:16px;
	}
}

.bg_fff{
	border:1px solid @color-gray7;
	background:@color-white;
	.border-radius-base(3px);
}

.list_li{
	padding:12px 0;
	overflow:hidden;
	label{
		color:@color-gray12;
	}
}

.list_li li,
.list_li2 li{
	float:left;
	width:30%;
	margin:5px 0 5px 3%;
}

.add_err li{
	height:42px;
	margin:2px 0 0 3%;
	&.height_auto{
		height:auto;
	}
}


.tit_yi{
	background:@color-gray11;
	border-bottom:1px solid @color-gray7;
	padding-left:20px;
	.border-radius-base(3px 3px 0 0);
	font-size:@font-size-base + 4;
	height:44px;
	line-height:44px;
}

.list_li2{
	padding:12px 0 60px;
	overflow:hidden;
	label{
		color:@color-gray12;
		line-height:24px;
	}
	.label_wid{
		width:72px;
		display:inline-block;
	}
	em{
		padding-left:6px;
	}
	.in_file{
		margin-left:6px;
	}
}


.list_1{
	li{
		width:97%;
		margin:5px 0 5px 3%;
		overflow:hidden;
	}
	label{
		color:@color-gray12;
		float:left;
	}
	p{
		float:left;
		width:60%;
	}
}


.list_li3{
	padding:30px 0 60px 40px;
	.tit{
		width:64px;
		color:@color-gray12;
		display:inline-block;
	}
	li{
		margin-bottom:8px;
	}
	.area{
		padding-top:20px;
	}
	h4{
		line-height:28px;
	}
}

.list_li4{
	padding:30px 0 60px;
	overflow:hidden;
	li{
		padding:5px 0;
	}
	label{
		color:@color-gray3;
		line-height:24px;
		width:160px;
		text-align:right;
		display:inline-block;
		 em{
			color:@color-red1;
			padding-right:4px;
		}
	}
	.input{
		width:180px;
	}
}

.cptence_list{
	border:1px solid @color-gray7;
	.border-radius-base(3px);
	padding:20px 0 30px 20px;
	min-height:140px;
	width:200px;
	background:@color-gray11;
	ul{
		padding-left:24px;
	}
	h5,li{
		margin-bottom:4px;
	}
}


.cptence_btn{
	margin:220px 60px 0;
}

.progress_list{
	dl{
		width:46%;
		margin:16px 0 6px;
		float:left;
		&.line{
			border-left:1px dotted @color-gray9;
			padding-left:50px;
		}
	}
	dt{
		float:left;
		width:234px;
	}
	dd{
		float:left;
		padding-left:20px;
		width:360px;
	}
}


.progess_btn{
	border-top:1px solid @color-gray7;
	margin:10px 40px 40px;
	text-align:center;
	padding-top:40px;
}