///组件--头部组件
///作者：易品


///*--顶部--*/
.header{
	.layout-fixedl-base(0,0,100);
	width:100%;
	height:80px;
	background:darken(@color-gray4,3%) url(../images/bg_head.png) repeat-x;
	color:@color-gray2;
	font-size:@font-size-base;
	border-bottom:1px solid @color-gray2;
	p{
		margin:30px 40px 0 0;
	}
	a{
		color:@color-white;
		margin-left:8px;
		&.username{
			color:@color-orange2;
		}
		&:hover{
			text-decoration:underline;
		}
	}
}

.logo{
	margin:20px 0 0 20px;
}

.pwd_reset{
	display:inline-block;
	height:24px;
	line-height:24px;
	background:@color-green4;
	padding:0 6px;
	.border-radius-base(3px);
}

.exit_system{
	display:inline-block;
	height:24px;
	line-height:24px;
	background:@color-orange2;
	padding:0 6px;
	border-radius:3px;
}

.main{
	padding-top:80px;
}

.main_l{
	width:210px;
	height:80%;
}

.main_r{
	padding:20px 20px 40px;
	font-size:@font-size-base - 2;
}

.main_r_two{
	margin-left:20px;
	background:@color-gray11;
	padding:20px 20px 40px;
	font-size:@font-size-base - 2;
}