///组件--右侧数据展现表格组件
///作者：易品



///*--右侧表格容器--*/
.mainTable{
	width:99%;
	.upload{
		margin-left:31px;
		width:100px;
		color:@color-white;
		text-align:center;
		background:@color-green1;
		margin-left:100px;
	}
	.btn_an{
		width:100px;
		height:30px;
		background:@color-green1;
		border:none;
		color:@color-white;
		text-align:center;
		margin:10px 10px 0px 47px
	}
	.btn_qx{
		width:100px;
		height:30px;
		border:none;
		color:@color-white;
		text-align:center;
		background:@color-red5;
	}
	.btn_pt{
		width:50px;
		height:30px;
		background:@color-green1;
		border:none;
		color:@color-white;
		text-align:center;
		margin:10px 10px 0px 47px;
	}
	tr{
		height:35px;
	}
	td{
		vertical-align:middle;
	}
	select{
		width:250px;
		border:1px solid @color-gray8;
		margin:5px 0;
	}
	textarea{
		width:250px;
		border:1px solid @color-gray8;
		margin:5px 0;
	}
	input{
		width:250px;
		border:1px solid @color-gray8;
		padding:5px 0;
	}
	input[type='button']{
		cursor:pointer
	}
}

table.tainte a.Uploadbot{
	display:block;
	background:@color-white;
	width:400px;
	height:80px;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	line-height:80px;
	margin-top:20px;
	&:hover{
		text-decoration:none;
		color:@color-green4;
	}
}

.uploadDiv{
	background:url('../images/sel_img_load.png') no-repeat;
	margin-left:31px;
	float:left;
	width:177px;
	height:32px;
	position:relative;
	display:block;
	font-size:30px;
	font-weight:bold;
	text-align:center;
}