///组件--登录组件
///作者：易品



///*--登录--*/
.big_img{
	.layout-relative-base;
	background:url("../images/ht_img.png") no-repeat center center;
	height:1000px;
	width:auto;
	min-width:1000px;
}

.login_bg{
	.layout-absolutel-base(50%,50%);
	background:url("../images/login_bg.png") no-repeat;
	width:419px;
	height:344px;
	margin-top:-167px;
	margin-left:-209px;
}

.bg_bs{
	background:@color-white;
	.border-radius-base(4px);
	width:400px;
	height:328px;
	margin:8px 9px;
}

.login_ht{
	background:url("../images/hx_login.png") no-repeat center center;
	height:78px;
	border-bottom:1px solid @color-gray10;
	background-color:@color-gray11;
}

.logintxt1{
	background:url("../images/lgbg1.png") no-repeat scroll 5px 15px;
}

.logintxt2{
	background:url("../images/lgbg2.png") no-repeat scroll 8px 15px;
}

input.it{
	border:1px solid @color-gray16;
	color:@color-gray15;
	height:44px;
	line-height:44px;
	padding-left:30px;
	width:304px;
}

.bg_bs ul{
	padding:0px 32px;
	li{
		margin-top:24px;
	}
}

.login_btn{
	width:335px;
	height:45px;
	background:@color-red4;
	line-height:45px;
	border:none;
	color:@color-white;
	.border-radius-base(4px);
	font-size:@font-size-base + 6;
}


///*未知模块*/
.add_movie{
	border:1px solid @color-green5;
	position:relative;
	.ui_title{
		height:35px;
		padding:7px 0 0 7px !important;
		background:#37485a;
		border-bottom:1px solid @color-green5;
		color:#fff;
		font-size:16px;
	}
}

.main_ct{
	margin:0 5px;
	td{
		padding:5px 0;
		float:left;
		font-size:@font-size-base;
		margin:0px 5px;
		vertical-align:middle;
	}
	.upload{
		width:100px;
		color:@color-white;
		text-align:center;
		background:@color-green1;
		margin-left:100px;
	}
	.btn_an{
		width:100px;
		height:40px;
		background:@color-green1;
		border:none;
		color:@color-white;
		text-align:center;
		margin:10px;
	}
	.btn_qx{
		width:100px;
		height:40px;
		border:none;
		color:@color-white;
		text-align:center;
		background:@color-red5;
	}
	input{
		width:250px;
		padding:5px 0;
		border:1px solid @color-gray8;
	}
}

.lb{
	width:80px;
}