///组件--分页组件
///作者：易品



///*--分页--*/
.page{
	width:100%;
	padding:14px 0;
}

.total_page .line{
	padding:0 10px;
}

.num_page{
	text-align:right;
	a{
		margin-left:4px;
		width:23px;
		height:23px;
		line-height:23px;
		.border-radius-base(11px);
		background:@color-gray8;
		color:@color-white;
		display:inline-block;
		text-align:center;
		&:hover,
		&:active{
			background:@color-green1;
		}
		&.home,
		&.last{
			background:none;
			color:@color-gray2;
			width:auto;
			font-size:@font-size-base;
			&:hover{
				background:none;
				text-decoration:underline;
			}
		}
	}
	.dot{
		margin-left:4px;
	}
}