///组件--右侧数据展现表格组件
///作者：易品



///*--右侧表格容器--*/
.table_bg{
	border:1px solid @color-gray7;
	/*margin-top:20px;*/
	.border-radius-base(3px);
	table{
		.border-radius-base(3px);
	}
	td{
		border-bottom:1px solid @color-gray7;
		padding:10px 0 10px 30px;
	}
	.none_border td{
		border-bottom:none;
	}
}
.indent20{
	text-indent:20px;
}
.input_list{
	li{
		display:inline-block;
		margin-top:10px;
	}
	label{
		width:110px;
		display:inline-block;
		text-align:right;
	}
} 
.wind_control{
	li{
		float:left;
		margin:5px 20px;
	}
	span{
		padding-left:6px;
	}
} 
.textarea{
	width:620px;
	padding:0 5px;
	height:80px;
}
.table2 tbody td{
	border-bottom:1px dashed @color-gray13;
	padding:10px 0;
}
.tit_h3{
	font-size:@font-size-base + 2;
	padding:20px 20px 10px;
	border-bottom:1px solid @color-gray7;
	a{
		display:inline-block;
		background:@color-green1;
		color:@color-white;
		font-size:@font-size-base - 2;
		padding:4px 8px;
		.border-radius-base(3px);
	}
}
.modify{
	width:9px;
	height:20px;
	background:url(../images/modify.png) no-repeat;
	display:block;
}


//btn组合
.detail,
.using,
.disable,
.using2,
.disable2,
.pwd,
.interest,
.progess,
.close,
.cancel,
.view,
.viewed,
.edit,
.send,
.shelves,
.added,
.top,
.publish,
.hidden,
.restore{
	margin:0 4px;
	display:inline-block;
}


.detail{
	width:17px;
	height:12px;
	background:url(../images/detail.png) no-repeat;
}

.using{
	width:21px;
	height:15px;
	background:url(../images/using.png) no-repeat;
}

.disable{
	width:16px;
	height:16px;
	background:url(../images/disable.png) no-repeat;
}

.using2{
	width:19px;
	height:19px;
	background:url(../images/using2.png) no-repeat;
}

.disable2{
	width:19px;
	height:19px;
	background:url(../images/disable2.png) no-repeat;
}

.pwd{
	width:15px;
	height:20px;
	background:url(../images/pwd.png) no-repeat;
}

.interest{
	width:14px;
	height:16px;
	background:url(../images/interest.png) no-repeat;
}

.progess{
	width:20px;
	height:20px;
	background:url(../images/progress.png) no-repeat;
}

.close{
	width:15px;
	height:15px;
	background:url(../images/close.png) no-repeat;
}

.cancel{
	width:15px;
	height:15px;
	background:url(../images/cancel.png) no-repeat 0 3px;
}

.view{
	width:19px;
	height:19px;
	background:url(../images/view.png) no-repeat;
}

.viewed{
	width:19px;
	height:19px;
	background:url(../images/viewed.png) no-repeat;
}

.edit{
	width:17px;
	height:17px;
	background:url(../images/edit.png) no-repeat;
}

.send{
	width:18px;
	height:18px;
	background:url(../images/send.png) no-repeat;
}

.shelves{
	width:18px;
	height:18px;
	background:url(../images/shelves.png) no-repeat;
}

.added{
	width:18px;
	height:18px;
	background:url(../images/added.png) no-repeat;
}

.top{
	width:18px;
	height:18px;
	background:url(../images/top.png) no-repeat;
}

.publish{
	width:20px;
	height:17px;
	background:url(../images/publish.png) no-repeat;
}

.hidden{
	width:20px;
	height:19px;
	background:url(../images/hidden.png) no-repeat;
}

.restore{
	width:20px;
	height:19px;
	background:url(../images/restore.png) no-repeat;
}