///组件--欢迎页面
///作者：易品



///*--欢迎页面--*/
.main_login{
	margin:0 auto;
}
.rt_ct{
	margin-left:80px;
	margin-top:40px;
	width:500px;
	h3{
		font-size:@font-size-base + 22;
	}
}
.lt_img{
	background:url("../images/wecome_index_img.png") no-repeat;
	bottom:60px;
	display:block;
	height:241px;
	position:absolute;
	right:50px;
	width:220px;
}
.divieder_line{
	border-bottom:1px solid @color-gray16;
	display:block;
	margin:16px 0;
}
.txt_come{
	display:block;
	font-size:28px;
	i{
		color:@color-orange2;
		font-style:normal;
	}
}
.txt_time{
	display:block;
	font-size:@font-size-base + 10;
	color:@color-gray12;
}