<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="IE=edge;chrome=1" http-equiv="X-UA-Compatible">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<title>荣格集团</title>
<link id="cssfile2" rel="stylesheet" type="text/css" href="css/skin_1.css"/>
<script type="text/javascript" src="../../../resource/js/jquery.js"></script>
<script type="text/javascript" src="../../../resource/js/admincp.js"></script>
<script type="text/javascript" src="../../../resource/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../resource/js/common.js"></script>
<script type="text/javascript">
cookie_skin = $.cookie("MyCssSkin");
if (cookie_skin) {
	$('#cssfile2').attr("href","css/"+ cookie_skin +".css");
}
</script>
</head>
<body>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<!-- 话题管理主题信息 -->
  <div class="fixed-bar">
    <div class="item-title">
      <h3>话题管理</h3>
      <ul class="tab-base">
          <li><a href="microwebsite_topic.html" target="workspace"><span>话题列表</span></a></li>
         <li><a href="microwebsite_topic_comment.html" target="workspace"><span>单个话题评论列表</span></a></li>
         <li><a class="current" href="javascript:void(0);"><span>单个评论回复列表</span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <!-- 话题管理查询 -->
  <form name="formSearch" action="#" method="get">
    <input type="hidden" value="" name="act">
    <input type="hidden" value="" name="op">
    <table class="tb-type1 noborder search">
      <tbody>
        <tr>
          <th><label>微网站名称</label>
          </th>
          <td>
          <select>
          	<option value="">微网站名称1</option>
            <option value="">微网站名称2</option>
            <option value="">微网站名称3</option>
            <option value="">微网站名称4</option>
            <option value="">微网站名称5</option>
            <option value="">微网站名称6</option>
          </select>
          </td>
          <th><label>会员名称</label>
          </th>
          <td>
          <select>
          	<option value="">钻石级会员</option>
            <option value="">白金级会员</option>
            <option value="">黄金级会员</option>
            <option value="">蓝宝石级会员</option>
            <option value="">红宝石级会员</option>
            <option value="">VIP级会员</option>
            <option value="">普通会员</option>
          </select>
          </td>
          <th><label>状态类型</label>
          </th>
          <td>
          <select>
          	<option value="">激活</option>
            <option value="">禁止</option>
            <option value="">其他</option>
          </select>
          </td>
          <th><label>时间</label>
          </th>
          <td>
          <input class="txt" type="text" value="" name="search_datetime">
          </td>
          <th><label>搜索关键词</label>
          </th>
          <td><input class="txt" type="text" value="" name="search_keyword">
          </td>
          <td><a class="btn-search " title="查询" href="javascript:document.formSearch.submit();"> </a></td>
        </tr>
      </tbody>
    </table>
  </form>
  <!-- 话题管理操作说明 -->
  <table class="table tb-type2" id="prompt">
    <tbody>
      <tr class="space odd">
        <th class="space odd"> <div class="title">
            <h5>话题管理操作说明</h5>
            <span class="arrow"></span> </div>
        </th>
      </tr>
      <tr>
        <td>
        	<ul>
            <li>1.话题管理操作说明</li>
            <li>2.话题管理操作说明</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <!--话题管理显示列表-->
  <form id="store_form" method="post">
    <input type="hidden" value="ok" name="form_submit">
    <table class="table tb-type2">
      <thead>
        <tr class="thead">
          <th> <input class="checkall" type="checkbox"></th>
          <th>编号</th>
          <th class="align-center">回复信息</th>
          <th class="align-center">回复人</th>
          <th class="align-center">状态</th>
          <th class="align-center">回复时间</th>
          <th class="align-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover">
          <td class="w24"><input class="checkitem" type="checkbox" value="372" name="del_id[]"></td>
          <td class="w24">1</td>
          <td class="align-left nowrap w300">是否对你承诺了太多,还是我原本给的就不够</td>
          <td class="align-center nowrap w100">张信哲</td>
          <td class="align-center w60 yes-onoff"><a class="enabled" title="可编辑" fieldvalue="1" fieldid="1" fieldname="is_use" nc_type="inline_edit" ajax_branch="is_use" href="JavaScript:void(0);"> <img src="http://dianshangkaifa.szrgsh.com/admin/templates/default/images/transparent.gif"> </a></td>
          <td class="align-center w200">2013-05-27 09:34:43</td>
          <td class="align-center w60"><a href="#">禁止</a></td>
        </tr>
        <tr class="hover">
          <td class="w24"><input class="checkitem" type="checkbox" value="372" name="del_id[]"></td>
          <td class="w24">2</td>
          <td class="align-left nowrap w200">讨厌自己、为何还要这样的牵挂</td>
          <td class="align-center nowrap w100">张信哲</td>
          <td class="align-center w60 yes-onoff"><a class="disabled" title="关闭" fieldvalue="0" fieldid="2" fieldname="is_use" nc_type="inline_edit" ajax_branch="is_use" href="JavaScript:void(0);"> <img src="http://dianshangkaifa.szrgsh.com/admin/templates/default/images/transparent.gif"> </a></td>
          <td class="align-center w200">2014-08-22 11:43:13</td>
          <td class="align-center w60"><a href="#">激活</a></td>
        </tr>
        <tr class="hover">
          <td class="w24"><input class="checkitem" type="checkbox" value="372" name="del_id[]"></td>
          <td class="w24">3</td>
          <td class="align-left nowrap w200">如果爱情会老,会不会有爱的勇气,窗外还下着雨,滴落着对你的思绪
</td>
          <td class="align-center nowrap w100">张雨生</td>
          <td class="align-center w60 yes-onoff"><a class="disabled" title="关闭" fieldvalue="0" fieldid="3" fieldname="is_use" nc_type="inline_edit" ajax_branch="is_use" href="JavaScript:void(0);"> <img src="http://dianshangkaifa.szrgsh.com/admin/templates/default/images/transparent.gif"> </a></td>
          <td class="align-center w200">2012-11-23 04:23:15</td>
          <td class="align-center w60"><a href="#">激活</a></td>
        </tr>
        <tr class="hover">
          <td class="w24"><input class="checkitem" type="checkbox" value="372" name="del_id[]"></td>
          <td class="w24">4</td>
          <td class="align-left nowrap w200">我最深爱的人伤我却是最深,进退我无权选择,紧紧关上心门留下片刻温存,只怕还有来生我爱的依然最真
</td>
          <td class="align-center nowrap w100">张雨生/张惠妹</td>
          <td class="align-center w60 yes-onoff"><a class="enabled" title="可编辑" fieldvalue="1" fieldid="4" fieldname="is_use" nc_type="inline_edit" ajax_branch="is_use" href="JavaScript:void(0);"> <img src="http://dianshangkaifa.szrgsh.com/admin/templates/default/images/transparent.gif"> </a></td>
          <td class="align-center w200">2012-02-24 10:26:53</td>
          <td class="align-center w60"><a href="#">禁止</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tfoot">
          <td><input id="checkall" class="checkall" type="checkbox"></td>
          <td id="batchAction" colspan="6"><span class="all_checkbox">
            <label for="checkall">全选</label>
            </span> <a class="btn" onclick="if(confirm('您确定要禁止所选话题所有信息吗')){$('#store_form').submit();}" href="JavaScript:void(0);"> <span>批量禁止</span> </a>
            <div class="pagination">
              <ul>
                <li><span>首页</span></li>
                <li><span>上一页</span></li>
                <li><span class="currentpage">1</span></li>
                <li><span>下一页</span></li>
                <li><span>末页</span></li>
              </ul>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
</body>
<script>
$('a[nc_type="inline_edit"]').click(function() {
	var $this=$(this),
			i_id = $this.attr('fieldid'),
			i_name = $this.attr('fieldname'),
			i_src = $this.attr('src'),
			i_val = ($this.attr('fieldvalue')) == 0 ? 1 : 0,
			ajax_branch = $this.attr('ajax_branch');
			
			//静态页面测试状态
			//开发状态时请关闭或删除此部分
			if(i_val==0){
				$('a[fieldid="' + i_id + '"][fieldname="' + i_name + '"]').attr({
					'class': ('enabled', 'disabled'),
					'title': ('开启', '关闭'),
					'fieldvalue': i_val
				});
			}else{
				$('a[fieldid="' + i_id + '"][fieldname="' + i_name + '"]').attr({
					'class': ('disabled', 'enabled'),
					'title': ('关闭', '开启'),
					'fieldvalue': i_val
				});
			}
			
	
	/*
	//
	// to do
	//
	// 开发状态时请开启下面部分
			
	$.get('index.php?act=' + act + '&op=ajax', {
		branch: ajax_branch,
		id: i_id,
		column: i_name,
		value: i_val
	}, function(data) {
		if (data == 'true') {
			if (i_val == 0) {
				$('a[fieldid="' + i_id + '"][fieldname="' + i_name + '"]').attr({
					'class': ('enabled', 'disabled'),
					'title': ('开启', '关闭'),
					'fieldvalue': i_val
				});
			} else {
				$('a[fieldid="' + i_id + '"][fieldname="' + i_name + '"]').attr({
					'class': ('disabled', 'enabled'),
					'title': ('关闭', '开启'),
					'fieldvalue': i_val
				});
			}
		} else {
			alert('响应失败');
		}
	});*/
});
</script>
</html>