body{ background:url(images/bg.jpg) no-repeat center top; padding:0; margin:0 auto; color:#666; font-size:12px;}
table{ margin:0 auto;}

div{ margin:0 auto;}
form{ padding:0; margin:0;}
div{ margin:0 auto;}
input{ padding:0; margin:0;}
.mon{ width:780px; height:488px; margin:0 auto; background:url(images/dik_04.png) no-repeat left top; margin-top:140px;}





*{
margin:0;
padding:0;
}
#news_box {	margin-left: 39px;
width:505px;
height:300px;
border:#FF0000 0px solid; margin:0 auto; padding:15px 0 0 80px;
}
#news_box ul {
height: 25px;
background:url(bg-tag.jpg)  0 2px repeat-x;
}
#news_box li {
list-style-type: none;
float:left; line-height:29px; margin-left:8px; font-size:12px; letter-spacing:1px;
}
#news_box li a {
text-align: center;
display: block;
width: 120px;
color: #3d8503;
cursor: pointer;
height:29px;
background:url(images/hd_03.png) no-repeat;
}
#news_box li a.on {
background:#F1FBFE;
_position:relative;
_bottom:-1px;
height:29px;
_height:28px;
background:url(images/hd_05.png) no-repeat; font-weight:bold;
}
#news_box div {
display: none;
padding: 20px
}
#news_box .thisclass {
display: block
}








.bw{ background:url(images/ik_02.jpg) repeat-x left top;}
.top{ width:1000px; height:109px; margin:0 auto;}
.tes{ color:#FFFFFF;}

.sdf{ width:1000px; margin:0 auto; height:34px;}
.sdf ul{ width:560px; float:right; padding:0; margin:0; margin-top:10px; display:block;}
.sdf ul li { float:left; width:170px; list-style-type:none;}
.sdf ul li a{ width:159px; height:34px; display:block; line-height:34px; float:left; background:url(images/fg_03.png) no-repeat; text-decoration:none; color:#FFFFFF; font-size:16px; text-indent:50px; font-family:"ºÚÌå";}
.sdf ul li a:hover{ background:url(images/uy_03.png) no-repeat; color:#333;}

.hdvf{ border:#cecece 1px solid; border-bottom:none; line-height:35px;}
.hdvf td{ border-bottom:#cecece 1px solid;}

.footer{ line-height:30px; border-top:#17a1c2 1px solid; margin-top:30px;}



.gdn{ width:1000px; margin:0 auto; height:34px; margin-top:3px;}
.gdn ul{ width:1000px; float:right; padding:0; margin:0; margin-top:10px; display:block;}
.gdn ul li { float:left; width:159px; list-style-type:none; margin-left:63px;}
.gdn ul li a{ width:159px; height:34px; display:block; line-height:34px; float:left; background:url(images/fg_03.png) no-repeat; text-decoration:none; color:#FFFFFF; font-size:16px; text-indent:35px; font-family:"ºÚÌå";}
.gdn ul li a:hover{ background:url(images/uy_03.png) no-repeat; color:#333;}

.asd{ width:210px; border-right:#d0d0d0 1px solid;}


#menu {
	width:190px;
	margin:30px auto; 
	padding:10px; 
	  }
	#menu h3 {
		font-size:12px;
	}
	#menu ul { 
		background:url("images/ul-bg.gif") repeat-y 5px 0px; overflow:hidden;
	}
	#menu ul li {
		padding:5px 0 2px 15px; 
		background:url("images/tree-ul-li.gif") no-repeat 5px -32px; text-align:left;
	}
	#menu ul li a{ color:#0066CC; text-decoration:none;}
	#menu ul li ul {display:none;}
	#menu ul li em {
		cursor:pointer;
		display:inline-block;
		width:15px;
		float:left;
		height:15px;
		margin-left:-14px;
		background:url("images/tree-ul-li.gif") no-repeat -32px 2px;
	}
	#menu ul li em.off {
		background-position: -17px -18px;
	}
	#menu ul li#end {
		background-color:#FFF;
	}
	#menu ul.off { 
		display:block;
	}
	
	
	
	
	
	
	
	
.gij{ width:144px; margin:0; padding:0; list-style-type:none;}
.gij li a,.gij li a:visited{ width:144px; height:29px; background:url(images/ioj_03.jpg) no-repeat; display:block; line-height:29px; color:#3e7700; margin:15px 0; text-decoration:none;}
.gij li a:hover{ color:#0f61d7; background:url(images/j6r_03.jpg) no-repeat;}