.btn3_mouseout {
	border-right: #99cccc 1px solid;
	padding-right: 2px;
	border-top: #99cccc 1px solid;
	padding-left: 2px;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5);
	border-left: #99cccc 1px solid;
	cursor: hand;
	color: black;
	padding-top: 1px;
	border-bottom: #99cccc 1px solid;
	height: 20px
}

.btn3_mouseover {
	border-right: #99cccc 1px solid;
	padding-right: 2px;
	border-top: #99cccc 1px solid;
	padding-left: 2px;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#0066cc);
	border-left: #99cccc 1px solid;
	cursor: hand;
	color: black;
	padding-top: 1px;
	border-bottom: #99cccc 1px solid;
	height: 20px
}

.btn3_mousedown {
	border-right: #ffe400 1px solid;
	padding-right: 2px;
	border-top: #ffe400 1px solid;
	padding-left: 2px;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#0066cc);
	border-left: #ffe400 1px solid;
	cursor: hand;
	color: black;
	padding-top: 1px;
	border-bottom: #ffe400 1px solid;
	height: 20px
}

.btn3_mouseup {
	border-right: #99cccc 1px solid;
	padding-right: 2px;
	border-top: #99cccc 1px solid;
	padding-left: 2px;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5);
	border-left: #99cccc 1px solid;
	cursor: hand;
	color: black;
	padding-top: 1px;
	border-bottom: #99cccc 1px solid;
	height: 20px
}