.box{min-width:1000px;height:auto;overflow:hidden;margin:0 auto;}
.HXl_video{width:186px;height:auto;background:#000;padding-bottom:20px; position:fixed;top:0;left:0;z-index:999;overflow: visible;min-height:930px;}
.hxl_main{padding:42px 0px 0px 0px;height:auto;position:relative;}
.HXv_logo{padding-left:20px;}
.hxv_search{padding:35px 0px 35px 20px;}
.hxv_search .sch_btn{width:146px;height:30px;background:#1a1a1a;border:0;color:#fff;font-family:tb-fp-iconfont;font-size:14px !important;color:#fff;cursor: pointer;}
.hxv_search input{width:146px;height:30px;background:#1a1a1a;border:0;color:#fff;}
@font-face{font-family:tb-fp-iconfont;src:url(http://at.alicdn.com/t/font_1415179654_6244547.eot);src:url(http://at.alicdn.com/t/font_1415179654_6244547.eot?#iefix) format("embedded-opentype"),url(http://at.alicdn.com/t/font_1415179654_6244547.woff) format("woff"),url(http://at.alicdn.com/t/font_1415179654_6244547.ttf) format("truetype"),url(http://at.alicdn.com/t/font_1415179654_6244547.svg#uxiconfont) format("svg")}
.tb-fp-iconfont {font-family:tb-fp-iconfont;font-size:14px;font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.hxv_menu ul li em,.about_us a em,.hxv_rea h2 em,.hxv_pic p em{background:url(../images/video_ico.png) no-repeat; display:inline-block;}
.hxv_menu ul li a{line-height:39px;color:#fff;font-size:17px;display:block;width:166px;padding-left:20px;}
.hxv_menu ul li a:hover{background:url(../images/hover_bj.png) no-repeat;width:186px;height:39px; text-decoration:none;}
.hxv_menu ul li .Current{background:url(../images/hover_bj.png) no-repeat;width:186px;height:39px; text-decoration:none;}
.hxv_menu ul li a .sy{background-position:0px -27px;width:17px;height:16px;margin-right:10px;}
.hxv_menu ul li a .dy{background-position:0px -49px;width:17px;height:16px;margin-right:10px;}
.hxv_menu ul li a .jz{background-position:0px -72px;width:17px;height:14px;margin-right:10px;}
.hxv_menu ul li a .dm{background-position:0px -93px;width:17px;height:18px;margin-right:10px;}
.hxv_menu ul li a .wl{background-position:0px -118px;width:18px;height:18px;margin-right:10px;}
.hxv_menu ul li a .wy{background-position:0px -142px;width:18px;height:19px;margin-right:10px;}
.hxv_menu ul li a .yj{background-position:0px -165px;width:18px;height:16px;margin-right:10px;}
.hxv_menu ul li a .hx{background-position:0px -186px;width:18px;height:15px;margin-right:10px;}
.login{padding:50px 0px 0px 20px;position:relative;}
.login a{display:block;line-height:38px;color:#fff;text-align:center;font-size:17px;width:105px;margin-top:10px;border:2px solid #000;}
.login a:hover{border:2px solid #fff; text-decoration:none;margin-top:10px;}
.login .cut{border:2px solid #fff; text-decoration:none;margin-top:10px;}
.login a.name{margin-top:0px;}
.login a.name:hover{ border:2px solid #000; text-decoration:underline;}

.about_us{font-size:17px;color:#fff;padding:80px 0px 0px 20px;}
.about_us a{color:#fff;}
.about_us a .gw{background-position:0px -206px;width:14px;height:16px;margin-right:10px;}

.HXr_video{height:auto;overflow:hidden;position: relative;margin-left:186px;}
.hxv_banner{width:1066px;margin-right:8px;*margin-right:4px;}
.datouwang{position:relative;height:576px;width:1066px; margin: 0 auto; overflow: hidden;}
.datouwang img { display: block; border: 0 none;}
.flex-viewport { z-index: 1;}
.flex-control-nav { position: absolute; right:25px; bottom:20px; z-index:4; width: 130px; text-align: right;}
.flex-control-nav li { display: inline-block; *display: inline; zoom: 1;}
.flex-control-nav a { float: left; width:14px; height:14px; line-height: 100px; overflow: hidden; cursor: pointer;background:url(../images/video_ico.png) no-repeat -40px 0px;margin-right:8px;}
.flex-control-nav .flex-active {background:url(../images/video_ico.png) no-repeat -26px 0px;}
.hxv_w1066{width:1066px;}
.hxv_tunedot{ position:absolute;width:100%;bottom:0;right:10px;}
.f-txtabb{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hxv_tu .hxv_t1{margin-bottom:8px; height:284px;position:relative;}
.hxv_ty{background:url(../images/bg_video_large.png) no-repeat left bottom;height:92px;position:absolute;bottom:0;z-index:3;left:0;}
.hxv_w6{width:629px;}
.hxv_font{ font-size:22px;color:#fff;padding-left:20px;line-height:130px;}
.hxv_f28{font-size:28px !important;line-height:100px !important;}
.hxv_tu .hxv_t2{height:284px;position:relative;}

.hxv_re{width:1670px;height:auto;overflow:hidden;margin:0px 30px;}
.hxv_rea h2{border-bottom:2px solid #e5e5e5;font-size:20px;height:35px;margin-top:40px;}
.hxv_rea h2 .hot_dj{background-position:-24px -25px;width:20px;height:20px;margin-right:10px;}
.pro_list{height:auto;overflow:hidden;width:1670px;}
.pro_list li{float:left;margin:20px 8px 0px 8px;width:540px; position:relative;}
.pro_list li a img{display:block;}
.hxv_pic{border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:18px;height:auto;overflow:hidden;}
.hxv_pic h3 {font-size:24px;padding-bottom:15px;}
.hxv_pic p .gdj_ico{background-position:-25px -122px;width:17px;height:16px;margin-right:10px;}
.hxv_pic p{padding-right:70px;font-size:15px;}
.hxv_rea h2 .hot_jz{background-position:-25px -49px;width:21px;height:17px;margin-right:10px;}
.hxv_rea h2 .hot_dm{background-position:-25px -71px;width:22px;height:20px;margin-right:10px;}
.hxv_rea h2 .hot_wyz{background-position:-25px -142px;width:19px;height:22px;margin-right:10px;}
.hxv_rea h2 .hot_wl{background-position:-26px -95px;width:20px;height:21px;margin-right:10px;}
.gra_h576{height:576px;}
.gra_h284{height:284px;}
.gra_h231{height:244px;}
.bf_ico2{background:url(../images/video_bf.png) no-repeat 0px 0px;width:114px;height:114px;display:inline-block; position:absolute;top:40%;left:45%;z-index:5;cursor:pointer;}
.gradient-bg {z-index:2;position: absolute;top: 0;left: 0;width: 100%;background:url(../images/video_bj.png) repeat;filter: Alpha(opacity=60); opacity:.6;}
.bf_ico{background:url(../images/video_bf.png) no-repeat -139px -15px;width:87px;height:87px;display:inline-block; position:absolute;top:20%;left:45%;z-index:5; cursor:pointer;}

/*hot锟斤拷影*/
.F_tbj{background:url(../images/video_film.jpg) no-repeat;height:138px;width:1734px;}
.F_logo{padding-left:46px;}
.F_Search{height:auto;padding:42px 0px 0px 300px;}
.F_Search .input{border:1px solid #d4d4d5;width:710px;height:50px;line-height:50px;background:url(../images/F_sbj.png) repeat;font-size:22px;padding-left:10px;color:#bec0c2;float:left;}
.F_Search #mq{padding-right:10px;}
.f_button{background:url(../images/video_bf.png) no-repeat 0px -130px;width:141px;height:53px; cursor:pointer; border:0; outline:none;float:left;margin-left:-5px;text-indent:100px;  }
.F_mian{padding-top:30px;*display:inline;height:auto;overflow:hidden;}
.f_ico{background:url(../images/video_bf.png) no-repeat -150px -130px;width:23px;height:23px;display:inline-block;margin-right:10px; vertical-align:middle;}
.F_mian h2 span{font-size:26px;}
.F_ul{border-bottom:4px solid #e5e5e5;height:40px;padding-top:15px;margin-bottom:24px;}
.F_ul li{float:left;padding-right:50px;}
.F_ul li a{font-size:20px;color:#000;display:block;line-height:40px;}
.F_ul li a:hover{border-bottom:4px solid #000;text-decoration:none;}
.F_ul li .cuut{border-bottom:4px solid #000;text-decoration:none;}
.F_pro li{float:left;margin:0px 6px;width:822px; position:relative;}
.F_pro li a img{display:block;}
.F_ico2{background:url(../images/video_bf.png) no-repeat -181px -130px !important;width:26px;height:24px;display:inline-block;margin-right:10px; vertical-align:middle;}
.F24{font-size:24px !important;}
.F_h371{height:371px;}
.F-bf20{margin-top:20px;}
.loading{background: url(../images/loading.gif) no-repeat center;padding: 40px 0px;}
.loading span {text-align: center;display: block;padding-left: 180px;color: #808080; font-size:18px;}
/*hot锟斤拷影 end*/


/*hot 锟界集*/
.D_tbj{background:url(../images/D_topbj.jpg) no-repeat;height:138px;width:1734px;}
.C_tbj{background:url(../images/C_topbj.jpg) no-repeat;height:138px;width:1734px;}
.E_tbj{background:url(../images/E_topbj.jpg) no-repeat;height:138px;width:1734px;}
.U_tbj{background:url(../images/U_topbj.jpg) no-repeat;height:138px;width:1734px;}
.S_tbj{background:url(../images/S_topbj.jpg) no-repeat;height:138px;width:1734px;}
/*hot 锟界集 end*/

/*锟斤拷锟铰革拷锟斤拷*/
.laup_left{float:left;width:40px;}
.laup_left a{background:url(../images/video_bf.png) no-repeat 0px -188px;display:inline-block;width:40px;height:100px;}
.laup_left a:hover{background:url(../images/video_bf.png) no-repeat 0px -288px;}
.laup_center{float:left;margin:0px 6px 0px 10px;width:1574px;}
.laup_m{border:1px solid #ccc;height:auto;overflow:hidden;}
.laup_dl {float:left;width:224px;}
.laup_dl dt{border:1px solid #ccc;background:#f5f5f5;text-align:center;font-size:20px;margin-right:-1px;padding:22px 0px;}
.laup_dl dt p{line-height:30px;font-size:14px;color:#888;}
.laup_dl dd{border:1px solid #ccc;margin-top:-1px;margin-right:-1px;text-align:center;padding:22px 0px;}
.laup_dl dd:hover{background:#333;color:#fff; cursor:pointer;}
.laup_dl .cutt{background:#333;color:#fff;}
.laup_dl dd p{line-height:30px;font-size:14px;color:#888;}
.laup_right{float:right;width:40px;}
.laup_right a{background:url(../images/video_bf.png) no-repeat -41px -188px;display:inline-block;width:40px;height:100px;}
.laup_right a:hover{background:url(../images/video_bf.png) no-repeat -41px -288px;}
/*锟斤拷锟铰革拷锟斤拷 end*/



/*锟揭碉拷锟绞伙拷*/
.sp_sjx{background:url(../images/video_bf.png) no-repeat -86px -188px;width:8px;height:12px;display:inline-block;margin-left:5px; vertical-align:middle;}
.tag-w{width:105px; height:auto;}
.tag{border:2px solid #fff;z-index:10; position:absolute;left:140px;top:100px;background:url(../images/video_bj.png) repeat center;}
.arrow{ position:absolute; width:40px; height:40px;top:28px;  }
.arrow *{ display:block; border-width:7px; position:absolute; border-style:solid solid solid solid; font-size:0; line-height:0;left:106px;}
.arrow em{border-color:transparent #fff transparent transparent;top:102px;border-width:7px;*background:url(../images/video_bf.png) no-repeat -99px -188px;*width:7px;*height:12px;*display:inline-block;*top:-15px; }
.arrow span{border-color:transparent #FFF transparent transparent; top:-4px;}
.sp_Account li{margin-top:-10px;}
.sp_Account li a{display:block;border:none !important;height:40px;line-height:40px;}
.sp_Account li a:hover{border:none;background:#000;}
.sp_Account li .cutt{border:none;background:#000;}
/*锟揭碉拷锟绞伙拷 end*/

/*锟较达拷图片*/
.sp_up h2{font-size:24px;padding:0px 0px 40px 0px;color:#fff;}
.sp_up li{color:#fff;line-height:50px;}
.sp-w400{width:400px;height:50px;background:#fff;border:0;}
.sp_w170{width:170px;height:170px;background:#fff;display:block; text-align:center;font-size:18px;color:#22ac38;line-height:170px;margin-bottom:50px;}
.sp_bth{width:126px;height:50px;padding:0px !important;text-align:center;margin-right:10px;}
/*锟较达拷图片 end*/


/*锟斤拷权css*/
.footer{background:#f2f2f2;width:1670px;height:40px;margin:30px auto 50px auto;}
.footer p{line-height:40px;padding-left:20px;font-size:13px;color:#666;}
/*锟斤拷权css end*/


/*锟斤拷锟斤拷锟斤拷 锟斤拷录 注锟斤拷 锟揭伙拷锟斤拷锟斤拷 锟较达拷*/
.Pop{ position:relative; z-index:999;}
.Pop .Ptit{position:fixed; right:50px; top:40px;}
.Pop .Pcon{position:fixed; left:35%; top:0px;}
.Ptit a.c-close{ background:url(../images/c-close.png) no-repeat; display:inline-block; width:50px; height:50px;}
.Pop .Pcon .Pconle{ width:400px;}
.Pop .Pcon .Pconri{ background:url(../images/Login-bg.png) no-repeat; width:288px; height:215px; margin:90px 0 0 60px;}
.Pop .Pcon .Pcl-tit{ font-size:40px; color:#fff; border-bottom:1px solid #818181; margin-bottom:5px;}
.Pop .Pcon .Pcl-tit span{ display:block; color:#818181; font-size:14px; margin:10px 0;}
table.tainte{ color:#808080;}
table.tainte a:hover{ text-decoration:underline;}
table.tainte td{ padding:15px 0;}
table.tainte td p{ margin-bottom:8px;}
table.tainte .taChebox{ margin-top:8px; color:#fff;}
table.tainte .taChebox a{ color:#fff;}
table.tainte .taChebox input{ margin-right:5px;}
table.tainte td p.tip{ margin:30px 0 -20px 10px; height:50px;}
table.tainte td p.tip i{ background:url(../images/tipicon.png) no-repeat; display:inline-block; width:20px; height:20px; margin:0 5px -5px 0;}
table.tainte td p.tip i.ok{ background-position:0 0;}
table.tainte td p.tip i.error{ background-position:-20px 0;}
table.tainte a.Send{ display:inline-block; width:110px; height:50px; text-align:center; line-height:50px; background:#fff; color:#22ac38; font-size:16px; margin-left:10px;}
dl.Uploadti{position:fixed; left:50px; top:40px;}
dl.Uploadti dt{ background:url(../images/Upload-icon.png) no-repeat; width:77px; height:53px; float:left; margin:0 20px 0px 0;}
dl.Uploadti dd{ margin-top:-10px;}
dl.Uploadti dd p{ font-size:30px; color:#fe9161; font-weight:bold;}
dl.Uploadti dd span{ font-size:18px; color:#fff;}
.progress-bar{ background:#505050; width:400px; height:10px; position:relative;}
.progress-bar-up{ background:#4ebd60; height:10px; position:absolute; left:0px; top:0px;}
table.tainte a.Uploadbot{ display:block; background:#fff; width:400px; height:80px; font-size:30px; font-weight:bold; text-align:center; line-height:80px; margin-top:20px;}
table.tainte a.Uploadbot:hover{ text-decoration:none; color:#22ac38;}
dl.Upload-ok{}
dl.Upload-ok dt{ float:left; background:url(../images/Uploadok-icon.png) no-repeat; width:103px; height:103px; margin:0 50px 0 0;}
dl.Upload-ok dd{ float:left; font-size:24px; color:#fff; line-height:42px;}

.mask {overflow-y:scroll;lmargin: 0;padding: 0;border: none;width: 100%;height: 100%;background: #000;opacity:0.9;-moz-opacity:0.9;-khtml-opacity:0.9;filter: Alpha(opacity=90);z-index:99;position: fixed;top: 0;
left: 0;display: none;}
/*锟斤拷锟斤拷锟斤拷 锟斤拷录 注锟斤拷 锟揭伙拷锟斤拷锟斤拷 锟较达拷 end*/


/*锟斤拷锟截革拷锟�/
.load{height:50px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:40px auto 20px auto;}
.load a{line-height:50px; text-align:center;display:block;}
.load a:hover{background:#efefef;color:#479e0a;}

/*锟斤拷锟截革拷锟�/

/*锟斤拷页锟斤拷式*/
.pagination{ text-align:center; margin:35px 0;}
.pagination a,.pagination span{ display:inline-block; border:1px solid #747474; color:#ccc; padding:0 20px; height:44px; text-align:center; line-height:44px; margin:0 1px; }
.pagination span.current{ background:#22ac38; color:#fff;}
.pagination a:hover{ text-decoration:underline;}
.pagination a.prev,.pagination a.next{ background:#fff; color:#000; margin:0 10px;}
/*锟斤拷页锟斤拷式 end*/

/*锟斤拷频锟斤拷锟斤拷*/
.Pop .SpMana{margin:115px 0px 0 218px; left:0px; color:#ccc; font-size:24px; width:1670px;}
ul.Manatab{ border-bottom:4px solid #404040; height:50px; line-height:50px;}
ul.Manatab li{ float:left;}
ul.Manatab li a{ display:block; margin-right:80px; color:#ccc;}
ul.Manatab li a:hover,ul.Manatab li a.cur{ border-bottom:4px solid #fff; color:#fff;}
table.taMana{}
table.taMana th,table.taMana td{ text-align:center;}
table.taMana th{ height:80px;}
table.taMana td{ height:126px; border-bottom:1px solid #8e8e8e;}
table.taMana td a{ margin-bottom:5px;}
table.taMana td i{ background:url(../images/ManaBF.png) no-repeat; display:inline-block; width:20px; height:20px; margin:0 10px 0 0;}
/*锟斤拷频锟斤拷锟斤拷 end*/

/*锟斤拷锟脚斤拷锟斤拷*/
.fs18{ font-size:18px;}
i.sq,i.zk,.Praise i,.Movibot .buton a i,.MoviDrama ul li i,.noComm i{ background:url(../images/BroadCa-icon.png) no-repeat; display:inline-block;}

.BroadCa-le{ width:1066px; margin-right:8px;}
.BroadCa-share,.CommWall{ margin:30px 22px 0 30px;}
.BroadCa-share dl.le{ float:left; margin-right:10px; overflow:hidden;zoom:1;}
.BroadCa-share dl.le dt{ float:left; background:url(../images/share-icon.gif) no-repeat; width:60px; height:60px; margin-right:10px;}
.BroadCa-share dl.le dd{ float:left; width:746px;}
.BroadCa-share dl.le dd textarea{ width:733px; height:75px; line-height:22px; border:1px solid #e5e5e5; padding:5px;}
.BroadCa-share dl.le dd .Expre{ margin-top:10px;}
.BroadCa-share dl.le dd .Expreicon i{ background:url(../images/Expre-icon.png) no-repeat; display:inline-block; width:23px; height:23px; margin:0px 5px -5px 0;}
.BroadCa-share dl.le dd .Release{ display:block; padding:4px 15px; background:#fafafa; border:1px solid #e5e5e5;}
.BroadCa-share dl.le dd .Release:hover{ text-decoration:underline;}
.BroadCa-title{ font-size:30px; font-weight:bold; padding-bottom:10px; margin-bottom:20px; border-bottom:1px solid #ccc;}
.CommWallle,.CommWallce,.CommWallri{ float:left;width:316px; margin:0px 10px; }
ul.CommWall-con li{border:1px solid #ccc;width:316px; margin:0 0 20px 0; }
ul.CommWall-con .conimg img{ max-width:316px;}
ul.CommWall-con .text{ line-height:22px; padding:5px 10px; overflow:hidden;zoom:1;}
ul.CommWall-con .text a{ float:right; margin:6px 0px 0 0px;*margin:-15px 0px 0 0px; display:block; width:50px; height:20px; line-height:18px; text-align:center; background:#e5e5e5; color:#999;}
i.sq,i.zk{ width:10px; height:6px; margin:0 0 2px 3px;*margin:0 0 7px 3px;}
ul.CommWall-con .text a:hover i.sq{ background-position:-20px 0;} 
ul.CommWall-con .text a i.zk{ background-position:-10px 0;} 
ul.CommWall-con .text a:hover i.zk{ background-position:-30px 0;} 
ul.CommWall-con .text a:hover{ background:#22ac38; color:#fff;}
ul.CommWall-con dl.natim{ background:#f2f2f2; padding:10px; margin-top:10px; overflow:hidden;zoom:1;}
ul.CommWall-con dl.natim dd{ float:left; margin:0 0 10px 10px; width:225px;}
ul.CommWall-con dl.natim dd span{}
.Praise i{ background-position:0 -31px; height:16px; width:16px; margin:0 5px -3px 0;}

.BroadCa-ri{ width:629px;}
.Moviintrall{ background:#191919; height:576px; color:#a8a8a8;}
.Moviintr,.Movibot,.MoviDrama{ padding:0px 20px 0;}
.Moviintr h3{ font-size:22px; color:#fff; margin-bottom:10px;}
.Moviintr p{ line-height:26px;}
.Movibot{ margin-top:30px;}
.Movibot .time{ border-bottom:1px solid #5e5e5e; padding-bottom:8px; margin-bottom:15px;}
.Movibot .time span{ margin-right:30px;}
.Movibot .buton a{ color:#a8a8a8; margin-right:40px;}
.Movibot .buton a:hover{ color:#2b9f3e;}
.Movibot .buton a.jubao:hover{ color:#d61010;}
.Movibot .buton a i{ width:16px; height:16px; margin:0 5px -2px 0;}
.Movibot .buton a i.ding{ background-position:0 -51px;}
.Movibot .buton a:hover i.ding{ background-position:0 -77px;}
.Movibot .buton a i.fengx{ background-position:-25px -51px;}
.Movibot .buton a:hover i.fengx{ background-position:-25px -77px;}
.Movibot .buton a i.bof{ background-position:-53px -51px;}
.Movibot .buton a:hover i.bof{ background-position:-53px -77px;}
.Movibot .buton a i.jubao{ background-position:-80px -51px;}
.Movibot .buton a:hover i.jubao{ background-position:-80px -77px;}
.MoviDrama{ background:#252525; margin:20px 0;padding:20px;}
.MoviDrama h3{ font-size:18px; color:#fff; margin-bottom:15px;}
.MoviDrama ul{height:208px; overflow-y:auto;*position:relative;*left:0;*top:0;}
.MoviDrama ul li{ float:left; position:relative;}
.MoviDrama ul li a{ display:block; width:49px; height:40px; line-height:40px; text-align:center; border:1px solid #5e5e5e;font-size:24px; margin:0 6px 12px 0; color:#a8a8a8;}
.MoviDrama ul li i{ width:16px; height:19px; position:absolute; right:6px; top:-3px;}
.MoviDrama ul li i.new{ background-position:-52px 0;}
.MoviDrama ul li i.yu{ background-position:-75px 0;}
.MoviDrama ul li a:hover,.MoviDrama ul li a.cur{ background:#22ac38; color:#fff; border:1px solid #fff;}
.recommend{ margin-top:20px; width:475px;}
.recommend h2{ font-size:24px;}
dl.recommend-con{ margin-bottom:20px; overflow:hidden;zoom:1;}
dl.recommend-con dt{ width:200px; margin:0 10px 0 0;}
dl.recommend-con dd{ width:265px;}
dl.recommend-con dd h4{ font-size:18px; margin:10px 0;}
dl.recommend-con dd p{ line-height:22px;}
dl.recommend-con a:hover{ text-decoration:underline;}

.noComm{ font-size:20px; text-align:center; margin:260px 0;}
.noComm i{ background-position:0 -110px; width:44px; height:39px; margin:0 10px -10px 0;}

.Moviintrall .r_b_share_pop {background:#fff;bottom: -40px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);cursor: default;position: absolute;right: 320px;width: 297px;}
.Moviintrall .r_b_share_h .share_link {float: none;margin: 20px 0 0 20px;}
.Moviintrall .share_link {float: none;margin: 20px 0 0 20px;height: 16px;padding-bottom: 10px;}
.Moviintrall .share_money {color: #e4393c;margin: 0 0 0 20px;}
.Moviintrall .r_b_share_pop {cursor: default;}
.Moviintrall .share_link dt {color: #767676;float: left;font-size: 13px;}
.Moviintrall .share_link dd {float: left;}
.Moviintrall .share_link dd a {float: left;margin-right: 4px;}
.jiathis_style .button, .jiathis_style .jiathis_txt {float: left;font-size: 12px;line-height: 18px !important;text-decoration: none;}
.Moviintrall .jiathis_style .jtico {background: url("../images/jiathis_ico.png") no-repeat scroll left center;cursor: pointer;display: block !important;height: 16px !important;line-height: 16px !important;overflow: hidden;padding-left: 20px !important;text-align: left;}
.Moviintrall .jiathis_style .jtico_qzone {
    background-position: 0 -64px;
}
.Moviintrall .jiathis_style .jtico_tsina {
    background-position: 0 -96px;
}
.Moviintrall .jiathis_style .jtico_tqq {
    background-position: 0 -144px;
}
.Moviintrall .jiathis_style .jtico_renren {
    background-position: 0 -160px;
}
.Moviintrall .jiathis_style .jtico_kaixin001 {
    background-position: 0 -176px;
}
.Moviintrall .jiathis_style .jtico_weixin {
    background-position: 0 -1809px;
}
.Moviintrall .Movibot {margin-top: 30px;position: relative;}
.Moviintrall .share_money {color: #e4393c;margin: 0 0 0 20px;}
.Moviintrall .r_b_arrow {color: #fff;font-family: SimSun;font-size: 16px;height: 16px;line-height: 16px;position: absolute;right: 117px;text-align: center;top: -7px;top: -6px !important;width: 16px;}
/*锟斤拷锟脚斤拷锟斤拷 end*/

/*锟斤拷锟斤拷 start*/
.search_vo{margin-left:30px;z-index:999; display:block;position: absolute;left:0;top:0px;}
.search_vo h3{font-size:18px;color:#fff;padding:27px 0;}
.start_input{background:transparent;border: medium none;color: #fff;font-size: 53px;}
.movie_list{margin:95px 0px 35px;}
.movie_list ul li{width:240px;color:#fff;}
.movie_list  i{ background-image:url(../images/sch.png);background-repeat: no-repeat;display:inline-block;}
.movie_list .movie_info i{width:20px;height:20px;background-position: 0px 0px;}
.movie_list .movie_info,.movie_list .tv_info,.movie_list .anime_info,.movie_list .yul_info,.movie_list .net_info{height:30px;line-height:30px;display:inline-block;color: #fff;vertical-align: middle;border-bottom:4px solid #fff;padding-bottom:5px;width:240px;font-size:16px;}
.movie_list .tv_info i {background-position: 0 -22px;height: 18px;width: 22px; position: relative;top: 5px;*top:0;}
.movie_list .anime_info i {background-position: 0 -42px;height: 18px;width: 20px; position: relative;top: 5px;*top:0;}
.movie_list .yul_info i {background-position: 0 -61px;height: 21px;width: 23px; position: relative;top: 5px;*top:0;}
.movie_list .net_info i {background-position: 0 -85px;height: 19px;width: 20px; position: relative;top: 5px;*top:0;}
.movie_list ul li img{margin:24px 0px 0px;}
.movie_list ul{float:left;margin-right:30px;}
.srch_text .text_record span{color:#858584;font-size:12px;}
.srch_text .text_record span.min i{padding-right: 3px;background-image:url(../images/sch.png);background-repeat: no-repeat;background-position:-1px -108px;display:inline-block;width:14px;height:13px;}
.srch_text p{padding:5px 0;}
.text_record .min{margin-right:45px;}
.Ptit {position: absolute;right: 50px;top: 40px;}
.movie_list .bottom_gd{background-image:url(../images/sch.png);background-repeat: no-repeat;background-position:-1px -128px;display:inline-block;width:63px;height:25px;margin-top:30px;  margin-left: 85px;}
/*锟斤拷锟斤拷 end*/

.movie_list ul li .imgs{margin:0;vertical-align: middle;}
.four_err{background:url("../images/fourto_four.png") no-repeat;width:100%;height:1000px;position:relative;}
.err_bg{background:url("../images/err_bg.png") no-repeat;width:770px;height:505px;left:50%;top:50%;margin-top:-252px;margin-left:-385px;position: absolute;}
.four_dy{background:url("../images/tishi_img.png") no-repeat;width:333px;height:201px;margin:95px 0px 0px 96px;}
.fh_index{width:156px;height:50px;background:#38b44c;line-height: 50px;text-align:center;display:block;color:#fff;font-size:20px;margin:30px 0 0 96px}

