.icon-big001{
	background:url('icons/big001.png') no-repeat center center;
}
.icon-big002{
	background:url('icons/big002.png') no-repeat center center;
}
.icon-big003{
	background:url('icons/big003.png') no-repeat center center;
}


.icon-menu001{
	background:url('icons/menu001.png') no-repeat center center;
}
.icon-menu002{
	background:url('icons/menu002.png') no-repeat center center;
}
.icon-menu003{
	background:url('icons/menu003.png') no-repeat center center;
}
.icon-menu004{
	background:url('icons/menu004.png') no-repeat center center;
}
.icon-menu005{
	background:url('icons/menu005.png') no-repeat center center;
}
.icon-menu006{
	background:url('icons/menu006.png') no-repeat center center;
}
.icon-menu007{
	background:url('icons/menu007.png') no-repeat center center;
}  
.icon-menu008{
	background:url('icons/menu008.png') no-repeat center center;
}  
.icon-menu009{
	background:url('icons/menu009.png') no-repeat center center;
}  
.icon-menu010{
	background:url('icons/menu010.png') no-repeat center center;
}  
.icon-menu011{
	background:url('icons/menu011.png') no-repeat center center;
}  
.icon-menu012{
	background:url('icons/menu012.png') no-repeat center center;
}  
.icon-menu013{
	background:url('icons/menu013.png') no-repeat center center;
}  
.icon-menu014{
	background:url('icons/menu014.png') no-repeat center center;
}  
.icon-menu015{
	background:url('icons/menu015.png') no-repeat center center;
} 
.icon-menu016{
	background:url('icons/menu016.png') no-repeat center center;
} 
.icon-menu017{
	background:url('icons/menu017.png') no-repeat center center;
} 
.icon-menu018{
	background:url('icons/menu018.png') no-repeat center center;
} 
.icon-menu019{
	background:url('icons/menu019.png') no-repeat center center;
} 
.icon-menu020{
	background:url('icons/menu020.png') no-repeat center center;
} 
.icon-menu021{
	background:url('icons/menu021.png') no-repeat center center;
} 
.icon-menu022{
	background:url('icons/menu022.png') no-repeat center center;
} 
.icon-menu023{
	background:url('icons/menu023.png') no-repeat center center;
} 
.icon-menu024{
	background:url('icons/menu024.png') no-repeat center center;
} 
.icon-menu025{
	background:url('icons/menu025.png') no-repeat center center;
} 
.icon-menu026{
	background:url('icons/menu026.png') no-repeat center center;
} 
.icon-menu027{
	background:url('icons/menu027.png') no-repeat center center;
} 
.icon-menu028{
	background:url('icons/menu028.png') no-repeat center center;
} 
.icon-menu029{
	background:url('icons/menu029.png') no-repeat center center;
} 
.icon-menu030{
	background:url('icons/menu030.png') no-repeat center center;
}
.icon-menu031{
	background:url('icons/menu031.png') no-repeat center center;
} 
.icon-menu032{
	background:url('icons/menu032.png') no-repeat center center;
} 
.icon-menu033{
	background:url('icons/menu033.png') no-repeat center center;
} 
.icon-menu034{
	background:url('icons/menu034.png') no-repeat center center;
}  
.icon-menu035{
	background:url('icons/menu035.png') no-repeat center center;
} 
.icon-menu036{
	background:url('icons/menu036.png') no-repeat center center;
}  
.icon-menu037{
	background:url('icons/menu037.png') no-repeat center center;
}
.icon-menu038{
	background:url('icons/menu038.png') no-repeat center center;
}
.icon-menu039{
	background:url('icons/menu039.png') no-repeat center center;
}
.icon-menu040{
	background:url('icons/menu040.png') no-repeat center center;
}
/* 定位 */
.icon-menu041{
	background:url('icons/menu041.png') no-repeat center center;
}
.icon-menu042{
	background:url('icons/menu042.png') no-repeat center center;
}
.icon-menu043{
	background:url('icons/menu043.png') no-repeat center center;
}






.icon-button001{
	background:url('icons/button001.png') no-repeat center center;
}
.icon-button002{
	background:url('icons/button002.png') no-repeat center center;
} 
.icon-button003{
	background:url('icons/button003.png') no-repeat center center;
} 
.icon-button004{
	background:url('icons/button004.png') no-repeat center center;
} 
.icon-button005{
	background:url('icons/button005.png') no-repeat center center;
} 
.icon-button006{
	background:url('icons/button006.png') no-repeat center center;
} 
.icon-button007{
	background:url('icons/button007.png') no-repeat center center;
} 
.icon-button008{
	background:url('icons/button008.png') no-repeat center center;
}  
.icon-button009{
	background:url('icons/button009.png') no-repeat center center;
}
.icon-button010{
	background:url('icons/button010.png') no-repeat center center;
}
.icon-button011{
	background:url('icons/button011.png') no-repeat center center;
}
.icon-button012{
	background:url('icons/button012.png') no-repeat center center;
}
.icon-button013{
	background:url('icons/button013.png') no-repeat center center;
}

.icon-button014{
	background:url('icons/button014.png') no-repeat center center;
}
.icon-button015{
	background:url('icons/button015.png') no-repeat center center;
}
.icon-button016{
	background:url('icons/button016.png') no-repeat center center;
}
.icon-button017{
	background:url('icons/button017.png') no-repeat center center;
}
.icon-button018{
	background:url('icons/button018.png') no-repeat center center;
}
.icon-button019{
	background:url('icons/button019.png') no-repeat center center;
}
.icon-button020{
	background:url('icons/button020.png') no-repeat center center;
}
.icon-button021{
	background:url('icons/button021.png') no-repeat center center;
}
.icon-button022{
	background:url('icons/button022.png') no-repeat center center;
}
.icon-button023{
	background:url('icons/button023.png') no-repeat center center;
}
.icon-button024{
	background:url('icons/button024.png') no-repeat center center;
}
.icon-button025{
	background:url('icons/button025.png') no-repeat center center;
}
.icon-button026{
	background:url('icons/button026.png') no-repeat center center;
}
.icon-button027{
	background:url('icons/button027.png') no-repeat center center;
}
/* 定位 */
.icon-button028{
	background:url('icons/button028.png') no-repeat center center;
}
/* 灯泡 帮助按钮 */
.icon-button029{
	background:url('icons/button029.png') no-repeat center center;
}


.icon-other001{
	background:url('icons/other001.png') no-repeat center center;
} 
.icon-other002{
	background:url('icons/other002.png') no-repeat center center;
} 
.icon-other003{
	background:url('icons/other003.png') no-repeat center center;
} 
.icon-other004{
	background:url('icons/other004.png') no-repeat center center;
} 
.icon-other005{
	background:url('icons/other005.png') no-repeat center center;
} 
.icon-other006{
	background:url('icons/other006.png') no-repeat center center;
}
.icon-other007{
	background:url('icons/other007.png') no-repeat center center;
}
.icon-other008{
	background:url('icons/other008.png') no-repeat center center;
}
.icon-other009{
	background:url('icons/other009.png') no-repeat center center;
}
.icon-other010{
	background:url('icons/other010.png') no-repeat center center;
}
.icon-other011{
	background:url('icons/other011.png') no-repeat center center;
}
.icon-other012{
	background:url('icons/other012.png') no-repeat center center;
}

.icon-refresh{
	background:url('icons/other002.png') no-repeat center center;
}
.icon-close{
	background:url('icons/other009.png') no-repeat center center;
}
.icon-xpc{
	background:url('icons/other006.png') no-repeat center center;
}
.icon-qc{
	background:url('icons/other007.png') no-repeat center center;
}
.icon-x{
	background:url('icons/other003.png') no-repeat center center;
} 