@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, a, em, font, img, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, table, tbody, tfoot, thead, tr, th, td,button{margin: 0; padding: 0;}
body{ font-family: "Microsoft YaHei",arial; font-size:12px; font-weight:normal; color:#444; background:#f1f2f7;}
.bg{background: url("../images/mainbg.gif") repeat-y #f1f2f7;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:14px;}
a{ color:#333; text-decoration:none;}
li{ list-style:none;}
input{font-family: Microsoft YaHei,Helvetica,Tahoma;}
img{ border:none;}
em{ font-style:normal;}
.l{ float:left;}
.r{ float:right;}
.v{ vertical-align:middle; }
.clearfix:after { content:"."; display:block; height:0; font-size:0; visibility:hidden; clear:both; } 
.clearfix { zoom:1; _height:1px;}  
.input{ padding:0 4px; height:27px; border:1px solid #ccc;  -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px;}  
.input:focus{ border:1px solid #0186b8;}
table{ font-size:12px;}
.checkbox{ border:none;}
.radio{ border:none;}
.position{ position:relative;}
.no{ display:none;}
.block{ display:block;}
select{ height:24px; min-width:80px;}
textarea{ border:1px solid #ccc;}

.header{ width:100%; height:80px; background:url(../images/bg_head.png) repeat-x ; color:#333; font-size:14px; position:fixed; z-index:100; left:0; top:0; border-bottom:1px solid #333;}
.logo{ margin:20px 0 0 20px;}
.header p{ margin:30px 40px 0 0;}
.header a{ color:#fff; margin-left:8px;}
.header a.username{ color:#ff8333;}
.header a:hover{ text-decoration:underline;}
.pwd_reset{display:inline-block; height:24px; line-height:24px; background:#22ac38; padding:0 6px; border-radius:3px;}
.exit_system{display:inline-block; height:24px; line-height:24px; background:#ff8333; padding:0 6px; border-radius:3px;}
.main{ padding-top:80px;}
.main_l{ width:210px; height:80%;}
.main_r{ padding:20px 20px 40px; font-size:12px;}
.main_r_two{ margin-left:20px; background:#fafafa; padding:20px 20px 40px; font-size:12px;}
/* expmenu */
ul.expmenu{width:210px; padding-top:20px;}
ul.expmenu li{ width:100%; float:left;}
ul.expmenu li h2{ padding:0 12px; height:42px; line-height:42px; border-bottom:1px solid #415263; background:#2b3e50; color:#fff; cursor:pointer;}
ul.expmenu li h2 .label{padding-left:5px;}
ul.expmenu li h2 .icon1{ background:url(../images/video_icon.png) no-repeat 0 0;width:20px;height:20px;display: inline-block;vertical-align: middle;}
ul.expmenu li h2 .icon2{ background:url(../images/video_icon.png) no-repeat 0 -21px;width:20px;height:20px;display: inline-block;vertical-align: middle;}
ul.expmenu li h2 .icon3{ background:url(../images/video_icon.png) no-repeat 0 -43px;width:20px;height:20px;display: inline-block;vertical-align: middle;}
ul.expmenu li h2 .icon4{ background:url(../images/video_icon.png) no-repeat 0 -66px;width:20px;height:20px;display: inline-block;vertical-align: middle;}
ul.expmenu li h2 .arrow{display:block;width:16px;height:16px; margin-top:18px;}
ul.expmenu li h2 .arrow.up{background:url(../images/arrow_u.png) no-repeat;}
ul.expmenu li h2 .arrow.down{background:url(../images/arrow_d.png) no-repeat;}
ul.expmenu li .menu{display:none; background:#37485a;}
ul.expmenu li li{ float:none;}	
ul.expmenu li li a{ height:32px; line-height:32px; padding-left:42px; color:#fff; font-size:14px; display:block;}
ul.expmenu li li a:hover,
ul.expmenu li li.active a{ background:#4dc077;}

/*right*/
.right_nav{font-size:15px; padding-bottom:8px;}
.inquire{background:#d7d8df;/* border:1px solid #ccc;*/ padding:12px 20px 12px; border-radius:3px 3px 0px 0px; overflow:hidden;}
.inquire li{ float:left; /*margin-right:30px; padding-top:12px;height:27px;line-height: 27px;*/ white-space:nowrap;margin:7px 10px;}
.inquire .line_h{ padding:0 6px;}
.mar1{padding:20px 0 0 110px;}
.mar1 a{ margin-right:16px;}
.bg_fff{border:1px solid #ccc; background:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px;}
.list_li{ padding:12px 0; overflow:hidden;}
.list_li li,
.list_li2 li{ float:left; width:30%; margin:5px 0 5px 3%;}
.list_li label{ color:#888;}
.tit_yi{background:#d7d8df; border-bottom:1px solid #ccc; padding-left:20px; border-radius:3px 3px 0 0; font-size:18px; height:44px; line-height:44px;}
.list_li2{padding:12px 0 60px; overflow:hidden;}
.list_li2 label{ color:#888; line-height:24px;}
.list_li2 .label_wid{ width:72px; display:inline-block;}
.list_li2 em{ padding-left:6px;}
.list_li2 .in_file{ margin-left:6px;}
.list_1 li{ width:97%; margin:5px 0 5px 3%; overflow:hidden;}
.list_1 label{ color:#888; float: left;}
.list_1 p{ float:left; width:60%;}
.list_li3{padding:30px 0 60px 40px;}
.list_li3 .tit{ width:64px; color:#888; display:inline-block;}
.list_li3 li{ margin-bottom:8px;}
.list_li3 .area{padding-top:20px;}
.list_li3 h4{ line-height:28px;}
.cptence_list{ border:1px solid #ccc; border-radius:3px; padding:20px 0 30px 20px; min-height:140px; width:200px; background:#eeeff4;}
.cptence_list ul{ padding-left:24px;}
.cptence_list h5,
.cptence_list li{margin-bottom:4px;}
.cptence_btn{margin:220px 60px 0;}
.progress_list dl{ width:46%; margin:16px 0 6px; float:left;}
.progress_list dl.line{ border-left:1px dotted #ddd; padding-left:50px;}
.progress_list dt{ float:left; width:234px;}
.progress_list dd{ float:left; padding-left:20px; width:360px;}
.progess_btn{border-top:1px solid #ccc; margin:10px 40px 40px; text-align:center; padding-top:40px;}

#div_table03{  overflow: hidden;width: 100%;overflow-x: scroll;}





/*table*/
.table_bg{border:1px solid #ccc;/*margin-top:20px; */-moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px;}
.table_bg table{ -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px;}
.table_bg td{ border-bottom:1px solid #ccc; padding:10px 0 10px 30px;}
.table_bg .none_border td{ border-bottom:none;}
.indent20{ text-indent:20px;}
.input_list li{ display:inline-block; margin-top:10px;}
.input_list label{ width:110px; display:inline-block; text-align:right;}
.wind_control li{float:left; margin: 5px 20px;}
.wind_control span{ padding-left:6px;}
.textarea{ width:620px; padding:0 5px; height:80px;}
.table2 tbody td{ border-bottom:1px dashed #ddd; padding: 10px 0;}
.tit_h3{ font-size:16px; padding:20px 20px 10px; border-bottom:1px solid #ccc;}
.tit_h3 a{ display:inline-block; background:#4dc077; color:#fff; font-size:12px; padding:4px 8px; border-radius:3px;}
.modify{ width:9px; height:20px; background:url(../images/modify.png) no-repeat; display:block;}
.detail{ width:17px; height:12px; margin:0 4px; background:url(../images/detail.png) no-repeat; display:inline-block;}
.using{ width:21px; height:15px; margin:0 4px; background:url(../images/using.png) no-repeat; display:inline-block;}
.disable{ width:16px; height:16px; margin:0 4px; background:url(../images/disable.png) no-repeat; display:inline-block;}
.interest{ width:14px; height:16px; margin:0 4px; background:url(../images/interest.png) no-repeat; display:inline-block;}
.progess{ width:20px; height:20px; margin:0 4px; background:url(../images/progress.png) no-repeat; display:inline-block;}
.close{ width:15px; height:15px; margin:0 4px; background:url(../images/close.png) no-repeat; display:inline-block;}
.cancel{ width:15px; height:15px; margin:0 4px; background:url(../images/cancel.png) no-repeat 0 3px; display:inline-block;}
.view{ width:19px; height:19px; margin:0 4px; background:url(../images/view.png) no-repeat; display:inline-block;}
.viewed{ width:19px; height:19px; margin:0 4px; background:url(../images/viewed.png) no-repeat; display:inline-block;}
.edit{ width:17px; height:17px; margin:0 12px; background:url(../images/edit.png) no-repeat; display:inline-block;}
/*page*/
.page{ width:100%; padding:14px 0;}
.total_page .line{ padding:0 10px;}
.num_page{text-align:right;}
.num_page a{ margin-left:4px;}
.num_page a:hover,
.num_page a.active{ background:#4dc077;}
.num_page .dot{ margin-left:4px;}
.num_page a{ width:23px; height:23px; line-height:23px; border-radius:11px; background:#d2d4db; color:#fff; display:inline-block; text-align:center;}
.num_page a.home,
.num_page a.last{ background:none; color:#333; width:auto; font-size:14px;}
.num_page a.home:hover,
.num_page a.last:hover{ background:none; text-decoration:underline;}



.btn1,
.btn2,
.btn3,
.btn5,
.btn4{ height:24px; line-height:24px; padding:0 10px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; text-align:center; color:#fff; display:inline-block; margin-right:8px;white-space:nowrap;}
.btn1{ background:#ff6c60;}
.btn2{ background:#45b6af;}
.btn3{ background:#fcb322;}
.btn4{ background:#586673;}
.btn5{ background:#d7d8df; white-space:nowrap;}
.mar_ipt{ margin:0 4px;}


/*客户管理 start*/
.status_btn{background:#4DC077;padding:2px 10px;color:#fff;  vertical-align: middle;}
.btn_cx{cursor:pointer;background:#586673;padding:0px;height:30px;line-height:30px;text-align:center;width:100px;color:#fff;  vertical-align: middle;border:none;display:inline-block;}
.range{width:70px;}
/*客户管理 end*/

/*视频 start*/
.vi_sp {margin:20px 15px;}
.vi_sp .sp_lf{width:300px;height:200px;border:1px solid #ccc;float:left;margin-right:15px;}
.vi_sp .sp_lf dl dd{float: left;padding-right:20px;width:110px;}
.vi_sp .sp_lf ul li{padding:15px 10px;}
.vi_sp .vi_list{margin-bottom:60px;}
.sp_tp .tg,.sp_tp .btg{width:100px;height:40px;line-height:40px;display: inline-block;text-align: center;margin-left: 10px;}
.sp_tp .tg{background:url("../images/kh_btn.png") no-repeat 0 0;width:100px;height:40px;}
.sp_tp .btg{background:url("../images/kh_btn.png") no-repeat 0 -47px;width:100px;height:40px;}
.vi_cut ul li{border:1px solid #ccc;width:200px;height:100px;margin-right:10px;float:left;}
.vi_sp .vi_list .name span{ float:left; margin-right: 18px;display: inline-block;width:100px;height:40px;line-height:40px;text-align:center;border:1px solid #ccc;}
.w_progressBar{ background:#e5e5e5;border-radius: 4px;height: 12px;margin-top:18px;overflow: hidden;position: relative;}
.w_progressBar_bar {background:#fd9f30;height: 100%;position: absolute;display: inline-block;}
.vi_list .lt_lf{width:701px;overflow: hidden;margin-right: 20px;}
.vi_list .vi_intro,.vi_list .lt_lf,.vi_list .vi_btn{float:left;margin-right:20px;}
.vi_list .vi_intro textarea {width:500px;height:68px;padding:0;margin:0;}
.vi_btn .verify,.vi_btn .cancel{width:100px;height:30px;line-height: 30px;text-align:center;display:block;color: #fff;margin:0;}
.vi_btn .verify{background:#22ac38;margin-bottom:10px;}
.vi_btn .cancel{background:#ff8333;}
.vi_sp input[type="button"]{width:100px;height:30px;border:0;background: #22ac38;color:#fff;}
.vi_sp input[type="text"]{outline:none;width:400px;height:28px;border:0;border:1px solid #ccc;}
.vi_sc label{width:100px;display: inline-block;height:30px;line-height: 30px;vertical-align: middle;}
.vi_sc label,.vi_sp input[type="button"],.vi_sp input[type="text"]{float: left;margin-right:20px;vertical-align: middle;}
.vi_sc{margin-bottom:25px;}
.se{background: #efeded;}
/*视频 end */
/*登录页面*/
.big_img{background:url("../images/ht_img.png") no-repeat center center;height:1000px;width:auto;min-width: 1000px;position:relative;}
.login_bg{background:url("../images/login_bg.png") no-repeat;width:419px;height:344px;position:absolute;top:50%;left:50%;margin-top:-167px;margin-left:-209px;}
.bg_bs{background:#fff;border-radius: 4px;width:400px;height:328px;margin:8px 9px;}
.login_ht{background:url("../images/hx_login.png") no-repeat center center;height:78px;border-bottom:1px solid #efefef;background-color: #f7f7f7;}
.logintxt1 {
    background: url("../images/lgbg1.png") no-repeat scroll 5px 15px ;
}
.logintxt2 {
    background: url("../images/lgbg2.png") no-repeat scroll 8px 15px ;
}

input.it {
    border: 1px solid #bababa;
    color: #999999;
    height: 44px;
    line-height:44px;
    padding-left: 30px;
    width: 304px;
}
.bg_bs ul{padding:0px 32px;}
.bg_bs ul li{margin-top:24px;}
.login_btn{width:335px;height:45px;background:#ee3a20;line-height: 45px;border: none;color: #fff;border-radius: 4px;font-size:20px;}

.add_movie{border:1px solid #28979e;position:relative;}
.add_movie .ui_title{height:35px;padding:7px 0 0 7px !important;background:#37485a ;border-bottom: 1px solid #28979e;color:#fff;font-size:16px;}
.main_ct{margin:0 5px;}
.main_ct tr td{padding:5px 0;float:left;  font-size: 14px;margin:0px 5px;vertical-align:middle;}
.main_ct .upload{width:100px;color:#fff;text-align: center;background: #4dc077;margin-left:100px;}
.main_ct .btn_an{width:100px;height:40px;background:#4dc077;border:none;color:#fff;text-align: center;margin:10px;}
.main_ct .btn_qx{width:100px;height:40px;border:none;color:#fff;text-align: center;background:red;}
.main_ct input{width:250px;padding:5px 0;border:1px solid #D7D8DF;}
.lb{width:80px;}

.mainTable{width:99%}
.mainTable .upload{margin-left:31px;width:100px;color:#fff;text-align: center;background: #4dc077;margin-left:100px;}
.mainTable .btn_an{width:100px;height:30px;background:#4dc077;border:none;color:#fff;text-align: center;margin:10px 10px 0px 47px}
.mainTable .btn_qx{width:100px;height:30px;border:none;color:#fff;text-align: center;background:red;}
.mainTable .btn_pt{width:50px;height:30px;background:#4dc077;border:none;color:#fff;text-align: center;margin:10px 10px 0px 47px}
.mainTable tr td{vertical-align:middle;}
.mainTable tr {height:35px;}
.mainTable select{width:250px;border:1px solid #D7D8DF;margin:5px 0;}
.mainTable textarea{width:250px;border:1px solid #D7D8DF;margin:5px 0;}
.mainTable input{width:250px;border:1px solid #D7D8DF;padding:5px 0;}
.mainTable input[type='button']{cursor: pointer}

table.tainte a.Uploadbot{ display:block; background:#fff; width:400px; height:80px; font-size:30px; font-weight:bold; text-align:center; line-height:80px; margin-top:20px;}
table.tainte a.Uploadbot:hover{ text-decoration:none; color:#22ac38;}

.uploadDiv{background:url('../images/sel_img_load.png') no-repeat;margin-left:31px;float:left;width:177px;height:32px;position: Relative;display:block;font-size:30px; font-weight:bold; text-align:center;}

/*登录之后的欢迎页面 start*/
.main_login{margin:0 auto;}
.rt_ct {
    margin-left: 80px;
    margin-top: 40px;
    width: 500px;
}
.rt_ct h3{font-size:36px;}
.lt_img{background:url("../images/wecome_index_img.png") no-repeat;  bottom: 60px;display: block;height: 241px; position: absolute;right: 50px;width: 220px;}
.divieder_line{border-bottom:1px solid #b9c2c4;display: block;margin:16px 0;}
.txt_come {display:block;font-size:28px;}
.txt_time{display:block;font-size:24px;color:#8e9293;}
.txt_come i{color:#ff8333;font-style:normal;}
/*登录之后的欢迎页面 end*/