///max 720px
@media (max-width: 720px){
	.download-logo{
		height:140px;
		background-size:auto 120px;
	}
	.download-btn{
		height:850px;
		background-size:auto 500px;
	}
}

///max 640px
@media (max-width: 640px){
	.download-logo{
		height:120px;
		background-size:auto 100px;
	}
	.download-btn{
		padding:40px 0 0 0;
		height:700px;
		background-size:auto 400px;
		>a{
			&:first-child{
				width:346px;
				height:58px;
				background-size:auto 58px;
			}
			&:first-child　+ a{
				width:346px;
				height:58px;
				background-size:auto 58px;
			}
		}
	}
}

///max 480px
@media (max-width: 480px){
	.download-logo{
		height:100px;
		background-size:auto 80px;
	}
	.download-btn{
		height:500px;
		padding:30px 0 0 0;
		background-size:auto 300px;
		>a{
			&:first-child{
				margin:0 auto 30px auto;
				width:256px;
				height:44px;
				background-size:auto 44px;
			}
			&:first-child　+ a{
				width:257px;
				height:44px;
				background-size:auto 44px;
			}
		}
	}
	
}

///max 320px
@media (max-width: 320px){
	.download-logo{
		height:80px;
		background-size:auto 60px;
	}
	.download-btn{
		padding:20px 0 0 0;
		height:350px;
		background-size:auto 200px;
		>a{
			&:first-child{
				margin:0 auto 20px auto;
				width:173px;
				height:29px;
				background-size:auto 29px;
			}
			&:first-child　+ a{
				width:173px;
				height:29px;
				background-size:auto 29px;
			}
		}
	}
	
}

@media (-webkit-max-device-pixel-ratio:3){
	.download-logo{
		height:80px;
		background-size:auto 52px;
	}
	.download-btn{
		height:400px;
		background-size:auto 175px;
		>a{
			&:first-child{
				width:173px;
				height:29px;
				background-size:auto 29px;
			}
			&:first-child　+ a{
				width:173px;
				height:29px;
				background-size:auto 29px;
			}
		}
	}
}
@media (-webkit-max-device-pixel-ratio:2){
	.download-logo{
		height:100px;
		background-size:auto 79px;
	}
	.download-btn{
		height:500px;
		background-size:auto 260px;
		>a{
			&:first-child{
				width:256px;
				height:44px;
				background-size:auto 44px;
			}
			&:first-child　+ a{
				width:257px;
				height:44px;
				background-size:auto 44px;
			}
		}
	}
}
