///首页
///作者：易品

//页面全局
body{
	.layout-base;
}

.download-logo{
	.layout-base;
	height:180px;
	background:url(../images/download_logo.png) no-repeat center bottom;
	margin:0 0 20px 0;
}

.download-btn{
	.layout-base;
	height:900px;
	background:url(../images/download_bg.png) no-repeat center bottom;
	margin:0 0 20px 0;
	padding:50px 0 0 0;
	>a{
		display:block;
		.user-select-base;
		&:first-child{
			margin:0 auto 40px auto;
			width:511px;
			height:88px;
			background:url(../images/download_androidbtn.png) no-repeat 0 0;
		}
		&:first-child　+ a{
			margin:0 auto;
			width:513px;
			height:88px;
			background:url(../images/download_iosbtn.png) no-repeat 0 0;
		}
	}
}
















