body{ padding:0;margin:0;font:normal 12px/180% "ו"; color:#000;background:#fff;}
h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
div{ margin:0 auto;text-align:left;font:normal 12px/180% "ו";}
a:link,a:visited{color:#000; text-decoration:none}
a:hover{color:#000; text-decoration:underline}
img{border:none}
ol,ul,li{list-style:none;}

.yy_top{ width:100%; height:34px; background:url(images/gv_02.jpg) repeat-x left top; line-height:34px;}
.buttom{ width:41px; height:19px; background:url(images/mj.png) no-repeat; border:0;}
.rwe{ width:125px; border:#d5eaf4 1px solid;}
.g4w{ width:55px; border:#d5eaf4 1px solid;}

.rtg{ color:#498407;}
.rtg a,.rtg a:visited{ color:#498407}
.rtg a:hover{ text-decoration:underline;}

.banner{ width:980px; height:144px;}

.mu{ width:980px; height:40px; background:#3d9ee9;}
.mu ul{ margin:0; padding:0;}
.mu ul li{ float:left;}
/*.mu ul li.back{position:absolute;left:10px;top:35px;border-bottom:1px solid #fff;width:80px;background:#0bb8d2;}*/
.mu a,.mu a:visited{ color:#FFFFFF; font-weight:bold; width:108px; float:left; line-height:40px; text-align:center; font-size:14px; display:block;}
.mu a:hover{ background:#0bb8d2;}