///*顶部按钮一像素下移*/
.user-info-menu{
	li a{
		top:0 !important;
	}
}

///*菜单图标*/
[class^="menu-ux-"]:before,[class*=" menu-ux-"]:before{
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right:-6px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left:14px;
}
@media screen and (min-width: @screen-sm){
		[class^="menu-ux-"]:before,[class*=" menu-ux-"]:before{
			margin-right:0;
			margin-left:0;
		}
}
/*首页*/
.menu-ux-home{
	font-family:'ux_six';
	&:before{
		content:'\e64a';
	}
}
/*代理管理*/
.menu-ux-agent{
	font-family:'ux_six';
	&:before{
		content:'\e65c';
	}
}
/*内容管理*/
.menu-ux-article{
	font-family:'ux_six';
	&:before{
		content:'\e638';
	}
}
/*商城管理*/
.menu-ux-shop{
	font-family:'ux_six';
	&:before{
		content:'\e629';
	}
}
/*服务栏管理*/
.menu-ux-serve{
	font-family:'ux_six';
	&:before{
		content:'\e68a';
	}
}
/*信用卡管理*/
.menu-ux-credit{
	font-family:'ux_six';
	&:before{
		content:'\e679';
	}
}
/*财务管理*/
.menu-ux-finance{
	font-family:'ux_six';
	&:before{
		content:'\e678';
	}
}
/*收付款管理*/
.menu-ux-payment{
	font-family:'ux_six';
	&:before{
		content:'\e627';
	}
}
/*用户管理*/
.menu-ux-user{
	font-family:'ux_six';
	&:before{
		content:'\e65a';
	}
}
/*广告管理*/
.menu-ux-ad{
	font-family:'ux_six';
	&:before{
		content:'\e63a';
	}
}
/*系统管理*/
.menu-ux-admin{
	font-family:'ux_six';
	&:before{
		content:'\e634';
	}
}
/*物流管理*/
.menu-ux-logistics{
	font-family:'ux_six';
	&:before{
		content:'\e625';
	}
}
/*报表管理*/
 .menu-ux-chart{
	 font-family:'ux_six';
	 &:before{
		 content:'\e6a9';
	 }
 }
/*三级分销管理*/
.menu-ux-distribution{
	font-family:'ux_one';
	&:before{
		content:'\e6c2';
	}
}
/*仓库管理*/
.menu-ux-store{
	font-family:'ux_five';
	&:before{
		content:'\e63e';
	}
}
/*采购管理*/
.menu-ux-purchase{
	font-family:'ux_five';
	&:before{
		content:'\e624';
	}
}
/*库存管理*/
.menu-ux-inventory{
	font-family:'ux_five';
	&:before{
		content:'\e63d';
	}
}
/*回收站管理*/
.menu-ux-delete{
	font-family:'ux_one';
	&:before{
		content:'\e72c';
	}
}
/*网站设置*/
.menu-ux-setting{
	font-family:'ux_one';
	&:before{
		content:'\e6fa';
	}
}
/*明细记录*/
.menu-ux-record{
	font-family:'ux_one';
	&:before{
		content:'\e6ee';
	}
}
/*平台管理*/
.menu-ux-platform{
	font-family:'ux_two';
	&:before{
		content:'\e63a';
	}
}













//主显示区设置
.row-main-wrap{
	@heightgap:275px;
	min-height:300px;
	.calc-base(min-height,'100% - @{heightgap}');
	.calc-base(min-height,'100vh - @{heightgap}');
}