@charset "utf-8";
/* CSS Document */
/*通用样式*/
body{margin:0;padding:0;background:#f4f3f3 url(../images/body_bg.png) repeat-x center top;}
body *{margin:0;padding:0;font-size:12px;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;}
body *:focus{outline:none;}
.container{width:1003px;height:auto;margin:0 auto;}
/*顶部区域*/
/*顶部信息区*/
.header{width:1003px;height:193px;position:relative;}
.toptip-infos{width:1003px;height:50px;}
.logo{width:240px;height:43px;float:left;margin:2px 0 0 50px;background:url(../images/logo.png) no-repeat center center;overflow:hidden;display:inline;text-indent:-9999px;}
.logins{width:500px;height:20px;float:left;display:inline;margin:15px 0 0px 100px;}
.logins table label{cursor:pointer;text-align:right;width:60px;height:19px;line-height:1.7em;display:block;}
.logins table label:hover{color:red;}
.readnum,.librarypd{float:left;width:128px;height:19px;line-height:1.5em;background:url(../images/login_text.png) repeat-x center center;border:none;display:inline;}
.loginimgl,.loginimgr{float:left;width:3px;height:19px;border:none;display:inline;}
.loginbtn{width:43px;height:19px;background:url(../images/login_btn.png) no-repeat center center;line-height:1.5em;border:none;cursor:pointer;margin-left:5px;}
.loginbtn:hover{color:#00F;}
/*banner*/
.banner{width:1003px;height:106px;background:url(../images/banner.jpg) no-repeat center center;}
.banner h1{text-indent:-9999px;}
/*导航*/
.nav{width:1003px;height:37px;}
.menu{width:1000px;height:37px;margin:0 auto;overflow:hidden;}
.menu li{float:left;margin:5px;width:155px;height:27px;}
.menu li a{width:100%;height:100%;display:block;text-align:center;line-height:1.9em;font-size:14px;color:#333;}
.menu li a:hover{color:#000;text-decoration:underline;letter-spacing:1px;}
/*主内容区*/
/*主内容分栏*/
.content{float:left;width:1001px;height:auto;border-left:1px solid #7f7e7e;border-right:1px solid #7f7e7e;background:#fff;}
.sideboxl,.mainbox,.sideboxr{float:left;}
.sideboxl,.sideboxr{width:230px;_width:225px;}
.mainbox{width:538px;}
/*侧边栏*/
.notice{width:214px;height:235px;background:#fff url(../images/infos_bg.png) no-repeat center center;margin:5px auto 10px auto;position:relative;}
.notice p{width:180px;height:120px;position:absolute;top:70px;left:17px;overflow:hidden;text-indent:2em;line-height:1.5em;color:#555;}
.notice p span{margin-left:5px;color:#000;}
.notice p span a{color:#00F;}
.notice p span a:hover{color:red;}
.outlinks{width:214px;height:240px;margin:0 auto;background:#fff;}
.outlinks1,.outlinks2,.outlinks3{float:left;width:214px;height:55px;margin-top:20px;}
.outlinks1{background:url(../images/outlink1.png) no-repeat center center;}
.outlinks2{background:url(../images/outlink2.png) no-repeat center center;}
.outlinks3{background:url(../images/outlink3.png) no-repeat center center;}
.linka-chi,.linkb-chi,.linkc-chi{font-size:16px;width:214px;display:block;color:#666;height:30px;text-align:left;line-height:2.5em;text-indent:60px;}
.linka-chi:hover,.linkb-chi:hover,.linkc-chi:hover{color:#F00;}
.linka-eng,.linkb-eng,.linkc-eng{text-transform:capitalize;width:214px;display:block;text-align:left;text-indent:60px;}
.linka-eng:hover,.linkb-eng:hover,.linkc-eng:hover{text-decoration:underline;}
/*侧边栏*/
.serverlist{float:left;width:220px;height:150px;margin:15px 0;background:#fff url(../images/serverlistbg.png) no-repeat center 30px;}
.readbooks{float:left;width:220px;height:200px;margin:15px 0;background:#fff url(../images/serverlistbg.png) no-repeat center 30px;}
.serverlist p,.readbooks p{width:200px;height:40px;line-height:2.2em;font-size:14px;margin:0 auto;}
.serverlist p a,.readbooks p a{margin:-25px 0 0 150px;width:46px;height:17px;background:url(../images/more.png) no-repeat center center;display:block;line-height:1.6em;text-align:center;color:#666;}
.serverlist p a:hover,.readbooks p a:hover{color:#f00;}
.serverlist ul{width:220px;height:100px;overflow:hidden;}
.readbooks ul{width:220px;height:150px;overflow:hidden;}
.serverlist ul li{float:left;width:220px;height:14px;background:url(../images/serverlisticon.png) no-repeat 20px center;text-indent:35px;margin:5px auto;}
.readbooksdefalt{float:left;width:220px;height:14px;background:url(../images/newbooksdiggicondefault.png) no-repeat 20px center;text-indent:35px;margin:5px auto;}
.readbooksone{float:left;width:220px;height:14px;background:url(../images/newbooksdiggiconone.png) no-repeat 20px center;text-indent:35px;margin:5px auto;}
.readbookstwo{float:left;width:220px;height:14px;background:url(../images/newbooksdiggicontwo.png) no-repeat 20px center;text-indent:35px;margin:5px auto;}
.readbooksthree{float:left;width:220px;height:14px;background:url(../images/newbooksdiggiconthree.png) no-repeat 20px center;text-indent:35px;margin:5px auto;}
.serverlist ul li a,.readbooks ul li a{width:100%;height:100%;overflow:hidden;}
.serverlist ul li a:hover,.readbooks ul li a:hover{color:#FF6600;}
/*主栏目*/
/*搜索部分基础和高级公共部分*/
.searchs{width:532px;height:auto;margin:5px auto;position:relative;}
.searchtheme{width:530px;height:70px;background:url(../images/searchbg.png) no-repeat 10px 0;text-indent:-9999px;}
#searchswitch{width:530px;height:16px;margin-left:20px;background:url(../images/searchline.png) no-repeat 150px 15px;}
.searchswitchd{width:77px;height:16px;float:left;text-align:center;background:url(../images/searchswitchd.png) no-repeat center center;line-height:1.5em;cursor:pointer;}
.searchswitchs{width:77px;height:16px;float:left;text-align:center;background:url(../images/searchswitchs.png) no-repeat center center;line-height:1.5em;color:red;cursor:pointer;}
#baseselect{width:530px;height:auto;/*background:#EEFBFF;*/}
#highselect{width:530px;height:auto;display:none;/*background:#EEFBFF;*/}
/*书籍类型模拟下拉框*/
.bsearchselect,.hsearchselect{width:530px;height:64px;position:relative;}
.bsearchname,.hsearchname{width:60px;height:16px;position:absolute;left:30px;top:30px;}
.bbooktype,.hbooktype{clear:both;position:relative;left:90px;top:25px;width:175px;height:22px;display:none;}
.mnbbooktype,.mnhbooktype{width:175px;height:22px;position:relative;left:90px;top:25px;}
.bbooktypeshow,.hbooktypeshow{width:175px;height:22px;overflow:hidden;cursor:pointer;position:absolute;}
.bbooktypecontent,.hbooktypecontent{width:150px;height:22px;text-indent:2px;line-height:1.8em;position:absolute;left:0;top:0;overflow:hidden;background:url(../images/book_selecttext.png) no-repeat center center;display:block;z-index:100;}
.bbooktypebtn,.hbooktypebtn{width:25px;height:22px;overflow:hidden;background:url(../images/book_selectbtn.png) no-repeat center center;position:absolute;left:150px;top:0;}
.bbooktypeimgdef,.hbooktypeimgdef{width:5px;height:10px;border:none;position:absolute;top:5px;left:9px;}
.bbooktypeimgsel,.hbooktypeimgsel{width:10px;height:5px;border:none;position:absolute;top:8px;left:8px;display:none;}
.bbooktypeul,.hbooktypeul{position:relative;left:0;top:22px;border-left:1px solid #acabab;border-right:1px solid #acabab;border-bottom:1px solid #acabab;display:none;background:#fff;z-index:200;}
.bbooktypeul li,.hbooktypeul li{width:149px;height:16px;margin:0 auto;cursor:pointer;line-height:1.3em;overflow:hidden;}
/*模拟结束*/
.bsearchbox{width:530px;height:40px;}
.bsearchtext{width:400px;height:30px;float:left;margin-left:30px;display:inline;}
.bsearchtext img{border:none;float:left;}
.bsearchbookdef{float:left;border:none;width:350px;height:26px;line-height:1.8em;background:url(../images/searchtextm.png) repeat-x center center;color:#666;font-size:14px;}
.bsearchbooksel{float:left;border:none;width:350px;height:26px;line-height:1.8em;background:url(../images/searchtextm.png) repeat-x center center;color:#000;font-size:14px;}
.bsearchbtn{width:63px;height:26px;background:url(../images/searchbtn.png) no-repeat center center;border:none;}
/*高级部分*/
.hsearchbox{width:530px;height:auto;/*background:#EEFBFF;*/}
.hsearchtable{width:500px;height:auto;margin:10px auto;border:none;}
.hsearchtable tr td{padding:5px 0;}
#typenamelab,#lannamelab,#publishlab,#booknamelab,#holdingnamelab{cursor:pointer;float:right;margin-right:5px;}
.inquirel,.inquirer{border:none;float:left;width:3px;height:19px;overflow:hidden;}
.typename,.lanname,.publish,.bookname,.holdingname{float:left;width:100px;height:19px;border:none;background:url(../images/inquirem.png) repeat-x center center;line-height:1.5em;}
.publish,.bookname{width:150px;}
.hsearchbtn{width:63px;height:25px;background:url(../images/hsearchbtnbg.png) no-repeat center center;border:none;margin-left:50px;}
/*新书推荐*/
#newbooks{width:530px;height:auto;float:left;margin:5px 0;}
.newbooktitle{background:url(../images/newbookbg.png) no-repeat center bottom;width:530px;height:40px;line-height:2.5em;font-size:14px;margin:5px auto;text-indent:50px;}
.newbooktitle a{margin:-25px 0 0 450px;width:46px;height:17px;background:url(../images/more.png) no-repeat center center;display:block;line-height:1.6em;text-align:center;color:#666;text-indent:0;}
.newbooktitle a:hover{color:red;}
.newbookshow1,.newbookshow2,.newbookshow3{float:left;width:160px;height:220px;margin:5px;overflow:hidden;position:relative;}
.newbooksicon{float:left;width:160px;height:100px;background:url(../images/newbookicon.png) no-repeat center center;margin-top:10px;overflow:hidden;}
.newbooksicon p{width:70px;height:50px;margin:10px auto;text-align:center;line-height:1.5em;word-break:break-all;word-wrap:break-word;overflow:hidden;color:#fff;}
.newbooklink{width:160px;height:20px;float:left;text-align:center;margin:5px auto;overflow:hidden;position:relative;}
.newbooklink a:hover{color:red;}
#newbooktips1,#newbooktips2,#newbooktips3{width:14px;height:15px;border:none;margin:0 0 -3px 5px;overflow:hidden;cursor:pointer;}
#newbookremark1,#newbookremark2,#newbookremark3{width:150px;height:80px;background:url(../images/newbookremark.png) no-repeat center center;position:absolute;top:132px;left:5px;overflow:hidden;display:none;}
#newbookremark1 li,#newbookremark2 li,#newbookremark3 li{float:left;width:140px;height:12px;margin:2px 0 2px 5px;overflow:hidden;}
#newbookremark1 .nbrone,#newbookremark2 .nbrone,#newbookremark3 .nbrone{margin-top:15px;}
#newbookremark1 li a,#newbookremark2 li a,#newbookremark3 li a{color:#555;}
#newbookremark1 li a span,#newbookremark2 li a span,#newbookremark3 li a span{color:red;}
#newbookremark1 li a:hover,#newbookremark2 li a:hover,#newbookremark3 li a:hover{text-decoration:underline;}
/*友情链接*/
.bottombox{float:left;width:1000px;height:auto;margin:5px auto;border-top:1px solid #ccc;}
.bottombox p{text-align:left;width:1000px;height:14px;font-size:14px;text-indent:50px;line-height:1.5em;color:#333;margin-top:5px;}
.bottombox ul{float:right;width:800px;height:auto;margin:0 40px 10px auto;}
.bottombox ul li{float:left;width:auto;height:12px;margin:3px 5px;}
.bottombox ul li a{width:100%;height:100%;margin-right:7px;color:#666;}
.bottombox ul li a:hover{text-decoration:underline;color:#000;}

/*底部信息*/
.bookscontainer:after{clear:both;height:0;line-height:0;visibility:hidden;content:"";}
.footer{clear:both;height:100px;min-width:1003px;background:#e8e8e8 url(../images/footerbg.png) repeat-x center top;margin:0 auto;}
.footinfos{width:800px;height:60px;margin:0 auto;padding-top:20px;}
.footinfos p{float:left;width:800px;text-align:center;font-size:12px;line-height:1.3em;margin:2px 0;}









