///*--图标字体--*/

@font-face{
    font-family:'ux_one';
    src:url('@{ux-font-one-url}@{ux-font-name}.eot');
    src:url('@{ux-font-one-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-one-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-one-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-one-url}@{ux-font-name}.svg#svgFontName') format('svg');
}