/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff url(../images/login_bg.png) repeat-x 0 0;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体","微软雅黑", serif, sans-serif,"Microsoft Yahei", Vrinda;list-style:none;resize:none;border:0 none;}
body *:focus{outline:none;}
/*layout*/
.container{width:1000px;height:auto;margin:0 auto;}
.header{width:1000px;height:94px;}
.content{width:1000px;height:500px;position:relative;left:0;top:0;}
.footer{width:1000px;border-top:1px solid #ccc;margin:5px 0;height:40px;}
/*header*/
.logo{width:300px;height:94px;float:left;background:#fff url(../images/login_logo.png) no-repeat center center;overflow:hidden;text-indent:-9999px;}
.user_interface{width:200px;height:94px;float:right;}
.user_interface li{float:left;width:auto;height:94px;background:#fff url(../images/hots_split.png) no-repeat right center;}
.user_interface li a{padding:0 10px;line-height:94px;text-align:center;font-size:12px;color:#666;}
.login_none{background-image:none !important;}
.user_interface li a:hover{text-decoration:underline;color:#000;-moz-text-shadow:1px 1px 3px #ddd;-ms-text-shadow:1px 1px 3px #ddd;-o-text-shadow:1px 1px 3px #ddd;-webkit-text-shadow:1px 1px 3px #ddd;text-shadow:1px 1px 3px #ddd;-moz-transition:all ease-in .3s .05s;-ms-transition:all ease-in .3s .05s;-o-transition:all ease-in .3s .05s;-webkit-transition:all ease-in .3s .05s;transition:all ease-in .3s .05s;}
/*content*/
.login_theme{width:640px;height:460px;position:absolute;left:5px;top:20px;}
.login_theme img{max-width:640px;max-height:460px;display:block;margin:0 auto;}
.login_wrap{background:#fff url(../images/login_panel.png) no-repeat 0 0;width:336px;height:456px;position:absolute;right:5px;top:17px;}
/*form*/
/*fieldset*/
.login_username,.login_password,.login_valid{width:300px;height:30px;position:absolute;left:20px;}
.login_state{width:200px;height:20px;position:absolute;left:80px;}
.login_login,.login_register{width:220px;position:absolute;left:60px;}
.login_username{top:80px;}
.login_password{top:130px;}
.login_valid{top:180px;}
.login_state{top:230px;}
.login_login{top:270px;height:36px;}
.login_register{top:320px;height:40px;}
/*label*/
.login_username label,.login_password label,.login_valid label{float:left;font-size:14px;display:block;width:60px;cursor:pointer;line-height:30px;height:30px;text-align:right;color:#333;font-family:"微软雅黑","Microsoft Yahei","宋体",serif,sans-serif,Vrinda;}
.login_state label{float:left;font-size:14px;display:block;cursor:pointer;line-height:20px;_line-height:27px;color:#09F;}
/*input*/
.login_username input,.login_password input,.login_valid input{float:left;height:28px;border:1px solid #999;-webkit-box-shadow:0 0 3px #ccc inset;-moz-box-shadow:0 0 3px #ccc inset;-ms-box-shadow:0 0 3px #ccc inset;-o-box-shadow:0 0 3px #ccc inset;box-shadow:0 0 3px #ccc inset;line-height:28px;font-size:14px;color:#333;}
.login_state input{float:left;margin:3px 5px 0 5px;}
.login_username input,.login_password input{width:220px;}
.login_valid input{width:60px;}
.login_username input:focus,.login_password input:focus,.login_valid input:focus,.login_state input:focus{border:1px solid #09F;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;}
/*button*/
.login_login input{float:left;width:85px;height:36px;background:url(../images/login_login.png) no-repeat center center;cursor:pointer;color:#fff;font-weight:bold;}
.login_login input:hover{-webkit-text-shadow:0 0 2px #fff;-moz-text-shadow:0 0 2px #fff;-ms-text-shadow:0 0 2px #fff;-o-text-shadow:0 0 2px #fff;text-shadow:0 0 2px #fff;-moz-transition:all ease-in .2s .05s;-ms-transition:all ease-in .2s .05s;-o-transition:all ease-in .2s .05s;-webkit-transition:all ease-in .2s .05s;transition:all ease-in .2s .05s;}
.login_register input{width:140px;height:40px;background:url(../images/login_register.png) no-repeat center center;margin:0 auto;display:block;cursor:pointer;overflow:hidden;text-indent:-9999px;}
/*a*/
.login_login a{float:left;width:120px;height:36px;line-height:36px;font-size:12px;color:#09F;margin-left:10px;}
.login_login a:hover{text-decoration:underline;}
/*img*/
.login_valid img{float:left;display:block;width:60px;height:26px;border:1px solid #999;margin-left:5px;cursor:pointer;}
/*p*/
.login_tips{width:300px;height:50px;position:absolute;left:20px;top:386px;font-size:12px;word-break:break-all;word-wrap:break-word;line-height:20px;color:#666;}
/*span*/
.un_tips,.pw_tips,.vc_tips{width:220px;height:20px;position:absolute;font-size:12px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:20px;left:80px;color:#f00;}
.un_tips{top:110px;}
.pw_tips{top:160px;}
.vc_tips{top:210px;}
/*footer*/
.footer p{width:1000px;height:39px;line-height:39px;text-align:center;word-break:break-all;word-wrap:break-word;overflow:hidden;font-size:14px;color:#666;}