@charset "utf-8";
/* CSS Document */
/*layout*/
.container{width:990px;height:auto;margin:0 auto;background:#fff url(../images/content_bg.png) repeat-y center top;}
.header_wrap{width:959px;margin:0 auto;}
.content{width:945px;height:auto;background:#fff;margin:0 auto;}
.clears{clear:both;line-height:none;height:0;visibility:hidden;}
/*details*/
/*---slide---*/
.slide_wrap{width:945px;height:440px;position:relative;left:0;top:0;margin:0 auto;z-index:1;overflow:hidden;}
/*img*/
.slide_img{width:945px;height:440px;position:absolute;left:0;top:0;z-index:2;}
.slide_img li{float:left;width:945px;height:440px;display:none;}
.slide_img li.slideimg_sel{display:block;}
/*tag*/
.slide_tag{width:auto;height:20px;position:absolute;right:30px;top:360px;z-index:10;}
.slide_tag li{width:20px;height:20px;float:left;margin:0 8px;background:url(../images/slide_btn_def.png) no-repeat center center;}
.slide_tag li.slidetag_sel{background:url(../images/slide_btn_sel.png) no-repeat center center;}
.slide_tag li a{width:20px;height:20px;display:block;font-size:12px;text-align:center;line-height:20px;color:#fff;font-weight:bold;}
.slide_tag li a:hover{-webkit-text-shadow:0 0 2px #fff;-moz-text-shadow:0 0 2px #fff;-ms-text-shadow:0 0 2px #fff;-o-text-shadow:0 0 2px #fff;text-shadow:0 0 2px #fff;-moz-transition:all ease-in .2s .05s;-ms-transition:all ease-in .2s .05s;-o-transition:all ease-in .2s .05s;-webkit-transition:all ease-in .2s .05s;transition:all ease-in .2s .05s;}
/*tips*/
.slide_tips{width:945px;height:40px;position:absolute;left:0;top:400px;z-index:5;opacity:0.6;filter:alpha(opacity=60);}
.slide_tips p{width:945px;height:40px;line-height:40px;text-indent:50px;font-size:20px;color:#fff;font-weight:bold;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:#000;font-family:"微软雅黑", "楷体_GB2312", "宋体";letter-spacing:1px;}
.slide_tips p:hover{-moz-text-shadow:0 0 3px #fff;-ms-text-shadow:0 0 3px #fff;-o-text-shadow:0 0 3px #fff;-webkit-text-shadow:0 0 3px #fff;text-shadow:0 0 3px #fff;-moz-transition:all ease-in 0.3s 0.05s;-ms-transition:all ease-in 0.3s 0.05s;-o-transition:all ease-in 0.3s 0.05s;-webkit-transition:all ease-in 0.3s 0.05s;transition:all ease-in 0.3s 0.05s;}
/*---news-hots---*/
/*btn*/
.home_hots{width:945px;height:31px;float:left;margin:10px 0;background:#fff url(../images/home_hots.png) no-repeat 0 0;}
.hots_btn{width:150px;height:31px;float:left;background:url(../images/hots_split.png) no-repeat 121px 8px;}
.hots_btn div{float:right;}
.hots_btn_up,.hots_btn_down{display:block;float:left;width:16px;height:31px;line-height:31px;font-size:14px;text-align:center;text-indent:-9999px;overflow:hidden;margin-right:8px;_margin-right:5px;}
.hots_btn_up{background:transparent url(../images/hot_btn_up.png) no-repeat 4px 10px;}
.hots_btn_down{background:transparent url(../images/hot_btn_down.png) no-repeat 4px 10px;}
/*list*/
.hots_show{width:550px;height:31px;float:left;}
.hots_show li{width:550px;height:31px;float:left;display:none;}
.hots_show li.hots_show_sel{display:block;}
.hots_show li span{float:left;width:3px;height:3px;margin:14px 5px 0 5px;overflow:hidden;background:#333;}
.hots_show li a{float:left;display:block;width:200px;height:31px;line-height:32px;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#333;}
.hots_show li a:hover{color:#d82825;_text-decoration:underline;-moz-transition:color ease-in .2s .05s;-ms-transition:color ease-in .2s .05s;-o-transition:color ease-in .2s .05s;-webkit-transition:color ease-in .2s .05s;transition:color ease-in .2s .05s;}
.hots_show li p{width:80px;height:31px;line-height:32px;float:left;font-size:12px;color:#666;text-align:center;}
.hots_show li:hover span{background:#09F;-moz-transition:all ease-in .2s .05s;-ms-transition:all ease-in .2s .05s;-o-transition:all ease-in .2s .05s;-webkit-transition:all ease-in .2s .05s;transition:all ease-in .2s .05s;}
.hots_show li:hover p{color:#333;-moz-transition:all ease-in .5s .05s;-ms-transition:all ease-in .5s .05s;-o-transition:all ease-in .5s .05s;-webkit-transition:all ease-in .5s .05s;transition:all ease-in .5s .05s;}
/*menu*/
.hots_menu{width:240px;height:31px;float:left;}
.hots_menu li{float:left;height:31px;width:auto;background:url(../images/hots_split.png) no-repeat right center;}
.hots_menu li.menu_none{background:none !important;}
.hots_menu li a{padding:0 14px;text-align:center;line-height:32px;font-size:12px;}
.hots_menu li a:hover{text-decoration:underline;color:#09F;}
/*home-theme*/
.home_theme{float:left;width:945px;height:auto;}
.home_theme img{display:block;max-width:945px;margin:0 auto;}
/*home-tips*/
.home_tips{width:945px;height:auto;margin:20px 0;float:left;}
.home_tips li{float:left;width:280px;height:84px;margin-left:26px;*+margin-left:12px;}
.home_tips li a{float:left;display:block;text-align:center;line-height:84px;width:280px;height:84px;overflow:hidden;text-indent:-9999px;font-size:12px;}
.home_active{background:#fff url(../../../../ResponsiveWebDesign_Web/TCL_carweb/source/images/home_tips.jpg) no-repeat 0 0;}
.home_download{background:#fff url(../../../../ResponsiveWebDesign_Web/TCL_carweb/source/images/home_tips.jpg) no-repeat -280px 0;}
.home_service{background:#fff url(../../../../ResponsiveWebDesign_Web/TCL_carweb/source/images/home_tips.jpg) no-repeat -560px 0;}
