/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff url(../../images/body_bg.png) repeat center center;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:none;}
body *:focus{outline:none;}
/*header*/
.header{width:100%;height:100px;background:#eee;border-bottom:1px solid #999;}
.banner{width:1000px;height:100px;margin:0 auto;background:transparent url(../../images/logo_bg.png) no-repeat 100px 10px;}
.banner h1,.banner h2{width:1000px;height:auto;color:#021373;}
.banner h1{font-size:40px;text-indent:200px;padding:10px 0 5px 0;font-family:"黑体",serif;}
.banner h2{font-size:20px;text-indent:400px;font-family:"楷体_GB2312",serif;}
/*container*/
.container{width:1002px;height:auto;margin:0 auto;}
.content{width:960px;height:auto;margin:0 auto;}
.mainbox{width:750px;height:auto;margin:50px auto;background:#fff;}
.container:after{clear:both;visibility:hidden;height:0;line-height:0;content:"";}
/*detail*/
/*doc-title*/
.dstheme{width:700px;margin:0 auto;height:80px;position:relative;left:0;top:0;}
.dstheme h3{width:100%;height:auto;padding:5px 0;font-size:24px;text-align:center;font-weight:bold;}
.print_btn{font-size:14px;width:121px;height:29px;overflow:hidden;background:url(../../images/namingbill/preprint_btn.png) no-repeat center center;cursor:pointer;color:#069;position:absolute;right:80px;top:40px;}
.print_btn:hover{color:#930;text-decoration:underline;}
/*table*/
.dsheader{width:700px;margin:0 auto;height:auto;border:0 none;border-collapse:collapse;empty-cells:show;table-layout:fixed;}
.dsdsmain,.dsrimain{width:700px;margin:0 auto;height:auto;border-left:2px solid #333;border-top:2px solid #333;border-right:2px solid #333;border-collapse:collapse;empty-cells:show;table-layout:fixed;}
.dsaimain{width:700px;margin:0 auto;height:auto;border-left:2px solid #333;border-top:2px solid #333;border-right:1px solid #333;border-bottom:1px solid #333;*+border:2px solid #333;*+border-collapse:collapse;empty-cells:show;table-layout:fixed;}
.dsheader tr td{padding:3px 0;}
.dsdsmain tr td{padding:10px 0;}
.dsrimain tr td{padding:10px 0;vertical-align:top;}
.dsaimain tr td{padding:3px 0;border-right:1px solid #333;border-bottom:1px solid #333;}
/*table-format*/
.ds_hg1{width:5% !important;}
.ds_hg2{width:60% !important;}
.ds_hg3{width:30% !important;}
.ds_hg4{width:5% !important;}
.ds_dsmg1{width:17% !important;}
.ds_dsmg2{width:30% !important;}
.ds_dsmg3{width:16% !important;}
.ds_dsmg4{width:30% !important;}
.ds_dsmg5{width:7% !important;}
.ds_rimg1{width:17% !important;}
.ds_rimg2{width:6% !important;}
.ds_rimg3{width:32% !important;}
.ds_rimg4{width:6% !important;}
.ds_rimg5{width:32% !important;}
.ds_rimg6{width:7% !important;}
.ds_aimg1{width:15% !important;}
.ds_aimg2{width:45% !important;}
.ds_aimg3{width:20% !important;}
.ds_aimg4{width:20% !important;}
/*div*/
.barcode{float:right;}
/*h1-h6*/
.ds_htitle,.ds_mtitle{width:100%;font-size:20px;margin:0 auto;padding:3px 0;text-align:center;color:#333;}
/*label*/
.main_name,.dsdsmain label,.dsrimain label{float:right;font-size:14px;cursor:pointer;padding:3px;}
/*text*/
.dsheader input{float:left;border-bottom:1px solid #333;height:20px;line-height:1.6em;font-size:14px;color:#555;width:100%;}
.dsdsmain input{float:left;border:1px solid #0088CA;background:#fff;height:26px;line-height:1.8em;font-size:14px;color:#555;width:99%;}
#mediatype,#unit,#drugtype,#addcontacts{width:97%;}
.dsdsmain fieldset label:hover{color:#930;}
/*textarea*/
.dsrimain textarea{float:left;width:98%;height:80px;border:1px solid #0088CA;font-size:14px;line-height:1.5em;color:#555;margin-bottom:20px;}
/*p*/
.dsaimain p{font-size:14px;text-align:center;padding:3px 0;}
/*td-line*/
.noline{border-bottom:0 none !important;}
/*footer*/
.footer{width:100%;height:auto;background:#eee;border-top:1px solid #999;float:left;}
.infos{width:1000px;height:auto;margin:0 auto;padding:10px 0;}
.infos p{width:1000px;height:auto;font-size:14px;padding:2px 0;text-align:center;}