///*--用户图像模块--*/
.iconmark{
	width:39px;
	height:39px;
	.layout-fixedlb-base(10px,10px,10);
	img{
		width:100%;
		height:100%;
		display:block;
		overflow:hidden;
		float:left;
		.border-radius-base(50%);
	}
}