/**
 * @name: cart.css
 *
 * @overview: new cart style
 *
 * @author: zengym@comepro.com
 * 
 * @modifier: 
 *
 * @date: 2013.3.11
 */
 
/*----- common -----*/
.cart_alert a.close,
.cart_icon_remove,
.cart_icon_wish,
.cart_bulkrate_btn.used i,
.cart_bulkrate_btn.unused i,
.cart_login i,
.cart_section_title,
.cart_alert .icon_ring {
	background: url(../img/cart/cart_icon.png) no-repeat;
}

.cart_icon_remove {
	background-position: 0 0;
}

.cart_alert a.close,
.cart_icon_remove:hover,
.cart_icon_remove.hover,
.cart_all_operate .oper:hover .cart_icon_remove {
	background-position: 0 -11px;
}

.cart_icon_wish {
	background-position: -11px 0;
}

.cart_icon_wish:hover, 
.cart_icon_wish.hover,
.cart_all_operate .oper:hover .cart_icon_wish{
	background-position: -11px -11px;
}

.cart_icon_wish.active,
.cart_all_operate .oper:hover .cart_icon_wish.active {
	background-position: -11px -22px;
}

.cart_bulkrate_btn.used i{ 
	background-position: -38px 0;
}

.cart_bulkrate_btn.used.hovered i{ 
	background-position: -38px -16px;
}

.cart_bulkrate_btn.unused i {
    background-position: -22px 0;
}

.cart_bulkrate_btn.unused.hovered i,
.cart_bulkrate_btn.disabled i { 
	background-position: -22px -16px;
}

.cart_login i{
	background-position: -54px 0;
}

.cart_login:hover i,
.cart_login.hover i,
.cart_login.active i{
	background-position: -54px -16px;
}

.cart_section_title{
	background-position: -64px -24px;
}

.cart_alert i.icon_ring{
	background-position: -64px -12px;
}

.cart_icon_remove,
.cart_icon_wish {
	display: inline-block;
	width: 11px;
	height: 11px;
	vertical-align: middle;
}

/*----- section -----*/

/* cart error */
.cart_errorwrap {
	position:absolute;
	bottom: 0;
	left: 229px;
	width: 500px;
	text-align: center;
}

.cart_errorwrap .error_msg {
	display: inline-block;
	margin: 0 auto;
	padding: 5px 15px;
	border: 1px solid #ccc;
	border-radius: 3px 3px 0 0;
	background: #f3f3f3; 
	background: -moz-linear-gradient(top, #f3f3f3 0%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#dbdbdb));
	background: -webkit-linear-gradient(top, #f3f3f3 0%,#dbdbdb 100%);
	background: -o-linear-gradient(top, #f3f3f3 0%,#dbdbdb 100%);
	background: -ms-linear-gradient(top, #f3f3f3 0%,#dbdbdb 100%);
	background: linear-gradient(to bottom, #f3f3f3 0%,#dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#dbdbdb',GradientType=0 );
	color: #f00;
	font-size: 11px;
	line-height: 14px;
}

/* notice */
.cart_alert {
	padding: 7px 0;
	border: 1px solid #e7d076;
	border-radius: 3px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.1);
	background-color: #fffae9;
	color: #432111;
	font-family: Tahoma;
	position: relative;
}

.cart_alert .icon_ring {
	width: 15px;
	height: 11px;
	position: absolute;
	top: 2px;
	left: 0;
}

.cart_alert a.close {
	width: 11px;
	height: 11px;
	position: absolute;
	top: 8px;
	right: 9px;
}

.cart_alert .notice {
	position: relative;
	height: 16px;
	padding-left: 20px;
	line-height: 16px;
}

.cart_alert_list {
	margin: 7px -10px 0 0;
	padding: 9px 0 2px;
	border-top: 1px dashed #CCCCCC;
}

.cart_alert_list .noborder 
{
    border: 0 none;
}

.cart_alert_list li {
	float: left;
	width: 300px;
	margin: 0 10px 0 0;
}

.cart_alert_list .pic {
	float: left;
	width: 36px;
	height: 36px;
	margin: 0 10px 0 0;
	border: 1px solid #ccc;
}

.cart_alert_list .info {
	display: table;
	width: 204px;
	height: 38px;
}

.cart_alert_list .info_cell {
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	line-height: 14px;
}

/* content */
.cart_section { float:left; width:100%; padding-bottom:40px; overflow:hidden;}

.cart_section_head {
	padding-top: 10px;
}

.cart_section_title {
	height: 24px;
	padding-left: 36px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}

.cart_section_loginwrap {
    margin: 3px 0 -3px;
}

.cart_section_userwrap {
	margin-top: 10px;
}

.cart_login {
	display: inline-block;
	margin-right: 5px;
	padding: 3px 6px;
	border: 1px solid #bababa;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #fdfdfd,  #f0f0f0);
	background: -o-linear-gradient(top, #fdfdfd, #f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f0f0f0');
	background: linear-gradient(top, #fdfdfd, #f0f0f0);
	vertical-align: middle;
	font-weight: bold;
}

.cart_login i {
	display: inline-block;
	width: 10px;
	height: 14px;
	margin-right: 3px;
	vertical-align: middle;
}

.cart_login .txt {
	display: inline-block;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	color: #666;
}

.cart_login:hover,.cart_login.hover,.cart_login.active{
	border-color: #f99d60;
}

.cart_login:hover .txt,.cart_login.hover .txt,.cart_login.active .txt{
	color:#ff6500
}

.cart_section_loginwrap .tip {
	display: inline-block;
    vertical-align: middle;
    line-height: 23px;
	font-family: Tahoma;
}

.cart_container {
	position: relative;
	margin-bottom: 30px;
	border-top: 1px solid #ccc;
	float:left;
	width:100%
}

/*----- toolbar -----*/
.cart_shopping_toolbar {
	height: 42px;
	border-bottom: 1px solid #d9d9d9;
	background-color: #f1f1f1;
	float:left;
	width:100%
}

.cart_shopping_toolbar .icon_loader,
.cart_shopping_toolbar .icon_error,
.cart_shopping_toolbar .icon_success {
    float: left;
    margin: 13px 0 0;
}

.shipping_country_label {
	height: 22px;
	margin: 10px 5px 0 10px;
	line-height: 22px;
}

.shipping_country {
	max-width: 182px;
	margin-top: 10px;
	margin-right: 5px;
	text-transform: capitalize;
}

.shipping_country .current .flag b {
	margin: 4px 5px 0 0;
}

.shipping_country .flag b {
	margin: 3px 5px 0 -21px;
}

.shipping_country_list {
	width: 180px;
	max-height: 210px;
	overflow: auto;
}

.shipping_country_list li {
	padding: 3px 8px 3px 29px;
	color: #333;
	line-height: 16px;
	cursor: pointer;
}

.shipping_country_list li:hover {
	background: #fcd2b4;
}

.shipping_country_list .name {
	float: left;
	width: 92px;
}

/* operate all */
.cart_all_operate 
{
    float:left;  line-height:36px;
    width:100%
}

.cart_all_operate .cart_icon_wish {
    margin: 1px 0 0;
}

.cart_all_operate .cart_tips{
	top: 25px;
	left:10px;
}

.cart_all_operate .oper {
	display: inline-block;
	margin-right: 30px;
	float:right;
}

.cart_all_operate .oper.disabled {
    cursor: default;
}

.cart_all_operate .oper .t {
	display: inline-block;
	margin-left: 5px;
	color: #666;
	vertical-align: middle;
}

.cart_all_operate .icon_loader {
    float: none;
    margin-top: 0;
    padding: 0;
}

.cart_all_operate .icon_loader .cart_icon_wish {
    visibility: hidden;
}

/* products */
.cart_prowrap {
	position: relative;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.cart_prowrap:after{
    position: absolute;
    bottom: -20px;
    left: 0;
	z-index: -1;
	width: 100%;
    height: 20px;
    background: -webkit-linear-gradient(top, #e5e5e5,#fff);
    background: -moz-linear-gradient(top, #e5e5e5,#fff);
    background: -o-linear-gradient(top, #e5e5e5,#fff);
    background: linear-gradient(top, #e5e5e5,#fff);
	content: ' ';
}

.cart_products {
}

.cart_products .pro_num {
	width: 140px;
}

.cart_products .qua_wrap {
	display: inline-block;
	position: relative;
}
.cart_products .qua_wrap .icon_error,
.cart_products .qua_wrap .icon_loader,
.cart_products .qua_wrap .icon_success {
	position: absolute;
	top: 3px;
	right: -20px;
}
.cart_products .qua_wrap a {
	float: left;
	width: 22px;
	height: 13px;
	padding: 4px 0;
	border: 1px solid #ccc;
	background: #f4f4f4;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e0e0e0));
	background: -moz-linear-gradient(top,  #fefefe,  #e0e0e0);
	background: -o-linear-gradient(top, #fefefe, #e0e0e0);
	background: linear-gradient(top, #fefefe, #e0e0e0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e0e0e0');
	color: #666;
	line-height: 13px;
	font-weight: bold;
	text-align: center;
}

.cart_products .qua_wrap a:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ddd));
	background: -moz-linear-gradient(top,  #f5f5f5,  #ddd);
	background: -o-linear-gradient(top, #f5f5f5, #ddd);
	background: linear-gradient(top, #f5f5f5, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dddddd');
	text-decoration: none;
}

.cart_products .qua_wrap a:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#ddd));
	background: -moz-linear-gradient(top,  #eaeaea,  #ddd);
	background: -o-linear-gradient(top, #eaeaea, #ddd);
	background: linear-gradient(top, #eaeaea, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#dddddd');
}

.cart_products .qua_wrap a.disabled {
	background: #f0f0f0;
	color: #aaa;
	cursor: default;
}

.cart_products .pro_options a {
	display: inline-block;
	padding: 5px;
	vertical-align: middle;
}

.cart_products .pro_options a.disabled {
    cursor: default;
}

.cart_products .pro_options .icon_loader {
    vertical-align: middle;
    margin: 0 0 0 2px;
}

.cart_products .pro_options a.icon_loader {
    margin: 0;
    background-position: 50% 50%;
    cursor: default;
}

.cart_products .pro_options a.icon_error {
    width: auto;
    height: auto;
    background-position: 50% 50%;
    cursor: default;
}

.cart_products .pro_options .icon_loader .cart_icon_wish,
.cart_products .pro_options a.icon_error .cart_icon_wish {
    visibility: hidden;
}

.cart_products .cart_tips {
    width: auto;
    margin: 10px 0 0 42px;
}

/* cart_shopping_savewrap */
.cart_shopping_savewrap {
	position: relative;
	min-height: 25px;
	margin: 0 10px;
	padding: 5px 0 13px;
	border-bottom: 1px solid #ccc;
}

.cart_shopping_savewrap .tip_saving {
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	right: 10px;
	bottom: 13px;
}

.cart_shopping_savewrap .saving_price {
	color: #090;
}

.cart_shopping_savewrap .tip_info {
	padding: 8px 5px 0 0;
	color: #333;
}

.cart_shopping_savewrap .tip_info.saved {
	color: #00a72f;
}

.cart_shopping_savewrap .icon_success,
.cart_shopping_savewrap .icon_warning {
    vertical-align: middle;
}

.cart_shopping_savewrap .icon_warning,
.cart_shopping_savewrap .icon_success {
	margin-right: 5px;
}

.cart_shopping_savewrap .t {
	display: inline-block;
	line-height: 16px;
	vertical-align: middle;
}

/* cart_cost_wrap */
.cart_costwrap {
	padding: 25px 10px 50px;
	border-bottom: 1px solid #ccc;
	float:left; width:98.8%
}

.cart_costwrap .cart_tips {
	top: 33px; 
	left: 0;
}

.cart_bulkrate_btn {
	display: inline-block;
	padding: 2px 5px 2px 2px;
	border: 1px solid #bfbfbf;
	background-color: #f9f9f9;
}

.cart_bulkrate_btn.unused.hovered {
	border-color: #ababab;
	background: #e3e3e3;
}

.cart_bulkrate_btn.used {
	border-color: #00a72f;
	background-color: #e7ffed;
}

.cart_bulkrate_btn.used.hovered {
	border-color: #e06969;
	background-color: #f9f9f9;
}

.cart_bulkrate_btn.disabled {
    opacity: .5;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    cursor: default;
}

.cart_bulkrate_btn .t {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	color: #333;
	vertical-align: middle;
}

.cart_bulkrate_btn i {
	display: inline-block;
	min-height: 16px;
	margin: 0 2px 0 0;
	padding: 0 0 0 16px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.cart_bulkrate_btn.loading {
	border-color: #bfbfbf;
	background-color: #f9f9f9;
	cursor: default;
}

.cart_coupon_link,
.cart_coupon_link:hover {
	color: #666;
	cursor: default;
    text-decoration: none;
}

.cart_price_box {
	width: 260px;
	float:right;
}

/* shiping method */
.shipping_method {
	position: absolute;
	top: 3px;
	right: 0;
	width: 112px;
	margin:0 0 3px 18px;
}

.shipping_method .shipping_method_oper {
	padding: 10px 0;
	text-align: center;
}

.shipping_method .shipping_method_list {
	right: 0;
	left: auto;
}

.shipping_method_list .showloader {
    width: 410px;
    height: 200px;
}

.shipping_method_list .error {
    width: 200px;
    padding: 12px 8px 12px 26px;
}

.shipping_method_list .icon_error {
    margin: -1px 0 0 -18px
}

.shipping_method_item {
	width:410px;
	height:50px;
	border-bottom: 1px dashed #ccc;
	text-align: left;
	line-height: 50px;
	overflow: hidden;
	cursor: pointer;
}

.shipping_method_item:hover {
	background-color: #f2f2f2;
}

.shipping_method_item.disabled {
    cursor: default;
}

.shipping_method_item .item {
	display: block;
	cursor: pointer;
	clear: both;
}

.shipping_method_item input[type="radio"],
.shipping_method_item .placeholder {
	width:50px;
	margin: 18px 0 0 12px;
	float:left;
}

.shipping_method_item .name, 
.shipping_method_item .date, 
.shipping_method_item  .price, 
.shipping_method_item  .free {
	 float: left;
}

.shipping_method_item .name {
	width: 120px;
	padding: 17px 0;
	font-weight: bold;
	line-height: 16px;
}

.shipping_method_item .name .des {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 340px;
    color: #999999;
    font-weight: normal;
    line-height: 15px;    
}

.shipping_method_item .date{
	width: 104px;
}

.shipping_method_item .price {
	height: 50px;
	color: #f66907;
	font-weight: bold;
}

.shipping_method_item .price .icon_help { 
	margin-top: -3px;
	margin-left: 5px;
	vertical-align: middle;
}

.shipping_method_item .free {
	color: #079a00;
	font-weight: bold;
}

/* checkout */
.cart_checkoutwrap {
	padding: 12px 16px;
	background-color: #f1f1f1;
	float:left;
	width:98%
}

.cart_btnwrap {
	margin-bottom: 15px;
	text-align: right;
}

.cart_btnwrap .or {
	display: inline-block;
	padding: 0 5px;
	line-height: 38px;
	vertical-align: middle
}

.cart_btn_paypal {
	display: inline-block;
	width: 179px;
	height: 30px;
	border: 0 none;
	background: url(../img/cart/checkout_paypal.png);
	vertical-align: middle;
	cursor: pointer;
}

.cart_btn_paypal.disabled {
    background-position: 0 30px;
    cursor: default;
}

.cart_btn_checkout {
	display: inline-block;
	height: 36px;
	padding: 0 18px;
	border: 1px solid #d15200;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff9400), to(#ff6500));
	background: -moz-linear-gradient(top,  #ff9400,  #ff6500);
	background: -o-linear-gradient(top, #ff9400, #ff6500);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9400', endColorstr='#ff6500');
	background: linear-gradient(top, #ff9400, #ff6500);
	line-height: 36px;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}

.cart_btn_checkout:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#ff9600), to(#ff7900));
	background: -moz-linear-gradient(top,  #ff9600,  #ff7900);
	background: -o-linear-gradient(top, #ff9600, #ff7900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9600', endColorstr='#ff7900');
	background: linear-gradient(top, #ff9600, #ff7900);
	color: #fff;
	text-decoration: none;
}

.cart_btn_checkout:active {
    -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1) inset;
	        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1) inset;
}

.cart_checkbox {
	text-align: right;
	white-space: nowrap;
}

.cart_checkbox .cb {
	vertical-align: text-top;
	margin-right: 3px;
}

.cart_checkbox .ptips {
	width: 450px;
	margin: 5px 0 0;
	text-align: left;
    white-space: normal;
}

/*----- empty cart ------*/
.cart_empty_wrap{
	padding: 50px;
    text-align: center;
}

.cart_empty_wrap .cart_empty{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	min-height: 83px;
	padding-left: 133px;
	background: url(../img/cart/empty_cart_bg.png) no-repeat left top;
	text-align: left;
}

.cart_empty_wrap .cart_empty_tit{
	min-height: 34px;
	margin-bottom:5px;
	line-height: 34px;
	font-size: 18px;
	font-family: verdana;
	color: #333;
}

.cart_empty_wrap .cart_empty_con{
	line-height: 22px;
	font-size: 12px;
	color: #333;
}

/*----- dialog: au directs products -----*/
.subsite_container {
    width: 530px;
}
    
.login_register_dialog .subsite_prowrap {
    padding: 30px 30px 20px;
}
    
.subsite_prowrap .title {
    margin-bottom: 15px;
    color: #FF6600;
    font-size: 14px;
    font-weight: normal;
}
        
.subsite_prowrap .item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 18px;
    color: #666666;
    font-size: 12px;
}
    
.subsite_prowrap .num {
    position: absolute;
    left: 5px;
}


.hidden { float:left; width:100%}

#summary-container { float:left;width:100%}


.dianp { float:left; width:100%; border-bottom:1px solid #D5D5D5}
.dianp span { float:left; padding-left:25px;line-height:30px;}
.dianp input { margin:9px 5px 0 0 ; float:left;}
.dianp em { color:#000; font-weight:bold;}

.yh_info { width:380px; margin:0 auto;}
.yh_info ul { float:left; padding:30px 0;}
.yh_info ul li { float:left; width:100%; padding-bottom:10px;}
.yh_info ul li label { float:left; width:70px; text-align:right; font-size:13px; font-weight:bold; color:#666; line-height:30px;}
.yh_info ul li b { float:left; padding:8px 5px;}
.yh_info ul li strong { float:left; padding:5px; border:1px solid #ccc;}
.yh_info ul li input { float:left; width:200px; background:none; border:none;}
.yh_info ul li span { float:left; line-height:30px; padding-left:10px;}
.yh_info ul li span a { color:#666;}
.yh_info ul li span a:hover { color:red}
.yh_info .tb_x strong { border:none;}
.yh_info .tb_x strong input { width:auto;}
.yh_info .tb_x span { line-height:14px; padding-right:15px;}
.yh_info  ul li select { float:left; border:none; width:80px;}
.yh_info .tb_c { width:300px; padding-left:70px;}
.yh_info .tb_c input { width:auto; background:#E8E3E3; border:1px solid #ccc; padding:4px 30px; cursor:pointer; margin-right:10px;}

.xiu_y { width:350px; position:absolute;top:50%;left:50%;margin:-90px 0 0 -185px; background:#fff; border:1px solid #ddd; z-index:1002; display:none;}
.xiu_y h1 { float:left; width:100%; line-height:30px; background:#ddd; color:#000; text-indent:15px;}
.xiu_y ul { float:left; width:100%; padding-top:10px;}
.xiu_y ul li { float:left; width:100%; padding-bottom:10px;}
.xiu_y ul li strong { float:left; width:100px; text-align:right; line-height:28px;}
.xiu_y ul li span { float:left; width:130px; border:1px solid #ddd; padding:3px 5px;}
.xiu_y ul li span input { border:none; background:none;}
.xiu_y .bant { padding-left:100px; width:60%;}
.xiu_y .bant input { border:1px solid #ddd; background:#F7F7F7; margin-right:10px; padding:4px 8px; cursor:pointer;}
.xiu_y p { float:left; width:100%; text-align:center; line-height:60px; font-size:14PX; color:red}




