/*----- 公用 -----*/
.ger {background:#fff url("../../Content/img/public/g_left_bg.png") repeat-y scroll left top;}
.Individual_center_right { float:right;background:#fff; width:900px; padding:30px 30px 0 0;}
.Individual_center_left { width:240px; float:left;}
.gz_Info { float:left; width:100%; padding-bottom:35px; border-bottom:1px solid #d5d5d5;}
.gz_Info h1 { float:left; width:105px; height:105px; padding:24px 0 0 24px; position:relative;}
.gz_Info h1 img { width:105px; height:105px;}
.gz_Info h1 span { float:left; width:105px; height:105px; background:url("../../Content/img/public/tou_bg.png") no-repeat scroll left top; position:absolute;top:24px;left:24px;}
.gz_Info h2 { float:left; width:100px; padding:60px 0 0 8px; }
.gz_Info h2 strong { float:left;font-size:16px; width:100%;}
.gz_Info h2 span { float:left;width:80%; padding-top:12px; color:#929292; padding-left:18px;}

.left_Menu { float:left; width:100%; border-top:1px solid #fff; padding-top:30px;}
.left_Menu h1{ float:left;width:100%; text-indent:64px; color:#404040; font-size:16px;}
.left_Menu ul { float:left; width:100%; padding:10px 0 50px 0;}
.left_Menu ul li { float:left; width:100%; text-indent:66px; line-height:34px;}
.left_Menu ul li a { color:#4c4c4c; float:left; width:100%;}
.left_Menu ul li a:hover { background:#fff; color:#c51a06;}
.left_Menu .hover { background:#fff; color:#c51a06;}

.Bread { float:left; width:100%; border-bottom:1px dashed #e2e2e2; margin-bottom:20px;}
.Bread ul { float:left; width:100%;}
.Bread ul li { float:left; line-height:25px;}
.Bread ul li a { float:left; color:#424242; padding:0 5px}
.Bread ul li a:hover { color:#c60139;}

.hei {width: 100%; background: #000; position: absolute; left: 0;top: 0; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5;z-index:1001; display: none;}

/*----- 安全中心 -----*/
.Safety { width:100%; float:left; padding-top:25px;}
.Safety h1 { float:left; width:100%; font-size:14px; color:#505050;}
.Safety ul { float:left; width:100%; padding:10px 0;border-top:none;}
.Safety ul li { float:left; width:85%;padding:16px 0 16px 100px; color:#5f5f5f;}
.Safety ul li b { float:left; width:600px;}
.Safety ul li span { float:left;line-height:30px;}
.Safety ul li span a { color:#fe8a01; margin-left:10px;}
.Safety .tit { padding-right:20px;}

.Safety_Intr { float:left; width:100%;border-bottom:1px dashed #e2e2e2; padding-bottom:20px;}
.Safety_Intr h1 { float:left; width:100px;}
.Safety_Intr h1 img { float:left; width:70px; height:70px; padding:3px; border:1px solid #cbcdcc;}
.Safety_Intr ul { float:left; width:800px;}
.Safety_Intr ul li { float:left; width:100%; line-height:26px; color:#616161;}
.Safety_Intr ul li strong { float:left; color:#505050;}























/*----- 地址 -----*/
.Address_sh { float:left; width:100%; padding-bottom:100px;}
.Address_sh h1 { float:left; width:800px; line-height:30px; background:#eee; text-indent:10px;}
.Address_sh h1 strong { float:left; width:200px;}
.Address_sh h1 span { float:right;}
.Address_sh h1 span a { float:right; line-height:30px; color:#0066cc; padding:0 10px;}
.Address_sh h1 select { float:right; width:100px; margin-top:8px; display:none;}
.shdiz { float:left; width:252px; height:130px; margin:10px 5px 0 5px;border:1px solid #ddd; padding:18px; position:relative;}
.shdiz:hover {background:#f0f0f0; }
.shdiz h2 { float:left; width:100%; padding:8px 0; border-bottom:1px solid #d6d6d6;}
.shdiz h2 p { float:left; width:150px; text-indent:6px; font-size:14px;}
.shdiz h2 strong { float:left; width:60px; color:#999; font-weight:normal;}
.shdiz h2 span { float:right; display:none; position:absolute;right:18px;}
.shdiz h2 span a { float:right; color:#fe9e23; padding-left:10px;}
.shdiz .delAddress { float:right; cursor:pointer; margin:-6px 0 0 5px; font-size:20px;}
.shdiz  ul { float:left;width:100%; padding-top:10px;}
.shdiz  ul li { float:left; width:100%; line-height:22px; color:#333; text-indent:6px;}
.shdiz  ul li em { font-weight:bold; color:#000; margin-right:3px;}
.append { float:left;width:288px; height:166px;margin:10px 5px 0 5px;border:1px solid #ddd; padding:0;}
.append a { float:left; width:100%; height:100%; text-align:center; line-height:40px; font-size:20px; color:#999;}
.append a em { font-size:60px; float:left; width:100%; padding-top:40px;}
.append a:hover { background:#f0f0f0;}

.add_tk { float:left; width:980px; border:5px solid #dbdbdb; position:absolute;top:50%;left:50%; margin:-160px 0 0 -490px; background:#fff; z-index:1002; display:none; padding-bottom:20px;}
.add_tk h1 { float:left; width:100%; line-height:30px; text-indent:10px;}
.add_tk h1 strong { float:left; width:200px; font-size:14px;}
.add_tk h1 a { float:right; padding-right:10px;color:#999; font-size:18px;}
.add_tk ul { float:left; width:95%; padding:10px 0 0 15px;}
.add_tk ul li { float:left; width:100%; padding-bottom:15px;}
.add_tk ul li strong { float:left; width:80px; text-align:right; font-weight:normal; color:#666; line-height:20px;}
.add_tk ul li strong em { color:#fc2449; margin-right:5px;}
.add_tk ul li span { float:left; border:1px solid #ddd; padding:3px 2px;}
.add_tk ul li span input { background:none; border:none;}
.add_tk .li_01 span input { width:130px;}
.add_tk .li_02 span { border:none; padding:0;}
.add_tk .li_02 span select { float:left; width:80px; padding:3px; border:1px solid #ddd; margin-right:10px;}
.add_tk .li_03 span input { width:300px;} 
.add_tk .li_03 a { line-height:20px; padding-left:10px; color:#0066cc;}
.add_tk .li_05 { width:50%; padding-left:80px; color:#666}
.add_tk .li_05 input { margin-right:5px;}
.add_tk .li_06 { width:50%; padding-left:80px; color:#666}
.add_tk .li_06 input { float:left; padding:5px 30px; margin-right:10px; cursor:pointer; color:#fff; background:#e7423e; border:1px solid #e42922;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; font-weight:bold;}

/*----- 评论 -----*/
.Review_List { float:left; width:100%; padding-top:10px;}
.plun_tis { float:left; width:898px; background:#fffaea; border:1px solid #fed9a4; }
.plun_tis ul { float:left; width:834px;padding:22px 0 22px 28px; }
.plun_tis ul li { float:left; width:100%;line-height:22px; color:#56534e;}

.plun_lie { float:left; width:100%;}
.plun_xq { float:left; width:100%; position:relative;}
.plun_xq h1 { float:left; width:100%; padding:30px 0;border-bottom:1px solid #d6d6d6;}
.plun_xq h1 img { float:left; width:60px; height:60px;}
.plun_xq h1 strong { float:left; width:600px; line-height:20px; color:#5c5c5c; padding:13px 0 0 10px; font-weight:normal;}
.plun_xq h1 strong em { color:red; font-weight:bold;}
.plun_xq .sq { float:left; width:98px; text-align:center; line-height:28px; background:#ec625f; border:1px solid #e74d45; position:absolute;right:0;top:45px; cursor:pointer;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; font-size:14px; font-weight:bold; color:#fff;}
.Review_cz { float:left; width:100%;padding:25px 0 40px 0; border-bottom:1px solid #D6D6D6; display:none}
.Review_cz  .sou_q { float:left; width:98px; line-height:28px; background:#f8f8f8; border:1px solid #e3e3e3; padding:0; text-align:center; color:#3f3f3f;right:0;top:45px; position:absolute; cursor:pointer;}
.Star { float:left; width:100%; }
.Star ul { float:left; width:100%;}
.Star ul li { float:left; width:100%; padding-top:10px;}
.Star ul li strong { float:left; line-height:20px; padding-right:5px; color:#6d6d6d; font-weight:normal;}
.Star ul li strong em { color:red; float:left; padding:2px 3px 0 0;}
.Star .xin { float:left; width:300px;}
.Star .xin img { float:left; padding-right:5px; cursor:pointer;}

.pin_tj input { margin-left:64px;}
.pin_lut { float:left; width:700px; padding:30px 0 0 35px;}
.pin_lut h2 { float:left; width:100%; border-bottom:1px dotted #d6d6d6; padding-bottom:20px; }
.pin_lut h2 img { float:left; width:60px; height:60px;}
.pin_lut h2 strong { float:left; width:550px; line-height:20px; color:#5c5c5c; padding:13px 0 0 10px; font-weight:normal;}
.pin_lut h2 strong em { color:red; font-weight:bold;}
.pin_lut h2 span { float:left; font-weight:bold; color:#db0503; padding-top:16px;}
.pin_lut ul { float:left; width:100%; padding-top:15px;}
.pin_lut ul li { float:left; width:100%; line-height:22px; padding-bottom:5px;}
.pin_lut ul li strong { float:left; padding-right:5px; color:#646464; font-weight:normal;}
.pin_lut ul li span { float:left; line-height:22px; color:#646464}
.pin_lut ul li span img { padding-right:5px;}
.pin_lut .tb strong { line-height:44px;}
.pin_lut .tb img { width:40px; height:40px; border:2px solid #e84d48; padding:0;}
.pin_lut p { float:left; width:100%; padding-top:30px;}
.pin_lut p strong { float:left; width:500px; padding-left:40px;}
.pin_lut p strong b { float:left; padding-right:15px; color:#3b3b3b; font-weight:normal; line-height:28px;}
.pin_lut p span { float:right;}
.pin_lut p span a { float:left; width:98px; line-height:28px; border:1px solid #e42c24; background:#e6433c; text-align:center; color:#fff;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; }

/*----- 收藏 -----*/

.Collection { float:left; width:840px;margin-top:30px; padding:29px; border:1px solid #d6d6d6;}
.Collection h1 { float:left; width:100%; border-bottom:1px solid #d6d6d6;}
.Collection h1 span { float:left;line-height:30px; text-align:center;}
.bg_lie .xz_hover {border-bottom:1px solid #fff; background:#fff; color:#c50102; font-weight:bold;}
.Collection ul { float:left;width:100%}
.Collection ul li { float:left; width:100%; border-bottom:1px dashed #ddd}
.Collection ul li b { float:left; width:500px; padding:20px 0 20px 20px;}
.Collection ul li b img { float:left; padding-right:10px;}
.Collection ul li b p { float:left; line-height:50px; color:#444}
.Collection ul li span { float:left; width:200px; line-height:60px; text-align:center; padding-top:17px;}
.Collection ul li strong { float:left; width:80px; padding:20px 0 0 20px;}
.Collection ul li strong a { float:left; width:80px; line-height:25px; text-align:center; font-weight:normal; color:#444}
.Collection .tb { background:#ec625f; color:#fff; border:1px solid #ea4d48;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px;} 



/*----- 优惠劵 -----*/

.Discount { float:left; width:100%; padding-bottom:100px;}
.Tab_yh { float:left; width:100%; border-bottom:1px solid #d7d7d7;}
.Tab_yh ul { float:left; width:100%;}
.Tab_yh ul li { float:left;}
.Tab_yh ul li a { float:left;line-height:35px; color:#555; text-align:center; border-right:1px solid #fff; padding:0 40px;}
.Tab_yh ul li a:hover { background:#d75643; color:#fff;}
.Tab_yh .hy_hover { background:#d75643; color:#fff;}

.yh_List { float:left; width:838px; border:1px solid #d7d7d7; padding:10px 30px; margin-top:20px;}
.yh_List .h_bq td { color:#333;border-bottom:1px solid #cbcbcb;}

.yh_List tr {border-bottom:1px dashed #cbcbcb; padding-left:30px;}
.yh_List td { line-height:38px; color:#676767;}
.yh_List td a { color:#fd9719;}
.yh_List .tb_01 { text-align:center;}
.yh_List .tb_01 em { margin:0 5px;}
.yh_List .tb_01 span { margin-left:8px;}
.yh_List .tb_01 span select{ width:100px;}

.Paging { width:100%; float:left; margin-top:20px;}
.Paging ul { float:right; padding-right:10px; width:auto}
.Paging a { float:left; padding:0 9px; line-height:24px; text-align:center; border:1px solid #d8d8d8; margin-left:8px; color:#313131;}
.Paging a:hover { border:1px solid #ca2811; background:#d35640; color:#fff;}
.Paging span { float:left;  padding:0 9px; line-height:24px; text-align:center; border:1px solid #ca2811; margin-left:8px; color:#fff; background:#d35640;}
.Paging .fy { width:60px;}

.Screening { float:left; width:100%; padding-top:30px; border-bottom:1px solid #e2e2e2;}
.Screening h1 { float:left; width:100%; border-bottom:2px solid #b5b5b5; position:relative; height:25px; margin-bottom:18px;}
.Screening h1 strong { float:left; border-bottom:2px solid #4d4d4d; background:url(../img/Icon/tb_jun_bg.png) no-repeat scroll left top; text-indent:25px; padding-bottom:12px; color:#515151; font-size:14px;position:absolute; bottom:-2px; left:0;}
.Screening ul { float:left; width:850px; padding:14px 0; border-bottom:1px dashed #e2e2e2; margin-left:25px;}
.Screening ul li { float:left; padding-right:16px;}
.Screening ul li a { color:#626262;}
.Screening ul li a:hover { color:#c61b01;}
.Screening ul li em { color:#171717; font-weight:bold;}

.Sort { float:left; width:100%; padding:15px 0;}
.Sort ul { float:left; }
.Sort ul li { float:left; padding-right:1px;}
.Sort ul li a {float:left; padding:0 28px; line-height:40px; background:#ececec; color:#717171;}
.Sort ul li a:hover {background:#c61b01; color:#fff;}
.Sort .mor { background:#c61b01; color:#fff;}

.shangp_lie { float:left; width:100%;}
.shangp_lie ul { float:left; width:100%;}
.shangp_lie ul li { float:left; width:200px; padding:0 25px 30px 0;}
.shangp_lie ul li img { float:left; width:200px; height:200px;}
.shangp_lie ul li strong { float:left; width:100%; padding:9px 0 6px 0; color:#5e5e5e; font-weight:normal; }
.shangp_lie ul li strong b { float:left;padding-right:10px;}
.shangp_lie ul li del { float:left; color:#b3b3b3;}
.shangp_lie ul li strong b em { color:#af0303;}
.shangp_lie ul li span { float:left; width:100%; line-height:16px; color:#3c3c3c;}



/*----- 个人中心主页 -----*/

.Advertisement { float:left; width:100%;}
.form_lie { float:left; width:100%; padding:30px 0;}
.form_lie h1 { float:left; width:100%;padding-bottom:30px; }
.form_lie h1 strong { float:left; font-size:18px; padding-right:30px;}
.form_lie h1 span { float:left; padding-top:8px;}
.form_lie h1 span a { float:left; color:#343434; padding-right:20px;}
.form_lie h1 span a em { color:#b50300; margin-left:3px;}
.form_lie h1 b { float:right; padding-top:8px;}
.form_lie h1 b a { color:#343434; font-weight:normal;}
.form_lie table { float:left; width:100%;}
.form_lie tr  { border-bottom:1px solid #f1f1f1; float:left; width:880px; padding:20px 0 20px 20px;}
.form_lie tr img { width:50px;}
.form_lie td { line-height:20px; float:left; color:#2c2c2c;}
.form_lie td a { color:#2c2c2c;}
.zy_Collection { float:left; width:100%; padding:10px 0 30px 0;}
.zy_Collection li { float:left; padding:0 22px; width:100px;}
.zy_Collection li span { float:left; width:100%; line-height:22px; padding-top:5px; color:#878787;}
.zy_Collection li span em { color:#ca3d33;}

/*----- 订单 -----*/

.ts_form .dan_lie { float:left; width:540px; padding:0 40px 20px 30px;border-right:1px solid #E2E2E2}
.ts_form .dan_lie h2 { width:100%;}
.ts_form .dan_lie ul { margin:0; padding:30px 0; border-bottom:1px dashed #e2e2e2; border-right:none; position:relative;}
.ts_form .dan_lie ul b { float:left; width:100%; padding-top:25px;}
.ts_form .dan_lie ul b a { float:left; width:70px; line-height:28px; border:1px solid #dfdfdf; color:#818181; text-align:center; font-weight:normal;}
.ts_form .dan_lie .shenq { float:left; width:70px; line-height:28px; border:1px solid #dfdfdf; color:#818181; text-align:center; font-weight:normal; position:absolute;left:80px;top:107px; background:#fff;}
.ts_form .dan_lie .shenq dt { float:left; width:70px;line-height:28px; cursor:pointer;}
.ts_form .dan_lie .shenq dl { float:left; width:70px; display:none;}
.ts_form .dan_lie .shenq dd { left:left; width:70px;}
.ts_form .dan_lie .shenq dd a { float:left; width:70px; line-height:30px; color:#818181;}
.ts_form .dan_lie .shenq dd a:hover { background:#F4F4F4;}


.dan_parcel { float:left;width:611px;}
.dan_Operation { float:left; width:125px;}
.dan_Operation h2 { float:left; width:95px; padding-left:30px; line-height:33px;text-indent:20px;}
.dan_Operation ul { float:left; padding:23px 0 0 30px;}
.dan_Operation ul li { float:left; line-height:22px; padding-bottom:5px;}
.dan_Operation ul li a { float:left; width:75px; line-height:22px; text-align:center;}
.dan_Operation .cz_01 { color:#fff; background:#d3492f; border:1px solid #a72a18;-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px;}
.dan_Operation .cz_02 { color:#c8483f;}
.dan_Operation .cz_03 { color:#4C4C4C;}
.dan_Operation .cz_04 { color:#fff; background:#ababab; border:1px solid #888;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;}

.bg_lie { float:left; width:100%; border-bottom:1px solid #d9d9d9; position:relative; height:35px;}
.bg_lie ul { float:left; position:absolute; left:0;top:0;border:1px solid #e9e9e9;border-bottom:none;}
.bg_lie ul li { float:left; line-height:34px;  background:#edebec; }
.bg_lie ul li a {color:#5e5e5e;border-bottom:1px solid #d9d9d9; float:left;padding:0 30px;}
.bg_lie ul li a:hover {border-bottom:1px solid #fff; background:#fff; color:#c50102; font-weight:bold;}

.bg_inform { float:left; width:100%; padding-top:20px; border-bottom:1px dashed #e1e1e1;}
.bg_inform ul { float:left;}
.bg_inform ul li { float:left; line-height:45px; padding-right:50px; color:#565656;}
.bg_inform ul li em { color:#c10000; font-size:14px; font-weight:bold;}

.din_zt { float:left; width:100%; padding-top:30px;}
.din_zt h1 { float:left; width:100%; padding:25px 0 10px 0; color:#505050; font-size:18px;}
.din_zt ul { float:left; width:100%;background:url(../img/bg/digndan_zt_bg.png) no-repeat scroll;}
.din_zt ul li { float:left; width:223px; line-height:41px; text-align:center; font-size:14px; color:#fff;}
.din_zt ul li em {  font-size:16px; font-weight:bold; margin-right:5px;}

.din_Track { float:left; width:100%;}
.Logistics { float:left; width:838px; border:1px solid #d5d5d5; padding:30px;}
.din_log { float:left; width:100%; background:url(../img/Icon/shj_bg_01.png) repeat-y scroll 0 5px;}
.wul_lie { float:left; width:100%; position:relative; padding-bottom:20px;}
.wul_lie h1 { float:left; width:15px; height:15px; position:absolute; background:url(../img/Icon/shj_bg_03.png) no-repeat scroll;top:25px;left:-6px;}
.wul_lie h2 { float:left; width:10px; height:18px; position:absolute; background:url(../img/Icon/jiant.png) no-repeat scroll;top:25px;left:21px;}
.wul_lie ul { float:right; width:766px;border:1px solid #e4e4e4;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; padding:15px 20px;}
.wul_lie ul li { float:left; width:100%; line-height:20px; color:#3c3c3c;}
.wul_lie .tb { color:#ffaa30; padding-top:10px;}

.sp_info { float:left; width:100%; padding-bottom:50px;}
.sp_info h1 { float:left; width:100%; padding:25px 0 10px 0; color:#505050; font-size:18px;}
.sp_lie { float:left; width:838px; padding:15px 30px; border:1px solid #d6d6d6;}
.sp_lie .h1 { border-bottom:1px solid #ccc; line-height:30px;}
.sp_lie .h1 td {padding:0 0 0 20px;}
.sp_lie tr { border-bottom:1px dashed #ccc; width:100%; float:left;}
.sp_lie td { float:left; padding:20px 0 20px 20px; line-height:50px; height:50px; overflow:hidden; color:#4a4a4a;}
.sp_lie td img { width:50px; height:50px;}
.sp_lie p { float:left; width:100%; padding-bottom:10px;}
.sp_lie p strong { float:left; width:400px; color:#474747; font-weight:normal; padding-top:20px;}
.sp_lie p strong em { color:#bb0102;}
.sp_lie p span { float:right;}
.sp_lie p span b { float:left; padding-left:25px;font-weight:normal;color:#474747; padding-top:20px;}
.sp_lie p .tb { padding-top:12px;}
.sp_lie p span b em { color:#bb0102; font-size:20px;}

.Cancel_tank { float:left; width:590px; padding:35px 90px; background:#fff; border:5px solid #dddddf; position:absolute;left:40%;top:10%; margin:-100px 0 0 -385px; display:none; z-index:1002;}
.Cancel_tank h2 { float:left; width:100%; color:#4e4e4e; font-size:14px; padding-bottom:30px;}
.Cancel_tank h3 { float:left; width:60px;color:#4e4e4e; line-height:26px;}
.Cancel_tank ul { float:left; width:530px;}
.Cancel_tank ul li { float:left; line-height:24px; padding:0 5px; border:1px solid #d3d3d3; margin:0 10px 10px 0; cursor:pointer;}
.Cancel_tank p { float:left; width:530px; padding:20px 0 0 60px;}
.Cancel_tank p a { float:left; line-height:30px; padding:0 16px; background:#d86d63; border:1px solid #b33e2a;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; color:#fff; margin-right:10px;}
.Cancel_tank .xz { background:#f0eded;}

/*----- 收藏、退货 -----*/
.Collection_sp { margin-top:20px;}

.Retreat {margin-top:20px;}
.Retreat td img { padding-right:5px;}
.Retreat td a { color:#fe941c;}


.Return_cz {float:left;width:99px; border:1px solid #e22d26;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; position:absolute;right:30px;top:83px; background:#fff; z-index:1000}
.Return_cz dl { float:left; width:100%; line-height:30px; background:#e5433e; text-align:center; color:#fff; cursor:pointer;}
.Return_cz dt { float:left; width:100%; display:none;}

.Return_cz dt a { float:left; width:100%; line-height:30px; text-align:center; color:#666;}
.Return_cz dt a:hover { background:#f4f4f4;}
.Discount .Return_jl { background:url(../img/Icon/tsjl_bg_01.png) repeat-y scroll 93px 0;}
.Discount .form_jl { background:url("../img/Icon/sl_jl.png") no-repeat scroll 87px 31px}
.Return_ck { float:left; width:100px; padding:15px 0 0 40px;}
.Return_ck a { float:left; width:100%; line-height:20px; color:#df0200;}
.Return_ck .tb { color:#424242;}

.int_lie .form_jl span { color:#444; text-align:right; width:65px; line-height:19px;}
.int_lie .form_jl span em { color:#4c4c4c; font-size:15px;}

.Return_Apply { float:left; width:100%; padding-bottom:50px;}
.Return_xin { float:left; width:100%;padding-bottom:10px; border-bottom:1px dashed #E2E2E2;}
.Return_xin ul { float:left; width:100%; padding-bottom:5px;}
.Return_xin ul li { float:left; width:200px; line-height:26px;}
.Return_xin ul li strong { float:left; line-height:26px; color:#464646; font-weight:normal;}
.Return_xin ul li span { color:#464646;}
.Return_xin .tb { float:left; line-height:24px; border:1px solid #e84d49;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; background:#ec6359; padding:0 7px; color:#fff;}

.Choice_sp { float:left; width:100%; padding-top:30px;}
.Choice_sp h1 { float:left; width:100%; color:#464646; font-weight:normal; padding-bottom:15px;}
.Choice_sp h1 strong { float:left; font-size:14px; color:#464646;}
.Choice_sp h1 a { color:#d13a25;}

.Choice_lie { float:left; width:838px; border:1px solid #cacaca; padding:10px 30px;}
.Choice_lie tr { float:left; width:100%; border-bottom:1px dashed #cbcbcb; padding:20px 0;}
.Choice_lie td { float:left;}
.Choice_lie td input { margin-top:33px;}
.Choice_lie td img { width:80px; height:80px;}
.Choice_lie td em { line-height:80px; float:left; color:#4a4a4a;}
.Choice_lie .sl { float:left; border:1px solid #d7d7d7; margin-top:30px;}
.Choice_lie .sl b { float:left; line-height:22px; padding:0 7px; cursor:pointer;}
.Choice_lie .sl em { float:left; line-height:22px; width:25px; text-align:center;}
.Choice_lie .close { float:left; width:100%; padding:20px 0 10px 0;}
.Choice_lie .close strong { float:left; width:200px; line-height:30px; color:#4a4a4a; font-weight:normal;}
.Choice_lie .close strong input { float:left; margin:8px 5px 0 0 ;}
.Choice_lie .close span { float:right; line-height:30px; color:#3f3f3f;}
.Choice_lie .close span b { float:left; color:#3c3c3c; padding-right:10px; font-weight:normal;}
.Choice_lie .close em { color:#e22017; font-size:14px; margin:0 5px;}
.Choice_lie .close a { float:left; background:#e5433e; border:1px solid #e74844;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; color:#fff; line-height:24px; padding:0 10px;}
.ch_zhangt td img { width:50px; height:50px; padding-left:20px;}
.ch_zhangt td em { line-height:50px;}



.Handle_fl { float:left; width:100%; padding:30px 0;}
.Handle_fl h2 { float:left; width:100%; color:#464646; font-size:14px;}
.Handle_fl h1 {color: #818181;float: left;font-weight: normal;line-height:24px;}
.Handle_fl h3 { float:left; width:100%; padding:13px 0;} 
.Handle_fl h3 strong { float:left; color:#818181; font-weight:normal; line-height:23px;}
.Handle_fl h3 span { float:left; border:1px solid #cfcfcf;}
.Handle_fl h3 span select { background:none; border:none; padding:3px; width:150px;}
.Handle_fl h3 em { float:left; line-height:23px; color:#e22d26; padding-left:10px; font-weight:normal;}
.ts_went_02 { float:left; width:100%;}
.ts_went_04 { float:left; width:100%;}
.ts_went_04 h1 {color: #818181;float: left;font-weight: normal;line-height:24px;}
.Methods_th { float:left; width:100%; padding:20px 0 40px 0;}
.Methods_th h1{ float:left; width:100%; color:#818181; font-weight:normal; padding-bottom:10px;}
.Methods_th p { float:left; width:795px; padding:23px 20px; background:#fffaea; border:1px solid #ffc57f; margin-left:61px; line-height:20px; color:#3f4044;}
.Methods_th p a { color:#ff9304;}
.Methods_th span { float:left; width:100%; padding-top:10px; color:#7b7b7b;}
.Methods_th span input { margin-right:10px;}

.Return_tj { float:left; width:100%;}
.Return_tj a {float:left;padding:0 35px;line-height:30px;color:#fff;background:#e7423e; border:1px solid #af4132;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px;}

.chuli_mode { float:left; width:100%; padding-top:30px;}
.chuli_mode h1 { float:left; width:100%; font-size:14px; color:#464646; padding-bottom:15px; border-bottom:1px solid #d6d6d6;}
.chuli_mode ul { float:left; width:100%; padding-top:10px;}
.chuli_mode ul li { float:left; width:100%; line-height:30px; color:#646464; text-indent:20px;}
.chuli_mode ul li em { color:#020202;}




/*----- 投诉 -----*/
.Complaint { float:left; width:100%; background:url(../img/Icon/shj_bg_01.png) repeat-y scroll 93px 0; margin-top:20px;}
.int_lie { float:left; width:99%; padding-bottom:20px;}
.ts_Time { float:left; width:110px; padding-top:22px;background:url(../img/Icon/shj_bg_03.png) no-repeat scroll 87px 31px;}
.ts_Time strong { float:left; width:100%; color:#414141; font-weight:normal;}
.ts_Time span { float:left; width:100%; color:#c20d00; font-weight:bold; padding-top:8px; }
.ts_Time span em { font-size:20px;}
.ts_Time b { width:64px; padding-top:5px; text-align:right; float:left; font-weight:normal;}

.ts_form  { float:right; width:768px; border:1px solid #e2e2e2;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; position:relative; padding:5px 0 30px 0;}
.ts_form h1 { float:left; width:10px; height:18px; background:url(../img/Icon/jiant.png) no-repeat scroll; position:absolute;top:28px;left:-10px;}
.ts_parcel { float:left; width:708px; padding:20px 0 0 30px; position:relative}
.ts_parcel h2 { float:left; width:100%; border-bottom:1px solid #e2e2e2; padding-bottom:9px;}
.ts_parcel h2 strong { float:left; padding:0 6px;  line-height:22px; background:#ff9900;border:1px solid #ff8800;-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px; color:#fff;}
.ts_parcel h2 span { float:left; padding-left:10px; color:#3b3b3b; line-height:24px;}
.ts_parcel h2 span em { color:#acacac; margin-right:10px;}
.ts_parcel h2 b { float:left; line-height:24px; padding-left:60px; color:#3b3b3b; font-weight:normal;}
.ts_parcel h2 b em { color:#fa8b00;}
.ts_parcel h2 b a { color:#fa8b00;}
.ts_parcel ul { float:left; margin-top:20px; width:540px; border-right:1px solid #e2e2e2;}
.ts_parcel ul li { float:left; padding-right:5px;}
.ts_parcel ul li img { width:50px; height:50px;}
.ts_parcel ul .tb { padding-left:30px;line-height:18px; padding-top:5px;}
.ts_parcel ul .tb a { color:#6c6c6c; }
.ts_parcel p { float:left; padding:45px 0 0 25px;}
.ts_parcel p a { float:left; width:80px; text-align:center; line-height:24px; background:#d2584b; border:1px solid #aa2b1a; color:#fff; font-size:13px;-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px;}

.ts_Launch { float:left; width:100%; position:relative}
.ts_Launch div { float:left; width:100%; padding-top:20px;}
.ts_Launch h1 { float:left; font-weight:normal; color:#818181; line-height:24px; width:68px;}
.Review_cz div { float:left; width:100%; padding-top:20px;}
.Review_cz h3 { float:left; font-weight:normal; color:#818181; line-height:24px; width:68px; text-align:right;}
.ts_went_01 span { float:left; width:830px;}
.ts_went_01 span select { float:left; border:1px solid #cfcfcf; width:150px; height:24px; padding:2px; margin-right:10px;}
.ts_went_02 span { float:left; width:830px; line-height:24px;color:#818181;}
.ts_went_02 p { float:right; width:830px; border:1px solid #cfcfcf; margin-top:10px;} 
.ts_went_02 p textarea { width:810px; border:none; padding:10px; height:140px; line-height:18px;color:#818181; }
.ts_Launch .ts_Choice { float:left; width:830px;border:1px solid #cfcfcf; padding-top:0;}
.ts_Choice ul { float:left; width:770px; padding:15px 30px;}
.ts_Choice ul li { float:left; width:100%; padding:20px 0; border-bottom:1px dashed #cbcbcb;}
.ts_Choice ul li input { float:left; margin-top:33px;}
.ts_Choice ul li img { float:left; width:80px; height:80px; padding-left:10px;}
.ts_Choice ul li strong { float:left; width:550px; line-height:80px; color:#949494; font-weight:normal; padding-left:20px;}
.ts_Choice ul li span { float:left; width:95px; line-height:80px; color:#949494; text-align:right;}
.ts_Choice .tb {border:none;}
.ts_Choice .tb input { margin:0 10px 0 0; }

.ts_went_04 ul { float:left;width:830px;}
.ts_went_04 ul li { float:left; padding-right:10px;}
.ts_went_04 ul li a { color:#989898; float:left;width:78px; height:78px; line-height:36px;background:#f3f3f3; border:1px solid #cdcdcd;text-align:center;}
.ts_went_04 ul li em { float:left; width:100%; font-size:45px; font-weight:bold;}
.ts_went_04 p { float:left; width:830px; padding-left:60px; line-height:30px; color:#818181;}
.ts_Launch .ts_tj { float:left; width:800px; padding-left:65px;}
.ts_tj input { float:left; width:140px; height:28px;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; background:#e52e28; border:1px solid #b03925; color:#fff; font-size:13px; font-weight:bold; cursor:pointer;}

.ts_Launch .ts_Success { float:left; width:380px; position:absolute;left:50%;bottom:20%; margin:0 0 -100px -260px; background:#fff; border:5px solid #dbdbdb; padding:10px; display:none; z-index:1002;}
.ts_Launch .ts_Success h1 { float:left; width:100%;}
.ts_Launch .ts_Success h1 strong { float:left; width:100%; font-size:18px; color:#3b3b3b; font-weight:normal; text-align:center;}
.ts_Launch .ts_Success h1 span { float:left; width:100%; font-size:20px; color:#7e7e7e; font-weight:normal; cursor:pointer; text-align:right;}
.ts_Launch .ts_Success h2 { float:left; width:310px; text-align:center; padding:0 35px; padding-top:15px; line-height:20px; color:#424242; font-weight:normal;}
.ts_Launch .ts_Success p { float:left; width:150px; padding:30px 0 10px 110px;}
.ts_Launch .ts_Success p a { width:150px; line-height:28px; text-align:center; float:left; background:#d86455;border:1px solid #b13928;-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px; color:#fff;}

.Order_info { float:left; width:100%; border-bottom:1px dashed #E2E2E2;}
.Order_info ul { float:left; width:100%; padding-bottom:30px; color:#404040;}
.Order_info ul li { float:left; padding:0 80px 0 5px;}

.ts_State {padding:20px 0;border-bottom:1px dashed #E2E2E2; float: left;width: 100%;}
.ts_State td {width: 306px;}
.ts_State .nor {color: #999999;display: block;font-family: SimSun;font-size: 12px;height: 20px;line-height: 20px;overflow: hidden;text-align: center;width: 100%;}
.ts_State .border_pu_x {background: #FFF;display: inline-block;float: left;height: 5px;margin: 26px 0 0;overflow: hidden;width: 135px;}
.ts_State .cur_radius {background:#f8a700;border-radius: 25px;color: #FFF;display: inline-block;float: left;font-family: Tahoma;font-size: 12px;font-weight: bold;height: 24px;line-height: 24px;margin: 15px 3px 0;text-align: center;width: 24px;}
.ts_State .border_pu_cheng {background: #ff9c00;display: inline-block;float: left;height: 5px;margin: 26px 0 0;overflow: hidden;width: 135px;}
.ts_State .timer_ye {color: #999;display: block;font-family: Tahoma;font-size: 12px;height: 20px;line-height: 20px;overflow:hidden;padding:10px 0 0;text-align:center;width:100%;}
.ts_State .timer {color: #999;display: block;font-family: Tahoma;font-size: 12px; height: 20px;line-height: 20px;overflow: hidden;text-align: center;width: 100%;}
.ts_State .border_pu_wei {background: #d4d4d4;display: inline-block;float: left;height: 5px;margin: 26px 0 0;overflow: hidden;width: 135px;} 
.ts_State b { float:left; width:90%; padding:20px 0;}
.ts_State b a { float:right; line-height:28px; padding:0 26px; background:#e6433e; color:#fff; border:1px solid #e62f29;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; margin-left:10px;}
.Return_Apply .too td { width:300px}

.ts_Launch .ts_Leave { float:left; width:870px; padding:50px 15px; border-bottom:1px dashed #E2E2E2;}
.ts_Launch .yh_Leave { float:left; width:95%; border-left:2px solid #e5e5e5; padding:0 0 50px 0;}
.ts_Launch .yh_Leave h1 { float:left; width:100%; position:relative}
.ts_Launch .yh_Leave h1 a { float:left; position:absolute;top:0;left:-12px;}
.ts_Launch .yh_Leave h1 strong { float:left; padding-left:25px; color:#5f5f5f; width:200px;}
.ts_Launch .yh_Leave h1 span { float:right; width:200px; text-align:right; color:#7d7d7d;}
.ts_Launch .yh_Leave ul { float:right; width:94%; padding:10px 0;border-bottom:1px solid #eaeaea;}
.ts_Launch .yh_Leave ul li { float:left; width:90%;  }
.ts_Launch .yh_Leave ul li strong { float:left; font-weight:normal;line-height:22px;color:#4b4b4b}
.ts_Launch .yh_Leave ul li span { float:left;line-height:22px; color:#4b4b4b}
.ts_Launch .yh_Leave ul li span a { float:left; padding:0 20px;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; color:#fff; margin-left:10px;}
.ts_Launch .yh_Leave .jue { background:#de8179; border:1px solid #be5c51;}
.ts_Launch .yh_Leave .wej { background:#bebebe; border:1px solid #a7a7a7;}
.ts_Launch .yh_Leave .tb_chu { padding-top:10px;}


.ts_Record { float:left; width:100%; background:url(../img/Icon/tsjl_bg_01.png) repeat-y scroll 93px 0; margin-top:20px;}
.tsjl_lie { float:left; width:99%; padding-bottom:20px;}
.tsjl_Time { float:left; width:110px; padding-top:22px;background:url(../img/Icon/sl_jl.png) no-repeat scroll 87px 31px;}
.tsjl_Time strong { float:left; width:100%; color:#414141; font-weight:normal;}
.tsjl_Time span { float:left; width:100%; color:#535353; font-weight:bold; padding-top:8px; font-size:14px; text-indent:20px;}
.tsjl_form  { float:right; width:768px; border:1px solid #e2e2e2;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; position:relative; padding-bottom:30px;}
.tsjl_form h1 { float:left; width:10px; height:18px; background:url(../img/Icon/jiant.png) no-repeat scroll; position:absolute;top:28px;left:-10px;}
.tsjl_parcel { float:left; width:708px; padding:23px 0 0 30px;}
.tsjl_parcel ul { float:left; width:580px; border-right:1px solid #e2e2e2;}
.tsjl_parcel ul li { float:left;width:100%; line-height:24px;}
.tsjl_parcel ul li strong { float:left; color:#949494; font-weight:normal;}
.tsjl_parcel ul li span { float:left; padding:0 5px; line-height:24px; color:#5c5c5c;}
.tsjl_parcel ul li span em { color:#023dbd;}
.tsjl_parcel ul .tb { padding-left:30px;line-height:18px; padding-top:5px;}
.tsjl_parcel ul .tb a { color:#6c6c6c; }
.tsjl_parcel p { float:left; padding:9px 0 0 25px;}
.tsjl_parcel p a { float:left; width:100px; text-align:center; line-height:24px; background:#a6a6a6; border:1px solid #888; color:#fff; font-size:13px;-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px;}

/*----- 个人资料 -----*/

.yh_info { float:left; width:100%; position:relative; padding-bottom:100px;}
.yh_info h1 { float:left; width:75px; padding:0 15px 0 24px;}
.yh_info h1 img { width:73px; height:73px; border:1px solid #bfbfbf;}
.yh_info ul { float:left;  width:760px;}
.yh_info ul li { float:left; width:100%; padding-bottom:20px;}
.yh_info ul li label { float:left; width:70px; text-align:right; font-size:13px; font-weight:bold;line-height:30px;color:#3d3d3d; font-weight:normal;}
.yh_info ul li b { float:left; padding:8px 5px;color:#3d3d3d; font-weight:normal;}
.yh_info ul li strong { float:left; padding:5px; border:1px solid #ccc; }
.yh_info ul li input { float:left; width:200px; background:none; border:none;}
.yh_info ul li span { float:left; line-height:30px; padding-left:10px;}
.yh_info ul li span a { color:#666;}
.yh_info ul li span a:hover { color:red}
.yh_info .tb_x strong { border:none; padding-top:8px;}
.yh_info .tb_x strong input { width:auto;}
.yh_info .tb_x span { line-height:14px; padding-right:15px;}
.yh_info  ul li select { float:left; border:none; width:80px;}
.yh_info .tb_c { width:300px; padding-left:70px;}
.yh_info .tb_c input { width:auto; background:#e7423e; border:1px solid #ae432f; padding:0 30px;height:30px; cursor:pointer; margin-right:10px; color:#fff; font-weight:bold;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px;}
.yh_info .Notice { width:185px;}
.yh_info .no_cz { width:50px;}
.yh_info .no_cz a { color:#ee7874;}
.yh_info .Division_x { float:left; border-top:1px dashed #E2E2E2; padding-top:26px; position:absolute; left:0;top:200px; width:900px; text-indent:119px; color:#9b9b9b;}
.yh_info .Division_a { padding-top:65px;}
.yh_info .shij { float:left; padding:0 10px; line-height:30px;}




/*----- 优惠卷 -----*/


.Coupon { float:left; width:100%; padding-top:20px;}
.coupon_lie { float:left; width:283px; background:#f29e86 url(../img/bg/yh_bg_03.png) no-repeat scroll bottom; position:relative; margin:0 8px;}
.coupon_lie h1 { float:left; width:100%; background:url(../img/bg/yh_bg_01.png) no-repeat scroll top; padding-top:28px;}
.coupon_lie h1 strong { float:left; width:160px; padding-left:30px; color:#fffcfc; font-size:15px;}
.coupon_lie h1 a { float:right; padding-right:40px; background:url(../img/bg/yh_bg_04.png) no-repeat scroll 50px 0; color:#fffcfc;}
.coupon_lie h1 span { float:left; width:90px;}
.coupon_lie h1 span dl { float:left; width:274px; background:#f29e86; position:absolute;top:43px;left:5px; display:none; z-index:1000; padding-top:27px;}
.coupon_lie h1 span dl dd { float:left; width:225px; padding:0 0 15px 30px; line-height:20px; color:#fffdff;}
.coupon_lie h2 { float:left; width:225px; padding:24px 28px 17px 30px; background:url(../img/bg/yh_bg_02.png) no-repeat scroll bottom left;}
.coupon_lie h2 strong { float:left; font-size:38px; color:#fffcff;}
.coupon_lie h2 strong em { font-size:18px; float:left; line-height:25px;}
.coupon_lie h2 span { float:left; color:#fffcff; padding:20px 0 0 10px;}
.coupon_lie ul { float:left; width:225px; padding:10px 0 30px 30px;}
.coupon_lie ul li { float:left; width:100%; line-height:22px; color:#f7ffff;}
.coupon_lie p { float:left; width:225px; padding:0 0 25px 30px;}
.coupon_lie p a { float:left; width:225px; border:1px solid #ef9074;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; line-height:30px; background:#fff; text-align:center; color:#ed856c; font-size:14px;}





/*----- 登录、注册 -----*/

.enroll { float:left; width:100%;}
.zc_top { float:left; width:100%; background:#f3f3f3; border-bottom:1px solid #e6e6e6; padding:39px 0;}
.zc_top h1 { width:1200px; margin:0 auto;}
.zc_top h1 img { float:left;}
.zc_box { width:1200px; margin: 0 auto;}
.zc_procedure { float:left; width:1100px; border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6; margin-top:85px; padding:20px 50px 100px 50px}
.zc_Method { float:left; border-bottom:1px solid #e6e6e6; width:100%;}
.zc_Method ul { float:left; width:100%}
.zc_Method ul li { float:left; line-height:40px; text-indent:75px; width:180px;}
.zc_Method ul li a { color:#666; font-size:16px;float:left;width:180px;}
.zc_Method .zc_hover { border-bottom:2px solid #d05449; }

.zc_lie { float:left; width:50%; padding-top:45px;}
.zc_lie h1 { float:right; width:348px; padding-bottom:20px; font-size:16px; color:#575757; font-weight:normal;}
.zc_lie .dengl { float:right; width:348px;}
.zc_lie ul { float:left; width:100%;}
.zc_lie ul li { float:left; width:100%; padding-bottom:10px;}
.zc_lie ul li b { float:left; border:1px solid #e6e6e6;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;width:345px;}
.zc_lie ul li strong { float:left; line-height:45px; text-indent:30px; color:#666; width:95px;}
.zc_lie ul li span { float:left; height:20px; padding:11px 5px;}
.zc_lie ul li span input { float:left; height:20px; background:none; border:none; width:240px; color:#666}
.zc_lie .tb b { width:237px;}
.zc_lie .tb b input { width:130px;}
.zc_lie .p_01 { float:left; border:1px solid #e6e6e6;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; padding:12px 10px; margin-left:10px; cursor:pointer;}
.zc_lie .p_01 input { background:none; border:none; height:20px; font-size:13px; font-weight:bold; color:#414141;cursor:pointer;}
.zc_lie .p_02 { float:left; border-bottom:1px solid #e6e6e6;}
.zc_lie .zcv { float:left;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;width:345px; padding:0; background:#d35445;}
.zc_lie .zcv input {width:344px; height:40px; background:none; border:none; font-size:16px; color:#fff; font-weight:bold; cursor:pointer}
.zc_lie .xiey { float:left; line-height:40px;}
.zc_lie .xiey a { color:#a6a6a6;}
.zc_lie .xiey a:hover { text-decoration:underline;}
.zc_lie .xiey em { color:#f88d42;}
.zc_lie .zd_01 { width:150px; color:#232323;}
.zc_lie .zd_01 input { width:auto; height:auto; margin-right:5px;}
.zc_lie .zd_02 { float:right; width:150px;}
.zc_lie .zd_02 a { float:right;color:#232323;}
.zc_lie .zd_02 a:hover { color:#d24936;}



.zc_img { float:right; width:50%; padding-top:45px;}
.zc_img img { float:right;}





