/*safety set*/
.safetyset{width:900px; float:left;}
.ss_pwdthemestep1,.ss_pwdthemestep2,.ss_pwdthemestep3,.ss_emailthemestep1,.ss_emailthemestep2,.ss_emailthemestep3,.ss_unbindtheme{width:900px;height:41px;float:left;overflow:hidden;}
.ss_pwdthemestep1,.ss_emailthemestep1{background:#fff url(../img/public/ss_theme.png) no-repeat 0 0;}
.ss_pwdthemestep2,.ss_emailthemestep2{background:#fff url(../img/public/ss_theme.png) no-repeat 0 -41px;}
.ss_pwdthemestep3,.ss_emailthemestep3{background:#fff url(../img/public/ss_theme.png) no-repeat 0 -82px;}
.ss_unbindtheme{background:#fff url(../img/public/ss_theme.png) no-repeat 0 -164px;}
.ss_pwdthemestep1 p,.ss_pwdthemestep2 p,.ss_pwdthemestep3 p,.ss_emailthemestep1 p,.ss_emailthemestep2 p,.ss_emailthemestep3 p{float:left;width:300px;height:41px;line-height:41px;text-align:center;font-size:16px;font-family:"微软雅黑";color:#fff;}
.ss_unbindtheme p{float:left;width:450px;height:41px;line-height:41px;text-align:center;font-size:16px;font-family:"微软雅黑";color:#fff;}
.ss_pwdthemestep1 span,.ss_pwdthemestep2 span,.ss_pwdthemestep3 span,.ss_emailthemestep1 span,.ss_emailthemestep2 span,.ss_emailthemestep3 span,.ss_unbindtheme span{font-size:20px;font-family:"Arial",Arial;color:#fff;font-weight:bold;text-align:center;vertical-align:middle;}
.ss_pwdwrap,.ss_emailwrap,.ss_unbindwrap{width:900px;float:left;margin-top:30px;}
.ss_unbindshow{width:600px;height:auto;margin:0 auto;text-align:center;color:#666;}
.ss_unbindshow a{padding:0 5px;color:#e95956;}
.ss_pwditem,.ss_emailitem{width:600px;height:60px;margin:0 auto;}
.ss_pwdlabel,.ss_emaillabel{width:100px;float:left;height:60px;text-align:right;line-height:35px;color:#666;}
.ss_labellong{width:150px;float:left;height:60px;text-align:right;line-height:35px;color:#666;}
.ss_pwdphone,.ss_emailphone{color:#666;line-height:35px;padding:0 5px;float:left;}
.ss_pwdgc,.ss_emailgc{float:left;margin:5px 0 0 5px;color:#d67343;background:#fff url(../img/public/ss_btns.png) no-repeat 0 0;overflow:hidden;display:block;width:100px;height:25px;border:0 none;font-family:"微软雅黑";line-height:25px;cursor:pointer;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
input.ss_pwdungc,input.ss_emailungc{background:#fff url(../img/public/ss_btns.png) no-repeat 0 -25px;color:#aaa;cursor:default;}
.ss_pwdtime,.ss_emailtime{padding:0 5px 0 10px;line-height:35px;float:left;color:#666;}
.ss_pwdexplain,.ss_emailexplain{line-height:35px;float:left;color:#666;padding-left:5px;}
.ss_phoneno{line-height:35px;float:left;color:#dc7467;padding-left:5px;}
.ss_phoneupdate{line-height:35px;float:left;color:#ffa126;padding-left:5px;cursor:pointer;}
.ss_pwdtips,.ss_emailtips{float:left;color:#f00;padding:0 5px;line-height:35px;}
.ss_pwdtipsdef,.ss_emailtipsdef{float:left;color:#f00;padding:0 5px;line-height:16px;}
.ss_pwdtext,.ss_emailtext{float:left;width:180px;height:33px;line-height:33px;border:1px solid #d6d6d6;margin-left:5px;color:#666;}
.ss_pwdsubmit,.ss_emailsubmit,.ss_emailsure,.ss_phonesure{float:left;margin-left:5px;*+margin-left:3px;display:block;overflow:hidden;width:136px;height:32px;cursor:pointer;border:0 none;text-indent:-9999px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.ss_pwdsubmit,.ss_emailsubmit{background:#fff url(../img/public/ss_btns.png) no-repeat 0 -50px;}
.ss_emailsure{background:#fff url(../img/public/ss_btns.png) no-repeat 0 -83px;}
.ss_phonesure{background:#fff url(../img/public/ss_btns.png) no-repeat 0 -114px;}
.ss_pwdsucc,.ss_emailsucc{width:650px;height:120px;margin:0 auto;background:#fffaea;border:1px solid #ffdfb4;}
.ss_pwdsucc p,.ss_emailsucc p{width:600px;text-align:center;padding:5px 20px;color:#666;font-size:14px;font-weight:bold;line-height:20px;float:left;margin-top:30px;}
.ss_pwdsucc p span,.ss_emailsucc p span{width:36px;height:30px;background:#fffaea url(../img/public/ss_btns.png) no-repeat -200px 0;display:inline-block;overflow:hidden;vertical-align:middle;margin:0 5px;}
.ss_pwdsucc div{width:600px;text-align:center;padding:5px 20px;color:#666;font-size:12px;line-height:20px;float:left;margin-top:5px;}
.ss_pwdsucc div a{padding:0 10px;color:#ffb451;}
.ss_pwdsucc div a:hover{text-decoration:underline;}
.ss_phonegcwrap{width:650px;height:120px;margin:0 auto;background:#fffaea;border:1px solid #ffdfb4;margin-bottom:20px;}
.ss_phonegcwrap p{width:540px;height:50px;line-height:20px;float:left;margin-top:20px;color:#666;font-size:12px;text-align:left;padding:0 50px;}
.ss_phonegc{width:140px;height:20px;line-height:20px;display:block;margin:0 auto;border:1px solid #dcdcdc;background:#f6f6f6;cursor:pointer;text-align:center;color:#666;}
input.ss_phonegcdis{color:#bbb;cursor:default;border:1px solid #ececec;background:#fcfcfc;}
.clearfix{height:0;width:auto;line-height:none;clear:both;visibility:hidden;zoom:1;}
.clearfix:after,.clearfix::after{clear:both;}
/*valid tips*/
.Validform_checktip{color:#f00;font-size:12px;padding:0 5px;vertical-align:middle;}
.Validform_wrong{line-height:35px;}
.Validform_error{}
input.Validform_error{}




















