/*----- 购物车公用 -----*/
.shopping_car { float:left; width:1140px; padding:30px; background:#fff;}
.shop_liuc { float:left; width:100%; background:url(../img/car/liuc_bg_01.png) no-repeat scroll; height:51px; overflow:hidden;}
.shop_liuc ul { float:left; width:100%;}
.shop_liuc ul li { float:left; line-height:51px; color:#fff; font-size:23px;width:285px; text-align:center;}
.shop_liuc ul li em { font-size:26px; margin-right:3px; }

.shop_car_lie { float:left; width:100%; padding-top:30px;}
.shop_h1 { float:left; width:100%; background:#ededed;}
.shop_h1 ul { float:left; width:100%;}
.shop_h1 ul li { float:left; line-height:48px;color:#404040; border-right:1px solid #fff; text-align:center; border-bottom:1px solid #eaeaea;border-top:1px solid #eaeaea;}
.shop_h1 .bt_01 { width:70px; padding-left:24px; border:none; text-align:left;}
.shop_h1 .bt_01 input { float:left; margin:17px 10px 0 0; }
.shop_h1 .bt_02 { width:370px; text-indent:105px;text-align:left;}
.shop_h1 .bt_03 { width:135px;}
.shop_h1 .bt_04 { width:120px;}
.shop_h1 .bt_05 { width:140px;}
.shop_h1 .bt_06 { width:135px;}
.shop_h1 .bt_07 { width:133px; border:none;}

.store { float:left; width:1138px; border:1px solid #dbdbdb; border-top:2px solid #989898; margin-top:10px;}
.store h1 { float:left; width:100%;border-bottom:1px solid #dbdbdb; padding:25px 0; font-weight:normal; font-size:15px; color:#0f0f0f;}
.store h1 em { float:left; padding:0 14px 0 23px;}
.store ul { float:left; width:100%;}
.store ul li { float:left; width:100%; padding:18px 0; border-bottom:1px solid #dbdbdb;}
.store ul li span { float:left; color:#3a3a3a;}
.store .sp_01 { padding:23px 0 0 24px;}
.store .sp_02 { padding:0 20px 0 15px;}
.store .sp_02 img { width:60px; height:60px;}
.store .sp_03 { line-height:22px; padding-top:18px; width:330px;}
.store .sp_03 img { margin-left:5px;}
.store .sp_04 { float:left; width:136px; text-align:center; line-height:20px; padding-top:8px;}
.store .sp_04 del { color:#7c7c7c;}
.store .sp_05 { float:left; width:101px;padding:16px 0 0 20px;}
.store .sp_05 strong { width:82px; height:20px; border:1px solid #dadada; float:left;}
.store .sp_05 strong em { float:left; width:20px; height:20px; text-align:center; line-height:20px; cursor:pointer;}
.store .sp_05 strong b { float:left; width:40px; border-left:1px solid #dadada;border-right:1px solid #dadada; text-align:center; line-height:20px;}
.store .sp_05 p { float:left; line-height:16px; text-align:center; padding:0 13px; background:#ec625f; border:1px solid #e84d48; margin:4px 0 0 10px; color:#fff;}
.store .sp_06 { width:140px; text-align:center; padding-top:17px; line-height:20px;}
.store .sp_07 { width:135px; text-align:center; padding-top:17px; line-height:20px; color:#df0001}
.store .sp_08 { width:137px; padding-top:10px;}
.store .sp_08 a { float:left; width:100%; text-align:center; line-height:20px; color:#434343;}
.store .sp_08 a:hover { color:#df0001;}
.store .tb { width:1040px; margin:20px 0 0 50px; background:#f8f8f8; border:1px solid #e3e3e3; text-indent:28px; line-height:57px;-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px; color:#ec5250; position:relative;}
.store .tb em { position:absolute;top:-6px;left:28px; width:9px; height:6px; background:url(../img/car/jint.png) no-repeat scroll;}
.store .tb a {line-height:16px; padding:0 5px; background:#ec625f; border:1px solid #ea4d48;-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px; color:#fff;}
.store .Total { padding:15px 0; border-bottom:none;}
.store .Total span { float:right;line-height:20px;text-align:center;}
.store .Total span em { color:#e10a05;}
.store .Total .he_01 { width:140px;  }
.store .Total .he_02 { width:140px;  }
.store .Total .he_03 { width:140px;  }

.Settlement { float:left; width:1138px; margin-top:30px; border:1px solid #dbdbdb; }
.jz_Display { float:left; width:1092px; padding:23px;border-bottom:1px solid #dbdbdb;}
.jz_Display b { float:left; width:720px;}
.jz_Display b strong { float:left; padding:7px 10px 0 0; font-size:13px; color:#666; font-weight:normal;}
.jz_Display b strong input { margin-right:10px; float:left;}
.jz_Display b span { float:left;  }
.jz_Display b span a { color:#4e4e4e;border:1px solid #dcdcdc;line-height:24px; float:left; padding:0 16px; margin-right:5px;}
.jz_Display b span em { float:left;line-height:24px; background:#eb625c; border:1px solid #ea4d48;-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px; color:#fff; padding:0 8px; cursor:pointer;}
.jz_Display p { float:left; width:240px; color:#393939;}
.jz_Display ul { float:left; width:125px;}
.jz_Display ul li { float:left; width:100%; padding-bottom:12px;}
.jz_Display ul li strong { float:left; color:#3e3e3e; font-weight:normal;}
.jz_Display ul li span { float:left; width:89px; color:#3e3e3e; text-align:right;}
.jz_Display .tb strong { line-height:22px;}
.jz_Display .tb span {font-size:16px; font-weight:bold; color:#e3140c;}

.jz_cz { float:left; width:100%; padding:20px 0; background:#f5f5f5;}
.jz_cz strong { float:left; width:200px; padding-left:23px;}
.jz_cz strong a { float:left; line-height:38px; padding:0 26px; border:1px solid #d7d7d7; background:#fff; color:#3b3b3b; font-weight:normal;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px;}
.jz_cz span { float:right;padding-right:23px;}
.jz_cz span a { float:left; line-height:38px; padding:0 26px; border:1px solid #ed2822; background:#e9322c; color:#fff;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; font-size:15px;}

.Guess_Like { float:left; width:100%; padding:60px 0;}

/*----- 猜你喜欢 -----*/
.Guess_Like .hd { width: 100%; padding-bottom:28px; float:left;}
.Guess_Like .hd  H2 {FLOAT: left; color:#545454; font-size:18px;}
.Guess_Like .haveTab {OVERFLOW: visible; POSITION: relative}
.Guess_Like .haveTab H2#h2One {BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 20px; LEFT: 0px; CURSOR: pointer; POSITION: absolute; TOP: 0px}
.Guess_Like .haveTab H2#h2Tow {BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 20px; LEFT: 94px; CURSOR: pointer; POSITION: absolute; TOP: 0px}
.Guess_Like .haveTab .select {BACKGROUND: #fff; BORDER-BOTTOM: #fff 1px solid}
.Guess_Like .block {DISPLAY: block}
.Guess_Like .none {DISPLAY: none}
.bottom_ad_text TD {WIDTH: 131px; TEXT-ALIGN: left}

.Guess_Like .sildPicBar { float: right; OVERFLOW: hidden;}
.Guess_Like .sildPicBar ul { float:left; margin-top:7px;}
.Guess_Like .pre { FLOAT: left; WIDTH: 25px; CURSOR: pointer;margin-left:8px; HEIGHT: 25px; background:url(../img/car/gund_bg.png) no-repeat scroll -70px 0;}
.Guess_Like .next {FLOAT: left; WIDTH: 25px; CURSOR: pointer; margin-right:8px; HEIGHT: 25px; background:url(../img/car/gund_bg.png) no-repeat scroll 0 0;}
.Guess_Like .sildPicBar LI { FLOAT: left; MARGIN:0 3px; WIDTH:10px; CURSOR: pointer; HEIGHT:10px; background:url(../img/car/gund_bg.png) no-repeat scroll -34px -8px;}
.Guess_Like .sildPicBar LI.select {background:url(../img/car/gund_bg.png) no-repeat scroll -52px -8px;}

.Guess_Like .bd {WIDTH: 100%; float:left;}
.Guess_Like .cnt-wrap {OVERFLOW: hidden; WIDTH: 100%; HEIGHT:270px; float:left;}
.Guess_Like .cnt {WIDTH:4000px}
.cnt-wrap li {FLOAT: left; WIDTH:200px; margin-right:35px;}
.cnt-wrap li strong { float:left; width:100%; padding-top:7px;}
.cnt-wrap li strong b { float:left; color:#414141; font-weight:normal;}
.cnt-wrap li strong b em { color:#e00d04; font-size:14px;}
.cnt-wrap li strong del { float:left; color:#7e7e7e; padding:0 10px; font-weight:normal; line-height:16px;}
.cnt-wrap li span { float:left; width:100%; padding-top:8px; line-height:18px; text-align:left;}
.cnt-wrap li span a { color:#595959;}
.cnt-wrap li span a:hover { color:#e2110c;}
.Guess_Like .cnt-wrap li strong img { float:left; width:auto; height:auto;}
.Guess_Like .cnt IMG { width:200px; height:200px;}
.Guess_Like .cnt .link {DISPLAY: block; MARGIN-LEFT: 0px; WIDTH: 140px; TEXT-ALIGN: center}
.Guess_Like .cnt ul { float:left; width:100%;}
