///*文件上传插件*/
.upload-plugin-wrap{
	.layout-relative-base(0,0,5);
	.layout-float-base(100%,border-box,left);
	height:0;
	input{
			.layout-absolutel-base(0,0,50);
			width:100%;
			opacity:0;
			cursor:pointer;
	}
	div{
		.layout-absoluter-base(5px,0,10);
		.border-radius-base(3px);
		background:@color-gray5;
		color:@color-white;
		text-align:center;
		font-size:@font-size-small;
		cursor:pointer;
	}
}
