/*文本控件*/
.column-text1,
.column-text2,
.column-select,
.column-textarea{
	input[type='text'],
	input[type='password']{
		padding:10px 0 10px 5px;
		float:left;
	}
	select{
		padding:8px 0;
		float:left;
		width:100%;
	}
	textarea{
		padding:5px;
		width:100%;
		height:100px;
		line-height:20px;
		float:left;
	}
}
.column-text1{
	input[type='text'],
	input[type='password']{
		width:100%;
	}
}

/*按钮控件*/
.column-btn{
	input[type='submit'],
	input[type='button'],
	input[type='reset'],
	button{
		width:100%;
		height:40px;
		line-height:40px;
		float:left;
		background:@color-red2;
	}
}
/*提示控件*/
.column-tip{
	height:24px;
	line-height:24px;
}

.radio-plugin-wrap,
.checkbox-plugin-wrap{
	border-bottom:1px solid @color-gray5;
}










