/* CSS crunched with Crunch - http://crunchapp.net/ */

/*以上部分需删除，为公共部分*/
/*--适配不同分辨率--*/
@media screen and (min-width: 541px) and (max-width: 640px) {
  /*搜索*/
  .search-text {
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    height: 38px;
    padding: 9px 38px 9px 19px;
  }
  .search-btn {
    height: 36px;
    line-height: 36px;
    width: 38px;
    font-size: 23px;
  }
}
@media screen and (min-width: 481px) and (max-width: 540px) {
  /*搜索*/
  .search-text {
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    height: 36px;
    padding: 8px 36px 8px 18px;
  }
  .search-btn {
    height: 34px;
    line-height: 34px;
    width: 36px;
    font-size: 21px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /*搜索*/
  .search-text {
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    height: 34px;
    padding: 7px 34px 7px 17px;
  }
  .search-btn {
    height: 32px;
    line-height: 32px;
    width: 34px;
    font-size: 21px;
  }
}
@media screen and (min-width: 281px) and (max-width: 320px) {
  /*搜索*/
  .search-text {
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    height: 32px;
    padding: 6px 32px 6px 16px;
  }
  .search-btn {
    height: 30px;
    width: 32px;
    line-height: 30px;
    font-size: 19px;
  }
}
@media screen and (max-width: 280px) {
  /*搜索*/
  .search-text {
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height: 30px;
    font-size: 12px;
    padding: 5px 30px 5px 15px;
  }
  .search-btn {
    height: 28px;
    width: 30px;
    line-height: 28px;
    font-size: 19px;
    text-indent: 3px;
  }
}
