///max 1000px
@media screen and (max-width:999px){
	//变量适配
	@global-screen-width:640px;
	@global-screen-height:850px;

	/*主题*/
	.screen-theme{
		@themewidth:@global-screen-width;
		.layout-base(@themewidth);
		margin:0 auto 0 -@themewidth/2;
		h1{
			height:30px;
			line-height:26px;
			font-size:@font-size-base + 10;
		}
		h2{
			height:24px;
			line-height:16px;
			font-size:@font-size-base - 2;
		}
	}

	/*展示区*/
	.screen-box{
		@boxwidth:@global-screen-width;
		.layout-absolutel-base(50%,90px);
		.layout-base(@boxwidth);
		margin:0 auto 0 -@boxwidth/2;
		.calc-base(height,'100% - 100px');
	}


	/*第二屏*/
	.screen-wrap2{
		.screen-theme{
			top:200px;
		}
		.screen-box{
			top:270px;
		}
	}
	.screen-info2{
		height:170px;
		>div{
			.layout-base(@global-screen-width);
			padding:10px 0;
		}
		h2{
			font-size:@font-size-base + 6;
			height:30px;
			line-height:20px;
		}
		h3{
			height:16px;
			line-height:16px;
			text-align:center;
			font-size:@font-size-base;
		}
		p{
			padding:10px 0 5px 0;
			line-height:20px;
		}
	}
	.screen-list2{
		li{
			padding:20px 20px 0 20px;
			div{
				@iconwidth:100px;
				.layout-base(@iconwidth);
				margin:10px 0;
				height:@iconwidth;
				&:after{
					line-height:@iconwidth;
					font-size:@font-size-base * 4;
				}
			}
			h3{
				font-size:@font-size-base + 2;
				line-height:18px;
				height:36px;
			}
			h4{
				font-size:@font-size-base;
				height:16px;
				line-height:18px;
			}
		}
	}

	/*第三屏*/
	.screen-wrap3{
		.screen-box{
			padding:20px 0 0 0;
		}
	}
	.screen-tab3-wrap{
		.layout-base(500px);
	}

	/*第四屏*/

	/*第五屏*/
	.screen-contact5-list{
		padding:0 0 0 10px;
	}
	.screen-contact5-code{
		img{
			max-width:150px;
			max-height:150px;
		}
	}


}



