@import '../layout/variable/base_variable_support.less';

/*select2 插件*/
@import '../mixin/select2_extend.less';


/*自定义变量*/
@import '../mixin/variable.less';


/*头部*/
@import '../mixin/header.less';

/*分屏*/
.screen-item{
	.layout-relative-base;
	.layout-base;
	height:100%;
	.calc-base(height,'100vh');
	min-height:@global-screen-height - 50;
}

/*主题*/
.screen-theme{
	@themewidth:@global-screen-width;
	.layout-absolutel-base(50%,30px);
	.layout-base(@themewidth);
	margin:0 auto 0 -@themewidth/2;
	height:70px;
	h1,
	h2{
		.layout-base;
		text-align:center;
		display: block;
		overflow: hidden;
		.text-ww;
	}
	h1{
		height:40px;
		line-height:30px;
		font-size:@font-size-base + 15;
	}
	h2{
		.layout-relative-base;
		height:30px;
		line-height:20px;
		font-size:@font-size-base;
		&:after{
			@linewidth:100px;
			.layout-absolutelb-base(50%,0);
			content:'';
			display: block;
			width:@linewidth;
			margin:0 0 0 -@linewidth/2;
			height:4px;
		}
	}
}

/*展示区*/
.screen-box{
	@boxwidth:@global-screen-width;
	.layout-absolutel-base(50%,110px);
	.layout-base(@boxwidth);
	margin:0 auto 0 -@boxwidth/2;
	.calc-base(height,'100% - 120px');
}

/*第一屏*/
.screen-wrap1{
	background:@dark-bg;
}

/*轮播*/
/*导入轮播类*/
@import '../layout/widget/slide.less';

/*第二屏*/

.screen-wrap2{
	background-color:@header-bg;
	.screen-theme{
		top:280px;
		h1{
			color:@color-white;
		}
		h2{
			color:@color-white;
			&:after{
				background-color:@color-red1;
			}
		}
	}
	.screen-box{
		top:350px;
	}
}

.screen-info2{
	.layout-absolutel-base;
	.layout-base;
	height:250px;
	background-color:@dark-bg;
	>div{
		.layout-base(@global-screen-width);
		padding:20px 0;
		margin:0 auto;
		height:100%;
	}
	h2{
		display:block;
		text-align:center;
		font-size:@font-size-base + 10;
		height:40px;
		line-height:30px;
		color:@color-gray3;
		font-weight:bold;
	}
	h3{
		display:block;
		height:20px;
		line-height:20px;
		text-align:center;
		font-size:@font-size-base + 2;
		color:@color-gray5;
	}
	p{
		.layout-base;
		font-size:@font-size-base - 2;
		color:@color-gray7;
		overflow:hidden;
		padding:30px 0 20px 0;
		line-height:30px;
	}
}

.screen-list2{
	.layout-relative-base;
	.layout-base;
	text-align: center;
	overflow:hidden;
	height:100%;
	font-size:0;
	li{
		position:absolute;
		.layout-base(24%);
		.transition-base(all .5s linear .1s);
		display:inline-block;
		text-align: center;
		height:100%;
		overflow: hidden;
		.user-select-base;
		padding:30px 20px 0 20px;
		div,h3,h4,p{
			display:inline-block;
			color:@color-white;
		}
		a{
			width:100%;
			height:100%;
			display:inline-block;
		}
		div{
			@iconwidth:130px;
			.layout-base(@iconwidth);
			height:@iconwidth;
			margin:30px 0 20px 0;
			border:2px solid @color-white;
			overflow: hidden;
			img{
				display:block;
				margin:5px auto 0 auto;
				max-width:90%;
				max-height:90%;
			}
		}
		h3,h4,p{
			.layout-base;
		}
		h3{
			font-size:@font-size-base + 6;
			line-height:20px;
			height:40px;
			margin:20px 0 0 0;
		}
		h4{
			font-size:@font-size-base + 2;
			height:20px;
			line-height:22px;
		}
		p{
			padding:20px 0 0 0;
			font-size:@font-size-base;
			line-height:25px;
			color:@color-gray9;
			.text-ww;
			text-align: left;
			overflow:hidden;
		}
	}
}
.screen-list2{
	li{
		.opacity-base(0);
	}
	.list2-item1-wrap{
		left:-200px;
		top:-300px;
	}
	.list2-item2-wrap{
		left:200px;
		top:400px;
	}
	.list2-item3-wrap{
		left:700px;
		top:300px;
	}
	.list2-item4-wrap{
		left:1200px;
		top:-400px;
	}
}
.list2-active{
	li{
		top:0 !important;
		.opacity-base(100);
		&:hover {
			div {
				.transform-origin-base(center center);
				.transform-base(rotate(360deg));
				.transition-base(all .8s ease-in .02s);
			}
		}

	}
	.list2-item1-wrap{
		left:0;
	}
	.list2-item2-wrap{
		left:25%;
	}
	.list2-item3-wrap{
		left:50%;
	}
	.list2-item4-wrap{
		left:75%;
	}
}

/*第三屏*/
.screen-wrap3{
	background-color:@dark-bg;
	.screen-theme{
		h1{
			color:@color-gray3;
		}
		h2{
			color:@color-gray3;
			&:after{
				background-color:@color-red1;
			}
		}
	}
	.screen-box{
		padding:30px 0 0 0;
	}
}

.screen-tab3-wrap{
	.layout-relative-base;
	.layout-base(640px);
	.user-select-base;
	margin:0 auto;
	height:90px;
	padding:0 70px;
	.tab3-btn,
	.tab3-show{
		.box-sizing-base;
		border:1px solid @color-gray12;
		height:40px;
		background:@color-white;
		cursor: pointer;
	}
	.tab3-btn{
		position:absolute;
		width:40px;
		top:0;
		&:after{
			font-size:@font-size-base + 16;
			font-family:'ux_eight';
			color:@color-gray6;
			display:block;
			width:100%;
			height:100%;
			text-align: center;
			line-height:40px;
		}
		&:hover{
			border:1px solid @color-red1;
			&:after{
				color:@color-red1;
			}
		}
	}
	.tab3-btn-left{
		left:8px;
		&:after{
			content:'\e625';
		}
	}
	.tab3-btn-right{
		right:8px;
		&:after{
			content:'\e63f';
		}
	}
	.tab3-btn-disabled{
		border:1px solid @color-gray12 !important;
		&:after{
			color:@color-gray12 !important;
		}
		&:hover{
			border:1px solid @color-gray12 !important;
			&:after{
				color:@color-gray12 !important;
			}
		}
	}
	.tab3-show{
		font-size:0;
		overflow: hidden;
		span{
			.layout-base(20%);
			font-size:@font-size-base;
			display:inline-block;
			height:100%;
			line-height:38px;
			text-align: center;
			color:@color-gray3;
			border-left:1px solid @color-gray12;
			&:first-child{
				border:none !important;
			}
		}
		.tab3-active{
			color:@color-white;
			background:@color-red1;
		}
	}
}

/*引入列表*/
@import '../layout/widget/list.less';

.screen-list3{
	background:@color-white;
	.layout-base;
	.calc-base(height,'100% - 200px');
	min-height:480px;
	padding:20px 40px;
	.box-shadow-base(0 18px 15px 0 @color-gray12);
	ul{
		float:left;
		height:99%;
		padding:0 0 30px 0;
		overflow: hidden;
		.list-wrap1;
	}
	>div{
		.user-select-base;
		.layout-base;
		height:0;
		a{
			float:right;
			margin:-25px 0 0 0;
			display:inline-block;
			padding:5px 10px;
			font-size:@font-size-base;
			color:@color-blue1;
			cursor: pointer;
			&:hover{
				color:@color-red1;
			}
		}
	}
}


/*第四屏*/
.screen-wrap4{
	background-color:@color-red1;
	.screen-theme{
		h1{
			color:@color-white;
		}
		h2{
			color:@color-white;
			&:after{
				background-color:@color-white;
			}
		}
	}
	.screen-box{
		padding:20px 0 20px 0;
	}
}
.screen-info4{
	.box-sizing-base;
	padding:20px;
	background:@color-white;
	height:100%;
	h3{
		width:100%;
		height:40px;
		line-height:20px;
		text-align:left;
		font-size:@font-size-base + 2;
		color:@color-gray3;
	}
}
.screen-form4-wrap{
	float:left;
	width:38%;
	background:@color-gray16;
}
.screen-list4{
	height:100%;
	float:right;
	width:58%;
	background:@color-gray16;
	dl{
		.list-wrap2;
		width:100%;
		.calc-base(height,'100% - 70px');
		padding:0 0 20px 0;
		overflow: hidden;
		>dt{
			float:left;
			width:100%;
		}
		>dd{
			width:100%;
			max-height:70%;
			min-height:100px;
			overflow-y:auto;
			overflow-x: hidden;
			display:none;
		}
	}
	>div{
		.user-select-base;
		.layout-base;
		height:0;
		a{
			float:right;
			margin:0;
			display:inline-block;
			padding:5px 10px;
			font-size:@font-size-base;
			color:@color-blue1;
			cursor: pointer;
			&:hover{
				color:@color-red1;
			}
		}
	}
}

.form4-wrap{
	.layout-base;
	height:100%;
}
.form4-item{
	>input,
	>textarea,
	>button,
	>select{
		.box-sizing-base;
		font-size:@font-size-base + 2;
	}
	>input,
	>textarea,
	>button{
		.border-radius-base(20px);
	}
	>input,
	>textarea,
	>select{
		border:1px solid @color-gray16;
		color:@color-gray6;
		width:100%;
		padding:10px 10px 10px 10px;
		margin:0 auto;
		background:@color-white;
		&:focus{
			border:1px solid @color-gray12;
		}
	}
	>input{
		line-height:20px;
		height:40px;
	}
	>textarea{
		line-height:24px;
		height:120px;
	}
	>button{
		height:40px;
		line-height:35px;
		text-align:center;
		vertical-align:middle;
		display:inline-block;
		width:100%;
		color:@color-white;
		background:@header-bg;
		&:hover{
			background:@color-gray3;
		}
	}
}
.form4-tip{
	float:left;
	width:100%;
	height:26px;
	line-height:26px;
	font-size:@font-size-base;
	text-align:left;
	text-indent:10px;
	color:@color-red1;
}



/*第五屏*/
.screen-wrap5{
	background-color:@header-bg;
	.screen-theme{
		h1{
			color:@color-white;
		}
		h2{
			color:@color-white;
			&:after{
				background-color:@color-red1;
			}
		}
	}
	.screen-box{
		padding:10px 0;
	}
}
.screen-info5-map{
	.layout-base;
	padding:10px 0;
	height:65%;
	display:table;
	div{
		display:table-cell;
		text-align: center;
		vertical-align: middle;
		width:100%;
		height:100%;
		overflow: hidden;
	}
	img{
		max-width:100%;
		max-height:100%;
		display:inline-block;
	}
}
.screen-info5-remark{
	.layout-base;
	padding:10px 0 0 0;
	height:35%;
}
.screen-contact5-list{
	float:left;
	.layout-base(60%);
	height:100%;
	padding:0 0 0 100px;
	div{
		.layout-base;
		min-height:32px;
		color:@color-white;
		line-height:30px;
		margin:20px 0 0 0;
		padding:0 0 0 40px;
		&:nth-child(1){
			background:transparent url('../images/icon_address.png') 0 0 no-repeat;
		}
		&:nth-child(2){
			background:transparent url('../images/icon_telephone.png') 0 0 no-repeat;
		}
		&:nth-child(3){
			background:transparent url('../images/icon_mailbox.png') 0 0 no-repeat;
		}
	}
}
.screen-contact5-code{
	.layout-base(40%);
	height:100%;
	float: right;
	text-align:center;
	img{
		max-width:180px;
		max-height:180px;
		display: inline-block;
	}
}
.screen-contact5-link{
	.layout-absoluterb-base;
	.layout-base;
	height:40px;
	line-height:40px;
	background:@footer-bg;
}

/*底部*/
@import '../mixin/footer.less';



/*适配*/
@import 'adapt.less';