@charset "utf-8";
/* CSS Document */
body *{margin:0;padding:0;font-size:12px;list-style:none;}
.container{position:relative;left:0px;top:0px;margin:0 auto;min-height:1350px;_height:1350px;width:1303px;background:#999;}
.content{position:relative;top:-17px;width:1003px;min-height:1085px;_height:1085px;background:#FF6600;margin:0 auto;z-index:1;}
.imageframe{position:relative;height:501px;width:829px;background:url(../img/imageframe.png) no-repeat;z-index:50;}
.imagemenu{width:175px;height:500px;position:relative;top:-500px;left:829px;background:url(../img/imagemenu.png) repeat-y;}
.imagephotos{position:relative;top:-501px;height:500px;width:1003px;overflow:hidden;z-index:60;}
/*.imagephotos ul{
float:right;
height:60px;
width:100px;
}
.imagephotos ul li{
float:left;
width:160px;
height:100px;
overflow:hidden;
display:inline;
margin:10px;
border:2px solid #FF99FF;
}
.imagephotos ul li a{
display:block;
height:60px;
width:60px;
overflow:hidden;
}
.imagephotos ul li a img{
border:none;
margin:-100px 0 0 -100px;
display:block;
}
.imagephotos ul li a:hover{
/*解决ie6鼠标移入无反应问题*/
border:none;
}
.imagephotos ul li a:hover img{
position:absolute;
top:100px;
left:100px;
}*/
