@charset "utf-8";
/* CSS Document */
.header{position:relative;top:0px;left:0px;height:132px;width:1303px;background:url(../img/banner-background.png) repeat-x;z-index:100;}
.links{position:relative;top:10px;left:1000px;height:14px;max-width:150px;_width:150px;min-width:50px;overflow:hidden;}
.links p{float:left;margin:0 5px;color:#FFF;height:12px;line-height:1em; font-weight:bold;}
.links p a{text-decoration:none;color:#FFF;height:12px;line-height:1.1em;font-weight:normal;}
.logo{position:relative;left:200px;top:10px;height:71px;width:92px;background:url(../img/logo.png) no-repeat;}
.menu{position:absolute;top:64px;left:300px;width:907px;height:83px;background:url(../img/menu-background.png) no-repeat;z-index:1000;}
/*_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=’../img/menu-background.png’, sizingMethod=’scale’);*/
.menu ul{position:relative;left:6px;top:0px;width:895px;height:66px;}
.menu ul li{float:left;height:51px;width:133px;margin:10px 0 0 14px;_margin:10px 0 0 11px;}
.menu ul li a{color:#000;font-size:16px;font-family:"宋体",serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;font-weight:bold;display:block;line-height:3.0em;text-align:center;height:52px;text-decoration:none;}
.menu ul li a:hover{background:url(../img/menu-button.png) no-repeat center center;color:#FFF;}