@charset "utf-8";
/* CSS Document */
body{
padding:0;
margin:0;
}
body *{
padding:0;
margin:0;
}
.container{
position:relative;
margin:0 auto;
height:600px;
width:960px;
background:#FFF url(../images/index-background.png) no-repeat;
}
.header{
height:74px;
width:503px;
position:absolute;
left:240px;
top:60px;
}
.menu-content{
position:relative;
left:120px;
top:200px;
width:800px;
height:130px;
}
.header h1{
text-indent:-9999px;
background:url(../images/index_title.png) no-repeat center top;
height:54px;
width:503px;
}
.header p{
font-size:14px;
margin:0 55px;
font-family: "黑体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda,"宋体";
font-weight:bold;
}
.footer{
position:absolute;
top:520px;
left:120px;
_left:70px;
*+left:120px;
}
.footer p{
float:left;
margin:0 0 0 55px;
font-size:18px;
font-weight:bold;
font-family:"宋体", "黑体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;
}
