@charset "utf-8";
/* CSS Document */
.menu-content ul{
margin:0;
padding:0;
list-style:none;
width:800px;
height:150px;
}
.menu-content ul li{
float:left;
width:140px;
margin:0 0 0 10px;}
.menu-content ul li img{cursor:pointer;}
.menu-content ul li a{
display:block;width:120px;
text-align:center;
font:"黑体", "宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;
font-weight:bold;
font-size:24px;
color:#1F1A86;
text-decoration:none;
}
.menu-content ul li a{
position:relative;
top:-20px;
}
.menu-content ul li a:hover{
color:#099;
}

