@charset "utf-8";
/* CSS Document */
body *{margin:0;padding:0;}
body{margin:0;padding:0;}
.containerfirst{position:relative;margin:0 auto;height:600px;width:960px;background:#FFF url(../images/modelingfirst-background.png) no-repeat;}
.header{height:74px;width:503px;position:absolute;left:250px;top:40px;height:54px;width:503px;}
.header h1{color:#0589F5;font-size:36px;font-weight:bold;}
.header p{margin:0 0 0 10px;font-size:14px;display:inline;position:relative;top:10px;color:#999;}
/*建模认证第一张*/
.containerautfirst{position:relative;margin:0 auto;height:600px;width:960px;background:#FFF url(../images/authenticatefirst-background.png) no-repeat;}
.modelingfirst{position:relative;left:400px;top:220px;height:200px;width:360px;}
.modeltop{position:relative;width:140px;height:24px;top:-80px;left:260px;}
.modeltop a{text-decoration:none;color:#F00;}
#modeltop{border:none;background:url(../images/modeling-top-button.png) no-repeat;width:39px;height:24px;cursor:pointer;}
.modelingfirst label{cursor:pointer;font-size:16px;font-weight:bold;}
#userid,#password{border:none;background:url(../images/modelingfirst-text.png) no-repeat;width:185px;height:29px;font-size:14px;
line-height:2em;padding-left:4px;}
#useridy,#passwordy{color:#F00;font-size:20px;width:22px;height:22px;background:url(../images/yes-icon.png) no-repeat;text-indent:-9999px;}
#useridn,#passwordn{color:#F00;font-size:20px;width:22px;height:22px;background:url(../images/no-icon.png) no-repeat;text-indent:-9999px;}
#userid:focus,#password:focus,#valids:focus{outline:none;}
#valids{border:none;background:url(../images/modelingfirst-validtext.png) no-repeat;width:77px;height:29px;font-size:14px;line-height:2em;padding-left:3px;}
#submits{border:none;background:url(../images/modeling-buttom.png) no-repeat;height:41px;width:129px;color:#FFF;font-size:18px;font-weight:bold;cursor:pointer;}
#submits:hover{color:#CCFF00;}
.xing{color:#FF0000;font-size:20px;padding-top:4px;}
/*建模认证第二张*/
.containersecond{position:relative;margin:0 auto;height:600px;width:960px;background:#FFF url(../images/modelingsecond-background.png) no-repeat;}
.modelingsecond{position:relative;left:150px;top:150px;height:420px;width:650px;}
.modelingsecond span{position:relative;left:10px;top:-18px;color:#F00;font-size:20px;font-weight:bold;}
.linkothersecond{width:160px;height:20px;position:relative;left:540px;top:-40px;}
.linkothersecond a{color:#F00;text-decoration:none;height:20px;width:70px;}
.contentimagesecond{float:left;width:207px;height:247px;border:1px solid #999;}
.contentimagesecond img{display:block;margin:3px 0 0 3px;width:201px;height:241px;}
.contentmainsecond{float:right;height:400px;width:400px;}
.contentmainsecond table{font-size:16px;}
.contentmainsecond table label{cursor:pointer;color:#006;}
.contentmainsecond table,.contentmainsecond table tr td{border:1px solid #CCC;}
#username,#sex,#nation,#userids,#authority,#address,#social,#deal,#ismodeling{border:none;}
#submits{margin-top:10px;}
/*建模认证第三张*/
.modelingthird{position:relative;left:150px;top:130px;height:420px;width:660px;}
.modelingthirdf{position:relative;left:150px;top:130px;height:510px;width:650px;}
.contaiermodelingthirdf{position:relative;margin:0 auto;height:900px;width:960px;background:#FFF url(../images/modelingthirdf-background.png) no-repeat;}
.modelingthird span{position:relative;left:10px;top:0px;color:#F00;font-size:20px;font-weight:bold;}
.linkotherthird{width:160px;height:20px;position:relative;left:540px;top:-20px;}
.linkotherthird a{color:#F00;text-decoration:none;height:20px;width:70px;}

.modelingthirdf span{position:relative;left:10px;top:-16px;color:#F00;font-size:20px;font-weight:bold;}
.linkotherthirdf{width:160px;height:20px;position:relative;left:540px;top:-36px;}
.linkotherthirdf a{color:#F00;text-decoration:none;height:20px;width:70px;}

.contentthird{width:660px;height:300px;border:1px solid #999;}
.contentimagethird{float:left;width:400px;height:294px;border:1px solid #999;margin:2px 0 0 2px;background:#CCC;}
.contentmainthird{float:right;height:200px;width:200px;}
.contentmainthird #submits{margin-top:120px;}

.contentimagethirdf{float:left;width:650px;height:510px;border:1px solid #999;margin:2px 0 0 2px;background:#CCC;}
.contentmainthirdf{float:left;height:100px;width:650px;}
.contentmainthirdf #submits{margin:20px 0 0 260px;}
/*建模认证第四张*/
#submitstf{position:relative;left:-80px;border:none;background:url(../images/modeling-buttom.png) no-repeat;height:41px;width:129px;color:#FFF;font-size:12px;font-weight:bold;cursor:pointer;margin:10px 60px 0 0;}
#submitstf:hover{color:#CCFF00;}

/*常见问题解答*/
.containerFAQ{position:relative;margin:0 auto;height:1000px;width:960px;background:#FFF url(../images/FAQ-background.png) no-repeat;}
.contentFAQ{position:relative;left:180px;top:156px;height:420px;width:650px;}
.contentFAQ span{position:relative;left:10px;top:-18px;color:#F00;font-size:20px;font-weight:bold;}
.linkotherFAQ{width:160px;height:20px;position:relative;left:530px;top:-40px;}
.linkotherFAQ a{color:#F00;text-decoration:none;height:20px;width:70px;}
.contentmain{width:620px;height:680px;position:relative;left:0px;top:0px;overflow:hidden;}
.contents{width:600px;height:auto;float:left;}
.contents .contenttitleFAQ{position:relative;top:4px;width:600px;color:#F00;margin:4px;border:1px solid #CCC;display:block;}
.contents .contenttitleFAQ h1{font-size:16px;margin:0 0 0 10px;display:inline;}
/*.contents .contenttitleFAQ h1:after{visibility:hidden;display:block;clear:both;content:"";}*/
.contents .contentmainFAQ{position:relative;top:4px;width:600px;color:#000;line-height:1.2em;}
.contents .contentmainFAQ p{float:left;margin-left:10px;font-size:20px;font-weight:lighter;display:block;}
#up,#down{position:relative;left:140px;top:-60px;border:none;background:url(../images/modeling-buttom.png) no-repeat;height:41px;width:129px;color:#FFF;font-size:18px;font-weight:bold;cursor:pointer;margin:10px 60px 0 0;}
#up:hover,#down:hover{color:#CCFF00;}
/*交流中心*/
.containertalkcenter{position:relative;margin:0 auto;height:700px;width:960px;background:#FFF url(../images/talkcenter-background.png) no-repeat;}
.talkcenter{position:relative;left:180px;top:165px;height:420px;width:650px;}
.talkcenter span{position:relative;left:10px;top:-18px;color:#F00;font-size:20px;font-weight:bold;}
.linkothertalkcenter{width:160px;height:20px;position:relative;left:500px;top:-40px;}
.linkothertalkcenter a{color:#F00;text-decoration:none;height:20px;width:70px;}
.contenttalkcenter{position:relative;left:-30px;top:-20px;width:660px;height:420px;border:1px solid #999;}
.tctop{float:left;width:650px;height:200px;margin-top:20px;}
.tctop span{margin-left:50px;color:#F00;}
.tctop p{line-height:1.2em;font-size:15px;}
.tctop p:first-letter{color:#F00;}
.tccenter{clear:both;position:relative;top:-40px;left:10px;width:640px;height:200px;}
.tccenter table strong{color:#F00;}
#submitf,#submitg{position:relative;left:160px;top:-60px;border:none;background:url(../images/modeling-buttom.png) no-repeat;height:41px;width:129px;color:#FFF;font-size:18px;font-weight:bold;cursor:pointer;margin:10px 60px 0 0;}
#submitf:hover,#submitg:hover{color:#CCFF00;}
/*申诉*/
.containerss{position:relative;margin:0 auto;height:700px;width:960px;background:#FFF url(../images/talkcenter-background.png) no-repeat;}
.ss{position:relative;left:180px;top:152px;height:420px;width:650px;}
.ss span{position:relative;left:10px;top:-6px;color:#F00;font-size:20px;font-weight:bold;}
.linkotherss{width:160px;height:20px;position:relative;left:500px;top:-26px;}
.linkotherss a{color:#F00;text-decoration:none;height:20px;width:70px;}
.contentss{position:relative;left:-30px;top:-20px;width:660px;height:420px;border:1px solid #999;}
.ssmain{position:relative;top:0px;left:10px;width:640px;height:200px;}
.ssmain table strong{color:#F00;}
#submitsuk,#submitsug{position:relative;left:160px;top:166px;border:none;background:url(../images/modeling-buttom.png) no-repeat;height:41px;width:129px;color:#FFF;font-size:18px;font-weight:bold;cursor:pointer;margin:10px 60px 0 0;}
#submitsuk:hover,#submitsug:hover{color:#CCFF00;}

/*演示*/
.showa,.showb,.showc,.showd,.showe{position:relative;margin:0 auto;height:600px;width:960px;background:#FFF url(../images/show-one-background.png) no-repeat;}
.showalinkb{background:url(../images/linkb.png) no-repeat;}
.showalinkc{background:url(../images/linkc.png) no-repeat;}
.showalinkd{background:url(../images/linkd.png) no-repeat;}
.showalinke{background:url(../images/linke.png) no-repeat;}
.showalinks{background:url(../images/linksy.png) no-repeat;}
.showalinkb,.showalinkc,.showalinkd,.showalinke,.showalinks{text-indent:-9999px;width:146px;height:55px;display:block;float:left;margin:280px 0 0 35px;font-size:20px;text-decoration:none;cursor:pointer;
}

.showb{background:#FFF url(../images/操作演示怎样建认证.jpg) no-repeat;}
.showblinks a,.showblinka a,.showclinks a,.showclinka a,.showdlinks a,.showdlinka a,.showelinks a,.showelinka a{text-indent:-9999px;width:146px;height:55px;display:block;font-size:20px;text-decoration:none;cursor:pointer;}
.showblinks{background:url(../images/linksy.png) no-repeat;position:relative;top:160px;left:50px;}
.showblinka{position:relative;top:320px;left:50px;background:url(../images/linkfh.png) no-repeat;}

.showc{background:#FFF url(../images/操作演示怎样建模.jpg) no-repeat;}
.showclinks{background:url(../images/linksy.png) no-repeat;position:relative;top:160px;left:50px;}
.showclinka{position:relative;top:320px;left:50px;background:url(../images/linkfh.png) no-repeat;}

.showd{background:#FFF url(../images/认证和建模不成功.jpg) no-repeat;}
.showdlinks{background:url(../images/linksy.png) no-repeat;position:relative;top:240px;left:50px;}
.showdlinka{position:relative;top:400px;left:50px;background:url(../images/linkfh.png) no-repeat;}

.showe{background:#FFF url(../images/认证和建模不成功申诉.jpg) no-repeat;}
.showelinks{background:url(../images/linksy.png) no-repeat;position:relative;top:240px;left:50px;}
.showelinka{position:relative;top:400px;left:50px;background:url(../images/linkfh.png) no-repeat;}

.footerfirst{position:absolute;top:540px;left:125px;_left:10px;*+left:120px;}
.footersecond{position:absolute;top:570px;left:125px;_left:10px;*+left:120px;}
.footersecondf{position:absolute;top:860px;left:125px;_left:10px;*+left:120px;}
.footerFAQ{position:absolute;top:964px;left:125px;_left:10px;*+left:120px;}
.footertc{position:absolute;top:666px;left:315px;_left:10px;*+left:120px;}
.footerfirst p{float:left;margin:0 0 0 50px;_margin:0 0 0 40px;font-size:18px;font-weight:bold;font-family:"宋体", "黑体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;}
.footersecond p{float:left;margin:0 0 0 50px;_margin:0 0 0 40px;font-size:18px;font-weight:bold;font-family:"宋体", "黑体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;}
.footersecondf p{float:left;margin:0 0 0 50px;_margin:0 0 0 40px;font-size:18px;font-weight:bold;font-family:"宋体", "黑体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;}
.footerFAQ p{float:left;margin:0 0 0 50px;_margin:0 0 0 40px;font-size:18px;font-weight:bold;font-family:"宋体", "黑体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;}
.footertc p{float:left;margin:0 0 0 50px;_margin:0 0 0 40px;font-size:18px;font-weight:bold;font-family:"宋体", "黑体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;}
