<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="微网站管理后台--模板管理">
<meta name="keywords" content="微网站管理后台--模板管理">
<title>微网站管理后台--模板管理</title>
<link rel="stylesheet" type="text/css" href="../../resource/css/base.css">
<link rel="stylesheet" type="text/css" href="../../resource/css/common.css">
<link rel="stylesheet" type="text/css" href="../../resource/css/template.css">
<link rel="stylesheet" type="text/css" href="../../resource/js/plugins/artdialog/css/ui-dialog.css">
<link rel="stylesheet" type="text/css" href="../../resource/js/plugins/easyui_page/easyui.css">
</head>
<body class="g-fill" lang="zh">
    <div class="mainmenu-wrap">
    		<div class="mm-box">
        		<div class="mm-logo"></div>
            <ul class="mm-active">
            		<li class="mm-a1">用户名：<span>德胖胖</span></li>
                <li class="mm-a2">前台首页
                  <span id="submenuitem"></span>
                  <ul>
                    <li><a href="../create/create_manage.html" title="">我的微网站</a></li>
                    <li><a href="../account/login.html" title="">登录</a></li>
                    <li><a href="../result/fail.html" title="">失败</a></li>
                    <li><a href="../result/success.html" title="">成功</a></li>
                  </ul>
                </li>
                <li class="mm-a3">安全退出</li>
            </ul>
            <ul class="mm-menuitem">
            	<li><a href="../index.html" title="">后台首页</a><div></div></li>
              <li><a href="../nav_column/nav_column.html" title="">导航栏目管理</a><div></div></li>
							<li><a href="../article/article_list.html" title="">文章管理</a><div></div></li>
              <li><a href="../community/community_list.html" title="">微社区管理</a><div></div></li>
              <li><a href="../template/template.html" title="">模板管理</a><div></div></li>
							<li><a href="#" title="">配置管理</a><div></div></li>
              <li><a href="#" title="">微信接口</a><div></div></li>
              <li><a href="../help/help.html" title="">帮助文档</a><div></div></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="main-wrap">
        	<div class="main-box">
              <ul id="template_wrap">
                	<li class="template-type">
                      <div class="template-theme">
                        <h3>当前模板风格：<span>默认模板</span></h3>
                        <span id="template1"></span>
                      </div>
                      <div class="template-img">
                      	<img alt="template default" src="../../resource/images/template_img/template_default.jpg" >
                      </div>
                  </li>
                  <li class="template-type">
                      <div class="template-theme">
                        <h3>当前模板风格：<span>圆形蓝色</span></h3>
                        <span id="template2"></span>
                      </div>
                      <div class="template-img">
                      	<img alt="template circle blue" src="../../resource/images/template_img/template_circle_blue.jpg" >
                      </div>
                  </li>
                  <li class="template-type">
                      <div class="template-theme">
                      	<h3>当前模板风格：<span>圆形透明风格</span></h3>
                        <span id="template3"></span>
                      </div>
                      <div class="template-img">
                      	<img alt="template circle opacity" src="../../resource/images/template_img/template_circle_opacity.jpg" >
                      </div>
                  </li>
                  <li class="template-type">
                      <div class="template-theme">
                      	<h3>当前模板风格：<span>方块风格</span></h3>
                        <span id="template4"></span>
                      </div>
                      <div class="template-img">
                      	<img alt="template block" src="../../resource/images/template_img/template_block.jpg" >
                      </div>
                  </li>
              </ul>
              <div class="tempage-page">
                  <div class="easyui-panel">
                    <div class="easyui-pagination" id="template_page" data-options=" total:20,links:5,pageSize:3,pageNumber:1,layout:['first','prev','links','next','last']"></div>
                  </div>
              </div>
            	<div class="clearfix"></div>
          	</div>
        </div>
        <ul class="side-wrap">
          <li>
            <a href="#" title="">后台首页</a>
          </li>
          <li>
            <a href="#" title="">导航栏目管理</a>
          </li>
          <li>
            <a href="#" title="">文章管理</a>
          </li>
          <li>
            <a href="#" title="">微社区管理</a>
          </li>
          <li>
            <a href="#" title="">模板管理</a>
          </li>
          <li>
            <a href="#" title="">配置管理</a>
          </li>
          <li>
            <a href="#" title="">微信接口</a>
          </li>
        </ul>
    </div>
</body>
<script data-main="../../resource/js/template/template" src="../../resource/js/lib/require.min.js"></script>
</html>
