/* CSS Document */
/*my css file*/

/*----------global-------------*/
body{margin:0;padding:0;}
body *{margin:0;padding:0;font-size:100%;/*font-size:12px*/text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:none;}
body *:focus{outline:none;}

/*-----------popup_alert(must hava html image css)-----------------*/
.masking_bg{background:url(../images/maskbg.jpg) repeat center center;opacity:0.7;filter:alpha(opacity:70);position:fixed;_position:absolute;left:0;top:0;z-index:50;display:none;}
.masking_outer{width:348px;height:168px;overflow:hidden;position:absolute;left:40%;top:30%;background:transparent url(../images/popup_bg.png) no-repeat center center;z-index:100;display:none;}
.masking_title{width:260px;height:auto;font-size:14px;position:relative;left:35px;top:8px;padding:3px;color:#069;-webkit-text-shadow:0 2px 3px #999;-moz-text-shadow:0 2px 3px #999;-ms-text-shadow:0 2px 3px #999;-o-text-shadow:0 2px 3px #666;text-shadow:0 2px 3px #999;font-weight:normal;}
.masking_inner{width:300px;height:70px;position:relative;top:18px;left:24px;}
.masking_inner p{float:left;width:300px;height:auto;padding:3px 0;text-align:center;font-size:14px;color:#333;word-break:break-all;word-wrap:break-word;cursor:pointer;}
.masking_inner p:hover{color:red;}
.close_btn{width:116px;height:32px;display:block;background:url(../images/popupbtn_def.png) no-repeat center center;position:absolute;left:120px;bottom:8px;cursor:pointer;font-size:14px;font-weight:bold;text-align:center;line-height:2em;color:#fff;*+color:#333;-webkit-text-shadow:0 2px 3px #000;-moz-text-shadow:0 2px 3px #000;-ms-text-shadow:0 2px 3px #000;-o-text-shadow:0 2px 3px #000;text-shadow:0 2px 3px #000;}
.close_btn:hover{background:url(../images/popupbtn_sel.png) no-repeat center center;}

/*-----------goto top----------------*/
.gototop_outer{position:fixed;right:10px;bottom:10px;width:100px;height:100px;background:#fff url(../images/goto_topbg.png) no-repeat 0 0;display:none;_position:absolute;}
.gototop_inner{width:100%;height:100%;display:block;line-height:2em;text-indent:-9999px;cursor:pointer;}
.gototop_inner:hover{background:#fff url(../images/goto_topbg.png) no-repeat 0 -100px;}
.gototop_inner:focus{outline:none;}

/*----------------table tr background-color---------------*/
.tbodysel{cursor:pointer;background:#eefaff;}

/*--------------select global------------------*/
.cpt_main input{float:left;border:1px solid #ccc;width:180px;height:20px;font-size:12px;line-height:1.5em;color:#333;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.cpt_main input:focus{-webkit-box-shadow:0 0 3px #009EFF;-moz-box-shadow:0 0 3px #009EFF;-ms-box-shadow:0 0 3px #009EFF;-o-box-shadow:0 0 3px #009EFF;box-shadow:0 0 3px #009EFF;border:1px solid #09f;}
.cpt_main span{height:20px;display:block;width:120px;font-size:12px;color:red;float:left;overflow:hidden;text-overflow:ellipsis;}
/*select div*/
.select_target,.cpt_main select{width:auto;height:auto;float:left;display:none;}
.select_mode{width:184px;height:auto;position:relative;left:0;top:0;*+top:10px;}
.select_mode input{position:relative !important;left:0;top:0;z-index:100;cursor:pointer;}
#select_def{position:absolute;right:10px;top:6px;z-index:200;}
#select_sel{position:absolute;right:7px;top:9px;z-index:200;display:none;}
.select_mode ul{width:180px;height:auto;position:absolute;left:0;top:22px;z-index:90;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff;display:none;}
.select_mode ul li{width:100%;height:18px;font-size:12px;float:left;cursor:pointer;text-align:left;overflow:hidden;text-overflow:ellipsis;}
.select_mode ul li:hover{background:#9DECFF;}

/*-------------------image loop----------------*/
.newsimgshow{width:900px;height:400px;margin:0 auto;background:#fff url(../images/silder_bg.png) no-repeat center center;overflow:hidden;position:relative;left:0;top:0;}
.silderimgicon{position:absolute;right:12px;top:8px;width:86px;height:62px;z-index:20;_filter:alpha(opacity=20);}
/*image position*/
.silderimg{width:850px;height:307px;position:absolute;left:25px;top:20px;overflow:hidden;z-index:10;}
.silderimg a{position:absolute;top:0;left:0;width:850px;height:307px;overflow:hidden;border:none;}
.silshowimg,.silhideimg{width:850px;height:307px;border:none;overflow:hidden;}
.silshowimg img,.silhideimg img{width:848px;height:305px;border:1px solid #ccc;overflow:hidden;}
.silshowimg{display:block;}
.silhideimg{display:none;}
/*remark position*/
.newsimgremark{width:200px;height:20px;position:absolute;right:40px;bottom:45px;}
.imgremarkshow,.imgremarkhide{width:200px;height:20px;float:left;line-height:1.8em;color:#666;text-indent:10px;}
.imgremarkshow{display:block;}
.imgremarkhide{display:none;}
/*button position*/
.newsimgbtn{width:200px;height:18px;position:absolute;left:350px;bottom:45px;}
.imgbtnsel,.imgbtndef{width:18px;height:18px;float:left;margin:0 8px;display:block;text-align:center;line-height:1.6em;cursor:pointer;text-indent:-9999px;}
.imgbtndef{background:url(../images/silderimgbtn_def.png) no-repeat center center;}
.imgbtnsel{background:url(../images/silderimgbtn_sel.png) no-repeat center center;}
/*title position*/
.newsimgtitle{width:300px;height:30px;position:absolute;top:30px;left:50px;z-index:30;overflow:hidden;background:#fff;opacity:0.6;filter:alpha(opacity=60);}
.imgtitleshow,.imgtitlehide{float:left;width:300px;height:30px;font-size:14px;line-height:2.2em;cursor:pointer;color:red;letter-spacing:3px;text-indent:2em;}
.imgtitleshow{display:block;}
.imgtitlehide{display:none;}













