/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff url(../../images/body_bg.png) repeat center center;min-width:1003px;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:none;}
body *:focus{outline:none;}
/*data temp wrap*/
.init_datatemp{line-height:0;width:0;height:0;display:none;}
/*popup_alert*/
.masking_bg{background:url(../../images/maskbg.jpg) repeat center center;opacity:0.8;filter:alpha(opacity:80);position:fixed;_position:absolute;left:0;top:0;z-index:50;display:none;}
.masking_outer{width:348px;height:168px;overflow:hidden;position:fixed;_position:absolute;left:40%;top:30%;background:transparent url(../../images/popup_bg.png) no-repeat center center;z-index:100;display:none;}
.masking_title{width:260px;height:auto;font-size:14px;position:relative;left:35px;top:8px;padding:3px;color:#069;-webkit-text-shadow:0 2px 3px #999;-moz-text-shadow:0 2px 3px #999;-ms-text-shadow:0 2px 3px #999;-o-text-shadow:0 2px 3px #666;text-shadow:0 2px 3px #999;font-weight:normal;}
.masking_inner{width:300px;height:70px;position:relative;top:18px;left:24px;}
.masking_inner p{float:left;width:300px;height:auto;padding:3px 0;text-align:center;font-size:14px;color:#333;word-break:break-all;word-wrap:break-word;cursor:pointer;}
.masking_inner p:hover{color:red;}
.close_btn{width:116px;height:32px;display:block;background:url(../../images/popupbtn_def.png) no-repeat center center;position:absolute;left:120px;bottom:8px;cursor:pointer;font-size:14px;font-weight:bold;text-align:center;line-height:2em;color:#fff;*+color:#333;-webkit-text-shadow:0 2px 3px #000;-moz-text-shadow:0 2px 3px #000;-ms-text-shadow:0 2px 3px #000;-o-text-shadow:0 2px 3px #000;text-shadow:0 2px 3px #000;}
.yes_btn{width:90px;height:29px;display:block;background:url(../../images/confirmbtn_def.png) no-repeat center center;position:absolute;left:70px;bottom:10px;cursor:pointer;font-size:14px;font-weight:bold;text-align:center;line-height:1.9em;color:#fff;*+color:#333;-webkit-text-shadow:0 2px 3px #000;-moz-text-shadow:0 2px 3px #000;-ms-text-shadow:0 2px 3px #000;-o-text-shadow:0 2px 3px #000;text-shadow:0 2px 3px #000;}
.no_btn{width:90px;height:29px;display:block;background:url(../../images/confirmbtn_def.png) no-repeat center center;position:absolute;left:200px;bottom:10px;cursor:pointer;font-size:14px;font-weight:bold;text-align:center;line-height:1.9em;color:#fff;*+color:#333;-webkit-text-shadow:0 2px 3px #000;-moz-text-shadow:0 2px 3px #000;-ms-text-shadow:0 2px 3px #000;-o-text-shadow:0 2px 3px #000;text-shadow:0 2px 3px #000;}
.close_btn:hover{background:url(../../images/popupbtn_sel.png) no-repeat center center;}
.yes_btn:hover,.no_btn:hover{background:url(../../images/confirmbtn_sel.png) no-repeat center center;}
/*header*/
.header{width:100%;height:100px;background:#eee;border-bottom:1px solid #999;}
.banner{width:1000px;height:100px;margin:0 auto;background:transparent url(../../images/logo_bg.png) no-repeat 100px 10px;}
.banner h1,.banner h2{width:1000px;height:auto;color:#021373;}
.banner h1{font-size:40px;text-indent:200px;padding:10px 0 5px 0;font-family:"黑体",serif;}
.banner h2{font-size:20px;text-indent:400px;font-family:"楷体_GB2312",serif;}
/*container*/
.container{width:1002px;height:auto;margin:0 auto;}
.content{width:960px;height:auto;margin:0 auto;}
.sidebox{width:200px;height:auto;float:left;padding-bottom:50px;}
.mainbox{width:750px;height:auto;float:left;padding-bottom:50px;}
.container:after{clear:both;visibility:hidden;height:0;line-height:0;content:"";}
/*detail*/
/*dsindex*/
.nav_operhandle{padding:3px 10px;position:absolute;right:180px;top:75px;font-size:14px;background:#F6F6F6;border:1px solid #ccc;color:#069;}
.nav_operhandle:hover{color:#930;background:#eee;border:1px solid #999;}
/*sidebox*/
/*dsstep1--dsstep3*/
.nav-title{width:200px;height:auto;float:left;margin:80px 0 20px 0;}
.nav-title h3{width:200px;height:auto;padding:2px 0;font-size:26px;text-align:center;color:#333;}
.nav-title h4{width:200px;height:auto;font-size:14px;color:#999;text-indent:5em;}
.nav-remark{width:200px;height:auto;float:left;margin:30px 0;}
.nav-remark h5{width:200px;height:auto;font-size:14px;color:#333;text-indent:2em;padding:3px 0;text-decoration:underline;}
.nav-remark p{width:180px;height:auto;font-size:12px;color:#666;text-indent:2em;line-height:1.5em;margin:0 auto;}
/*mainbox*/
/*dsstep1-dsstep3*/
.dsposition1{width:730px;height:70px;background:url(../../images/stdrevise/stepbar1.png) no-repeat center center;_background:#fff url(../../images/stdrevise/stepbar1_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.dsposition2{width:730px;height:70px;background:url(../../images/stdrevise/stepbar2.png) no-repeat center center;_background:#fff url(../../images/stdrevise/stepbar2_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.dsposition3{width:730px;height:70px;background:url(../../images/stdrevise/stepbar3.png) no-repeat center center;_background:#fff url(../../images/stdrevise/stepbar3_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.dscurpos_btn{width:730px;height:70px;background:transparent;position:relative;left:0;top:0;}
.dscp_btn1{width:120px;height:35px;position:absolute;top:5px;left:10px;}
.dscp_btn2{width:160px;height:35px;position:absolute;top:5px;left:280px;}
.dscp_btn3{width:150px;height:35px;position:absolute;top:5px;left:560px;}
.dscp_btn1 a,.dscp_btn2 a,.dscp_btn3 a{display:block;width:100%;height:100%;background:transparent;}
/*table*/
.dscontent{width:740px;height:auto;border:1px solid #999;margin:20px auto;background:#fff;position:relative;left:0;top:0;}
.dsstep1,.dsstep2,.dsstep3{width:700px;height:auto;margin:10px auto;border:0 none;border-collapse:collapse;empty-cells:show;table-layout:fixed;}
.dsstep2_inner{width:100%;height:auto;margin:10px 0;border-top:1px solid #ccc;border;border-collapse:collapse;empty-cells:show;table-layout:fixed;}
.dsstep1 tr td,.dsstep2 tr td,.dsstep3 tr td{height:auto;vertical-align:top;}
.dsstep2_inner tr td{padding:20px 0 5px 0;}
.ds_sg1{width:15% !important;}
.ds_sg2{width:32% !important;}
.ds_sg3{width:16% !important;}
.ds_sg4{width:32% !important;}
.ds_sg5{width:5% !important;}
.ds_rig1,.ds_rig3{width:5% !important;}
.ds_rig2{width:90% !important;}
.ds_rig1_inner{width:7% !important;}
.ds_rig2_inner{width:20% !important;}
.ds_rig3_inner{width:66% !important;}
.ds_rig4_inner{width:7% !important;}
.ds_aig1{width:20% !important;}
.ds_aig2{width:75% !important;}
.ds_aig3{width:5% !important;}
/*table-detail*/
/*label*/
.main_name{float:right;font-size:14px;cursor:pointer;padding:5px 3px 0 0;}
/*span*/
.main_name span{width:auto !important;height:auto !important;line-height:normal !important;float:left;color:red;font-size:12px;padding:2px !important;}
/*text*/
.dsstep1 input{float:left;border:1px solid #0088CA;background:#fff;height:26px;line-height:1.8em;font-size:14px;color:#555;width:99%;}
.dsstep1 fieldset{float:left;width:auto;display:block;padding:5px 10px 0 5px;}
.dsstep1 fieldset label{float:left;font-size:14px;cursor:pointer;padding:0 3px;}
.dsstep1 fieldset input{width:auto;height:auto;line-height:1.5em;border:0 none;}
#mediatype,#unit{width:98%;}
.dsstep1 fieldset label:hover{color:#930;}
/*select*/
.dsstep1 select{float:left;border:1px solid #0088CA;width:180px;font-size:14px;height:22px;line-height:1.5em;}
/*valids*/
.dsstep1 span{width:95%;height:24px;color:red;font-size:12px;line-height:2em;text-align:left;float:left;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/*button*/
.add_items{background:#fff;width:auto;height:auto;float:left;padding:6px 5px;font-size:14px;cursor:pointer;color:#069;text-decoration:underline;}
.add_items:hover{color:#960;}
/*ri_tree*/
.ri_tree{width:100%;height:auto;float:left;font-size:14px;padding-top:2px;}
.ri_tree input{float:left;width:60%;font-size:12px;line-height:1.8em;height:20px;border:1px solid #0088CA;}
.ri_tree button{float:left;width:auto;background:#FFF8DF;color:#000;cursor:pointer;font-size:12px;padding:2px;margin-left:3px;border:1px solid #F90;}
.list{width:100%;height:auto;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:none;}
/*textarea wrap*/
.originalwrap,.revisewrap{width:100%;height:auto;float:left;}
.originalwrap label,.revisewrap label{float:left;font-size:14px;cursor:pointer;padding:5px 0;width:90%;display:block;text-align:left;text-indent:20px;color:#F00;}
.originalwrap textarea,.revisewrap textarea{float:left;width:98%;border:1px solid #0088CA;font-size:14px;line-height:1.5em;color:#555;overflow:visible;}
.originalwrap textarea,.revisewrap textarea{height:100px;}
.delitems{background:#fff url(../../images/unuser.png) no-repeat 0 0;width:40px;height:15px;overflow:hidden;display:block;text-indent:13px;font-size:12px;text-decoration:underline;cursor:pointer;float:left;margin-top:3px;color:#900;}
.delitems:hover{background:#fff url(../../images/unuser.png) no-repeat 0 -15px;color:#069;}
/*td-line*/
.trline td{border-top:1px dashed #333;}
/*file*/
.scanup{display:none;float:right;}
.chemimgup,.attachfile{display:none;float:left;}
/*button*/
.prebtn2,.prebtn3,.prebtn4{float:left;margin:10px 0 0 50px;color:#fff;cursor:pointer;font-size:14px;height:29px;padding:0 10px;background:#eee url(../../images/namingbill/savebtn.png) repeat-x 0 0;border:1px solid #038ac8;line-height:2em;}
.savebtn1,.savebtn2,.savebtn3,.savebtn4,.savebtn8_sel{float:right;margin:10px 50px 0 0;color:#fff;cursor:pointer;font-size:14px;height:29px;padding:0 10px;background:#eee url(../../images/namingbill/savebtn.png) repeat-x 0 0;border:1px solid #038ac8;}
.savebtn8_def{float:right;margin:10px 50px 0 0;color:#999;cursor:default;font-size:14px;height:29px;padding:0 10px;background:#eee;border:1px solid #999;}
.prebtn2:hover,.prebtn3:hover,.prebtn4:hover,.savebtn1:hover,.savebtn2:hover,.savebtn3:hover,.savebtn4:hover,.savebtn8_sel:hover{background:#eee url(../../images/namingbill/savebtn.png) repeat-x 0 -29px;color:#FF0;}
.scanbtn:hover,.chemimgbtn:hover{color:#069;}
.getpriperson:hover,.getconperson:hover{text-decoration:underline;color:#930;}
/*file-upload*/
.attachupload{float:left;width:98%;padding:10px;border:1px solid #ddd;margin-bottom:30px;*+margin:20px 0;*+padding:10px 0;}
.swfupload{vertical-align:middle;}
.filealready_box{width:98%;float:left;}
.filealready_box tr td{width:98%;padding:3px 0;}
.filealready_box tr td *{width:auto;height:auto;padding:5px;font-size:14px;float:left;}
.filealready_box tr td a{width:64px !important;height:24px !important;background:url(../../images/delete_btn.png) no-repeat 0 0;color:#930;font-size:12px;margin:0 5px;cursor:pointer;text-align:center;display:block;line-height:1em;}
.filealready_box tr td a:hover{color:#069;}
.legend{font-size:14px;color:#930;}
.legend span{float:left;color:red;font-size:12px;padding:2px;line-height:1.8em;}
.upsave_btn{width:64px;height:24px;background:url(../../images/upload_btn.png) no-repeat 0 0;color:#930;font-size:12px;margin:0 5px;cursor:pointer;text-indent:10px;}
.upcancel_btn{width:112px;height:24px;background:url(../../images/cance_btn.png) no-repeat 0 0;color:#930;font-size:12px;margin:0 5px;cursor:pointer;text-indent:10px;}
.upsave_btn:hover,.upcancel_btn:hover{color:#069;}
.progressCancel{color:#069;text-decoration:underline;float:right;padding:0 5px;}
.progressName{text-decoration:underline;cursor:pointer;text-indent:5px;}
.progressCancel:hover,.progressName:hover{color:#930;}
.progressBarStatus{color:#960;font-size:14px !important;padding:5px;text-indent:5px;}
.filealready{width:90%;font-size:14px;padding:5px 0;margin:0 auto;color:#069;}
/*footer*/
.footer{width:100%;height:auto;background:#eee;border-top:1px solid #999;float:left;}
.infos{width:1000px;height:auto;margin:0 auto;padding:10px 0;}
.infos p{width:1000px;height:auto;font-size:14px;padding:2px 0;text-align:center;}