/*login text*/
.account-text1,
.account-text2{
	input[type='text'],
	input[type='password']{
		.layout-relative-base;
		padding:15px 0 15px 55px;
		float:left;
		width:100%;
	}
	label{
		.layout-relative-base;
		.box-sizing-base;
		&:before{
			.layout-absolutel-base;
			display:block;
			cursor:pointer;
			line-height:44px;
			text-align:center;
			font-size:@font-size-base + 4;
			background:@color-gray14;
			width:50px;
			height:100%;
			outline:1px solid @color-gray7;
			outline-offset:-1px;
		}
	}
}

.form-shop label:before{
	content:'\e71a';
	font-family:'ux_one';
}
.form-pwd label:before{
	content:'\e6b6';
	font-family:'ux_one';
}


/*account btn*/
.account-btn{
	a{
		.border-radius-base(3px);
		font-size:@font-size-base;
		color:@color-white;
		display:block;
		cursor:pointer;
		.text-unselect;
		width:48%;
		height:40px;
		line-height:40px;
		float:left;
		text-align:center;
	}
	input[type='submit'],
	input[type='button'],
	input[type='reset'],
	button{
		width:48%;
		height:40px;
		line-height:40px;
		float:right;
	}
}
/*account tip*/
.account-tip{
	height:24px;
	line-height:24px;
	text-indent:55px;
}