//列表
.list1-wrap,
.list2-wrap,
.list3-wrap,
.list4-wrap,
.list5-wrap{
	.layout-float-base;
	margin:10px 0;
	&:after{
		content:'';
		clear:both;
	}
	li{
		background:@color-white;
		.layout-float-base;
		border-left:1px solid @color-gray9;
		border-top:1px solid @color-gray9;
		border-right:1px solid @color-gray9;
		padding:5px;
		vertical-align:middle;
		&:hover{
			background:lighten(@color-cyan2,1%) !important;
		}
		&:nth-of-type(2n){
			background:@color-gray14;
		}
		&:nth-of-type(1){
			.border-radius-base(3px 3px 0 0);
		}
		&:nth-last-of-type(1){
			.border-radius-base(0 0 3px 3px);
			border-bottom:1px solid @color-gray9;
		}
		&:only-child{
			.border-radius-base(3px);
		}
		>p{
			.box-sizing-base;
			float:left;
			font-size:@font-size-small;
			height:100%;
			padding:2px 5px;
			color:@color-gray5;
			line-height:20px;
			.text-ww;
			span,i,em{
				padding:0 3px;
			}
			em,i{
				font-style:normal;
			}
			span{
				color:@color-blue1;
			}
			i{
				color:@color-gray3;
			}
			em{
				color:@color-red1;
			}
		}
	}
}

.list1-wrap li{
	>p{
		width:100%;
		&:nth-of-type(1){
			color:@color-gray3;
			font-size:@font-size-base;
		}
	}
}
.list2-wrap li{
	>p{
		width:50%;
		&:nth-of-type(1){
			color:@color-gray3;
			font-size:@font-size-base;
		}
	}
}
.list3-wrap li{
	>p{
		width:33.33333%;
	}
}
.list4-wrap li{
	>p{
		width:25%;
		&:nth-of-type(2n-1){
			color:@color-gray3;
			font-size:@font-size-base;
		}
	}
}
.list5-wrap li{
	>p{
		width:20%;
	}
}