///member text
.member-text1,
.member-text2{
	input[type='text'],
	input[type='password'],
	textarea{
		.layout-relative-base;
		padding:15px 0 15px 10px;
		float:left;
		width:100%;
		margin-top:3px;
	}
	textarea{
		min-height:120px;
	}
}

////member btn
.member-btn{
	input[type='submit'],
	input[type='button'],
	input[type='reset'],
	button,
	a{
		.layout-float-base;
		height:40px;
		line-height:40px;
		margin:5px 0;
	}
	a{
		.border-radius-base(3px);
		font-size:@font-size-base;
		color:@color-white;
		display:block;
		.text-unselect;
		text-align:center;
	}
}
///member tip
.member-tip{
	height:24px;
	line-height:24px;
}