///max 1100px
@media (max-width: 1199px){
	//body适配
	body{
		max-width:1199px;
		min-width:801px;
		margin:40px 0 0 0;
		background:@color-white;
	}
	
	//头部适配
	.header-wrap{
		height:40px;
		background:rgba(244,244,244,1);
	}
	.header-content{
		.layout-relative-base;
		width:100%;
		padding:0;
		.header-logo{
			margin:5px 0 0 20px;
			width:109px;
			height:30px;
			background-size:100%;
		}
		.header-btn{
			width:100px;
			height:40px;
			display:block;
			&:after{
				width:40px;
				height:40px;
				line-height:40px;
			}
		}
		.header-menu{
			.layout-fixedr-base(0,40px);
			.layout-base(100px);
			height:220px;
			background:rgba(255,255,255,1);
			display:none;
			li{
				.layout-float-base;
				height:40px;
				margin:0;
				border-bottom:1px solid @color-gray14;
				a{
					.layout-base;
					display:block;
					height:100%;
					line-height:40px;
					text-align:right;
					font-size:@font-size-base;
					color:@color-gray3;
				}
			}
			.menu-active{
				border-bottom:3px solid @color-red2;
				a{
					color:@color-red2;
				}
			}
		}
	}
	
	
	
	//分屏适配
	.screen-item{
		>div{
			width:100%;
		}
	}
	
	
	//第一屏适配
	.part-slide{
		margin:127px 0 0 0;
		width:400px;
		background-position:-124px top;
	}
	.index-codewrap{
		width:400px;
		margin:200px 50px 0 0;
		background-size:350px auto;
	}



	//第三屏适配
	.scene-itemwrap{
		li{
			width:50%;
		}
		.scene-item3{
			display:none;
		}
	}



	//第四屏
	.screen-app{
		.app-wrap{
			li{
				.layout-base(49.5%);
			}
		}
	}
	
	

	//底部信息适配
	.screen-footer{
		min-height:40px;
		padding:10px 0;
		>div{
			p{
				width:100% !important;	
				line-height:20px;
				display:block;
				text-align:left !important;
			}
		}
	}
	
}


///max 800px
@media (max-width: 800px){
	//body适配
	body{
		max-width:800px;
		min-width:641px;
	}
	
	//第一屏适配
	.part-slide{
		margin:127px 0 0 0;
		width:320px;
		height:500px;
	}
	.index-codewrap{
		margin:50px 0 0 0;
		width:320px;
		background-size:320px auto;
	}
	
	
	//第二屏适配
	.product-list{
		background-size:180px auto;
		.pl-itemwrap{
			div{
				width:100px;
				height:100px;
				background-size:auto 100px !important;
			}
		}
		.pl-item1{
			background:url(../images/screen_icon.png) no-repeat 0 0;
		}
		.pl-item2{
			background:url(../images/screen_icon.png) no-repeat -100px 0;
		}
		.pl-item3{
			background:url(../images/screen_icon.png) no-repeat -200px 0;
		}
		.pl-item4{
			background:url(../images/screen_icon.png) no-repeat -300px 0;
		}
	}
	

	//第三屏适配
	.scene-itemwrap{
		li{
			width:100%;
		}
		.scene-item2,.scene-item3{
			display:none;
		}
	}


}

///max 640px
@media (max-width: 640px){
	//body适配
	body{
		max-width:640px;
		min-width:481px;
	}


	//第二屏适配
	.product-list{
		margin:150px 0 0 0;
		background-size:120px auto;
	}

	//第四屏
	.screen-app{
		height:650px;
		.app-wrap{
			li{
				.layout-base(49.5%);
				img{
					width:200px;
				}
			}
		}
	}
}

///max 480px
@media (max-width: 480px){
	//body适配
	body{
		max-width:480px;
		min-width:321px;
	}


	//第一屏适配
	.index-codewrap{
		float:none;
		margin:100px auto 0 auto;
		width:320px;
		background-size:320px auto;
	}


	//第二屏适配
	.product-list{
		background:none;
		margin:180px 0 0 0;
		li{
			padding:0 10px;
		}
		.pl-itemwrap{
			div{
				width:80px;
				height:80px;
				background-size:auto 80px !important;
			}
		}
		.pl-item1{
			background:url(../images/screen_icon.png) no-repeat 0 0;
		}
		.pl-item2{
			background:url(../images/screen_icon.png) no-repeat -80px 0;
		}
		.pl-item3{
			background:url(../images/screen_icon.png) no-repeat -160px 0;
		}
		.pl-item4{
			background:url(../images/screen_icon.png) no-repeat -240px 0;
		}
	}


	//第四屏
	.screen-app{
		height:600px;
		.app-wrap{
			padding:100px 0 50px 0;
			li{
				.layout-base(49.5%);
				img{
					width:150px;
				}
			}
		}
	}

}

///max 320px
@media (max-width: 320px){
	//body适配
	body{
		max-width:320px;
		min-width:281px;
	}


	//第一屏适配
	.index-codewrap{
		float:none;
		margin:127px auto 0 auto;
		width:280px;
		background-size:280px auto;
	}




}