///max 1100px
@media (max-width: 1199px){
	//body适配
	body{
		max-width:1199px;
		min-width:801px;
		margin:40px 0 0 0;
		background:@color-white;
	}
	
	//头部适配
	.header-wrap{
		height:40px;
		background:rgba(27,27,27,1) url(../images/header_bg.jpg) no-repeat center bottom;
	}
	.header-content{
		.layout-relative-base;
		width:100%;
		padding:0;
		.header-logo{
			margin:5px 0 0 20px;
			width:109px;
			height:30px;
			background-size:100%;
		}
		.header-btn{
			width:100px;
			height:40px;
			display:block;
			&:after{
				width:40px;
				height:40px;
				line-height:40px;
			}
		}
		.header-menu{
			.layout-fixedr-base(0,40px);
			.layout-base(100px);
			height:290px;
			background:rgba(27,27,27,1);
			display:none;
			li{
				.layout-float-base;
				height:40px;
				margin:0;
				border-bottom:1px solid @color-gray3;
				a{
					.layout-base;
					display:block;
					height:100%;
					line-height:40px;
					text-align:right;
					color:@color-white;
				}
			}
			.menu-active{
				border-bottom:3px solid @color-yellow1;
				a{
					color:@color-yellow1;
				}
			}
		}
	}
	
	
	
	//分屏适配
	.screen-item{
		>div{
			width:100%;
		}
	}
	
	
	//第一屏适配
	.part-slide{
		width:400px;
		margin:52px 0 0 0;
	}
	.part-download{
		width:360px;
		margin:70px 20px 0 0;
		padding:120px 0 0 0;
		background-size:360px auto;
		.iphone-btn,
		.android-btn{
				float:none !important;
		}
		.iphone-btn{
			margin:0 auto;
		}
		.android-btn{
				margin:50px auto 0 auto;
		}
	}
	
	
	
	//第三屏适配
	.screen-scene{
		.scene-theme{
			width:480px;
			height:480px;
			background-size:480px auto;
		}
		.scene-txt{
			width:280px;
			background-size:280px auto;
		}
	}
	
	
	
	//第四屏适配
	.screen-self{
		min-height:605px;
	}
	.screen-selfwrap{
		height:450px !important;
		div{
			width:280px;
		}
		.selfitem1{
			background-size:240px auto;
		}
		.selfitem2{
			background-size:240px auto;
		}
		.selfitem3{
			background-size:240px auto;
		}
	}
	
	
	
	//第六屏适配
	.contact-forms{
		padding:0;
	}
	.contact-info{
		padding:0 0 0 10px;
	}
	.contact-item{
		>input,
		>textarea{
			width:100%;
		}
	}
	.contact-tip{
		width:100%;
		overflow:hidden;
		.text-of;
	}
	
	
	//链接适配
	.screen-links{
		>ul{
			max-width:1199px;
			min-width:801px;
		}
	}
	
	//第七屏适配
	.help-wrap{
		li{
			>div{
				h2{
					height:50px;
					line-height:50px;
					font-size:@font-size-base + 4;
				}
				&:after{
					font-size:@font-size-base + 60;
				}
			}
		}
	}
	
	
	
	//底部信息适配
	.screen-footer{
		min-height:40px;
		padding:10px 0;
		>div{
			p{
				width:100% !important;	
				line-height:20px;
				display:block;
				text-align:left !important;
			}
		}
	}
	
}


///max 800px
@media (max-width: 800px){
	//body适配
	body{
		max-width:800px;
		min-width:641px;
	}
	
	//第一屏适配
	.screen-index{
		height:750px;
		text-align:center;
		font-size:0;
	}
	.part-slide{
		float:none !important;
		width:524px;
		margin:30px 0 0 -140px;
		display:inline-block;
	}
	.part-download{
		float:none !important;
		width:400px;
		height:150px;
		margin:0;
		display:inline-block;
		padding:80px 0 0 0;
		background-size:300px auto;
		.iphone-btn,
		.android-btn{
				float:none !important;
				display:inline-block;
				width:180px;
				height:48px;
				.border-radius-base(16px);
				a{
					line-height:48px;
					font-size:@font-size-base;
					&:before{
						font-size:@font-size-base + 4;
					}
				}
		}
		.iphone-btn{
			margin:0;
		}
		.android-btn{
				margin:0 0 0 20px;
		}
	}
	
	
	//第二屏适配
	.product-list{
		li{
			div{
					background-size:auto 200% !important;
					width:80px;
					height:80px;
			}
		}
		.article-icon{
			background:url(../images/screen_icon.png) no-repeat 0 0;
		}
		.mind-icon{
			background:url(../images/screen_icon.png) no-repeat -80px 0;
		}
		.appointment-icon{
			background:url(../images/screen_icon.png) no-repeat -160px 0;
		}
		.pk-icon{
			background:url(../images/screen_icon.png) no-repeat 0 -80px;
		}
		.talk-icon{
			background:url(../images/screen_icon.png) no-repeat -80px -80px;
		}
		.voice-icon{
			background:url(../images/screen_icon.png) no-repeat -160px -80px;
		}
	}
	
	
	
	//第三屏适配
	.screen-scene{
		text-align:center;
		.scene-theme{
			margin:30px 0 0 0;
			float:none;
			display:inline-block;
			width:523px;
			height:520px;
			background-size:cover;
		}
		.scene-txt{
			width:373px;
			height:101px;
			float:none;
			margin:0;
			display:inline-block;
			background-size:cover;
		}
	}
	

	//第五屏适配
	.screen-app{
		height:600px;
		>div{
			background:none;
		}
		.app-wrap{
				float:none;
				margin:50px auto 0 auto;
				width:600px;
				div{
					width:250px;
				}
		}
	}
	
	
	//第七屏适配
	.help-wrap{
		li{
			>div{
				h2{
					height:40px;
					line-height:40px;
					font-size:@font-size-base;
				}
				&:after{
					font-size:@font-size-base + 40;
				}
			}
		}
	}
	
	//链接适配
	.screen-links{
		>ul{
			max-width:800px;
			min-width:641px;
		}
	}
	
}

///max 640px
@media (max-width: 640px){
	//body适配
	body{
		max-width:640px;
		min-width:481px;
	}
	
	
	
	//第一屏适配
	.part-slide{
		margin:50px 0 0 -160px;
	}
	.part-download{
		width:300px;
		padding:70px 0 0 0;
		background-size:260px auto;
		.iphone-btn,
		.android-btn{
				display:block !important;
		}
		.iphone-btn{
			margin:0 auto;
		}
		.android-btn{
				margin:20px auto 0 auto;
		}
	}
	
	
	//第三屏适配
	.screen-scene{
		.scene-theme{
			margin:80px 0 0 0;
			width:440px;
			height:440px;
			background-size:440px auto;
		}
		.scene-txt{
			width:300px;
			height:90px;
			background-size:300px auto;
		}
	}
	
	
	//第五屏适配
	.screen-app{
		height:780px;
		.app-wrap{
				width:300px;
				height:700px;
				div{
					padding:60px 0 0 0;
					height:300px;
					width:300px;
				}
		}
		.app-iphone{
			background-size:auto 50px;
		}
		.app-android{
			background-size:auto 50px;
		}
	}
	
	
	//第七屏适配
	.help-wrap{
		li{
			>div{
				&:after{
					font-size:@font-size-base + 30;
				}
			}
		}
	}
	
	//链接适配
	.screen-links{
		>ul{
			max-width:640px;
			min-width:481px;
		}
	}
	
}

///max 480px
@media (max-width: 480px){
	//body适配
	body{
		max-width:480px;
		min-width:320px;
	}
	
	//第三屏适配
	.screen-scene{
		min-height:600px;
		.scene-theme{
			width:280px;
			height:300px;
			background-size:280px auto;
		}
		.scene-txt{
			width:260px;
			height:80px;
			margin:50 0 0 0;
			background-size:260px auto;
		}
	}
	

	
	//链接适配
	.screen-links{
		>ul{
			max-width:480px;
			min-width:320px;
		}
	}
	
}