///首页
///作者：易品

//页面全局
body{
	width:100%;
	min-width:1200px;
	.box-sizing-base;
	background:@color-gray15;
	margin:120px 0 0 0;
}

.theme{
	height:50px;
	width:100%;
	text-align:center;
	line-height:60px;
	font-size:@font-size-base + 20;
	.user-select-base;
}


//头部导航区域
.header-wrap{
	.layout-fixedl-base;
	.layout-base;
	height:120px;
	background:rgba(27,27,27,1) url(../images/header_bg.jpg) no-repeat center top;
}
.heaer-wrapactive{
	position:fixed !important;
}
.header-content{
	.layout-base(1200px);
	padding:40px 0 10px 0;
	margin:0 auto;
	height:100%;
	.header-logo{
		float:left;
		width:256px;
		height:70px;
		background:url(../images/pc_logo.png) no-repeat 0 0;
	}
	.header-btn{
		.layout-fixedr-base;
		width:0;
		height:0;
		display:none;
		cursor:pointer;
		&:after{
			.layout-absoluter-base;
			content:'\e61f';
			font-family:'ux_two';
			text-align:center;
			font-size:@font-size-base + 8;
			color:@color-white;
		}
	}
	.header-btnactive{
		&:after{
			content:'\e634';
		}
	}
	.header-menu{
		width:800px;
		float:right;
		text-align:right;
		height:70px;
		font-size:0;
		white-space:nowrap;
		li{
			height:100%;
			.box-sizing-base;
			display:inline-block;
			margin:0 10px;
			border-bottom:3px solid transparent;
			a{
				display:inline-block;
				height:70px;
				line-height:100px;
				text-align:center;
				padding:0 10px;
				font-size:@font-size-base + 2;
				color:@color-white;
				.no-outline-base;
			}
		}
		.menu-active{
			border-bottom:3px solid @color-yellow1;
			a{
				color:@color-yellow1;
			}
		}
	}
}

.screen-item{
	.layout-base;
	margin:0 auto;
	>div{
		.layout-base(1200px);	
		margin:0 auto;
		padding:0 20px;
		height:100%;
	}
}


//第一屏
.screen-index{
	background:url(../images/screen_index.jpg) no-repeat center top;
	background-size:cover;
	height:648px;
	overflow:hidden;
	>div{
		padding:0;
	}
}


//轮播图
.part-slide{
	.layout-relative-base;
	float:left;
	margin:52px 0 0 50px;
	width:524px;
	height:596px;
	background:url(../images/screen_index_hand.png) right top no-repeat;
}

//下载按钮和主题
.part-download{
	.layout-float-base(520px,border-box,right);
	margin:100px 0 0 0;
	height:400px;
	padding:180px 0 0 0;
	background:url(../images/screen_index_logo.png) center top no-repeat;
	.iphone-btn,
	.android-btn{
			.layout-float-base(230px);
			height:78px;
			border:1px solid @color-white;
			.border-radius-base(30px);
			overflow:hidden;
			a{
				display:block;
				width:100%;
				height:100%;
				font-size:@font-size-base + 4;
				.no-outline-base;
				color:@color-white;
				text-align:center;
				line-height:78px;
				&:before{
					margin:-5px 5px 0 0;
					font-size:@font-size-base + 10;
					display:inline-block;
					vertical-align:middle;
				}
			}
			&:hover{
				border:1px solid @color-yellow1;
				a{
					color:@color-yellow1;
					.transition-base(background-color ease-in .5s .02s);
					background:rgba(250,191,21,.2);
					&:before{
						.transition-base(all ease-in .5s .02s);
						.transform-origin-base(50% 50%);
						.transform-base(rotate(360deg));
					}
				}
			}
	}
	.iphone-btn{
			a:before{
				content:'\e6c0';
				font-family:'ux_two';
			}
	}
	.android-btn{
			margin:0 0 0 30px;
			a:before{
				content:'\e689';
				font-family:'ux_two';
			}
	}
}





//第二屏
.screen-product{
	background:@color-white;
	min-height:750px;
	.theme{
		.layout-relative-base;
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-yellow1;
		}
	}
}

.product-list{
	.layout-base;
	min-height:620px;
	text-align:center;
	font-size:0;
	li{
		.layout-base(33.33333%);
		display:inline-block;
		min-height:250px;
		margin:50px 0 0 0;
		div{
			.layout-base(120px);
			.user-select-base;
			height:120px;
			margin:10px auto;
			overflow:hidden;
		}
		h4{
			height:30px;
			line-height:20px;
			text-align:center;
			font-size:@font-size-base + 2;
			color:@color-gray3;
			font-weight:bold;
			.text-of;
		}
		p{
			width:100%;
			line-height:@font-size-base + 10;
			font-size:@font-size-base;
			color:@color-gray6;	
			.text-of;
			text-overflow:ellipsis;	
		}
	}
	.article-icon{
		background:url(../images/screen_icon.png) no-repeat 0 0;
	}
	.mind-icon{
		background:url(../images/screen_icon.png) no-repeat -120px 0;
	}
	.appointment-icon{
		background:url(../images/screen_icon.png) no-repeat -240px 0;
	}
	.pk-icon{
		background:url(../images/screen_icon.png) no-repeat 0 -120px;
	}
	.talk-icon{
		background:url(../images/screen_icon.png) no-repeat -120px -120px;
	}
	.voice-icon{
		background:url(../images/screen_icon.png) no-repeat -240px -120px;
	}
}


//第三屏
.screen-scene{
	min-height:718px;
	background:@color-gray14 url(../images/screen_scene.png) no-repeat center top;
	background-size:cover;
	.theme{
		.layout-relative-base;
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-yellow1;
		}
	}
	.scene-theme{
		width:523px;
		height:520px;
		float:right;
		margin:100px 0 0 0;
		background:url(../images/download_bg.png) 0 0 no-repeat;
		background-size:cover;
	}
	.scene-txt{
		width:373px;
		height:101px;
		float:left;
		margin:200px 0 0 0;
		background:url(../images/screen_scenetxt.png) center top no-repeat;
		background-size:cover;
	}
}



//第四屏
.screen-self{
	min-height:805px;
	background:url(../images/screen_self.jpg) no-repeat center top;
	background-size:cover;
	.theme{
		.layout-relative-base;
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-white;
		}
	}
}

.screen-selfwrap{
	height:650px !important;
	text-align:center;
	overflow:hidden;
	div{
		.layout-base(380px);
		display:inline-block;
		height:100%;
	}
	.selfitem1{
		background:url(../images/screen_selfimg1.png) no-repeat center bottom;
	}
	.selfitem2{
		background:url(../images/screen_selfimg2.png) no-repeat center bottom;
	}
	.selfitem3{
		background:url(../images/screen_selfimg3.png) no-repeat center bottom;
	}
}



//第五屏
.screen-app{
	background:@color-white;
	height:700px;
	>div{
		background:url(../images/screen_app.png) no-repeat right bottom;
		background-size:auto 600px;
	}
	.theme{
		.layout-relative-base;
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-yellow1;
		}
	}
	.app-wrap{
			width:700px;
			height:500px;
			float:left;
			margin:100px 0 0 0;
			text-align:center;
			div{
				.layout-base(300px);
				display:inline-block;
				padding:100px 0 0 0;
				height:380px;
				img{
					max-width:250px;
					max-height:250px;
					min-width:150px;
					min-height:150px;
					display:block;
					margin:10px auto 0 auto;
				}
			}
	}
	.app-iphone{
		background:url(../images/screen_app_iso.png) center top no-repeat;
	}
	.app-android{
		background:url(../images/screen_app_android.png) center top no-repeat;	
	}
}


//第六屏
.screen-contact{
	height:670px;
	background:@color-gray3;
	>div{
		padding:0 20px;
		background:url(../images/screen_contact.jpg) center center no-repeat;
	}
	.theme{
		.layout-relative-base;
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-white;
		}
	}
}
.contact-wrap{
	.layout-base;
	min-height:500px;
	margin:50px 0 0 0;
}

.contact-forms,
.contact-info{
	.layout-float-base(50%);
}

.contact-forms{
	padding:0 0 0 170px;
	height:100%;
}
.contact-info{
	padding:0 90px;
	p{
		padding:2px 0;
		font-size:@font-size-base + 2;
		color:@color-white;
		line-height:24px;
		.text-ww;
		margin:0 0 20px 0;
	}
}

.contact-item{
	width:100%;
	float:left;
	>input,
	>textarea,
	>button{
		.box-sizing-base;
		border:1px solid @color-white;
		.border-radius-base(20px);
		background:none;
		color:@color-gray9;
		font-size:@font-size-base + 2;
	}
	>input,
	>textarea{
		padding:10px 10px 10px 10px;
		margin:0 auto;
		width:400px;
		&:focus{
			border:1px solid @color-yellow1;
		}
	}
	>input{
		line-height:20px;
		height:40px;
	}
	>textarea{
		line-height:24px;
		height:250px;
	}
	>button{
		height:40px;
		line-height:35px;
		text-align:center;
		vertical-align:middle;
		display:inline-block;
		width:130px;
		&:hover{
			border:1px solid @color-yellow1;
			color:@color-yellow1;
		}
	}
}

.contact-tip{
	width:400px;
	float:left;
	height:30px;
	line-height:30px;
	font-size:@font-size-base;
	text-align:left;
	text-indent:10px;
	color:@color-gray9;
}


//友情链接
.screen-links{
	.layout-base;
	margin:0;
	padding:0;
	background:@color-gray2;
	>ul{
		.box-sizing-base;
		max-width:1200px;
		margin:0 auto;
		padding:10px 20px;
		li{
			display:inline-block;
			text-align:center;
			font-size:0;
			margin:0;
			padding:0 3px;
			a{
				color:@color-gray10;
				height:24px;
				line-height:24px;
				font-size:@font-size-base;
			}
		}
	}
}


//第七屏
.screen-help{
	.layout-relative-base;
	.layout-base;
	margin:0 auto;
	min-height:500px;
	height:100%;
	height:100vh;
	background:@color-white;
	.theme{
		.layout-relative-base;
		height:0 !important;
		margin:0 auto;
		width:50%;
		&:after{
			.layout-absolutel-base(50%);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-yellow1;
		}
	}
}


.help-wrap{
	.layout-base;
	height:100%;
	padding: 80px 0 0 0;
	li{
		.layout-float-base(50%);
		height:50%;
		display:table;
		>div{
			width:100%;
			height:100%;
			cursor:pointer;
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			h2{
				width:100%;
				height:60px;
				display:inline-block;
				font-size:@font-size-base + 8;
				line-height:60px;
				color:@color-gray3;
				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
				text-align:center;
			}
			&:after{
				color:@color-yellow1;
				font-size:@font-size-base + 80;
			}
			&:hover{
				h2{
					color:@color-red3;
				}
				&:after{
					color:@color-red3;
				}
			}
		}
	}
	li:nth-child(1)>div{
		background:@color-white;
		&:after{
			content:'\e624';
			font-family: 'ux_five';
		}
	}
	li:nth-child(2)>div{
		background:@color-gray15;
		&:after{
			content:'\e624';
			font-family: 'ux_eight';
		}
	}
	li:nth-child(3)>div{
		background:@color-gray15;
		&:after{
			content:'\e66e';
			font-family: 'ux_six';
		}
	}
	li:nth-child(4)>div{
		background:@color-white;
		&:after{
			content:'\e63b';
			font-family: 'ux_eight';
		}
	}
}

.help-wrap-support {
	height:420px;
}

.help-detail{
	width:100%;
	height:0;
	li{
		position:fixed;
		z-index:200;
		.layout-base;
		height:100%;
		padding:20px 10px;
		overflow:auto;
		background:@color-white;
		h1{
			font-size:@font-size-base + 6;
			line-height:44px;
			color:@color-gray3;
			.text-ww;
			font-weight:bold;
			text-align:center;
		}
		h2{
			font-weight:bold;
			font-size:@font-size-base + 2;
			color:@color-gray3;
			padding:2px 0;
			line-height:@font-size-base + 12;
			.text-ww;
			text-align:left;
		}
		p{
			font-size:@font-size-base + 2;
			line-height:@font-size-base + 12;
			.text-ww;
			text-align:left;
			padding:2px 0;
			color:@color-gray3;
			>a{
				display:inline-block;
				font-size:@font-size-base;
				text-align:left;
				text-decoration:underline;
				padding:0 10px;
				color:@color-yellow1;
			}
		}
		strong{
			font-size:@font-size-base + 2;
			line-height:@font-size-base + 12;
			.text-ww;
			text-align:left;
			padding:2px 0;
			color:@color-gray3;
			font-weight:bold;
		}
		>div{
			.layout-base;
			padding:10px 0;
			>div{
				.layout-base;
				padding:10px 0 10px 10px;
			}
		}
		table{
			.layout-base;
			margin:10px 0;
			border:1px solid @color-gray6;
			th{
				border-left:1px solid @color-gray9;
			}
			td{
				border-top:1px solid @color-gray9;
				border-left:1px solid @color-gray9;
			}
			td,
			th{
				font-size:@font-size-base;
				.text-ww;
				color:@color-gray3;
				text-align:center;
				vertical-align:middle;
				padding:10px 5px;
				&:first-child{
					border-left:none !important;
				}
			}
			
		}
		.help-table-rule{
			border-collapse:separate;
			.border-radius-base(5px);
			th{
				background:@color-yellow1;
			}
			tr:nth-child(2n+1) td{
				background:lighten(@color-yellow1,40%);
			}
			tr:nth-child(2n) td{
				background:lighten(@color-yellow1,35%);
			}
		}
	}
	li:after{
		.layout-absoluter-base;
		width:30px;
		height:30px;
		display:block;
		background:@color-base;
		color:@color-white;
		font-size:@font-size-base;
		line-height:30px;
		text-align:center;
		cursor:pointer;
		content:'\e706';
		font-family:'ux_four';
	}
	li:nth-child(1){
		left:-100%;
		top:-100%;
	}
	li:nth-child(2){
		right:-100%;
		top:-100%;
	}
	li:nth-child(3){
		left:-100%;
		top:100%;
	}
	li:nth-child(4){
		right:-100%;
		top:100%;
	}
	
}



//底部信息
.screen-footer{
	.layout-base;
	margin:0 auto;
	padding:0;
	background:@color-gray2;
	min-height:40px;
	>div{
		p{
			font-size:@font-size-base - 2;
			line-height:40px;
			display:inline-block;
			color:@color-gray6;
			.text-ww;
			&:first-child{
				width:64%;
				text-align:left;
			}
			&:first-child+p{
				width:34%;	
				text-align:right;
			}
		}
	}
}
