/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
}
#all {
	width:991px;
	height:1230px;
	margin:5px auto;
}
body {
	background:#8d0010;
}
#all div {
	float:left;
}
.top {
	background:url(../../images/kunluntouzi-3_03.jpg) no-repeat;
	width:313px;
	height:123px;
	font-size:12px;
}
.top-text {
	margin:15px 0 0 0px;
	display:inline;
}
.top a {
	color:#000;
	font-size:12px;
	padding:0 10px;
	text-decoration:none;
}
.top a:hover {
	color:#F00;
}
/*----------nav---------*/
#nav{
	width:991px;
	height:44px;
	overflow:hidden;
}
.nav ul {
	width:991px;
	height:44px;
}

.nav li{
	float:left;
}
.nav_nav{
	float:left;
	list-style-type:none;
	width:103px;
	height:44px;
	display:inline-block;
	background:url(../../images/kunluntouzi-3_05.jpg) repeat-x;
}
.nav-left {
	background:url(../../images/kunluntouzi-3_04.jpg) repeat-x;
	width:18px;
	height:44px;
	display:table;
}
.nav-li {
	width:21px;
	height:44px;
	background:url(../../images/kunluntouzi-3_05.jpg) repeat-x;
	display:table;
}
.nav-right {
	background:url(../../images/kunluntouzi-3_07.jpg) repeat-x;
	width:25px;
	height:44px;
	display:table;
}
.nav li a {
	width:auto;
	height:44px;
	text-align:center;
	line-height:44px;
	font-family:"宋体-PUA" !important;
	color: #FFF !important;
	font-weight:bold !important;
	font-size:14px !important;
	text-decoration:none;
}
.nav li a:hover {
	color:#fcbd31 !important;
	text-decoration:none;
}
/*---------主要内容背景-----------*/
.content-back {
	width:991px;
	height:1010px;
	background:#dcbb72;
}
.tu {
	margin:8px 0 0 9px;
	display:inline;
}
/*------------left-----------*/
.left {
	width:240px;
	margin:8px 0 0 9px;
	display:inline;
}
.left ul {
}
.left-nav li {
	list-style-type:none;
	overflow:hidden;
}
.left-nav li img {
	display:block;
	vertical-align:bottom;
}
.sidebar {
	list-style-type:none;
	width:240px;
	height:30px;
	background:url(../../images/kunluntouzi-fenye_12.jpg);
}
.left-nav li a {
	color:#000;
	height:38px;
	line-height:38px;
	font-size:12px;
	text-decoration:none;
	margin-left:70px;
}
.left-nav li a:hover {
	color:#dcbb72;
}
.left-2 {
	margin-top:6px;
	display:inline;
}
.left-3 {
	margin-top:6px;
	display:inline;
}
.left-4 {
	margin-top:6px;
	display:inline;
}
/*------------right-------------*/
.right {
	width:724px;
	height:610px;
	background:#FFF;
	margin:8px 0 0 9px;
	display:inline;
}
.right-title {
	margin:20px 0 0 25px;
	display:inline;
	font-size:12px;
	color:#000;
}
.right-title a {
	color:#000;
	text-decoration:none;
}
.right-title a:hover {
	text-decoration:underline;
}
.content-text {
	font-size:12px;
	width:440px;
	line-height:25px;
	margin:25px 20px 0 25px;
	display:inline;
}
.content-pic {
	margin-top:30px;
	display:inline;
}
/*--------------bottom--------------*/
.bottom {
	width:991px;
	height:40px;
	text-align:center;
	margin-top:20px;
	display:inline;
	font-size:12px;
	color:#737272;
}
.bottom a {
	color:#737272;
	padding:0 10px;
	text-decoration:none;
}
.bottom a:hover {
	color:#000;
	text-decoration:underline;
}
/*------------------------地址-----------------------*/
.where {
	color:#FFF;
	font-size:12px;
	text-align:center;
	width:991px;
	margin:10px auto;
	display:inline;
}
.where a {
	color:#FFF;
	text-decoration:none;
}
.where a:hover {
	color:#000;
	text-decoration:underline;
}
/*--------------企业宗旨-------------------*/
.qiyezongzhi {
	color:#F00;
	font-size:14px;
	font-weight:bold;
}
.content-text-qiyezongzhi {
	font-size:12px;
	width:680px;
	line-height:25px;
	margin:25px 10px 0 25px;
	display:inline;
}
/*----------------企业理念--------------*/
.content-text-qiyelinian {
	font-size:12px;
	width:680px;
	line-height:25px;
	margin:25px 10px 0 25px;
	display:inline;
}
/*----------------加盟条件--------------*/
.tiaojian {
	font-size:20px;
	font-weight:bold;
}
/*-------------加盟流程-------------*/
.content-text-jiamengliucheng {
	font-size:14px;
	width:680px;
	text-align:center;
}
.jiamengliucheng-title {
	font-size:14px;
	width:680px;
	margin:30px 0 25px 0;
	display:inline;
	text-align:center;
	font-weight:bold;
}
/*------------------联系我们----------------------*/
.content-text-lianxiwomen {
	font-size:12px;
	margin:25px 0 0 25px;
	display:inline;
	width:680px;
}
.lianxiwomen-title {
	font-size:14px;
	margin-bottom:20px;
	display:inline;
	font-weight:bold;
	width:680px;
}
/*-------------昆仑公告-------------------------*/
.content-text-kunlungonggao table {
	color:#666;
	font-size:12px;
	width:670px;
	margin:5px 0 0 25px;
	display:inline;
}
.content-text-kunlungonggao a {
	color:#666;
	text-decoration:none;
}
.content-text-kunlungonggao table a:hover {
	color:#000;
	text-decoration:underline;
}
.content-text-kunlungonggao tr {
	height:30px;
}
.yema {
	margin:15px 0 0 35px;
	display:inline;
	font-size:12px;
	color:#666;
}
.go {
	background:url(../../images/kunluntouzi-fenye_15.jpg);
	width:40px;
	height:18px;
	border:0px;
}
.test {
	height: 13px;
    width: 30px;
	padding:3px;
	font-size:12px;
	text-align:center;
	border-bottom:1px solid #E4E4E4;
	border-top:1px solid #999;
	border-left:1px solid #E4E4E4;
	border-right:1px solid #E4E4E4;
}
/*--------------------产品展示-------------------*/
.content-text-chanpinzhanshi {
	width:680px;
	font-size:12px;
	color:#666;
	margin:25px 0 0 25px;
	display:inline;
	line-height:25px;
}
.chanpinzhanshi-title {
	font-size:14px;
	color:#000;
	font-weight:bold;
}
/*--------------------加盟合作------------------*/
.content-text-jiamenghezuo {
	font-size:12px;
	color:#666;
	width:680px;
	margin:25px 0 0 25px;
	display:inline;
	line-height:25px;
}
td {
	text-align:left;
	padding-left:8px;
}
input {
	border:1px solid #CCC;
	border-top:1px solid #999;
	padding:2px;
	margin-left:-8px;
	display:inline;
}
textarea {
	border:1px solid #CCC;
	border-top:1px solid #999;
	padding:2px;
	margin-left:-8px;
	display:inline;
}

/*-----------------获取模拟账号---------------------*/
.content-text-huoqumonizhanghao {
	font-size:12px;
	color:#333;
	margin:25px 0 0 25px;
	display:inline;
	width:680px;
	line-height:25px;
}
.huoqumonizhanghao-title {
	font-size:13px;
	font-weight:bold;
}



