/* CSS crunched with Crunch - http://crunchapp.net/ */
.reset-base1 {
  margin: 0;
  padding: 0;
}
.reset-base2 {
  border: 0;
  border: 0 none;
}
.layout-base {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-of {
  overflow: hidden;
  white-space: nowrap;
}
.text-ww {
  word-break: break-all;
  word-wrap: break-word;
}
.text-unselect {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
/*常用部分(公共部分)*/
.commom1-wrap {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding: 20px 0;
  margin: 20px 0 0 0;
}
/*首页*/
.g-fill {
  position: relative;
  left: 0;
  top: 0;
  z-index: 5;
  ackground-repeat: no-repeat !important;
  background-position: left 0 top 34px !important;
  background-size: cover !important;
}
.h-menubar {
  background: #f1194f;
}
.self-bg {
  width: 100%;
  height: auto;
  max-width: 640px !important;
  min-width: 320px !important;
  min-height: 550px !important;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: -1;
}
.info1-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  min-width: 200px;
  min-height: 200px;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
  background: transparent;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ffffff;
}
.info1-wrap li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}
.info1-wrap li:hover {
  background: #000000;
}
.info1-itempos1,
.info1-itempos2,
.info1-itempos3,
.info1-itempos4,
.info1-itempos5,
.info1-itempos6 {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  width: 50%;
  height: 50%;
}
.info1-itempos1 .info1-item,
.info1-itempos2 .info1-item,
.info1-itempos3 .info1-item,
.info1-itempos4 .info1-item,
.info1-itempos5 .info1-item,
.info1-itempos6 .info1-item {
  float: left;
  margin: 15% 0 0 -10%;
}
.info1-itempos1 {
  left: 46.66%;
  top: -16.26%;
  -moz-transform: rotate(-30deg) skew(-30deg, 0deg);
  -ms-transform: rotate(-30deg) skew(-30deg, 0deg);
  -o-transform: rotate(-30deg) skew(-30deg, 0deg);
  -webkit-transform: rotate(-30deg) skew(-30deg, 0deg);
  transform: rotate(-30deg) skew(-30deg, 0deg);
}
.info1-itempos1 .info1-item {
  -moz-transform: skew(30deg, 0deg) rotate(30deg);
  -ms-transform: skew(30deg, 0deg) rotate(30deg);
  -o-transform: skew(30deg, 0deg) rotate(30deg);
  -webkit-transform: skew(30deg, 0deg) rotate(30deg);
  transform: skew(30deg, 0deg) rotate(30deg);
}
.info1-itempos2 {
  left: 71.64%;
  top: 23.10%;
  -moz-transform: rotate(30deg) skew(-30deg, 0deg);
  -ms-transform: rotate(30deg) skew(-30deg, 0deg);
  -o-transform: rotate(30deg) skew(-30deg, 0deg);
  -webkit-transform: rotate(30deg) skew(-30deg, 0deg);
  transform: rotate(30deg) skew(-30deg, 0deg);
}
.info1-itempos2 .info1-item {
  -moz-transform: skew(30deg, 0deg) rotate(-30deg);
  -ms-transform: skew(30deg, 0deg) rotate(-30deg);
  -o-transform: skew(30deg, 0deg) rotate(-30deg);
  -webkit-transform: skew(30deg, 0deg) rotate(-30deg);
  transform: skew(30deg, 0deg) rotate(-30deg);
}
.info1-itempos3 {
  left: 49.96%;
  top: 64.38%;
  -moz-transform: rotate(90deg) skew(-30deg, 0deg);
  -ms-transform: rotate(90deg) skew(-30deg, 0deg);
  -o-transform: rotate(90deg) skew(-30deg, 0deg);
  -webkit-transform: rotate(90deg) skew(-30deg, 0deg);
  transform: rotate(90deg) skew(-30deg, 0deg);
}
.info1-itempos3 .info1-item {
  -moz-transform: skew(30deg, 0deg) rotate(-90deg);
  -ms-transform: skew(30deg, 0deg) rotate(-90deg);
  -o-transform: skew(30deg, 0deg) rotate(-90deg);
  -webkit-transform: skew(30deg, 0deg) rotate(-90deg);
  transform: skew(30deg, 0deg) rotate(-90deg);
}
.info1-itempos4 {
  left: 3.38%;
  top: 66.32%;
  -moz-transform: rotate(150deg) skew(-30deg, 0deg);
  -ms-transform: rotate(150deg) skew(-30deg, 0deg);
  -o-transform: rotate(150deg) skew(-30deg, 0deg);
  -webkit-transform: rotate(150deg) skew(-30deg, 0deg);
  transform: rotate(150deg) skew(-30deg, 0deg);
}
.info1-itempos4 .info1-item {
  -moz-transform: skew(30deg, 0deg) rotate(-150deg);
  -ms-transform: skew(30deg, 0deg) rotate(-150deg);
  -o-transform: skew(30deg, 0deg) rotate(-150deg);
  -webkit-transform: skew(30deg, 0deg) rotate(-150deg);
  transform: skew(30deg, 0deg) rotate(-150deg);
}
.info1-itempos5 {
  left: -21.52%;
  top: 26.91%;
  -moz-transform: rotate(210deg) skew(-30deg, 0deg);
  -ms-transform: rotate(210deg) skew(-30deg, 0deg);
  -o-transform: rotate(210deg) skew(-30deg, 0deg);
  -webkit-transform: rotate(210deg) skew(-30deg, 0deg);
  transform: rotate(210deg) skew(-30deg, 0deg);
}
.info1-itempos5 .info1-item {
  -moz-transform: skew(30deg, 0deg) rotate(-210deg);
  -ms-transform: skew(30deg, 0deg) rotate(-210deg);
  -o-transform: skew(30deg, 0deg) rotate(-210deg);
  -webkit-transform: skew(30deg, 0deg) rotate(-210deg);
  transform: skew(30deg, 0deg) rotate(-210deg);
}
.info1-itempos6 {
  left: 0.05%;
  top: -14.44%;
  -moz-transform: rotate(270deg) skew(-30deg, 0deg);
  -ms-transform: rotate(270deg) skew(-30deg, 0deg);
  -o-transform: rotate(270deg) skew(-30deg, 0deg);
  -webkit-transform: rotate(270deg) skew(-30deg, 0deg);
  transform: rotate(270deg) skew(-30deg, 0deg);
}
.info1-itempos6 .info1-item {
  -moz-transform: skew(30deg, 0deg) rotate(-270deg);
  -ms-transform: skew(30deg, 0deg) rotate(-270deg);
  -o-transform: skew(30deg, 0deg) rotate(-270deg);
  -webkit-transform: skew(30deg, 0deg) rotate(-270deg);
  transform: skew(30deg, 0deg) rotate(-270deg);
}
.info1-itempos7 {
  left: 30%;
  top: 30%;
  z-index: 20;
  width: 40%;
  height: 40%;
  border: 2px solid #ffffff;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000000;
}
.info1-itempos7 .info1-item {
  width: 100%;
  margin: 0 auto;
}
.info1-item {
  display: table;
  height: 100%;
  width: 100%;
}
.info1-item a {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.info1-icon {
  width: 100%;
  max-height: 60px;
}
.info1-icon img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  max-width: 60px;
  max-height: 60px;
  min-width: 30px;
  min-height: 30px;
  margin: 0 auto;
  display: block;
}
.info1-theme {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: #ffffff;
}
.iconmark {
  width: 39px;
  height: 39px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 10;
}
.iconmark img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  float: left;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
