@charset "utf-8";
/* CSS Document */
/*浮动QQ*/



.qqpane{position:absolute;top:200px;right:1px;height:200px;width:160px;z-index:1000;}
.hiddenqqpane{position:relative;left:130px;top:0px;width:30px;height:180px;background:url(../img/hiddenqq-background.png)  no-repeat;}
.hiddenqqicon{width:15px;height:13px;background:url(../img/hiddenqqicon.png) no-repeat;position:relative;top:76px;left:38px;display:block;cursor:pointer;}
.hiddenqqicon:hover{background:url(../img/hiddenqqiconhover.png) no-repeat;}
.showqqpane{position:absolute;top:-10px;left:0px;width:160px;height:200px;background: url(../img/qqbackground.jpg) 
no-repeat left top;display:none;}
.showqqicon{background:url(../img/close.png) no-repeat;width:20px;height:20px;position:relative;left:100px;top:2px;cursor:pointer;}
.showqqicon:hover{cursor:pointer;}
.disonline{width:101px;height:29px;background:url(../img/qqbutton.png) no-repeat;display:block;position:absolute;left:5px;top:132px;}
.online{width:101px;height:29px;background:url(../img/qqbutton.png) no-repeat;display:block;position:absolute;left:5px;top:166px;}*/





















