@charset "utf-8";
/* CSS Document */
body *{margin:0;padding:0;font-size:12px;list-style:none;}
.container{width:960px;min-height:660px;_height:470px;margin:0 auto;*+height:470px;}
/*头部*/
.header{position:relative;left:0;top:0;height:120px;width:960px;background:#FFF;}
.banner{width:960px;height:81px;overflow:hidden;}
/*主体*/
.content{position:relative;left:0;top:0;width:960px;min-height:300px;_height:430px;*+height:430px;}
.content:after{clear:both;visibility:hidden;display:block;height:0;line-height:0;content:"";}
/*更多,详细查看*/
.moretitle,.showtitle,.about{position:relative;top:10px;left:0px;width:960px;height:21px;background:#FFF url(../img/showmoretitle.png) no-repeat;}
.moretitle h3,.showtitle h3,.about h3,.newstitle h3,.tradetypetitle h3,.itemcolligationtitle h3,.resourcedowntitle h3,.examnoticetitle h3,.educationworktitle h3{position:relative;top:2px;left:30px;font-size:12px;height:18px;width:auto;overflow:hidden;}
.moretitle h3 span,.showtitle h3 span{color:red;}
.morecontent,.showcontent{position:relative;left:0px;top:7px;width:954px;_height:400px;border-left:3px solid #bbb;border-right:3px solid #bbb;border-bottom:3px solid #bbb;}
.morecontent{height:400px;overflow:hidden;}
.showcontent{min-height:400px;}
.morecontent ul{position:relative;top:50px;left:300px;width:500px;height:300px;overflow:hidden;}
.morecontent ul li{height:30px;width:500px;}
.morecontent ul li a{text-decoration:none;display:block;color:#000;font-size:14px;width:480px;}
.morecontent ul li a:hover,.showcontent ul li a:hover,.sideboxtop ul li a:hover,.sideboxcenter ul li a:hover,.sideboxbottom ul li a:hover,.newscontent ul li a:hover,.tradetypecontent ul li a:hover,.itemcolligationcontent ul li a:hover,.resourcedowntable tr td a:hover,.examnoticecontent ul li a:hover,.educationworkcontent ul li a:hover{color:#0099FF;}
.morecontent ul li a img{border:none;margin-right:5px;}
/*关于我们*/
.maincontent{position:relative;top:7px;left:0px;width:954px;min-height:750px;_height:750px;*+height:750px;border-left:3px solid #bbb;border-right:3px solid #bbb;border-bottom:3px solid #bbb;overflow:hidden;}
.aboutflash{position:relative;top:3px;left:1px;width:950px;height:440px;z-index:-1;display:block;}
.aboutcontent{width:800px;min-height:300px;_height:300px;*+height:300px;position:relative;left:77px;top:0px;margin:10px 0;overflow:hidden;}
/*新闻政策，行业类别，项目综合，资源下载，考证须知*/
.subcontent{position:relative;left:0;top:0;width:960px;min-height:400px;_height:400px;*+height:400px;}
.subcontent:after{clear:both;visibility:hidden;display:block;height:0;line-height:0;content:"";}
.sidebox{float:left;min-height:400px;_height:400px;width:230px;overflow:hidden;}
.sideboxtop,.sideboxcenter,.sideboxbottom{float:left;margin:5px 0;width:230px;height:121px;background:url(../img/submainbox-background.png) no-repeat;overflow:hidden;}
.sideboxtop span,.sideboxcenter span,.sideboxbottom span{position:relative;left:30px;top:2px;color:red;font-family:"宋体", "黑体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;font-weight:bold;}
.sideboxtop ul,.sideboxcenter ul,.sideboxbottom ul{position:relative;top:12px;left:10px;height:90px;width:210px;overflow:hidden;}
.sideboxtop ul li,.sideboxcenter ul li,.sideboxbottom ul li{height:16px;width:205px;margin:4px 0;overflow:hidden;border-bottom:1px dashed #999;}
.sideboxtop ul li a,.sideboxcenter ul li a,.sideboxbottom ul li a{display:block;height:16px;width:205px;line-height:1.5em;text-decoration:none;color:#000;text-align:left;}
.sideboxtop ul li a img,.sideboxcenter ul li a img,.sideboxbottom ul li a img{border:none;margin:0 5px;}
.mainbox{float:right;min-height:400px;width:720px;overflow:hidden;}
.newstitle,.tradetypetitle,.itemcolligationtitle,.resourcedowntitle,.examnoticetitle,.educationworktitle{position:relative;top:0px;left:0px;height:21px;width:720px;margin-top:5px;background:url(../img/mainboxtitle.png) no-repeat;
}
.newscontent,.tradetypecontent,.itemcolligationcontent,.resourcedowncontent,.examnoticecontent,.educationworkcontent{min-height:370px;_height:370px;width:714px;border-left:3px solid #bbb;border-right:3px solid #bbb;border-bottom:3px solid #bbb;overflow:hidden;}
.newscontent ul,.tradetypecontent ul,.itemcolligationcontent ul,.examnoticecontent ul,.educationworkcontent ul{position:relative;top:20px;left:50px;width:600px;min-height:300px;_height:300px;overflow:hidden;}
.newscontent ul li,.tradetypecontent ul li,.itemcolligationcontent ul li,.examnoticecontent ul li,.educationworkcontent ul li{height:16px;width:590px;overflow:hidden;margin:5px 0;border-bottom:1px dashed #999;}
.newscontent ul li a,.tradetypecontent ul li a,.itemcolligationcontent ul li a,.examnoticecontent ul li a,.educationworkcontent ul li a{height:15px;width:590px;text-decoration:none;text-align:left;color:#000;line-height:1.5em;}
.newscontent ul li a img,.tradetypecontent ul li a img,.itemcolligationcontent ul li a img,.resourcedowntable tr td a img,.examnoticecontent ul li a img,.educationworkcontent ul li a img{border:none; margin:0 5px;}
.resourcedowntable{position:relative;top:20px;left:50px;width:600px;max-height:350px;_height:350px;overflow:hidden;}
.resourcedowntable tr{height:24px;width:590px;overflow:hidden;}
.resourcedowntable tr td a{text-decoration:none;color:#000;}


/*底部*/
.footer{clear:both;position:relative;left:0;top:4px;*+top:360px;width:960px;height:120px;background:#45C5FC;}
.footshow{height:100px;width:600px;position:relative;top:10%;left:35%;}
.footshow p{margin:5px auto;width:600px;}
.footshow p *{color:#000;text-decoration:none;text-align:center;}
.footshow p a:hover{color:#FFF;}
.footshow p a img{border:none;position:relative;top:8px;}