@charset "utf-8";
/* CSS Document */
/*global*/
body {font:12px/1.5 "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";}
body *{resize:none;}
body *:focus{outline:none;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,body{padding:0;margin:0;}
table{border-collapse: collapse;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal;font-style:normal;}
.hx a,.hx em,.fB{font-weight:bold;}
.clearfix{*zoom:1;}
.clearfix:after{display:block;overflow:hidden;clear:both;height:0;visibility:hidden;content:"";}
a {color:#252525;text-decoration:none;outline:none;}
a:visited {text-decoration:none;}
a:active {color:#ba2636;}
/*layout,header*/
#logo,.bg_wrap,.p_h1,.sidebar-nav li,.p_blue{behavior:url(css/iepngfix.htc);}
.bg_wrap{background:url(../images/c_bg.png) repeat-y;width:985px;margin:0 auto;overflow:hidden;}
.wrapper{background:#f2eeef;width:959px;margin:0 auto;}
.header{width:945px;position:relative;margin:0 auto;background:url(../images/h_bg.gif) repeat-x 0 0;height:71px;z-index:20;}
span#logo{background:url(../images/logo_tcl.png) no-repeat 0 0;width:166px;height:51px;float:left;text-indent:-99999px;margin:10px 0 0 22px;}
.select_sim,.select_language{width:140px;height:25px;background:url(../images/form_bg.jpg) repeat-x #FFF;border:solid 1px #cfcfcf;float:right;margin:22px 20px 0 0;position:relative;display:inline;}
.select_sim ul,.select_language ul{display:none;position:absolute;top:25px;left:-1px;border:solid 1px #ccc;border-top:none;background-color:#FFF;}
.select_sim ul{width:195px;}
.select_language ul{width:140px;}
.select_sim ul li,.select_language ul li{cursor:pointer;padding:0px 0 0px 5px;line-height:25px;color:#000;height:auto;word-wrap:break-word;word-break:break-all;}
.select_sim ul li{width:193px;}
.select_language ul li{width:135px;}
.select_sim ul li:hover,.select_language ul li:hover{background:#f5f5f5;}
.select_sim span,.select_language span{ position:absolute;left:0;top:0;line-height:27px;margin-left:5px;height:27px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.select_sim span{width:170px;}
.select_language span{width:135px;}
.select_sim p,.select_language p{ position:absolute;left:0;top:0;width:140px;height:27px;margin:0;background:url(../images/ico_select_sim.gif) no-repeat right top;}
.member{width:200px;color:#000}
.language{width:140px;color:#000}
.member p{width:200px;color:#000}
.language p{width:140px;color:#000;}
.language a{width:100%;height:100%;display:block;line-height:25px;word-wrap:break-word;word-break:break-all;}
/*menu*/
.atag{float:left;line-height:14px;width:35px;}
.imgcss{width:138px;height:105px;}
.area{float:left;line-height:14px;}
.navigation{width:945px;margin-left:7px;position:relative;z-index:10;background:#fff;height:30px;}
.menu li a.ftc{color:#CF0000;}
.bdline{background:url(../images/bd-line.gif) no-repeat 0 0;display:block;position:absolute;left:0;top:7px;width:1px;height:16px;}
.menu li{float:left;height:30px;width:200px;line-height:30px;position:relative;}
.menu li a{float:left;height:30px;text-align:center;display:block;width:100%;font-weight:bold;font-size:14px;color:#484848;}
.mhover{background:#CF0000;}
li.mhover a{color:#fff;}
.menu li.bdnone{border:none;}
.navlist{float:left;position:absolute;left:0;top:30px;}
.navlist li{float:left;height:27px;width:200px;border:none;}
.navlist li a{display:block;width:200px;height:27px;background:url(../images/bg_sed_navi.png) no-repeat;
 text-align:center;line-height:27px;color:#fff;margin:0;font-weight:normal;font-size:12px;font-family:"宋体";}
.navlist li a:hover{background: url(../images/bg_sed_navi_hover.png) no-repeat;}
/*footer*/
.footer{width:990px;height:60px;margin:0 auto;background:#000 url(../images/foot_bg.png) no-repeat center top;clear:both;}
.remarks{width:900px;float:left;}
.remark_icon{width:100px;height:50px;font-size:30px;color:#fff;font-weight:bold;line-height:50px;font-family:"微软雅黑","黑体";float:left;background:url(../images/foot_tcl_icon.gif) no-repeat center center;overflow:hidden;text-indent:-9999px;}
.remark_copyright{float:left;width:600px;height:50px;line-height:50px;font-size:12px;color:#eee;white-space:nowrap;overflow:hidden;font-family:"宋体","微软雅黑";}
/*request counts*/
.web_counts_wrap{width:0;height:0;position:relative;left:0;top:0;margin:0 auto;}
.web_counts_content{width:200px;height:14px;position:absolute;top:-43px;left:280px;oveflow:hidden;}
.web_counts_title,.web_counts{float:left;}
.web_counts_title{font-family:"微软雅黑","黑体";font-size:12px;line-height:14px;color:#fff;}
.web_counts{line-height:14px;margin-top:2px;}