@charset "utf-8";
/* CSS Document */
/*layout*/
.container{width:990px;height:auto;margin:0 auto;background:#fff url(../images/content_bg.png) repeat-y center top;}
.header_wrap{width:959px;margin:0 auto;}
.content{width:945px;height:auto;background:#fff;margin:0 auto;}
.clears{clear:both;line-height:none;height:0;visibility:hidden;}
/*details*/
/*---slide---*/
.slide_wrap{width:945px;height:440px;position:relative;left:0;top:0;margin:0 auto;z-index:1;overflow:hidden;}
/*img*/
.slide_img{width:945px;height:440px;position:absolute;left:0;top:0;z-index:2;}
.slide_img li{float:left;width:945px;height:440px;display:none;}
.slide_img li.slideimg_sel{display:block;}
/*tag*/
.slide_tag{width:auto;height:20px;position:absolute;right:30px;top:415px;z-index:10;overflow:hidden;}
.slide_tag li{width:20px;height:20px;float:left;margin:0 8px;background:url(../images/slide_btn_def.png) no-repeat center center;}
.slide_tag li.slidetag_sel{background:url(../images/slide_btn_sel.png) no-repeat center center;}
.slide_tag li a{width:20px;height:20px;display:block;font-size:12px;text-align:center;line-height:20px;color:#fff;font-weight:bold;}
.slide_tag li a:hover{-webkit-text-shadow:0 0 2px #fff;-moz-text-shadow:0 0 2px #fff;-ms-text-shadow:0 0 2px #fff;-o-text-shadow:0 0 2px #fff;text-shadow:0 0 2px #fff;-moz-transition:all ease-in .2s .05s;-ms-transition:all ease-in .2s .05s;-o-transition:all ease-in .2s .05s;-webkit-transition:all ease-in .2s .05s;transition:all ease-in .2s .05s;}
/*tips*/
.slide_tips{width:945px;height:40px;position:absolute;left:0;top:400px;z-index:5;opacity:0.6;filter:alpha(opacity=60);}
.slide_tips p{width:945px;height:40px;line-height:40px;text-indent:50px;font-size:20px;color:#fff;font-weight:bold;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:#000;font-family:"微软雅黑", "宋体";letter-spacing:1px;}
.slide_tips p:hover{-moz-text-shadow:0 0 3px #fff;-ms-text-shadow:0 0 3px #fff;-o-text-shadow:0 0 3px #fff;-webkit-text-shadow:0 0 3px #fff;text-shadow:0 0 3px #fff;-moz-transition:all ease-in 0.3s 0.05s;-ms-transition:all ease-in 0.3s 0.05s;-o-transition:all ease-in 0.3s 0.05s;-webkit-transition:all ease-in 0.3s 0.05s;transition:all ease-in 0.3s 0.05s;}
/*home-theme*/
.home_theme{float:left;width:945px;height:auto;margin:10px 0;}
.home_theme img{display:block;max-width:945px;margin:0 auto;}