@charset "utf-8";
/* CSS Document */
/*global*/
body *{font-size:100%;text-decoration:none;resize:none;border:0 none;}
body *:focus{outline:none;}
/*layout*/
.container{width:990px;height:auto;margin:0 auto;background:#fff url(../images/content_bg.png) repeat-y center top;}
.header_wrap{width:959px;margin:0 auto;}
.content{width:945px;height:auto;background:#fff;margin:0 auto;}
.clears{clear:both;line-height:none;height:0;visibility:hidden;}
/*details*/
/*---products,news,news-details,service,about,contacks---*/
.products_img,.pro_show,.news_img,.services_img,.abouts_img,.contacts_img{width:945px;height:auto;overflow:hidden;}
.mainbox{float:right;width:690px;}
.sidebox{float:left;width:250px;margin-top:30px;}
.products_img img,.news_img img,.services_img img,.abouts_img img,.contacts_img img{display:block;max-width:945px;*+width:940px;height:auto;margin:0 auto;}
/*products-show*/
.pro_show{width:945px;height:auto;word-break:break-all;word-wrap:break-word;}
.pro_show img{display:block;margin:5px auto;max-width:945px;overflow:hidden;_width:945px;}
/*about-details,contact-details*/
.about_infos,.about_brand,.about_future{width:650px;margin:20px auto;padding-bottom:20px;}
.about_infos,.about_brand,.about_future{font-size:14px;line-height:24px;height:auto;color:#333;word-break:break-all;word-wrap:break-word;}
.about_infos p,.about_brand p,.about_future p{font-size:14px;text-indent:2em;margin:5px auto;padding:3px 0;color:#333;word-break:break-all;word-wrap:break-word;line-height:24px;font-family:"宋体","微软雅黑", serif, sans-serif,"Microsoft Yahei", Vrinda;}
.about_infos h1,.about_brand h1,.about_future h1{width:650px;height:40px;line-height:50px;margin:5px auto;text-indent:20px;font-size:16px;padding:3px 0;font-family:"微软雅黑","宋体",serif, sans-serif;border-bottom:1px dashed #ccc;font-weight:bold;}
.about_brand img,.about_future img{padding:3px;margin:5px auto;max-width:600px;display:block;}
/*contact mainbox table*/
.contact_us{width:945px;height:auto;margin:0 auto;}
.contact_us table{float:left;margin:20px 0 10px 0;width:945px;height:auto;border:0 none;table-layout:fixed;border-collapse:collapse;background:#fff;}
.contact_cg1{width:20% !important;text-align:right;}
.contact_cg2{width:80% !important;text-align:left;}
.contact_us table tr td{font-size:12px;color:#333;word-break:break-all;word-wrap:break-word;font-family:"微软雅黑","宋体",serif, sans-serif;border-bottom:1px dashed #eee;}
.contact_us table span{float:right;margin-right:8px;font-weight:bold;word-break:break-all;word-wrap:break-word;font-family:"微软雅黑","宋体",serif, sans-serif;}
.contact_us table p{padding:10px 0 10px 5px;float:left;word-break:break-all;word-wrap:break-word;text-indent:12px;width:90%;line-height:18px;border-left:1px dashed #aaa;font-family:"微软雅黑","宋体",serif, sans-serif;}
.contact_odd td{background:#fcfcfc;}
/*news-sidebox,service-sidebox,about-sidebox,contact-sidebox*/
.sidebox li{width:230px;height:30px;float:left;border-right:2px solid #e9534a;margin:10px 0;}
.sidebox li a{width:230px;height:30px;line-height:30px;display:block;font-family:"微软雅黑","宋体",serif, sans-serif;font-size:16px;text-align:center;text-indent:80px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer;}
.sidebox li.nav_sel{border-right:0 none;background:#fff url(../images/news_icons.png) no-repeat -10px 0;}
.sidebox li.nav_sel a{font-size:18px;text-indent:0;color:#fff;}
.sidebox li:hover{border-right:2px solid #06F;-moz-transition:all ease-in .3s .05s;-ms-transition:all ease-in .3s .05s;-o-transition:all ease-in .3s .05s;-webkit-transition:all ease-in .3s .05s;transition:all ease-in .3s .05s;text-decoration:underline;}
.sidebox li.nav_sel:hover{border-right:0 none;text-decoration:none;-moz-transition:none;-ms-transition:none;-o-transition:none;-webkit-transition:none;transition:none;}
.sidebox li a:active{color:#000;}
.sidebox li.nav_sel a:hover{color:#fff;}