/* CSS crunched with Crunch - http://crunchapp.net/ */
.text-of {
  overflow: hidden;
  white-space: nowrap;
}
.text-ww {
  word-break: break-all;
  word-wrap: break-word;
}
.text-unselect {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.create-logo {
  background: url(../images/web_logo.png) no-repeat center center;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}
/*create wrap*/
.create-wrap {
  width: 1003px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 300px;
  margin: 0 auto 50px auto;
  padding: 20px 0 50px 0;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #fafafa;
  border: 1px solid #666666;
  -moz-box-shadow: 0 0 2px #bbbbbb , 0 0 2px #ffffff inset;
  -ms-box-shadow: 0 0 2px #bbbbbb , 0 0 2px #ffffff inset;
  -o-box-shadow: 0 0 2px #bbbbbb , 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 0 2px #bbbbbb , 0 0 2px #ffffff inset;
  box-shadow: 0 0 2px #bbbbbb , 0 0 2px #ffffff inset;
}
.create-wrap > h1 {
  width: 840px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #666666;
  border-bottom: 1px dashed #cccccc;
  margin: 0 auto;
  font-family: '微软雅黑', '雅黑', 'Microsoft YaHei', 'YaHei', '\5FAE\8F6F\96C5\9ED1';
}
.create-wrap ul {
  width: 850px;
  margin: 20px auto 20px auto;
}
.create-wrap ul li {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 105px;
  width: 250px;
  margin: 15px 15px 0 15px;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 3px solid #1179b1;
  cursor: pointer;
  line-height: 100px;
  text-align: center;
  background: #ffffff;
  -moz-box-shadow: 1px 2px 3px #dddddd;
  -ms-box-shadow: 1px 2px 3px #dddddd;
  -o-box-shadow: 1px 2px 3px #dddddd;
  -webkit-box-shadow: 1px 2px 3px #dddddd;
  box-shadow: 1px 2px 3px #dddddd;
}
.create-wrap ul li:hover {
  border-left: 1px solid #1179b1;
  border-bottom: 1px solid #1179b1;
  border-right: 1px solid #1179b1;
}
.create-wrap ul li h3,
.create-wrap ul li p {
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
}
.create-wrap ul li h3 {
  font-size: 14px;
  color: #666666;
  margin: 20px auto 0 auto;
  line-height: 24px;
}
.create-wrap ul li p {
  font-size: 12px;
  color: #666666;
  margin: 5px auto 0 auto;
  line-height: 20px;
}
.create-wrap ul li p span {
  padding: 0 0 0 3px;
  color: #f26d00;
}
.create-wrap ul li p em {
  padding: 0 0 0 3px;
  color: #bbbbbb;
  font-style: normal;
}
.create-wrap ul li div {
  height: 25px;
  line-height: 20px;
  margin: 6px auto 0 auto;
  text-align: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.create-wrap ul li div span {
  font-size: 12px;
  padding: 0 3px;
  margin: 0 5px 0 0;
  cursor: pointer;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.create-wrap ul li div span:first-child {
  color: #999999;
}
.create-wrap ul li div span:first-child:hover {
  color: #1179b1;
}
.create-wrap ul li div span:last-child {
  color: #bbbbbb;
}
.create-wrap ul li div span:last-child:hover {
  color: #666666;
}
.create-wrap ul li:last-child {
  border: 1px dashed #999999;
  font-size: 16px;
  font-family: '微软雅黑', '雅黑', 'Microsoft YaHei', 'YaHei', '\5FAE\8F6F\96C5\9ED1';
  color: #333333;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.create-wrap ul li:last-child:after {
  content: '';
  clear: right;
}
.create-wrap ul li:last-child:hover {
  border: 1px dashed #1179b1;
}
::selection {
  background: #1179b1;
  color: #ffffff;
}
::-moz-selection {
  background: #1179b1;
  color: #ffffff;
}
