/* CSS crunched with Crunch - http://crunchapp.net/ */
.text-of {
  overflow: hidden;
  white-space: nowrap;
}
.text-ww {
  word-break: break-all;
  word-wrap: break-word;
}
.text-unselect {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.help-wrap {
  position: relative;
  left: 0;
  top: 0;
  z-index: 5;
  width: 860px;
  float: left;
  height: 100%;
  overflow: hidden;
}
.help-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  min-width: 860px;
}
.help-wrap ul li {
  width: 860px;
  float: left;
}
.side-wrap li.help-menusel a {
  color: #d91616;
  text-decoration: underline;
}
