/* CSS crunched with Crunch - http://crunchapp.net/ */
.text-of {
  overflow: hidden;
  white-space: nowrap;
}
.text-ww {
  word-break: break-all;
  word-wrap: break-word;
}
.text-unselect {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
/*--part1--*/
.welcome-column {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 5px 0;
  margin: 5px 0;
  font-size: 14px;
  font-family: '微软雅黑', '雅黑', 'Microsoft YaHei', 'YaHei', '\5FAE\8F6F\96C5\9ED1';
  color: #666666;
}
.welcome-column span {
  padding: 0 5px;
  color: #d81715;
}
.theme-column {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 10px 0;
  height: 70px;
  margin: 0 0 10px 0;
  background: #f7f7f7;
  border-bottom: 1px solid #dddddd;
}
.theme-column li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  border-right: 1px dashed #aaaaaa;
  float: left;
}
.theme-column li h3,
.theme-column li div {
  width: 100%;
  height: 50%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.theme-column li h3 {
  font-size: 18px;
  font-family: '微软雅黑', '雅黑', 'Microsoft YaHei', 'YaHei', '\5FAE\8F6F\96C5\9ED1';
  line-height: 30px;
}
.theme-column li div {
  font-size: 12px;
  line-height: 20px;
}
.theme-column li:nth-child(1) h3 {
  color: #d81715;
}
.theme-column li:nth-child(1) div {
  color: #666666;
}
.theme-column li:nth-child(2) h3 {
  color: #1687d8;
}
.theme-column li:nth-child(2) div {
  color: #666666;
}
.theme-column li:nth-child(3) h3 {
  color: #666666;
}
.theme-column li:nth-child(3) div {
  color: #666666;
}
.theme-column li:nth-child(4) {
  border-right: none;
}
.theme-column li:nth-child(4) h3 {
  color: #aaaaaa;
}
.theme-column li:nth-child(4) div {
  color: #aaaaaa;
}
.theme-column li.theme-column-ie {
  border-right: none;*+width:24%;
}
/*--part2--*/
.module-column {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 10px 0;
  background: #ffffff;
}
.mc-itemimg,
.mc-itemdata,
.mc-itemlist {
  width: 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 280px;
}
.mc-itemimg div,
.mc-itemdata div,
.mc-itemlist div {
  background: #f7f7f7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mc-itemimg h3,
.mc-itemdata h3,
.mc-itemlist h3,
.mc-itemimg p,
.mc-itemdata p,
.mc-itemlist p {
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.mc-itemimg h3,
.mc-itemdata h3,
.mc-itemlist h3 {
  height: 50px;
  line-height: 60px;
  color: #666666;
  font-size: 16px;
  font-weight: bold;
}
.mc-itemimg p,
.mc-itemdata p,
.mc-itemlist p {
  height: 30px;
  line-height: 20px;
  color: #333333;
  font-size: 12px;
}
.mc-itemimg {
  padding: 0 8px 0 0;*+width:200px;
}
.mc-itemimg div {
  border: 4px solid #f7f7f7;
  background: #ffffff;
}
.mc-itemimg h3 {
  color: #d91616;
}
.mc-itemimg a {
  display: block;
  width: 100%;
  height: 190px;
  margin: 0 auto;
}
.mc-itemimg a img {
  display: block;
  vertical-align: middle;
  max-width: 148px;
  max-height: 148px;
  overflow: hidden;
  margin: 15px auto 0 auto;
}
.mc-itemdata {
  padding: 0 8px;*+width:192px;
}
.mc-itemdata div {
  border: 3px solid #f7f7f7;
}
.mc-itemdata ul {
  width: 100%;
}
.mc-itemdata li {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 98px;*+height:95px;*+width:92px;;
  border: 2px solid #f7f7f7;
  background: #ffffff;
}
.mc-itemdata li h4,
.mc-itemdata li span {
  width: 100%;
  height: 50%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.mc-itemdata li h4 {
  line-height: 70px;
  font-size: 16px;
  color: #666666;
  font-family: '微软雅黑', '雅黑', 'Microsoft YaHei', 'YaHei', '\5FAE\8F6F\96C5\9ED1';
}
.mc-itemdata li span {
  display: block;
  line-height: 20px;
  font-size: 12px;
  color: #333333;
}
.mc-itemlist {
  padding: 0 0 0 8px;*+width:200px;_width:180px;
}
.mc-itemlist div {
  border: 3px solid #f0f5f4;
  background: #f0f5f4;
}
.mc-itemlist ul {
  width: 90%;
  height: 200px;
  margin: 0 auto;
}
.mc-itemlist ul li {
  width: 100%;
  float: left;
  height: 30px;
  border-bottom: 1px solid #ffffff;
}
.mc-itemlist ul li a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 30px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 10px;
}
.mc-itemlist ul li a:hover {
  text-decoration: underline;
}
.mc-itemlist-more {
  display: block;
  height: 20px;
  width: 100%;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 120px;_text-indent:100px;
}
.mc-itemlist-more:hover {
  color: #d81715;
  text-decoration: underline;
}
/*--part3--*/
.template-type {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.template-type .template-theme {
  height: 30px;
  width: 100%;
  background: #f7f7f7;
}
.template-type .template-theme h3,
.template-type .template-theme h3 + span {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  float: left;
  line-height: 30px;
  width: 40%;
}
.template-type .template-theme h3 {
  text-align: left;
  text-indent: 10px;
  float: left;
  color: #666666;
}
.template-type .template-theme h3 + span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 3px;
  color: #d81715;
  text-indent: 0;
  font-size: 12px;
}
.template-type .template-theme h3 + span a {
  color: #d81715;
}
.template-type .template-theme h3,
.template-type .template-theme h3 span {
  font-size: 14px;
}
.template-type .template-theme h3 span {
  color: #1687d8;
}
.template-type .template-theme h3 + span {
  float: right;
  margin: 0 10px 0 0;
  text-align: right;
  cursor: pointer;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.template-type .template-theme h3 + span:hover {
  text-decoration: underline;
}
.template-type .template-img {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 10px 0 0 0;
  height: 260px;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 5px solid #666666;
  padding: 10px 20px;*+padding:10px 0;
}
.template-type .template-img img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
