/* CSS crunched with Crunch - http://crunchapp.net/ */
.text-of {
  overflow: hidden;
  white-space: nowrap;
}
.text-ww {
  word-break: break-all;
  word-wrap: break-word;
}
.text-unselect {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.result-wrap {
  width: 900px;
  margin: 30px auto;
  padding: 10px 0 50px 0;
  border: 1px solid #666666;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #fafafa;
  -moz-box-shadow: 0 0 3px #aaaaaa , 0 0 2px #ffffff inset;
  -ms-box-shadow: 0 0 3px #aaaaaa , 0 0 2px #ffffff inset;
  -o-box-shadow: 0 0 3px #aaaaaa , 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 0 3px #aaaaaa , 0 0 2px #ffffff inset;
  box-shadow: 0 0 3px #aaaaaa , 0 0 2px #ffffff inset;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: '微软雅黑', '雅黑', 'Microsoft YaHei', 'YaHei', '\5FAE\8F6F\96C5\9ED1';
}
.result-wrap .result-success-icon {
  width: 248px;
  height: 245px;
  margin: 30px auto 10px auto;
  overflow: hidden;
  background: url(../images/web_result.png) no-repeat 0 0;
}
.result-wrap .result-fail-icon {
  width: 248px;
  height: 247px;
  margin: 30px auto 10px auto;
  overflow: hidden;
  background: url(../images/web_result.png) no-repeat 0 -245px;
}
.result-wrap .result-remark {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  font-size: 42px;
  color: #333333;
}
.result-wrap .result-success-tips,
.result-wrap .result-fail-tips {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  font-size: 22px;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 22px;
}
.result-wrap .result-success-tips {
  color: #1179b1;
}
.result-wrap .result-fail-tips {
  color: #d81715;
}
