/* CSS crunched with Crunch - http://crunchapp.net/ */
.text-of {
  overflow: hidden;
  white-space: nowrap;
}
.text-ww {
  word-break: break-all;
  word-wrap: break-word;
}
.text-unselect {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.template-type {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 10px 0;
}
.template-type .template-theme {
  height: 30px;
  width: 100%;
  background: #f7f7f7;
}
.template-type .template-theme h3,
.template-type .template-theme h3 + span {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  float: left;
  line-height: 30px;
  width: 40%;
}
.template-type .template-theme h3 {
  text-align: left;
  text-indent: 10px;
  float: left;
  color: #666666;
}
.template-type .template-theme h3 + span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 3px;
  color: #d81715;
  text-indent: 0;
  font-size: 12px;
}
.template-type .template-theme h3,
.template-type .template-theme h3 span {
  font-size: 14px;
}
.template-type .template-theme h3 span {
  color: #1687d8;
}
.template-type .template-theme h3 + span {
  float: right;
  margin: 0 10px 0 0;
  text-align: right;
  cursor: pointer;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.template-type .template-theme h3 + span:hover {
  text-decoration: underline;
}
.template-type .template-img {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 10px 20px;*+padding:10px 0;
  margin: 10px 0 0 0;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 5px solid #666666;
  background: #ffffff;
  height: 260px;
}
.template-type .template-img img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.template-type:nth-child(n+2) div h3 + span {
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  background: #d81715;
  width: auto !important;
  padding: 0 15px;
  height: 26px;
  margin-top: 2px;
  line-height: 26px;
}
.template-type:nth-child(n+2) div h3 + span:after {
  content: '启用';
}
.tempage-page {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 30px;
}
