///模块--客户管理
///作者：易品


///*--客户管理--*/
.status_btn{
	background:@color-green1;
	padding:2px 10px;
	color:@color-white;
	vertical-align:middle;
}

.btn_cx{
	cursor:pointer;
	background:@color-gray5;
	padding:0px;
	height:30px;
	line-height:30px;
	text-align:center;
	width:100px;
	color:@color-white;
	vertical-align:middle;
	border:none;
	display:inline-block;
}

.range{
	width:70px;
}