///*--(包含图片)列表模块--*/
.list-default-wrap{
		.layout-float-base;
		background:@color-gray10;
		li{
			.layout-float-base;
			.box-shadow-items(0 1px 0 @color-white inset e(',') 0 -1px 0 @color-gray7 inset);
			padding:10px 10px;
			height:80px;
			min-height:80px;
		}
		a{
			.layout-relative-base(0,0,5);
			width:100%;
			height:100%;
			display:block;
		}
		img{
			 .layout-absolutel-base(0,0,10);
			 width:60px;
			 height:60px;
			 display:block;
		}
		h3{
			.layout-float-base;
			font-weight:normal;
			padding:0 0 0 70px;
			font-size:@font-size-default;
			color:@color-gray2;
		}
		
}