///*--用户访问记录模块--*/
.visit-record-wrap{
	.layout-float-base;
	padding:0 10px;
	margin:5px 0 80px 0;
}
.vr-item{
	.layout-relative-base(0,0,5);
	width:80%;
	margin:10px auto;
	text-align:center;
	div:nth-of-type(1),
	div:nth-of-type(3){
		color:@color-gray2;
		width:40px;
		height:40px;
		overflow:hidden;
		.text-unselect;
		font-size:20px;
		line-height:36px;
		cursor:pointer;
		&:before{
				font-family:'ux';
		}
	}
	div:nth-of-type(1){
		.layout-absolutel-base(-12%,0,30);
		&:before{
			content:'\0193';
		}
	}
	div:nth-of-type(2){
		height:40px;
		width:auto;
		max-width:100%;
		line-height:40px;
		margin:0 auto;
		overflow:hidden;
		display:inline-block;
		a{
			display:inline-block;
			width:40px;
			height:40px;
			margin:0 3px;
			img{
					display:block;
					width:40px;
					height:40px;
					overflow:hidden;
					.border-radius-base(50%);
			}
		}
	}
	div:nth-of-type(3){
		.layout-absoluter-base(-12%,0,30);
		&:before{
			content:'\0192';
		}
	}
}