/*--完全为W3C标准版本--*/

///*--字体图标--*/
@font-base-url:'../../fonts/';

@ux-font-one-url:'@{font-base-url}uxone/';
@ux-font-two-url:'@{font-base-url}uxtwo/';
@ux-font-three-url:'@{font-base-url}uxthree/';
@ux-font-four-url:'@{font-base-url}uxfour/';
@ux-font-five-url:'@{font-base-url}uxfive/';
@ux-font-six-url:'@{font-base-url}uxsix/';
@ux-font-seven-url:'@{font-base-url}uxseven/';
@ux-font-eight-url:'@{font-base-url}uxeight/';
@ux-font-name:iconfont;

@typ-font-url:'@{font-base-url}typ/';
@typ-font-name:typicons;




///*--字体--*/
@fontfamliy-base:'微软雅黑','雅黑','Microsoft YaHei','YaHei','\5FAE\8F6F\96C5\9ED1','宋体','\5B8B\4F53',sans-serif;
///*字体大小*/
@font-size-base:14px;
@font-size-small:@font-size-base - 2;
@font-size-default:@font-size-base + 2;
@font-size-large:@font-size-base + 4;
@font-size-bigger:@font-size-base + 10;


///*--颜色--*/
@color-type:color;

///*基本色：黑*/
@color-base:rgba(0,0,0,1.00);

///*基本色：白*/
@color-white:rgba(255,255,255,1.00);

///*全局色:错误*/
@color-err:rgba(225,0,0,1.00);

///*全局色:成功*/
@color-succ:rgba(0,200,35,1.00);

///*全局色:警告*/
@color-warn:rgba(229,96,0,1.00);

///*全局色:信息提示*/
@color-info:rgba(0,172,230,1.00);

///*全局色:加重*/
@color-dark:rgba(36,43,51,1.00);

///*全局色:减淡*/
@color-ligh:rgba(184,194,204,1.00);

///*全局色:边框*/
@color-border:rgba(102,102,102,1.00);//#666

///*全局色:获取焦点*/
@color-focus:rgba(0,140,250,1.00);

///*全局色:常规颜色*/
@color-default:rgba(51,51,51,1.00);//#333



///*红色*/
@color-red1:rgba(195,9,17,1.00);
@color-red2:rgba(226,32,40,1.00);
@color-red3:rgba(251,157,143,1.00);

///*绿色*/
@color-green1:rgba(16,178,88,1.00);

///*蓝色*/
@color-blue1:rgba(37,146,239,1.00);
@color-blue2:rgba(84,132,222,1.00);

///*黄色*/
@color-yellow1:rgba(250,191,21,1.00);

///*橘色*/
@color-orange1:rgba(234,84,4,1.00);

///*基准灰色*/
@color-gray1:rgba(17,17,17,1.00);//#111
@color-gray2:rgba(34,34,34,1.00);//#222
@color-gray3:rgba(51,51,51,1.00);//#333
@color-gray4:rgba(68,68,68,1.00);//#444
@color-gray5:rgba(85,85,85,1.00);//#555
@color-gray6:rgba(102,102,102,1.00);//#666
@color-gray7:rgba(119,119,119,1.00);//#777
@color-gray8:rgba(136,136,136,1.00);//#888
@color-gray9:rgba(153,153,153,1.00);//#999
@color-gray10:rgba(170,170,170,1.00);//#aaa
@color-gray11:rgba(187,187,187,1.00);//#bbb
@color-gray12:rgba(204,204,204,1.00);//#ccc
@color-gray13:rgba(221,221,221,1.00);//#ddd
@color-gray14:rgba(238,238,238,1.00);//#eee
///*扩展灰色*/
@color-gray15:rgba(192,192,192,1.00);//#c0c0c0	图标色
@color-gray16:rgba(244,244,244,1.00);//#f4f4f4	背景色





///*--基础类--*/

///*盒模型*/
.box-sizing-base(@boxsizing:border-box){box-sizing:@boxsizing;}

///*圆角*/
.border-radius-base(@radius:none){border-radius:@radius;}

///*容器阴影*/
.box-shadow-base(@str){box-shadow:@str;}

///*文字阴影*/
.text-shadow-base(@str){text-shadow:@str;}

///*过渡*/
.transition-base(@str){transition:@str;}

///*变换中心*/
.transform-origin-base(@origin){transform-origin:@origin;}

///*变换*/
.transform-base(@str){transform:@str;}

///*动画定义*/
.animation-base(@str){animation:@str;}

///*横向渐变*/
.linear-gradienth-base(@startColor: #555, @endColor: #333){
	background-color: @endColor;
    background-image: linear-gradient(to right, @startColor, @endColor); 
    background-repeat: repeat-x;
}

///*纵项渐变*/
.linear-gradientv-base(@startColor: #555, @endColor: #333){
	background-color: mix(@startColor, @endColor, 60%);
    background-image: linear-gradient(to bottom, @startColor, @endColor);
    background-repeat: repeat-x;
}

///*文字颜色*/
.color-t-base(@color){@{color-type}:@color;}

///*背景颜色*/
.color-bg-base(@color){background-@{color-type}:@color;}

///*轮廓*/
.no-outline-base(@outline:none){outline:@outline;}

///*透明*/
.opacity-base(@str:100){opacity: @str / 100;}

///*图像灰度*/
.filter-grayscale-base(@str:100){filter:grayscale(~'@{str}%');filter:gray;}


///*屏幕模式下的文字缩放(none或者100%为关闭)*/
.text-size-adjust-base(@str:100%){text-size-adjust:@str;}

///*动态及时尺寸*/
.calc-base(@obj,@str){@{obj}:calc(~'@{str}');}

///*伪对象*/
.placeholder-base(@obj,@str){@{obj}::input-placeholder,@{obj}::placeholder{@str();}}




///*--布局--*/

///*基本布局*/
.layout-base(@w:100%,@box:border-box){width:@w;.box-sizing-base(@box);}

///*左上屏幕定位*/
.layout-fixedl-base(@left:0,@top:0,@z-index:100){position:fixed;left:@left;top:@top;z-index:@z-index;}

///*右上屏幕定位*/
.layout-fixedr-base(@right:0,@top:0,@z-index:100){position:fixed;right:@right;top:@top;z-index:@z-index;}

///*左下屏幕定位*/
.layout-fixedlb-base(@left:0,@bottom:0,@z-index:100){position:fixed;left:@left;bottom:@bottom;z-index:@z-index;}

///*右下屏幕定位*/
.layout-fixedrb-base(@right:0,@bottom:0,@z-index:100){position:fixed;right:@right;bottom:@bottom;z-index:@z-index;}

///*相对定位*/
.layout-relative-base(@left:0,@top:0,@z-index:1){position:relative;left:@left;top:@top;z-index:@z-index;}

///*左上绝对定位*/
.layout-absolutel-base(@left:0,@top:0,@z-index:5){position:absolute;left:@left;top:@top;z-index:@z-index;}

///*右上绝对定位*/
.layout-absoluter-base(@right:0,@top:0,@z-index:5){position:absolute;right:@right;top:@top;z-index:@z-index;}

///*左下绝对定位*/
.layout-absolutelb-base(@left:0,@bottom:0,@z-index:5){position:absolute;left:@left;bottom:@bottom;z-index:@z-index;}

///*右下绝对定位*/
.layout-absoluterb-base(@right:0,@bottom:0,@z-index:5){position:absolute;right:@right;bottom:@bottom;z-index:@z-index;}

///*浮动*/
.layout-float-base(@w:100%,@box:border-box,@dir:left){.layout-base(@w,@box);float:@dir;}




///*--文本--*/

///*不换行*/
.text-of(@o:hidden,@w:nowrap){overflow:@o;white-space:@w;}

///*文字强制换行*/
.text-ww(@w1:break-all,@w2:break-word){word-break:@w1;word-wrap:@w2;}

///*禁止选中*/
.user-select-base(@str:none){user-select:@str;}





///*--伸缩盒--*/

///*显示方式*/
.display-base(@str:flex){display:~'@{str}';}

///*--伸缩盒（旧）--*/
///*排列规则*/
.box-orient-base(@str:horizontal){box-orient:@str;}

///*对齐方式(水平方向)*/
.box-pack-base(@str:start){box-pack:@str;}

///*对齐方式（垂直方向）*/
.box-align-base(@str:stretch){box-align:@str;}

///*分配父元素剩余空间的比例*/
.box-flex-base(@str:0){box-flex:@str;}

///*设置子对象所属组*/
.box-flex-group-base(@str:1){box-flex-group:@str;}

///*设置子对象的显示顺序*/
.box-ordinal-group-base(@str:1){box-ordinal-group:@str;}

///*设置子对象的排列顺序是否反转*/
.box-direction-base(@str:normal){box-direction:@str;}

///*设置子对象是否可以换行显示*/
.box-lines-base(@str:normal){box-lines:@str;}




///*--伸缩盒（新）--*/
///*设置子对象如何分配空间--复合属性（扩展比率 收缩比率 默认基准值）*/
.flex-base(@str:none){flex:@str;}

///*设置子对象排列方式--复合属性（排列方向 溢出父元素是否换行）*/
.flex-flow-base(@str:row nowrap){flex-flow:@str;}

///*设置堆叠缩进的对齐方式（水平方向）--总体上*/
.align-content-base(@str:stretch){align-content:@str;}

///*(弹性容器--容器)设置元素在侧轴（纵轴）方向上的对齐方式（垂直方向）*/
.align-items-base(@str:stretch){align-items:@str;}

///*（弹性项目--容器中的相关项目或子容器等）设置元素在侧轴（纵轴）方向上的对齐方式（垂直方向）*/
.align-self-base(@str:auto){align-self:@str;}

///*设置元素在主轴（横轴）方向上的对齐方式（水平方向）--细节上*/
.justify-content-base(@str:flex-start){justify-content:@str;}

///*设置元素出现的顺序*/
.order-base(@str:0){order:@str;}



///*--多列--*/

///*设置多列列数和列宽--复合属性（列宽 列数）*/
.columns-base(@str:auto auto){columns:@str;}

///*设置多列间隙*/
.column-gap-base(@str:normal){column-gap:@str;}

///*设置多列边框--复合属性（宽度 样式 颜色）*/
.column-rule-base(@str:medium none transparent){column-rule:@str;}

///*设置是否横跨所有列*/
.column-span-base(@str:none){column-span:@str;}

///*设置所有列的高度是否统一*/
.column-fill-base(@str:auto){column-fill:@str;}

///*设置对象之前是否断行*/
.column-break-before-base(@str:auto){column-break-before:@str;}

///*设置对象之后是否断行*/
.column-break-after-base(@str:auto){column-break-after:@str;}

///*设置对象内部是否断行*/
.column-break-inside-base(@str:auto){column-break-inside:@str;}
