/* CSS Document */
body{ padding:0;margin:0;font:normal 12px/180% "宋体"; color:#000;background: url(images/bg_03.jpg) repeat-y center;}
h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
div{ margin:0 auto;text-align:left;font:normal 12px/180% "宋体";}
a:link,a:visited{color:#333; text-decoration:none}
a:hover{color:#1c89cd;; text-decoration:underline}
img{border:none}
ol,ul,li{list-style:none;}

.clear{ clear:both;}

.top{ width:980px; height:30px; background:url(images/re_02.jpg) repeat-x; line-height:30px; color:#0465a3; letter-spacing:2px;}
.banner{ width:980px; height:230px;}

.menux{ width:980px; height:73px; margin-top:3px;}
.menux1{ width:10px; height:73px; float:left; background:url(images/nav.png) no-repeat left top;}
.menux2{ width:960px; height:73px; float:left; background:url(images/nav.png) repeat-x left -73px;}
.menux3{ width:10px; height:73px; float:left; background:url(images/nav.png) no-repeat left -146px;}

/*---------------------菜单样式----------------------------------*/
#menu{
	height:32px;
	margin-top:4px;
}
#menu ul{
	margin:auto; width:960px; height:32px;
	list-style-type:none; padding:0px; margin-top:0px; margin-bottom:0px;
}
.m_li{
	float:left; width:114px; line-height:32px;  text-align:center; margin-right:-2px; margin-left:-2px;
}
.m_li a,.m_li a:visited{
	display:block; color:#FFFFFF; width:114px; font-weight:bold;
}
.m_line{
	float:left; width:1px; height:32px;
	line-height:32px;   /*ff下有效(图片垂直居中)*/
}
.m_line img{
	margin-top:expression(( 32 - this.height ) / 2);   /*ie下有效(图片垂直居中)*/
}
.m_li_a{
	float:left; width:114px; line-height:32px; text-align:center; padding-top:3px; font-weight:bold;
	background-image:url(images/menu_bg.png); position:relative; height:32px; margin-top:-3px; margin-right:-2px; margin-left:-2px;
}
.m_li_a a, .m_li_a a:visited{
	display:block; color:#ed0000; width:114px;
}


.smenu{
	width:774px; margin:0px auto 0px auto; padding:0px; list-style-type:none; height:32px;
}
.s_li{
	line-height:32px; width:auto; display:none; height:32px; 
}
.s_li_a{
	line-height:32px; width:auto; display:block; height:32px;
}



.M1{ width:980px; margin-top:8px; display: table;}
.dongtai{ width:735px; float:left; border:#c2e8ff 1px solid; padding:1px; background:url(images/oy_03.png) repeat-x left top;}
.mak{ width:690px; height:30px; background:url(images/oy_06.png) no-repeat left; text-align: right; margin-top:8px;}
.jdt{ width:712px; background:url(images/oy_09.png) no-repeat 100px top; display:table;}
.lnk{ width:300px; height:216px; float:left; border:#d5d5d5 1px solid; margin:12px 0; padding:2px;}
.dk{ width:388px; height:216px; float:right;}
.dk ul{ margin-top:18px;}
.dk ul li{ width:388px; height:30px; background:url(images/eg.png) no-repeat left 24px;}
.dk a:hover{ color: #1c89cd;}
.dk .t1 a{ width:300px; float:left; background:url(images/n.png) no-repeat left 8px; text-indent:12px; white-space:nowrap; overflow:hidden; table-overflow:ellipsis; float:left;}
.dk .t2{ width:60px; text-align:right; display: block; float: left;}
.ad{ width:743px; height:90px; float:left; margin-top:10px;}

.M1_left{ width:743px; float:left;}
.M1_right{ width:229px; float:right; height: auto;}
.rtr{width:229px; height:auto;}
.fr{ width:229px; height:28px; background:url(images/yui_03.png) no-repeat; line-height:28px; color:#FFFFFF; font-weight:bold; text-indent:45px; font-size:14px;}
.ber{ width:229px; height:176px; background:url(images/yui_06.png) repeat-x; color:#333333; line-height:24px;}
.ber input{ border:#CACACA 1px solid;}
.nkh1{ width:67px; height:23px; background:url(images/nvh_03.png) no-repeat; border:0px;}
.nkh2{ width:67px; height:23px; background:url(images/nvh_05.png) no-repeat; border:0px;}
.ewr{ width:229px; height:28px; background:url(images/yh_03.png) no-repeat; line-height:28px; color:#FFFFFF; font-weight:bold; text-indent:25px; font-size:14px;}
.ggao{ width:227px; border:#c2e8ff 1px solid; display:table;}
.ggao ul{ width:192px; margin:0; padding:0; padding-top:7px; padding-left:10px; padding-bottom:5px; display: table;}
.ggao li a,.ggao li a:visited{width:192px; float:left; background:url(images/n.png) no-repeat left 11px; text-indent:12px; white-space:nowrap; overflow:hidden; table-overflow:ellipsis; line-height:26px;}
.sdjm{width:229px; height:28px; background:url(images/yh_06.png) no-repeat; line-height:28px;}
.sdjm_1{ width:150px; float:left; display:block; color:#FFFFFF; font-weight:bold; text-indent:32px; font-size:14px;}
.sdjm_2 a,.sdjm_2 a:visited{ width:50px; color:#FFFFFF; font-weight:normal; text-align:left; float:right; display:block;}
.fgt{ width:229px; margin-top:10px;}

/*政务公开*/
.zwgk{ width:743px; height: auto; display:table; margin-top:10px;}
.rgf{ width:743px; height:42px; background:url(images/yu_03.png) no-repeat left top; color:#FFFFFF; font-weight:bold; font-size:14px; text-indent:60px; line-height:37px;}
.zwgk_contant{ width:741px; border:#c2e8ff 1px solid; border-top:0px; display:table; height: auto;}
.jgsz{ width:235px; float: left;}
.xyxx{ width:475px; float:right;}
.jgsz_title{ width:235px; height:28px; background:url(images/iju_03.png) no-repeat; text-indent:25px; color:#fff; font-weight:bold; line-height:28px; font-size:14px;}
.jgsz_contant{ width:233px; border:#ddd 1px solid; background-color:#f9f9f9; display: table;}
.jgsz_contant ul{ margin:0; padding:0; width:210px; margin-left:15px; margin-top:12px; margin-bottom:12px;}
.jgsz_contant ul li a,.jgsz_contant ul li a:visited{ width:100px; height:35px; background:url(images/iju_10.png) no-repeat; float:left; line-height:26px; display:block; text-indent:15px; display:block;}
.uh{width:720px; margin-top:10px;}

/*滑动门1*/
.yer{width:475px;}
.t_rt{text-align:right;}
h1,h2,h3,h4,h5,h6{font-weight:bold;margin:0px;padding:0px;font-size:12px;}
ul,li{margin:0px;padding:0px;}
li{list-style-type:none;}
h1{margin:10px;padding-right:10px;padding-bottom:5px;border-bottom:1px dotted #ccc;}
.preview{overflow:hidden;}
.cont{padding:10px;}
.cls{clear:both;}
.hidden{display:none;}
#sourse{border:1px dotted #ccc;width:300px;height:300px;margin:0px auto;}
.textDiv{margin:10px 40px 10px;text-align:center;}
h2{margin:0px 10px;background:#ccc;padding:5px;}
.example{margin:10px;background:#FFF;border:1px dotted #ccc;padding:10px;}
.scrolldoorFrame{width:475px;margin:0px auto;overflow:hidden; background: url(images/iju_05.png) no-repeat left top;}
.scrollUl{width:200px;overflow:hidden;height:35px;}
.scrollUl li{float:left;}
.bor03{ border:#ddd 1px solid; display:table; width:450px;}
.sd01{cursor:pointer; width:80px; height:35px; background:url(images/gf_05.png) no-repeat center; line-height:35px; text-align: center; margin-left:15px; font-weight:bold; color:#fff;}
.sd02{cursor:pointer; width:80px; height:35px; background:url(images/gf_03.png) no-repeat center; line-height:35px; text-align: center; margin-left:15px; font-weight:bold; color:#fff;}


.nm li a,.nm li a:visited{width:408px; float:left; background:url(images/n.png) no-repeat left 11px; text-indent:12px; white-space:nowrap; overflow:hidden; table-overflow:ellipsis; line-height:28px;}

/*网上办事*/
.cxfw{ width:200px; float:left; margin-left:10px;}
.wsbs_title{ width:200px; height:28px; background:url(images/iju_03.png) no-repeat; text-indent:25px; color:#fff; font-weight:bold; line-height:28px; font-size:14px;}
.es{ background:url(images/vr_03.png) no-repeat 9px 7px; color:#333333;}
.wsbs_contant{ width:200px; background:url(images/bd_03.png) no-repeat right center; display: table;}
.wsbs_contant ul{ margin:0; padding:0; width:175px; margin-top:6px;}
.wsbs_contant ul li a,.wsbs_contant ul li a:visited{ width:175px; height:40px; background:url(images/jthb_03.png) no-repeat; float:left; line-height:35px; display:block; text-indent:38px;}
.rty5{ width:480px; border:#ddd 1px solid; float:right;}

/*滑动门2*/
.scrolldoor4{ width:475px; overflow:hidden; background:url(images/ber_03.jpg) repeat-x;}
.kdi{ width:450px; overflow:hidden;}
.hd{ width:229px; height:31px; background:url(images/ny_03.png) no-repeat; line-height:34px; color:#1783c7; font-weight:bold; text-indent:28px; font-size:14px;}
.ien{ width:229px; display:table; background:url(images/bb_03.png) repeat-x;}
.ien ul{ width:192px; margin:0; padding:0;}
.ien ul li a,.ien ul li a:visited{width:85px; float:left; background:url(images/n.png) no-repeat left 13px; text-indent:8px; margin-left:10px; display:block; padding:5px 0 0 0; color:#477500;}

.fth{ width:229px; height:28px; background:url(images/g4_06.png) no-repeat; line-height:28px; color:#FFFFFF; font-weight:bold; text-indent:30px; font-size:14px; margin-top:10px;}
.spyp{ width:229px; height:33px; background:url(images/wr_03.png) no-repeat; line-height:33px; color:#599300; font-weight:bold; text-indent:15px; font-size:14px; margin-top:10px;}

.ggao{ width:227px; border:#c2e8ff 1px solid; display:table;}
.ggao ul{ width:192px; margin:0; padding:0; padding-top:7px; padding-left:10px; padding-bottom:5px; display: table;}
.ggao li a,.ggao li a:visited{width:192px; float:left; background:url(images/n.png) no-repeat left 11px; text-indent:12px; white-space:nowrap; overflow:hidden; table-overflow:ellipsis; line-height:26px;}



.bottom{ width:980px; height:174px; background:url(images/lu_03.png) repeat-x; margin-top:10px;}
.wwr{ color:#525252; font-weight:bold; text-align: center; width:980px; line-height:42px;}
.wwr a,.wwr a:visited{ color:#525252; letter-spacing:1px;}
.wwr a:hover{color:#1c89cd;; text-decoration:underline}




/*列表页面*/
.option{ width:980px; height:28px; background:url(images/nikd_03.png) no-repeat; margin-top:10px; margin-bottom:10px; display:block; text-indent:45px; line-height:28px;}

.list{ width:980px; height:auto;}
.list_menu{ width:202px; height:auto; float: left;}
.list_menu_top{ width:202px; height:59px; background:url(images/nikd_07.png) no-repeat; text-align:center; font-size:16px; color:#FFFFFF; font-weight:bold; line-height:55px;}
.list_menu_mid{ width:202px; background:url(images/nikd_10.jpg) repeat-y;}
.list_menu_mid ul{ margin:0; padding:0; width:151px; margin-left:24px; padding-top:10px;}
.list_menu_mid a,.list_menu_mid a:visited{width:151px; height:32px; background:url(images/wv_03.png) no-repeat; display:block; text-align:center; line-height:18px; padding-top:6px; padding-bottom:6px; letter-spacing:1px;}
.list_menu_mid a:hover{ background:url(images/dr_03.png) no-repeat; font-weight:bold; color:#f74238; text-decoration:none;}
.list_menu_bottom{ width:202px; height:16px;}

.list_right{ width:758px; float: right; border:#98d3f7 1px solid;}
.list_right ul{ margin-left:20px; margin-top:20px; margin-bottom:10px;}
.list_right ul li{ height:32px; width:720px;}
.list_right .gbf{ width:580px; float:left; background:url(images/yg_03.png) no-repeat left 6px; text-indent:12px; white-space:nowrap; overflow:hidden; table-overflow:ellipsis; text-align:left;}
.list_right .bej{ width:100px; text-align:right; display: block; float:left;}

/*详细页面*/
.list_right p{ font-weight:bold; font-size:22px; text-align:center; color:#2B2B2B; height:45px; line-height:45px; margin-top:20px;}
.list_right span{ text-align:center; width:96%; display:block; height:28px; border-bottom:#CCCCCC 1px dashed; margin:0 auto; color:#262626;}
.list_right_contant{ width:95%; color:#2B2B2B; line-height:25px; font-size:14px; padding-top:15px; padding-bottom:15px;}