/*首页欢迎页面*/
.admin-welcome-wrap,.admin-welcome-banner{
  .layout-base;
  .user-select-base;
  display:block;
}
.admin-welcome-wrap{
  padding:50px 0 0 0;
  min-height:500px;
  max-height:100%;
  background:@color-white url('../images/welcome_bg_top.png')
  left top no-repeat,url('../images/welcome_bg_bottom.png')
  right bottom no-repeat;
}
/*首页广告*/
.admin-welcome-banner{
  min-height:200px;
  img{
    max-width:100%;
  }
}
/*首页快捷模块*/
.admin-quick-icon{
  @quick-item-width:@layout-content-width / 4;
  @quick-item-padding:@quick-item-width - @index-icon-wrap-width;

  font-size:0;
  >li{
    .layout-base(@quick-item-width);
    display:inline-block;
    height:@index-icon-wrap-height + @index-icon-wrap-gap;
    >div{
      @quick-img-gap:20px;
      @quick-text-height:@index-icon-wrap-height - (@quick-img-gap * 2) - @index-icon-width;

      .layout-float-base(@index-icon-wrap-width);
      display:block;
      cursor: pointer;
      text-align: center;
      padding:@quick-img-gap 0;
      height:@index-icon-wrap-height;
      background:@color-gray17;
      &:hover{
        background:darken(@color-gray17,2%);
        span{
          color:@color-red1;
        }
      }
      &:after,
      &::after{
        content:'';
        clear: both;
        display: table;
        width:100%;
        height:0;
      }
      img{
        width:@index-icon-width;
        height:@index-icon-width;
        display: inline-block;
        overflow: hidden;
      }
      span{
        .layout-base;
        display: inline-block;
        height:@quick-text-height;
        line-height:@quick-text-height + 10;
        font-size:@font-size-base + 4;
        color:@color-gray6;
        .user-select-base;
      }
    }
  }
  >li:nth-child(4n){
    >div{
      float:right;
    }
  }
  .quick-pull-left{
    padding-left:@quick-item-padding / 4 !important;
  }
}