/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:0 none;}
body *:focus{outline:none;}
/*layout*/
.container{width:auto;height:auto;margin:0 auto;}
.header{width:745px;height:auto;margin:0 auto;}
.content{width:745px;height:auto;margin:0 auto;padding-bottom:80px;}
/*header*/
/*h1-h6*/
.header h1{width:auto;height:auto;padding:5px 0;text-align:center;font-size:26px;font-weight:normal;}
.header h2{width:auto;height:auto;padding:5px 0;text-align:center;font-size:24px;font-weight:bold;}
/*content*/
/*table*/
.opi_remark{width:745px;height:auto;margin:0 auto;border-left:1px dashed #333;border-top:1px dashed #333;border-bottom:1px dashed #333;}
.opi_remark_sub,.adv_remark_sub{width:745px;height:auto;margin:0 auto;border:none;}
.opi_info,.adv_info{width:745px;height:auto;margin:0 auto;border-left:2px solid #000;border-top:2px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;}
/*tr td*/
.opi_remark tr td{border-right:1px dashed #333;}
.opi_remark_sub tr td,.adv_remark_sub tr td{padding:3px 0;}
.opi_info tr td,.adv_info tr td{border-bottom:1px solid #000;border-right:1px solid #000;padding:5px 0;}
/*table-layout*/
.remark_col1{width:34%;}
.remark_col2{width:32%;}
.remark_col3{width:34%;}
.remarksub_col1{width:15%;}
.remarksub_col2{width:85%;}
.info_col1{width:15%;}
.info_col2{width:35%;}
.info_col3{width:15%;}
.info_col4{width:35%;}
/*form-detail*/
/*div*/
/*span*/
.remark_date{float:right;width:170px;}
/*label*/
.opi_remark label{float:left;padding:5px 3px;font-size:14px;}
.opi_remark_sub label,.adv_remark_sub label{float:right;padding:3px 0;font-size:14px;cursor:pointer;}
.opi_info label,.adv_info label,.defname{padding:3px 0;text-align:center;width:100%;font-size:14px;display:block;cursor:pointer;}
/*text*/
.opi_remark input,.acceptedno{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;}
.acceptedno{width:99%;}
.opi_info input,.adv_info input{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;width:96%;}
.dateissue_year,.datecheck_year,.datemanage_year{width:60px;}
.dateissue_month,.datecheck_month,.datemanage_month,.dateissue_day,.datecheck_day,.datemanage_day{width:20px;}
/*trline,tdline,tdunline*/
/*textarea*/
.companyissue,.departcheck,.manager{width:94%;min-height:100px;_height:100px;overflow:auto;float:right;font-size:14px;background:#FFF;}
.opi_info textarea,.adv_info textarea{width:98%;min-height:100px;_height:100px;overflow:auto;float:left;font-size:14px;display:table-cell;vertical-align:middle;margin:5% 0;}