///组件--注册组件

/*form样式*/
.register-form{
	padding:44px 35px 34px 35px;
	border:1px solid @color-gray5;
	border-radius:2px;
	float:left;
	font-size:12px;
	color:@color-gray3;
	position:relative;
	>div{
		>ul{
			width:268px;
			overflow:hidden;
			border-bottom:1px solid @color-gray4;		
			li{
				float:left;
				p{
					width:80px;	
					height:36px;
					line-height:36px;
					font-size:16px;
					display:inline-block;
					color:@color-gray3;
					cursor:pointer;
				}
				&.register-tabactive{
					p{
						color:@color-orange2;
						border-bottom:2px solid @color-orange1;
					}	
				}	
			}		
		}
	}
	
	/*table样式*/
	table{
			td{
				width:268px;
				>b{
					font-size:14px;
					color:@color-gray2;	
				}
				label{
					float:left;		
				}
				button{
					width:100%;
					height:40px;
					line-height:40px;
					display:block;
					color:@color-white;
					font-size:@font-size-base - 2;
					background: @color-orange1;
					vertical-align:middle;
					.border-radius-base(4px);
					&.disabled-btn{
							cursor:default;
							background: @color-gray5;
							color:@color-gray3;
					}
				}
				label{
					font-size:12px;
					>input{
						margin-right:8px;
						vertical-align:middle;		
					}		
				}
				span{
					display:inline-block;
					float:right;
					a{
						color:@color-orange1;
						font-size:12px; 
					}
				}
			}
	}
	
	.input-text{
		width:256px;
		line-height:20px;
		height:20px;
		padding:6px 0 6px 10px;
		border:1px solid @color-gray4;
	}
	.input-yanzheng{
		width:107px;
		height:14px;
		line-height:14px;
		padding:9px 0 9px 10px;
		border:1px solid @color-gray4;				
	}
	.send-verify{
		float:right;
		width:137px;
		height:34px;
		text-align:center;	
		line-height:34px;
		.text-of;
		cursor:pointer;
		color:@color-white;
		background:@color-orange1;
		display:inline-block;
	}
	.send-verifydisabled{
		cursor:default;
		color:@color-gray3;
		background:@color-gray5;	
		
	}
}


.login-tip{
	height:24px;
	line-height:24px;
	font-size:@font-size-base - 2;
	color:@color-red1;
}
.login-tip2{
	height:18px;
	line-height:18px;
	font-size:@font-size-base - 2;
	color:@color-red1;
}

/*企业注册用户外框高度*/
.register-form-2{
	height:370px;
}
