///组件--重置密码


.reset-guide{
		width:890px;
		overflow:hidden;
		margin:0 auto;
		overflow:hidden;
		>div{
			width:50px;
			float:left;
			font-size:12px;
			color:@color-gray2;
			text-align:center;	
		}
		p{
			line-height:30px;		
		}
		span{
			display:inline-block;
			width:25px;
			height:25px;
			font-size:12px;
			color:#fff;
			text-align:center;
			line-height:25px;
			border-radius:50%;
			background:url(../images/icons.png) -655px -80px;	
		}
		.guide-icon{
			background:url(../images/icons.png) -631px -80px;		
		}
		i{
			display:inline-block;
			width:230px;
			height:3px;
			float:left;
			background:url(../images/icons.png) -37px -250px;	
			margin:11px 0 0 0;
		}
	}
.reset-password-form{
	width:410px;
	min-height:150px;
	margin:65px auto 0 auto;
	label{
		display:inline-block;
		width:80px;
		height:30px;
		font-size:12px;
		color:@color-gray2;
		line-height:30px;	
		text-align:right;
		padding:0 10px 0 0;			
	}
	.gain-text{
		width:100%;
		height:30px;
		>input{
			width:215px;
			height:28px;
			font-size:12px;
		  color:@color-gray2;
		  line-height:28px;
			text-indent:1em;		
			border:1px solid @color-gray4;
		}
	}
	.gain-tip{
		height:20px;
		width:100%;
		color:@color-red2;
		font-size:@font-size-base - 2;
		line-height:20px;
		.text-of;
		text-indent:100px;
		text-overflow:ellipsis;
	}
	.gain-verify{
		width:100%;
		height:30px;
		>input{
			width:90px;
			height:28px;
			font-size:12px;
		  color:@color-gray2;
		  line-height:28px;
			text-indent:1em;
			border:1px solid @color-gray4;
		}
		.validshow{
			width:70px;
			height:30px;
			display:inline-block;
			vertical-align:middle;
			margin:0 5px;
		}
		span{
			display:inline-block;
			width:70px;
			height:30px;
			font-size:14px;
			color:#6463FD;
			text-align:center;
			letter-spacing:2;
			line-height:30px;
			vertical-align:middle;
			background:@color-gray5;	
		}
		.volidcode-btn,a{
			display:inline-block;
			padding:0 6px;
			height:30px;
			text-align:center;
			line-height:30px;
			font-size:12px;
			vertical-align:middle;
		}
		.volidcode-btn{
			background:@color-orange1;
			color:@color-white;
			&:hover{
				background:@color-orange2;
			}
		}
		.volidcode-btn-disabled{
				background:@color-gray5;
				color:@color-gray3;
				cursor:default;
				&:hover{
					background:@color-gray5;
				}
		}
		a{
			background:@color-gray5;
			color:@color-gray2;
		}
		
		//---密码重置——2---
		.gain-yz{
			width:125px;		
		}
		
		//---密码重置——3---
	  .gain-input-3{
			width:270px;
			height:28px;
			border:1px solid @color-gray4;	
		}
	
	}
	.gain-send{
		font-size:12px;
		color:@color-gray3;
		line-height:20px;
		>b{
			color:@color-gray2;
			line-height:20px;
			font-weight:normal;		
		}		
	}
	.reset-submit{
		display:inline-block;
		width:100px;
		height:30px;
		line-height:30px;
		text-align:center;
		font-size:12px;
		color:#fff;
		margin:20px 0 0 90px;
		background:@color-orange1;
	}
	.gain-reset-text{	
		font-size:18px;
		color:@color-gray2;
		line-height:22px;
		text-align:center;
		height:50px;
	}
	 >b{
		display:block;
		width:220px;
		height:50px;
		line-height:50px;
		margin:80px auto 0 auto;
		font-size:26px;
		color:@color-gray2;		
	}
}
	


