<div ng-controller="StructController as struct_ctrl">
    <div class="struct-layout-container struct-layout-default">
        <div class="struct-layout-main">
            <!--主内容-->
            <h1 class="admin-layout-theme3">
                <span>{{struct_ctrl.edit.orgname}}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default g-c-blue3" ng-disabled="!struct_ctrl.edit.editstate" ng-show="struct_ctrl.powerlist.structedit" ng-click="struct_ctrl.actionStruct({display:'show',area:'setting',type:'edit'})"><i class="btn-action admin-btn-action7"></i>&nbsp;编辑</button>
            </h1>

            <!--下属机构-->
            <h2 class="admin-layout-theme3"><span class="theme-icon admin-theme-icon1"></span>&nbsp;&nbsp;下属机构</h2>

            <!--添加菜单条-->
            <div class="admin-action-item">
                <span ng-click="struct_ctrl.actionStruct({display:'show',area:'setting',type:'add'})" ng-show="struct_ctrl.setting.add_substruct_state && struct_ctrl.powerlist.structadd"><i class="btn-action admin-btn-action1"></i>添加子机构</span>
                <span ng-show="struct_ctrl.setting.adjust_pos_state"  ng-click="struct_ctrl.adjustStructPos()"><i class="btn-action admin-btn-action2"></i>调整位置</span>
            </div>

            <!--机构列表-->
            <ul class="admin-list-tsitem" id="admin_struct_list" ng-click="struct_ctrl.toggleStructList($event)"></ul>



            <!--机构用户-->
            <h2 class="admin-layout-theme3"><span class="theme-icon admin-theme-icon2"></span>&nbsp;&nbsp;机构用户</h2>

            <div class="admin-action-item">
                <div class="action-item-btn g-f-l g-w-percent28">
                    <span ng-show="struct_ctrl.setting.add_substruct_state && struct_ctrl.powerlist.useradd"  ng-click="struct_ctrl.actionUser({display:'show',area:'user',type:'add'})"  ><i class="btn-action admin-btn-action1"></i>添加用户</span>
                    <span ng-show="struct_ctrl.powerlist.operateadjust" ng-click="struct_ctrl.adjustOperate()"><i class="btn-action admin-btn-action5"></i>调整运营商</span>
                    <span ng-show="struct_ctrl.powerlist.userdelete" ng-click="struct_ctrl.batchDeleteUser()"><i class="btn-action admin-btn-action6"></i>批量删除</span>
                </div>
                <!--->
                <div class="action-item-ul g-w-percent6 g-pos-r" ng-show="::struct_ctrl.table.tablecolumn.columnshow">
                    <div class="action-theme action-theme-btn g-br3 g-t-c">显示隐藏列</div>
                    <div class="action-ul g-d-hidei" id="admin_struct_checkcolumn">
                        <ul class="action-list-wrap" ></ul>
                    </div>

                </div>
                <div class="action-item-input g-f-r g-w-percent14">
                    <label class="action-indent-b2">过滤:
                        <input class="form-control input-sm" ng-model="struct_ctrl.user.filter" ng-keyup="struct_ctrl.filterDataTable()" placeholder="" type="search">
                    </label>
                </div>
            </div>

            <!--表格-->
            <table id="admin_list_wrap" class="table table-bordered table-striped table-hover admin-layout-table">

                <!--分组样式-->
                <colgroup id="admin_struct_colgroup"></colgroup>
                <!--头部-->
                <thead>
                    <tr>
                        <th class="g-clear-pl g-clear-pr g-t-c">
                            <div class="admin-batchitem-wrap" ng-show="struct_ctrl.powerlist.userdelete" >
                                <label data-check="0" class="admin-batchitem-check" id="admin_struct_checkall"></label>
                            </div>
                        </th>
                        <th>手机号码</th>
                        <th>地址</th>
                        <th>姓名</th>
                        <th>机器码</th>
                        <th>身份证验证状态</th>
                        <th>创建时间</th>
                        <th>状态</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <!--表主体-->
                <tbody id="admin_struct_batchlist" class="middle-align"></tbody>
            </table>

            <!--分页-->
            <div class="admin-page-wrap">
                <div class="easyui-pagination g-w-percent50" id="admin_page_wrap" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
            </div>
        </div>

        <div class="struct-layout-side">
            <!--搜索组件-->
            <div class="sub-search-wrap ui-sub-search" data-active="struct_ctrl.record.searchactive" data-value="struct_ctrl.record.searchname"  data-action="struct_ctrl.searchAction()" data-clear="struct_ctrl.searchClear()" ></div>

            <!--选项卡组件-->
            <ul class="sub-tab-wrap sub-item-group2 sub-itembr-group2 ui-sub-tab-href" data-tabitem="struct_ctrl.tabitem"></ul>


            <!--子菜单组件-->
            <ul class="sub-menu-wrap">
                <li>
                    <a class="sub-menu-title sub-menu-titleactive" data-parentid="" data-id="struct_ctrl.root.id" data-layer="0" data-label="struct_ctrl.root.orgname"  ng-click="struct_ctrl.rootSubMenu($event)">{{struct_ctrl.root.orgname}}</a>
                    <ul ng-init="struct_ctrl.initSubMenu()" ng-click="struct_ctrl.toggleSubMenu($event)" id="admin_struct_submenu" class="g-d-showi ui-sub-menu"></ul>
                </li>
            </ul>
        </div>
    </div>


    <!--弹出层--提示操作界面-->
    <!--机构设置-->
    <div class="modal fade custom-width" id="struct_setting_dialog">
        <div class="modal-dialog g-w-percent46">
            <div class="modal-content">
                <div class="modal-body">
                    <!--权限-->
                    <div class="g-f-l g-w-percent34" ng-show="struct_ctrl.struct.isDesignatedPermit===1">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">选择权限</div>
                        <table class="table table-bordered table-striped table-hover admin-layout-table">
                            <colgroup ng-bind-html="struct_ctrl.power.colgroup"></colgroup>
                            <thead ng-click="struct_ctrl.selectAllPower($event)" ng-bind-html="struct_ctrl.power.thead"></thead>


                            <tbody id="admin_struct_allpower" ng-bind-html="struct_ctrl.power.tbody"></tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-5 g-t-r">
                                <span ng-click="struct_ctrl.getSelectPower()" class="btn btn-red g-br3 g-w-percent15">确定</span>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-5 g-t-l">
                                <span ng-click="struct_ctrl.clearSelectPower()" class="btn btn-red g-br3 g-w-percent15">取消</span>
                            </div>
                        </div>
                    </div>

                    <!--表单-->
                    <div class="g-f-r g-w-percent14">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">机构设置
                            <span class="mini-icon admin-mini-icon1" ng-click="struct_ctrl.toggleModal({display:'hide',area:'setting'})"></span>
                        </div>

                        <form ng-submit="struct_ctrl.structSubmit()" name="structFrom" role="form" novalidate method="post" class="admin-layout-form">
                            <div class="admin-layout-theme4"><span class="mini-icon admin-mini-icon2"></span>&nbsp;基本信息</div>



                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>机构名称</label>

                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" name="orgname" placeholder="请输入机构名称" required ng-model="struct_ctrl.struct.orgname"  />
                                    <span  ng-show="structFrom.orgname.$dirty&&structFrom.orgname.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">机构名称不能为空</span>
                                    <span ng-show="structFrom.orgname.$dirty&&structFrom.orgname.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r">公司名称</label>

                                <div class="self-input g-w-percent35">
                                    <input type="text" name="comname" placeholder="请输入公司名称" ng-model="struct_ctrl.struct.comname"  />
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>负责人</label>

                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" name="linkman" placeholder="请输入负责人" required  ng-model="struct_ctrl.struct.linkman"  />
                                    <span ng-show="structFrom.linkman.$dirty && structFrom.linkman.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">负责人不能为空</span>
                                    <span ng-show="structFrom.linkman.$dirty && structFrom.linkman.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>手机号码</label>

                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" name="cellphone" required  placeholder="请输入手机号码" maxlength="13"  ng-model="struct_ctrl.struct.cellphone" class="ui-mobile-phone"  />
                                    <span ng-show="structFrom.cellphone.$dirty && structFrom.cellphone.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">手机号码不能为空</span>
                                    <span ng-show="structFrom.cellphone.$dirty && structFrom.cellphone.$invalid && !structFrom.cellphone.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">手机号码格式不合法</span>
                                    <span ng-show="structFrom.cellphone.$dirty&&structFrom.cellphone.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>联系地址</label>
                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" name="address" required  placeholder="请输入联系地址" ng-model="struct_ctrl.struct.address" />
                                    <span ng-show="structFrom.address.$dirty&&structFrom.address.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">联系地址不能为空</span>
                                    <span ng-show="structFrom.address.$dirty&&structFrom.address.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r">运营地区</label>
                                <div class="self-input g-w-percent35">
                                    <input type="text" name="operatingArea" placeholder="请输入运营地区" ng-model="struct_ctrl.struct.operatingArea" />
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-v-t g-t-r">备注</label>

                                <div class="self-input g-w-percent35">
                                    <textarea ng-model="struct_ctrl.struct.remark" name="remark" ></textarea>
                                </div>
                            </div>

                            <div class="admin-layout-theme4"><span class="mini-icon admin-mini-icon3"></span>&nbsp;登陆信息</div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent50"><input type="checkbox"  ng-model="struct_ctrl.struct.isSettingLogin" ng-init="struct_ctrl.struct.isSettingLogin=1" ng-change="struct_ctrl.changeLogin()" ng-checked="struct_ctrl.struct.isSettingLogin" ng-true-value="1" ng-false-value="0" name="isSettingLogin">&nbsp;设置登录名与密码</label>
                            </div>

                            <div ng-show="struct_ctrl.struct.isSettingLogin===1">
                                <div class="form-group-self1">
                                    <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>登陆用户名</label>

                                    <div class="self-input g-pos-r g-w-percent35">
                                        <input type="text" ng-required="struct_ctrl.struct.isSettingLogin===1" ng-model="struct_ctrl.struct.username"  name="username"  placeholder="请输入登陆用户名" />
                                        <span ng-show="structFrom.username.$dirty&&structFrom.username.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">登陆用户名不能为空</span>
                                        <span ng-show="structFrom.username.$dirty&&structFrom.username.$valid" class="self-tips self-tips-yes"></span>
                                    </div>
                                </div>
                                <div class="form-group-self1">
                                    <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>登陆密码</label>

                                    <div class="self-input g-pos-r g-w-percent35">
                                        <input type="password" ng-required="struct_ctrl.struct.isSettingLogin===1" ng-minlength="6" minlength="6" ng-model="struct_ctrl.struct.password"  name="password" placeholder="请输入登陆密码"   />
                                        <span ng-show="structFrom.password.$dirty && structFrom.password.$invalid && !structFrom.password.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">登陆密码不能少于6位</span>
                                        <span ng-show="structFrom.password.$dirty&&structFrom.password.$valid" class="self-tips self-tips-yes"></span>
                                    </div>
                                </div>
                            </div>



                            <div class="admin-layout-theme4"><span class="mini-icon admin-mini-icon4"></span>&nbsp;权限设定</div>

                            <div class="form-group-self1">
                                <label class="self-label" ng-init="struct_ctrl.struct.isDesignatedPermit=1">
                                    <input type="radio" ng-model="struct_ctrl.struct.isDesignatedPermit" ng-value="0" ng-change="struct_ctrl.clearSelectPower()" name="isDesignatedPermit">
                                    &nbsp;全部权限
                                </label>
                                <label class="self-label">
                                    <input type="radio" ng-model="struct_ctrl.struct.isDesignatedPermit" ng-value="1" ng-change="struct_ctrl.clearSelectPower()"  name="isDesignatedPermit">
                                    &nbsp;指定权限
                                </label>
                            </div>

                            <div ng-show="struct_ctrl.struct.isDesignatedPermit===1">
                                <div class="form-group-self1 g-t-r">
                                    <div class="self-input g-pos-r g-w-percent45">
                                        <input type="text" ng-model="struct_ctrl.struct.checkedFunctionIds" ng-required="struct_ctrl.struct.isDesignatedPermit===1"  name="checkedFunctionIds" readonly />
                                        <span ng-show="structFrom.checkedFunctionIds.$dirty&&structFrom.checkedFunctionIds.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">指定权限不能为空</span>
                                        <span ng-show="structFrom.checkedFunctionIds.$dirty&&structFrom.checkedFunctionIds.$valid" class="self-tips self-tips-yes"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group-self1">
                                <button type="submit" ng-show="struct_ctrl.struct.id===''" ng-disabled="!(struct_ctrl.struct.id===''&&structFrom.orgname.$dirty && structFrom.orgname.$valid && structFrom.linkman.$dirty && structFrom.linkman.$valid && structFrom.cellphone.$dirty && structFrom.cellphone.$valid && structFrom.address.$dirty && structFrom.address.$valid && ((struct_ctrl.struct.isSettingLogin===1 && structFrom.username.$dirty && structFrom.username.$valid && structFrom.password.$dirty && structFrom.password.$valid ) || struct_ctrl.struct.isSettingLogin===0) && ((struct_ctrl.struct.isDesignatedPermit===1 && structFrom.checkedFunctionIds.$valid)||struct_ctrl.struct.isDesignatedPermit===0))"  class="btn btn-red g-br3 g-w-percent50">添加</button>
                                <button type="submit" ng-show="struct_ctrl.struct.id!==''" ng-disabled="!(struct_ctrl.struct.id!=='' && structFrom.orgname.$valid && structFrom.linkman.$valid && structFrom.cellphone.$valid && structFrom.address.$valid && ((struct_ctrl.struct.isSettingLogin===1 && structFrom.username.$valid && structFrom.password.$valid ) || struct_ctrl.struct.isSettingLogin===0) && ((struct_ctrl.struct.isDesignatedPermit===1 && structFrom.checkedFunctionIds.$valid)||struct_ctrl.struct.isDesignatedPermit===0))"  class="btn btn-red g-br3 g-w-percent50">编辑</button>
                                <button type="button" class="btn btn-red g-br3 g-w-percent50 g-gap-mt2" id="admin_struct_reset" ng-click="struct_ctrl.structReset(structFrom)">重置</button>
                            </div>
                        </form>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!--新增用户-->
    <div class="modal fade custom-width" id="struct_user_dialog">
        <div class="modal-dialog g-w-percent25">
            <div class="modal-content">
                <div class="modal-body">
                    <!--表单-->
                    <div class="g-w-percent50">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">{{struct_ctrl.user.id===''?'新增用户':'编辑用户'}}
                            <span class="mini-icon admin-mini-icon1" ng-click="struct_ctrl.toggleModal({display:'hide',area:'user'})"></span>
                        </div>

                        <form ng-submit="struct_ctrl.userSubmit()" name="userFrom" role="form" novalidate method="post" class="admin-layout-form">
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>名称</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" name="nickName" placeholder="请输入用户名称" required ng-model="struct_ctrl.user.nickName" />
                                    <span  ng-show="userFrom.nickName.$dirty && userFrom.nickName.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">用户名称不能为空</span>
                                    <span ng-show="userFrom.nickName.$dirty && userFrom.nickName.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>


                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>手机号码</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" name="phone" required  placeholder="请输入手机号码" maxlength="13"  ng-model="struct_ctrl.user.phone" class="ui-mobile-phone"  />
                                    <span ng-show="userFrom.phone.$dirty && userFrom.phone.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">手机号码不能为空</span>
                                    <span ng-show="userFrom.phone.$dirty && userFrom.phone.$invalid && !userFrom.phone.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">手机号码格式不合法</span>
                                    <span ng-show="userFrom.phone.$dirty&&userFrom.phone.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>


                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1"></span>地址</label>
                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" name="address"  placeholder="请输入地址" ng-model="struct_ctrl.user.address" />
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r">费率</label>

                                <div class="self-input g-w-percent40">
                                    <input type="text" name="mainFee" placeholder="请输入费率" ng-model="struct_ctrl.user.mainFee"  />
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>机器码</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" name="machineCode" placeholder="请输入机器码" required  ng-model="struct_ctrl.user.machineCode"  />
                                    <span ng-show="userFrom.machineCode.$dirty && userFrom.machineCode.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">机器码不能为空</span>
                                    <span ng-show="userFrom.machineCode.$dirty && userFrom.machineCode.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-v-t g-t-r">备注</label>

                                <div class="self-input g-w-percent40">
                                    <textarea ng-model="struct_ctrl.user.remark" name="remark" ></textarea>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <button type="submit" ng-show="struct_ctrl.user.id===''" ng-disabled="!(struct_ctrl.user.id==='' && userFrom.nickName.$dirty && userFrom.nickName.$valid && userFrom.machineCode.$dirty && userFrom.machineCode.$valid && userFrom.phone.$dirty && userFrom.phone.$valid)"  class="btn btn-red g-br3 g-w-percent50">新增</button>
                                <button type="submit" ng-show="struct_ctrl.user.id!==''" ng-disabled="!(struct_ctrl.user.id!=='' && userFrom.nickName.$valid && userFrom.machineCode.$valid && userFrom.phone.$valid)"  class="btn btn-red g-br3 g-w-percent50">编辑</button>
                                <button type="button" class="btn btn-red g-br3 g-w-percent50 g-gap-mt2" id="admin_user_reset" ng-click="struct_ctrl.userReset(userFrom)">重置</button>
                            </div>
                        </form>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--查看用户-->
    <div class="modal fade custom-width" id="struct_userdetail_dialog">
        <div class="modal-dialog g-w-percent40">
            <div class="modal-content">
                <div class="modal-body">
                    <!--表单-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">

                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent10">
                            <col class="g-w-percent40">
                        </colgroup>
                        <!--头部-->
                        <thead>
                        <tr>
                            <th class="g-t-c" colspan="2">用户详情</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_userdetail_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>



