/*--适配不同分辨率--*/
///*--屏幕--*/

///min 641px
@media (min-width: 641px){
	body{
		padding:24px 0 0 0;
	}
	.share-show-wrap{
		padding:0 28px;
		>h1{
			font-size:2.4rem;
			line-height:3.4rem;
		}
		.share-show{
			*{
				font-size:1.8rem !important;
				line-height:2.8rem;
			} 
			>p,
			p{
					font-size:1.8rem;
					line-height:2.8rem;
					>a,
					a{
						font-size:1.8rem;
						line-height:2.8rem;
					}
			}
			>a{
					font-size:1.8rem;
					line-height:2.8rem;
			}
		}
	}
	
	
	//相关阅读
	.share-links-wrap{
		padding:0 28px;
		div{
			padding:10px 28px 0 28px;
		}
		h3{
			height:60px;
			font-size:1.8rem;
			line-height:60px;
		}
		a{ 
			font-size:1.8rem;
			line-height:80px;
			height:80px;
			&:before{
				top:39px;
			}
		}
	}
	
	
	//参与详情点赞列表
	.share-good-wrap{
		padding:0 28px;
	}
	
	
	//参与
	.share-topic-wrap{
		>h3{
			height:60px;
			line-height:60px;
			padding:0 28px;
			font-size:2rem;
		}
		dl{
			padding:0 28px;
		}
		dd{
				>a{
					>h4,
					>span{
						font-size:1.8rem;
						line-height:30px;
						height:30px;
					}
					>div{
						font-size:1.8rem;
						line-height:2.8rem;
						>p,
						p{
								font-size:1.8rem;
								line-height:2.8rem;
								>a,
								a{
									font-size:1.8rem;
								}
						}
						>a{
								font-size:1.8rem;
								line-height:2.8rem;
						}
					}
				}
			}
	}
	
	//评论
	.share-comment-wrap{
		>h3{
			height:60px;
			line-height:60px;
			padding:0 28px;
			font-size:2rem;
		}
		dl{
			padding:0 0 0 28px;
			dd{
				padding:20px 0 10px 100px;
				h4,
				p{
					font-size:1.8rem;
					line-height:45px;
					height:45px;
				}
				div{
					width:80px;
					height:80px;
				}
				i{
					right:28px;
				}
				span{
					font-size:1.8rem;
					line-height:2.8rem;
				}
			}
			
		}
	}

}

///max 640px
@media (max-width: 640px){
	body{
		padding:16px 0 0 0;
	}
	
	
	//分享详情
	.share-show-wrap{
		padding:0 24px;
		>h1{
			font-size:2.2rem;
			line-height:3.2rem;
		}
		.share-show{
			*{
				font-size:1.6rem !important;
				line-height:2.6rem;
			} 
			>p,
			p{
					font-size:1.6rem;
					line-height:2.6rem;
					>a,
					a{
						font-size:1.6rem;
					}
			}
			>a{
					font-size:1.6rem;
					line-height:2.6rem;
			}
		}
	}
	
	
	//相关阅读
	.share-links-wrap{
		padding:0 24px;
		div{
			padding:10px 24px 0 24px;
		}
		h3{
			height:40px;
			font-size:1.6rem;
			line-height:40px;
		}
		a{ 
			font-size:1.6rem;
			line-height:60px;
			height:60px;
			&:before{
				top:29px;
			}
		}
	}
	
	
	//参与详情点赞列表
	.share-good-wrap{
		padding:0 24px;
		h1{
			font-size:2.4rem;
		}
	}
	
	
	//参与
	.share-topic-wrap{
		>h3{
			height:60px;
			line-height:60px;
			padding:0 24px;
			font-size:1.8rem;
		}
		dl{
			padding:0 24px;
		}
		dd{
				>a{
					>h4,
					>span{
						font-size:1.6rem;
						line-height:30px;
						height:30px;
					}
					>div{
						font-size:1.6rem;
						line-height:2.6rem;
						>p,
						p{
								font-size:1.6rem;
								line-height:2.6rem;
								>a,
								a{
									font-size:1.6rem;
								}
						}
						>a{
								font-size:1.6rem;
								line-height:2.6rem;
						}
					}
				}
			}
	}
	
	
	//评论
	.share-comment-wrap{
		>h3{
			height:60px;
			line-height:60px;
			padding:0 24px;
			font-size:1.8rem;
		}
		dl{
			padding:0 0 0 24px;
			dd{
				padding:20px 0 10px 70px;
				h4,
				p{
					font-size:1.6rem;
					line-height:30px;
					height:30px;
				}
				div{
					width:60px;
					height:60px;
				}
				i{
					right:24px;
				}
				span{
					font-size:1.6rem;
					line-height:2.6rem;
				}
			}
			
		}
	}

}

///max 480px
@media (max-width: 480px){
	body{
		padding:10px 0 0 0;
	}
	
	//文章详情
	.share-show-wrap{
		padding:0 16px;
	}
	
	//相关阅读
	.share-links-wrap{
		padding:0 16px;
		div{
			padding:10px 16px 0 16px;
		}
		h3{
			height:30px;
			font-size:1.4rem;
			line-height:30px;
		}
		a{ 
			height:40px;
			font-size:1.4rem;
			line-height:40px;
			&:before{
				top:19px;
			}
		}
	}
	
	
	//参与详情点赞列表
	.share-good-wrap{
		padding:0 16px;
		h1{
			font-size:2rem;
		}
	}
	
	//参与
	.share-topic-wrap{
		>h3{
			height:40px;
			line-height:40px;
			padding:0 16px;
			font-size:1.6rem;
		}
		dl{
			padding:0 16px;
		}
		dd{
				>a{
					>h4,
					>span{
						font-size:1.4rem;
						line-height:20px;
						height:20px;
					}
					>div{
						font-size:1.4rem;
						line-height:2.4rem;
						>p,
						p{
								font-size:1.4rem;
								line-height:2.4rem;
								>a,
								a{
									font-size:1.4rem;
								}
						}
						>a{
								font-size:1.4rem;
								line-height:2.4rem;
						}
					}
				}
			}
	}
	
	
	//评论
	.share-comment-wrap{
		>h3{
			height:40px;
			line-height:40px;
			padding:0 16px;
			font-size:1.6rem;
		}
		dl{
			padding:0 0 0 16px;
			dd{
				padding:20px 0 10px 50px;
				h4,
				p{
					font-size:1.4rem;
					line-height:20px;
					height:20px;
				}
				div{
					width:40px;
					height:40px;
				}
				i{
					right:16px;
				}
				span{
					font-size:1.4rem;
					line-height:2.4rem;
				}
			}
			
		}
	}

}

///max 320px
@media (max-width: 320px){
	body{
		padding:8px 0 0 0;
	}

	//文章详情
	.share-show-wrap{
		padding:0 10px;
		>h1{
			font-size:1.8rem;
			line-height:2.8rem;
		}
		>span{
			font-size:1.2rem;
		}
		.share-show{
				*{
					font-size:1.2rem !important;
					line-height:2.2rem;
				} 
				>p,
				p{
						font-size:1.2rem;
						line-height:2.2rem;	
						>a,
						a{
							font-size:1.2rem;
						}
					}
				>a{
						font-size:1.2rem;
						line-height:2.2rem;
				}
		}
	}

	//相关阅读
	.share-links-wrap{
		padding:0 10px;
		div{
			padding:10px 10px 0 10px;
		}
		h3{
			height:20px;
			font-size:1.2rem;
			line-height:20px;
		}
		a{ 
			font-size:1.2rem;
		}
	}
	
	
	//参与详情点赞列表
	.share-good-wrap{
		padding:0 10px;
		h1{
			font-size:1.8rem;
		}
	}
	
	
	//参与
	.share-topic-wrap{
		>h3{
			padding:0 10px;
			font-size:1.6rem;
		}
		dl{
			padding:0 10px;
		}
		dd{
				>a{
					>h4,
					>span{
						font-size:1.2rem;
						line-height:20px;
						height:20px;
					}
					>div{
						font-size:1.2rem;
						line-height:2.2rem;
						>p,
						p{
								font-size:1.2rem;
								line-height:2.2rem;
								>a,
								a{
									font-size:1.2rem;
								}
						}
						>a{
								font-size:1.2rem;
								line-height:2.2rem;
						}
					}
				}
			}
	}
	
	//评论
	.share-comment-wrap{
		>h3{
			padding:0 10px;
			font-size:1.6rem;
		}
		dl{
			padding:0 0 0 10px;
			dd{
				padding:20px 0 10px 40px;
				h4,
				p{
					font-size:1.2rem;
					line-height:20px;
					height:20px;
				}
				div{
					width:30px;
					height:30px;
				}
				i{
					right:16px;
				}
				span{
					font-size:1.2rem;
					line-height:2.2rem;
				}
			}	
		}
	}
	
}



