@charset "utf-8";
/* CSS Document */
.calendar_content{
width:100px;
clear:both;
position:relative;
top:2px;
left:140px;
margin:0;
padding:0;
}
.calendar_content table{
font-size:11px;
border:1px solid #F30;
background:#0CF;
border-collapse:collapse;
}
.calendar_content table caption{
background:#9F6;
border:1px solid #F30;
border-bottom:none;
}
.calendar_content table thead{
background:#399;
}
.calendar_content table tbody td{
border:1px solid #000;
padding:2px;
cursor:pointer;
text-align:center;
}
.calendar_content table tbody td[id="first"]{
border-left:none;
background:#F93;
}
.calendar_content table tbody td[id="last"]{
border-right:none;
background:#F93;
}
.calendar_content table tbody td:hover{
background:#09C;
color:#F00;
}
.calendar_content table tfoot{
background:#FF6;
text-align:center;
}

