@charset "utf-8";
/* CSS Document */
body{
background:#CCC;
margin:0;
padding:0;
}
/*显示区内容居中*/
.container{
background:#FFF;
position:relative;
height:auto;
width:1003px;
left:50%;
margin-left:-501px;
padding:0;
}
/*头部样式*/
.header{
background:url(../images/banner.png) no-repeat;
height:174px;
width:1003px;
}
/*搜索部分样式*/
.searchs{
width:200px;
height:24px;
position:absolute;
top:142px;
left:800px;
}
.slabel{
position:relative;
top:2px;
font-size:18px;
padding-right:4px;
color:#09F;
}
#search{
border:solid 1px #0CF;
width:110px;
color:#999999;
font-size:12px;
}
#dosearch{
position:relative;
top:-18px;
left:178px;
width:17px;
height:17px;
display:block;
background:url(../images/search-btn.png) no-repeat;
}
#dosearch:hover{
cursor:pointer;
background:url(../images/search-btn-h.png) no-repeat;
}

/*个性宣言*/
#myselfbanner{
position:absolute;
top:80px;
left:80px;
height:12px;
min-width:100px;
}
#myselfbanner a{
text-decoration:none;
color:#000;
}
/*控制面板*/
#changes{
display:none;
position:relative;
left:35%;
top:60%;
height:100px;
width:300px;
background:#CCC;
z-index:100;
border:1px solid #0CF;
}
#changesclose{
position:relative;
left:284px;
height:17px;
cursor:pointer;
width:17px;
background:url(../images/change-close.png) no-repeat;
display:block;
z-index:100;
}
#changefont,#changecolor,#changexy{
float:left;
background:url(../images/change-btn.png);
text-align:center;
line-height:2.6em;
font-size:14px;
display:block;
width:85px;
height:35px;
cursor:pointer;
margin:20px 0 0 10px;;
}
#changefont:hover,#changecolor:hover,#changexy:hover{
color:#09F;
}


/*内容显示区域样式*/
.content{
height:594px;
width:1003px;
}
/*页面布局*/
/*左侧边栏*/
.leftsidebox{
float:left;
height:594px;
width:260px;
background:url(../images/left-side.png) no-repeat right center;
padding-right:80px;
}
/*中部内容显示区*/
.mainbox{
float:left;
height:594px;
width:400px;
background:url(../images/right-side.png) no-repeat right center;
margin-left:-40px;
padding-right:80px;
}
/*右侧边栏*/
.rightsidebox{
float:left;
height:594px;
width:280px;
margin-left:-80px;
}

/*内容细节样式*/
.cssimage{
position:relative;
top:16px;
left:30px;
}
/*公共属性*/
#jsnull,#dbnull,#designnull{
margin-left:231px;
width:1px;
height:23px;
background:#FFF;
}
#javanull,#cssnull{
margin-left:360px;
width:1px;
height:23px;
background:#FFF;
}
.jsbox ul,.dbbox ul,.javabox ul,.cssbox ul,.designbox ul{
margin:0;
padding:0;
list-style:none;
}
.jsbox ul li,.dbbox ul li,.designbox ul li,.javabox ul li,.cssbox ul li{
height:16px;
width:230px;
overflow:hidden;
margin:4px 0;
}
.javabox ul li,.cssbox ul li{width:360px;}
.jsbox ul li img,.dbbox ul li img,.javabox ul li img,.cssbox ul li img,.designbox ul li img{
float:left;
padding:6px 4px 0 4px;
}
.jsbox ul li a,.dbbox ul li a,.javabox ul li a,.cssbox ul li a,.designbox ul li a{
float:left;
font-size:14px;
height:14px;
width:150px;
display:block;
line-height:16px;
}
.javabox ul li a,.cssbox ul li a{width:280px;}
.jsbox ul li a:hover,.dbbox ul li a:hover,.javabox ul li a:hover,.cssbox ul li a:hover,.designbox ul li a:hover{
cursor:pointer;
cursor:hand;
color:#06F;
}
.jsbox ul li span,.dbbox ul li span,.javabox ul li span,.cssbox ul li span,.designbox ul li span{
font-size:12px;
color:#999;
}
#jsmore,#dbmore,#designmore,#javamore,#cssmore{
position:relative;
bottom:4px;
left:190px;
width:36px;
height:15px;
margin:8px 0 0 0;
background:url(../images/more-btn.png) no-repeat;
}
#javamore,#cssmore{left:320px;}
#jsmore a,#dbmore a,#designmore a,#javamore a,#cssmore a{
font-size:11px;
text-decoration:none;
color:#FFF;
padding-left:2px;
}
#jsmore a:hover,#dbmore a:hover,#designmore a:hover,#javamore a:hover,#cssmore a:hover{color:#F0F;}
.jsbox h5,.dbbox h5,.javabox h5,.cssbox h5,.designbox h5{
display:inline;
position:relative;
top:-22px;
left:20px;
color:#FFF;
font-size:16px;
}
/*第一框实现(javascript)*/
.jsbox{
width:231px;
position:relative;
top:32px;
left:30px;
background:url(../images/work-js.png) no-repeat;
border-left:1px solid #81d3fd;
border-bottom:1px solid #81d3fd;
border-right:1px solid #81d3fd;
}
/*第二框实现(db)*/
.dbbox{
width:231px;
position:relative;
top:60px;
left:30px;
background:url(../images/work-db.png) no-repeat;
border-left:1px solid #fd7fea;
border-bottom:1px solid #fd7fea;
border-right:1px solid #fd7fea;
}
/*第三框实现(java)*/
.javabox{
width:360px;
position:relative;
top:20px;
left:20px;
background:url(../images/work-java.png) no-repeat;
border-left:1px solid #fd4142;
border-bottom:1px solid #fd4142;
border-right:1px solid #fd4142;
}
/*第四框实现(css)*/
.cssbox{
width:360px;
position:relative;
top:60px;
left:20px;
background:url(../images/work-css.png) no-repeat;
border-left:1px solid #fea63e;
border-bottom:1px solid #fea63e;
border-right:1px solid #fea63e;
}
/*第五框实现(design)*/
.designbox{
width:231px;
position:relative;
top:30px;
left:40px;
background:url(../images/work-design.png) no-repeat;
border-left:1px solid #70fe3e;
border-bottom:1px solid #70fe3e;
border-right:1px solid #70fe3e;
}
.designimages{
position:relative;
top:40px;
left:40px;
}
#infos{
position:relative;
top:10px;
left:30px;
border:1px dashed #81d3fd;
width:140px;
height:124px;
}
#infos h6{
display:inline;
}
#infos p{
font-size:10px;
}
#infos span{
font-size:10px;
color:#F00;
}
#show{
position:absolute;
font-size:10px;
color:#F00;


}
















