@import 'base_variable.less';
/*以上部分需删除，为公共部分*/
/*--适配不同分辨率--*/
///*--屏幕--*/
@media screen{}
///*--大屏--*/
@media screen and (min-width:1025px){
	
}
///*--720-1024--*/
@media screen and (min-width:721px) and (max-width:1024px){
	
}
///*--640-720--*/
@media screen and (min-width:641px) and (max-width:720px){
	
	
	
}
///*--540-640--*/
@media screen and (min-width:541px) and (max-width:640px){
	/*搜索*/
	.search-text{
		.border-radius-base(19px);
		height:38px;
		padding:9px 38px 9px 19px;
	}
	.search-btn{
		height:36px;
		line-height:36px;
		width:38px;
		font-size:23px;
	}

}
///*--480-540--*/
@media screen and (min-width:481px) and (max-width:540px){
	/*搜索*/
	.search-text{
		.border-radius-base(18px);
		height:36px;
		padding:8px 36px 8px 18px;
	}
	.search-btn{
		height:34px;
		line-height:34px;
		width:36px;
		font-size:21px;
	}
}
///*--320-480--*/
@media screen and (min-width:321px) and (max-width:480px){
	/*搜索*/
	.search-text{
		.border-radius-base(17px);
		height:34px;
		padding:7px 34px 7px 17px;
	}
	.search-btn{
		height:32px;
		line-height:32px;
		width:34px;
		font-size:21px;
	}
}
///*--280-320--*/
@media screen and (min-width:281px) and (max-width:320px){
	/*搜索*/
	.search-text{
		.border-radius-base(16px);
		height:32px;
		padding:6px 32px 6px 16px;
	}
	.search-btn{
		height:30px;
		width:32px;
		line-height:30px;
		font-size:19px;
	}
}
///*--微屏--*/
@media screen and (max-width:280px){
	/*搜索*/
	.search-text{
		.border-radius-base(15px);
		height:30px;
		font-size:12px;
		padding:5px 30px 5px 15px;
	}
	.search-btn{
		height:28px;
		width:30px;
		line-height:28px;
		font-size:19px;
		text-indent:3px;
	}
}