@import 'base_variable.less';
/*常用组件或模块*/
.store-showwrap,.common1-wrap{
	.layout-float-base;
	padding:0 10px;
}
/*--主页显示模块--*/
.store-showwrap{
	h2{
		.layout-float-base;
		height:36px;
		line-height:36px;
		text-align:center;
		font-size:16px;
		font-weight:normal;
		border-bottom:1px solid #ddd;
		background:@color-gray10;
		margin:5px 0 0 0;
	}
	ul{
		.layout-float-base;
		background:@color-white;
		margin:0 0 5px 0;
	}
	li{
			width:33.33%;
			float:left;
			.box-sizing-base(border-box);
			padding:4px 2px 0 2px;
			a{
				width:100%;
				height:100%;
				display:inline-block;			
			}
			img{
				.layout-base;
				height:auto;
				display:inline-block;
				margin:0 auto;
				vertical-align:top;
				border:1px solid @color-gray7;
			}
			span{
				.layout-base;
				display:inline-block;
				vertical-align:bottom;
				padding:2px 2px 5px 2px;
				text-align:center;
				line-height:18px;
				.text-of;
				font-size:@font-size-base;
				color:@color-gray3;
				border-left:1px solid @color-gray7;
				border-right:1px solid @color-gray7;
				border-bottom:1px solid @color-gray7;
			}
		}
}
/*--店铺信息--*/
.common1-wrap{
	min-height:200px;
	background:@color-white;
}
.common1-wrap{
		li{
			.layout-float-base;
			.border-radius-base(5px);
			margin:5px 0;
			padding:5px 10px;
			.text-ww;
			border:1px solid @color-gray7;
			&:nth-child(2n){
				background:@color-gray10;
			}
			.scoreinfo{
				font-size:@font-size-base;
				line-height:20px;
				color:@color-gray3;
				padding:2px 0;
				span{
					padding:0 0 0 5px;
					font-size:@font-size-small;
					color:@color-gray6;
				}
				strong{
					font-weight:normal;padding:0 0 0 5px;
				}
				em{
					font-style:normal;
					color:@color-red;
					padding:0 0 0 5px;
				}
			}
		}
}
.scorewrap{
	.layout-base;
	.border-radius-base(3px);
	.layout-relative-base(0,0,10);
	height:36px;
	.text-of;
	margin:10px 0;
	padding:10px 10px;
	line-height:16px;
	color:@color-gray3;
	font-size:@font-size-base;
	text-align:left;
	border:1px solid @color-gray7;
	background:@color-white;
	div{
		width:70px;
		height:16px;
		.layout-absolutel-base(10px,10px,10);
	}
	p{
		width:70%;
		padding:0 0 0 70px;
		background:@color-gray10;
		.box-sizing-base(border-box);
		background-clip:content-box;
		span{
			width:auto;
			float:left;
			background:@color-red;
		}		
	}
	em{
		color:@color-red;
		padding:0 0 0 5px;
		font-style:normal;
		font-size:@font-size-small;
	}
}
.scorewrap p,.scorewrap p span{
	height:10px;
	display:inline-block;
	.border-radius-base(5px);
	overflow:hidden;
}
.scorecompare{
	display:inline-block;
	vertical-align:middle;
	height:16px;
	text-align:left;
	line-height:16px;
	.text-of;
	color:@color-red;
	width:100px;
	font-size:@font-size-base;
	div{
		background:@color-red;
		color:@color-white;
		text-align:center;
		width:55px;
		height:16px;
		display:inline-block;
		margin:0 0 0 5px;
	}
}