/*--适配不同分辨率--*/


///max 768px
@media (max-width: 768px){

	.editor-show-wrap{
		padding:0 48px 50px 48px;
	}
	
	
	
	

}

///max 640px
@media (max-width: 640px){
	//顶部操作区
	.editor-action-wrap{
		height:50px;
		>div{
			width:40px;
			height:50px;
			&:before{
				line-height:50px;
			}
		}
		>div:first-child{
			&:before{
				font-size:@font-size-base + 14;
			}
		}
		>div:last-child{
			&:before{
				font-size:@font-size-base + 10;
			}
		}
	}
	
	.editor-show-wrap{
		padding:0 32px 50px 32px;
	}
}

///max 480px
@media (max-width: 480px){
	//顶部操作区
	.editor-action-wrap{
		height:40px;
		>div{
			width:30px;
			height:40px;
			&:before{
				line-height:40px;
			}
		}
		>div:first-child{
			&:before{
				font-size:@font-size-base + 10;
			}
		}
		>div:last-child{
			&:before{
				font-size:@font-size-base + 6;
			}
		}
	}
	
	.editor-show-wrap{
		padding:0 24px 50px 24px;
	}
	
	.editor-label-wrap{
		>ul{
			li{
				padding:0 20px;
				margin:15px 0 0 15px;
				height:42px;
				line-height:40px;
				font-size:@font-size-base + 4;
				.border-radius-base(25px);
			}
		}
	}
	
	
}

///max 320px
@media (max-width: 320px){
	//文章详情
	
	.editor-show-wrap{
		padding:0 16px 50px 16px;
	}
	
	.editor-label-wrap{
		>ul{
			li{
				padding:0 10px;
				margin:10px 0 0 10px;
				height:32px;
				line-height:30px;
				font-size:@font-size-base;
				.border-radius-base(15px);
			}
		}
	}
	
	
}


///max 280px
@media (max-width: 280px){
	//文章详情
	
	
}