///文章编辑器
///作者：易品

//编辑器全局
html{
	height:100%;
	font-size:@font-size-base - 4;
}

body{
	background:@color-gray15;
	height:100%;
}
.body-wrap-ios{
	.layout-relative-base;
}


//链接选择框
.linkinput{
		height:30px;
		width:200px;
		margin:0 0 10px 0;
		input{
			.layout-base;
			height:100%;
			padding:5px;
			border:1px solid @color-gray9;
			&:focus{
				border:1px solid @color-yellow1;
			}
		}
}


//顶部操作区
.editor-action-wrap{
	.layout-base;
	height:60px;
	background:@color-yellow1;
	.user-select-base;
	>div{
		width:40px;
		height:60px;
		cursor:pointer;
		&:before{
			width:100%;
			height:100%;
			display:block;
			text-align:center;
			line-height:60px;
			color:@color-base;
		}
	}
	>div:first-child{
		float:left;
		&:before{
			content:'\e6ec';
			font-family:'ux_two';
			font-size:@font-size-base + 18;
		}
	}
	>div:last-child{
		float:right;
		&:before{
			content:'\e624';
			font-family:'ux_five';
			font-size:@font-size-base + 14;
		}
	}
}


//编辑器工具区
.editor-tools-wrap{
	.layout-fixedlb-base(0,0,1);
	.layout-base;
	height:50px;
	.user-select-base;
	background:@color-white;
	>div{
		.layout-relative-base;
		.layout-base;
		height:100%;
		overflow:hidden;
		>ul{
			@itemwidth:54px;
			.layout-absolutel-base;
			width:100%;
			height:100%;
			min-width:(@itemwidth * 6) + 184;
			white-space:nowrap;
			>li{
				.layout-float-base(50px);
				height:100%;
				margin:0 2px;
				cursor:pointer;
				color:@color-gray6;
				text-align:center;
				&:before{
					width:100%;
					height:100%;
					line-height:50px;
					vertical-align:middle;
				}
			}
			.tool-active{
				color:@color-white;
				background:lighten(@color-yellow1,20%);
			}
		}
	}
	>ul{
		.layout-absoluterb-base(0,50px);
		.user-select-base;
		width:90px;
		display:none;
		li{
			height:30px;
			width:100%;
			line-height:30px;
			text-align:center;
			font-size:@font-size-base;
			cursor:pointer;
			color:@color-gray6;
			background:@color-white;
		}
		.visible-active{
			background:@color-yellow1;
		}
	}
	//切换按钮
	>p{
		.box-sizing-base;
		display:none;
		position:absolute;
		top:10px;
		z-index:50;
		height:30px;
		width:20px;
		background:@color-gray15;
		font-size:@font-size-base;
		line-height:28px;
		text-align:center;
		color:@color-yellow1;
		cursor:pointer;
		.border-radius-base(3px);
		&:before{
			display:block;
			width:100%;
			height:100%;
			font-family:'ux_four';
		}
	}
	.tools-prevbtn{
		left:0;
		&:before{
			content:'\e6f1';
		}
	}
	.tools-nextbtn{
		right:0;
		&:before{
			content:'\e6f2';
		}
	}
	//工具条
	.tool-prev{
		&:before{
				content:'\e727';
				font-family:'ux_one';
				font-size:@font-size-base + 4;
				font-weight:100;
		}
	}
	.tool-next{
		&:before{
				content:'\e728';
				font-family:'ux_one';
				font-size:@font-size-base + 4;
		}
	}
	.tool-font{
		&:before{
			content:'A';
			line-height:54px;
			font-size:@font-size-base + 4;
		}
	}
	.tool-line{
		&:before{
			content:'\e686';
			font-family:'ux_six';
			font-size:@font-size-base + 6;
		}
	}
	.tool-link{
		&:before{
			content:'\e627';
			font-family:'ux_eight';
			font-size:@font-size-base + 4;
		}
		
	}
	.tool-image{
		.layout-relative-base;
		input{
			.layout-absolutel-base;
			display:block;
			width:100%;
			height:100%;
			background:none;
			.opacity-base(0);
			cursor:pointer;
		}
		&:before{
			content:'\e639';
			font-family:'ux_eight';
			font-size:@font-size-base + 4;
		}
		
	}
	.tool-label{
		width:80px;
		&:before{
			content:'\e64a';
			font-family:'ux_eight';
			font-size:@font-size-base + 4;
			color:@color-blue1;
		}
		&:after{
			content:'加标签';
			padding:0 0 0 3px;
			font-size:@font-size-base;
			color:@color-blue1;
		}
	}
	.tool-visible{
		.layout-relative-base;
		width:90px;
		height:auto;
		text-align:left;
		text-indent:5px;
		line-height:50px;
		vertical-align:middle;
		font-size:@font-size-base;
		color:@color-blue1;
		&:before{
			color:@color-blue1;
			margin:0 2px 0 0;
		}
	}
	.tool-visible-all{
		&:before{
			content:'\e665';
			font-family:'ux_seven';
			font-size:@font-size-base + 6;
		}
	}
	.tool-visible-self{
		&:before{
			content:'\e651';
			font-family:'ux_six';
			font-size:@font-size-base + 4;
		}
	}
	.tool-visible-about{
		&:before{
			content:'\e715';
			font-family:'ux_four';
			font-size:@font-size-base + 6;
		}
	}
	.tool-disabled{
		cursor:default !important;
		color:@color-gray12 !important;
	}
}


.tools-wrap-ios{
	position:fixed;
}

.tools-wrap-iosactive{
	position:absolute !important;
	bottom:auto !important;
}




//文字格式化区
.editor-format-wrap{
  	display:none;
		.layout-fixedl-base(0,25%);
		.layout-base;
		height:80px;
		.user-select-base;
		>div{
				.layout-relative-base(10%,20px);
				.layout-base(80%);
				height:40px;
				overflow:hidden;
				ul{
					.layout-absolutel-base;
					height:100%;
					min-width:1000px;
					width:100%;
					text-align:center;
					font-size:0;
					.user-select-base;
					li{
							.layout-relative-base;
							.layout-base(50px);
							display:inline-block;
							white-space:nowrap;
							height:40px;
							vertical-align:middle;
							line-height:40px;
							background:@color-gray4;
							color:@color-white;
							border-left:1px solid @color-white;
							cursor:pointer;
							&:first-child{
								border-left:none;
								.border-radius-base(3px 0 0 3px);
							}
							&:last-child{
								.border-radius-base(0 3px 3px 0);
							}
							&:before{
								width:50px;
								height:40px;
								display:block;
								line-height:40px;
								text-align:center;
								color:@color-white;
							}
					}
				}
		}
		
		//切换按钮 android
		>p{
			display:none;
			position:absolute;
			top:20px;
			z-index:50;
			height:30px;
			width:20px;
			background:@color-base;
			font-size:@font-size-base;
			line-height:30px;
			text-align:center;
			color:@color-white;
			cursor:pointer;
			.border-radius-base(3px);
			&:before{
				display:block;
				width:100%;
				height:100%;
				font-family:'ux_six';
			}
		}
		.format-prevbtn{
			left:10px;
			&:before{
				content:'\e62c';
			}
		}
		.format-nextbtn{
			right:10px;
			&:before{
				content:'\e640';
			}
		}
		
		//加粗
		.format-bold{
				&:before{
					content:'B';
					font-size:@font-size-base;
					font-weight:bold;
				}
		}
		
		//斜体
		.format-italic{
				&:before{
					content:'I';
					font-weight:bold;
					font-style:italic;
					font-size:@font-size-base + 2;
				}
		}
		
		//上边框
		.format-border-top{
				&:before{
					content:'\e650';
					font-weight:bold;
					font-family:'ux_eight';
					font-size:@font-size-base + 2;
				}
		}
		
		//下边框
		.format-border-bottom{
				&:before{
					content:'\e610';
					font-weight:bold;
					font-family:'ux_eight';
					font-size:@font-size-base + 2;
				}
		}
		
		//删除线
		.format-delete{
				&:before{
					content:'abc';
					text-decoration:line-through;
					font-size:@font-size-base - 2;
				}
		}
		
		//下划线
		.format-underline{
				&:before{
					content:'U';
					font-weight:bold;
					text-decoration:underline;
					font-size:@font-size-base;
				}
		}
		
		//首字下沉
		.format-first-letter{
			&:before{
				content:'\e62d';
				font-family:'ux_eight';
				font-weight:bold;
				font-size:@font-size-base + 12;
			}
			&:after{
				.layout-absolutel-base;
				background:@color-gray4;
				color:@color-white;
				display:block;
				overflow:hidden;
				text-align:right;
				line-height:36px;
				content:'A';
				font-size:@font-size-base - 2;
				width:24px;
				padding:0 2px 0 0;
				height:24px;
			}
		}
		
		//缩进
		.format-indent{
			&:before{
				content:'\e62d';
				font-family:'ux_eight';
				font-weight:bold;
				font-size:@font-size-base + 12;
			}
			&:after{
				.layout-absolutel-base;
				background:@color-gray4;
				color:@color-white;
				display:block;
				overflow:hidden;
				text-align:right;
				line-height:34px;
				content:'\e64e';
				font-family:'ux_eight';
				font-size:@font-size-base;
				width:26px;
				height:24px;
			}
		}
		
		//格式化
		.format-layout{
				&:before{
					content:'\e644';
					font-family:'ux_two';
					font-size:@font-size-base;
				}
		}
		
		//默认列表
		.format-dot-list{
				&:before{
					content:'\e62f';
					font-family:'ux_seven';
					font-weight:bold;
					font-size:@font-size-base + 2;
				}
		}
		
		//单词大写
		.format-capitalize{
				&:before{
					content:'Aa';
					font-size:@font-size-base;
				}
		}
		
		//字母大写
		.format-uppercase{
				&:before{
					content:'AA';
					font-size:@font-size-base;
				}
		}
		
		//字母小写
		.format-lowercase{
				&:before{
					content:'aa';
					font-size:@font-size-base;
				}
		}
		
		
		
		
		//左对齐
		.format-align-left{
			&:before{
				content:'\e63f';
				font-family:'ux_two';
				font-size:@font-size-base;
			}
		}
		
		//居中对齐
		.format-align-center{
			&:before{
				content:'\e640';
				font-family:'ux_two';
				font-size:@font-size-base;
			}
		}
		
		//右对齐
		.format-align-right{
			&:before{
				content:'\e641';
				font-family:'ux_two';
				font-size:@font-size-base;
			}
		}
		
		//h1号字
		.format-h1{
				&:before{
					content:'h1';
					font-size:@font-size-base;
				}
		}
		
		//h2号字
		.format-h2{
				&:before{
					content:'h2';
					font-size:@font-size-base;
				}
		}
		
		//h3号字
		.format-h3{
				&:before{
					content:'h3';
					font-size:@font-size-base;
				}
		}
		
		//h4号字
		.format-h4{
				&:before{
					content:'h4';
					font-size:@font-size-base;
				}
		}
		
		//h5号字
		.format-h5{
				&:before{
					content:'h5';
					font-size:@font-size-base;
				}
		}
		
		//h6号字
		.format-h6{
				&:before{
					content:'h6';
					font-size:@font-size-base;
				}
		}
		
		//激活高亮
		.format-active{
				background:@color-base !important;
				&:after{
					color:@color-yellow1 !important;
					background:@color-base !important;
				}
				&:before{
					color:@color-yellow1 !important;
				}
		}
}

.editor-format-wrapshow{
	display:block !important;
}

//编辑器区域
.editor-show-wrap{
		.layout-base;
		.calc-base(height,"100% - 60px");
		min-height:80px;
		padding:0 33px 50px 33px;
		.editor-title{
			.layout-relative-base(0,0,0);
			.layout-base;
			height:48px;
			padding:14px 0;
			border-bottom:.5pt solid @color-gray12;
			white-space:nowrap;
			overflow-x:auto;
			overflow-y:hidden;
			font-size:@font-size-base + 6;
			color:@color-gray3;
			vertical-align:middle;
			&:empty{
				background:transparent url(../images/editor_title.png) no-repeat 5px 18px;
				background-size:79px 16px;
			}
		}
		.editor-content{
			.layout-relative-base(0,0,0);
			.layout-base;
			min-height:100px;
			overflow-y:scroll;
			padding:10px 0 50px 0;
			.text-ww;
			text-align:left;
			font-size:1.4rem;
			line-height:2.4rem;
			color:@color-gray3;
			&:empty{
				background:transparent url(../images/editor_content.png) no-repeat 5px 17px;
				background-size:70px 14px;
			}
			*{
				font-size:1.4rem;
				line-height:2.4rem;
				text-align:left;
				.text-ww;
				max-width:100%;
				text-indent:0;
			}
			>table,
			>div,
			>section,
			>p,
			>ul,
			>dl,
			>dd,
			>dt,
			>li,
			>form,
			>h1,
			>h2,
			>h3,
			>h4,
			>h5,
			>h6{
				width:100% !important;
				.box-sizing-base !important;
				margin-left:0 !important;
				margin-right:0 !important;
			}
			img{
				max-width:90% !important;
				margin:10px 0;
				text-indent:0 !important;
			}
			a{
				.box-sizing-base;
				display:inline-block;
				text-decoration:underline;
				text-align:left;
				color:darken(@color-yellow1,5%) !important;
				cursor:pointer;
			}
			>p,
			p{
				font-size:1.4rem;
				line-height:2.4rem;
				min-height:3rem;
				.text-ww;
				text-align:left;
				padding:5px 0;
				color:@color-gray3;
				>a,
				a{
					font-size:1.4rem;
					padding:0 10px;
					width:auto;
				}
				img{
					max-width:90% !important;
					margin:10px 0;
				}
			}
			>a{
					width:100%;
					font-size:1.4rem;
					line-height:2.4rem;
					padding:5px 0;
					img{
						max-width:100%;
						margin:10px 0;
					}
			}
			
			//文字格式化
			.af-bold{
				font-weight:bold !important;
			}
			.af-italic{
				font-style:italic !important;
			}
			.af-border-top{
				padding-top:20px !important;
				border-top:1px solid @color-border !important;
			}
			.af-border-bottom{
				padding-bottom:20px !important;
				border-bottom:1px solid @color-border !important;
			}
			.af-delete{
				text-decoration:line-through !important;
			}
			.af-underline{
				text-decoration:underline !important;
			}
			.af-first-letter{
				&:first-letter{
					font-size:2em !important;
					padding-right:5px !important;
				}			
			}
			.af-indent{
				text-indent:2em !important;
			}
			.af-layout{
				padding:10px 20px !important;
				border-left:3px solid @color-gray9 !important;
				background:@color-gray13 !important;
			}
			.af-dot-list{
				.layout-relative-base !important;
				padding-left:20px !important;
				&:before{
					.layout-absolutel-base !important;
					overflow:hidden;
					font-size:2.4rem;
					content:'.';
					width:20px;
					min-height:20px;
					max-height:50px;
					vertical-align:middle;
					text-align:center;
					display:inline-block;
				}
			}
			.af-align-left{
				text-align:left !important;
			}
			.af-align-center{
				text-align:center !important;
			}
			.af-align-right{
				text-align:right !important;
			}
			.af-text-capitalize{
				text-transform:capitalize !important;
			}
			.af-text-uppercase{
				text-transform:uppercase !important;
			}
			.af-text-lowercase{
				text-transform:lowercase !important;
			}
			.af-h1{
				font-size:2.6rem !important;
				line-height:3.6rem;
			}
			.af-h2{
				font-size:2.4rem !important;
				line-height:3.4rem;
			}
			.af-h3{
				font-size:2.2rem !important;
				line-height:3.2rem;
			}
			.af-h4{
				font-size:2rem !important;
				line-height:3rem;
			}
			.af-h5{
				font-size:1.8rem !important;
				line-height:2.8rem;
			}
			.af-h6{
				font-size:1.6rem !important;
				line-height:1.6rem;
			}
			
			
			//图片状态
			.af-imgwrap{
				.layout-relative-base;
				cursor:pointer;
				width:90% !important;
				.user-select-base;
				span{
					.layout-absoluter-base(20px,5px);
					.box-sizing-base;
					display:none;
					width:0;
					height:0;
					.border-radius-base(50%);
					background:@color-base;
					border:1px solid @color-white;
					&:after{
						display:block;
						width:100%;
						height:100%;
						color:@color-white;
						content:'\e602';
						font-family:'ux_six';
						.border-radius-base(50%);
						.box-shadow-base(1px 1px 2px @color-gray6);
						line-height:2.8rem;
						text-align:center;
						font-size:1.8rem;
					}
				}
			}
			.af-imgstate-delete{
				span{
					display:block;
					width:2.8rem;
					height:2.8rem;
				}
			}
		}
}

.editor-show-wrap{
	.editor-title-android{
		border-bottom:1px solid @color-gray12;
	}
	.editor-content-ios{
		.calc-base(height,"100% - 60px");
	}
	.editor-content-android{
		height:100%;
	}
}



//标签
.editor-label-wrap{
	.layout-fixedl-base(-100%);
	background:@color-gray15;
	.layout-base;
	padding:10px 30px 60px 10px;
	>ul{
		.layout-relative-base;
		.layout-base;
		.user-select-base;
		height:99%;
		overflow-y:scroll;
		li{
			.box-sizing-base;
			float:left;
			background:@color-white;
			padding:0 20px;
			margin:20px 0 0 20px;
			height:56px;
			line-height:52px;
			text-align:center;
			font-size:@font-size-base + 10;
			color:@color-gray6;
			.border-radius-base(30px);
			border:1px solid @color-gray9;
			cursor:pointer;
			white-space:nowrap;
			.user-select-base;
			overflow:hidden;
		}
		.editor-tag-active{
			border:1px solid @color-yellow1;
			background:@color-yellow1;
			color:@color-gray3;
		}
	}
	>div{
		.layout-relative-base;
		height:0;
		width:100px;
		margin:0 auto;
		div{
			.layout-absolutel-base(0,10px);
			height:40px;
			width:100px;
			line-height:40px;
			cursor:pointer;
			font-size:@font-size-base;
			color:@color-gray6;
			.border-radius-base(20px);
			background:@color-gray14;
			text-align:center;
			&:hover{
				background:@color-yellow1;
			}
		}
	}
	&:after{
		.layout-absoluter-base(0,40%);
		width:30px;
		height:80px;
		display:block;
		.user-select-base;
		cursor:pointer;
		color:@color-gray6;
		.border-radius-base(5px 0 0 5px);
		background:@color-gray14;
		text-align:center;
		line-height:80px;
		content:'\e6f1';
		font-family:'ux_four';
		font-size:2.4rem;
	}
}
.editor-label-wrapshow{
	left:0 !important;
}

.editor-label-ios{
	height:100%;
}
.editor-label-android{
	height:100%;
}


