@charset "utf-8";
/* CSS Document */
*{
margin:0;
padding:0;
}
.wrapper{
width:400px;
height:300px;
background:#66CCFF;
border:1px solid #666666;
position:relative;
top:100px;
left:35%;
}
.content{
width:380px;
height:250px;
margin:10px auto 0;
overflow:hidden;
background:#009999;
border:4px solid #CCCCCC;
}
.box{
float:left;
height:250px;
width:380px;
overflow:hidden;
}
.box img{
border:none;
}
.pager{
text-align:right;
margin:6px 10px 0 0;
}
.pager a{
text-decoration:none;
color:#000000;
font-weight:bold;
background:#FFFFFF;
padding:0 5px;
border:1px solid #FF9900;
}
.pager a:hover{
background:#99FF66;
}















