/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff url(../../images/body_bg.png) repeat center center;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:none;}
body *:focus{outline:none;}
/*header*/
.header{width:100%;height:100px;background:#eee;border-bottom:1px solid #999;}
.banner{width:1000px;height:100px;margin:0 auto;background:transparent url(../../images/logo_bg.png) no-repeat 100px 10px;}
.banner h1,.banner h2{width:1000px;height:auto;color:#021373;}
.banner h1{font-size:40px;text-indent:200px;padding:10px 0 5px 0;font-family:"黑体",serif;}
.banner h2{font-size:20px;text-indent:400px;font-family:"楷体_GB2312",serif;}
/*container*/
.container{width:1002px;height:auto;margin:0 auto;}
.indexcontent{width:960px;height:550px;margin:0 auto;background:url(../../images/namingbill/nb_indexbg.png) no-repeat center center;position:relative;left:0;top:0;}
.content{width:960px;height:auto;margin:0 auto;}
.sidebox{width:200px;height:auto;float:left;padding-bottom:50px;}
.mainbox{width:750px;height:auto;float:left;padding-bottom:50px;}
.container:after{clear:both;visibility:hidden;height:0;line-height:0;content:"";}
/*detail*/
/*nbindex*/
.nav_operhandle{padding:3px 10px;position:absolute;right:180px;top:75px;font-size:14px;background:#F6F6F6;border:1px solid #ccc;color:#069;}
.nav_operhandle:hover{color:#930;background:#eee;border:1px solid #999;}
/*sidebox*/
/*nbstep1--nbstep8*/
.nav-title{width:200px;height:auto;float:left;margin:80px 0 20px 0;}
.nav-title h3{width:200px;height:auto;padding:2px 0;font-size:26px;text-align:center;color:#333;}
.nav-title h4{width:200px;height:auto;font-size:14px;color:#999;text-indent:5em;}
.nav-remark{width:200px;height:auto;float:left;margin:30px 0;}
.nav-remark h5{width:200px;height:auto;font-size:14px;color:#333;text-indent:2em;padding:3px 0;text-decoration:underline;}
.nav-remark p{width:180px;height:auto;font-size:12px;color:#666;text-indent:2em;line-height:1.5em;margin:0 auto;}
/*mainbox*/
/*nbstep1,nbstep2*/
.nbcurpos1{width:730px;height:70px;background:url(../../images/namingbill/stepbar1.png) no-repeat center center;_background:#fff url(../../images/namingbill/stepbar1_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.nbcurpos2{width:730px;height:70px;background:url(../../images/namingbill/stepbar2.png) no-repeat center center;_background:#fff url(../../images/namingbill/stepbar2_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.nbcurpos3{width:730px;height:70px;background:url(../../images/namingbill/stepbar3.png) no-repeat center center;_background:#fff url(../../images/namingbill/stepbar3_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.nbcurpos4{width:730px;height:70px;background:url(../../images/namingbill/stepbar4.png) no-repeat center center;_background:#fff url(../../images/namingbill/stepbar4_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.nbcurpos5{width:730px;height:70px;background:url(../../images/namingbill/stepbar5.png) no-repeat center center;_background:#fff url(../../images/namingbill/stepbar5_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.nbcurpos6{width:730px;height:70px;background:url(../../images/namingbill/stepbar6.png) no-repeat center center;_background:#fff url(../../images/namingbill/stepbar6_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.nbcurpos7{width:730px;height:70px;background:url(../../images/namingbill/stepbar7.png) no-repeat center center;_background:#fff url(../../images/namingbill/stepbar7_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.nbcurpos8{width:730px;height:70px;background:url(../../images/namingbill/stepbar8.png) no-repeat center center;_background:#fff url(../../images/namingbill/stepbar8_ie6.png) no-repeat center center;margin:30px auto 0 auto;}
.nbcurpos1 h3,.nbcurpos2 h3,.nbcurpos3 h3,.nbcurpos4 h3,.nbcurpos5 h3,.nbcurpos6 h3,.nbcurpos7 h3,.nbcurpos8 h3{text-indent:-9999px;}
/*table*/
.nbcontent{width:740px;height:auto;border:1px solid #999;margin:20px auto;background:#fff;}
.nbtablestep1,.nbtablestep2,.nbtablestep3,.nbtablestep4,.nbtablestep5,.nbtablestep6,.nbtablestep7,.nbtablestep8{width:700px;height:auto;margin:20px auto;}
.nbtablestep5_bak,.nbtablestep6_bak{width:700px;height:auto;margin:0 auto 20px auto;}
.nbtablestep1 tr td,.nbtablestep2 tr td,.nbtablestep3 tr td,.nbtablestep4 tr td,.nbtablestep5 tr td,.nbtablestep6 tr td,.nbtablestep7 tr td,.nbtablestep8 tr td,.nbtablestep5_bak tr td,.nbtablestep6_bak tr td{padding:3px 0;}
.step1one{width:12%;}
.step1two{width:12%;}
.step1three{width:76%;}
.step2one{width:18%;}
.step2two{width:82%;}
.step3one{width:12%;}
.step3two{width:14%;}
.step3three{width:32%;}
.step3four{width:10%;}
.step3five{width:32%;}
.step3unione,.step3comone{width:25%;}
.step3unitwo,.step3comtwo{width:75%;}
.step4one{width:10%;}
.step4two{width:15%;}
.step4three{width:30%;}
.step4four{width:15%;}
.step4five{width:30%;}
.step5one,.step6one{width:14%;}
.step5two,.step6two{width:37%;}
.step5three.step6three{width:12%;}
.step5four.step6four{width:37%;}
/*table-detail*/
/*title(label),h1-h6*/
.nbtitle{float:right;width:auto;height:auto;font-size:16px;padding:3px 0;}
.nbsubtitle{float:left;width:auto;height:auto;font-size:20px;padding:3px 0;font-weight:bold;}
.nbsteptitle{font-size:30px;width:100%;height:auto;text-align:center;}
.nbtablestep8 h4{font-size:16px;float:left;padding:3px 0;width:auto;height:auto;}
/*label*/
.nalabel,.sdlabel,.osanlabel,.oanlabel,.olabel,.sclabel,.applytype label,.physictype label,.certfiletype label{float:left;font-size:14px;cursor:pointer;}
.osanlabel,.oanlabel{float:right;}
.sclabel{margin-right:10px;}
.certfiletype label{margin-right:5px;}
.step3llabel{float:right;width:auto;height:auto;font-size:16px;padding:3px 0;cursor:pointer;}
.step3rlabel{float:right;font-size:14px;cursor:pointer;padding:5px 5px 5px 0;}
.chemdetail label{float:left;padding:5px 0;font-size:14px;cursor:pointer;background:red;}
.nbtablestep4 label,.nbtablestep5 label,.nbtablestep6 label{float:right;font-size:14px;padding:5px 5px 5px 0;cursor:pointer;}
.nbtablestep7 label{float:left;font-size:14px;padding:5px 10px;cursor:pointer;font-weight:bold;line-height:1.5em;}
.signname label,.signdt label,.agreebox label,.defname,.prescriptlabel{float:left;font-size:14px;cursor:pointer;padding:5px;}
.nalabel:hover,.sdlabel:hover,.osanlabel:hover,.oanlabel:hover,.olabel:hover,.sclabel:hover,.applytype label:hover,.physictype label:hover,.certfiletype label:hover,.step3llabel:hover,.step3rlabel:hover,.nbtablestep4 label:hover,.nbtablestep5 label:hover,.nbtablestep6 label:hover,.signname label:hover,.signdt label:hover,.agreebox label:hover,.defname:hover,.prescriptlabel:hover{color:#930;}
/*text*/
.nameapply,.supplydata,.sendartno,.oappno,.others,.subcause,.odataname,.oprename,.ocomname,.chitype,.chemtype,.biotype,.othertype{float:left;font-size:14px;}
.sendartno,.oappno{border-bottom:1px solid #0088CA;padding:3px 0;width:300px;background:none;}
.operno,.approveno,.drugcode,.chemicalch,.chemicaleng,.formula,.mw,.inneng,.cas,.chi-name,.eng-name,.regaddr,.mfraddr,.regzipcode,.mfrzipcode,.companycode,.lawperson,.certno,.act-chiname,.act-engname,.chemicaleng_uni{float:left;border:1px solid #0088CA;background:#fff;height:26px;line-height:1.8em;font-size:14px;color:#555;}
.operno,.approveno{width:300px;}
.drugcode{width:550px;}
.chemicalch,.chemicaleng{width:450px;}
.formula,.mw,.inneng,.cas{width:200px;}
.act-chiname,.act-engname,.chemicaleng_uni{width:500px;}
.chi-name,.eng-name,.regaddr,.mfraddr{width:480px;}
.regzipcode,.mfrzipcode,.companycode,.lawperson,.certno{width:170px;}
.priusername,.pricerttype,.pricertno,.priofficephone,.prifaxno,.primobileno,.priemail,.conusername,.concerttype,.concertno,.conofficephone,.confaxno,.conmobileno,.conemail,.signperson,.signyear,.signmonth,.signday,.chi-defname1,.chi-defname2,.chi-defname3,.eng-defname1,.eng-defname2,.eng-defname3{float:left;border-bottom:1px solid #0088CA;background:#fff;height:26px;line-height:1.8em;font-size:14px;color:#555;}
.chi-defname1,.chi-defname2,.chi-defname3,.eng-defname1,.eng-defname2,.eng-defname3{width:120px;margin:0 5px;}
.priusername,.conusername{width:580px;}
.pricerttype,.pricertno,.priofficephone,.prifaxno,.primobileno,.priemail,.concerttype,.concertno,.conofficephone,.confaxno,.conmobileno,.conemail{width:250px;}
.signperson{width:180px;}
.signyear{width:80px;}
.signmonth,.signday{width:40px;}
/*remark(tips)*/
.supplytips{color:red;font-size:14px;}
.cftremark,.scanremark{float:left;font-size:14px;padding:3px 20px 3px 5px;color:#666;}
.corinfotips{float:left;font-size:14px;padding:3px 0 3px 10px;color:#666;}
.principaltips,.contacttips{float:left;font-size:14px;padding:5px 0 5px 10px;color:#666;}
/*textarea*/
.subcause{border:1px solid #0088CA;width:400px;height:80px;}
/*check,radio,span*/
.applytype,.physictype,.certfiletype{float:left;padding:3px 0;width:auto;height:auto;}
.applytype{margin-right:30px;}
.physictype,.certfiletype{margin-right:50px;}
.nameapply,.supplydata,.others,.odataname,.oprename,.ocomname,.chitype,.chemtype,.biotype,.othertype,.homepro,.importation{float:left;margin-right:5px;}
.chemdetail{float:left;margin-right:10px;width:250px;}
.signname{width:350px;height:auto;padding:5px 0;float:left;}
.signdt{width:300px;height:auto;padding:5px 0;float:right;}
.agreebox{width:auto;height:auto;padding:5px 20px;float:right;margin-top:10px;}
.agreecheck{float:left;margin:5px 2px;}
/*p*/
.nbtablestep8 p{text-indent:2em;font-size:14px;padding:3px 0;height:auto;width:650px;line-height:1.5em;color:#333;margin:3px auto;}
/*div*/
.step8declare{width:100%;min-height:50px;font-size:14px;}
.step8comseal{width:100%;min-height:100px;background:#fff url(../../images/namingbill/comsealbg.png) no-repeat center center;}
.prescriptshow{width:100%;min-height:80px;font-size:14px;}
.step8content{width:680px;height:auto;margin:5px auto;border:1px solid #ddd;}
/*select*/
.certtype{width:172px;border:1px solid #0088CA;font-size:14px;}
/*td-line*/
.trline td{border-top:1px dashed #333;}
.trline_down td{border-bottom:1px dashed #333;}
/*file*/
.scanup{display:none;float:right;}
.chemimgup,.attachfile{display:none;float:left;}
/*button*/
.getpriperson,.getconperson{float:left;font-size:14px;height:26px;width:auto;padding:0 10px;margin-left:20px;color:#960;background:#eee url(../../images/namingbill/getpersonbtn.png) repeat-x center center;border:1px solid #c2a802;cursor:pointer;}
.scanbtn{float:right;font-size:14px;padding:3px 0;background:#fff;color:#06F;text-decoration:underline;cursor:pointer;}
.chemimgbtn,.attachbtn{float:left;font-size:14px;padding:3px 0;background:#fff;color:#06F;text-decoration:underline;cursor:pointer;}
.prebtn2,.prebtn3,.prebtn4,.prebtn5,.prebtn6,.prebtn7,.prebtn8{float:left;margin:10px 0 0 100px;color:#fff;cursor:pointer;font-size:14px;height:29px;padding:0 10px;background:#eee url(../../images/namingbill/savebtn.png) repeat-x 0 0;border:1px solid #038ac8;}
.savebtn1,.savebtn2,.savebtn3,.savebtn4,.savebtn5,.savebtn6,.savebtn7,.savebtn8_sel{float:right;margin:10px 50px 0 0;color:#fff;cursor:pointer;font-size:14px;height:29px;padding:0 10px;background:#eee url(../../images/namingbill/savebtn.png) repeat-x 0 0;border:1px solid #038ac8;}
.savebtn8_def{float:right;margin:10px 50px 0 0;color:#999;cursor:default;font-size:14px;height:29px;padding:0 10px;background:#eee;border:1px solid #999;}
.prebtn2:hover,.prebtn3:hover,.prebtn4:hover,.prebtn5:hover,.prebtn6:hover,.prebtn7:hover,.prebtn8:hover,.savebtn1:hover,.savebtn2:hover,.savebtn3:hover,.savebtn4:hover,.savebtn5:hover,.savebtn6:hover,.savebtn7:hover,.savebtn8_sel:hover{background:#eee url(../../images/namingbill/savebtn.png) repeat-x 0 -29px;color:#FF0;}
.scanbtn:hover,.chemimgbtn:hover{color:#069;}
.getpriperson:hover,.getconperson:hover{text-decoration:underline;color:#930;}
/*ul*/
.scanshow{width:520px;height:auto;}
.chemimgshow{width:480px;height:auto;}
.attachshow{width:680px;height:auto;}
.scanshow li,.chemimgshow li,.attachshow li{float:left;width:100%;height:auto;margin:2px 0;overflow:hidden;background:#F5FFDF;border:1px solid #EFEFEF;}
.scanshow li p,.chemimgshow li p,.attachshow li p{float:left;height:auto;overflow:hidden;font-size:12px;color:#069;padding:3px 0;text-indent:2em;}
.scanshow li p{width:450px;}
.chemimgshow li p{width:400px;}
.attachshow li p{width:620px;}
.scanshow li button,.chemimgshow li a,.attachshow li a{float:left;padding:3px 5px;font-size:12px;cursor:pointer;text-decoration:underline;color:#930;background:none;}
.scanshow li button:hover,.chemimgshow li a:hover,.attachshow li a:hover{color:red;}
/*clone*/
.clonetable{width:700px;height:26px;margin:10px auto 20px auto;background:url(../../images/namingbill/clonebg.png) repeat-x center center;border:1px solid #9cc8d2;}
.clonetable p{font-size:14px;line-height:2em;float:right;padding:0 20px 0 20px;cursor:pointer;color:#069;width:auto;height:26px;background:url(../../images/namingbill/cloneadd.png) no-repeat left center;}
.clonetable p:hover{color:#930;}
/*footer*/
.footer{width:100%;height:auto;background:#eee;border-top:1px solid #999;float:left;}
.infos{width:1000px;height:auto;margin:0 auto;padding:10px 0;}
.infos p{width:1000px;height:auto;font-size:14px;padding:2px 0;text-align:center;}