/*----------------------------------tupianfangda-----------------------------*/
.MagicThumb {cursor: url(../img/zoomin.cur), pointer; outline: none;}
.MagicThumb-zoomed { cursor: default; }
.MagicThumb span { display: none; text-align:center; }
.MagicThumb-image { border: 1px solid #cccccc; outline: none; }
.MagicThumb-image-zoomed { cursor: url(../img/zoomout.cur), pointer; }
.MagicThumb-caption {
    color: #333333;
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-top: none;
    font-family: Verdana, Helvetica;
    font-size: 11px;
    padding: 8px 16px;
}
.MagicThumb-controlbar {display: block;	height: 18px;}
.MagicThumb-controlbar a {display: block;width: 18px;height: 18px;margin: 0px 1px;outline: none; float: left;overflow: hidden;}
.MagicThumb-controlbar a span {
	display: block;
	background: transparent url(../img/controlbar.png) no-repeat 0 0;
	outline: none;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align:center;
}