/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff url(../images/body_bg.png) repeat center center;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:none;}
body *:focus{outline:none;}
/*header*/
.header{width:100%;height:100px;background:#eee;border-bottom:1px solid #999;}
.banner{width:1000px;height:100px;margin:0 auto;background:transparent url(../images/logo_bg.png) no-repeat 100px 10px;}
.banner h1,.banner h2{width:1000px;height:auto;color:#021373;}
.banner h1{font-size:40px;text-indent:200px;padding:10px 0 5px 0;font-family:"黑体",serif;}
.banner h2{font-size:20px;text-indent:400px;font-family:"楷体_GB2312",serif;}
/*container*/
.container{width:1002px;height:auto;margin:0 auto;}
.content{width:960px;margin:0 auto;}
.sidebox{width:250px;height:auto;float:left;background:#fff;}
.mainbox{width:700px;height:auto;float:left;border-left:1px solid #999;padding-bottom:50px;}
.editinfos,.excoperation{width:250px;height:auto;float:left;margin-top:20px;}
.notice,.dooperation,.hisselect{width:700px;height:auto;float:left;margin-top:20px;}
/*sidebox*/
.nav-title{width:200px;height:auto;padding:5px 0;text-indent:20px;font-size:20px;color:#999;font-family:"黑体";font-weight:bold;margin:0 auto;}
.nav-content{width:200px;height:auto;margin:0 auto 0 auto;}
.nav-content li{float:left;width:200px;height:auto;padding:3px 0;margin:5px 0;text-align:center;}
.nav-content li a{width:100%;height:100%;font-size:14px;text-decoration:underline;color:#333;}
.nav-content li a:hover{color:#930;}
/*mainbox*/
/*ul*/
.handle-title{width:650px;padding:5px 0;text-indent:20px;font-size:20px;border-bottom:1px solid #06F;margin:10px auto;background:url(../images/reg_dot.png) no-repeat 5px center;}
.handle-show{width:600px;margin:20px auto 0 auto;}
.handle-show li{width:600px;height:auto;margin:3px auto;float:left;border-bottom:1px dashed #999;}
.handle-show li a{float:left;width:500px;height:100%;font-size:14px;display:block;padding:3px 0;text-indent:25px;background:url(../images/listicon.png) no-repeat 10px center;color:#333;}
.handle-show li a:hover{color:#069;}
.handle-show li span{float:left;width:80px;height:auto;font-size:12px;text-align:center;padding:3px 0;overflow:hidden;color:#960;cursor:pointer;}
.handle-show li:hover span{color:#900;}
/*table*/
.handle-content{width:600px;margin:20px auto 0 auto;border-collapse:collapse;border-top:1px solid #ccc;border-left:1px solid #ccc;background:#fff;}
.handle-header{width:600px;height:29px;background:url(../images/theadbg.png) repeat-x center center;border-right:1px solid #ccc;}
.handle-header td{_border-right:1px solid #ccc;}
.handle-header p{font-size:14px;width:100%;height:29px;text-align:center;overflow:hidden;color:#333;background:url(../images/theadline.png) no-repeat 0 5px;line-height:2.2em;}
.handle-header td:first-child p{background:none;}
.handle-body{width:100%;height:auto;}
.handle-body td{padding:5px 0;font-size:12px;text-align:center;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.handle-btn{color:#666;padding:0 3px;cursor:pointer;border:1px solid #999;background:#eee;}
.handle-detail{color:#06f;text-decoration:underline;}
.handle-btn:hover,.handle-detail:hover{color:red;}
.handle-footer{width:600px;margin:0 auto;text-align:center;padding:3px 0;}
/*footer*/
.footer{width:100%;height:auto;background:#eee;border-top:1px solid #999;float:left;}
.infos{width:1000px;height:auto;margin:0 auto;padding:10px 0;}
.infos p{width:1000px;height:auto;font-size:14px;padding:2px 0;text-align:center;}