/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff url(../images/body_bg.png) repeat center center;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:none;}
body *:focus{outline:none;}
/*header*/
.header{width:100%;height:100px;background:#eee;border-bottom:1px solid #999;}
.banner{width:1000px;height:100px;margin:0 auto;background:transparent url(../images/logo_bg.png) no-repeat 100px 10px;}
.banner h1,.banner h2{width:1000px;height:auto;color:#021373;}
.banner h1{font-size:40px;text-indent:200px;padding:10px 0 5px 0;font-family:"黑体",serif;}
.banner h2{font-size:20px;text-indent:400px;font-family:"楷体_GB2312",serif;}
/*container*/
.container{width:1002px;height:auto;margin:0 auto;}
.container:after{clear:both;visibility:hidden;height:0;line-height:0;content:"";}
.content{width:960px;margin:0 auto;}
/*title*/
.regtitle{width:960px;height:auto;margin:0 auto;float:left;margin:20px 0 10px 0;}
.regtitle h1{float:left;width:800px;font-size:30px;text-indent:50px;}
.regtitle p{float:left;width:150px;padding:8px 5px;font-size:12px;}
.regtitle p a{padding:0 5px;color:#00F;text-decoration:underline;}
.regtitle p a:hover{color:#930;}
/*form-show*/
.regcontent{width:960px;float:left;}
.regforms{width:800px;margin:20px auto 50px auto;border:1px solid #999;background:#fff;}
/*table*/
.userinfos tr td{padding:5px 0;}
.corinfos tr td,.regsubmit tr td{padding:10px 0;}
.ui-label{width:20%;}
.ui-text{width:80%;}
.cor-label{width:20%;}
.cor-text{width:30%;}
.regsub-btn{width:30%;}
.regsub-text{width:70%;}
/*table-title*/
.userinfos,.corinfos{width:700px;height:auto;margin:0 auto;position:relative;top:0;left:0;}
.regsubmit{width:700px;height:auto;margin:20px auto 10px auto;border-top:1px solid #333;padding:20px 0;position:relative;top:0;left:0;}
.userinfos h2,.corinfos h2,.regsubmit h2{width:700px;text-indent:20px;padding:5px 0;font-size:20px;border-bottom:1px solid #333;background:url(../images/reg_dot.png) no-repeat 10px 13px;}
/*table-formsub*/
.userinfos label,.corinfos label{float:right;font-size:14px;padding:2px 5px;cursor:pointer;color:#333;}
.validnumlabel{float:left;font-size:14px;padding:2px 5px;cursor:pointer;color:#333;}
.userinfos label:hover,.corinfos label:hover,.validnumlabel:hover,.reg-btnsel:hover{color:#069;}
.regsubmit label a{color:#00F;text-decoration:underline;}
.regsubmit label a:hover{color:#930;}
.userinfos label span,.corinfos label span,.regsubmit label span{float:left;font-size:12px;color:red;padding:1px 3px;}
.username,.signpwd,.validsignpwd,.email,.chi-name,.eng-name,.regaddr,.mfraddr,.regzipcode,.mfrzipcode,.companycode,.lawperson,.certno{float:left;border:1px solid #0088CA;background:#fff;height:26px;line-height:1.8em;font-size:14px;color:#555;}
.userinfos p{font-size:14px;color:#666;text-decoration:underline;}
.username,.signpwd,.validsignpwd,.email{width:248px;}
.chi-name,.eng-name,.regaddr,.mfraddr{width:530px;}
.regzipcode,.mfrzipcode,.companycode,.lawperson,.certno{width:180px;}
.certtype{float:left;border:1px solid #0088CA;background:#fff;height:20px!important;line-height:1.8em;font-size:14px;width:182px;color:#555;}
.regsubmit input,.regsubmit img,.regsubmit label,.changeimg{float:left;font-size:14px;}
.reg-btn{float:right;background:#eee;border:1px solid #ccc;padding:8px 20px;cursor:default;font-size:14px;margin-right:20px;color:#999;}
.reg-btnsel{float:right;background:#ddd;border:1px solid #666;padding:8px 20px;cursor:pointer;font-size:14px;margin-right:20px;color:#333;}
.changeimg{padding:2px 5px;}
.changeimg:hover{text-decoration:underline;color:#930;}
.validnum{float:left;border:1px solid #0088CA;background:#fff;height:18px;line-height:1.8em;width:60px;font-size:14px;color:#555;}
.validimg{float:left;width:60px;height:18px;border:1px solid #999;margin-left:10px;}
.regserver{margin:1px 5px;}
/*valid error show*/
#username_val,#signpwd_val,#validsignpwd_val,#email_val{float:left;color:red;font-size:12px;margin:7px 0 0 4px;}
#chi-name_val,#eng-name_val,#regaddr_val,#mfraddr_val,#regzipcode_val,#mfrzipcode_val,#companycode_val,#lawperson_val,#certno_val,#validnum_val{position:absolute;color:red;font-size:12px;}
#chi-name_val{left:150px;top:94px;}
#eng-name_val{left:150px;top:142px;}
#regaddr_val{left:150px;top:190px;}
#mfraddr_val{left:150px;top:238px;}
#regzipcode_val{left:150px;top:285px;}
#mfrzipcode_val{left:500px;top:285px;}
#companycode_val{left:150px;top:334px;}
#lawperson_val{left:500px;top:334px;}
#certno_val{left:500px;top:383px;}
#validnum_val{left:470px;top:33px;}
/*footer*/
.footer{width:100%;height:auto;background:#eee;border-top:1px solid #999;float:left;}
.infos{width:1000px;height:auto;margin:0 auto;padding:10px 0;}
.infos p{width:1000px;height:auto;font-size:14px;padding:2px 0;text-align:center;}


