@charset "utf-8";
/* CSS Document */
.proDetails{
	border:1px solid #DADADA;
	border-radius: 8px;
	margin-bottom:50px;
	padding-bottom:30px;
	overflow: hidden;}
.innerbox{
	padding:0px 16px;}
.mortLoan .innerbox{
	margin-top:26px;}
.proDetails h1, .mortLoan h1{
	position:relative;
	text-indent:-9999px;
	height:54px;
	background:url(../../image/proLoan/detailTit.fw.png) no-repeat left top;}
.proDetails h1.forcomh{
	background-position:0px -54px;}
.proDetails h1.morth{
	background-position:0px -162px;}
.Detail{
	position:relative;
	margin-top:25px;
	padding-bottom:20px;
	border-bottom:1px dashed #CDCDCD;}
.Detail.first{
	margin-top:16px;}
.Detail.nobor{
	border-bottom:none 0px;}
.Detail .header{
	margin:0px 0px 8px 0px;
	overflow:hidden;
	height: auto;}
.Detail.apply .header{
	margin-bottom:23px;
	height: 20px;}
.Detail .header p, .Detail .header span{
	color:#999999;
	font-size:12px;
	float:left;}
.Detail .header span{
	margin-left:15px;
	line-height: 16px;}
.Detail.apply .header p {
color: #434343;
font-size: 14px;
float: left;
font-weight:bold;
}
.Detail .header a, .Detail ul li a{
	font-size:12px;
	color:#00A0E8;
	margin-left:15px;
	}
.Detail .header a:hover, .Detail ul li a:hover{
	text-decoration:underline;}
.Detail .header a{
	float:left;
	position: relative;
	top: 1px;
	}
.Detail ul li, .Detail dl dt{
	font-size: 14px;
	color: #434343;
	margin-left: 27px;
	line-height: 170%;
	vertical-align: bottom;
	list-style-image:url(../../image/proLoan/bluelistyle.fw.png);}
 .Detail .values ul li{
	margin-left: 0px;
	font-size: 12px;}
.Detail dl dt{
	background: url(../../image/proLoan/bluelistyle.fw.png) no-repeat left center;
	margin-left: 15px;
	padding-left: 12px;}
.comLoan dl dt{
	background: url(../../image/proLoan/redlistyle.fw.png) no-repeat left center;}
.mortLoan .Detail ul li,.mortLoan .Detail dl dt{
	list-style-image:url(../../image/proLoan/greenlistyle.fw.png);
	}
.comLoan .Detail ul li,.comLoan .Detail dl dt{
	list-style-image:url(../../image/proLoan/redlistyle.fw.png);
	}
.Detail li dt,.Detail li dd{
	background:none;
	padding-left:0px;
	margin-left:0px;}
.Detail dd{
	font-size: 12px;
	color: #434343;
	text-indent: 27px;
	line-height:200%;
	}
.Detail li dd{
	position:relative;
	left:-12px;}
.tablebox{ margin:16px 0px 23px 27px;}
.gotoloan{
	display:block;
	width:155px;
	height:60px;
	background:url(../../image/proLoan/detailBtn.fw.png) no-repeat -4px -48px;
	text-indent:-9999px;
	cursor:pointer;}
.Detail .gotoloan{
	background-position: -4px -4px;
	width:116px;
	height:37px;
	position:absolute;
	left: 292px;
	top: 40px;}
.comLoan .Detail .gotoloan{ top:25px;}
p .gotoloan{
	margin-top:25px;
	margin-left:12px;}
.table{ width:519px; background:#fff; border-color: #000;}
.table{ border:1px solid #cecece; border-radius:6px;}
.table .tr{ overflow: hidden; border-bottom:1px solid #cecece;}
.table .tr.last, .table .tr.noborder{ border:none 0px;}
.table .th, .table .td{ float:left; width:60px; text-align:center; font-size:12px; color:#636363; line-height:30px; border-right:1px solid #cecece;}
.table .tr .td.last, .table .tr .td.noborder{ border:none 0px;}
.table .td.first{ width:150px;}

.form label {
	font-size: 12px;
	color: #9f9f9f;
	text-align: right;
	display: inline-block;
	width:72px;
	margin-right: 6px;
}
.form .toplabel{vertical-align: top;}
.form input, .form textarea {
	width: 154px;
	padding: 0px 5px;
	height: 22px;
	border: 1px solid #DADADA;
	border-radius: 4px;
	box-shadow: 0px 0px 3px #ccc;
	font-size:12px;
}
.form input.Validform_error{
	border: 1px solid #d73c23;
	box-shadow: 0px 0px 1px #d73c23;}
.form input:focus, .form textarea:focus{
	border:1px solid #00A0E9;
	box-shadow:0px 0px 1px #00A0E9;
	}
.form textarea{
	padding:5px;
	border: 1px solid #DADADA;
	border-radius: 4px;
	box-shadow: 0px 0px 3px #ccc;
	width:391px;
	height:128px;
	}
.form input.year,.form input.month{
	width:54px;
	padding:0px 5px;}
.form input.day{
	margin-left: 6px;}
.form .unit, .form .value {
font-size: 12px;
color: #636363;
}
.form .seunit{
	position: relative;
	top: -7px;}
.form .cell {
display: table-cell;
}
.form .tr {
margin-bottom: 12px;
}
.form .submit{
	width:155px;
	height:60px;
	background:url(../../image/proLoan/detailBtn.fw.png) no-repeat;
	background-position:-165px -48px;
	text-indent:-9999px;
	margin-left:90px;
	margin-top: 25px;
	cursor:pointer;}
.seLabel {
position: relative;
top: -7px;
}
.proTab .Validform_checktip{
	line-height:16px;
	height:auto;
	top: 4px;}
.warn{
	padding:12px 20px; border-radius:4px;
}
.warn p{
	color:#434343; font-size:12px;
	background:url(../../image/common/warn.fw.png) no-repeat left center;
	padding-left:18px;	
	margin-right: 43px;
}
.warn .closeWarn{ position:absolute; right:22px; top:12px; background:url(../../image/icons_lyz.fw.png) no-repeat -98px -578px; width:13px; text-indent:-9999px; height:13px; display:block;}
.warn p a{
	color:#f2462a; font-size:12px; text-decoration: underline;
}