@charset "utf-8";
/* CSS Document */
/*布局*/
body{padding:0;margin:0;}
body *{padding:0px;margin:0px;}
.header{width:1003px;height:146px;*+height:150px;/*ie7*/}
.container{position:relative;width:1003px;height:1080px;text-align:center;padding:0 auto;margin:0 auto;}
/*ie6布局居中*/
body *{_margin:0px;_padding:0px;}
/*显示区内容居中*/
.container{_position:relative;_left:50%;_height:1100px;_width:1003px;_margin-left:-501px;}
/*主内容*/
.content{width:1003px;height:980px;_height:1080px;*+height:1030px;position:relative;clear:both;}
.content:after{
clear:both;
visibility:hidden;
line-height:0;
height:0;
content:"";
}
.sideboxl{float:left;height:570px;text-align:left; }
.mainbox{float:left;height:570px;text-align:left;}
.sideboxr{float:left;height:570px;text-align:left;}
/*左侧部分*/
.sideboxl{width:264px;margin-left:4px;_margin-left:2px;}
/*中部主内容部分*/
.mainbox{margin-left:6px;_margin-left:2px;*+margin-left:4px;width:456px;}
/*右侧部分*/
.sideboxr{margin-left:6px;_margin-left:2px;*+margin-left:10px;width:264px;}
/*左上部*/
.sideboxl-top{height:277px;width:auto;background:#FFF url(../img/sideboxl-top.png) no-repeat;margin-bottom:10px;}
/*左中部分*/
.sideboxl-center{margin-buttom:10px;height:273px;width:auto;background:#FFF url(../img/sideboxl-center.png) no-repeat;}
.sideboxl-top h3,.sideboxl-center h3,.sideboxr-top h3,.culture h3,.mainbox-center h3{display:inline;font-family:"黑体", "宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;font-size:16px;}
.sideboxl-top h3{line-height:2.0em;color:#00a8ff;margin-left:12px;}
.sideboxl-center h3,.sideboxr-center h3{line-height:2.0em;color:#09C;margin-left:14px;}
.sideboxr-top h3{line-height:2.1em;color:#00a8ff;margin-left:30px;}
.sideboxr-center h3{font-size:16px;margin-left:24px;}
.culture h3{display:block;margin-left:-150px;padding-top:3px;color:#FFF;line-height:1.6em;}
.sideboxl-top ul,.sideboxl-center ul,.sideboxr-top ul,.sideboxr-center ul{list-style:none;width:250px;height:230px;margin-top:16px;}
.sideboxl-top ul,.sideboxr-top ul{_margin-top:0;}
.sideboxl-top ul li,.sideboxl-center ul li,.sideboxr-top ul li,.sideboxr-center ul li{text-align:left;margin:8px 0 0 16px;_margin:2px 0 0 8px;*+margin:8px 0 -4px 8px;height:16px;_height:10px;width:230px;}
.sideboxl-top ul li img,.sideboxl-center ul li img,.sideboxr-top ul li img,.sideboxr-center ul li img,.law ul li img{float:left;}
.sideboxl-top ul li a,.sideboxl-center ul li a,.sideboxr-top ul li a,.sideboxr-center ul li a,.db ul li a{float:left;height:13px;font-size:13px;color:#000;text-decoration:none;width:220px;margin:-10px 0 0 10px;padding-bottom:3px;border-bottom:1px dashed #CCC;}
.sideboxl-top ul li a:hover,.sideboxl-center ul li a:hover,.mainbox-center ul li a:hover,.sideboxr-top ul li a:hover,.sideboxr-center ul li a:hover,.sideboxr-bottom ul li a:hover,.db ul li a:hover,.law ul li a:hover,.culture ul li a:hover,#col-culture a:hover{color:#099;}
#sblt,#sblc,#sbrt,#sbrc,#sbrb,#bbl,#bbr,#mbc,#bbc{position:absolute;cursor:pointer;_cursor:hand;color:#F00;}
#sblt{top:250px;left:190px;}
#sblc{top:530px;left:190px;}
#mbc{top:530px;left:650px;}
#sbrt{top:260px;left:930px;}
#sbrc{top:530px;left:930px;}
#bbl{top:580px;left:350px;}
#bbc{top:860px;left:660px;}
#bbr{top:880px;left:930px;}


#sblt:hover,#sblc:hover,#mbc:hover,#sbrt:hover,#sbrc:hover,#sbrb:hover,#bbl:hover,#bbr:hover{color:#099;}
/*中部主内容区*/
.mainbox-top{width:450px;height:280px;}
.mainbox-top img{display:block;margin:2px auto 0 auto;height:281px;width:442px;}
.mainbox-center{margin-top:4px;height:270px;width:450px;background:#FFF url(../img/main-center.png) no-repeat center 1%;border:2px solid #F00;}
.mainbox-center h3{font-size:20px;line-height:2.0em;color:#FFF;margin-left:40px;}
.mainbox-center ul{list-style:none;margin-top:4px;}
.mainbox-center ul li{float:left;height:20px;margin-left:6px;width:440px;overflow:hidden;}
.mainbox-center ul li a{float:left;font-size:13px;text-decoration:none;color:#000;height:15px;width:360px;margin-left:6px;line-height:1.1em !important;}
.mainbox-center ul li img{float:left;display:block;margin-top:3px;}
.mainbox-center ul li span{clear:right;font-size:12px;color:#999;}
/*右侧顶部*/
.sideboxr-top{height:290px;width:auto;background:#FFF url(../img/sideboxr-top.png) no-repeat;}
/*右侧中部*/
.sideboxr-center{height:270px;width:auto;background:#FFF url(../img/sideboxr-center.png) no-repeat;margin-top:2px;}
/*底部模块*/
.bottombox{float:left;width:1000px;_width:1000px;height:360px;}
/*数据库*/
.db{float:left;width:440px;height:360px;margin-left:2px;background:#FFF url(../img/foot-db-image.png) no-repeat;}
.db h3{display:inline;position:relative;top:6px;left:-120px;color:#FFF;}
#dbcontent{position:relative;top:20px;left:5px;height:280px;width:430px;}
#dbcontent a{font-size:12px;display:block;float:left;width:192px;height:130px;overflow:hidden;margin:4px 0 6px 10px;
text-decoration:none;cursor:pointer;}
#dbcontent a img{float:left;width:190px;height:110px;margin-bottom:4px;border:1px solid #999;}
/*法律*/
.law{float:left;background:#FFF url(../img/bottom-law-image.png) no-repeat;width:288px;height:360px;}
.law h3{color:#FFF;padding:16px 80px 0 0;}
.law ul{margin:24px 0 0 4px;height:252px;width:284px;list-style:none;}
.law ul li{width:260px;height:20px;margin:2px 0 0 4px;text-align:left;}
.law ul li img{float:left;margin:2px 8px 3px 0px;}
.law ul li a{float:left;height:15px;margin:-14px 0 0 10px;width:250px;color:#000;text-decoration:none;overflow:hidden;font-size:13px;cursor:pointer;_cursor:hand;line-height:1.2em !important;border-bottom:1px dashed #CCC;}
/*企业文化*/
.culture{float:right;height:340px;width:252px;border:3px solid #d5f1fd;background:#FFF url(../img/sideboxr-bottom-title.png) no-repeat 4% 1%;}
#cimg{width:242px;height:33px;clear:both;}
.culture ul{list-style:none;width:246px;height:100px;margin:0 auto;}
.culture ul li{height:16px;width:234px;margin:5px auto;}
.culture ul li a{border-bottom:1px dashed #CCC;font-size:13px; text-decoration:none;text-align:left;float:left;margin:0 0 0 4px;width:220px;height:14px;overflow:hidden;color:#000; line-height:1.2em;}
.culture ul li img{float:left;padding:4px 0 0 0;text-align:left;}
#col-culture{position:relative;left:-20px;top:10px;}
#col-culture a{font-size:14px;line-height:2em;margin-left:35px;text-align:center;text-decoration:none;color:#000;}
#col-culture a img{width:206px;height:127px;overflow:hidden;cursor:pointer;}
/*底部区域*/
.footer{position:relative;top:-50px;_top:-720px;*+top:-80px;height:20px;width:1003px;background:#FFF url(../img/footer-image.png) repeat-x center center;}
.footer p{display:inline;position:relative;top:20px;_top:20px;*+top:20px;}

