/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:0 none;}
body *:focus{outline:none;}
/*layout*/
.container{width:auto;height:auto;margin:0 auto;padding-top:30px;}
.header{width:745px;height:auto;margin:0 auto;}
.content{width:745px;height:auto;margin:0 auto;padding-bottom:30px;}
/*header*/
/*h1-h6*/
.header h1{width:auto;height:auto;padding:5px 0;text-align:center;font-size:26px;font-weight:normal;}
.header h2{width:auto;height:auto;padding:5px 0;text-align:center;font-size:24px;font-weight:bold;}
/*content*/
/*table*/
.dnema_remark{width:745px;height:auto;margin:0 auto;border-left:1px dashed #333;border-top:1px dashed #333;border-bottom:1px dashed #333;}
.dnema_head_info{width:745px;height:auto;margin:0 auto;border:none;}
.dnema_info{width:745px;height:auto;margin:0 auto;border-left:2px solid #000;border-top:2px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;}
/*tr td*/
.dnema_remark tr td{border-right:1px dashed #333;}
.dnema_head_info tr td{padding:3px 0;}
.dnema_info tr td{border-bottom:1px solid #000;border-right:1px solid #000;padding:5px 0;}
/*table-layout*/
.dnema_rg1{width:34% !important;}
.dnema_rg2{width:32% !important;}
.dnema_rg3{width:34% !important;}
.dnema_h_g1{width:80% !important;}
.dnema_h_g2{width:20% !important;}
.dnema_g1{width:15% !important;}
.dnema_g2{width:35% !important;}
.dnema_g3{width:15% !important;}
.dnema_g4{width:35% !important;}
/*form-detail*/
/*fieldset*/
.dnema_info fieldset{float:left;display:block;width:200px;}
/*label*/
.dnema_remark label{float:left;padding:5px 3px;font-size:14px;}
.dnema_head_info label{float:right;padding:3px 0;font-size:14px;cursor:pointer;}
.dnema_info label{padding:3px 0;text-align:center;width:100%;font-size:14px;display:block;cursor:pointer;}
.dnema_info fieldset label{float:left;padding:5px 3px;font-size:14px;width:auto !important;}
/*text*/
.dnema_head_info input{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;width:98%;}
.dnema_info input{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;width:98%;}
.dnema_info fieldset input{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;width:30px !important;}
/*textarea*/
.companyissue,.departcheck,.manager{width:94%;min-height:100px;_height:100px;overflow:auto;float:right;font-size:14px;background:#FFF;}
.dnema_info textarea{width:99%;min-height:100px;_height:100px;overflow:auto;float:left;font-size:14px;display:table-cell;vertical-align:middle;margin:5% 0;}
/*td-line*/
.td_formatrb{border-right:0 none !important;border-bottom:0 none !important;}
.td_formatb{border-bottom:0 none !important;}
.td_formatr{border-right:0 none !important;}