/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:0 none;}
body *:focus{outline:none;}
/*layout*/
.container{width:auto;height:auto;margin:0 auto;padding-top:30px;}
.header{width:745px;height:auto;margin:0 auto;}
.content{width:745px;height:auto;margin:0 auto;padding-bottom:30px;}
/*header*/
/*h1-h6*/
.header h1{width:auto;height:auto;padding:5px 0;text-align:center;font-size:26px;font-weight:normal;}
.header h2{width:auto;height:auto;padding:5px 0;text-align:center;font-size:24px;font-weight:bold;}
/*content*/
/*table*/
.dnpf_head_info,.dnpf_foot_info{width:745px;height:auto;margin:0 auto;border:0 none;}
.dnpf_info{width:745px;height:auto;margin:0 auto;border-left:2px solid #000;border-top:2px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;}
/*tr td*/
.dnpf_info tr td{border-bottom:1px solid #000;border-right:1px solid #000;padding:5px 0;}
.dnpf_head_info tr td{padding:2px 0;}
.dnpf_foot_info tr td{padding:8px 0;}
/*table-layout*/
.dnpf_h_g1{width:17% !important;}
.dnpf_h_g2{width:36% !important;}
.dnpf_h_g3{width:17% !important;}
.dnpf_h_g4{width:30% !important;}
.dnpf_g1{width:17% !important;}
.dnpf_g2{width:34% !important;}
.dnpf_g3{width:15% !important;}
.dnpf_g4{width:24% !important;}
.dnpf_g5{width:10% !important;}
.dnpf_f_g1{width:80% !important;}
.dnpf_f_g2{width:20% !important;}
/*form-detail*/
/*label*/
.dnpf_info label,.dnpf_foot_info label{padding:3px 0;text-align:center;width:100%;font-size:14px;display:block;cursor:pointer;}
.dnpf_head_info label{padding:3px 0;text-align:right;width:100%;font-size:14px;display:block;cursor:pointer;}
.label_formatr{text-align:right !important;}
.td_formatr label{font-size:16px;font-weight:bold;}
/*text*/
.dnpf_info input,.dnpf_head_info input{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;width:98%;}
/*p*/
.maintitle{width:auto;font-size:16px;font-weight:bold;float:left;padding:3px 0;text-indent:25px;}
.subtitle{width:auto;font-size:14px;font-weight:bold;text-align:center;padding:3px 0;}
/*td*/
.td_formatr{border-right:0 none !important;}
/*textarea*/
.dnpf_info textarea{width:98%;height:100px;float:left;line-height:1.2em;font-size:14px;color:#333;/*overflow-y:hidden;*/}

