/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:0 none;}
body *:focus{outline:none;}
/*layout*/
.container{width:auto;height:auto;margin:0 auto;padding-top:30px;}
.header{width:745px;height:auto;margin:0 auto;}
.content{width:745px;height:auto;margin:0 auto;padding-bottom:30px;}
/*header*/
/*h1-h6*/
.header h1{width:auto;height:auto;padding:5px 0;text-align:center;font-size:26px;font-weight:normal;}
.header h2{width:auto;height:auto;padding:5px 0;text-align:center;font-size:24px;font-weight:bold;}
/*content*/
/*table*/
.dnbms_remark{width:745px;height:auto;margin:0 auto;border-left:1px dashed #333;border-top:1px dashed #333;border-bottom:1px dashed #333;}
.dnbms_head_info{width:745px;height:auto;margin:0 auto;border:0 none;}
.dnbms_info{width:745px;height:auto;margin:0 auto;border-left:2px solid #000;border-top:2px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;}
/*tr td*/
.dnbms_remark tr td{border-right:1px dashed #333;}
.dnbms_info tr td{border-bottom:1px solid #000;border-right:1px solid #000;padding:5px 0;}
.dnbms_head_info tr td{padding:2px 0;}
/*table-layout*/
.dnbms_rg1{width:34% !important;}
.dnbms_rg2{width:32% !important;}
.dnbms_rg3{width:34% !important;}
.dnbms_h_g1{width:17% !important;}
.dnbms_h_g2{width:36% !important;}
.dnbms_h_g3{width:17% !important;}
.dnbms_h_g4{width:30% !important;}
.dnbms_g1{width:5% !important;}
.dnbms_g2{width:10% !important;}
.dnbms_g3{width:5% !important;}
.dnbms_g4{width:10% !important;}
.dnbms_g5{width:5% !important;}
.dnbms_g6{width:5% !important;}
.dnbms_g7{width:5% !important;}
.dnbms_g8{width:8% !important;}
.dnbms_g9{width:8% !important;}
.dnbms_g10{width:8% !important;}
.dnbms_g11{width:8% !important;}
.dnbms_g12{width:10% !important;}
.dnbms_g13{width:8% !important;}
.dnbms_g14{width:5% !important;}
/*form-detail*/
/*fieldset*/
.dnbms_remark fieldset{float:right;display:block;width:150px;}
/*label*/
.dnbms_remark label{float:left;padding:5px 3px;font-size:14px;}
.dnbms_head_info label{padding:3px 0;text-align:right;width:100%;font-size:14px;display:block;cursor:pointer;}
.dnbms_remark fieldset label{float:left;padding:5px 3px;font-size:14px;width:auto !important;}
/*text*/
.dnbms_info input,.dnbms_head_info input{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;width:98%;}
.dnbms_remark fieldset input{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;width:30px !important;}
/*textarea*/
.companyissue,.departcheck,.manager{width:94%;min-height:100px;_height:100px;overflow:auto;float:right;font-size:14px;background:#FFF;}
.dnbms_info textarea{width:99%;min-height:100px;_height:100px;overflow:auto;float:left;font-size:14px;background:#FFF;}
/*p*/
.maintitle{width:auto;font-size:16px;font-weight:bold;float:left;padding:3px 0;text-indent:25px;}
.subtitle{width:auto;font-size:14px;font-weight:bold;text-align:center;padding:3px 0;}
