/* CSS Document */
/*global*/
body{margin:0;padding:0;background:#fff;}
body *{margin:0;padding:0;font-size:100%;text-decoration:none;color:#000;font-family:"宋体", serif, sans-serif, "宋体-PUA", "楷体_GB2312", "仿宋_GB2312", Vrinda;list-style:none;resize:none;border:0 none;}
body *:focus{outline:none;}
/*layout*/
.container{width:auto;height:auto;margin:0 auto;padding-top:30px;}
.header{width:745px;height:auto;margin:0 auto;}
.content{width:745px;height:auto;margin:0 auto;padding-bottom:30px;}
/*header*/
/*h1-h6*/
.header h1{width:auto;height:auto;padding:5px 0;text-align:center;font-size:26px;font-weight:normal;}
.header h2{width:auto;height:auto;padding:5px 0;text-align:center;font-size:24px;font-weight:bold;}
/*content*/
/*table*/
.dnid_remark{width:745px;height:auto;margin:0 auto;border-left:1px dashed #333;border-top:1px dashed #333;border-bottom:1px dashed #333;}
.dnid_head_info{width:745px;height:auto;margin:0 auto;border:0 none;}
.dnid_info{width:745px;height:auto;margin:0 auto;border-left:2px solid #000;border-top:2px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;}
/*tr td*/
.dnid_remark tr td{border-right:1px dashed #333;}
.dnid_info tr td{border-bottom:1px solid #000;border-right:1px solid #000;padding:5px 0;}
.dnid_head_info tr td{padding:2px 0;}
/*table-layout*/
.dnid_rg1{width:34% !important;}
.dnid_rg2{width:32% !important;}
.dnid_rg3{width:34% !important;}
.dnid_h_g1{width:17% !important;}
.dnid_h_g2{width:36% !important;}
.dnid_h_g3{width:17% !important;}
.dnid_h_g4{width:30% !important;}
.dnid_g1{width:19% !important;}
.dnid_g2{width:34% !important;}
.dnid_g3{width:20% !important;}
.dnid_g4{width:17% !important;}
.dnid_g5{width:10% !important;}
/*form-detail*/
/*fieldset*/
.dnid_remark fieldset{float:right;display:block;width:150px;}
/*label*/
.dnid_remark label{float:left;padding:5px 3px;font-size:14px;}
.dnid_info label{padding:3px 0;text-align:center;width:100%;font-size:14px;display:block;cursor:pointer;}
.dnid_head_info label{padding:3px 0;text-align:right;width:100%;font-size:14px;display:block;cursor:pointer;}
.label_formatr{text-align:right !important;}
.td_formatr label{font-size:16px;font-weight:bold;}
.dnid_remark fieldset label{float:left;padding:5px 3px;font-size:14px;width:auto !important;}
/*text*/
.dnid_info input,.dnid_head_info input{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;width:98%;}
.dnid_remark fieldset input{float:left;height:22px;line-height:1.5em;font-size:14px;color:#333;width:30px !important;}
/*textarea*/
.companyissue,.departcheck,.manager{width:94%;min-height:100px;_height:100px;overflow:auto;float:right;font-size:14px;background:#FFF;}
/*p*/
.maintitle{width:auto;font-size:16px;font-weight:bold;float:left;padding:3px 0;text-indent:25px;}
.subtitle{width:auto;font-size:14px;font-weight:bold;text-align:center;padding:3px 0;}
/*td*/
.td_formatr{border-right:0 none !important;}