@import 'base_variable.less';
/*以上部分需删除，为公共部分*/
/*--适配不同分辨率--*/
///*--屏幕--*/
@media screen{}
///*--大屏--*/
@media screen and (min-width:1025px){
	
}
///*--720-1024--*/
@media screen and (min-width:721px) and (max-width:1024px){
	
}
///*--640-720--*/
@media screen and (min-width:641px) and (max-width:720px){
	
	
	
}
///*--540-640--*/
@media screen and (min-width:541px) and (max-width:640px){
	/*首页*/
	.commom1-wrap{
		padding:3px 9px;
	}
	.commom2-wrap,.commom3-wrap{
		padding:3px 6px;
	}
	
	.info1-itemwrap{
		border:3px solid @color-white;
	}
	.info1-icon,.info2-icon{
		img{
			width:50px;
			height:50px;
		}
	}
	.info1-theme,.info2-theme{
		font-size:@font-size-base;
	}
	.web-remarks{
		.border-radius-base(5px);
		font-size:@font-size-base;
	}
}
///*--480-540--*/
@media screen and (min-width:481px) and (max-width:540px){
	/*首页*/
	.commom1-wrap{
		padding:3px 9px;
	}
	.commom2-wrap,.commom3-wrap{
		padding:3px 6px;
	}
	
	.info1-itemwrap{
		border:3px solid @color-white;
	}
	.info1-item{
		.border-radius-base(4px);
	}
	.info1-icon,.info2-icon{
		img{
			width:50px;
			height:50px;
		}
	}
	.info1-theme,.info2-theme{
		font-size:@font-size-base;
	}
	.web-remarks{
		.border-radius-base(4px);
		font-size:@font-size-base;
	}
	.self_bg1{background-size:cover;}
}
///*--320-480--*/
@media screen and (min-width:321px) and (max-width:480px){
	/*首页*/
	.commom1-wrap{
		padding:3px 9px;
	}
	.commom2-wrap,.commom3-wrap{
		padding:3px 6px;
	}
	
	.info1-itemwrap{
		border:3px solid @color-white;
	}
	.info1-item{
		.border-radius-base(3px);
	}
	.info1-icon,.info2-icon{
		img{
			width:40px;
			height:40px;
		}
	}
	.info1-theme,.info2-theme{
		font-size:@font-size-small;
	}
	.web-remarks{
		.border-radius-base(3px);
		font-size:@font-size-small;
	}
	.self_bg1{background-size:cover;}
}
///*--280-320--*/
@media screen and (min-width:281px) and (max-width:320px){
	/*首页*/
	.commom1-wrap{
		padding:2px 6px;
	}
	.commom2-wrap,.commom3-wrap{
		padding:2px 4px;
	}
	
	.info1-itemwrap{
		border:2px solid @color-white;
	}
	.info1-item{
		.border-radius-base(3px);
	}
	.info1-icon,.info2-icon{
		img{
			width:30px;
			height:30px;
		}
	}
	.info1-theme,.info2-theme{
		font-size:11px;
	}
	.web-remarks{
		.border-radius-base(3px);
		font-size:11px;
	}
	.self_bg1{background-size:cover;}
}
///*--微屏--*/
@media screen and (max-width:280px){
		/*首页*/
	.commom1-wrap{
		padding:2px 6px;
	}
	.commom2-wrap,.commom3-wrap{
		padding:2px 4px;
	}
	
	.info1-itemwrap{
		border:2px solid @color-white;
	}
	.info1-item{
		.border-radius-base(3px);
	}
	.info1-icon,.info2-icon{
		img{
			width:30px;
			height:30px;
		}
	}
	.info1-theme,.info2-theme{
		font-size:11px;
	}
	.web-remarks{
		.border-radius-base(3px);
		font-size:11px;
	}
	.self_bg1{background-size:cover;}
}