
//省钱装修页面

.content-warp{
	width:100%;
	overflow:hidden;
	/*banner部分*/
	.content-banner{
			width:100%;
			height:500px;
			background:#fff;
			position:relative;
			.g-d-for{
				width:264px;
				height:380px;
				padding:20px 30px;
				background:#fff;
				position:absolute;
				top:50px;
				right:380px;
				>table{
					text-align:center;
					.text-hod{
							font-size:12px;
							>a{
								font-size:12px;
								color:@color-orange3;		
							}		
					}
					input{
						width:254px;
						height:40px;
						line-height:40px;
						padding:0 0 0 10px;
						border:1px solid @color-gray4;
					}	
					.banner-btn{
						width:264px;
						height:40px;
						line-height:40px;
						font-size:14px;
						color:#fff;
						background:@color-orange1;		
					}
					.roll-infowrap{
						.layout-relative-base;
						width:100%;
						height:40px;
						overflow:hidden;
						div{
							.layout-absolutel-base;
							width:100%;
							min-height:40px;
							p{
								height:20px;
								line-height:20px;
								font-size:14px;
								color:@color-gray2;
								.text-of;
								text-overflow:ellipsis;
								a{
									color:@color-orange2;
									font-size:14px;		
								}
							}
						}
					}	
					.banner-serve{
						height:44px;
						line-height:44px;
						font-size:14px;
						color:@color-gray8;
						border-top:1px solid @color-gray4;		
					}
				}
			}	
	}
	.table-tip{
		width:100%;
		height:30px;
		line-height:25px;
		color:@color-red2;
		font-size:@font-size-base - 2;
		text-align:left;
	}
	.table-tip2{
		width:100%;
		height:12px;
	}
	.table-tip3{
		width:100%;
		height:20px;
	}
}
	
	

//传统装修
.info-tradition{
	width:100%;
	height:643px;
	>h1{
		width:1190px;
		height:240px;
		line-height:240px;
		font-size:40px;
		color:@color-gray1;	
		margin:0 auto;	
		text-align:center;
	}
	ul{
		width:1190px;
		margin:0 auto;
	}
	li{
		width:25%;
		float:left;	
		text-align:center;
		h4{	
			font-size:22px;
			color:@color-gray1;
			height:80px;
			line-height:80px;
		}
		p{
			height:20px;
			line-height:20px;
			font-size:12px;
			color:@color-gray1;		
		}
	}
}

//装修过程
.info-sub{
	width:100%;
	height:625px;
	background:@color-gray6;
	h1{
		width:1190px;
		height:246px;
		line-height:246px;
		font-size:40px;
		color:@color-gray1;
		letter-spacing:4px;
		text-align:center;
		margin:0 auto;		
	}
	ul{
		width:1190px;		
		margin:0 auto;
	}
	li{
		width:33%;
		float:left;
		text-align:center;
		p{
			height:70px;
			line-height:70px;
			font-size:16px;
			color:#333433;		
		}		
	}
}

//品质邀约
.info-pinzhi{
	width:100%;
	height:624px;
	h1{
		width:1190px;
		height:200px;
		line-height:200px;
		font-size:40px;
		color:@color-gray1;
		letter-spacing:4px;
		margin:0 auto;
		text-align:center;	
	}
	i{
		width:1046px;
		height:311px;
		display:block;
		margin:0 auto;
	}
}

//免费服务
.info-free{
	width:100%;
	height:862px;
	background:@color-gray6;
	.info-title{
		width:1190px;
		height:118px;
		padding:100px 0 80px 0;
		margin:0 auto;
		text-align:center;
		h1{
			height:100px;
			line-height:100px;
			font-size:40px;
			letter-spacing:4px;
			color:@color-gray1;
	  }		
		span{
			height:20px;
			line-height:20px;
			display:block;	
			font-size:12px;
			color:@color-gray3;	
		}
		.info-free-color{
			color:@color-orange2;	
		}
	}
	ul{
		width:1190px;	
		height:440px;	
		margin:0 auto;
	}
	li{
		width:396px;
		float:left;
		text-align:center;
		padding:0 0 64px 0;
	}
}

//装修优势
.info-youshi{
	width:100%;
	height:700px;
	h1{
		width:1190px;
		padding:100px 0 80px 0;
		margin:0 auto;
		text-align:center;
		font-size:40px;
		letter-spacing:4px;
		color:@color-gray1;		
	}
	i{
		width:982px;
		height:369px;	
		display:block;
		margin:0 auto;
	}
}

//装修问题
.info-wenti{
	width:100%;
	height:594px;
	background:@color-gray6;
	>h3{
		width:1090px;
		height:140px;
		font-size:24px;
		color:@color-gray1;
		padding:0 0 0 100px;
		line-height:140px;	
		margin:0 auto;	
	}
	.info-wenti-login{
		width:990px;
		height:454px;	
		padding:0 100px;	
		margin:0 auto;
		position:relative;
	}
	.info-form{
		width:284px;
		height:334px;
		background:#fff;
		padding:20px 15px 20px 33px;
		border:2px solid @color-orange2;	
		position:absolute;
		top:-26px;;
		right:110px;
		b{
			width:270px;
			height:44px;
			font-size:16px;
			font-weight:100;
			letter-spacing:2px;
			color:@color-gray2;
			display:block;
			text-align:center;
			line-height:44px;		
		}
	}
	table{
		td{
			width:270px;
			>input{
				width:254px;
				height:38px;
				padding:0 0 0 10px;
				border:1px solid @color-gray3;
			}
			.side-miniportal{
				width:100%;
				height:38px;
				background:#fff;
			}
		}
		p{
				width:100%;
				height:20px;
				line-height:20px;
				font-size:14px;
				color:@color-gray2;
			}
		label{
			display:inline-block;
			font-size:12px;
			color:@color-gray3;
			input{
				display:inline-block;
				margin-right:5px;
				vertical-align:middle;
			}
		}		
		.label-1{
				width:100px;
		}
		.label-2{
				width:75px;
		}
		.wenti-btn{
			width:100%;
			height:38px;
			color:#fff;
			background:#EB5405;		
		}
	}
}

//六大免费服务
.info-liuda{
	width:100%;
	height:196px;
	padding:100px 0 0 0;
	h1{
		font-size:40px;
		letter-spacing:4px;
		color:@color-gray1;		
	}
	i{
		width:1190px;
		height:196px;
		display:block;
		margin:0 auto;
	}	
}



/////装修保页面

//导航
.decorate-nav{
	width:100%;
	height:100px;
	>.nav-box{
		width:1190px;
		height:100px;
		margin:0 auto;	
	}
	a{
		width:326px;
		height:80px;
		float:left;
		color:#fff;
		padding:20px 0 0 70px;
		display:inline-block;
		.nav-text{
			width:242px;
			height:100px;
			padding:0 0 0 20px;
			float:left;
			b{
			height:36px;
			line-height:36px;
			font-weight:normal;
			display:inline-block;
			font-size:26px;	
			color:@color-gray1;
			i{
				width:30px;
				height:22px;
				margin:0 0 0 10px;
				display:inline-block;
				background:url(./../images/icons.png) 0 -190px;		
			}
		}
		span{
			height:24px;
			display:inline-block;
			font-size:12px;
			color:@color-gray2;		
		}			
		}
		
		>i{
			float:left;		
		}
		
	}
	
	
	//装保修导航样式
	.nav-box-1{
		.shengqian-nav-menu-2{
			background:url(./../images/decorate/V0_03_03_03.png);
			>.nav-text{
				b{
					color:#fff;		
				}
				span{
					color:#fff;		
				}
			}
		}
		.img-1{
			width:64px;
			height:62px;
			display:inline-block;
			background:grren;
			background:url(./../images/icons.png) -192px -126px;	
		}
		.img-2{
			width:60px;
			height:62px;
			display:inline-block;
			background:url(./../images/icons.png) -65px -127px;	
		}
		.img-3{
			width:64px;
			height:62px;
			display:inline-block;
			background:url(./../images/icons.png) -125px -127px;	
		}
	}
	
	//省钱装修导航样式
	.nav-box-2{
		.bao-nav-menu-2{
			background:url(./../images/decorate/zhuangxiu.png);
			>.nav-text{
				b{
				color:#fff;		
				}
				span{
					color:#fff;		
				}
			}
		}
		.img-1{
			width:64px;
			height:62px;
			display:inline-block;
			background:grren;
			background:url(./../images/icons.png) 0 -127px;	
		}
		.img-2{
			width:60px;
			height:62px;
			display:inline-block;
			background:url(./../images/icons.png) -101px -192px;	
		}
		.img-3{
			width:64px;
			height:62px;
			display:inline-block;
			background:url(./../images/icons.png) -125px -127px;	
		}
	}
	
	//贷款导航样式
	.nav-box-3{
		.nav-menu-3{
			background:url(./../images/decorate/zhuangxiu_2.png);
			>.nav-text{
				b{
				color:#fff;		
				}
				span{
					color:#fff;		
				}
			}
		}
		.img-1{
			width:64px;
			height:62px;
			display:inline-block;
			background:grren;
			background:url(./../images/icons.png) 0 -127px;	
		}
		.img-2{
			width:60px;
			height:62px;
			display:inline-block;
			background:url(./../images/icons.png) -65px -127px;	
		}
		.img-3{
			width:60px;
			height:62px;
			display:inline-block;
			background:url(./../images/icons.png) -36px -190px;	
		}
	}
	
	
	
	.nav-menu-2{
		//border-left:1px solid @color-gray4;
		//border-right:1px solid @color-gray4;		
	}
}

//装修服务
.info-fuwu{
	width:100%;
	height:643px;
	.info-fuwu-title{
		width:1190px;	
		padding:110px 0 120px 0;	
		margin:0 auto;
		text-align:center;
		h1{
			font-size:40px;
			color:@color-gray1;
			letter-spacing:4px;
			padding:0 0 20px 0;		
		}
		p{
			height:18px;
			line-height:18px;
			font-size:14px;
			letter-spacing:2px;
			color:@color-gray2;		
		}
	}
	>ul{
		width:1190px;
		height:290px;
		margin:0 auto;
	}
	li{
		width:33%;
		text-align:center;
		float:left;		
		
		img{
			width:160px;
			height:240px;	
		}
	}
}

//优势
.info-z-youshi{
	width:100%;
	height:767px;
	h1{
		width:1190px;
		padding:160px 0 40px 0;
		margin:0 auto;
		text-align:center;
		font-size:40px;
		letter-spacing:4px;
		color:@color-gray1;
	}
	>i{
		width:1190px;
		height:	506px;
		display:block;
		margin:0 auto;
		text-align:center;
	}
}

//监理质检
.info-jianli{
	width:100%;
	height:625px;
	background:@color-gray6;
	.info-jianli-title{
		width:1190px;
		margin:0 auto;
		padding:110px 0 50px 0;
		text-align:center;
		h1{
			font-size:40px;		
			letter-spacing:4px;
			letter-spacing:4px;
			color:@color-gray1;
		}
		p{
			height:40px;
			line-height:40px;
			font-size:14px;
			color:@color-orange2;	
		}
  }
	.info-lunbo{
		width:1190px;
		height:180px;
		margin:0 auto;
		text-align:center;
		position:relative;
		left:0;
		top:0;
		z-index:1;
		>div{
			position:relative;
			z-index:10;
			width:985px;
			heiht:180px;
			margin:0 auto;
			overflow:hidden;
		}
	}
	.info-ul{
		position:relative;
		left:0;
		top:0;
		white-space:nowrap;
		z-index:1;
		width:auto;
		heiht:180px;
		display:inline-block;
		overflow:hidden;
		li{
			float:left;	
			padding:0 10px;	
			img{
				width:175px;
				height:150px;		
			}
			span{
				font-size:12px;
				color:@color-gray3;		
			}
		}		
	}
	.btn-1{
		width:30px;
		height:45px;
		background:url(./../images/icons.png) -350px -145px;
		position:absolute;
		top:57px;
		left:0;		
		&:hover{
				background:url(./../images/icons.png) -400px -145px;
		}
	}
	.btn-2{
		width:30px;
		height:45px;
		background:url(./../images/icons.png) -376px -145px;
		position:absolute;
		top:57px;
		right:0;
		&:hover{
			background:url(./../images/icons.png) -426px -145px;
	  }	
	}
	i{
		width:1190px;
		display:block;
		margin:0 auto;
		padding:20px 0 0 0;
		text-align:center
		;
	}
}

//满意后付款
.info-fukuan{
	width:100%;
	height:720px;
	.info-fukuan-title{
		width:1190px;
		margin:0 auto;
		padding:80px 0 50px 0;
		text-align:center;
		h1{
			font-size:40px;
			color:@color-gray1;
			letter-spacing:4px;
			height:80px;
			line-height:80px;		
		}		
		span{
			font-size:12px;
			color:@color-gray3;
			height:24px;
			line-height:24px;
			b{
				color:@color-orange1;	
				font-weight:normal;
			}
		}
	}
	i{
		width:1190px;
		height:357px;
		display:block;
		text-align:center;
		margin:0 auto;
	}
}

//装修贷款页面

.info-loan{
	width:100%;
	height:640px;
	.info-loan-title{
			width:1190px;
			height:50px;
			padding:50px 0 100px 0;
			margin:0 auto;
			h1{
				width:100%;
				height:80px;
				line-height:80px;
				text-align:center;
				font-size:40px;
				color:@color-gray1;
			}
			p{
				width:100%;
				height:24px;
				font-size:14px;
				color:@color-gray3;
				line-height:24px;
				text-align:center;	
			}
		}
		ul{
			width:	1190px;
			height:390px;
			margin:0 auto;
			text-align:center;
			li{
				width:20%;
				height:390px;
				text-align:center;
				float:left;		
				img{
					display:inline;
					width:150px;
					height:198px;
					margin:0 0 10px 0;
				}
				span{
					width:100%;
					height:20px;
					display:block;
					line-height:20px;
					text-align:center;
					font-size:14px;
					color:@color-gray3;
				}
			}	
		}
}

//贷款计算器
.info-calc{
		width:100%;
		height:500px;
		h4{
			width:1190px;
			height:150px;
			margin:0 auto;
			line-height:150px;
			font-size:32px;
			color:@color-gray2;	
		}
		.calc-form{
			width:1190px;
			height:350px;
			margin:0 auto;	
			form,.calc-refund,ul{
				float:left;
				width:376px;
				height:330px;
			}
			form{
				padding:20px 0 0 0;
				input{
					width:280px;
					height:35px;
					border:1px solid @color-gray4;
					margin:0 0 5px 0;
				}
				p{
					width:100%;
					height:30px;
					line-height:20px;
					font-size:@font-size-base;
					color:@color-red2;
					text-align:left;
					text-indent:80px;
					.text-of;
					text-overflow:ellipsis;
				}
				select{
					width:282px;
					height:35px;
				}	
				button{
					width:280px;
					height:40px;
					font-size:14px;
					line-height:40px;
					text-align:center;	
					background:#2B8EDD;
					margin:35px 0 0 80px;
				}
			}
			.calc-refund{
				height:240px;
				padding:70px 0 0 0;
				p{
					font-size:20px;
					color:@color-gray2;
					height:80px;
					line-height:80px;
					text-align:center;
					b{
						hieght:80px;
						line-height:80px;
						font-size:40px;
						color:#2B8EDD;	
						vertical-align:middle;
						font-weight:normal;
				  }	
				}
			}
			ul{
				width:246px;
				height:300px;
				padding:30px 0 0 130px;
				li{
					height:50px;
					line-height:50px;		
					font-size:20px;
					color:@color-gray1;
					span{
						color:#2B8EDD;
					}
				}
			}
		}
}

//贷款流程
.info-loanflow{
	width:100%;
	height:866px;
	overflow:hidden;
}









