///*--图标字体--*/
@font-face{
    font-family:'ux_one';
    src:url('@{ux-font-one-url}@{ux-font-name}.eot');
    src:url('@{ux-font-one-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-one-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-one-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-one-url}@{ux-font-name}.svg#svgFontName') format('svg');
}

@font-face{
    font-family:'ux_two';
    src:url('@{ux-font-two-url}@{ux-font-name}.eot');
    src:url('@{ux-font-two-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-two-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-two-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-two-url}@{ux-font-name}.svg#svgFontName') format('svg');
}

@font-face{
    font-family:'ux_three';
    src:url('@{ux-font-three-url}@{ux-font-name}.eot');
    src:url('@{ux-font-three-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-three-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-three-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-three-url}@{ux-font-name}.svg#svgFontName') format('svg');
}

@font-face{
    font-family:'ux_four';
    src:url('@{ux-font-four-url}@{ux-font-name}.eot');
    src:url('@{ux-font-four-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-four-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-four-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-four-url}@{ux-font-name}.svg#svgFontName') format('svg');
}

@font-face{
    font-family:'ux_five';
    src:url('@{ux-font-five-url}@{ux-font-name}.eot');
    src:url('@{ux-font-five-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-five-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-five-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-five-url}@{ux-font-name}.svg#svgFontName') format('svg');
}

@font-face{
    font-family:'ux_six';
    src:url('@{ux-font-six-url}@{ux-font-name}.eot');
    src:url('@{ux-font-six-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-six-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-six-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-six-url}@{ux-font-name}.svg#svgFontName') format('svg');
}

@font-face{
    font-family:'ux_seven';
    src:url('@{ux-font-seven-url}@{ux-font-name}.eot');
    src:url('@{ux-font-seven-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-seven-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-seven-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-seven-url}@{ux-font-name}.svg#svgFontName') format('svg');
}

@font-face{
    font-family:'ux_eight';
    src:url('@{ux-font-eight-url}@{ux-font-name}.eot');
    src:url('@{ux-font-eight-url}@{ux-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{ux-font-eight-url}@{ux-font-name}.woff') format('woff'),
        url('@{ux-font-eight-url}@{ux-font-name}.ttf') format('truetype'),
        url('@{ux-font-eight-url}@{ux-font-name}.svg#svgFontName') format('svg');
}
@font-face{
		font-family:'typ';
		src:url('@{typ-font-url}@{typ-font-name}.eot');
		src:url('@{typ-font-url}@{typ-font-name}.eot?#iefix') format('embedded-opentype'),
				url('@{typ-font-url}@{typ-font-name}.woff') format('woff'),
				url('@{typ-font-url}@{typ-font-name}.ttf') format('truetype'),
				url('@{typ-font-url}@{typ-font-name}.svg#svgFontName') format('svg');
}