///*公共部分*/

.content-wrap {
    width: 100%;
    height: auto;
}

.main-content-box {
    width: 980px;
    margin: 0 auto;
    clear: both;
}
.main-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.main-right-content{float:right;width:800px;min-height:920px; padding:0 !important;}
.main-right-content:after{
	content:'';
	display:block;
	width:100%;
	clear:both;
}
#rightFrame{ width:100%; height:100%; padding:0;}
