///组件--app布局组件
///作者：易品
html{
	font-size:@font-size-base - 4;
}
html,.app-layout{
	.layout-base;
}
.app-layout(){
	padding-bottom:60px;
	font-size:1.6rem;
	&:after,&::after{
		clear:both;
		content:'';
		display:block;
		width:100%;
		height:0;
	}
}
