
/****业主后台 个人中心 左侧菜单********/

 //-----unbound_phone.css------ 
.content-succeed {
  width: 100%;
  padding:50px;
  text-align: center;
}
.content-succeed .succeed-text {
	height: 100px;
	margin: 70px 0 0 0;
	display: inline-block;
}
.content-succeed .succeed-text > i {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 10px 0 0;
	vertical-align: top;
}
.content-succeed .succeed-text h2 {
	font-size: 22px;
	color: #333333;
	letter-spacing: 1px;
	line-height: 50px;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
.content-succeed .succeed-text .succeed-1 {
	display: inline-block;
	font-size: 14px;
	color: #999999;
	line-height: 30px;
	text-align: center;
}
.content-succeed .succeed-text .succeed-1 a {
	display: inline-block;
	line-height: 30px;
	font-size: 14px;
	color: #ea5404;
}
.cp-center-div3 {
	padding: 0 10px;
	padding: 40px 0 50px 0;
	vertical-align: middle;
	border-bottom: dashed 1px #eaeaea;
}
.cp-center-div3 .conter-form-box {
	width: 480px;
	overflow: hidden;
	margin: 0 auto;
}
.cp-center-div3 .conter-form-box > p {
	font-size: 12px;
	color: #999999;
	line-height: 38px;
	margin: 0 0 20px 0;
}
.cp-center-div3 .conter-form-box > .cp-conter-form {
	width: 480px;
	overflow: hidden;
	margin: 0 auto;	
}
.cp-center-div3 .conter-form-box > .cp-conter-form label {
	display: inline-block;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 12px;
	margin: 0 8px 0 0;
	color: #666666;
}
.cp-center-div3 .conter-form-box > .cp-conter-form > div:first-child > input {
	width: 228px;
	height: 28px;
	margin: 0 0 10px;
	border: 1px solid #d8d8d8;
}
.cp-center-div3 .conter-form-box > .cp-conter-form .cp-yanzheng {
	margin: 0 0 20px 0;
}
.cp-center-div3 .conter-form-box > .cp-conter-form .cp-yanzheng > input {
	width: 98px;
	height: 28px;
	margin: 8px 0 0 0;
	border: 1px solid #d8d8d8;
}
.cp-center-div3 .conter-form-box > .cp-conter-form .cp-yanzheng > a {
	display: inline-block;
	width: 120px;
	height: 30px;
	font-size: 12px;
	color: #666666;
	background: #eaeaea;
	text-align: center;
	line-height: 30px;
}
.cp-center-div3 .conter-form-box > .cp-conter-form > button {
	display: block;
	width: 100px;
	height: 30px;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	border: none;
	margin: 0 0 0 100px;
	background: #ea5404;
}
.conter-guide-1 {
	width: 560px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}
.conter-guide-1 > div > span {
	display: inline-block;
	width: 25px;
	height: 25px;
	font-size: 12px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	background: url(../images/icons2.png) -554px -72px;
}
.conter-guide-1 > div > .icon-1 {
	background: url(../images/icons2.png) -521px -72px;
}
.conter-guide-1 > div > i {
	display: inline-block;
	width: 160px;
	height: 2px;
	vertical-align: top;
	margin: 10px 6px 0 6px;
	background: url(../images/icons2.png) -284px -42px;
}
.conter-guide-1 > div > p {
	width: 100px;
	display: inline-block;
	font-size: 14px;
	color: #666666;
}
.conter-guide-1 > div > p:first-child + p {
	margin: 6px 102px 0 102px;
}
.conter-guide-2 {
	width: 560px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}
.conter-guide-2 > div > span {
	display: inline-block;
	width: 25px;
	height: 25px;
	font-size: 12px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	background: url(../images/icons2.png) -554px -72px;
}
.conter-guide-2 > div > .icon-2 {
	background: url(../images/icons2.png) -521px -72px;
}
.conter-guide-2 > div > i {
	display: inline-block;
	width: 160px;
	height: 2px;
	vertical-align: top;
	margin: 10px 6px 0 6px;
	background: url(../images/icons2.png) -284px -42px;
}
.conter-guide-2 > div > p {
	width: 100px;
	display: inline-block;
	font-size: 14px;
	color: #666666;
}
.conter-guide-2 > div > p:first-child + p {
	margin: 6px 102px 0 102px;
}
.conter-phone-box {
	overflow: hidden;
}
.conter-phone-box > p {
	font-size: 12px;
	color: #999999;
	line-height: 38px;
	margin: 0 0 20px 0;
}
.conter-phone-box > .cp-conter-form {
	overflow: hidden;
	width: 340px;
	margin: 0 auto;
	span{
		display:inline-block;
		font-size:@font-size-base - 2;
		color:@color-gray2;
	}
	em{
		display:inline-block;
		font-size:@font-size-base - 2;
		color:@color-green1;
		padding:0 5px;
	}
	i{
		display:inline-block;
		font-size:@font-size-base - 2;
		color:@color-gray3;
	}
}
.conter-phone-box > .cp-conter-form label {
	display: inline-block;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 12px;
	margin: 0 8px 0 0;
	color: #666666;
}
.conter-phone-box > .cp-conter-form > div:first-child > input {
	width: 228px;
	height: 28px;
	margin: 0 0 10px;
	border: 1px solid #d8d8d8;
}
.conter-phone-box > .cp-conter-form .cp-yanzheng {
	margin: 0 0 20px 0;
}
.conter-phone-box > .cp-conter-form .cp-yanzheng > input {
	display: inline-block;
	width: 98px;
	height: 28px;
	margin: 8px 0 0 0;
	border: 1px solid #d8d8d8;
}
.conter-phone-box > .cp-conter-form .cp-yanzheng > span {
	display: inline-block;
	width: 60px;
	height: 30px;
	overflow:hidden;
	margin: 0 10px 0 0;
	vertical-align:middle;
	img{
		width:60px;
		height:30px;
		display:block;
		float:left;		
	}
}
.conter-phone-box > .cp-conter-form .cp-yanzheng > a,
.cp-yanzheng > button{
	height: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}
.conter-phone-box > .cp-conter-form .cp-yanzheng > a{
	width: 50px;
	color:@color-gray3;
	background: #eaeaea;
	cursor:pointer;
}
.cp-yanzheng > button{
	min-width: 100px;
	background:@color-orange1;
	color:@color-white;
	&:hover{
		background:@color-orange2;
	}
	
}
.cp-yanzheng > button.yzdisabled{
	color:@color-gray3;
	background: #eaeaea;
	cursor:auto;
}
.conter-phone-box > .cp-conter-form > button {
	display: block;
	min-width: 100px;
	height: 30px;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	border: none;
	margin: 0 0 0 100px;
	background: #ea5404;
}
.conter-email {
	overflow: hidden;
}
.conter-email .conter-email-info {
	width: 400px;
	overflow: hidden;
	margin: 0 auto;
}
.conter-email .conter-email-info > .email-p-1 {
	font-size: 12px;
	color: #666666;
	line-height: 24px;
}
.conter-email .conter-email-info > .email-p-2 {
	font-size: 12px;
	color: #999999;
	line-height: 24px;
}
.conter-email .conter-email-info > button {
	display: inline-block;
	width: 120px;
	height: 30px;
	margin: 40px 140px 0 140px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	border: none;
	background: #ea5404;
}
 //-------changepass.css----  
 .info-border{
	float:left;
	width:1px;
	height:66px;
	border-right:1px solid #eee;
	margin:-10px 30px 0 20px;
}
 .cp-top {
	width:678px;
	height:50px;
	line-height:50px;
	display:block;
	border-bottom: 1px #eaeaea dashed;
	font-size:14px;
	font-family:微软雅黑;
	font-weight:bolder;
}
.cp-center table {
	border-collapse: collapse;
	border-spacing: 0;
	width: inherit;
}
.cp-center table tr {
	line-height: 45px;
}
.cp-center table tr td input {
	outline: none;
}
.text-right {
	text-align: right;
	vertical-align: middle;
	font-size: 14px;
	color:@color-gray2;
	font-family: 微软雅黑;
	width: 65px;
	padding:0 10px 0 0;
}
.text-confirm, .text-left {
	text-align: left;
	vertical-align: middle;
	padding: 0 0 0 5px;
}
.table-point {
	width: 16px;
	text-align: center;
	vertical-align: middle;
}
.text-left input {
	width:250px;
	height: 30px;
	border: 1px #eaeaea solid;
	text-indent: 5px;
	vertical-align:middle;
	margin:0 6px 0 0;
}
.text-left>span{
	margin: 0 36px 0 0;
}
.text-left-check>input{
	margin:0 10px 0 10px;
}
.text-left-icon>div{
	min-width:30px;
	min-height:30px;
	max-width:200px;
	max-height:200px;
	float:left;
	margin:10px 0 0 10px;
	img{
		min-width:30px;
		min-height:30px;
		max-width:200px;
		max-height:200px;
	}
}
.text-confirm{
	width:250px;
	height:30px;
	line-height:30px;
	input {
		width: 130px;
		height: 30px;
		border: 1px #eaeaea solid;
		float: left;
		text-indent: 5px;
	}
	>em{
		display:inline-block;
		widht:60px;
		height:30px;
		margin:0 0 0 4px;
		vertical-align:middle;
		>img{
			display:inline-block;
			width:60px;
			height:30px;		
		}
	}
	>span{
		display:inline-block;
		height:30px;
		line-height:30px;
		font-size:12px;
		color:@color-gray2;
		padding:0 6px;
		margin:0 0 0 4px;
	}
} 


.subbutton {
	width: 100px;
	height: 30px;
	background-color: @color-orange2;
	border: 0;
	cursor: pointer;
	float: left;
	margin: 30px 0 0 55px;
	color: #FFF;
	font-size: 14px;
	font-family: 微软雅黑;
	outline: none;
	&:hover{
		background:@color-orange1;		
	}
}
#validateImg {
	width: 90px;
	height: 34px;
	text-align: center;
	vertical-align: middle;
	border: 0;
	float: left
}
.change-test {
	width: 80px;
	height: 34px;
	text-align: left;
	vertical-align: middle;
	float: left
}
.change-test a {
	text-align: left;
	vertical-align: bottom;
	font-size: 12px;
	font-family: 微软雅黑;
	float: left;
	text-decoration: none;
	color: #666666;
	margin: 0 0 0 5px;
}
.change-test a:hover {
	color: #ea5404
}









 //------contract.css-----我的合同------ 
.contract-right-content{
	width:798px;
	float:left;
	margin:0 0 0 20px;
	border:1px solid @color-gray5;
}
.contract-cp-center{
	width:100%;
	overflow:hidden;
	margin:30px 0 0 0;	
}


table {
	border-collapse: collapse;
	border-spacing: 0
}
div {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp-top {
	width: 678px;
	height: 50px;
	line-height: 50px;
	display: block;
	border-bottom: 1px #eaeaea dashed;
	font-size: 14px;
	font-family: 微软雅黑;
	font-weight: bolder;
}
div.contract-box {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	height: 337px;
	float: left;
}
.box-left {
	width: 205px;
	height: 100%;
	float: right;
	margin: 0 50px 0 0;
}
.box-right {
	width: 205px;
	height: 100%;
	float: left;
	margin: 0 0 0 50px;
}
.box-total-top {
	width: inherit;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	border: 1px #eaeaea solid;
}
.box-total-main {
	width: inherit;
	height: 295px;
	border: 1px @color-gray5 solid;
	margin: 10px 0 0 0;
}
.contract-bottom {
	width: inherit;
	height: 170px;
	text-align: center;
	vertical-align: middle;
	
}
.contract-bottom-font {
	width: 490px;
	height: 58px;
	padding: 30px 0 0 300px;
}
.bottom-font-div {
	width: 180px;
	height: 20px;
	display: block;
}
.bottom-div-square {
	width: 20px;
	height: inherit;
	border: 1px #d5d5d5 solid;
	float: left;
}
.bottom-div-font {
	width: 150px;
	height: inherit;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
	float: left;
}
.contract-bottom-button {
	width: inherit;
	height: 30px;
}
.contract-bottom-button input {
	width: 88px;
	height: inherit;
	border: 1px #d5d5d5 solid;
	text-align: center;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
	margin:30px 0 0 0;
	outline: none;
}








 //------calculator.css------- 
.cp-center-left-box {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 500px;
	height: 100%;
	border-right: 1px #eaeaea solid;
	float: left
}
.cp-center-right-box {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 290px;
	height: 100%;
	border-left: 1px #eaeaea solid;
	float: left
}
.cp-top-left {
	width: 470px;
	height: 50px;
	line-height: 50px;
	display: block;
	margin: 0 0 0 15px;
	border-bottom: 1px #eaeaea dashed;
	font-size: 14px;
	font-family: 微软雅黑;
	font-weight: bolder;
}
.cp-top-right {
	width: 260px;
	height: 50px;
	line-height: 50px;
	display: block;
	margin: 0 0 0 15px;
	border-bottom: 1px #eaeaea dashed;
	font-size: 14px;
	font-family: 微软雅黑;
	font-weight: bolder;
}
.cp-center-left {
	width: 470px;
	height: 530px;
	display: block;
	margin: 10px 0 0 15px;
}
.cp-center-right {
	width: 260px;
	height: 530px;
	display: block;
	margin: 10px 0 0 15px;
}
.cp-left-font-1 {
	width: 430px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
	text-align: left;
	vertical-align: middle;
	float: left;
}
.cp-left-font-2 {
	width: 25px;
	height: 30px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
}
.cp-left-font-3 {
	width: 25px;
	height: 30px;
	float: left;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
}
.cp-left-font-4 {
	width: 130px;
	height: 30px;
	float: left;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
}
.cp-left-font-5 {
	width: 45px;
	height: 50px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
}
.cp-left-font-6 {
	width: inherit;
	height: 50px;
	float: left;
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #f32121;
}
.cp-left-font-7 {
	width: 35px;
	height: 30px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
}
.cp-left-font-8 {
	width: 45px;
	height: 30px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
}
.cp-left-font-1 .input-style-1 {
	height: 30px;
	width: 80px;
	border: 1px #eaeaea solid;
	float: left;
	margin: 8px 0 0 0;
	outline: none;
}
.cp-left-font-1 .input-style-2 {
	height: 30px;
	width: 230px;
	border: 1px #eaeaea solid;
	float: left;
	margin: 8px 0 0 0;
	outline: none;
}
.cp-left-font-1 .input-style-3 {
	height: 30px;
	width: 120px;
	border: 1px #eaeaea solid;
	float: left;
	margin: 8px 0 0 0;
	outline: none;
}
.cp-right-font-1 {
	width: inherit;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.cp-right-font-2 {
	width: inherit;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	font-family: 微软雅黑;
	color: #ea5404;
	text-align: center;
	float: left;
	>label{
		display:inline-block;
		width:90px;
		height:50px;		
		vertical-align:middle;
	}
}
.cp-right-font-3 {
	width: inherit;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #999999;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.cp-right-div {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px @color-gray4 dashed;
	margin: 20px 0 0 -65px;
	float: left;
	padding: 5px
}
.cp-right-div>div {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: @color-orange2;
	border: 0;
	cursor: pointer;
	&:hover{
		background:@color-orange1;		
	}
}
.right-center-font {
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	margin: 19px 0 0 21px;
	float: left;
}
.right-center-font p {
	height: 25px;
	width: inherit;
	line-height: 25px;
	margin: 0;
	padding: 0;
	color: #FFF;
	font-size: 18px;
	font-family: 微软雅黑;
	letter-spacing: 3px;
}
.calculator_btn{
	.layout-relative-base;
	>input{
		.layout-absolutel-base;
		background:transparent;
		width:100%;
		height:100%;
		display:block;
	}
}










 //-----home.css---个人中心首页----  
 
input:focus, select:focus, textarea:focus {
	border: 1px #ea5404 solid;
	outline: none;
}
.home-info {
	border: 1px solid #eaeaea;
	height: 140px;
}
.home-info > ul {
	width: 750px;
	height: 100px;
	margin: 20px auto;
}
.home-info > ul:after {
	content: "";
	clear: both;
	display: block;
	width: 100%;
}
.home-info > ul li {
	float: left;
	width: 372px;
	height: 100px;
}
.home-info > ul .home-infoitem1 {
	border-right: 1px solid #eaeaea;
}
.home-info > ul .home-infoitem1 > div {
	float: left;
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
	width: 106px;
	height: 106px;
	background: #d8d8d8;
	overflow: hidden;
}
.home-info > ul .home-infoitem1 > div img {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 100px;
	height: 100px;
	z-index: 5;
}
.home-info > ul .home-infoitem1 > div a {
	position: absolute;
	left: 3px;
	bottom: 3px;
	z-index: 5;
	background: #999;
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	color: #fff;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: pointer;
}
.home-info > ul .home-infoitem1 > p {
	width: 250px;
	height: 50px;
	display: inline-block;
	margin: 0 0 0 10px;
	float: left;
	line-height: 70px;
	font-size: 12px;
	color: #333;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.home-info > ul .home-infoitem1 > p + p {
	line-height: 30px;
	font-weight: normal;
	color: #999999;
}
.home-info > ul .home-infoitem1 > p + p span {
	padding: 0 10px 0 0;
}
.home-info > ul .home-infoitem2 > div {
	height: 60px;
	width: 170px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 30px 0 0 10px;
}
.home-info > ul .home-infoitem2 > div div {
	float: left;
	margin: 5px 5px 0 0;
}
.home-info > ul .home-infoitem2 > div .home-infoicon1 {
	width: 37px;
	height: 36px;
	background: #ffffff url(../images/icons2.png) 0 -10px no-repeat;
}
.home-info > ul .home-infoitem2 > div .home-infoicon2 {
	width: 36px;
	height: 36px;
	background: #ffffff url(../images/icons2.png) -49px -10px no-repeat;
}
.home-info > ul .home-infoitem2 > div p {
	float: left;
	font-size: 14px;
	color: #333;
	width: 120px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	height: 20px;
	line-height: 20px;
}
.home-info > ul .home-infoitem2 > div span {
	float: left;
	font-size: 12px;
	color: #999;
	width: 120px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
.home-info > ul .home-infoitem2 > div span a {
	color: #ea5404;
	font-style: normal;
	cursor: pointer;
	padding: 0 0 0 5px;
}
div {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.home-cp-center{
	width: 798px;
	margin:20px 0 0 0;
	.home-cp-center-box{
		width:798px;
		overflow:hidden;
		margin:20px 0 0 0;
		border:1px solid @color-gray5;		
	}
	.home-cp-top{
		width:778px;
		height:50px;
		margin:0 auto;
		line-height:50px;
		border-bottom: dashed 1px @color-gray5;	
		>b{
			flaot:left;
			font-size:14px;
			color:@color-gray1;		
		}
		.cp-top-text{
			float:right;
			margin:10px 0 0 0;	
			>a{
				font-size:12px;
			  color:@color-orange1;		
			}
		}
	}
	p{
		width:778px;
		line-height:60px;
		font-size:14px;
		color:@color-gray1;
		margin:0 auto;
	}
	.cp-center-home-font{
		width:778px;
		height:40px;
		margin:0 auto;
		background:#F4F5F4;
		>div{
			font-size:12px;
			color:@color-gray2;
			line-height:40px;		
			float:left;
			margin:0 74px 0 0;
		}
		.home-last-child{
			margin:0;
		}
	}
	table{
		font-size:12px;	
		color:@color-gray2;
		margin:30px 0 50px 0;
	}
}

.cp-center-30h {
	height: 24px;
	line-height: 24px;
}
.table-td-width-1 {
	width: 100px;
	color:@color-gray3;
}
.cp-center-published-table table tr td label {
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #666666;
}
.cp-center-rating-div {
	width: 798px;
	height: 300px;
	margin: 20px 0 0 0;
	border: 1px solid #eaeaea;
}
.cp-center-rating-div .rating-top {
	margin: 0 10px;
	height: 49px;
	border-bottom: dashed 1px #eaeaea;
}
.cp-center-rating-div .rating-top > h4 {
	margin: 0;
	height: 49px;
	line-height: 49px;
	font-size: 14px;
	font-weight: 600;
	float: left;
}
.cp-center-rating-div .rating-top > a {
	display: inline-block;
	height: 49px;
	line-height: 49px;
	float: right;
	font-size: 12px;
	color: #999999;
}
.cp-center-rating-div .rating-top > a:hover {
	color: #ea5404;
}
.cp-center-rating-div .rating-center {
	margin: 30px 80px 0 30px;
	overflow: hidden;
}
.cp-center-rating-div .rating-center .rating-center-icon {
	width: 120px;
	height: 140px;
	float: left;
	text-align: center;
}
.cp-center-rating-div .rating-center .rating-center-icon > a {
	display: inline-block;
	width: 72px;
	height: 72px;
	border-left: 5px solid #d8d8d8;
	border-top: 5px solid #d8d8d8;
	border-right: 3px solid #d8d8d8;
	border-bottom: 3px solid #d8d8d8;
}
.cp-center-rating-div .rating-center .rating-center-icon > span {
	overflow: hidden;
	line-height: 36px;
	font-size: 12px;
	color: #999999;
}
.rating-center-ctn {
	width:200px;
	height: 140px;
	float: left;
	margin:0 0 0 8px;
}
.cp-center-rating-div .rating-center .rating-center-ctn > p {
	width:200px;
  height:30px;
	line-height: 30px;
	font-size: 20px;
	color: #666666;
	margin: 0 0 10px 0;
	>span{
		margin:0 0 0 10px;		
	}
}
.cp-center-rating-div .rating-center .rating-center-ctn span {
	display: inline-block;
	font-size: 12px;
	color: #999999;
	line-height: 14px;
}
.cp-center-rating-div .rating-center .rating-icon {
	height: 30px;
	line-height:30px;
	float: right;
	text-align: right;
}
.cp-center-rating-div .rating-center .rating-icon > span {
	font-size: 12px;
	color: #666666;
	line-height: 20px;
	margin:0 6px 0 0;
}
.cp-center-rating-div .rating-center .rating-icon > a {
	display: inline-block;
	width: 28px;
	height: 20px;
	vertical-align:middle;
}
.icon-yanjing{
	background:url(../images/icons2.png) -313px -2px;
}
.icon-shoucang{
	background:url(../images/icons2.png) -355px -1px;
}
.icon-comment{
	background:url(../images/icons2.png) -389px -2px;
}

.cp-center-rating-div > p {
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #999999;
	margin: 10px 0 0 150px;
}
.cp-center-view-div {
	width: 798px;
	overflow: hidden;
	margin: 20px 0 0 0;
}
.cp-center-view-div .rating-top {
	margin: 0 10px;
	height: 49px;
	border-bottom: dashed 1px #eaeaea;
}
.cp-center-view-div .rating-top > h4 {
	margin: 0;
	height: 49px;
	line-height: 49px;
	font-size: 14px;
	font-weight: 600;
	float: left;
}
.cp-center-view-div .rating-top > a {
	display: inline-block;
	height: 49px;
	line-height: 49px;
	float: right;
	font-size: 12px;
	color: #999999;
}
.cp-center-view-div .rating-top > a:hover {
	color: #ea5404;
}
.cp-center-view-div .cp-center-serve {
	width: 387px;
	height: 238px;
	float: left;
	margin: 0 20px 0 0;
	border: 1px solid #eaeaea;
}
.cp-center-view-div .cp-center-serve .cp-center-top {
	width: 237px;
	margin: 50px auto 0 auto;
}
.cp-center-view-div .cp-center-serve .cp-center-top > i {
	display: inline-block;
	width: 73px;
	height: 73px;
	float: left;
}
.cp-center-view-div .cp-center-serve .cp-center-top > .cp-center-text {
	width: 150px;
	height: 73px;
	float: left;
	margin: 0 0 0 14px;
}
.cp-center-view-div .cp-center-serve .cp-center-top > .cp-center-text > p {
	margin: 0;
	padding: 0;
	line-height: 40px;
	font-size: 20px;
	color: #666666;
}
.cp-center-view-div .cp-center-serve .cp-center-top > .cp-center-text > span {
	display: inline-block;
	font-size: 12px;
	color: #999999;
	line-height: 26px;
	margin: 4px 0 0 0;
}
.cp-center-view-div .cp-center-recommend {
	width: 387px;
	height: 238px;
	float: left;
	border: 1px solid #eaeaea;
}
.cp-center-view-div .cp-center-recommend .cp-conter-ctn {
	padding: 10px 10px 10px 20px;
	overflow: hidden;
}
.cp-center-view-div .cp-center-recommend .cp-conter-ctn > i {
	display: inline-block;
	width: 150px;
	height: 150px;
	float: left;
}
.cp-center-view-div .cp-center-recommend .cp-conter-ctn > ul {
	width: 180px;
	margin: 0 0 0 20px;
	float: left;
}
.cp-center-view-div .cp-center-recommend .cp-conter-ctn > ul > li {
	width: 180px;
	height: 36px;
	border-bottom: dashed 1px #d8d8d8;
}
.cp-center-view-div .cp-center-recommend .cp-conter-ctn > ul > li > a {
	display: inline-block;
	line-height: 36px;
	font-size: 12px;
	color: #666666;
}
.cp-center-view-div .cp-center-recommend .cp-conter-ctn > ul > li > a:hover {
	color: #ea5404;
}
.home-undemand-title{
	width:100%;
	text-align:center;
	>div{
		height:150px;
		line-height:150px;	
		font-size:24px;
   	font-weight:bold;
		span{
			display:inline-block;
			width:56px;
			height:56px;
			vertical-align:middle;
			background:url(./../images/icons2.png) no-repeat -102px 0;
			margin:0 6px 0 0;	
		}	
	}
}



 //-----loglist.css---我的装修日记-------  
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
}
div {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 微软雅黑;
}
.cp-top {
	width: 800px;
	height: 50px;
	line-height: 50px;
	display: block;
	border-bottom: 1px #eaeaea dashed;
	font-size: 14px;
	font-family: 微软雅黑;
	font-weight: bolder;
	margin: 0 0 0 10px;
}
.cp-center {
	width: 698px;
	display: block;
}
.cp-center-loglist-div {
	width: inherit;
	height: 270px;
	border: 1px #eaeaea solid;
	margin: 20px 0 0 0;
}
.cp-center-loglist-top {
	width: inherit;
	height: 100px;
	line-height: 40px;
	border-bottom: 1px #eaeaea solid;
	background-color: #f4f4f4;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.cp-center-top-pic {
	width: 240px;
	height: 20px;
	line-height: 20px;
	float: right;
	margin: 10px 10px 0 0;
}
.cp-center-top-pic1,
.cp-center-top-pic2,
.cp-center-top-pic3 {
	height: 22px;
	width: 75px;
	border-right: 1px #eaeaea solid;
	float: left;
}
.cp-center-top-pic1 span{
	width: 20px;
	height: 18px;
	display:inline-block;
	background: url(../images/icons2.png) -316px -5px no-repeat;
	margin: 5px 0 0 0;
	float: left;
}
.cp-center-top-pic1 div{
	width: 48px;
	height: 12px;
	line-height: 12px;
	margin: 4px 0 0 5px;
	float: left;
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	font-family: 微软雅黑;
}

.cp-center-top-pic2{
	span{
		width: 18px;
		height: 18px;
		background: url(../images/icons2.png) -355px 0 no-repeat;
		float: left;
		margin: 0 0 0 20px;
		display:inline-block;
	}
}
.cp-center-top-pic2,
.cp-center-top-pic3 {
	div{
		width: 28px;
		height: 12px;
		line-height: 12px;
		margin: 4px 0 0 5px;
		float: left;
		text-align: left;
		vertical-align: middle;
		font-size: 12px;
		font-family: 微软雅黑;
	}
}
.cp-center-top-pic3 {
	width: 60px;
	height: 20px;
	margin: 0 0 0 20px;
	float: left;
}
.cp-center-top-pic3{
	span{
		width: 16px;
		height: 16px;
		background: url(../images/icons2.png) -392px -3px no-repeat;
		float: left;
		margin: 2px 0 0 0;
	}
}


.cp-top-font-top1 {
	width: 730px;
	height: 20px;
	line-height: 20px;
	float: left;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
	font-weight: bold;
	margin: 0 0 0 30px;
}
.cp-top-font-top2 {
	width: 730px;
	height: 20px;
	line-height: 20px;
	float: left;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #999999;
	margin: 0 0 0 30px;
}
.cp-top-font-top2 div {
	width: 150px;
	height: inherit;
	float: left;
}
.cp-top-font-22 {
	margin: 0 0 0 20px;
}
.cp-center-loglist-table {
	width:650px;
	height: 105px;
	float: left;
	margin: 20px 0 0 30px;
}
.cp-center-loglist-table table {
	width: 100%;
	height: 100%;
	td{
		font-size:@font-size-base - 2;
		color:@color-gray2;
	}
}
.cp-center-30h {
	height: 28px;
	line-height: 28px;
}
.table-td-width-1 {
	width: 100px;
}
.table-td-width-2 {
	width: 50px;
}
.edit-div {
	width: 100%;
	height: 100%;
	text-align: right;
	padding: 0 20px 0 0;
	vertical-align: middle;
	font-size: 12px;
	font-family: 微软雅黑;
	margin: 0 20px 0 0;
	color: #ea5404;
	cursor: pointer;
}
.cp-center-loglist-table table tr td label {
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #666666
}

.case-fg{
	width:380px;
	float:left;
	margin:30px 0;
	li{
		.layout-relative-base;
		width:68px;
		cursor:pointer;
		height:28px;
		display:inline-block;
		text-align:center;
		line-height:28px;
		font-size:12px;
		color:@color-gray3;
		margin:0 20px 20px 0;
		border:1px solid @color-gray4;	
		span{
			.layout-absoluter-base;
			display: inline-block;
			height: 12px;
			overflow: hidden;
			width: 12px;
		}
		em{
				.layout-absolutelb-base;
				cursor:pointer;
				width:16px;
				height:12px;
				line-height:12px;
				font-size:@font-size-base - 4;
				text-align:center;
				display:none;	
				background:@color-orange1;
				color:@color-white;
		}
		&:hover{
			border:1px solid @color-gray3;	
		}
	}
	.case-fgactive{
		border:1px solid @color-orange1;
		span{
			background:url(../images/icons2.png) no-repeat -848px 0;
		}
		em{
			display:block;
		}
		&:hover{
			border:1px solid @color-orange1;
		}
	}
}	




.continue-write-logs {
	width: 100%;
	height: 90px;
	float: left;
}
.continue-write-logs-buttons {
	width: 100%;
	overflow: hidden;
	float: left;
}
.continue-write-logs-buttons input,
.continue-write-logs-buttons a{
	float:left;
	width: 100px;
	height: 30px;
	text-align:center;
	line-height:30px;
	display:block;
	background-color:@color-orange1;
	border: 0;
	cursor: pointer;
	color: #FFF;
	font-size: 14px;
	font-family: 微软雅黑;
	outline: none;
	margin: 30px 0 0 120px;
	&:hover{
		background-color:@color-orange2;
	}
}
.my-new-home {
	width: 420px;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	font-family: 微软雅黑;
	margin: 20px 0 0 20px;
	color: #666666;
	float: left;
}
.my-new-home-button {
	width: 15px;
	height: 16px;
	background: url(../images/icons.png) -750px 0 no-repeat;
	float: right;
	cursor: pointer;
}
.my-new-home-button:hover {
	background: url(../images/icons.png) -766px 0 no-repeat;
}
.my-new-home-table {
	float:left;
	width:100%;
	height: 400px;
	margin: 20px 0 0 0;
}
.my-new-home-table table {
	width:100%;
	height: 620px;
	background-color: #FFF;
	td{
		vertical-align:middle;
	}
 .my-home-style-pitch{
	  border:1px solid @color-orange2;
		.layout-relative-base;
		span{
			 .layout-absoluter-base;
			 display:inline-block;
			 overflow:hidden;
			 width:12px;
			 height:12px;
			 
			 background:url(../images/icons2.png) -848px 0 no-repeat;	
		}
  }
}
.cp-center-main_50h {
	height: 30px;
	line-height: 30px;
}
.cp-center-main_50h input {
	float: left;
}
.cp-center-main_50h input[type="text"] {
	width: 200px;
	height: 30px;
	text-indent: 5px;
	border: 1px #eaeaea solid;
	outline: none;
}
.cp-center-main_50h input[type="text"]:focus {
	border: 1px #ea5404 solid;
	outline: none;
}
.cp-center-main_50h select:focus {
	border: 1px #ea5404 solid;
	outline: none;
}
.cp-center-main_50h input[type="button"] {
	width: 100px;
	height: 30px;
	background-color: @color-orange2;
	border: 0;
	cursor: pointer;
	float: left;
	margin: 10px 0 0 0;
	color: #FFF;
	font-size: 14px;
	font-family: 微软雅黑;
	outline: none;
	&:hover{
		background: @color-orange1;		
	}
}
.my-new-home-table table tr td label {
	font-size: 12px;
	font-family: 微软雅黑;
}
#chose-style {
	font-size: 12px;
	font-family: 微软雅黑;
	height: 12px;
	line-height: 12px;
	float: right;
	margin: 3px 0 140px 0;
}
.td-right {
	text-align: right;
	width: 65px;
}
.td-right-select{
	text-align: right;
	vertical-align: top;
}
.td-right-2 {
	text-align: right;
	vertical-align: top;
	width: 65px;
}
.table-point {
	width: 16px;
	text-align: center;
	vertical-align: middle;
}
.table-input{
	height:32px;
}
.select1 {
	width: 200px;
	height: 30px;
	text-indent: 5px;
	font-size:12px;
	color:@color-gray2;
	border: 1px #eaeaea solid;
	outline: none;
}
.select2 {
	width: 80px;
	height: 30px;
	text-indent: 5px;
	font-size:12px;
	color:@color-gray2;
	border: 1px #eaeaea solid;
	outline: none;
	float: left;
	margin: 5px 0 0 0;
}
.select3 {
	width: 230px;
	height: 30px;
	font-size:12px;
	color:@color-gray2;
	text-indent: 5px;
	border: 1px #eaeaea solid;
	outline: none;
}
.font-type-3 {
	height: 32px;
	line-height: 32px;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #666666;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	width: 20px;
}
.my-home-style {
	width: 300px;
	height: 100%;
}
.my-home-style-top {
	width: 300px;
	height: 20px;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #666666;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	float: left
}
.my-home-style-divs {
	width: 300px;
	height: 90px;
	color:@color-gray2;
}
.my-home-style-divs div {
	width: 60px;
	height: 25px;
	line-height: 25px;
	float: left;
	margin: 10px 10px 0 0;
	padding: 0;
	font-family: 微软雅黑;
	font-size: 12px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border: 1px #e6e6e6 solid;
	overflow: hidden;
	position:relative;
	cursor:pointer;
}
.table-tr-last{
	display:inline-block;
	font-size:12px;
	margin:0 0 30px 0;
}
.renovation-company {
	width: 100px;
	height: 20px;
	line-height: 20px;
	font-family: 微软雅黑;
	font-size: 12px;
	color:@color-gray2;
	float: left;
	margin:12px 10px 0 0;
	text-align: center;
}
.renovation-company-2 {
	height:35px;
	display:block;
	line-height:50px;
	margin: 7px 0 0 0;
	input{
		font-size:12px;
		color:@color-gray2;
		margin:5px 0 0 0;
	}
	>.renovation-company-text{
		height:5px;
		margin:14px 0 0 0;
	}
}
.publish-diary{
	width:100%;
	background:pink;
	>div{
		width:398px;
		margin:40px 0 0 0;
		float:left;
		padding:0 20px;
		span{
			display:inline-block;
			width:188px;
			height:153px;
			margin:20px 0 0 0;
			background:url(./../images/icons2.png) no-repeat -8px -92px;
		}		
		h4{
			font-size:18px;
			line-height:36px;
			color:@color-gray1;	
			font-weight:800;
		}
		p{
			font-size:12px;
			line-height:18px;
			color:@color-gray3;
			margin:10px 0 0 0;
		}
		a{
			display:inline-block;
			width:190px;
			height:40px;
			text-align:center;
			line-height:40px;
			font-size:14px;
			color:#fff;
			margin:60px 0 0 0;
			background:@color-orange2;
			&:hover{
				background:@color-orange1;		
			}		
		}
	}
	>div:first-child{
		text-align:right;		
	}
}

//装修日记---写日记

.main-content-listbox{
	width: 940px;
	margin:0 auto;
	.list-ct-top{
			width:100%;
			display:inline-block;
			font-size:16px;
			color:@color-gray2;
			line-height:40px;
			margin:10px 0 20px 0;			
			border-bottom:dashed 1px @color-gray5;
	}
	.list-ct-box{
			width:100%;
			margin:5px 0 0 0;
			float:left;
			.list-ct-left{
				width:540px;
				float:left;	
				>textarea{
					width:478px;
					height:328px;
					border:1px solid @color-gray4;	
					padding:10px;
					&:focus{
						border:1px solid @color-orange1;	
					}
				}
			}		
			.list-ct-right{
				width:390px;
				float:right;	
				font-size:12px;
				color:@color-gray3;	
				p{
						width:100%;
						line-height:24px;
						b{
							font-size:14px;
							color:@color-gray2;	
							margin:0 4px 0 0;
							font-weight:600;
						}		
					}
				.ct-right-1{
					width:100%;			
				}
				.ct-right-2{
					width:100%;
					margin:40px 0 0 0;
				}
				.ct-right-tag1{
					width:100%;
					>span{
						display:inline-block;
						width:40px;
						height:40px;
						line-height:40px;
						text-align:center;
						.border-radius-base(50%);	
						background:@color-gray5;
						margin:20px 5px 0 0;
						cursor:pointer;
						&:hover{
								color:@color-gray1;
								background:@color-gray4;
						}
					}
					.list-tag1active{
						background:@color-orange1;		
						color:@color-white;
						&:hover{
								color:@color-white;
								background:@color-orange1;	
						}
					}
				}
				.ct-right-tag2,
				.themelabel-wrap{
					>span{
						display:inline-block;
						padding:0 10px;
						color:@color-gray2;
						font-size:@font-size-base - 2;
						min-height:28px;
						line-height:28px;
						text-align:center;
						margin:10px 5px 0 0;				
						border:1px solid @color-gray5;
						cursor:pointer;
						&:hover{
							border:1px solid @color-gray4;
						}
					}		
					.list-tag2active{
						color:@color-orange1;
						border:1px solid @color-orange1;	
						&:hover{
							border:1px solid @color-orange1;	
						}	
					}
				}
				.themelabel-more{
					.layout-relative-base;
					float:right;
					cursor:pointer;
					width:50px;
					margin:50px 0 0 0;
					height:20px;
					font-size:14px;
					line-height:20px;
					display:block;
					color:@color-gray3;	
					>span{
						display:inline-block;
						width:12px;
						height:12px;
						vertical-align:bottom;
						margin:0 0 0 2px;
						background:url(./../images/icons2.png) no-repeat -914px 0;	
					}	
					&:hover{
						color:@color-orange1;
						>span{
							background:url(./../images/icons2.png) no-repeat -902px 0;			
						}
						.themelabel-wrap{
							color:@color-gray2;
							display:block;
						}
					}
				}
				.themelabel-wrap{
						.layout-absoluter-base(0,-300px,50);
						width:390px;
						padding:10px;
						border:1px dashed @color-gray5;
						background:@color-white;
						min-height:350px;
						display:none;
				}
			}
	}
	.list-ct-choicedata{
		width:100%;
		>p{
			line-height:40px;
			font-size:14px;
			color:@color-gray3;
			margin:5px 0 0 0;
			>b{
				font-size:16px;
				color:@color-gray1;
				font-weight:normal;	
				margin:0 20px 0 0;	
			}		
		}
		>input{
			width:142px;
			height:28px;
			border:1px solid @color-gray4;
			padding:0 0 0 10px;
			margin:20px 0 0 0;
		}
		.list-file-img{
			width:120px;
			height:120px;
			border:1px solid @color-gray4;	
			position:relative;
			cursor:pointer;
			background:@color-gray7;
			z-index:1;	
			margin:30px 0 0 0;
			>div{
				width:120px;
				height:120px;
				text-align:center;
				font-size:14px;
				color:@color-gray3;
				position:absolute;
				z-index:10;
				>span{
					display:block;
					width:63px;
					height:63px;	
					background:url(./../images/icons2.png) no-repeat -586px -32px;	
					margin:10px 0 10px 34px;
				}	
			}
			>input{
				display:block;
				width:120px;
				height:120px;
				position:absolute;
				z-index:100;
				border:none;
				opacity:0;
			}
			.list-imgshow{
					.layout-absoluter-base(-650px,5px);
					width:600px;
					height:200px;
					img{
						max-width:100px;
						max-height:100px;
						float:left;
					}
			}
		}
		>button{
			width:120px;
			height:30px;
			background:@color-orange2;
			border:none;	
			font-size:14px;
			color:#fff;
			margin:50px 0 0 0;
			&:hover{
				background:@color-orange1;		
			}
		}
	}
}







 //-----newrenovation.css----发布装修需求------  @charset "utf-8";
/* CSS Document */
table {
	border-collapse: collapse;
	border-spacing: 0
}
input:focus, select:focus, textarea:focus {
	border: 1px #ea5404 solid;
	outline: none;
}
.nrv-cp-top {
	width: 800px;
	height: 115px;
	display: block;
	background: #F4F5F4;
	margin: 0 0 50px 0;
}
.nrv-top-topfont {
	width: 800px;
	line-height: 30px;
	text-align: left;
	font-family: 微软雅黑;
	font-size: 16px;
	color: #ea5404;
	padding: 0 0 0 15px;
}
div.cp-top-box {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	height: 70px;
	float: left;
	padding: 5px 0 0 15px;
}
.cp-top-box p {
	line-height: 24px;
	font-family: 微软雅黑;
	font-size: 12px;
	color:@color-gray2;
}
.nrv-cp-center {
	width: 798px;
	display: block;
	overflow: hidden;
	border: 1px @color-gray5 solid;
}
.cp-center-top {
	width: 770px;
	height: 50px;
	line-height: 50px;
	display: block;
	margin: 0 0 0 15px;
	border-bottom: 1px #eaeaea dashed;
	font-size: 14px;
	font-family: 微软雅黑;
	font-weight: bolder;
}
.nrv-cp-center-main {
	width: 770px;
	overflow: hidden;
	margin: 20px 0 0 15px;
	float: left;
}
.nrv-cp-center-main table {
	margin: 0 0 0 30px;
	height: 100%;
}
.nrv-cp-center-main table tr {
	font-family: 微软雅黑;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	color: #666666;
	td{
		vertical-align:middle;
	}
}
.cp-center-main_50h {
	height: 50px;
	line-height: 50px;
}
.cp-center-main_100h {
	height: 100px;
}
.cp-center-main table tr td lable {
	width: 100px;
}
.nrv-cp-center-main table tr td>div {
	width: 660px;
	display: block;
	float: left;
	margin: 0 0 0 5px;
}
.table-point {
	width: 16px;
	text-align: center;
	vertical-align: middle;
}
.renovation_type span {
	margin: 0 0 2px 0;
	vertical-align: top;
	height: 20px;
}
.input-type-1 {
	width: 100px;
	height: 28px;
	float: left;
	outline: none;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #666666;
	text-indent: 5px;
	border: 1px #eeeeee solid;
}
.input-type-2 {
	width: 230px;
	height: 28px;
	float: left;
	outline: none;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #666666;
	text-indent: 5px;
	border: 1px #eeeeee solid;
	vertical-align:middle;
}
.input-type-3 {
	width: 338px;
	height: 100px;
	float: left;
	outline: none;
	border: 1px #eeeeee solid;
}
.font-type-1, .font-type-2, .font-type-3, .font-type-4 {
	height: 32px;
	line-height: 32px;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #666666;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
.font-type-1 {
	width: 35px;
}
.font-type-2 {
	width: 50px;
}
.font-type-3 {
	width: 20px;
}
.font-type-4 {
	width: 260px;
	height: 32px;
	line-height: 32px;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #999999;
	float: left;
	text-align: left;
	vertical-align: middle;
	padding: 0;
	margin: 0 0 0 10px;
}
.cp-center-bottom {
	width: 770px;
	overflow: hidden;
	margin: 0 0 35px 0;
}
.cp-center-bottom input {
	border: 0;
	width: 120px;
	height: 30px;
	background-color: @color-orange2;
	border: 0;
	cursor: pointer;
	float: left;
	margin: 20px 0 0 180px;
	color: #FFF;
	font-size: 14px;
	font-family: 微软雅黑;
	text-align: center;
	&:hover{
		background:@color-orange1;		
	}
}
.home-undemand-ct{
	overflow:hidden;
	>div{
			float:left;
			width:398px;
			text-align:center;
			padding:0 0 50px 0;
			>p{
				width:290px;
				line-height:20px;
				font-size:12px;
				text-align:left;
				color:@color-gray3;			
			}
			>a{
				display:inline-block;
				width:185px;
				height:40px;
				line-height:40px;
				font-size:14px;
				color:#fff;
				background:@color-orange2;
				margin:40px 0 0 0; 
				&:hover{
					background:@color-orange1;		
				}
			}
	}
}










 //-----nologs.css----  
.cp-center-leftbox {
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:100%;
	width:305px;
	float:left;
	padding:0 0 0 15px;
	overflow:hidden;
	background:url(../images/icons2.png) 100px -85px no-repeat;
}
.cp-center-rightbox {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	width: 305px;
	float: left;
	overflow: hidden;
}
.cp-rbox-font, .cp-rbox-ltfont {
	width: 290px;
}
.cp-rbox-font p {
	font-family: 微软雅黑;
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	color: #333333;
	font-weight: bold
}
.cp-rbox-ltfont p {
	font-family: 微软雅黑;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	color: #999999;
}
.cp-rbox-button input {
	width: 140px;
	height: 30px;
	font-family: 微软雅黑;
	font-size: 14px;
	background-color: #ea5404;
	border: 0;
	cursor: pointer;
	float: left;
	color: #FFF;
	margin: 30px 0 0 0;
	text-align: center;
	vertical-align: middle;
	outline: none;
}
 //----rights.css----快速维权管理-----  
div {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.right-cp-top {
	width: 790px;
	hegiht: 140px;
	overflow: hidden;
	padding: 10px 0 0 10px;
	background: #F4F5F4;
 .cp-top-topfont {
 height:36px;
 font-size:14px;
 line-height:36px;
 color:@color-gray2;
}
.cp-top-note {
	width: 100%;
	overflow: hidden;
 >p {
 line-height:22px;
 font-size:12px;
 color:@color-gray2;
}
}
}
.cp-top-topfont {
	width: 320px;
	height: 16px;
	text-align: left;
	font-family: 微软雅黑;
	font-size: 16px;
	color: #666666;
	padding: 5px 0 0 15px;
}
.cp-top-note {
	height: 130px;
	float: left;
	padding: 0 0 0 15px;
}
.cp-top-note p {
	line-height: 12px;
	font-family: 微软雅黑;
	font-size: 12px;
}
.cp-center-no {
	width: 100%;
	height: 215px;
	margin: 50px 0 0 0;
}
.cp-center-leftbox-no {
	height: 170px;
	width: 180px;
	float: left;
	margin: 0 30px 0 100px;
	overflow: hidden;
	background: url(../images/icons2.png) 0 -90px;
	;
}
.cp-rbox-button-no {
	padding: 50px 0 0 0;
	font-family: 微软雅黑;
  >p{
	 font-size:18px;
	 font-weight:bold;
	 line-height:36px;
	 color:@color-gray1;
 }
 >input,
 >a{
	 width:140px;
	 height:30px;
	 line-height:30px;
	 text-align:center;
	 font-size:14px;
	 background-color:@color-orange2;
	 border:0;
	 cursor:pointer;
	 float:left;
	 color:#FFF;
	 outline:none;
	 margin:30px 0 0 0;
	 &:hover{
			background:@color-orange1;	 
		}
	}
}
.cp-center-succ {
	width: 100%;
	height: 50px;
	margin: 50px 0 0 175px;
}
.cp-succ-img {
	width: 34px;
	height: 34px;
	background: url(../images/icons2.png) no-repeat;
	background-position: -438px 0px;
	margin: 8px 0 0 0;
	float: left;
}
.cp-succ-font {
	width: 390px;
	height: 50px;
	float: left;
	margin: 0 0 0 15px;
}
.cp-succ-font p {
	font-family: 微软雅黑;
	font-weight: bold;
	font-size: 16px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	padding: 0;
}
.cp-succ-font p span {
	color: #35ac72
}
.cp-apply-rights {
	width: 100%;
	height: 600px;
	display: block;
	border: 1px #eaeaea solid;
	margin: 50px 0 0 0;
}
.cp-apply-top {
	width: 770px;
	height: 50px;
	line-height: 50px;
	display: block;
	margin: 0 0 0 15px;
	border-bottom: 1px #eaeaea dashed;
	font-size: 14px;
	font-family: 微软雅黑;
	font-weight: bolder;
}
.cp-apply-main {
	width: 770px;
	height: 360px;
	margin: 20px 0 0 15px;
	float: left;
}
.cp-apply-main table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
}
.cp-apply-main table tr {
	font-family: 微软雅黑;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	color: #666666;
	td{
		vertical-align:middle;
	}
}
.cp-apply-main_50h {
	line-height: 50px;
}
.cp-apply-main_100h .cp-apply-main table tr td lable {
	width: 100px;
}
.cp-apply-main table tr td>div {
	width: 660px;
	display: block;
	float: left;
	margin: 0 0 0 5px;
}
.input-type-2 {
	width: 260px;
	height: 28px;
	float: left;
	outline: none;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #666666;
	text-indent: 5px;
	border: 1px #eeeeee solid;
}
.input-type-3 {
	width: 338px;
	height: 100px;
	float: left;
	outline: none;
	border: 1px #eeeeee solid;
}
.cp-appy-bottom-div {
	width: 340px;
	height: 40px;
	background-color: #f4f4f4;
	text-align: left;
	vertical-align: middle;
	.fileupload{
		float:left;
		width:120px;
		height:100%;
		cursor:pointer;
		div{
			height:24px;
			width:103px;
			overflow:hidden;
			margin:8px auto 0 auto;
			background:url(../images/icons2.png) no-repeat -740px 0;
		}
	}
	.thumbnail-img{
		float:left;
		width:200px;
		height:100%;
		overflow:hidden;
		img{
			float:left;
			width:30px;
			height:30px;
			margin:5px 2px 0 0;
		}	
	}
}
.cp-apply-bottom{
	width:100%;
	margin:20px 0 50px 0;
	float:left;
	button{
		width:100px;
		height:30px;
		line-height:30px;
		text-align:center;
		font-size:@font-size-base - 2;
		color:@color-white;
		float:left;
		margin:0 0 0 120px;
		background:@color-orange1;
	}
}
#sub_rights_22 {
	width: 100px;
	height: 30px;
	float: left;
	margin: 0 0 0 120px;
	background-color: #ea5404;
	border: 0;
	cursor: pointer;
	color: #FFF;
	font-size: 14px;
	font-family: 微软雅黑;
	outline: none;
}

.cp-center-succeed{
	width:450px;
	overflow:hidden;
	margin:0 auto;
  span{
		display:inline-block;
		width:35px;
		height:35px;
		
		background:url(./../images/icons2.png) no-repeat -438px 0;		
	}
	p{
		display:inline-block;
		width:390px;	
		line-height:24px;
		font-size:18px;
		color:@color-gray1;
		font-weight:bold;
		margin:0 0 0 6px;
	}
	i{
		color:#35AC72;	
	}
}









 //-----psdata.css----个人资料------  

div {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp-center {
	width: 698px;
	display: block;
	padding: 0 10px;
}
.cp-center-top-font {
	width: inherit;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0 0 0 10px;
	vertical-align: middle;
}
.cp-center-top-table {
	width: inherit;
	overflow:hidden;
}
.psdata-file{
	width:107px;
	height:28px;
	margin:10px 0 0 18px;
	position:relative;
	z-index:1;
	>p{
		width:107px;
		height:28px;
		cursor:pointer;	
		float:lelt;
	}
}
.cp-center-top-font-1,
.cp-center-top-font-2 {
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	font-family: 微软雅黑;
	color: #666666;
	float: left;
}
.cp-center-top-font-1 {
	width: 90px;
	margin: 18px 0 0 10px;
}
.cp-center-top-font-2 {
	width: 180px;
	margin: 18px 0 0 5px;
}
.cp-center-top-process {
	width: 215px;
	height: 15px;
	line-height: 15px;
	background:@color-gray5;
	float:left;
	margin: 18px 0 0 5px;
	div{
		width:0;
		height:100%;
		background:@color-orange2;
		text-align:center;
		font-size:@font-size-base - 2;
		color:@color-white;
		.text-of;
	}
}

.cp-center-top-table table {
	width: 100%;
	height: 400px;
	background-color: #FFF;
}
.cp-center-50h {
	height: 50px;
	line-height: 50px;
}
.cp-center-80h {
	height: 80px;
	line-height: 80px;
}
.cp-center-50h input[type="text"] {
	width: 230px;
	height: 30px;
	text-indent: 5px;
	border: 1px #eaeaea solid;
	outline: none;
}
.cp-center-50h input[type="text"]:focus {
	border: 1px #ea5404 solid;
	outline: none;
}
.select2 {
	width: 100px;
	height: 30px;
	text-indent: 5px;
	border: 1px #eaeaea solid;
	outline: none;
	float: left;
	margin: 5px 0 0 0;
}
.cp-center-80h>div {
	width: inherit;
	height: 35px;
}
.cp-center-80h>div input {
	width: 230px;
	height: 30px;
	text-indent: 5px;
	border: 1px #eaeaea solid;
	outline: none;
	float: left;
	margin: 5px 0 0 0;
}
.font-type-3 {
	height: 32px;
	line-height: 32px;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #666666;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	width: 20px;
}
.table-point {
	width: 16px;
	text-align: center;
	vertical-align: middle;
}
.cp-center-top-label {
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666
}
.cp-center-bottom-top {
	height: 50px;
	width: inherit;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}
.cp-cenetr-bottom-font {
	width: 220px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #999999;
	margin: 16px 0 0 65px;
	float: left;
}
.cp-center-bottom-div {
	width: 760px;
	height: 300px;
}
.img-resize-control{
	.user-select-base;
	border:1px dashed @color-gray5 ;
	cursor:pointer;
	>span{
		.layout-absoluterb-base(0,5px);
		width:20px;
		height:20px;
		display:none;
		text-align:center;
		line-height:16px;
		cursor:pointer;
		color:@color-white;
		font-size:@font-size-base + 4;
		border:1px solid @color-white;
		&:first-child{
			right:40px;
		}
		&:first-child+span{
			right:5px;
		}
		&:hover{
				color:@color-orange1;
		}
	}
	&:hover{
			border:1px dashed @color-white;
			background:rgba(255,255,255,.2);
			>span{
				display:block;
			}
	}
}
.bottom-left {
	.layout-relative-base;
	width: 300px;
	height: 300px;
	background:@color-gray7;
	float: left;
	overflow:hidden;
	>img{
		.layout-absolutel-base;
		max-width:300px;
		max-height:300px;
	}
	>div{
		.layout-absolutel-base(70px,70px);
		width: 160px;
		height: 160px;
	}
}
.bottom-center {
	height: 280px;
	width: 260px;
	border-left: 2px #eeeeee solid;
	float: left;
	margin: 10px 0 0 40px;
}
.bottom-center-inner-top {
	width: 200px;
	margin: 0 0 0 40px;
	height: 30px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #ea5404
}
.bottom-center-inner-1 {
	.layout-relative-base;
	width: 200px;
	height: 200px;
	margin: 20px 0 0 40px;
	overflow:hidden;
	background:@color-gray7;
	>img{
		.layout-absolutel-base;
		max-width:200px;
		max-height:200px;
	}
	>div{
		.layout-absolutel-base(47px,47px);
		width: 105px;
		height: 105px;
	}
}
.bottom-center-inner-bottom {
	width: 200px;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #999999;
	text-align: center;
	vertical-align: middle;
	margin: 10px 0 0 40px;
}
.bottom-right {
	width: 90px;
	height: 280px;
	float: left;
	margin: 10px 0 0 20px;
}
.bottom-right-inner-1 {
	.layout-relative-base;
	width: 60px;
	height: 60px;
	background:@color-gray7;
	margin: 45px 0 0 15px;
	overflow:hidden;
	>img{
		.layout-absolutel-base;
		max-width:60px;
		max-height:60px;
	}
	>div{
		.layout-absolutel-base(15px,15px);
		width: 30px;
		height: 30px;
	}
}
.bottom-right-inner1-font {
	width: 80px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #999999;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 0 0 0 5px;
}
.bottom-right-inner-2 {
	.layout-relative-base;
	width: 30px;
	height: 30px;
	background-color: #eeeeee;
	margin: 40px 0 0 30px;
	float: left;
	overflow:hidden;
	>img{
		.layout-absolutel-base;
		max-width:30px;
		max-height:30px;
	}
	>div{
		.layout-absolutel-base(7.5px,7.5px);
		width:15px;
		height:15px;
	}
}
.bottom-button {
	width: inherit;
	height: 80px;
	float: left
}
.bottom-button input {
	width: 100px;
	height: 30px;
	color: #FFF;
	font-size: 14px;
	font-family: 微软雅黑;
	outline: none;
	border: 0;
	background-color: @color-orange2;
	text-align: center;
	vertical-align: middle;
	margin: 50px 0 0 100px;
	&:hover{
		background:@color-orange1;		
	}
}
.cp-center-div {
	height: 120px;
	width: 680px;
	border-bottom: dashed 1px #eee;
}
.cp-center-div-mail {
	height: 30px;
	width: inherit;
	margin: 40px 0 0 0;
}
.cp-center-div-phone {
	height: 50px;
	width: inherit;
	margin: 20px 0 0 0;
}
.cp-mail-pic {
	width: 45px;
	height: 30px;
	background: url(../images/icons2.png) -314px -62px;
	float: left;
	margin: 0 0 0 50px;
}
.cp-center-font {
	width: 320px;
	height: 30px;
	margin: 0 0 0 35px;
	float: left;
	text-align: left;
	vertical-align: middle;
}
.cp-center-font-top {
	width: inherit;
	height: 15px;
	line-height: 15px;
	font-size: 14px;
	font-family: 微软雅黑;
	text-align: left;
	vertical-align: middle;
	color: #666666
}
.cp-center-font-bottom {
	width: inherit;
	height: 15px;
	line-height: 15px;
	font-size: 14px;
	font-family: 微软雅黑;
	text-align: left;
	vertical-align: middle;
	color: #999999
}
.cp-mailright-div {
	width: 135px;
	height: 30px;
	float: right;
}
.cp-mailright-div input {
	width: 100px;
	height: 30px;
	background-color: @color-orange2;
	border: 0;
	cursor: pointer;
	float: left;
	color: #FFF;
	font-size: 14px;
	font-family: 微软雅黑;
	outline: none;
	&:hover{
		background:@color-orange1;		
	}
}
.cp-phone-pic {
	width: 30px;
	height: 50px;
	background: url(../images/icons2.png) -378px -52px;
	float: left;
	margin: 0 0 0 55px;
}
.cp-phone-martop {
	margin: 10px 0 0 45px;
}
.cp-phone-martop2 {
	margin: 10px 0 0 0
}
.cp-center-div-weixinqq {
	width: inherit;
	height: 40px;
	margin: 40px 0 0 0;
}
.cp-center-weixinqq-font {
	width: 155px;
	height: 40px;
	line-height: 40px;
	margin: 0 0 0 40px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	float: left
}
.cp-center-weixinqq-pic {
	width: 50px;
	height: 40px;
	float: left;
	margin: 0 0 0 45px;
}
.cp-center-qq-pic, .cp-center-weixin-pic {
	width: 25px;
	height: 25px;
	display:inline-block;
	margin: 0 0 0 12px;
}
.cp-center-qq-pic {
	background:url(../images/icons2.png) -438px -71px;
}
.cp-center-weixin-pic {
  background:url(../images/icons2.png) -487px -71px;
}
.cp-center-weixinqq-font2 {
	width: 50px;
	height: 15px;
	font-size: 12px;
	font-family: 微软雅黑;
	text-align: center;
	vertical-align: middle;
	color: #ea5404;
	float:right;
}
 //-----published.css---已发布装修需求-----  
div {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.published-cp-top {
	width: 770px;
	height: 50px;
	line-height: 50px;
	margin: 0 0 20px 10px;
	border-bottom: 1px #eaeaea dashed;
	font-size: 14px;
	font-family: 微软雅黑;
	font-weight: bolder;
}
.published-cp-top>.cp-top-continue-publish {
	height: 12px;
	line-height: 12px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #ea5404;
	float: right;
	margin: 30px 0 0 0;
	cursor: pointer;
}
.cp-center-published {
	width: 780px;
	overflow: hidden;
	margin: 0 auto;
}
.cp-center-published-div {
	width: 768px;
	height: 270px;
	border: 1px #eaeaea solid;
	margin:10px 0 0 0;
}
.cp-center-published-top {
	width: 766px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px #eaeaea solid;
	background-color: #f4f4f4;
	text-align: center;
	padding: 0 20px;
}
.cp-center-top-font--published>div {
	overflow: hidden;
	height: 40px;
	float: left;
	font-size: 12px;
 color:@color-gray2;
	margin: 0 56px 0 0;
}
.cp-center-top-font--published>div:last-child {
	margin: 0;
}
.cp-center-published-table {
	width: inherit;
	height: 170px;
	float: left;
	margin: 20px 0 0 0;
}
.cp-center-published-table table {
	width: 100%;
	height: 100%;
}
.cp-center-30h {
	height: 28px;
	line-height: 28px;
}
.table-td-width-1 {
	width: 100px;
}
.table-td-width-2 {
	width: 150px;
}
.cp-center-published-table table tr td label {
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #666666
}




.zxb-menu-box {
	float: left;
	width: 162px;
	height: auto;
	margin-bottom: 40px
}
.zxb-title {
	width: 159px;
	height: 60px;
	font-size: 16px;
	font-weight: normal;
	line-height: 60px;
	text-align: center;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	border-left: 2px solid #ea5404;
	background: #f8f8f8;
	margin: 0
}
.zxb-title a {
	color: #333
}
.zxb-title-on {
	border-top: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
	border-left: 2px solid #01af63;
	background-color: #f8f8f8
}
.zxb-title-on a {
	color: #01af63
}
.zxb-menu {
	width: 160px;
	height: auto;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee
}
.zxb-menu a:hover {
	color: #ea5404
}
.zxb-menu li {
	line-height: 25px;
	text-indent: 15px
}
.parent-menu {
	position: relative;
	padding: 10px 0;
	border-bottom: 1px dashed #eee
}
.parent-menu a {
	display: block;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #333
}
.pm-icon-open {
	background: url(../images/icons2.png) -689px -1px
}
.pm-icon-close {
	background: url(../images/icons2.png) -703px -1px
}
.child-menu {
	width: 100%;
	font-size: 12px
}
.child-menu a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 12px;
	color: #666
}
.child-menu li {
	height: 30px;
	line-height: 30px;
	text-indent: 31px;
	border-left: 2px #FFF solid
}
.child-menu-on {
	border-left: 2px solid #ea5404!important;
	background: #f8f8f8
}
.sprite-img1 {
	width: 12px;
	height: 12px;
	display: inline-block
}
.child-menu-on a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color: #ea5404
}



